<template>
  <div>
    <q-item class="q-mb-md q-px-none">
      <q-item-section side>
        <q-avatar>
          <img
            src="/images/logo/fast-farmer-app.svg"
            width="24px"
            height="24px"
          >
        </q-avatar>
      </q-item-section>
      <q-item-section>
        <q-item-label>{{ title }}</q-item-label>
        <q-item-label class="text-grey-8">
          {{ sendByName }}
        </q-item-label>
        <q-item-label caption>
          {{ displayDateTime(this.sentAt) }}
        </q-item-label>
      </q-item-section>
    </q-item>

    <q-separator
      v-if="hasChatMessages"
      class="q-my-md"
    />

    <ChatMessage
      v-if="text"
      :text="text"
      :created-at="sentAt"
      :name="sendByName"
      :username="sendByUsername"
      bg-color="primary"
      text-color="white"
    />

    <div class="text-caption text-grey-8 q-pt-lg q-pb-sm">
      <translate>You cannot reply to this message as this is an announcement to all users.</translate>
      <br>
      <translate>To contact the Paying Agency, you may:</translate>&nbsp;<a
        @click="$router.push({name:'messageCreation'})"
      >
        <translate>write a new request</translate>
      </a>
      <span>.</span>
    </div>
  </div>
</template>

<script>
import { DateMixin } from 'src/mixins/DateMixin'
import ChatMessage from 'src/pages/messaging/components/ChatMessage'
import mutationInsertBroadcastUserReadStatus from '../graphql/mutationInsertBroadcastUserReadStatus.gql'

export default {
  name: 'BroadcastDetails',
  mixins: [
    DateMixin
  ],
  components: {
    ChatMessage
  },
  props: {
    id: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    body: {
      type: String,
      default: null
    },
    sentBy: {
      type: Object,
      required: true
    },
    sentAt: {
      type: String,
      required: true
    },
    readStatus: {
      type: Array,
      default: null
    }
  },
  computed: {
    language () {
      return this.$store.state.fastplatform.preferredLanguage
    },
    text () {
      return this.body ? [this.body] : null
    },
    sendByName () {
      return this.sentBy?.name || this.sentBy?.username
    },
    sendByUsername () {
      return this.sentBy?.username
    },
    markedAsRead () {
      return this.readStatus?.[0]?.readAt
    },
    hasChatMessages () {
      return this.text
    }
  },
  methods: {
    markAsRead () {
      const readStatus = this.readStatus?.[0]
      this.$apollo.mutate({
        mutation: mutationInsertBroadcastUserReadStatus,
        variables: {
          broadcast_id: this.id,
          read_status_id: readStatus?.id || -1
        }
      })
    }
  },
  mounted () {
    this.markAsRead()
  }
}
</script>
