<template>
  <q-item
    clickable
    v-ripple
    @click="$emit('click')"
    class="q-px-md"
  >
    <div class="full-width">
      <div class="row items-center message-list-item-row">
        <div class="col">
          <q-item-label
            lines="1"
            class="text-primary"
          >
            <i class="las la-bullhorn item-title-icon" />
            <span>{{ title }}</span>
          </q-item-label>
        </div>
        <div class="col-2 row justify-end content-center">
          <q-item-label
            caption
            class="messsage-list-item-date"
          >
            {{ displayHourIfTodayElseDate(sentAt, language) }}
          </q-item-label>
        </div>
      </div>
      <div class="row items-center message-list-item-row">
        <div class="col-10">
          <q-item-label
            lines="1"
            class="text-grey-8"
          >
            {{ bodyDisplay }}
          </q-item-label>
        </div>
        <div class="col-2 row justify-end">
          <q-item-label>
            <q-badge
              v-if="unreadCount > 0"
              color="red"
              text-color="white"
              :label="unreadCount"
              align="bottom"
              class="q-ml-sm"
            />
          </q-item-label>
        </div>
      </div>
    </div>
  </q-item>
</template>

<script>
import { DateMixin } from 'src/mixins/DateMixin'

export default {
  name: 'BroadcastListItem',
  mixins: [
    DateMixin
  ],
  props: {
    title: {
      type: String,
      required: true
    },
    body: {
      type: String,
      default: null
    },
    sentBy: {
      type: Object,
      required: true
    },
    sentAt: {
      type: String,
      required: true
    },
    readStatus: {
      type: Array,
      default: null
    }
  },
  emits: ['click'],
  computed: {
    language () {
      return this.$store.state.fastplatform.preferredLanguage
    },
    bodyAuthor () {
      if (this.sentBy.username === this.$store.state.fastplatform.user.username) {
        return this.$gettext('You')
      } else {
        return this.sentBy.name || this.sentBy.username
      }
    },
    bodyDisplay () {
      const body = this.body
      let bodyDisplay = body
      if (body && body.split) {
        const bodyParts = body.split('\n')
        if (bodyParts.length) {
          bodyDisplay = bodyParts[0]
        }
      }

      // display last body message author if different than current user
      if (bodyDisplay) {
        return this.bodyAuthor + ': ' + bodyDisplay
      } else {
        return this.bodyAuthor
      }
    },
    unreadCount () {
      return this.readStatus?.[0]?.readAt ? 0 : 1
    }
  }
}
</script>

<style scoped>
.message-list-item-row {
  height: 20px
}
.item-title-icon {
  font-size: 17px;
  vertical-align: bottom;
  margin-right: 5px;
}
.messsage-list-item-date {
  text-align: right;
}
</style>
