<template>
  <q-chat-message
    v-if="isPhoto"
    :name="displayName"
    :stamp="displayFromNow(createdAt)"
    :sent="sent"
    :bg-color="bgColor"
    :text-color="textColor"
    class="chat-message"
  >
    <div
      @click="onClickPhoto"
      v-if="photo"
    >
      <MediaImage
        :img-relative-path="photo.thumbnail"
        class="flex flex-center cursor-pointer"
        :style="`width: ${photo.thumbnailWidth}px, height: 'auto'`"
      />
    </div>
    <div v-else>
      <q-icon
        name="la la-camera"
        class="q-pr-xs"
        style="margin-top: -2px"
      />
      <translate>This photo was deleted</translate>
    </div>
  </q-chat-message>

  <q-chat-message
    v-else
    :name="displayName"
    :text="text"
    :stamp="displayFromNow(createdAt)"
    :sent="sent"
    :bg-color="bgColor"
    :text-color="textColor"
    class="chat-message"
  />
</template>

<script>
import { DateMixin } from 'src/mixins/DateMixin'
import MessagePhotoMixin from 'src/pages/messaging/mixins/MessagePhotoMixin'
import MediaImage from 'src/components/MediaImage'

export default {
  name: 'ChatMessage',
  mixins: [
    DateMixin,
    MessagePhotoMixin
  ],
  components: {
    MediaImage
  },
  props: {
    text: {
      type: Array,
      required: true
    },
    photo: {
      type: Object,
      default: null
    },
    createdAt: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    username: {
      type: String,
      required: true
    },
    bgColor: {
      type: String,
      default: 'grey-3'
    },
    textColor: {
      type: String,
      default: ''
    },
    hideName: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      minutesEllapsed: 0
    }
  },
  computed: {
    language () {
      return this.$store.state.fastplatform.preferredLanguage
    },
    sent () {
      return this.$store.state.fastplatform.user.username === this.username
    },
    displayName () {
      return this.sent || this.hideName ? '' : this.name
    },
    isPhoto () {
      const messageText = this.text?.[0]
      return this.isMessagePhoto(messageText)
    }
  },
  mounted () {
    // this forces to rerender chat message stamp
    this.stampRefreshInterval = setInterval(() => {
      this.minutesEllapsed++
    }, 60000)
  },
  beforeUnmount () {
    clearInterval(this.stampRefreshInterval)
  },
  methods: {
    onClickPhoto () {
      this.$router.push({ name: 'photo', params: { idPhoto: this.photo.id } })
    }
  }
}
</script>

<style scoped>
.chat-message :deep(.q-message-text-content > div) {
  white-space: pre-wrap;
}
.chat-message :deep(.q-message-name) {
  color: #616161;
  padding-bottom: 2px;
}
</style>
