<template>
  <div
    v-if="loading"
    class="row justify-center full-width"
  >
    <q-spinner-dots
      size="40px"
      color="primary"
    />
  </div>
  <q-list
    separator
    v-else
  >
    <q-item-label
      header
      v-if="!photos || !photos.length"
    >
      <translate>No photo available</translate>
    </q-item-label>
    <template
      v-for="photo in photos"
      :key="photo.id"
    >
      <q-item
        @click="onClickPhoto(photo)"
        clickable
        v-ripple
      >
        <q-item-section
          avatar
          :style="{width: `60px`}"
          class="flex-center q-mr-md q-pr-none bg-grey-2"
        >
          <MediaImage
            :img-relative-path="photo.thumbnail"
            class="flex flex-center"
            :style="`width: ${photo.thumbnailWidth}px, height: 'auto'`"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>
            {{ displayDateTime(photo.shotAt) }}
          </q-item-label>
          <q-item-label
            v-if="photo.plot && photo.plot.name"
            caption
            lines="1"
          >
            <q-icon name="las la-draw-polygon" /> {{ photo.plot.name }}
          </q-item-label>
          <q-item-label
            v-if="photo.description"
            caption
            lines="2"
          >
            {{ photo.description }}
          </q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-list>
</template>

<script>
import { DateMixin } from 'src/mixins/DateMixin'
import MediaImage from 'src/components/MediaImage'
import queryGeoTaggedPhotos from '../graphql/queryGeoTaggedPhotos.gql'

export default {
  name: 'GeoTaggedPhotoList',
  mixins: [
    DateMixin
  ],
  components: {
    MediaImage
  },
  props: {
    holding: {
      type: Object,
      required: true
    }
  },
  apollo: {
    photos: {
      query: queryGeoTaggedPhotos,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          holdingId: this.holding.id
        }
      }
    }
  },
  emits: ['select-photo'],
  computed: {
    loading () {
      return this.$apollo.queries.photos.loading
    }
  },
  methods: {
    onClickPhoto (photo) {
      this.$emit('select-photo', photo)
    }
  }
}
</script>
