<template>
  <div>
    <q-item class="q-mb-md">
      <q-item-section side>
        <q-avatar>
          <img
            src="/images/logo/fast-farmer-app.svg"
            width="24px"
            height="24px"
          >
        </q-avatar>
      </q-item-section>
      <q-item-section>
        <q-item-label>{{ title }}</q-item-label>
        <q-item-label caption>
          {{ displayDateTime(this.sentAt) }}
        </q-item-label>
      </q-item-section>
    </q-item>

    <ChatMessage
      :text="text"
      :created-at="sentAt"
      :name="sendByName"
      :username="sendByUsername"
      bg-color="primary"
      text-color="white"
    />
  </div>
</template>

<script>
import { DateMixin } from 'src/mixins/DateMixin'
import ChatMessage from 'src/pages/messaging/components/ChatMessage'

export default {
  name: 'BroadcastDetails',
  mixins: [
    DateMixin
  ],
  components: {
    ChatMessage
  },
  props: {
    title: {
      type: String,
      required: true
    },
    body: {
      type: String,
      required: true
    },
    sentBy: {
      type: Object,
      required: true
    },
    sentAt: {
      type: String,
      required: true
    }
  },
  computed: {
    language () {
      return this.$store.state.fastplatform.preferredLanguage
    },
    text () {
      return [this.body]
    },
    sendByName () {
      return this.sentBy?.name || this.sentBy?.username
    },
    sendByUsername () {
      return this.sentBy?.username
    }
  }
}
</script>
