<template>
  <q-dialog
    :model-value="showDialog"
    @update:model-value="onUpdateShowDialog"
    persistent
  >
    <q-card
      :square="!isDesktopPlatform"
      :class="{ 'desktop-modal': isDesktopPlatform, 'mobile-modal': !isDesktopPlatform }"
    >
      <q-card-section>
        <div class="text-h6">
          <translate>Pick a photo</translate>
        </div>
      </q-card-section>
      <GeoTaggedPhotoList
        :holding="holding"
        @select-photo="onSelectPhoto"
      />
      <q-card-actions align="right">
        <q-btn
          v-if="showTakePhoto"
          flat
          :label="$gettext('Take a new photo')"
          color="primary"
          @click="onClickTakeNewPhoto"
        />
        <q-btn
          flat
          :label="$gettext('Cancel')"
          color="primary"
          @click="onClickCancel"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GeoTaggedPhotoList from 'src/pages/messaging/components/GeoTaggedPhotoList'
import featureFlags from 'src/services/feature-flags'
import { isUserMediaAvailable } from 'src/services/photo/camera'

export default {
  name: 'MessagePhotoSelectDialog',
  mixins: [
    PlatformMixin
  ],
  components: {
    GeoTaggedPhotoList
  },
  props: {
    showDialog: {
      type: Boolean,
      required: true
    },
    holding: {
      type: Object,
      required: true
    }
  },
  emits: ['select-photo', 'cancel-photo', 'update-show-dialog'],
  computed: {
    canTakePhoto () {
      return featureFlags.canTakePhoto()
    },
    isCameraAvailable () {
      return this.isMobileApp || isUserMediaAvailable()
    },
    showTakePhoto () {
      return this.canTakePhoto && this.isCameraAvailable
    }
  },
  methods: {
    onSelectPhoto (photo) {
      this.$emit('select-photo', photo)
    },
    onClickCancel () {
      this.$emit('cancel-photo')
    },
    onClickTakeNewPhoto () {
      this.$router.push({ name: 'takePhoto' })
    },
    onUpdateShowDialog (value) {
      this.$emit('update-show-dialog', value)
    }
  }
}
</script>

<style scoped>
.desktop-modal {
  min-width: 400px;
}
.mobile-modal {
  min-width: 280px;
}
</style>
