<template>
  <q-item
    clickable
    v-ripple
    @click="$emit('click')"
    class="q-px-md"
  >
    <div class="full-width">
      <div class="row items-center message-list-item-row">
        <div class="col">
          <q-item-label lines="1">
            {{ title }}
          </q-item-label>
        </div>
        <div class="col-auto">
          <q-item-label>
            <TicketStatusBadge :status="status" />
          </q-item-label>
        </div>
        <div class="col-2 row justify-end content-center">
          <q-item-label
            caption
            class="messsage-list-item-date"
          >
            {{ displayHourIfTodayElseDate(updatedAt, language) }}
          </q-item-label>
        </div>
      </div>
      <div class="row items-center message-list-item-row">
        <div class="col-10">
          <q-item-label
            lines="1"
            class="text-grey-8"
          >
            <template v-if="isLatestMessagePhoto">
              {{ bodyAuthor }}:
              <q-icon
                name="la la-camera"
                class="q-px-xs"
                style="position: relative; margin-top: -2px"
              />
              <translate>Photo</translate>
            </template>
            <template v-else>
              {{ bodyDisplay }}
            </template>
          </q-item-label>
        </div>
        <div class="col-2 row justify-end">
          <q-item-label>
            <q-badge
              v-if="unreadCount > 0"
              color="red"
              text-color="white"
              :label="unreadCount"
              align="bottom"
              class="q-ml-sm"
            />
          </q-item-label>
        </div>
      </div>
      <div
        v-if="isMultiHoldings"
        class="row items-center message-list-item-row"
      >
        <q-item-label caption>
          {{ holding.name }}
        </q-item-label>
      </div>
    </div>
  </q-item>
</template>

<script>
import { DateMixin } from 'src/mixins/DateMixin'
import MessagePhotoMixin from 'src/pages/messaging/mixins/MessagePhotoMixin'
import TicketStatusBadge from 'src/pages/messaging/components/TicketStatusBadge'

export default {
  name: 'TicketListItem',
  components: {
    TicketStatusBadge
  },
  mixins: [
    DateMixin,
    MessagePhotoMixin
  ],
  props: {
    title: {
      type: String,
      required: true
    },
    body: {
      type: String,
      required: true
    },
    photo: {
      type: Object,
      default: null
    },
    createdBy: {
      type: Object,
      required: true
    },
    updatedAt: {
      type: String,
      required: true
    },
    status: {
      type: String,
      required: true
    },
    messages: {
      type: Array,
      default: null
    },
    readStatus: {
      type: Array,
      default: null
    },
    holding: {
      type: Object,
      required: true
    },
    holdings: {
      type: Array,
      required: true
    }
  },
  emits: ['click'],
  computed: {
    language () {
      return this.$store.state.fastplatform.preferredLanguage
    },
    lastestMessage () {
      return this.messages?.[this.messages?.length - 1]
    },
    updatedBy () {
      return this.lastestMessage?.createdBy ?? this.createdBy
    },
    bodyAuthor () {
      if (this.updatedBy.username === this.$store.state.fastplatform.user.username) {
        return this.$gettext('You')
      } else {
        return this.updatedBy.name || this.updatedBy.username
      }
    },
    bodyDisplay () {
      // get last updated body
      const body = this.lastestMessage?.body ?? this.body

      // display only first line of body
      let bodyDisplay = body
      if (body && body.split) {
        const bodyParts = body.split('\n')
        if (bodyParts.length) {
          bodyDisplay = bodyParts[0]
        }
      }

      // display last body message author if different than current user
      if (bodyDisplay) {
        return this.bodyAuthor + ': ' + bodyDisplay
      } else {
        return this.bodyAuthor
      }
    },
    unreadCount () {
      let unreadCount = 0
      const readStatus = this.readStatus?.[0]
      if (!readStatus?.readAt) {
        unreadCount++
      }
      const lastReadTicketMessage = readStatus?.lastReadTicketMessage
      if (lastReadTicketMessage) {
        for (const message of this.messages) {
          if (message.id > lastReadTicketMessage.id) {
            unreadCount++
          }
        }
      } else {
        unreadCount += this.messages.length
      }
      return unreadCount
    },
    markedAsRead () {
      return this.unreadCount === 0
    },
    isMultiHoldings () {
      return this.holdings.length > 1
    },
    isLatestMessagePhoto () {
      return this.isMessagePhoto(this.lastestMessage?.body)
    }
  }
}
</script>

<style scoped>
.message-list-item-row {
  height: 20px
}
.messsage-list-item-date {
  text-align: right;
}
</style>
