<template>
  <q-input
    v-model="newMessageText"
    :placeholder="$gettext('Type a message')"
    autogrow
    :class="{ 'full-width q-pa-md': isDesktopPlatform, 'full-width q-pa-md new-message-input': !isDesktopPlatform }"
  >
    <template #after>
      <q-btn
        v-if="canDisplayGeotaggedPhoto"
        icon="la la-camera"
        color="primary"
        :disable="!isReplyDisabled"
        class="q-mr-sm"
        @click="onClickPhotoSelect"
      />

      <q-btn
        icon="las la-paper-plane"
        color="primary"
        :disable="isReplyDisabled"
        @click="onClickNewMessage"
      />

      <MessagePhotoSelectDialog
        :show-dialog="showPhotoSelectDialog"
        :holding="holding"
        @select-photo="onSelectPhoto"
        @cancel-photo="onCancelPhoto"
        @update-show-dialog="onUpdateShowDialog"
      />
    </template>
  </q-input>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import MessagePhotoSelectDialog from 'src/pages/messaging/components/MessagePhotoSelectDialog'
import featureFlags from 'src/services/feature-flags'

export default {
  name: 'TicketMessageInput',
  mixins: [
    PlatformMixin
  ],
  components: {
    MessagePhotoSelectDialog
  },
  props: {
    holding: {
      type: Object,
      required: true
    }
  },
  emits: ['new-message'],
  data () {
    return {
      newMessageText: '',
      showPhotoSelectDialog: false
    }
  },
  computed: {
    isReplyDisabled () {
      return !this.newMessageText || !this.newMessageText.trim().length
    }
  },
  methods: {
    onClickNewMessage () {
      this.$emit('new-message', {
        type: 'text',
        text: this.newMessageText
      })
      this.newMessageText = ''
    },
    onClickPhotoSelect () {
      this.showPhotoSelectDialog = true
    },
    onSelectPhoto (photo) {
      this.showPhotoSelectDialog = false
      this.$emit('new-message', {
        type: 'photo',
        photo
      })
    },
    onCancelPhoto () {
      this.showPhotoSelectDialog = false
    },
    onUpdateShowDialog (showDialog) {
      this.showPhotoSelectDialog = showDialog
    },
    canDisplayGeotaggedPhoto () {
      return featureFlags.canDisplayGeotaggedPhoto()
    }
  }
}
</script>

<style scoped>
.new-message-input :deep(textarea) {
  max-height: 250px;
  overflow: auto;
}
.new-message-input :deep(.q-field__after) {
  align-self: flex-end;
}
</style>
