<template>
  <div :class="{ 'q-pb-xl': hasChatMessages }">
    <q-item class="q-mb-md q-px-none">
      <q-item-section side>
        <q-avatar
          icon="las la-exclamation-circle"
          class="self-center ticket-icon"
        />
        <TicketStatusBadge :status="status" />
      </q-item-section>
      <q-item-section>
        <q-item-label>
          {{ title }}
        </q-item-label>
        <q-item-label class="text-grey-8">
          {{ name }}
        </q-item-label>
        <q-item-label
          v-if="isMultiHoldings"
          caption
        >
          {{ holding.name }}
        </q-item-label>
        <q-item-label caption>
          {{ displayDateTime(this.createdAt) }}
        </q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      class="q-pa-none resolution text-green-9"
      v-if="resolution"
    >
      {{ resolution }}
    </q-item>

    <q-separator
      v-if="hasChatMessages"
      class="q-my-md"
    />

    <ChatMessage
      v-if="body"
      :text="text"
      :created-at="createdAt"
      :name="name"
      :username="username"
    />

    <ChatMessage
      v-for="message in chatMessages"
      :key="message.id"
      :text="message.text"
      :photo="message.photo"
      :created-at="message.createdAt"
      :name="message.name"
      :username="message.username"
      :ref="'chat-message-' + message.id"
      :hide-name="isChatMessageAuthorHidden(message)"
    />

    <template v-if="isTicketOpen">
      <TicketMessageInput
        v-if="isDesktopPlatform"
        :holding="holding"
        @new-message="onNewMessage"
      />

      <q-page-sticky
        v-else
        position="bottom"
        expand
        class="new-message-sticky"
      >
        <TicketMessageInput
          :holding="holding"
          @new-message="onNewMessage"
        />
      </q-page-sticky>
    </template>
  </div>
</template>

<script>
import { DateMixin } from 'src/mixins/DateMixin'
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { ScrollMixin } from 'src/mixins/ScrollMixin'
import MessagePhotoMixin from 'src/pages/messaging/mixins/MessagePhotoMixin'
import ChatMessage from 'src/pages/messaging/components/ChatMessage'
import TicketStatusBadge from 'src/pages/messaging/components/TicketStatusBadge'
import TicketMessageInput from 'src/pages/messaging/components/TicketMessageInput'
import mutationInsertTicketMessage from '../graphql/mutationInsertTicketMessage.gql'
import mutationInsertTicketUserReadStatus from '../graphql/mutationInsertTicketUserReadStatus.gql'

export default {
  name: 'TicketDetails',
  components: {
    ChatMessage,
    TicketStatusBadge,
    TicketMessageInput
  },
  mixins: [
    DateMixin, PlatformMixin, ScrollMixin, MessagePhotoMixin
  ],
  props: {
    id: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    body: {
      type: String,
      default: ''
    },
    createdBy: {
      type: Object,
      required: true
    },
    createdAt: {
      type: String,
      required: true
    },
    status: {
      type: String,
      required: true
    },
    resolution: {
      type: String,
      default: ''
    },
    messages: {
      type: Array,
      required: true
    },
    readStatus: {
      type: Array,
      default: null
    },
    holding: {
      type: Object,
      required: true
    },
    holdings: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      ticketMessages: this.messages
    }
  },
  computed: {
    text () {
      return [this.body]
    },
    name () {
      return this.createdBy.name || this.createdBy.username
    },
    username () {
      return this.createdBy.username
    },
    chatMessages () {
      const chatMessages = []
      if (this.ticketMessages) {
        for (const ticketMessage of this.ticketMessages) {
          chatMessages.push({
            id: ticketMessage.id,
            text: [ticketMessage.body],
            photo: ticketMessage.photo,
            name: ticketMessage.createdBy.name || ticketMessage.createdBy.username,
            username: ticketMessage.createdBy.username,
            createdAt: ticketMessage.createdAt
          })
        }
        chatMessages.sort((m1, m2) => {
          return new Date(m1.createdAt) - new Date(m2.createdAt)
        })
      }
      return chatMessages
    },
    isTicketOpen () {
      return this.status !== 'CLOSED' && this.status !== 'DUPLICATE'
    },
    lastTicketMessage () {
      return this.ticketMessages?.[this.ticketMessages.length - 1]
    },
    hasChatMessages () {
      return this.body || this.ticketMessages?.length
    },
    isMultiHoldings () {
      return this.holdings.length > 1
    }
  },
  watch: {
    messages: function (newValue) {
      this.ticketMessages = newValue
      this.markAsRead()
      this.$nextTick(() => {
        this.scrollToLastChatMessage()
      })
    }
  },
  methods: {
    onNewMessage ({ type, text, photo }) {
      let body = ''
      let geoTaggedPhotoId = null
      if (type === 'text') {
        body = text
      } else if (type === 'photo') {
        geoTaggedPhotoId = photo.id
        body = this.getPhotoText(photo)
      }
      this.$apollo.mutate({
        mutation: mutationInsertTicketMessage,
        variables: {
          body,
          ticket_id: this.id,
          geo_tagged_photo_id: geoTaggedPhotoId
        }
      })
    },
    scrollToLastChatMessage () {
      if (this.ticketMessages?.length) {
        const lastMessageRef = this.$refs[`chat-message-${this.lastTicketMessage?.id}`]
        const lastMessageEl = lastMessageRef[0]?.$el

        if (lastMessageEl) {
          this.scrollToElement(lastMessageEl)
        }
      }
    },
    markAsRead () {
      const readStatus = this.readStatus?.[0]
      this.$apollo.mutate({
        mutation: mutationInsertTicketUserReadStatus,
        variables: {
          ticket_id: this.id,
          last_read_ticket_message_id: this.lastTicketMessage?.id,
          read_status_id: readStatus?.id || -1
        }
      })
    },
    isChatMessageAuthorHidden (message) {
      // check if the previous chat message author is the same as the current one
      let previousMessageAuthor = this.body ? this.createdBy.id : null
      for (const msg of this.ticketMessages) {
        const msgAuthor = msg.createdBy.id
        if (msg.id === message.id) {
          return previousMessageAuthor && previousMessageAuthor === msgAuthor
        }
        previousMessageAuthor = msgAuthor
      }
      return false
    }
  },
  mounted () {
    this.markAsRead()
    this.$nextTick(() => {
      this.scrollToLastChatMessage()
    })
  }
}
</script>

<style scoped>
.ticket-icon > i {
  font-size: 32px;
}
.new-message-sticky {
  background-color: white;
}
.resolution {
  white-space: pre-line;
  margin-top: -20px;
}
</style>
