<template>
  <q-card :square="isDesktopPlatform">
    <q-card-section
      v-if="loading"
      class="text-center"
    >
      <q-spinner-dots
        size="md"
        color="primary"
      />
    </q-card-section>

    <q-card-section v-else-if="ticket && holdings">
      <TicketDetails
        :id="ticket.id"
        :title="ticket.title"
        :body="ticket.body"
        :created-by="ticket.createdBy"
        :created-at="ticket.createdAt"
        :status="ticket.status"
        :resolution="ticket.resolution"
        :messages="ticket.messages"
        :read-status="ticket.readStatus"
        :holding="ticket.holding"
        :holdings="holdings"
      />
    </q-card-section>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import TicketDetails from 'src/pages/messaging/components/TicketDetails'
import queryHoldings from '../graphql/queryHoldings.gql'
import queryTicketByPk from '../graphql/queryTicketByPk.gql'
import subscriptionTicketByPk from '../graphql/subscriptionTicketByPk.gql'

export default {
  name: 'TicketCard',
  mixins: [
    PlatformMixin
  ],
  components: {
    TicketDetails
  },
  props: {
    ticketId: {
      type: Number,
      required: true
    }
  },
  emits: ['message-ready'],
  apollo: {
    holdings: {
      query: queryHoldings,
      notifyOnNetworkStatusChange: true,
      update: data => data.holding
    },
    ticket: {
      query: queryTicketByPk,
      notifyOnNetworkStatusChange: true,
      update: data => data.ticket_by_pk,
      result () {
        this.$emit('message-ready', this.ticket)
      },
      variables () {
        return {
          id: this.ticketId
        }
      },
      subscribeToMore: {
        document: subscriptionTicketByPk,
        variables () {
          return {
            id: this.ticketId
          }
        },
        updateQuery: (previousResult, { subscriptionData }) => {
          return subscriptionData.data
        }
      }
    }
  },
  computed: {
    loading () {
      return (!this.holdings && this.$apollo.queries.holdings.loading) ||
        (!this.ticket && this.$apollo.queries.ticket.loading)
    }
  }
}
</script>
