<template>
  <q-badge
    :label="statusText"
    :color="statusColor"
    text-color="grey-9"
  />
</template>

<script>
export default {
  name: 'TicketStatusBadge',
  props: {
    status: {
      type: String,
      required: true
    }
  },
  computed: {
    statusText () {
      switch (this.status) {
        case 'OPEN':
          return this.$pgettext('open status', 'open')
        case 'REOPENED':
          return this.$pgettext('reopened status', 'reopened')
        case 'RESOLVED':
          return this.$pgettext('resolved status', 'resolved')
        case 'CLOSED':
          return this.$pgettext('closed status', 'closed')
        case 'DUPLICATE':
          return this.$pgettext('duplicate status', 'duplicate')
        default:
          console.error('Unknown status ' + this.status)
          return 'Unknown'
      }
    },
    statusColor () {
      switch (this.status) {
        case 'OPEN':
        case 'REOPENED':
          return 'blue-2'
        case 'RESOLVED':
          return 'green-2'
        case 'CLOSED':
        case 'DUPLICATE':
        default:
          return 'grey-3'
      }
    }
  }
}
</script>
