<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
        <div
          class="page-subtitle"
          v-if="pageSubTitle"
        >
          {{ pageSubTitle }}
        </div>
      </template>

      <q-card
        :square="!isDesktopPlatform"
        class="column no-wrap col"
      >
        <q-banner
          class="bg-grey-3 text-grey-8"
        >
          <translate>The following balance show the nutrients required to achieve the crop target yield: you can add fertilizers to balance the inputs and outputs.</translate>
        </q-banner>

        <q-card-section>
          <q-input
            v-model.number="storeCropTargetYield"
            filled
            :label="$gettext('Target yield')"
            type="number"
            :placeholder="$gettext('Target yield')"
            :suffix="cropYieldUnitDisplay"
            :rules="[val => val > 0 || $gettext('This field must be positive')]"
            :min="0"
            step="1"
            hide-bottom-space
            class="q-mt-md"
            :debounce="1000"
          />
        </q-card-section>

        <q-card-section v-if="computing">
          <div>
            <div
              class="column flex-center"
              style="height: 100%;"
            >
              <q-spinner
                color=""
                size="3em"
              />
              <translate>Computing nutrient balance...</translate>
            </div>
          </div>
        </q-card-section>

        <q-card-section v-else-if="error">
          <div>
            <translate>
              There were some errors while computing the nutrient balance.
            </translate>

            <p
              v-html="error"
              class="q-mt-md text-negative"
            />
          </div>
        </q-card-section>

        <div v-else-if="nutrientBalance">
          <NavigatorF3NutrientBalance
            :balance-items="recommendations"
            :display-unit-config="displayUnitConfig"
            class="q-mt-md"
          />

          <NavigatorF3FertilizationsCard
            :initial-fertilizations="initialFertilizations"
            :fertilizers="fertilizers"
            :application-frequencies="applicationFrequencies"
            :incorporation-methods="incorporationMethods"
            :display-unit-config="displayUnitConfig"
            @update="onFertilizationsUpdate"
            class="q-mt-md"
          />
        </div>

        <!-- buttons -->
        <q-card-section class="q-mt-auto">
          <q-card-actions
            vertical
            align="stretch"
            class="q-pa-none"
          >
            <q-btn
              color="primary"
              text-color="white"
              :loading="saving"
              @click="onClickSavePlan"
              :disable="!nutrientBalance || !canCompute"
            >
              {{ savePlanButtonLabel }}
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="onClickPrevious"
            >
              <translate>Previous</translate>
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="$router.push({name: 'fertilizationPlans'})"
            >
              <translate>Back to all my plans</translate>
            </q-btn>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import NavigatorF3ComputeBalanceParamsMixin from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/mixins/NavigatorF3ComputeBalanceParamsMixin'
import NavigatorF3NutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/components/NavigatorF3NutrientBalance'
import queryNavigatorF3ComputeBalance from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3ComputeBalance'
import queryNavigatorF3Fertilizer from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3Fertilizer'
import queryNavigatorF3FertilizationApplicationFrequencyEnum from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3FertilizationApplicationFrequencyEnum'
import queryNavigatorF3FertilizationIncorporationMethodEnum from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3FertilizationIncorporationMethodEnum'
import { resultTypes, getConversionRatio, getDisplayUnit } from 'src/services/fieldbook/fertilization/fertilizationPlan'
import NavigatorF3FertilizationsCard from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/components/NavigatorF3FertilizationsCard'

export default {
  name: 'NavigatorF3NutrientBalancePage',
  components: {
    GenericLayout,
    Header,
    Footer,
    NavigatorF3NutrientBalance,
    NavigatorF3FertilizationsCard
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilizationPlanMixin, NavigatorF3ComputeBalanceParamsMixin],
  data () {
    return {
      computing: false,
      saving: false,
      nutrientBalance: null,
      error: null,
      navigatorF3Fertilizers: null,
      navigatorF3FertilizationApplicationFrequencies: null,
      navigatorF3FertilizationIncorporationMethods: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Nutrient balance')
    },
    pageSubTitle () {
      return 'Navigator F3'
    },
    plot () {
      return this.$store.state.fertilizationPlan.target
    },
    fertilizationPlanParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    fertilizers () {
      if (!this.navigatorF3Fertilizers) {
        return []
      } else {
        return this.navigatorF3Fertilizers.filter(fertilizer => fertilizer.is_active)
      }
    },
    applicationFrequencies () {
      if (!this.navigatorF3FertilizationApplicationFrequencies) {
        return []
      } else {
        return this.navigatorF3FertilizationApplicationFrequencies
      }
    },
    incorporationMethods () {
      if (!this.navigatorF3FertilizationIncorporationMethods) {
        return []
      } else {
        return this.navigatorF3FertilizationIncorporationMethods
      }
    },
    initialFertilizations () {
      // return a copy of the store as we handle updates in the method onFertilizationsUpdate
      return this.storeFertilizations.map(fertilization => ({ ...fertilization }))
    },
    displayUnitConfig () {
      return {
        surface: this.fertilizationPlanParameters.displaySurfaceUnit
      }
    },
    recommendations () {
      return this.storeResults.recommendations
    },
    fertilizationPlanResults () {
      return {
        plot_id: this.plot.id,
        plot_name: this.plot.name,
        plant_species_id: this.fertilizationPlanParameters.cropProfile.id,
        plant_species_name: this.fertilizationPlanParameters.cropProfile.name,
        crop_yield: this.fertilizationPlanParameters.cropTargetYield,
        element_recommendations: this.fertilizationPlanParameters.results.recommendations,
        display_unit_config: this.displayUnitConfig
      }
    },
    cropYieldUnitDisplay () {
      return getDisplayUnit(this.displayUnitConfig)
    },
    canCompute () {
      return this.isParameterSet(this.storeCropTargetYield)
    },
    storeResults: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.results
      },
      set (v) {
        this.updateParameter('results', v)
      }
    },
    storeFertilizations: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilizations || []
      },
      set (v) {
        this.updateParameter('fertilizations', v)
      }
    },
    storeCropTargetYield: {
      get () {
        const cropTargetYield = this.$store.state.fertilizationPlan.parameters.cropTargetYield ?? null
        if (cropTargetYield === null) {
          return null
        } else {
          const conversionRatio = getConversionRatio(this.displayUnitConfig)
          return cropTargetYield * conversionRatio
        }
      },
      set (v) {
        let value = null
        if (v > 0) {
          const conversionRatio = getConversionRatio(this.displayUnitConfig)
          value = v / conversionRatio
        }
        this.updateParameter('cropTargetYield', value)
      }
    }
  },
  async mounted () {
    // Load data from cache (or online if not in cache)
    await this.loadData('cache-first')

    // Refresh online data (do not wait until completion)
    this.loadData('network-only')
  },
  watch: {
    storeCropTargetYield () {
      if (this.canCompute) {
        this.computeBalance()
      }
    }
  },
  methods: {
    onClickSavePlan () {
      this.savePlan(this.fertilizationPlanResults)
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'navigatorF3Irrigation'
      })
    },
    async computeBalance (fetchPolicy) {
      try {
        this.computing = true

        const params = this.computeBalanceParams(this.fertilizationPlanParameters, this.storeFertilizations)
        const { data } = await this.$apollo.query({
          query: queryNavigatorF3ComputeBalance,
          variables: params,
          fetchPolicy
        })
        this.nutrientBalance = data?.navigator_f3__compute_balance

        const elements = [{
          chemicalElementId: 'N',
          name: 'nitrogen'
        }, {
          chemicalElementId: 'P',
          name: 'phosphorus'
        }, {
          chemicalElementId: 'K',
          name: 'potassium'
        }]

        const balanceItems = [{
          resultType: resultTypes.SOIL_MINERALIZATION,
          field: 'mineralization',
          category: 'inputs'
        },
        {
          resultType: resultTypes.BIOLOGICAL_FIXATION,
          field: 'fixation',
          category: 'inputs'
        },
        {
          resultType: resultTypes.IRRIGATION,
          field: 'irrigation',
          category: 'inputs'
        },
        {
          resultType: resultTypes.IN_SOIL_INITIAL,
          field: 'in_soil_initial',
          category: 'inputs'
        },
        {
          resultType: resultTypes.PLANNED,
          field: 'fertilizers',
          category: 'inputs'
        },
        {
          resultType: resultTypes.INPUTS,
          field: 'total',
          category: 'inputs'
        },
        {
          resultType: resultTypes.LEACHING,
          field: 'leaching',
          category: 'outputs'
        },
        {
          resultType: resultTypes.DENITRIFICATION,
          field: 'denitrification',
          category: 'outputs'
        },
        {
          resultType: resultTypes.IN_SOIL_FINAL,
          field: 'in_soil_final',
          category: 'outputs'
        },
        {
          resultType: resultTypes.VOLATILIZATION,
          field: 'volatilization',
          category: 'outputs'
        },
        {
          resultType: resultTypes.UPTAKE,
          field: 'uptake',
          category: 'outputs'
        }, {
          resultType: resultTypes.OUTPUTS,
          field: 'total',
          category: 'outputs'
        }]

        const recommendations = []
        for (const balanceItem of balanceItems) {
          for (const element of elements) {
            const balanceField = `${element.name}_${balanceItem.field}`
            recommendations.push({
              result_type: balanceItem.resultType,
              chemical_element_id: element.chemicalElementId,
              quantity: this.nutrientBalance[balanceItem.category]?.[balanceField] ?? null
            })
          }
        }

        for (const element of elements) {
          const intputsQuantity = recommendations
            .find(r => r.chemical_element_id === element.chemicalElementId && r.result_type === resultTypes.INPUTS)
            .quantity || 0
          const outputsQuantity = recommendations
            .find(r => r.chemical_element_id === element.chemicalElementId && r.result_type === resultTypes.OUTPUTS)
            .quantity || 0
          const fertilizerQuantity = recommendations
            .find(r => r.chemical_element_id === element.chemicalElementId && r.result_type === resultTypes.PLANNED)
            .quantity || 0
          const balanceQuantity = outputsQuantity - intputsQuantity
          recommendations.push({
            result_type: resultTypes.BALANCE,
            chemical_element_id: element.chemicalElementId,
            quantity: balanceQuantity
          })
          const recommendedQuantity = balanceQuantity + fertilizerQuantity
          recommendations.push({
            result_type: resultTypes.RECOMMENDATION,
            chemical_element_id: element.chemicalElementId,
            quantity: recommendedQuantity
          })
        }

        this.storeResults = { recommendations }
      } catch (e) {
        console.error('Could not compute nutrient balance', e)
        this.error = e
      } finally {
        this.computing = false
      }
    },
    async loadFertilizers (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryNavigatorF3Fertilizer,
        fetchPolicy
      })
      this.navigatorF3Fertilizers = data?.navigator_f3__fertilizer
    },
    async loadFertilizationApplicationFrequencies (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryNavigatorF3FertilizationApplicationFrequencyEnum,
        fetchPolicy
      })
      this.navigatorF3FertilizationApplicationFrequencies = data?.__type.enumValues
    },
    async loadFertilizationIncorporationMethods (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryNavigatorF3FertilizationIncorporationMethodEnum,
        fetchPolicy
      })
      this.navigatorF3FertilizationIncorporationMethods = data?.__type.enumValues
    },
    loadData (fetchPolicy) {
      return Promise.all([
        this.loadFertilizers(fetchPolicy),
        this.loadFertilizationApplicationFrequencies(fetchPolicy),
        this.loadFertilizationIncorporationMethods(fetchPolicy),
        this.computeBalance(fetchPolicy)
      ])
    },
    onFertilizationsUpdate (fertilizations) {
      this.storeFertilizations = [...fertilizations]
      if (this.canCompute) {
        this.computeBalance()
      }
    }
  }
}
</script>
