<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section v-if="computing">
            <div>
              <div
                class="column flex-center"
                style="height: 100%;"
              >
                <q-spinner
                  color=""
                  size="3em"
                />
                <translate>Computing results...</translate>
              </div>
            </div>
          </q-card-section>

          <q-card-section v-else-if="error">
            <div>
              <translate>
                There were some errors while computing the results.
              </translate>

              <p
                v-html="error"
                class="q-mt-md text-negative"
              />
            </div>
          </q-card-section>

          <div v-else-if="youngTreesFertilizationResult">
            <q-banner
              class="bg-grey-3 text-grey-8"
            >
              <translate>The following results show the nutrients required to achieve the trees target yield. </translate>
            </q-banner>

            <NavigatorF3YoungTreesNutrientBalance
              :balance-items="recommendations"
              :display-unit-config="displayUnitConfig"
              class="q-mt-md"
            />
          </div>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                :loading="saving"
                @click="onClickSavePlan"
                :disable="!youngTreesFertilizationResult"
              >
                {{ savePlanButtonLabel }}
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="$router.push({name: 'fertilizationPlans'})"
              >
                <translate>Back to all my plans</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import queryYoungTreesGetFertilization from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryYoungTreesGetFertilization'
import { resultTypes } from 'src/services/fieldbook/fertilization/fertilizationPlan'
import NavigatorF3YoungTreesNutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/components/NavigatorF3YoungTreesNutrientBalance'

export default {
  name: 'NavigatorF3YoungTreesPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    NavigatorF3YoungTreesNutrientBalance
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilizationPlanMixin],
  data () {
    return {
      computing: false,
      saving: false,
      youngTreesFertilizationResult: null,
      error: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Recommendations')
    },
    pageSubTitle () {
      return 'Navigator F3'
    },
    plot () {
      return this.$store.state.fertilizationPlan.target
    },
    fertilizationPlanParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    youngTreesFertilizationParams () {
      return {
        fertilizationYearId: this.fertilizationPlanParameters.youngTreesFertilizationYear.id,
        treesPerHa: this.fertilizationPlanParameters.youngTreesPerHa
      }
    },
    displayUnitConfig () {
      return {
        surface: this.fertilizationPlanParameters.displaySurfaceUnit
      }
    },
    recommendations () {
      return this.fertilizationPlanResults.element_recommendations
    },
    fertilizationPlanResults () {
      return {
        plot_id: this.plot.id,
        plot_name: this.plot.name,
        plant_species_id: this.fertilizationPlanParameters.cropProfile.id,
        plant_species_name: this.fertilizationPlanParameters.cropProfile.name,
        element_recommendations: this.fertilizationPlanParameters.results.recommendations,
        display_unit_config: this.displayUnitConfig
      }
    },
    storeResults: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.results
      },
      set (v) {
        this.updateParameter('results', v)
      }
    }
  },
  async mounted () {
    // Load data from cache (or online if not in cache)
    await this.getYoungTreesFertilization('cache-first')

    // Refresh online data (do not wait until completion)
    this.getYoungTreesFertilization('network-only')
  },
  methods: {
    onClickSavePlan () {
      this.savePlan(this.fertilizationPlanResults)
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'navigatorF3YoungTrees'
      })
    },
    async getYoungTreesFertilization (fetchPolicy) {
      try {
        this.computing = true

        const { data } = await this.$apollo.query({
          query: queryYoungTreesGetFertilization,
          variables: this.youngTreesFertilizationParams,
          fetchPolicy
        })
        this.youngTreesFertilizationResult = data?.young_trees__get_fertilization

        const elements = [{
          chemicalElementId: 'N',
          name: 'nitrogen'
        }, {
          chemicalElementId: 'P',
          name: 'phosphorus'
        }, {
          chemicalElementId: 'K',
          name: 'potassium'
        }]

        const unitTypes = [
          'per_ha',
          'per_tree'
        ]

        const recommendations = []
        for (const element of elements) {
          for (const unitType of unitTypes) {
            const field = `${element.name}_${unitType}`
            const quantity = this.youngTreesFertilizationResult[field]
            const minQuantity = this.youngTreesFertilizationResult[field + '_min']
            const maxQuantity = this.youngTreesFertilizationResult[field + '_max']

            recommendations.push({
              result_type: unitType === 'per_tree' ? resultTypes.RECOMMENDATION_PER_TREE : resultTypes.RECOMMENDATION,
              chemical_element_id: element.chemicalElementId,
              quantity,
              quantity_min: minQuantity,
              quantity_max: maxQuantity
            })
          }
        }
        this.storeResults = { recommendations }
      } catch (e) {
        console.error('Could not compute nutrient balance', e)
        this.error = e
      } finally {
        this.computing = false
      }
    }
  }
}
</script>
