<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>Select a crop to proceed with the fertilization plan.</translate>
          </q-banner>

          <q-card-section>
            <q-select
              v-model="storePlantSpecies"
              :label="$gettext('Crop')"
              :options="plantSpeciesOptions"
              option-value="id"
              option-label="name"
              filled
              @filter="filterPlantSpecies"
              use-input
              input-debounce="200"
              :loading="$apollo.queries.plantSpecies.loading"
              @update:model-value="onPlantSpeciesChange"
              class="q-mt-md"
            />

            <div
              v-if="loading"
              class="column flex-center q-mt-md"
            >
              <q-spinner-dots
                color="primary"
                size="24px"
              />
            </div>
            <q-list
              v-else-if="cropProfileOptions && cropProfileOptions.length > 1"
              class="q-mt-md"
            >
              <q-item
                v-for="cropProfileOption in cropProfileOptions"
                :key="cropProfileOption.id"
                tag="label"
                v-ripple
                dense
                class="q-px-none"
              >
                <q-item-section avatar>
                  <q-radio
                    :val="cropProfileOption.id"
                    :model-value="storeCropProfile ? storeCropProfile.id : null"
                    @update:model-value="value => storeCropProfile = cropProfileOptions.find(crop => crop.id === value)"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ cropProfileOption.name }} </q-item-label>
                  <q-item-label
                    v-if="cropProfileOption.latin_name"
                    caption
                  >
                    {{ cropProfileOption.latin_name }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
            <q-banner
              v-if="showCropProfileUnavailableBanner"
              class="bg-accent text-white q-mt-sm"
            >
              <translate>The crop %{storePlantSpecies.name} is not currently covered by %{algorithmName}.</translate>
            </q-banner>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryPlantSpecies from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryPlantSpecies'
import queryNavigatorF3Config from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3Config'
import queryNavigatorF3CropProfile from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3CropProfile'
import queryNavigatorF3CropProfileWithYoungTrees from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3CropProfileWithYoungTrees'
import queryNavigatorF3CropProfilePlantSpecies from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3CropProfilePlantSpecies'
import { groupByKey } from 'src/utils/array'

export default {
  name: 'NavigatorF3CropProfilePage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins],
  data () {
    return {
      navigatorF3Config: null,
      navigatorF3CropProfiles: null,
      navigatorF3CropMapping: null,
      plantSpecies: [],
      filterTermPlantSpecies: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Crop selection')
    },
    pageSubTitle () {
      return 'Navigator F3'
    },
    canContinue () {
      return !this.loading && this.isParameterSet(this.storeCropProfile)
    },
    loading () {
      return (!this.plantSpecies && this.$apollo.queries.plantSpecies.loading) || !this.navigatorF3CropProfiles || !this.navigatorF3Config || !this.navigatorF3CropMapping
    },
    plotPlantSpecies () {
      return this.$store.state.fertilizationPlan.target.plot_plant_variety?.plant_variety?.plant_species
    },
    matchingCropProfiles () {
      if (!this.navigatorF3CropMapping || !this.storePlantSpecies) {
        return []
      } else {
        return this.navigatorF3CropMapping
          .filter(row => row.plant_species_id === this.storePlantSpecies.id)
          .map(row => this.cropOptions.find(crop => crop.id === row.crop_profile.id))
      }
    },
    plantSpeciesOptions () {
      const options = this.plantSpecies
      if (this.filterTermPlantSpecies) {
        return options.filter(v => v.name?.toLowerCase().indexOf(this.filterTermPlantSpecies) > -1)
      } else {
        return options
      }
    },
    cropOptions () {
      if (!this.navigatorF3CropProfiles) {
        return []
      } else {
        const activeCropProfiles = this.navigatorF3CropProfiles
          .filter(profile => profile.is_active)
          .map(profile => ({
            ...profile,
            cropProfileGroup: profile.group.name
          }))

        const cropProfilesByGroup = groupByKey(activeCropProfiles, 'cropProfileGroup')
        const options = []
        for (const groupName of Object.keys(cropProfilesByGroup).sort()) {
          options.push({ groupName })
          const sortedGroupOptions = [...cropProfilesByGroup[groupName]].sort((a, b) => a.name - b.name)
          for (const profile of sortedGroupOptions) {
            options.push(profile)
          }
        }
        return options
      }
    },
    cropProfileOptions () {
      if (!this.navigatorF3CropMapping || !this.storePlantSpecies?.id) {
        return []
      } else {
        return this.matchingCropProfiles
      }
    },
    preSelectedCropProfile () {
      if (!this.storeCropProfile) {
        // pre-select the first crop matching the plant species
        return this.matchingCropProfiles?.[0]
      }
      return null
    },
    isYoungTreesEnabled () {
      return Boolean(this.navigatorF3Config?.enable_young_trees)
    },
    hasYoungTrees () {
      return this.isYoungTreesEnabled && Boolean(this.storeCropProfile?.young_trees?.id)
    },
    showCropProfileUnavailableBanner () {
      return !this.loading && this.storePlantSpecies && !this.storeCropProfile && !this.preSelectedCropProfile
    },
    algorithmName () {
      return 'Navigator F3'
    },
    storePlantSpecies: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.plantSpecies
      },
      set (v) {
        this.updateParameter('plantSpecies', v)
      }
    },
    storeCropProfile: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.cropProfile
      },
      set (v) {
        this.updateParameter('cropProfile', v)
      }
    },
    storeDisplaySurfaceUnit: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.displaySurfaceUnit
      },
      set (v) {
        this.updateParameter('displaySurfaceUnit', v)
      }
    }
  },
  apollo: {
    plantSpecies: {
      query: queryPlantSpecies,
      notifyOnNetworkStatusChange: true,
      update: data => data.plant_species
    }
  },
  async mounted () {
    if (!this.isParameterSet(this.storePlantSpecies)) {
      this.storePlantSpecies = this.plotPlantSpecies
    }

    // Load config before crops because we need to know if young trees are enabled in the config
    await this.loadConfig('cache-first')
    // Load data from cache (or online if not in cache)
    await Promise.all([
      this.loadCropProfiles('cache-first'),
      this.loadCropMapping('cache-first')
    ])

    // Set display surface unit from config
    this.storeDisplaySurfaceUnit = {
      name: this.navigatorF3Config.display_surface_unit_name,
      short_name: this.navigatorF3Config.display_surface_unit_short_name,
      ratio_to_hectare: this.navigatorF3Config.display_surface_unit_ratio_to_hectare
    }

    // Skip the screen if there is only one crop matching
    if (!this.$route.query.doNotSkipCropProfile && this.matchingCropProfiles.length === 1) {
      if (!this.isParameterSet(this.storeCropProfile)) {
        this.storeCropProfile = this.preSelectedCropProfile
      }
      this.onClickNext()
    }

    // Refresh online data (do not wait until completion)
    this.loadData('network-only')
  },
  methods: {
    onClickNext () {
      const nextRouteName = this.hasYoungTrees ? 'navigatorF3YoungTrees' : 'navigatorF3HarvestAndResidues'
      this.$router.push({ name: nextRouteName })
    },
    onClickPrevious () {
      const isEdition = this.$store.state.fertilizationPlan.isEdition
      const isCreationFromPlot = this.$store.state.fertilizationPlan.isCreationFromPlot
      if (isEdition) {
        const fertilizationPlanId = this.$store.state.fertilizationPlan.fertilizationPlanIdAndName.id
        this.$router.replace({ name: 'fertilizationPlan', params: { fertilizationPlanId } })
      } else if (isCreationFromPlot) {
        const plotId = this.$store.state.fertilizationPlan.target.id
        this.$router.replace({ name: 'plot', params: { idPlot: plotId } })
      } else {
        this.$router.replace({ name: 'fertilizationPlanPlotSelection' })
      }
    },
    filterPlantSpecies (val, update) {
      update(() => {
        this.filterTermPlantSpecies = val.toLowerCase()
      })
    },
    onPlantSpeciesChange () {
      this.storeCropProfile = null
      if (this.matchingCropProfiles.length === 1) {
        this.storeCropProfile = this.preSelectedCropProfile
      }
    },
    onCropProfileChange () {
      // reset 'Young trees' parameters
      this.updateParameter('youngTreesPerHa', null)
      this.updateParameter('youngTreesFertilizationYear', null)
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryNavigatorF3Config,
        fetchPolicy
      })
      this.navigatorF3Config = data?.navigator_f3__config
    },
    async loadCropProfiles (fetchPolicy) {
      const queryCropProfile = this.isYoungTreesEnabled ? queryNavigatorF3CropProfileWithYoungTrees : queryNavigatorF3CropProfile
      const { data } = await this.$apollo.query({
        query: queryCropProfile,
        fetchPolicy
      })
      this.navigatorF3CropProfiles = data?.navigator_f3__crop_profile
    },
    async loadCropMapping (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryNavigatorF3CropProfilePlantSpecies,
        fetchPolicy
      })
      this.navigatorF3CropMapping = data?.navigator_f3__crop_profile_plant_species
    },
    loadData (fetchPolicy) {
      return Promise.all([
        this.loadConfig(fetchPolicy),
        this.loadCropProfiles(fetchPolicy),
        this.loadCropMapping(fetchPolicy)
      ])
    }
  }
}
</script>
