<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8 q-mb-md"
          >
            <translate>The soil data is used to compute the nutrients provided by the soil.</translate>
          </q-banner>

          <q-card-section>
            <q-select
              v-model="storeSoilTexture"
              :options="soilTextureOptions"
              :label="$gettext('Soil texture')"
              option-value="id"
              option-label="name"
              filled
              :loading="loading"
              @update:model-value="onSoilTextureChange"
            />

            <div class="row q-gutter-md q-mt-none">
              <q-input
                v-model.number="storeSoilPH"
                :label="$gettext('pH')"
                filled
                type="number"
                :rules="[val => val > 0 && val <= 14 || $gettext('This field value must be between 0 and 14')]"
                :min="0"
                :max="14"
                :loading="loading"
                step="0.1"
                hide-bottom-space
                class="col"
              />
              <q-input
                v-model.number="storeSoilOrganicMatter"
                :label="$gettext('Organic matter')"
                filled
                type="number"
                :suffix="$gettext('%')"
                :rules="[val => (val >= 0 && val <= 100) || $gettext('This field value must be between 0 and 100')]"
                :min="0"
                :max="100"
                :loading="loading"
                step="0.1"
                hide-bottom-space
                class="col"
              />
            </div>
          </q-card-section>

          <div v-if="isSoilAnalysisAvailable">
            <q-card-section>
              <div class="text-subtitle2 text-grey-8 q-pb-sm">
                <translate>Nitrogen</translate>
              </div>
              <div class="row q-gutter-md">
                <q-input
                  v-model.number="storeSoilNitrogenInitialContent"
                  :label="$gettext('Content before sowing')"
                  filled
                  type="number"
                  :suffix="nitrogenContentUnitDisplay"
                  :rules="[val => val >= 0 || $gettext('This field value must positive or null')]"
                  :min="0"
                  :loading="loading"
                  step="1"
                  hide-bottom-space
                  class="col"
                />
                <q-input
                  v-model.number="storeSoilNitrogenFinalContent"
                  :label="$gettext('Content after harvesting')"
                  filled
                  type="number"
                  :suffix="nitrogenContentUnitDisplay"
                  :rules="[val => val >= 0 || $gettext('This field value must positive or null')]"
                  :min="0"
                  :loading="loading"
                  step="1"
                  hide-bottom-space
                  class="col"
                />
              </div>
            </q-card-section>

            <q-card-section>
              <div class="text-subtitle2 text-grey-8 q-pb-sm">
                <translate>Phosphorus</translate>
              </div>
              <q-select
                v-model="storeSoilPhosphorusAnalysisMethod"
                :options="phosphorusAnalysisMethodOptions"
                :label="$gettext('Analysis method')"
                option-value="id"
                option-label="name"
                filled
                :loading="loading"
              />
              <q-input
                v-model.number="storeSoilPhosphorusContent"
                :label="$gettext('Content')"
                filled
                type="number"
                :suffix="$gettext('ppm')"
                :rules="[val => (val >= 0 && val <= 1000000) || $gettext('This field value must be between 0 and 1000000')]"
                :min="0"
                :max="1000000"
                :loading="loading"
                step="0.1"
                hide-bottom-space
                class="q-mt-md"
              />
            </q-card-section>

            <q-card-section>
              <div class="text-subtitle2 text-grey-8 q-pb-sm">
                <translate>Potassium</translate>
              </div>
              <q-input
                v-model.number="storeSoilPotassiumContent"
                :label="$gettext('Content')"
                filled
                type="number"
                :suffix="$gettext('ppm')"
                :rules="[val => (val >= 0 && val <= 1000000) || $gettext('This field value must be between 0 and 1000000')]"
                :min="0"
                :max="1000000"
                :loading="loading"
                step="0.1"
                hide-bottom-space
                class="col"
              />
            </q-card-section>

            <q-expansion-item
              v-model="storeSoilAdvanced"
              :label="$gettext('Advanced parameters')"
              class="text-subtitle2 text-grey-8"
            >
              <q-card>
                <q-card-section class="q-pt-none">
                  <div class="row q-gutter-md">
                    <q-input
                      v-model.number="storeSoilDepth"
                      :label="$gettext('Soil depth')"
                      filled
                      type="number"
                      :suffix="$gettext('m')"
                      :rules="[val => val > 0 || $gettext('This field value must positive')]"
                      :min="0"
                      :loading="loading"
                      step="0.1"
                      hide-bottom-space
                      class="col"
                    />
                    <q-input
                      v-model.number="storeSoilCEC"
                      :label="$gettext('CEC')"
                      filled
                      type="number"
                      :suffix="$gettext('meq/kg')"
                      :rules="[val => val >= 0 || $gettext('This field value must positive or null')]"
                      :min="0"
                      :loading="loading"
                      step="1"
                      hide-bottom-space
                      class="col"
                    />
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryNavigatorF3Config from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3Config'
import queryNavigatorF3Soil from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3Soil'
import queryNavigatorF3PhosphorusAnalysisMethod from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3PhosphorusAnalysisMethod'
import querySoilDerivedObjectsByPlotId from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/querySoilDerivedObjectsByPlotId'
import { getConversionRatio, getDisplayUnit } from 'src/services/fieldbook/fertilization/fertilizationPlan'

export default {
  name: 'NavigatorF3SoilPage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins],
  data () {
    return {
      navigatorF3Config: null,
      navigatorF3Soil: null,
      navigatorF3PhosphorusAnalysisMethods: null,
      plotSoilDerivedPropertyMap: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Soil')
    },
    pageSubTitle () {
      return 'Navigator F3'
    },
    canContinue () {
      return this.isParameterSet(this.storeSoilTexture) &&
        this.isParameterSet(this.storeSoilPH) &&
        this.isParameterSet(this.storeSoilCEC) &&
        this.isParameterSet(this.storeSoilOrganicMatter) &&
        this.isParameterSet(this.storeSoilDepth) &&
        this.isParameterSet(this.storeSoilNitrogenInitialContent) &&
        this.isParameterSet(this.storeSoilNitrogenFinalContent) &&
        this.isParameterSet(this.storeSoilPhosphorusAnalysisMethod) &&
        this.isParameterSet(this.storeSoilPhosphorusContent) &&
        this.isParameterSet(this.storeSoilPotassiumContent)
    },
    plotId () {
      return this.$store.state.fertilizationPlan.target.id
    },
    loading () {
      return !this.navigatorF3Config || !this.navigatorF3Soil || !this.navigatorF3PhosphorusAnalysisMethods || !this.plotSoilDerivedPropertyMap
    },
    soilTextureOptions () {
      if (!this.navigatorF3Soil) {
        return []
      } else {
        return this.navigatorF3Soil.filter(soil => soil.is_active)
      }
    },
    phosphorusAnalysisMethodOptions () {
      if (!this.navigatorF3PhosphorusAnalysisMethods) {
        return []
      } else {
        return this.navigatorF3PhosphorusAnalysisMethods.filter(method => method.is_active)
      }
    },
    isSoilAnalysisAvailable () {
      return this.$store.state.fertilizationPlan.parameters.pkStrategy.name !== 'maintenance'
    },
    displayUnitConfig () {
      return {
        surface: this.$store.state.fertilizationPlan.parameters.displaySurfaceUnit
      }
    },
    nitrogenContentUnitDisplay () {
      return getDisplayUnit(this.displayUnitConfig)
    },
    storeSoilTexture: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilTexture
      },
      set (v) {
        this.updateParameter('soilTexture', v)
      }
    },
    storeSoilPH: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilPH
      },
      set (v) {
        this.updateParameter('soilPH', v)
      }
    },
    storeSoilCEC: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilCEC
      },
      set (v) {
        this.updateParameter('soilCEC', v)
      }
    },
    storeSoilOrganicMatter: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilOrganicMatter
      },
      set (v) {
        this.updateParameter('soilOrganicMatter', v)
      }
    },
    storeSoilDepth: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilDepth
      },
      set (v) {
        this.updateParameter('soilDepth', v)
      }
    },
    storeSoilNitrogenInitialContent: {
      get () {
        const soilNitrogenInitialContent = this.$store.state.fertilizationPlan.parameters.soilNitrogenInitialContent ?? null
        if (soilNitrogenInitialContent === null) {
          return null
        } else {
          const conversionRatio = getConversionRatio(this.displayUnitConfig)
          return soilNitrogenInitialContent * conversionRatio
        }
      },
      set (v) {
        let value = null
        if (v > 0) {
          const conversionRatio = getConversionRatio(this.displayUnitConfig)
          value = v / conversionRatio
        }
        this.updateParameter('soilNitrogenInitialContent', value)
      }
    },
    storeSoilNitrogenFinalContent: {
      get () {
        const soilNitrogenFinalContent = this.$store.state.fertilizationPlan.parameters.soilNitrogenFinalContent ?? null
        if (soilNitrogenFinalContent === null) {
          return null
        } else {
          const conversionRatio = getConversionRatio(this.displayUnitConfig)
          return soilNitrogenFinalContent * conversionRatio
        }
      },
      set (v) {
        let value = null
        if (v > 0) {
          const conversionRatio = getConversionRatio(this.displayUnitConfig)
          value = v / conversionRatio
        }
        this.updateParameter('soilNitrogenFinalContent', value)
      }
    },
    storeSoilPhosphorusAnalysisMethod: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilPhosphorusAnalysisMethod
      },
      set (v) {
        this.updateParameter('soilPhosphorusAnalysisMethod', v)
      }
    },
    storeSoilPhosphorusContent: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilPhosphorusContent
      },
      set (v) {
        this.updateParameter('soilPhosphorusContent', v)
      }
    },
    storeSoilPotassiumContent: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilPotassiumContent
      },
      set (v) {
        this.updateParameter('soilPotassiumContent', v)
      }
    },
    storeSoilAdvanced: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilAdvanced
      },
      set (v) {
        this.updateParameter('soilAdvanced', v)
      }
    }
  },
  async mounted () {
    // Load data from cache (or online if not in cache)
    await this.loadData('cache-first')

    // Set default values from the plot soil derived observations or from the config
    if (!this.isParameterSet(this.storeSoilAdvanced)) {
      this.storeSoilAdvanced = false
    }

    if (!this.isParameterSet(this.storeSoilTexture)) {
      const soilTextureId = this.plotSoilDerivedPropertyMap?.texture ?? this.navigatorF3Config?.default_soil_id
      const soilTexture = this.soilTextureOptions.find(texture => texture.id === soilTextureId)
      if (soilTexture) {
        this.storeSoilTexture = soilTexture
      }
    }
    if (!this.isParameterSet(this.storeSoilPH)) {
      this.storeSoilPH = this.roundIfNeeded(this.plotSoilDerivedPropertyMap?.ph, 1) ?? this.navigatorF3Config?.default_soil_ph
    }
    if (!this.isParameterSet(this.storeSoilCEC)) {
      this.storeSoilCEC = this.storeSoilTexture?.cec
    }
    if (!this.isParameterSet(this.storeSoilOrganicMatter)) {
      this.storeSoilOrganicMatter = this.roundIfNeeded(this.plotSoilDerivedPropertyMap?.organic_matter, 1) || this.navigatorF3Config?.default_soil_organic_matter
    }
    if (!this.isParameterSet(this.storeSoilDepth)) {
      this.storeSoilDepth = this.navigatorF3Config?.default_soil_depth
    }
    if (!this.isParameterSet(this.storeSoilNitrogenInitialContent)) {
      // bypass setter to avoid unit conversion
      this.updateParameter('soilNitrogenInitialContent', this.navigatorF3Config?.default_soil_nitrogen_content_initial)
    }
    if (!this.isParameterSet(this.storeSoilNitrogenFinalContent)) {
      // bypass setter to avoid unit conversion
      this.updateParameter('soilNitrogenFinalContent', this.navigatorF3Config?.default_soil_nitrogen_content_final)
    }
    if (!this.isParameterSet(this.storeSoilPhosphorusAnalysisMethod)) {
      const analysisMethod = this.phosphorusAnalysisMethodOptions?.find(method => method.id === this.navigatorF3Config?.default_phosphorus_analysis_method_id)
      this.storeSoilPhosphorusAnalysisMethod = analysisMethod
    }
    if (!this.isParameterSet(this.storeSoilPhosphorusContent)) {
      this.storeSoilPhosphorusContent = this.roundIfNeeded(this.plotSoilDerivedPropertyMap?.phosphorus, 0) ?? this.navigatorF3Config?.default_soil_phosphorus
    }
    if (!this.isParameterSet(this.storeSoilPotassiumContent)) {
      this.storeSoilPotassiumContent = this.roundIfNeeded(this.plotSoilDerivedPropertyMap?.potassium, 0) ?? this.navigatorF3Config?.default_soil_potassium
    }

    // Refresh online data (do not wait until completion)
    this.loadData('network-only')
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'navigatorF3Irrigation'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'navigatorF3PKStrategy'
      })
    },
    roundIfNeeded (number, decimalPlaces = 0) {
      if (number == null) {
        return number
      } else {
        const factorOfTen = Math.pow(10, decimalPlaces)
        return Math.round(number * factorOfTen) / factorOfTen
      }
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryNavigatorF3Config,
        fetchPolicy
      })
      this.navigatorF3Config = data?.navigator_f3__config
    },
    async loadSoil (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryNavigatorF3Soil,
        fetchPolicy
      })
      this.navigatorF3Soil = data?.navigator_f3__soil
    },
    async loadPhosphorusAnalysisMethods (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryNavigatorF3PhosphorusAnalysisMethod,
        fetchPolicy
      })
      this.navigatorF3PhosphorusAnalysisMethods = data?.navigator_f3__phosphorus_analysis_method
    },
    async loadSoilProperties (fetchPolicy) {
      try {
        const { data } = await this.$apollo.query({
          query: querySoilDerivedObjectsByPlotId,
          variables: {
            plot_id: this.plotId
          },
          fetchPolicy
        })
        this.plotSoilDerivedPropertyMap = {}
        const derivedObservations = data?.soil_derived_object?.[0]?.derived_observations || []
        for (const observation of derivedObservations) {
          this.plotSoilDerivedPropertyMap[observation.observed_property_id] = observation.result.value || null
        }
      } catch (e) {
        console.error('Could not load soil properties', e)
        this.plotSoilDerivedPropertyMap = {}
      }
    },
    loadData (fetchPolicy) {
      return Promise.all([
        this.loadConfig(fetchPolicy),
        this.loadSoil(fetchPolicy),
        this.loadPhosphorusAnalysisMethods(fetchPolicy),
        this.loadSoilProperties(fetchPolicy)
      ])
    },
    onSoilTextureChange () {
      this.storeSoilCEC = this.storeSoilTexture?.cec
    }
  }
}
</script>
