<template>
  <BaseMap
    :style="mapStyle"
    :center="centroidLatLng"
    :bounds="bounds"
    :overlays-config="mapOverlays"
    @map-ready="onMapReady"
    :activate-locate-control="useLocatePosition"
    locate-control-enable-high-accuracy
    :locate-control-on-update-handler="locateControlOnUpdateHandler"
    :locate-control-on-error-handler="locateControlOnErrorHandler"
    class="soil-site-map"
    ref="baseMap"
  />
</template>

<script>
import * as L from 'leaflet'
import BaseMap from 'src/components/BaseMap'
import { getDefaultOverlayLayersConfig, getHoldingCampaignPlotsLayer } from 'src/services/map/layers/layer-configs'

// we store geometry data in 4258 projection
const DEFAULT_CRS = { type: 'name', properties: { name: 'EPSG:4258' } }

const LOCATION_MARKER_ICON = new L.Icon.Default({ className: 'location-marker-icon' })

export default {
  name: 'SoilSiteMap',
  components: {
    BaseMap
  },
  props: {
    mapStyle: {
      type: String,
      default: ''
    },
    markerLatitude: {
      type: Number,
      default: null
    },
    markerLongitude: {
      type: Number,
      default: null
    },
    useLocatePosition: {
      type: Boolean,
      default: false
    }
  },
  emits: ['locate-position', 'mark-location'],
  data () {
    return {
      map: null,
      locationMarker: null,
      latestGeometry: null
    }
  },
  computed: {
    centroidLatLng () {
      if (this.markerLatitude && this.markerLongitude) {
        return [this.markerLatitude, this.markerLongitude]
      } else {
        return null
      }
    },
    mapOverlays () {
      const options = {
        displayProtectedSiteNatura2000: false,
        displayRegulationZoneNVZ: false,
        displayHydrographySurfaceWater: false,
        displayHydrographyWaterCourse: false,
        displaySoilPublicSamples: false,
        displayAgriculturalPlots: false
      }
      const overlays = getDefaultOverlayLayersConfig(options)
      overlays.push(getHoldingCampaignPlotsLayer(true, {}))
      return overlays
    },
    holdingCampaignBounds () {
      return this.$store.state.fastplatform.holdingCampaign.bounds
    },
    bounds () {
      if (!this.centroidLatLng && this.holdingCampaignBounds) {
        return this.holdingCampaignBounds
      } else {
        return null
      }
    }
  },
  watch: {
    markerLatitude () {
      this.updateLocationMarker()
    },
    markerLongitude () {
      this.updateLocationMarker()
    },
    useLocatePosition (use) {
      if (use) {
        // restart locate control
        const baseMap = this.$refs.baseMap
        baseMap.stopLocateControl()
        baseMap.startLocateControl()
        if (this.latestGeometry) {
          this.$emit('locate-position', this.latestGeometry)
        }
      }
    }
  },
  beforeUnmount () {
    if (this.map) {
      this.map.off('contextmenu', this.onSelectLocation)
      this.map.off('locationfound', this.onLocationFound)
      this.map.off('locationerror', this.onLocationError)
    }
  },
  methods: {
    onMapReady (map) {
      this.map = map
      // use right clic / long press (=> contextmenu) because simple clicks don't work well with layer popups
      this.map.on('contextmenu', this.onSelectLocation)
      this.map.on('locationfound', this.onLocationFound)
      this.map.on('locationerror', this.onLocationError)
      this.map.locate({ watch: true })
      this.updateLocationMarker()
    },
    onSelectLocation ({ latlng }) {
      this.setLocationMarker(latlng)

      const locationMarkerGeometry = this.locationMarker.toGeoJSON().geometry
      const geometry = { ...locationMarkerGeometry, crs: DEFAULT_CRS }
      this.$emit('mark-location', geometry)
    },
    setLocationMarker (latlng) {
      if (this.locationMarker) {
        this.map.removeLayer(this.locationMarker)
      }
      this.locationMarker = L.marker(latlng, { icon: LOCATION_MARKER_ICON })
        .bindPopup(this.$gettext('Soil sample location'))
        .addTo(this.map)
    },
    updateLocationMarker () {
      if (this.markerLatitude && this.markerLongitude) {
        this.setLocationMarker(L.latLng(this.markerLatitude, this.markerLongitude))
      }
    },
    locateControlOnUpdateHandler (position) {
      const positionCoords = position.latestGnssScanCoords || position.coords
      const geometry = {
        type: 'Point',
        coordinates: [positionCoords.longitude, positionCoords.latitude],
        crs: DEFAULT_CRS
      }
      this.latestGeometry = geometry
      this.$emit('locate-position', geometry)
    },
    locateControlOnErrorHandler () {
      // no need to do anything
    }
  }
}
</script>

<style scoped>
.soil-site-map :deep(.location-marker-icon) {
  filter: hue-rotate(150deg);
}
</style>
