<template>
  <VisioneFertilizationsSelectionPage
    :page-title="pageTitle"
    :page-sub-title="pageSubTitle"
    :fertilizations="fertilizations"
    @add-fertilization="addFertilization"
    @update-fertilization="updateFertilization"
    @remove-fertilization="removeFertilization"
  >
    <template #card-actions-buttons>
      <q-btn
        color="primary"
        text-color="white"
        :disable="!canContinue"
        @click="onNext"
      >
        <translate>Next</translate>
      </q-btn>
      <q-btn
        flat
        color="primary"
        @click="onClickPrevious"
      >
        <translate>Previous</translate>
      </q-btn>
    </template>
  </VisioneFertilizationsSelectionPage>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'

import VisioneFertilizationsSelectionPage from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/templates/VisioneFertilizationsSelectionPage'

export default {
  name: 'VisioneTreeFertilizationsSelectionPage',
  components: {
    VisioneFertilizationsSelectionPage
  },
  mixins: [PlatformMixin, AlgorithmsMixins],
  data () {
    return {
    }
  },
  computed: {
    canContinue () {
      return true
    },
    fertilizations () {
      return this.$store.state.fertilizationPlan?.parameters?.fertilizations ?? []
    },
    pageTitle () {
      return this.$gettext('Effluent / Fertilization selection')
    },
    pageSubTitle () {
      return 'Visione'
    }
  },
  apollo: {
  },
  mounted () {
  },
  methods: {
    addFertilization (fertilization) {
      this.updateParameter('fertilizations', this.fertilizations.concat([fertilization]))
    },
    onNext () {
      this.$router.push({
        name: 'visioneCompute'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'visioneTreeCropProductionPhase'
      })
    },
    removeFertilization (index) {
      this.updateParameter(
        'fertilizations',
        [
          ...this.fertilizations.slice(0, index),
          ...this.fertilizations.slice(index + 1)
        ]
      )
    },
    updateFertilization ({ fertilization, index }) {
      const f = this.fertilizations
      f[index] = fertilization
      this.updateParameter('fertilizations', f)
    }
  }
}
</script>
