<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>In which production phase is the tree crop ?</translate>
            </div>

            <img
              src="./img/tree_production_phase_it.png"
              style="max-width: 100%; max-height: 100%;"
              alt=""
            >

            <q-select
              v-model="storePlantSpeciesProductionPhase"
              :options="treeProductionPhases"
              filled
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import VisioneMixins, { PRODUCTION_PHASES } from 'src/pages/fieldbook/fertilization/algorithms/visione/mixins/VisioneMixins'

export default {
  name: 'VisioneTreeCropProductionPhasePage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, VisioneMixins],
  data () {
    return {
    }
  },
  computed: {
    canContinue () {
      return this.storePlantSpeciesProductionPhase != null
    },
    pageTitle () {
      return this.$gettext('Crop production phase')
    },
    pageSubTitle () {
      return 'Visione'
    },
    storePlantSpeciesProductionPhase: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.production_phase
      },
      set (v) {
        this.updateParameter('production_phase', v)
      }
    },
    treeProductionPhases () {
      return PRODUCTION_PHASES
    }
  },
  mounted () {
    if (this.storePlantSpeciesProductionPhase == null) {
      this.storePlantSpeciesProductionPhase = this.treeProductionPhases.find(pp => pp.id === 'production')
    }
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'visioneTreeFertilizationsSelectionPage'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'visioneCropSelection'
      })
    }
  }
}
</script>
