<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>The following parameters are used to compute the nutrients provided by the intermediate crop.</translate>
          </q-banner>

          <q-card-section>
            <div class="text-grey-8 q-mb-xs">
              <translate>Was a catch crop planted before the main crop?</translate>
            </div>
            <q-btn-toggle
              v-model="storeIntermediateCropImplented"
              :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
              toggle-color="primary"
              @click="checkIntermediateCrop"
            />
            <template v-if="storeIntermediateCropImplented == true">
              <div class="q-mt-md">
                <div class="text-grey-8 q-mb-xs">
                  <translate>Should its effect be taken into account ?</translate>
                </div>
                <q-btn-toggle
                  v-model="storeIntermediateCropExists"
                  :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
                  toggle-color="primary"
                />
                <q-btn @click="need_help = true">
                  <translate>Need help?</translate>
                </q-btn>
                <q-dialog
                  v-model="need_help"
                  persistent
                  full-width
                >
                  <q-card>
                    <q-card-section>
                      <RequafertiIntermediateCropProfileHelpform @close-helper="onCloseDialogHelper" />
                    </q-card-section>
                  </q-card>
                </q-dialog>
              </div>

              <q-select
                v-if="storeIntermediateCropExists"
                v-model="storeIntermediateCropProfile"
                :options="intermediateCropOptions"
                option-value="id"
                :option-label="getRequafertiI18NFieldName('libelle')"
                filled
                :loading="isLoading"
                :label="$gettext('Intermediate crop profile')"
                @update:model-value="onIntermediateCropProfileChange"
                class="q-mt-md"
              />

              <q-select
                v-if="storeIntermediateCropExists && storeIntermediateCropProfile"
                v-model="storeIntermediateCropProductionLevel"
                :options="productionLevelOptions"
                option-value="type_prod_xid"
                :option-label="getRequafertiI18NFieldName('libelle_prod')"
                filled
                :loading="isLoading"
                :label="$gettext('Production level')"
                class="q-mt-md"
              >
                <template #after>
                  <q-btn
                    color="secondary"
                    @click="show_cipan_info=true"
                  >
                    <translate>Infos</translate>
                  </q-btn>
                </template>
              </q-select>

              <template v-if="show_cipan_info">
                <q-dialog
                  v-model="show_cipan_info"
                  :auto-close="isDesktopPlatform"
                >
                  <CipanProductionLevelPopUp
                    @close="show_cipan_info = !show_cipan_info"
                  />
                </q-dialog>
              </template>
            </template>
          </q-card-section>
          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import RequafertiI18nMixin from 'src/pages/fieldbook/fertilization/algorithms/requaferti/mixins/RequafertiI18nMixin'
import queryRequafertiConfig from 'src/pages/fieldbook/fertilization/algorithms/requaferti/graphql/queryRequafertiConfig'
import RequafertiIntermediateCropProfileHelpform from 'src/pages/fieldbook/fertilization/algorithms/requaferti/components/RequafertiIntermediateCropProfileHelpform.vue'
import CipanProductionLevelPopUp
  from 'pages/fieldbook/fertilization/algorithms/requaferti/components/CipanProductionLevelPopUp.vue'

export default {
  name: 'RequafertiIntermediateCropProfilePage',
  components: {
    CipanProductionLevelPopUp,
    GenericLayout,
    Header,
    Footer,
    RequafertiIntermediateCropProfileHelpform
  },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiI18nMixin],
  data () {
    return {
      requafertiConfig: null,
      need_help: false,
      show_cipan_info: false
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Intermediate crop')
    },
    pageSubTitle () {
      return 'Requaferti'
    },
    canContinue () {
      return !this.storeIntermediateCropImplented || (this.isParameterSet(this.storeIntermediateCropExists) &&
        (!this.storeIntermediateCropExists || (this.isParameterSet(this.storeIntermediateCropProfile) &&
        this.isParameterSet(this.storeIntermediateCropProductionLevel))))
    },
    isLoading () {
      return !this.requafertiConfig
    },
    intermediateCropOptions () {
      /* eslint-disable dot-notation */
      return this.requafertiConfig?.['culture_effet_cipan'] || []
    },
    productionLevelCombinations () {
      /* eslint-disable dot-notation */
      return this.requafertiConfig?.['effet_cipan']
    },
    productionLevelOptions () {
      if (!this.storeIntermediateCropProfile?.id || !this.productionLevelCombinations) {
        return []
      } else {
        return this.productionLevelCombinations.filter(level => level.type_cult_xid === this.storeIntermediateCropProfile.id)
      }
    },
    storeIntermediateCropImplented: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.intermediateCropExistsYN
      },
      set (v) {
        this.updateParameter('intermediateCropExistsYN', v)
      }
    },
    storeIntermediateCropExists: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.intermediateCropExists
      },
      set (v) {
        this.updateParameter('intermediateCropExists', v)
      }
    },
    storeIntermediateCropProfile: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.intermediateCropProfile
      },
      set (v) {
        this.updateParameter('intermediateCropProfile', v)
      }
    },
    storeIntermediateCropProductionLevel: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.intermediateCropProductionLevel
      },
      set (v) {
        this.updateParameter('intermediateCropProductionLevel', v)
      }
    },
    soilSampleExists () {
      return this.$store.state.fertilizationPlan.parameters.soilSampleExists
    }
  },
  async mounted () {
    // Load data from cache (or online if not in cache)
    await this.loadConfig('cache-first')

    // Refresh online data (do not wait until completion)
    this.loadConfig('network-only')
  },
  methods: {
    onClickNext () {
      // reset linked fields when no intermediate crop
      if (!this.storeIntermediateCropExists) {
        this.storeIntermediateCropProfile = null
        this.storeIntermediateCropProductionLevel = null
        this.storeIntermediateCropTestSampleIncludesNitrogenEffect = null
      }

      this.$router.replace({
        name: 'requafertiMeadowAndLucerne'
      })
    },
    checkIntermediateCrop () {
      if (!this.storeIntermediateCropImplented) {
        this.storeIntermediateCropExists = null
        this.storeIntermediateCropProfile = null
        this.storeIntermediateCropProductionLevel = null
        this.storeIntermediateCropTestSampleIncludesNitrogenEffect = null
      }
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiPreviousCropProfile'
      })
    },
    onIntermediateCropProfileChange () {
      // reset fields depending on selected crop when it changes
      this.storeIntermediateCropProductionLevel = null
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti__config
    },
    onCloseDialogHelper (result) {
      this.need_help = false
      this.storeIntermediateCropExists = result
    }
  }
}
</script>
