<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section
            v-if="loading"
            class="text-center"
          >
            <q-spinner-dots
              size="40px"
              color="primary"
            />
          </q-card-section>
          <template v-else>
            <q-card-section>
              <div
                class="text-body2 q-mb-none"
              >
                <translate>
                  Values have been calculated based on your own soil samples and public data.
                </translate>
              </div>
            </q-card-section>
            <q-card-section
              v-for="(soilObject, index) in storeSoilObjects"
              :key="'plot-' + soilObject.plot.id"
            >
              <div class="text-subtitle1 text-grey q-mb-sm">
                <span class="">
                  <translate>Plot</translate>:
                </span> {{ soilObject.plot.name }}
              </div>
              <template v-if="soilSection === 'characteristics'">
                <div class="text-body2 q-mb-sm">
                  <translate>Select a texture or fill in the percentage of sand and clay in the soil</translate>
                </div>
                <q-select
                  :model-value="soilObject.observations.texture.value"
                  :options="soilTextures"
                  filled
                  clearable
                  :label="soilProperties.find(sp => sp.id === 'texture').label"
                  @update:model-value="value => updateSoilTexture(index, value)"
                  ref="soil-data"
                  :key="'plot-' + soilObject.plot.id + '-texture'"
                  :error="false"
                />
                <q-input
                  :model-value="soilObject.observations.sand_pct.value"
                  filled
                  type="number"
                  :label="soilProperties.find(sp => sp.id === 'sand_pct').label"
                  :suffix="soilProperties.find(sp => sp.id === 'sand_pct').unit_of_measure.symbol"
                  :rules="rulesSand"
                  min="0"
                  max="100"
                  @update:model-value="value => updateSand(index, value)"
                  class="q-mb-none"
                  ref="soil-data"
                  :key="'plot-' + soilObject.plot.id + '-sand'"
                  :error="soilObject.observations.sand_pct.value + soilObject.observations.clay_pct.value > 100"
                />
                <q-input
                  :model-value="soilObject.observations.clay_pct.value"
                  filled
                  type="number"
                  :label="soilProperties.find(sp => sp.id === 'clay_pct').label"
                  :suffix="soilProperties.find(sp => sp.id === 'clay_pct').unit_of_measure.symbol"
                  :rules="rulesClay"
                  min="0"
                  max="100"
                  @update:model-value="value => updateClay(index, value)"
                  class="q-mb-none"
                  ref="soil-data"
                  :key="'plot-' + soilObject.plot.id + '-clay'"
                  :error="soilObject.observations.sand_pct.value + soilObject.observations.clay_pct.value > 100"
                />
                <div
                  class="text-body2 text-small text-negative q-mb-md"
                  v-if="soilObject.observations.sand_pct.value + soilObject.observations.clay_pct.value > 100"
                >
                  <translate>The total of sand and clay in soil could not be greater than 100%</translate>
                </div>
                <div
                  class="text-body2 q-mb-none"
                >
                  <translate>Is your soil limy (total limestone > 10%) ?</translate>
                </div>
                <q-btn-toggle
                  :model-value="soilObject.observations.is_limy.value"
                  :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
                  toggle-color="primary"
                  @update:model-value="value => onUpdateProperty(index, 'is_limy', value)"
                />
              </template>
              <template v-else>
                <q-input
                  :model-value="soilObject.observations.ph.value"
                  filled
                  type="number"
                  :label="soilProperties.find(sp => sp.id === 'ph').label"
                  :rules="rulesNumber"
                  min="0"
                  max="14"
                  @update:model-value="value => onUpdateProperty(index, 'ph', value < 0 ? 0 : value > 14 ? 14 : value)"
                  :class="{'q-mb-md': soilObject.observations.ph.value > phMax || soilObject.observations.ph.value < phMin}"
                  ref="soil-data"
                  :key="'plot-' + soilObject.plot.id + '-ph'"
                  :hint="soilObject.observations.ph.value > phMax || soilObject.observations.ph.value < phMin ? `${$gettextInterpolate($gettext('pH generally ranges from %{min} to %{max}'), {min: phMin, max: phMax})}` : null"
                />
                <q-input
                  :model-value="soilObject.observations.phosphorus.value"
                  filled
                  type="number"
                  :label="soilProperties.find(sp => sp.id === 'phosphorus').label"
                  :suffix="soilProperties.find(sp => sp.id === 'phosphorus').unit_of_measure.symbol"
                  :rules="rulesNumber"
                  @update:model-value="value => onUpdateProperty(index, 'phosphorus', value)"
                  class="q-mb-none"
                  ref="soil-data"
                  :key="'plot-' + soilObject.plot.id + '-phosphorus'"
                />
                <q-input
                  :model-value="soilObject.observations.potassium.value"
                  filled
                  type="number"
                  :label="soilProperties.find(sp => sp.id === 'potassium').label"
                  :suffix="soilProperties.find(sp => sp.id === 'potassium').unit_of_measure.symbol"
                  :rules="rulesNumber"
                  @update:model-value="value => onUpdateProperty(index, 'potassium', value)"
                  class="q-mb-none"
                  ref="soil-data"
                  :key="'plot-' + soilObject.plot.id + '-potassium'"
                />
                <q-input
                  :model-value="soilObject.observations.organic_matter_pct.value"
                  filled
                  type="number"
                  :label="soilProperties.find(sp => sp.id === 'organic_matter_pct').label"
                  :suffix="soilProperties.find(sp => sp.id === 'organic_matter_pct').unit_of_measure.symbol"
                  :rules="rulesPercentage"
                  min="0"
                  max="100"
                  @update:model-value="value => onUpdateProperty(index, 'organic_matter_pct', value < 0 ? 0 : value > 100 ? 100 : value)"
                  class="q-mb-none"
                  ref="soil-data"
                  :key="'plot-' + soilObject.plot.id + '-organic-matter'"
                />
                <q-input
                  :model-value="soilObject.observations.c_n.value"
                  filled
                  type="number"
                  :label="soilProperties.find(sp => sp.id === 'c_n').label"
                  :rules="rulesNumber"
                  @update:model-value="value => onUpdateProperty(index, 'c_n', value)"
                  class="q-mb-none"
                  ref="soil-data"
                  :key="'plot-' + soilObject.plot.id + '-c-n'"
                />
              </template>
            </q-card-section>
          </template>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import VisioneMixins, { MAPPING_SOIL_TEXTURE_AND_SAND_CLAY_PERCENTAGES, USDA_TEXTURES } from 'src/pages/fieldbook/fertilization/algorithms/visione/mixins/VisioneMixins'

import queryObservableProperties from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryObservableProperties'
import querySoilDerivedObjectsByPlotId from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/querySoilDerivedObjectsByPlotId'

export default {
  name: 'VisioneSoilPage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, VisioneMixins],
  props: {
    section: {
      type: String,
      default: 'characteristics'
    }
  },
  data () {
    return {
      observableProperties: [],
      soilTextures: USDA_TEXTURES,
      loading: true,
      phMin: 5,
      phMax: 9
      // soilSection: 'characteristics'
    }
  },
  computed: {
    canContinue () {
      if (this.soilSection === 'characteristics') {
        // required fields are: clay, is_limy and either texture or sand
        for (let i = 0; i < this.storeSoilObjects.length; i++) {
          if (
            this.storeSoilObjects[i].observations.clay_pct.value == null ||
            isNaN(this.storeSoilObjects[i].observations.clay_pct.value) ||
            (
              this.storeSoilObjects[i].observations.texture.value == null &&
              (
                this.storeSoilObjects[i].observations.sand_pct.value == null ||
                isNaN(this.storeSoilObjects[i].observations.sand_pct.value)
              )
            ) ||
            this.storeSoilObjects[i].observations.is_limy.value == null ||
            this.storeSoilObjects[i].observations.clay_pct.value + this.storeSoilObjects[i].observations.sand_pct.value > 100
          ) {
            return false
          }
        }
        return true
      } else {
        for (let i = 0; i < this.storeSoilObjects.length; i++) {
          if (
            this.storeSoilObjects[i].observations.ph.value == null ||
            isNaN(this.storeSoilObjects[i].observations.ph.value) ||
            this.storeSoilObjects[i].observations.phosphorus.value == null ||
            isNaN(this.storeSoilObjects[i].observations.phosphorus.value) ||
            this.storeSoilObjects[i].observations.potassium.value == null ||
            isNaN(this.storeSoilObjects[i].observations.potassium.value) ||
            this.storeSoilObjects[i].observations.organic_matter_pct.value == null ||
            isNaN(this.storeSoilObjects[i].observations.organic_matter_pct.value) ||
            this.storeSoilObjects[i].observations.c_n.value == null ||
            isNaN(this.storeSoilObjects[i].observations.c_n.value == null)
          ) {
            return false
          }
        }
        return true
      }
    },
    pageTitle () {
      return this.soilSection === 'characteristics'
        ? this.$gettext('Soil Characteristics')
        : this.$gettext('Soil Samples')
    },
    pageSubTitle () {
      return 'Visione'
    },
    rulesNumber () {
      return [
        val => val != null || `* ${this.$gettext('This field is required')}`,
        val => !!val || !isNaN(val) || this.$gettext('Value must be a number')
      ]
    },
    rulesPercentage () {
      return [
        val => !!val || val === 0 || `* ${this.$gettext('This field is required')}`,
        val => !!val || !isNaN(val) || this.$gettext('Value must be a number'),
        val => ((val <= 100) && (val >= 0)) || this.$gettext('Percentage must be between 0 and 100')
      ]
    },
    rulesClay () {
      return this.rulesPercentage
    },
    rulesSand () {
      return [
        val => !!val || !isNaN(val) || this.$gettext('Value must be a number'),
        val => ((val <= 100) && (val >= 0)) || this.$gettext('Percentage must be between 0 and 100')
      ]
    },
    // rulesTexture () {
    //   return [
    //     // val => (val != null && val !== '') || `* ${this.$gettext('This field is required')}`
    //   ]
    // },
    soilSection: {
      get () {
        return this.section
      },
      set (section) {
        if (section === 'samples') {
          this.$router.push({
            name: 'visioneSoilSamples'
          })
        } else {
          this.$router.replace({
            name: 'visioneSoilCharacteristics'
          })
        }
      }
    },
    storeSoilObjects () {
      try {
        return this.$store.state.fertilizationPlan.parameters.soil_objects || []
      } catch (e) {
        return []
      }
    }
  },
  mounted () {
    this._mergeSoilInformation()
  },
  methods: {
    async _mergeSoilInformation () {
      // Merge the soil information in the store with what we get from apollo from either private observations or calculated data
      let result
      this.loading = true
      // Load the data
      if (this.$store.state.fertilizationPlan.target.__typename === 'plot') {
        result = await this.$apollo.query({
          query: querySoilDerivedObjectsByPlotId,
          variables: {
            plot_id: this.$store.state.fertilizationPlan.target.id
          },
          fetchPolicy: 'network-only'
        })
      } else {
        throw Error('Wrong target typename in store')
      }

      // Now we have all the data from the database about the plot/plot group
      // that we have requested
      // It might happen that some data is missing (no soil derived object for a
      // certain plot)
      const soilDerivedObjects = result.data.soil_derived_object
      // Build the list of plots that are necessary to be filled
      let soilObjects = []
      if (this.$store.state.fertilizationPlan.target.__typename === 'plot') {
        soilObjects.push({
          plot: { ...this.$store.state.fertilizationPlan.target },
          observations: {}
        })
      } else {
        throw Error('Wrong target typename in store')
      }

      // Get the required soil properties
      result = await this.$apollo.query({
        query: queryObservableProperties,
        fetchPolicy: 'network-only'
      })
      this.observableProperties = result.data?.observable_property?.length ? result.data.observable_property : this.soilProperties

      // Add the required inputs for each plot and pre-fill using either
      // the data in the store (priority) or the data from the database
      // or nothing (blank input)
      soilObjects = soilObjects.map(obj => {
        // First look in the store
        const soilObjectFromStore = this.storeSoilObjects.find(so => so && so.plot && so.plot.id === obj.plot.id)
        this.observableProperties.forEach(op => {
          const resultFromStore = soilObjectFromStore &&
            soilObjectFromStore.observations &&
            soilObjectFromStore.observations[op.id]
          if (resultFromStore) {
            obj.observations[op.id] = { ...resultFromStore }
          } else {
            // If no value in the store, look into what we just received
            // from the database
            const soilObjectFromDatabase = soilDerivedObjects &&
              soilDerivedObjects.find(sdo => sdo && sdo.plot && sdo.plot.id === obj.plot.id)
            const soilDerivedObservationFromDatabase = soilObjectFromDatabase &&
              soilObjectFromDatabase.derived_observations.find(sdodo => sdodo.observable_property.id === op.id)
            const resultFromDatabase = soilDerivedObservationFromDatabase && soilDerivedObservationFromDatabase.result

            if (resultFromDatabase) {
              if (op.id === 'texture') {
                obj.observations[op.id] = {
                  value: {
                    id: resultFromDatabase.value.toLowerCase().replaceAll(' ', '_'),
                    label: resultFromDatabase.value
                  }
                }
              } else if (op.unit_of_measure.id === 'no_unit') {
                if (['c_n', 'ph'].includes(op.id)) {
                  obj.observations[op.id] = {
                    value: parseFloat(resultFromDatabase.value)
                  }
                } else {
                  obj.observations[op.id] = {
                    ...resultFromDatabase
                    // value: textureSimplificationMapping[resultFromDatabase.value] || null
                  }
                }
              } else {
                obj.observations[op.id] = {
                  ...resultFromDatabase,
                  value: Math.round(resultFromDatabase.value * 10) / 10
                }
              }
            } else {
              obj.observations[op.id] = { value: null }
            }
          }
        })
        // add custom observation "is_limy"
        if (soilObjectFromStore && soilObjectFromStore.observations && soilObjectFromStore.observations.is_limy) {
          obj.observations.is_limy = { ...soilObjectFromStore.observations.is_limy }
        } else {
          obj.observations.is_limy = { value: null }
        }

        if (obj.observations.texture && obj.observations.texture.value != null) {
          if (obj.observations.clay_pct && obj.observations.clay_pct.value == null) {
            // texture but no clay => set default values for clay and sand
            const { clay, sand } = MAPPING_SOIL_TEXTURE_AND_SAND_CLAY_PERCENTAGES[obj.observations.texture.value.id]
            obj.observations.clay_pct.value = clay
            obj.observations.sand_pct = {
              value: sand
            }
          }
        }
        return obj
      })
      this.updateParameter('soil_objects', soilObjects)
      this.loading = false
    },
    onClickNext () {
      // case soilSection === 'characteristics'
      if (this.soilSection === 'characteristics') {
        // display next section
        this.soilSection = 'samples'
        this.resetValidations()
      } else {
        // go to next page
        this.$router.push({
          name: 'visioneCompute'
        })
      }
    },
    onClickPrevious () {
      // case soilSection === 'characteristics'
      if (this.soilSection === 'characteristics') {
        // go to previous page
        this.$router.replace({
          name: 'visionePreviousCampaignOrganicFertilization'
        })
      } else {
        // display previous section
        this.soilSection = 'characteristics'
        this.resetValidations()
      }
    },
    onUpdateProperty (index, requiredPropertyId, value) {
      if (value != null && typeof value !== 'boolean' && !isNaN(value)) value = parseFloat(value)
      const soilObjects = JSON.parse(JSON.stringify(this.storeSoilObjects))
      soilObjects[index].observations = soilObjects[index].observations || {}
      soilObjects[index].observations[requiredPropertyId] = soilObjects[index].observations[requiredPropertyId] || {}
      soilObjects[index].observations[requiredPropertyId].value = value
      this.updateParameter('soil_objects', soilObjects)
    },
    resetValidations () {
      // this.$refs['soil-data'].forEach(component => component.resetValidation())
    },
    updateClay (index, value) {
      let v
      if (isNaN(value) || value == null || value === '') {
        v = null
      } else {
        v = value < 0 ? 0 : value > 100 ? 100 : value
      }
      this.onUpdateProperty(index, 'clay_pct', v)
    },
    updateSand (index, value) {
      let v
      if (isNaN(value) || value == null || value === '') {
        v = null
      } else {
        v = value < 0 ? 0 : value > 100 ? 100 : value
      }
      this.onUpdateProperty(index, 'sand_pct', v)
    },
    updateSoilTexture (index, value) {
      // set the texture
      this.onUpdateProperty(index, 'texture', value)
      // set default %clay and %sand associated to the texture
      const { clay, sand } = MAPPING_SOIL_TEXTURE_AND_SAND_CLAY_PERCENTAGES[value.id]
      this.onUpdateProperty(index, 'sand_pct', sand)
      this.onUpdateProperty(index, 'clay_pct', clay)
    }
  }
}
</script>
