<template>
  <div class="q-py-sm">
    <q-card>
      <q-card-section>
        <div class="text-h5 text-grey-8 q-mx-lg">
          <translate>Average yields of meadows</translate>
        </div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <div class=" text-center text-grey-8">
          <template v-if="is_North">
            <table class="q-table  q-table--horizontal-separator">
              <caption>Nord Sillon Sambre et Meuse</caption>
              <thead class="text-h6">
                <tr class="items-center">
                  <th
                    scope="col"
                    rowspan="2"
                  >
                    <translate>
                      Type
                    </translate>
                  </th>
                  <th
                    scope="col"
                    rowspan="2"
                  >
                    <translate>
                      Fauchée
                    </translate>
                  </th>
                  <th
                    scope="col"
                    colspan="3"
                    class="q-gutter-x-md"
                  >
                    <translate>
                      Mixte
                    </translate>
                  </th>
                  <th
                    scope="col"
                    rowspan="2"
                    class="q-gutter-x-md"
                  >
                    <translate>
                      Pâturée
                    </translate>
                  </th>
                </tr>
                <tr>
                  <th scope="col">
                    <translate>
                      Fauche
                    </translate>
                  </th>
                  <th scope="col">
                    <translate>
                      Pâturage
                    </translate>
                  </th>
                  <th
                    scope="col"
                    class="q-gutter-x-lg"
                  >
                    <translate>
                      Total
                    </translate>
                  </th>
                </tr>
              </thead>
              <tbody class="text-body1">
                <tr v-if="is_temporary">
                  <td>
                    <translate>Temporary meadow</translate>
                  </td>
                  <td>
                    8
                    <translate>to</translate>
                    17
                  </td>
                  <td>
                    2
                    <translate>to</translate>
                    6
                  </td>
                  <td>
                    2
                    <translate>to</translate>
                    6
                  </td>
                  <td>
                    7
                    <translate>to</translate>
                    12
                  </td>
                  <td>
                    5
                    <translate>to</translate>
                    10
                  </td>
                </tr>
                <tr v-if="is_permanent">
                  <td>
                    <translate>
                      Permanent meadow
                    </translate>
                  </td>
                  <td>
                    8
                    <translate>to</translate>
                    14
                  </td>
                  <td>
                    2
                    <translate>to</translate>
                    6
                  </td>
                  <td>
                    2
                    <translate>to</translate>
                    6
                  </td>
                  <td>
                    7
                    <translate>to</translate>
                    12
                  </td>
                  <td>
                    5
                    <translate>to</translate>
                    10
                  </td>
                </tr>
              </tbody>
            </table>
          </template>

          <template v-if="is_South">
            <table class="q-table q-table--horizontal-separator ">
              <caption>
                <translate>Sud Sillon Sambre et Meuse</translate>
              </caption>
              <thead class="text-h6">
                <tr class="items-center">
                  <th
                    scope="col"
                    rowspan="2"
                  >
                    <translate>
                      Type
                    </translate>
                  </th>
                  <th
                    scope="col"
                    rowspan="2"
                  >
                    <translate>
                      Fauchée
                    </translate>
                  </th>
                  <th
                    scope="col"
                    colspan="3"
                    class="q-gutter-x-md"
                  >
                    <translate>
                      Mixte
                    </translate>
                  </th>
                  <th
                    scope="col"
                    rowspan="2"
                    class="q-gutter-x-md"
                  >
                    <translate>
                      Pâturée
                    </translate>
                  </th>
                </tr>
                <tr>
                  <th scope="col">
                    <translate>
                      Fauche
                    </translate>
                  </th>
                  <th scope="col">
                    <translate>
                      Pâturage
                    </translate>
                  </th>
                  <th
                    scope="col"
                    class="q-gutter-x-lg"
                  >
                    <translate>
                      Total
                    </translate>
                  </th>
                </tr>
              </thead>
              <tbody class="text-body1">
                <tr v-if="is_temporary">
                  <td>
                    <translate>Temporary meadow</translate>
                  </td>
                  <td>
                    7
                    <translate>to</translate>
                    15
                  </td>
                  <td>
                    2
                    <translate>to</translate>
                    6
                  </td>
                  <td>
                    2
                    <translate>to</translate>
                    6
                  </td>
                  <td>
                    6
                    <translate>to</translate>
                    11
                  </td>
                  <td>
                    4
                    <translate>to</translate>
                    9
                  </td>
                </tr>
                <tr v-if="is_permanent">
                  <td>
                    <translate>
                      Permanent meadow
                    </translate>
                  </td>
                  <td>
                    7
                    <translate>to</translate>
                    13
                  </td>
                  <td>
                    2
                    <translate>to</translate>
                    6
                  </td>
                  <td>
                    2
                    <translate>to</translate>
                    6
                  </td>
                  <td>
                    6
                    <translate>to</translate>
                    11
                  </td>
                  <td>
                    4
                    <translate>to</translate>
                    9
                  </td>
                </tr>
              </tbody>
            </table>
          </template>
        </div>
      </q-card-section>
      <q-separator />
      <q-card-actions
        align="center"
      >
        <q-btn
          color="primary"
          @click="$emit('close')"
        >
          <translate>Close</translate>
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'AverageYieldMeadowsPopUp',
  data () {
    return {}
  },
  computed: {
    regionalArea () {
      return this.$store.state.fertilizationPlan.parameters.northSouthRegion
    },
    pastureType () {
      return this.$store.state.fertilizationPlan.parameters.pastureType
    },
    is_North () {
      // Check if regionalArea is an object with an 'id' property
      if (this.regionalArea && typeof this.regionalArea.id === 'string') {
        return parseInt(this.regionalArea.id) === 1
      }
      // Fallback to comparing regionalArea directly if it's not an object with an 'id'
      return this.regionalArea?.id === 1
    },
    is_South () {
      // Check if regionalArea is an object with an 'id' property
      if (this.regionalArea && typeof this.regionalArea.id === 'string') {
        return parseInt(this.regionalArea.id) === 2
      }
      // Fallback to comparing regionalArea directly if it's not an object with an 'id'
      return this.regionalArea?.id === 2
    },

    is_temporary () {
      if (this.pastureType && typeof this.pastureType.id === 'string') {
        return parseInt(this.pastureType.id) === 1
      }
      // Fallback to comparing regionalArea directly if it's not an object with an 'id'
      return this.pastureType?.id === 1
    },
    is_permanent () {
      if (this.pastureType && typeof this.pastureType.id === 'string') {
        return parseInt(this.pastureType.id) === 2
      }
      // Fallback to comparing regionalArea directly if it's not an object with an 'id'
      return this.pastureType?.id === 2
    }

  }
}
</script>

<style scoped>

</style>
