<template>
  <div class="q-py-sm text-grey-8">
    <q-card>
      <q-card-section>
        <div class="text-h5">
          <translate>Expected clover coverage rate in June</translate>
        </div>
      </q-card-section>

      <q-card-section class="row items-center bg-grey-3 text-grey-8">
        <translate>The photos represent the coverage rate achieved in June, which is the intermediate level between the winter exit coverage and the summer coverage. To avoid any risk of under-fertilization, the indicated percentage must be as representative as possible of the entire area for which the recommendation is established.</translate>
      </q-card-section>
      <q-card-section>

        <div class="">
          <div class="q-col-gutter-md row items-start">
            <div
              class="col-8 col-md-2"
              v-for="item in cloverlist"
              :key="item.caption"
            >
              <q-img
                ratio="1"
                :src="item.url"
              >
              </q-img>
            </div>
          </div>
        </div>
      </q-card-section>

      <q-separator />
      <q-card-actions
        align="center"
      >
        <q-btn
          color="primary"
          @click="$emit('close')"
        >
          <translate>Close</translate>
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>
<script>
import queryRequafertiGrasslandCloverImages from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandCloverImages'
export default {
  name: 'CloverCoveragePopUp',
  props: {
    clover: {
      type: Object || Array,
      required: true
    },
    permanent: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      cloverlist: undefined
    }
  },
  computed: {
    pastureType () {
      return this.$store.state.fertilizationPlan.parameters.pastureType
    }
  },
  methods: {
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandCloverImages,
        variables: {
          pasture_type_id: this.pastureType?.id
        },
        fetchPolicy
      })
      this.cloverlist = data?.requaferti_grassland__clover_coverage_images
    }
  },
  async mounted () {
    await this.loadConfig('cache-first')
  }
}
</script>

<style scoped>

</style>
