<template>
  <div class="q-mb-xs">
    <q-select
      v-model="storeGrazingMode"
      :label="$gettext('Grazing mode')"
      :option-label="getRequafertiGrasslandI18NFieldName('libelle')"
      :options="grazingMode"
      :rules="[val => !!val || 'This field is required']"
      class="q-mt-md"
      filled
      hide-bottom-space
      option-value="id"
    />
  </div>

  <div class="text-body2 text-grey-8 q-mb-xs">
    <translate>Is the pasture yield target known?</translate>
  </div>
  <q-btn-toggle
    v-model="known_grazing_yield"
    :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
    toggle-color="primary"
  />
  <template v-if="known_grazing_yield_isSet">
    <template v-if="has_known_grazing_yield">
      <q-input
        v-model.number="storeGrazingPerformanceObjective"
        :label="$gettext('Grazing performance objectve')"
        :min="0"
        :rules="[ val => val === '' || (Number(val) >= 0) || $gettext('Enter a positive content')]"
        :suffix="$gettext('t MS/ha')"
        class="q-mt-md"
        filled
        hide-bottom-space
        step="any"
        type="number"
      />
    </template>
    <template v-else>
      <q-input
        v-model.number="storeUGB"
        :label="$gettext('Large Livestock Unit')"
        :min="0"
        :rules="[ val => val === '' || (Number(val) >= 0) || $gettext('Enter a positive content')]"
        class="q-mt-md"
        filled
        hide-bottom-space
        step="any"
        type="number"
      >
        <template #after>
          <q-btn
            color="secondary"
            @click="need_help_ugb=true"
          >
            <translate>Show LLU</translate>
          </q-btn>
        </template>
      </q-input>

      <template v-if="need_help_ugb">
        <q-dialog
          v-model="need_help_ugb"
          :auto-close="isDesktopPlatform"
        >
          <UGBPopUp
            @close="need_help_ugb = !need_help_ugb"
          />
        </q-dialog>
      </template>

      <q-input
        v-model.number="storeNumberGrazeDays"
        :label="$gettext('Number of day of grazing')"
        :min="0"
        :rules="[ val => val === '' || (Number(val) >= 0)|| $gettext('Enter a positive content')]"
        class="q-mt-md"
        filled
        hide-bottom-space
        step="any"
        type="number"
      />
      <q-input
        v-model="storeIngestionRatio"
        :label="$gettext('Herb ingestion')"
        :min="0"
        :rules="[val => val === '' || (Number(val) >= 0) || $gettext('Enter a positive content')]"
        :suffix="$gettext('kg MS/LLU/Day')"
        class="q-mt-md"
        filled
        hide-bottom-space
        step="any"
        type="number"
        @blur="onIngestioRationChange"
      >
        <template #after>
          <q-btn
            color="secondary"
            @click="need_help_ingestion_ratio=true"
          >
            <translate>Help</translate>
          </q-btn>
        </template>
      </q-input>

      <template v-if="need_help_ingestion_ratio">
        <q-dialog
          v-model="need_help_ingestion_ratio"
          :auto-close="isDesktopPlatform"
        >
          <IngestioRatioPopUp
            @close="need_help_ingestion_ratio= !need_help_ingestion_ratio"
          />
        </q-dialog>
      </template>
    </template>
  </template>
</template>

<style scoped>

</style>

<script>
import RequafertiGrasslandI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/mixins/RequafertiGrasslandI18nMixin'
import AlgorithmsMixins from 'pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import UGBPopUp from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/components/UGBPopUp.vue'
import IngestioRatioPopUp
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/components/IngestioRatioPopUp.vue'
import { PlatformMixin } from 'src/mixins/PlatformMixin'

export default {
  name: 'GrazingYieldForm',
  components: { IngestioRatioPopUp, UGBPopUp },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiGrasslandI18nMixin],
  props: {
    grazingMode: {
      type: Object || Array,
      required: true
    }
  },
  data () {
    return {
      known_grazing_yield: undefined,
      need_help_ugb: false,
      need_help_ingestion_ratio: false
    }
  },
  computed: {
    known_grazing_yield_isSet () {
      return this.known_grazing_yield !== undefined
    },
    has_known_grazing_yield () {
      return this.known_grazing_yield
    },
    storeGrazingMode: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.grazingMode
      },
      set (v) {
        this.updateParameter('grazingMode', v)
      }
    },
    storeGrazingPerformanceObjective: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.grazingPerformanceObjective
      },
      set (v) {
        this.updateParameter('grazingPerformanceObjective', v)
      }
    },
    storeUGB: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.ugbNumber
      },
      set (v) {
        this.updateParameter('ugbNumber', v)
      }
    },
    storeNumberGrazeDays: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.numberGrazeDays
      },
      set (v) {
        this.updateParameter('numberGrazeDays', v)
      }
    },
    storeIngestionRatio: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.ingestionRatio
      },
      set (v) {
        this.updateParameter('ingestionRatio', v)
      }
    }

  },
  methods: {
    onIngestioRationChange () {
      if (!this.storeIngestionRatio) {
        this.storeIngestionRatio = 17.2
      }
    },
    canContinue () {
      let allValid = true

      if (this.storeGrazingMode === undefined) allValid = false

      if (this.known_grazing_yield) {
        if (!this.isParameterSet(this.storeGrazingPerformanceObjective)) allValid = false
      }

      if (!this.known_grazing_yield) {
        if (!this.isParameterSet(this.storeUGB)) allValid = false
        if (!this.isParameterSet(this.storeNumberGrazeDays)) allValid = false
        if (!this.isParameterSet(this.storeIngestionRatio)) allValid = false
      }

      return allValid
    }
  },
  mounted () {
    if (this.isParameterSet(this.storeGrazingPerformanceObjective) && this.storeGrazingPerformanceObjective !== undefined) {
      this.known_grazing_yield = true
    }
    if (this.isParameterSet(this.storeUGB) && this.isParameterSet(this.storeNumberGrazeDays)) {
      this.known_grazing_yield = false
    }
  },
  watch: {
    known_grazing_yield (newValue, oldValue) {
      if (newValue === oldValue) return
      if (newValue === false) {
        this.storeGrazingPerformanceObjective = undefined
      }
      if (newValue === true) {
        this.storeNumberGrazeDays = undefined
        this.storeUGB = undefined
        this.storeIngestionRatio = undefined
      }
    }
  }

}
</script>
