<template>
  <div class="q-py-sm">
    <q-card>
      <q-card-section>
        <div class="text-h5 text-grey-8">
          <translate>Example of calculation for ingestion ration</translate>
        </div>
      </q-card-section>
      <q-card-section class="q-pt-none text-grey-8">
        <p>
        <translate>
          The average intake of grass is <strong>17.2 kg of dry matter (DM) per Livestock Unit (LU) per day</strong>.
        </translate>
        </p>
        <p>
          <translate>
            However, if an animal, which represents 1 LU, receives a daily supplement of <strong>2 kg of DM</strong>, the grass intake is reduced to <strong>15.2 kg of DM per day</strong>.
          </translate>
        </p>
        </q-card-section>
      <q-separator />
      <q-card-actions
        align="center"
      >
        <q-btn
          color="primary"
          @click="$emit('close')"
        >
          <translate>Close</translate>
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'IngestioRatioPopUp'
}
</script>

<style scoped>

</style>
