<template>
  <div class="q-py-sm">
    <q-card>
      <q-card-section>
        <div class="text-h6 text-grey-8" />
      </q-card-section>
      <q-card-section class="q-pt-none text-body1 text-grey-8">
        <p><translate>The organic matter content of the soil generally represents 1 to 10% of the soil's mass. Its value corresponds to 1.5 to 2 times the value of the soil's total organic carbon.</translate>  </p>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-actions
        align="center">
        <q-btn
          color="primary"
          @click="$emit('close')">
          <translate>Close</translate>
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>
<script>
export default {
  name: 'OrganicMatterPopUp'
}
</script>
<style scoped>

</style>
