<template>
  <q-card
    :square="!isDesktopPlatform"
    class="column no-wrap col"
  >
    <q-banner class="bg-grey-3 text-grey-8 q-mb-md">
      <translate>This nitrogen fertilization recommendation is provided by the nitrogen prairie module of REQUAFERTI, a web tool developed by REQUASUD in collaboration with CRA-W and based on the fertiprairie web tool developed by Protect’eau. This tool is based on the method of the forecast balance at the scale of the plot.</translate>
    </q-banner>

    <FertilizationResultHeader
      :crop-yield="cropYield"
      :crop-yield-unit="cropYieldUnit"
      :plant-species-name="plantSpeciesName"
      :plot-id="plotId"
      :plot-name="plotName"
    />
    <div class="q-pb-sm">
      <RequafertiGrasslandResultItem
        :label="$gettext('Needs')"
        :npk-element="needsNElement"
      />

      <RequafertiGrasslandResultItem
        :label="$gettext('Supplies')"
        :npk-element="suppliesNElement"
      />

      <RequafertiGrasslandResultItem
        :label="$gettext('Recommendation')"
        :npk-element="recommendationNElement"
        bold
      />

      <div class="text-caption text-grey text-left q-ml-md">
        <translate>All numbers in kg/ha</translate>
      </div>

      <q-banner
        v-if="displayRecommendationNegativeWarning"
        class="bg-yellow-4 text-grey-8 q-mx-md q-mt-sm"
      >
        <q-icon
          class="q-pr-xs"
          name="las la-exclamation-circle"
        />
        <translate>The recommendation is negative: there is too much nitrogen provided to the crop.</translate>
      </q-banner>
    </div>
    <template v-if="!displayRecommendationNegativeWarning">
      <RequafertiGrasslandFertilizerRepartition
        :fertilizer-repartition="storeFertilizerAdvice"
      />
    </template>
    <!-- buttons -->
    <slot name="action-buttons" />
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import RequafertiGrasslandResultItem
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/components/RequafertiGrasslandResultItem'
import FertilizationResultHeader
  from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationResultHeader'
import { resultTypes } from 'src/services/fieldbook/fertilization/fertilizationPlan'
import RequafertiGrasslandFertilizerRepartition
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/components/RequafertiGrasslandFertilizerRepartition.vue'

export default {
  name: 'RequafertiGrasslandResultsCard',
  mixins: [PlatformMixin],
  components: {
    RequafertiGrasslandFertilizerRepartition,
    RequafertiGrasslandResultItem,
    FertilizationResultHeader
  },
  props: {
    fertilizationPlanResults: {
      type: Object,
      required: true
    }
  },
  computed: {
    plotId () {
      return this.fertilizationPlanResults.plot_id
    },
    plotName () {
      return String(this.fertilizationPlanResults.plot_name || this.fertilizationPlanResults.plot_id)
    },
    plantSpeciesName () {
      return this.fertilizationPlanResults.plant_species_name
    },
    cropYield () {
      const yieldValue = this.fertilizationPlanResults.crop_yield
      if (typeof yieldValue === 'number' && !isNaN(yieldValue)) {
        return Math.round(yieldValue * 100) / 100
      }
      return yieldValue
    },
    cropYieldUnit () {
      return this.fertilizationPlanResults.crop_yield_unit
    },
    needsNElement () {
      return this.fertilizationPlanResults.element_recommendations.filter(element => element.result_type === resultTypes.PLANT_NEEDS)
    },
    suppliesNElement () {
      return this.fertilizationPlanResults.element_recommendations.filter(element => element.result_type === resultTypes.PLANT_SUPPLIES)
    },
    recommendationNElement () {
      return this.fertilizationPlanResults.element_recommendations.filter(element => element.result_type === resultTypes.RECOMMENDATION)
    },
    storeFertilizerAdvice () {
      return this.fertilizationPlanResults.fertilizer_application || []
    },
    displayRecommendationNegativeWarning () {
      const sum = this.recommendationNElement.reduce((acc, current) => acc + current.quantity, 0)
      return sum < 0
    }

  }
}
</script>
