<template>
  <q-card-section class="q-pb-none bg-grey-3">
    <div class="text-grey-8 q-mb-xs">
      <translate>Pass</translate>&nbsp; {{ cnt }} :&nbsp; {{ passes_Counter }}
    </div>
  </q-card-section>
  <slot />
</template>
<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import RequafertiGrasslandI18nMixin from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/mixins/RequafertiGrasslandI18nMixin'

export default {
  name: 'RequafertiGrasslandPass',
  mixins: [
    PlatformMixin,
    DateMixin,
    RequafertiGrasslandI18nMixin
  ],
  components: { },
  computed: {
    passes_Counter () {
      if (!this.show_counter) return ''
      return this.pass.passes.length + ' / ' + this.pass.max
    }
  },
  props: {
    pass: {
      required: true
    },
    show_counter: {
      type: Boolean,
      default: false
    },
    cnt: null
  }
}
</script>

<style scoped>

</style>
