<template>
  <q-card class="column no-wrap col">
    <div
      class="q-pa-md q-mb-none"
    >
      <q-banner v-show="isRepartionListNotEmpty" class="text-bold text-grey-8 q-mb-sm q-mt-lg items-center">
          <strong><translate>Simulation of mineral fertilizer input. Attention: the simulation can't be saved.</translate></strong>
        </q-banner>

      <q-card-section
        v-for="(item, index) in repartitionList"
        :key="index"
        class="q-pa-none q-mb-none"
      >
        <div class="q-pa-md q-mb-none ">
          <div :class="{ 'row': !isPlatformMobile, 'column': isPlatformMobile }">
            <div class="col-4">
              <q-field
                :label="getPassName(item)"
                stack-label
                filled
                hide-bottom-space
                disable
              >
                <template #default>
                  <div class="col-all q-pt-none q-pb-sm  text-grey-8">
                    {{ item.advice }}
                  </div>
                </template>
              </q-field>
            </div>
            <template v-if="showTemplate(item)">
              <div class="col-8">
                <div class="row text-grey-8 q-mx-md text-center">
                  <div class="col-12">
                    <translate>Calculation of the fertilizer dosage to be applied.</translate>
                  </div>
                </div>
                <div
                  class="row col-12"
                  :class="{ 'row': !isPlatformMobile, 'column': isPlatformMobile }"
                >
                  <div class="col-1" />
                  <div class="col">
                    <q-select
                      :model-value="item.mineralFertilizer"
                      :label="$gettext('Mineral fertilizer')"
                      stack-label
                      :options="mineralFertilizer"
                      option-value="id"
                      :option-label="getRequafertiGrasslandI18NFieldName('libelle')"
                      @update:model-value="updateMineralFertilizer($event,item)"
                      :disable="isTheoriticalAdviceLessOrEqualToZero(item)"
                    />
                  </div>
                  <div class="col-2 col-md-3">
                    <q-input
                      :label="$gettext('Nitrogen concentration')"
                      stack-label
                      filled
                      :disable="!enableIfOther(item)"
                      :model-value="item.nitrogen_content"
                      suffix="%"
                      @update:model-value="updateNitrogenContent($event,item)"
                    />
                  </div>
                  <div class="col-2 col-md-3">
                    <q-input
                      v-model="item.dosage"
                      filled
                      stack-label
                      disable
                      :label="$gettext('Quantity')"
                      :suffix="$gettext('kg/ha')"
                    />
                  </div>
                </div>
              </div>
            </template>
            <template v-else>
              <div class="col-8">
                <q-banner class="bg-yellow-2 text-grey-8 q-mx-md ">
                  <q-icon
                    name="las la-exclamation-circle"
                    class="q-pr-xs"
                  />
                  <translate>There is no need to add fertilizer before this stage.</translate>
                </q-banner>
              </div>
            </template>
          </div>
        </div>
        <q-separator v-show="isPlatformMobile" />
      </q-card-section>
    </div>
  </q-card>
</template>

<style scoped>

</style>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { getI18nField } from 'src/services/translate'
import AlgorithmsMixins from 'pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import RequafertiGrasslandI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/mixins/RequafertiGrasslandI18nMixin'
import queryRequafertiGrasslandConfig
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandConfig'

export default {
  name: 'RequafertiGrasslandFertilizerRepartition',
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiGrasslandI18nMixin],
  props: {
    fertilizerRepartition: {
      type: [Array],
      required: true
    }
  },
  data () {
    return {
      requafertiConfig: undefined,
      repartitionList: undefined
    }
  },
  computed: {
    mineralFertilizer () {
      return this.requafertiConfig?.prairie_engrais_min
    },
    isPlatformMobile () {
      return this.$q.screen.width <= 600
    },
    isRepartionListNotEmpty () {
      return this.repartitionList && Array.isArray(this.repartitionList) && this.repartitionList.length > 0
    }

  },
  methods: {
    getAdviceText (item) {
      return `${item.r_conseil_theorique} kgN/ha ${this.$gettext('before')} ${getI18nField(item.passage, 'libelle')}`
    },
    getPassName (item) {
      return `${this.$gettext('Pass')} ${item.pass_type}`
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_grassland__config
    },
    computeDosage (theoriticalAdvice, nitrogen_content) {
      if (theoriticalAdvice > 0 && nitrogen_content > 0) {
        const result = (theoriticalAdvice / nitrogen_content) * 100
        return Math.round(result)
      }
      return 0
    },
    updateNitrogenContent (event, item) {
      const index = this.repartitionList.findIndex(i => i.id === item.id)
      if (index !== undefined) {
        const obj = this.repartitionList[index]
        const nitrogen_content = { nitrogen_content: event }
        const dosage = { dosage: this.computeDosage(item.r_conseil_theorique, event) }
        this.repartitionList[index] = { ...obj, ...nitrogen_content, ...dosage }
      }
    },
    updateMineralFertilizer (event, item) {
      this.repartitionList.forEach((obj, index) => {
        if (obj.id === item.id) {
          const nitrogen_content = { nitrogen_content: event.teneur_n_min }
          const dosage = { dosage: this.computeDosage(item.r_conseil_theorique, event.teneur_n_min) }
          this.repartitionList[index] = { ...obj, ...nitrogen_content, ...dosage, ...{ mineralFertilizer: event } }
        }
      })
    },
    enableIfOther (item) {
      return parseInt(item?.mineralFertilizer?.id) === 10
    },
    isTheoriticalAdviceLessOrEqualToZero (item) {
      return item?.r_conseil_theorique <= 0
    },
    showTemplate (item) {
      if (this.isPlatformMobile || !this.isPlatformMobile) {
        if (this.isTheoriticalAdviceLessOrEqualToZero(item)) return false
      }
      return true
    }

  },
  async mounted () {
    await this.loadConfig('cache-first')

    this.repartitionList = [...this.fertilizerRepartition]

    this.repartitionList.forEach((item, index) => {
      const temp = { advice: this.getAdviceText(item) }
      this.repartitionList[index] = { ...item, ...temp }
    })
  }
}
</script>
