<template>
  <div class="q-py-sm">
    <q-card>
      <q-card-section class="text-grey-8">
        <p>
          <translate>Optimal weather conditions: rainy weather, high relative humidity, overcast sky, light wind, low
            temperature (5°C) (Agra Ost, n.d.).
          </translate>
        </p>
      </q-card-section>
      <q-separator/>
      <q-card-actions
        align="center"
      >
        <q-btn
          color="primary"
          @click="$emit('close')"
        >
          <translate>Close</translate>
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'SpreadingConditionPopup'
}
</script>

<style scoped>

</style>
