<template>
  <div class="q-py-sm">
    <q-card class="column no-wrap q-gutter-x-xl">
      <q-card-section>
        <div class="text-h5 text-grey-8">
          <translate>Show LLU</translate>
        </div>
      </q-card-section>
      <q-card-section class="q-pt-none center q-mx-xl">
        <div class="text-h6 text-grey-8">
          <translate>Bovin</translate>
        </div>
        <div class="col-12 text-grey-8">
          <div
            v-for="item in ugbList?.bovin"
            :key="item.libelle"
            class="row q-ma-sm"
          >
            <div class="col-10 col-md-11 text-body1">
              {{ getTranslatedRessource(item,'libelle') }}
            </div>
            <div class="col-2 col-md-1 text-body1 q-px-sm">
              {{ item.ugb }}
            </div>
          </div>
        </div>
        <div class="text-h6 text-grey-8">
          <translate>Ovin</translate>
        </div>
        <div class="col-12 text-grey-8">
          <div
            v-for="item in ugbList?.ovin"
            :key="item.libelle"
            class="row q-ma-sm"
          >
            <div class="col-10 col-md-11 text-body1">
              {{ getTranslatedRessource(item,'libelle') }}
            </div>
            <div class="col-2 col-md-1 text-body1 q-px-sm ">
              {{ item.ugb }}
            </div>
          </div>
        </div>
      </q-card-section>
      <q-separator />
      <q-card-actions align="center">
        <q-btn
          color="primary"
          @click="$emit('close')"
        >
          <translate>Close</translate>
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>

import queryRequafertiGrasslandUGB
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandUGB'
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import RequafertiGrasslandI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/mixins/RequafertiGrasslandI18nMixin'
import { getI18nFieldName } from 'src/services/translate'

export default {
  name: 'UGBPopUp',
  mixins: [PlatformMixin, RequafertiGrasslandI18nMixin],
  data () {
    return {
      ugbList: undefined
    }
  },
  methods: {
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandUGB,
        fetchPolicy
      })
      this.ugbList = data?.requaferti_grassland__ugb
    },

    getTranslatedRessource (item, fieldname) {
      const i8n = getI18nFieldName(fieldname)
      if (item[i8n]) {
        return item[i8n]
      }
      return item[fieldname]
    }
  },
  computed: {
    groupedData () {
      const result = []
      // Process "bovin" group
      this.ugbList?.bovin.forEach(item => {
        result.push({ group: 'bovin', ...item })
      })
      // Process "ovin" group
      this.ugbList?.ovin.forEach(item => {
        result.push({ group: 'ovin', ...item })
      })
      return result
    }
  },
  async mounted () {
    await this.loadConfig('cache-first')
  }
}
</script>

<style scoped>

</style>
