<template>
  <div
    style="position: fixed; pointer-events: none; z-index: 10000;"
    :style="{bottom: fabPos[0] + 'px ', left: fabPos[1] + 'px'}"
  >
    <q-fab
      icon="fab fa-dev"
      direction="up"
      color="accent"
      :disable="draggingFab"
      v-touch-pan.prevent.mouse="moveFab"
      style="pointer-events: auto;"
    >
      <q-fab-action
        v-if="currentLayout === 'mobile'"
        @click="onClick('desktop')"
        color="primary"
        icon="las la-desktop"
        :disable="draggingFab"
      />
      <q-fab-action
        v-else
        @click="onClick('mobile')"
        color="primary"
        icon="las la-mobile-alt"
        :disable="draggingFab"
      />
      <q-fab-action
        @click="clearCache"
        color="secondary"
        icon="las la-trash"
        :disable="draggingFab"
      />
      <q-fab-action
        @click="$router.push({name: 'testPlugins'})"
        color="secondary"
        icon="las la-random"
        :disable="draggingFab"
      />
    </q-fab>
  </div>
</template>

<script>
import { persistor } from 'src/graphql/apollo/cache'

export default {
  name: 'DevButton',
  data () {
    return {
      fabPos: [130, 0],
      draggingFab: false
    }
  },
  computed: {
    currentLayout () {
      return this.$store.state.appState.currentPlatform
    }
  },
  methods: {
    async clearCache () {
      // clear the apollo persisted cache
      await this.$apollo.getClient().resetStore()
      await persistor.remove()
      await persistor.purge()
      await persistor.persist()
      window.location.reload()
    },
    onClick (value) {
      // Change the layout (desktop / mobile)
      this.$store.dispatch('appState/changeUserPreferredPlatform', value)
    },
    moveFab (ev) {
      this.draggingFab = ev.isFirst !== true && ev.isFinal !== true
      this.fabPos = [
        this.fabPos[0] - ev.delta.y,
        this.fabPos[1] + ev.delta.x
      ]
    }
  }
}
</script>
