<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Set your greenhouse area</translate>:
            </div>
            <q-input
              :model-value="storeGreenhouseSize"
              filled
              type="number"
              :label="$gettext('Greenhouse area')"
              :suffix="$pgettext('unit', 'm2')"
              :rules="rulesPositiveNumber"
              :min="greenhouseSizeMin"
              :max="greenhouseSizeMax"
              @update:model-value="value => storeGreenhouseSize = value < greenhouseSizeMin ? greenhouseSizeMin : Math.abs(value)"
              hide-bottom-space
              :loading="!hasLoadedInputsControl"
            />
          </q-card-section>

          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Select your cropping media</translate>:
            </div>
            <div v-if="!hasLoadedCroppingMedia">
              <q-spinner-dots
                size="24px"
                color="primary"
              />
            </div>
            <q-option-group
              v-else
              type="radio"
              v-model="storeCroppingMediaId"
              :options="croppingMediumOptions"
              style="margin-bottom: -8px;"
            />
          </q-card-section>

          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Set the efficiency coefficient of the irrigation water (water salinity)</translate>:
            </div>
            <q-input
              :model-value="storeEfficiencyCoefficient"
              filled
              type="number"
              :label="$gettext('efficiency coefficient of the irrigation water')"
              :rules="rulesPositiveOrNullNumber"
              :min="efficiencyCoefficientMin"
              :max="efficiencyCoefficientMax"
              step="0.1"
              @update:model-value="value => storeEfficiencyCoefficient = value < efficiencyCoefficientMin ? efficiencyCoefficientMin : value > efficiencyCoefficientMax ? efficiencyCoefficientMax : Math.abs(value)"
              hide-bottom-space
              :loading="!hasLoadedInputsControl"
            />
          </q-card-section>

          <q-card-section v-if="hasLoadedCroppingMedia && askForDrainageFractionValue">
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Set the drainage fraction value</translate>:
            </div>
            <q-input
              :model-value="storeDrainageFractionValue"
              filled
              type="number"
              :label="$gettext('drainage fraction value')"
              suffix="dS/m"
              :rules="rulesPositiveOrNullNumber"
              :min="drainageFractionValueMin"
              :max="drainageFractionValueMax"
              @update:model-value="value => storeDrainageFractionValue = value < drainageFractionValueMin ? drainageFractionValueMin : value > drainageFractionValueMax ? drainageFractionValueMax : Math.abs(value)"
              hide-bottom-space
              :loading="!hasLoadedInputsControl"
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import VegsystMixin from 'src/pages/fieldbook/fertilization/algorithms/vegsyst/mixins/VegsystMixin'
import queryVegsystCroppingMedia from 'src/pages/fieldbook/fertilization/algorithms/vegsyst/graphql/queryVegsystCroppingMedia'
import queryVegsystAllData from 'src/pages/fieldbook/fertilization/algorithms/vegsyst/graphql/queryVegsystAllData'

export default {
  name: 'VegsystGreenhousePage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, VegsystMixin],
  data () {
    return {
      croppingMedium: [],
      hasLoadedCroppingMedia: false
    }
  },
  computed: {
    askForDrainageFractionValue () {
      return this.storeCroppingMedia?.id === 'Sustrato'
    },
    canContinue () {
      if (!this.storeGreenhouseSize || this.storeEfficiencyCoefficient == null) {
        return false
      }
      if (this.storeCroppingMedia == null) {
        return false
      } else {
        if (this.askForDrainageFractionValue && this.storeDrainageFractionValue == null) {
          return false
        }
      }
      return true
    },
    croppingMediumOptions () {
      return this.croppingMedium.map(croppingMedia => {
        return {
          ...croppingMedia,
          value: croppingMedia.id
        }
      })
    },
    drainageFractionValueMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.drainage_fraction_value?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    drainageFractionValueMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.drainage_fraction_value?.max_value ?? undefined
      } else {
        return undefined
      }
    },
    efficiencyCoefficientMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_system_uniformity_coefficient?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    efficiencyCoefficientMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_system_uniformity_coefficient?.max_value ?? undefined
      } else {
        return undefined
      }
    },
    greenhouseSizeMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.greenhouse_size?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    greenhouseSizeMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.greenhouse_size?.max_value ?? undefined
      } else {
        return undefined
      }
    },
    pageTitle () {
      return this.$gettext('Greenhouse')
    },
    pageSubTitle () {
      return 'VegSyst'
    },
    rulesPositiveNumber () {
      return [
        val => val != null || `* ${this.$gettext('This field is required')}`,
        val => val > 0 || `${this.$gettext('This field must be positive')}`
      ]
    },
    rulesPositiveOrNullNumber () {
      return [
        val => val != null || `* ${this.$gettext('This field is required')}`,
        val => val >= 0 || `${this.$gettext('This field must be positive')}`
      ]
    },
    storeGreenhouseSize: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.greenhouseSize
      },
      set (v) {
        this.updateParameter('greenhouseSize', v)
      }
    },
    storeCroppingMedia: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.croppingMedia
      },
      set (v) {
        this.updateParameter('croppingMedia', v)
      }
    },
    storeCroppingMediaId: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.croppingMedia?.id
      },
      set (v) {
        this.updateParameter('croppingMedia', this.croppingMedium.find(cm => cm.id === v))
      }
    },
    storeEfficiencyCoefficient: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.efficiencyCoefficient
      },
      set (v) {
        this.updateParameter('efficiencyCoefficient', v)
      }
    },
    storeDrainageFractionValue: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.drainageFractionValue
      },
      set (v) {
        this.updateParameter('drainageFractionValue', v)
      }
    }
  },
  apollo: {
    croppingMedium: {
      query: queryVegsystCroppingMedia,
      notifyOnNetworkStatusChange: true,
      update (data) {
        this.hasLoadedCroppingMedia = true
        return data.vegsyst__cropping_media
      }
    },
    preLoadVegsystData: {
      query: queryVegsystAllData,
      notifyOnNetworkStatusChange: true,
      update: data => data
    }
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'vegsystCropProfilePage'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'fertilizationPlanPlotSelection'
      })
    },
    onInputControlQueryUpdate (inputControls) {
      // set default values if necessary:
      // greenhouse
      if (this.storeGreenhouseSize == null && inputControls?.greenhouse_size?.default_value != null) {
        this.storeGreenhouseSize = inputControls.greenhouse_size.default_value
      }
      // efficiency coefficient
      if (this.storeEfficiencyCoefficient == null && inputControls?.irrigation_system_uniformity_coefficient?.default_value != null) {
        this.storeEfficiencyCoefficient = inputControls.irrigation_system_uniformity_coefficient.default_value
      }
      // drainage
      if (this.storeDrainageFractionValue == null && inputControls?.drainage_fraction_value?.default_value != null) {
        this.storeDrainageFractionValue = inputControls.drainage_fraction_value.default_value
      }
    }
  }
}
</script>
