<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <VegsystResultsCard :fertilization-plan-parameters="$store.state.fertilizationPlan.parameters" />
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import VegsystResultsCard from 'src/pages/fieldbook/fertilization/algorithms/vegsyst/components/VegsystResultsCard'

export default {
  name: 'VegsystResultsPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    VegsystResultsCard
  },
  mixins: [PlatformMixin, DateMixin],
  data () {
    return {
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Results')
    },
    pageSubTitle () {
      return 'VegSyst'
    }
  },
  apollo: {
  },
  methods: {
  }
}
</script>
