<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Select a crop for this plot:</translate>
            </div>
            <div
              v-if="hasLoadedPlantSpecies && plotPlantSpeciesNotSupported === false"
              class="text-small text-secondary q-mb-sm"
            >
              <translate>The crop declared in for this plot has been pre-filled.</translate>
            </div>
            <q-select
              v-model="storePlantSpecies"
              :options="plantSpecies"
              option-value="id"
              option-label="name"
              filled
              :loading="!hasLoadedPlantSpecies"
              :label="$gettext('Crop')"
            />
            <q-banner
              v-if="plantSpecies && plantSpecies.length > 0 && plotPlantSpeciesNotSupported && storePlantSpecies == null"
              class="bg-info text-white q-mt-sm"
            >
              <div class="">
                <translate>
                  Unfortunately, the crop declared in for this plot is not yet available for recommendations.
                </translate>
                <translate>
                  You can still choose another crop.
                </translate>
              </div>
            </q-banner>
          </q-card-section>

          <q-card-section v-if="vegsystCropProfilesByPlantSpecies !=null">
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Select a crop profile:</translate>
            </div>
            <q-select
              v-model="storeCropProfile"
              :options="vegsystCropProfilesByPlantSpecies"
              option-value="id"
              option-label="profile_name"
              filled
              :loading="!hasLoadedPlantSpecies"
              :disable="storePlantSpecies==null"
              :label="$gettext('Crop profile')"
            />
          </q-card-section>

          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Select your planting method</translate>:
            </div>
            <div v-if="!hasLoadedVegsystPlantingMethod">
              <q-spinner-dots
                size="24px"
                color="primary"
              />
            </div>
            <q-option-group
              v-else
              type="radio"
              v-model="storePlantingMethodId"
              :options="vegsystPlantingMethodOptions"
              style="margin-bottom: -8px;"
            />
          </q-card-section>

          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Indicate your planting dates</translate>:
            </div>
            <translate class="text-grey">
              Starting date
            </translate>
            <div class="col q-mb-md">
              <DateSelectorInput
                v-model="storePlantingMethodFrom"
                :date-options="startDateOptions"
              />
            </div>
            <translate class="text-grey">
              Ending date
            </translate>
            <div class="col q-mb-md">
              <DateSelectorInput
                v-model="storePlantingMethodTo"
                :date-options="endDateOptions"
              />
            </div>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { date } from 'quasar'

import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import DateSelectorInput from 'src/components/form/DateSelectorInput'
import queryVegsystCropProfiles from 'src/pages/fieldbook/fertilization/algorithms/vegsyst/graphql/queryVegsystCropProfiles'
import queryVegsystPlantingMethod from 'src/pages/fieldbook/fertilization/algorithms/vegsyst/graphql/queryVegsystPlantingMethod'
import queryPlantSpeciesNameFilteredByIds from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryPlantSpeciesNameFilteredByIds'

const { formatDate } = date

export default {
  name: 'VegsystCropProfilePage',
  components: {
    GenericLayout,
    Header,
    Footer,
    DateSelectorInput
  },
  mixins: [PlatformMixin, DateMixin, AlgorithmsMixins],
  data () {
    return {
      plantSpecies: [],
      vegsystCropProfiles: [],
      vegsystPlantingMethods: [],
      hasLoadedPlantSpecies: false,
      hasLoadedVegsystCropProfiles: false,
      hasLoadedVegsystPlantingMethod: false,
      plotPlantSpeciesNotSupported: null
    }
  },
  computed: {
    availablePlantSpeciesIds () {
      // get all unique plant species id from the crop profiles
      return this.vegsystCropProfiles.map(cropProfile => cropProfile.plant_species_id).filter((v, i, a) => a.indexOf(v) === i)
    },
    canContinue () {
      return this.storePlantSpecies != null &&
        this.storeCropProfile != null &&
        this.storePlantingMethod != null &&
        this.storePlantingMethodFrom != null &&
        this.storePlantingMethodTo != null
    },
    pageTitle () {
      return this.$gettext('Crop profile')
    },
    pageSubTitle () {
      return 'VegSyst'
    },
    storeCropProfile: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.cropProfile
      },
      set (v) {
        this.updateParameter('cropProfile', v)
      }
    },
    storePlantSpecies: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.plantSpecies
      },
      set (v) {
        this.updateParameter('plantSpecies', v)
      }
    },
    storePlantingMethod: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.plantingMethod
      },
      set (v) {
        this.updateParameter('plantingMethod', v)
      }
    },
    storePlantingMethodId: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.plantingMethod?.id
      },
      set (v) {
        this.updateParameter('plantingMethod', this.vegsystPlantingMethods.find(pm => pm.id === v))
      }
    },
    storePlantingMethodFrom: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.plantingMethodFrom
      },
      set (v) {
        this.updateParameter('plantingMethodFrom', v)
      }
    },
    storePlantingMethodTo: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.plantingMethodTo
      },
      set (v) {
        this.updateParameter('plantingMethodTo', v)
      }
    },
    vegsystCropProfilesByPlantSpecies () {
      if (this.hasLoadedVegsystCropProfiles) {
        if (this.storePlantSpecies != null) {
          return this.vegsystCropProfiles.filter(cp => cp.plant_species_id === this.storePlantSpecies.id)
        }
      }
      return []
    },
    vegsystPlantingMethodOptions () {
      return this.vegsystPlantingMethods.map(plantingMethod => {
        return {
          ...plantingMethod,
          value: plantingMethod.id
        }
      })
    }
  },
  watch: {
    vegsystCropProfilesByPlantSpecies (newCropProfiles) {
      // automatically select the first crop profile if there is no selected crop profile or if the selected one is
      // not in the list
      if (newCropProfiles.length) {
        if (newCropProfiles.find(cp => cp.id === this.storeCropProfile?.id) == null) {
          this.storeCropProfile = newCropProfiles[0]
        }
      }
    }
  },
  apollo: {
    vegsystCropProfiles: {
      query: queryVegsystCropProfiles,
      notifyOnNetworkStatusChange: true,
      update (data) {
        this.hasLoadedVegsystCropProfiles = true
        return data.vegsyst__crop
      }
    },
    plantSpecies: {
      query: queryPlantSpeciesNameFilteredByIds,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          ids: this.availablePlantSpeciesIds
        }
      },
      update (data) {
        // check if there is a plant species declared for this plot and select it if possible
        if (this.$store.state.fertilizationPlan.target?.plot_plant_variety?.plant_variety?.plant_species != null) {
          const p = data.plant_species.find(ps => ps.id === this.$store.state.fertilizationPlan.target?.plot_plant_variety?.plant_variety?.plant_species?.id)
          if (p != null) {
            this.storePlantSpecies = p
            this.plotPlantSpeciesNotSupported = false
          } else {
            this.plotPlantSpeciesNotSupported = true
          }
        } else {
          this.plotPlantSpeciesNotSupported = null
        }
        this.hasLoadedPlantSpecies = true
        return data.plant_species
      },
      skip () {
        return !this.hasLoadedVegsystCropProfiles
      }
    },
    vegsystPlantingMethods: {
      query: queryVegsystPlantingMethod,
      notifyOnNetworkStatusChange: true,
      update (data) {
        this.hasLoadedVegsystPlantingMethod = true
        return data.vegsyst__planting_method
      }
    }
  },
  methods: {
    endDateOptions (date) {
      if (this.storePlantingMethodFrom != null) {
        return date >= formatDate(this.storePlantingMethodFrom, 'YYYY/MM/DD')
      } else {
        return true
      }
    },
    onClickNext () {
      this.$router.push({
        name: 'vegsystWhiteningPage'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'vegsystGreenhousePage'
      })
    },
    startDateOptions (date) {
      if (this.storePlantingMethodTo != null) {
        return date <= formatDate(this.storePlantingMethodTo, 'YYYY/MM/DD')
      } else {
        return true
      }
    }
  }
}
</script>
