<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-md"
            >
              <translate>Fill in your soil information</translate>:
            </div>
            <q-input
              :model-value="storeSoilBulkDensity"
              filled
              type="number"
              :label="$gettext('Soil bulk density')"
              :suffix="$pgettext('unit', 't/m3')"
              :rules="rulesPositiveNumber"
              :min="soilBulkDensityMin"
              :max="soilBulkDensityMax"
              step="0.1"
              @update:model-value="value => storeSoilBulkDensity = value < soilBulkDensityMin ? soilBulkDensityMin: value > soilBulkDensityMax ? soilBulkDensityMax : value"
              hide-bottom-space
              class="q-mb-md"
              :loading="!hasLoadedInputsControl"
            />
            <q-input
              :model-value="storeSoilEffectiveRootingDepth"
              filled
              type="number"
              :label="$gettext('Effective rooting depth')"
              :suffix="$pgettext('unit', 'm')"
              :rules="rulesPositiveOrNullNumber"
              :min="effectiveRootingDepthMin"
              :max="effectiveRootingDepthMax"
              step="0.1"
              @update:model-value="value => storeSoilEffectiveRootingDepth = value < effectiveRootingDepthMin ? effectiveRootingDepthMin : value > effectiveRootingDepthMax ? effectiveRootingDepthMax : Math.abs(value)"
              hide-bottom-space
              class="q-mb-md"
              :loading="!hasLoadedInputsControl"
            />
            <q-input
              :model-value="storeSoilOrganicNContent"
              filled
              type="number"
              :label="$gettext('Soil organic N content')"
              suffix="%"
              :rules="rulesPositiveNumber"
              :min="organicNContentMin"
              :max="organicNContentMax"
              step="0.01"
              @update:model-value="value => storeSoilOrganicNContent = value < organicNContentMin ? organicNContentMin : value > organicNContentMax ? organicNContentMax : Math.abs(value)"
              hide-bottom-space
              class="q-mb-md"
              :loading="!hasLoadedInputsControl"
            />
            <q-input
              :model-value="storeSoilMineralNAtPlanting"
              filled
              type="number"
              :label="$gettext('Soil mineral N at planting')"
              :suffix="$pgettext('unit', 'kg N/ha')"
              :rules="rulesPositiveOrNullNumber"
              :min="mineralNAtPlantingMin"
              :max="mineralNAtPlantingMax"
              @update:model-value="value => storeSoilMineralNAtPlanting = value < mineralNAtPlantingMin ? mineralNAtPlantingMin : value > mineralNAtPlantingMax ? mineralNAtPlantingMax : Math.abs(value)"
              hide-bottom-space
              class="q-mb-md"
              :loading="!hasLoadedInputsControl"
            />
            <q-input
              :model-value="storeSoilNMineralizationRate"
              filled
              type="number"
              :label="$gettext('N mineralization rate per year')"
              suffix="%"
              :rules="rulesPositiveOrNullNumber"
              :min="NMineralizationRateMin"
              :max="NMineralizationRateMax"
              @update:model-value="value => storeSoilNMineralizationRate = value < NMineralizationRateMin ? NMineralizationRateMin : value > NMineralizationRateMax ? NMineralizationRateMax : Math.abs(value)"
              hide-bottom-space
              :loading="!hasLoadedInputsControl"
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import VegsystMixin from 'src/pages/fieldbook/fertilization/algorithms/vegsyst/mixins/VegsystMixin'

export default {
  name: 'VegsystSoilPage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, VegsystMixin],
  data () {
    return {
    }
  },
  computed: {
    canContinue () {
      return this.storeSoilBulkDensity != null &&
        this.storeSoilEffectiveRootingDepth != null &&
        this.storeSoilOrganicNContent != null &&
        this.storeSoilMineralNAtPlanting != null &&
        this.storeSoilNMineralizationRate != null
    },
    effectiveRootingDepthMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.depth_of_soil?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    effectiveRootingDepthMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.depth_of_soil?.max_value ?? undefined
      } else {
        return undefined
      }
    },
    NMineralizationRateMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.soil_n_mineralization_rate_per_year?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    NMineralizationRateMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.soil_n_mineralization_rate_per_year?.max_value ?? undefined
      } else {
        return undefined
      }
    },
    mineralNAtPlantingMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.soil_mineral_n_at_planting?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    mineralNAtPlantingMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.soil_mineral_n_at_planting?.max_value ?? undefined
      } else {
        return undefined
      }
    },
    organicNContentMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.soil_organic_n_values?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    organicNContentMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.soil_organic_n_values?.max_value ?? undefined
      } else {
        return undefined
      }
    },
    pageTitle () {
      return this.$gettext('Soil')
    },
    pageSubTitle () {
      return 'VegSyst'
    },
    rulesPositiveNumber () {
      return [
        val => val != null || `* ${this.$gettext('This field is required')}`,
        val => val > 0 || `${this.$gettext('This field must be positive')}`
      ]
    },
    rulesPositiveOrNullNumber () {
      return [
        val => val != null || `* ${this.$gettext('This field is required')}`,
        val => val >= 0 || `${this.$gettext('This field must be positive')}`
      ]
    },
    soilBulkDensityMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.soil_bulk_density?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    soilBulkDensityMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.soil_bulk_density?.max_value ?? undefined
      } else {
        return undefined
      }
    },
    storeSoilBulkDensity: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilBulkDensity
      },
      set (v) {
        this.updateParameter('soilBulkDensity', Number(v))
      }
    },
    storeSoilEffectiveRootingDepth: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilEffectiveRootingDepth
      },
      set (v) {
        this.updateParameter('soilEffectiveRootingDepth', Number(v))
      }
    },
    storeSoilOrganicNContent: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilOrganicNContent
      },
      set (v) {
        this.updateParameter('soilOrganicNContent', Number(v))
      }
    },
    storeSoilMineralNAtPlanting: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilMineralNAtPlanting
      },
      set (v) {
        this.updateParameter('soilMineralNAtPlanting', Number(v))
      }
    },
    storeSoilNMineralizationRate: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilNMineralizationRate
      },
      set (v) {
        this.updateParameter('soilNMineralizationRate', Number(v))
      }
    }
  },
  apollo: {
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'vegsystManurePage'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'vegsystWhiteningPage'
      })
    },
    onInputControlQueryUpdate (inputControls) {
      // set default values if necessary:
      // bulk density
      if (this.storeSoilBulkDensity == null && inputControls?.soil_bulk_density?.default_value != null) {
        this.storeSoilBulkDensity = inputControls.soil_bulk_density.default_value
      }
      // efficiency rooting depth
      if (this.storeSoilEffectiveRootingDepth == null && inputControls?.depth_of_soil?.default_value != null) {
        this.storeSoilEffectiveRootingDepth = inputControls.depth_of_soil.default_value
      }
      // organic n content
      if (this.storeSoilOrganicNContent == null && inputControls?.soil_organic_n_values?.default_value != null) {
        this.storeSoilOrganicNContent = inputControls.soil_organic_n_values.default_value
      }
      // mineral n at planting
      if (this.storeSoilMineralNAtPlanting == null && inputControls?.soil_mineral_n_at_planting?.default_value != null) {
        this.storeSoilMineralNAtPlanting = inputControls.soil_mineral_n_at_planting.default_value
      }
      // n mineralization rate
      if (this.storeSoilNMineralizationRate == null && inputControls?.soil_n_mineralization_rate_per_year?.default_value != null) {
        this.storeSoilNMineralizationRate = inputControls.soil_n_mineralization_rate_per_year.default_value
      }
    }
  }
}
</script>
