<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-md"
            >
              <translate>Select your irrigation layout</translate>:
              <q-btn
                dense
                flat
                icon="las la-question-circle"
                @click="showIrrigationLayoutHelper = true"
              />
            </div>
            <q-select
              v-model="storeIrrigationLayout"
              :options="vegsystIrrigationLayoutsOptions"
              filled
              :loading="!hasLoadedIrrigationLayouts"
              :bottom-slots="displayHint"
              @popup-show="displayHint = false"
              @popup-hide="displayHint = true"
              :label="$gettext('Irrigation layout')"
            >
              <template #option="{ itemProps, opt, index }">
                <q-item
                  v-bind="itemProps"
                >
                  <q-item-section>
                    <q-item-label>{{ opt.label }}</q-item-label>
                  </q-item-section>
                  <q-item-section
                    v-if="opt.is_custom"
                    side
                  >
                    <q-btn
                      flat
                      color="primary"
                      icon="las la-pen"
                      @click="editIrrigationLayout(index)"
                    />
                  </q-item-section>
                </q-item>
              </template>
              <template #after>
                <q-btn
                  dense
                  flat
                  icon="las la-pen"
                  @click.stop="addIrrigationLayout"
                />
              </template>
              <template #hint>
                {{ hintText }}
              </template>
            </q-select>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
      <q-dialog
        v-model="showCustomLayoutEditionDialog"
        :full-width="!isDesktopPlatform"
      >
        <q-card style="min-width: min(500px, 80vw)">
          <q-card-section>
            <div
              class="text-body1 q-mb-md"
            >
              <translate>Add your custom irrigation layout configuration</translate>
              <q-btn
                dense
                flat
                icon="las la-question-circle"
                @click="showIrrigationLayoutHelper = true"
              />
            </div>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate translate-context="Irrigation layout">
                Dripper flow rate
              </translate>
            </div>
            <q-input
              filled
              type="number"
              :label="$pgettext('Irrigation layout', 'Dripper flow rate')"
              :suffix="$pgettext('unit - Liter per hour', 'L/h')"
              :model-value="customIrrigationLayoutData.dripper_flow_rate"
              @update:model-value="value => customIrrigationLayoutData.dripper_flow_rate = value < dripperFlowRateMin ? dripperFlowRateMin : value > dripperFlowRateMax ? dripperFlowRateMax : value"
              :rules="rulesPositiveNumber"
              :min="dripperFlowRateMin"
              :max="dripperFlowRateMax"
              class="full-width"
              step="0.1"
              :loading="!hasLoadedInputsControl"
            />
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Irrigation layout configuration</translate>
            </div>
            <q-btn-toggle
              v-model="customIrrigationLayoutData.dripper_lines"
              :options="[{value: 'single', label: $pgettext('Single / Double', 'Single')}, {value: 'double', label: $pgettext('Single / Double', 'Double')}]"
              toggle-color="primary"
              class="q-mb-md"
            />
            <template v-if="customIrrigationLayoutData.dripper_lines">
              <template v-if="customIrrigationLayoutData.dripper_lines === 'single'">
                <div
                  class="text-body2 q-mb-sm"
                >
                  <translate translate-context="Irrigation layout">
                    Distance between lines
                  </translate>
                </div>
                <q-input
                  filled
                  type="number"
                  :label="$pgettext('Irrigation layout', 'Distance between lines')"
                  :suffix="$pgettext('unit', 'm')"
                  :model-value="customIrrigationLayoutData.distance_between_lines"
                  @update:model-value="value => customIrrigationLayoutData.distance_between_lines = value < distanceBetweenLinesMin ? distanceBetweenLinesMin : value > distanceBetweenLinesMax ? distanceBetweenLinesMax : value"
                  :rules="rulesPositiveNumber"
                  :min="distanceBetweenLinesMin"
                  :max="distanceBetweenLinesMax"
                  class="full-width"
                  step="0.1"
                  :loading="!hasLoadedInputsControl"
                />
              </template>
              <template v-else>
                <div
                  class="text-body2 q-mb-sm"
                >
                  <translate translate-context="Irrigation layout">
                    Distance between pairs
                  </translate>
                </div>
                <q-input
                  filled
                  type="number"
                  :label="$pgettext('Irrigation layout', 'Distance between pairs')"
                  :suffix="$pgettext('unit', 'm')"
                  :model-value="customIrrigationLayoutData.distance_between_pairs"
                  @update:model-value="value => customIrrigationLayoutData.distance_between_pairs = value < distanceBetweenPairsMin ? distanceBetweenPairsMin : value > distanceBetweenPairsMax ? distanceBetweenPairsMax : value"
                  :rules="rulesPositiveNumber"
                  :min="distanceBetweenPairsMin"
                  :max="distanceBetweenPairsMax"
                  class="full-width"
                  step="0.1"
                  :loading="!hasLoadedInputsControl"
                />
                <div
                  class="text-body2 q-mb-sm"
                >
                  <translate translate-context="Irrigation layout">
                    Distance within pairs
                  </translate>
                </div>
                <q-input
                  filled
                  type="number"
                  :label="$pgettext('Irrigation layout', 'Distance within pairs')"
                  :suffix="$pgettext('unit', 'm')"
                  :model-value="customIrrigationLayoutData.distance_within_pairs"
                  @update:model-value="value => customIrrigationLayoutData.distance_within_pairs = value < distanceWithinPairsMin ? distanceWithinPairsMin : value > distanceWithinPairsMax ? distanceWithinPairsMax : value"
                  :rules="rulesPositiveNumber"
                  :min="distanceWithinPairsMin"
                  :max="distanceWithinPairsMax"
                  class="full-width"
                  step="0.1"
                  :loading="!hasLoadedInputsControl"
                />
              </template>
              <div
                class="text-body2 q-mb-sm"
              >
                <translate translate-context="Irrigation layout">
                  Distance between drippers within lines
                </translate>
              </div>
              <q-input
                filled
                type="number"
                :label="$pgettext('Irrigation layout', 'Distance between drippers')"
                :suffix="$pgettext('unit', 'm')"
                :model-value="customIrrigationLayoutData.distance_between_drippers"
                @update:model-value="value => customIrrigationLayoutData.distance_between_drippers = value < distanceBetweenDrippersMin ? distanceBetweenDrippersMin : value > distanceBetweenDrippersMax ? distanceBetweenDrippersMax : value"
                :rules="rulesPositiveNumber"
                :min="distanceBetweenDrippersMin"
                :max="distanceBetweenDrippersMax"
                class="full-width"
                step="0.1"
                :loading="!hasLoadedInputsControl"
              />
            </template>
          </q-card-section>
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canSaveCustomIrrigationLayout"
                @click="onSaveCustomIrrigationLayout"
              >
                <translate>Add</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="showCustomLayoutEditionDialog = false"
              >
                <translate>Cancel</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </q-dialog>
      <IrrigationLayoutHelperDialog
        v-model="showIrrigationLayoutHelper"
        :get-irrigation-layout-display="getIrrigationLayoutDisplay"
      />
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import VegsystMixin from 'src/pages/fieldbook/fertilization/algorithms/vegsyst/mixins/VegsystMixin'
import IrrigationLayoutHelperDialog from 'src/pages/fieldbook/fertilization/algorithms/vegsyst/components/IrrigationLayoutHelperDialog'
import queryVegsystIrrigationLayout from 'src/pages/fieldbook/fertilization/algorithms/vegsyst/graphql/queryVegsystIrrigationLayout'
import { v4 as uuidv4 } from 'uuid'

const defaultCustomIrrigationLayoutData = {
  id: null,
  distance_between_drippers: null,
  distance_between_lines: null,
  distance_between_pairs: null,
  distance_within_pairs: null,
  dripper_flow_rate: null,
  dripper_lines: null
}

export default {
  name: 'VegsystIrrigationLayoutPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    IrrigationLayoutHelperDialog
  },
  mixins: [PlatformMixin, DateMixin, AlgorithmsMixins, VegsystMixin],
  data () {
    return {
      hasLoadedIrrigationLayouts: false,
      vegsystIrrigationLayouts: [],
      displayHint: true,
      hintText: this.$gettext('You can add your custom irrigation layout by clicking on the "pen" button'),
      showCustomLayoutEditionDialog: false,
      customIrrigationLayoutData: { ...defaultCustomIrrigationLayoutData },
      // dripperFlowRateMin: 1,
      // dripperFlowRateMax: 4,
      // distanceBetweenLinesMin: 1,
      // distanceBetweenLinesMax: 2.5,
      // distanceBetweenPairsMin: 1,
      // distanceBetweenPairsMax: 2.5,
      // distanceWithinPairsMin: 0.5,
      // distanceWithinPairsMax: 1,
      // distanceBetweenDrippersMin: 0.3,
      // distanceBetweenDrippersMax: 0.6,
      isEdition: false,
      showIrrigationLayoutHelper: false
    }
  },
  computed: {
    canContinue () {
      return this.storeIrrigationLayout != null
    },
    canSaveCustomIrrigationLayout () {
      return this.customIrrigationLayoutData.dripper_flow_rate != null &&
        this.customIrrigationLayoutData.distance_between_drippers != null &&
        this.customIrrigationLayoutData.dripper_lines != null &&
        (
          (
            this.customIrrigationLayoutData.dripper_lines === 'single' &&
            this.customIrrigationLayoutData.distance_between_lines != null
          ) ||
          (
            this.customIrrigationLayoutData.dripper_lines === 'double' &&
            this.customIrrigationLayoutData.distance_between_pairs != null &&
            this.customIrrigationLayoutData.distance_within_pairs != null
          )
        )
    },
    dripperFlowRateMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_layout_dripper_flow_rate?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    dripperFlowRateMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_layout_dripper_flow_rate?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    distanceBetweenLinesMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_layout_distance_between_lines?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    distanceBetweenLinesMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_layout_distance_between_lines?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    distanceBetweenPairsMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_layout_distance_between_pairs?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    distanceBetweenPairsMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_layout_distance_between_pairs?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    distanceWithinPairsMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_layout_distance_within_pairs?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    distanceWithinPairsMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_layout_distance_within_pairs?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    distanceBetweenDrippersMin () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_layout_distance_between_drippers_within_lines?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    distanceBetweenDrippersMax () {
      if (this.hasLoadedInputsControl) {
        return this.vegsystInputsControl?.irrigation_layout_distance_between_drippers_within_lines?.min_value ?? undefined
      } else {
        return undefined
      }
    },
    pageTitle () {
      return this.$gettext('Irrigation layout')
    },
    pageSubTitle () {
      return 'VegSyst'
    },
    rulesPositiveNumber () {
      return [
        val => val != null || `* ${this.$gettext('This field is required')}`,
        val => val > 0 || `${this.$gettext('This field must be positive')}`
      ]
    },
    rulesPositiveOrNullNumber () {
      return [
        val => val != null || `* ${this.$gettext('This field is required')}`,
        val => val >= 0 || `${this.$gettext('This field must be positive')}`
      ]
    },
    storeCustomIrrigationLayouts: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.customIrrigationLayouts || []
      },
      set (v) {
        this.updateParameter('customIrrigationLayouts', v)
      }
    },
    storeIrrigationLayout: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.irrigationLayout
      },
      set (v) {
        this.updateParameter('irrigationLayout', v)
      }
    },
    vegsystIrrigationLayoutsOptions () {
      const options = []
      options.push(
        ...this.vegsystIrrigationLayouts.map(il => {
          return {
            ...il,
            is_custom: false,
            label: this.getIrrigationLayoutDisplay(il)
          }
        })
      )
      options.push(
        ...this.storeCustomIrrigationLayouts.map(il => {
          return {
            ...il,
            is_custom: true,
            label: this.getIrrigationLayoutDisplay(il)
          }
        })
      )
      return options
    }
  },
  apollo: {
    vegsystIrrigationLayouts: {
      query: queryVegsystIrrigationLayout,
      notifyOnNetworkStatusChange: true,
      update (data) {
        this.hasLoadedIrrigationLayouts = true
        return data.vegsyst__irrigation
      }
    }
  },
  methods: {
    addIrrigationLayout () {
      this.customIrrigationLayoutData = { ...defaultCustomIrrigationLayoutData }
      this.isEdition = false
      this.showCustomLayoutEditionDialog = true
    },
    editIrrigationLayout (index) {
      this.customIrrigationLayoutData = { ...this.vegsystIrrigationLayoutsOptions[index] }
      this.isEdition = true
      this.showCustomLayoutEditionDialog = true
    },
    getIrrigationLayoutDisplay (/* eslint-disable camelcase */{ dripper_lines, dripper_flow_rate, distance_between_lines, distance_between_drippers, distance_between_pairs, distance_within_pairs }/* eslint-enable camelcase */) {
      /* eslint-disable camelcase */
      return dripper_lines === 'single'
        ? `${this.$pgettext('Single / Double', 'Single')} ${distance_between_lines}x${distance_between_drippers} (Q=${dripper_flow_rate}${this.$pgettext('unit - Liter per hour', 'L/h')})`
        : `${this.$pgettext('Single / Double', 'Double')} ${distance_between_pairs}x${distance_within_pairs}x${distance_between_drippers} (Q=${dripper_flow_rate}${this.$pgettext('unit - Liter per hour', 'L/h')})`
      /* eslint-enable camelcase */
    },
    onClickNext () {
      this.$router.push({
        name: 'vegsystComputePage'
      })
    },
    onClickPrevious () {
      if (this.$store.state.fertilizationPlan.parameters.croppingMedia?.id === 'Suelo') {
        this.$router.replace({
          name: 'vegsystManurePage'
        })
      } else {
        this.$router.replace({
          name: 'vegsystWhiteningPage'
        })
      }
    },
    onInputControlQueryUpdate (inputControls) {
      // set default values if necessary:
      // dripper flow rate
      if (inputControls?.irrigation_layout_dripper_flow_rate?.default_value != null) {
        defaultCustomIrrigationLayoutData.dripper_flow_rate = inputControls.irrigation_layout_dripper_flow_rate.default_value
      }
      // distance between drippers within lines
      if (inputControls?.irrigation_layout_distance_between_drippers_within_lines?.default_value != null) {
        defaultCustomIrrigationLayoutData.distance_between_drippers = inputControls.irrigation_layout_distance_between_drippers_within_lines.default_value
      }
      // distance between lines
      if (inputControls?.irrigation_layout_distance_between_lines?.default_value != null) {
        defaultCustomIrrigationLayoutData.distance_between_lines = inputControls.irrigation_layout_distance_between_lines.default_value
      }
      // distance between pairs
      if (inputControls?.irrigation_layout_distance_between_pairs?.default_value != null) {
        defaultCustomIrrigationLayoutData.distance_between_pairs = inputControls.irrigation_layout_distance_between_pairs.default_value
      }
      // distance within pairs
      if (inputControls?.irrigation_layout_distance_within_pairs?.default_value != null) {
        defaultCustomIrrigationLayoutData.distance_within_pairs = inputControls.irrigation_layout_distance_within_pairs.default_value
      }
      this.customIrrigationLayoutData = { ...defaultCustomIrrigationLayoutData }
    },
    onSaveCustomIrrigationLayout () {
      if (this.isEdition) {
        const indexCustomIrrigationLayoutToReplace = this.storeCustomIrrigationLayouts.find(cil => cil.id === this.customIrrigationLayoutData.id)
        const layouts = [...this.storeCustomIrrigationLayouts]
        layouts.splice(indexCustomIrrigationLayoutToReplace, 1, this.customIrrigationLayoutData)
        this.storeCustomIrrigationLayouts = layouts
        this.storeIrrigationLayout = this.vegsystIrrigationLayoutsOptions.find(op => op.id === this.customIrrigationLayoutData.id)
      } else {
        const c = [...this.storeCustomIrrigationLayouts]
        const data = {
          ...this.customIrrigationLayoutData,
          id: uuidv4()
        }
        c.push(data)
        this.storeCustomIrrigationLayouts = c
        this.storeIrrigationLayout = this.vegsystIrrigationLayoutsOptions.find(op => op.id === data.id)
      }
      this.showCustomLayoutEditionDialog = false
    }
  }
}
</script>
