<template>
  <div
    class="flex full-width bg-light-transparency take-photo-header"
    :style="{'z-index': zIndex}"
    key="take-photo-header-container"
  >
    <q-toolbar
      class="text-white full-width padding-top-ios"
      key="take-photo-header"
    >
      <q-btn
        flat
        dense
        round
        icon="las la-times"
        @click="exit"
      />
      <q-toolbar-title class="flex flex-center">
        <q-badge
          :color="badgeColor"
          style="max-width: 100%;"
          multi-line
        >
          <span
            class="ellipsis"
            :class="displaySpinner ? 'q-mr-sm': ''"
          >
            {{ badgeContent }}
          </span>
          <span v-if="accuracy">
            : {{ accuracy }}m
          </span>
          <div
            v-if="!isRequiredLocationAccuracySatisfied"
            class="q-ml-xs"
          >
            <translate :translate-params="{ requiredLocationAccuracyInMeters }">
              (max %{ requiredLocationAccuracyInMeters }m required)
            </translate>
          </div>
          <q-spinner-dots v-if="displaySpinner" />
        </q-badge>
      </q-toolbar-title>
    </q-toolbar>
  </div>
</template>

<script>

export default {
  name: 'TakePhotoHeader',
  props: {
    zIndex: {
      type: Number,
      default: 100
    },
    geolocationStatus: {
      type: Object,
      required: true
    },
    requiredLocationAccuracyInMeters: {
      type: Number,
      required: true
    }
  },
  emits: ['exit'],
  computed: {
    accuracy () {
      return this.geolocationStatus.accuracy != null ? this.geolocationStatus.accuracy.toFixed(1) : null
    },
    isRequiredLocationAccuracySatisfied () {
      return !this.requiredLocationAccuracyInMeters || this.accuracy <= this.requiredLocationAccuracyInMeters
    },
    badgeColor () {
      return this.geolocationStatus.isOk ? 'green' : 'negative'
    },
    badgeContent () {
      if (this.geolocationStatus.loading) {
        return this.$gettext('Getting your geolocation')
      } else {
        if (this.geolocationStatus.accuracy != null) {
          let s = this.$gettext('Geolocation accuracy')
          if (this.geolocationStatus.hasGnssData) {
            s += this.geolocationStatus.isGeolocationStabilized
              ? ` (${this.$pgettext('Geolocation is stabilized (make it short if possible)', 'stabilized')})`
              : ` (${this.$pgettext('Stabilizing geolocation (make it short if possible)', 'stabilizing...')})`
          }
          return s
        } else {
          return this.$gettext('Unknown accuracy')
        }
      }
    },
    displaySpinner () {
      return this.geolocationStatus.loading
    }
  },
  methods: {
    exit () {
      this.$emit('exit')
    }
  }
}
</script>
