<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            v-if="pageTitle"
            class="page-title"
          >
            {{ pageTitle }}
          </div>
          <div
            v-if="pageSubTitle"
            class="page-subtitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>
              To offer you an optimized distribution of mineral manure, you must specify below the order of your
              mowing and/or grazing
            </translate>
          </q-banner>

          <q-card-section>
            <div
              v-for="(pass) in manureDistribution"
              :key="pass.pass_type"
              class="q-mb-xs"
            >
              <q-select
                v-model="pass.passage"
                :label="$gettext('pass')+' '+pass.pass_type"
                :option-label="getRequafertiGrasslandI18NFieldName('libelle')"
                :options="passageType"
                clearable
                filled
                option-value="id"
                @update:model-value="updateDropdown($event,pass)"
              />
            </div>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              align="stretch"
              class="q-pa-none"
              vertical
            >
              <q-btn
                :disable="!canContinue"
                color="primary"
                text-color="white"
                @click="onClickNext"
              >
                <translate>Compute</translate>
              </q-btn>
              <q-btn
                color="primary"
                flat
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryRequafertiGrasslandConfig
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandConfig'
import requafertiGrasslandFertilizerPasses
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandFertilizerPasses'
import queryRequafertiGrasslandComputeN from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandComputeN'

import RequafertiGrasslandI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/mixins/RequafertiGrasslandI18nMixin'
import proj4 from 'proj4'
const EPSG_31370 = '+proj=lcc +lat_1=51.16666723333333 +lat_2=49.8333339 +lat_0=90 +lon_0=4.367486666666666 +x_0=150000.013 +y_0=5400088.438 +ellps=intl +towgs84=106.869,-52.2978,103.724,-0.33657,0.456955,-1.84218,1 +units=m +no_defs '

export default {
  name: 'RequafertiGrasslandFertilizerDistributionPage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiGrasslandI18nMixin],
  data () {
    return {
      requafertiSoil: null,
      plotSoilDerivedProperties: null,
      requafertiConfig: null,
      organicFertilizersPassesSkeleton: null,
      test: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Distribution of manure')
    },
    pageSubTitle () {
      return 'Requaferti Prairie'
    },
    storeParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    storeTarget () {
      return this.$store.state.fertilizationPlan.target
    },
    canContinue () {
      if (this.storeFertilizerApplications) return true
      return false
    },
    plotId () {
      return this.$store.state.fertilizationPlan.target.id
    },
    plotCenterGeometry () {
      const coordinates = this.$store.state.fertilizationPlan.target.centroid?.coordinates
      return { type: 'Point', coordinates }
    },
    getPassTranslation () {
      return this.$gettext('pass')
    },
    storeFertilizerApplications: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilizerApplications
      },
      set (v) {
        this.updateParameter('fertilizerApplications', v)
      }
    },

    storeResultsParamameters: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.results
      }
    },

    storeFertilizerAdvice: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.results.fertilizerApplications
      },
      set (v) {
        const results = this.storeResultsParamameters
        const newResult = { ...results, fertilizerApplications: v }
        this.updateParameter('results', newResult)
      }
    },
    manureDistribution () {
      const store = this.storeFertilizerApplications || {}
      return JSON.parse(JSON.stringify(store))
    },
    passageType () {
      return this.requafertiConfig?.prairie_type_passage || []
    },
    initialFertilizerApplications () {
      if (this.storeFertilizerApplications === undefined) return []
      return this.storeFertilizerApplications
    },
    refreshPasses () {
      const data = [...this.initialFertilizerApplications, ...this.fertilizerPassesSkeleton]
      const mergedData = data.reduce((result, current) => {
        let existingItem = result.find(item => item.pass_type === current.pass_type)
        if (existingItem) {
          existingItem = { ...existingItem } // Create a new object
        } else {
          result.push(current)
        }

        return result
      }, [])
      return mergedData
    },
    computeNParams () {
      const params = {}

      params.ech_num_ana = 'FaST-' + Date.now()
      params.ech_cp = null

      const [x, y] = this.storeTarget.centroid.coordinates
      const projXY = proj4(EPSG_31370, [x, y])
      params.ech_x = projXY[0]
      params.ech_y = projXY[1]
      params.ech_geoid = this.storeTarget.centroid.coordinates.join(',')

      params.superficie = this.storeTarget.area

      // Pasturage
      params.prairie_region = undefined
      params.prairie_type = undefined

      if (this.isParameterDefined(this.storeParameters.northSouthRegion)) {
        params.prairie_region = Number(this.storeParameters.northSouthRegion?.id)
      }

      if (this.isParameterDefined(this.storeParameters.pastureType)) {
        params.prairie_type = Number(this.storeParameters.pastureType?.id)
      }

      // Organic Nitrogen
      params.taux_humus = undefined
      if (this.isParameterDefined(this.storeParameters.soilOrganicMeasureType)) {
        params.taux_humus = Number(this.storeParameters.soilOrganicMeasureType.id)
      }

      // Clover coverage
      params.taux_trefle = undefined
      if (this.isParameterDefined(this.storeParameters.cloverCoverage)) {
        params.taux_trefle = Number(this.storeParameters.cloverCoverage.prairie_taux_trefle_id)
      }

      // Yield Objective
      params.herbe_ensile = null
      if (this.isParameterDefined(this.storeParameters.silagePerformanceObjective)) {
        params.herbe_ensile = Number(this.storeParameters.silagePerformanceObjective)
      }
      params.mode_exploit_ensile = null
      if (this.isParameterDefined(this.storeParameters.silageMode)) {
        params.mode_exploit_ensile = Number(this.storeParameters.silageMode.id)
      }

      params.herbe_pature = null
      if (this.isParameterDefined(this.storeParameters.grazingPerformanceObjective)) {
        params.herbe_pature = Number(this.storeParameters.grazingPerformanceObjective)
      }
      params.mode_exploit_pature = null
      if (this.isParameterDefined(this.storeParameters.grazingMode)) {
        params.mode_exploit_pature = Number(this.storeParameters.grazingMode.id)
      }

      params.herbe_fauche = null
      if (this.isParameterDefined(this.storeParameters.mowingPerformanceObjective)) {
        params.herbe_fauche = Number(this.storeParameters.mowingPerformanceObjective)
      }
      params.mode_exploit_fauche = null
      if (this.isParameterDefined(this.storeParameters.mowingMode)) {
        params.mode_exploit_fauche = Number(this.storeParameters.mowingMode.id)
      }
      params.ugb_parcelle = null
      if (this.isParameterDefined(this.storeParameters.ugbNumber)) {
        params.ugb_parcelle = Number(this.storeParameters.ugbNumber)
      }
      params.jours_pature = null
      if (this.isParameterDefined(this.storeParameters.numberGrazeDays)) {
        params.jours_pature = Number(this.storeParameters.numberGrazeDays)
      }
      params.ingestion_cat_anim = null

      params.ingestion_herbe = null
      if (this.isParameterDefined(this.storeParameters.ingestionRatio)) {
        params.ingestion_herbe = Number(this.storeParameters.ingestionRatio)
      }

      // organic manure
      params.freq_epand = null
      if (this.storeParameters.organicManureFrequency) {
        params.freq_epand = Number(this.storeParameters.organicManureFrequency.id)
      }

      params.passages = null
      if (this.storeParameters.organicManureApplications) {
        params.passages = this.storeParameters.organicManureApplications
      }

      params.type_passages = []
      if (this.storeParameters.fertilizerApplications) {
        params.type_passages = this.storeParameters.fertilizerApplications
          .map(item => ({
            pass_type: item.pass_type,
            passage: item?.passage ? parseInt(item?.passage.id) : 0
          })) || []
      }

      return params
    }
  },
  async mounted () {
    if (!this.isParameterSet(this.storeSoilAdvanced)) {
      this.storeSoilAdvanced = false
    }
    await this.loadFertilizerPassesSkeleton('cache-first')
    // Load data from cache (or online if not in cache): soil properties must be loaded before soil params
    await this.loadConfig('cache-first')
    // Refresh online data (do not wait until completion)
    this.storeFertilizerApplications = this.refreshPasses
  },
  methods: {
    onClickNext () {
      this.computeN('network-only')
    },
    isParameterDefined (param) {
      return param !== null && param !== undefined
    },
    updateDropdown (value, passage) {
      const temp = [...this.manureDistribution] // Créez une copie pour maintenir la réactivité

      const item = temp.find(p => p.pass_type === passage.pass_type)
      if (item) {
        item.passage = value !== null ? value : undefined
      }
      this.storeFertilizerApplications = temp
    },

    async computeN (fetchPolicy) {
      try {
        this.computing = true
        this.retryCount += 1
        const { data } = await this.$apollo.query({
          query: queryRequafertiGrasslandComputeN,
          variables: {
            params: this.computeNParams
          },
          fetchPolicy
        })
        const response = data?.requaferti_grassland__compute_n
        if (response) {
          const mergedArray = response.r_estimation.map((obj, index) => ({
            ...obj,
            ...this.storeFertilizerApplications[index]
          }))
          this.storeFertilizerAdvice = mergedArray || []
          this.$router.replace({ name: 'requafertiGrasslandResults' })
        }
      } catch (e) {
        this.requafertiError = e
        console.error(e)
      } finally {
        this.computing = false
      }
    },

    addPercentToValues (str) {
      const regex = /([\d+,.]+)/g
      // Replace matches with the matched value plus "%"
      const result = str.replace(regex, '$1 %')
      return result
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiGrasslandYieldGoalPage'
      })
    },
    proxyToObject (proxy) {
      // Convert the Proxy to a JSON string
      const jsonString = JSON.stringify(proxy)

      // Parse the JSON string to get a plain JavaScript object
      const plainObject = JSON.parse(jsonString)

      return plainObject
    },
    onOrganicManureApplicationsUpdate (organicManureApplications, passage) {
      const rawData = this.proxyToObject(organicManureApplications)
      const rawPassage = this.proxyToObject(passage)
      const newPass = { ...rawPassage, passes: rawData }

      this.storeOrganicManureApplications = this.storeOrganicManureApplications.map(item =>
        item.pass_type === rawPassage.pass_type ? newPass : item
      )
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_grassland__config
    },
    async loadFertilizerPassesSkeleton (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: requafertiGrasslandFertilizerPasses,
        fetchPolicy
      })
      this.fertilizerPassesSkeleton = data?.requaferti_grassland__fertilizer_passes || []
    },

    round (value, digits) {
      if (value === null || value === undefined || isNaN(value)) {
        return value
      } else {
        return Number(value.toFixed(digits))
      }
    }
  }
}
</script>
