<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            v-if="pageTitle"
            class="page-title"
          >
            {{ pageTitle }}
          </div>
          <div
            v-if="pageSubTitle"
            class="page-subtitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>
              The following parameters are used to compute the nutrients provided by the organic manure.
            </translate>
          </q-banner>

          <q-card-section>
            <div class="text-grey-8 q-mb-xs">
              <translate>Organic manure applications in the past campaigns</translate>
            </div>
            <q-select
              v-model="storeOrganicManureFrequency"
              clearable
              @clear="onClearFrequency"
              :label="$gettext('Frequency')"
              :loading="isLoading"
              :option-label="getRequafertiGrasslandI18NFieldName('libelle')"
              :options="organicManureApplicationFrequencyOptions"
              filled
              option-value="id"
            />
          </q-card-section>
          <template v-if="storeOrganicManureFrequency !=undefined">
            <q-card-section class="q-pb-none">
              <div class="text-grey-8 q-mb-xs">
                <translate>
                  Supply of organic manure before each passage. A passage corresponds to a mowing or a pasture.
                </translate>
              </div>
            </q-card-section>

            <q-card-section
              v-for="(pass) in storeOrganicManureApplications"
              :key="pass.pass_type"
            >
              <RequafertiGrasslandPass
                :cnt="pass.pass_type"
                :pass="pass"
                show_counter
              >
                <RequafertiGrasslandOrganicManureApplicationsCard

                  :initial-organic-manure-applications="pass.passes"
                  :max-passess-allowed="pass.max"
                  :organic-manure-animal-category-options="organicManureAnimalCategoryOptions"
                  :organic-manure-application-combinations="organicManureApplicationCombinations"
                  :organic-manure-spreading-condition-options="organicManureSpreadingConditionOptions"
                  @on-update="onOrganicManureApplicationsUpdate($event,pass)"
                />
              </RequafertiGrasslandPass>
              <q-separator />
            </q-card-section>
          </template>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              align="stretch"
              class="q-pa-none"
              vertical
            >
              <q-btn
                color="primary"
                text-color="white"
                @click="onClickNext"
              >
                <translate>Compute</translate>
              </q-btn>
              <q-btn
                color="primary"
                flat
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryRequafertiGrasslandConfig
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandConfig'
import requafertiGrasslandOrganicMatterPasses
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandOrganicMatterPasses'

import RequafertiGrasslandI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/mixins/RequafertiGrasslandI18nMixin'
import RequafertiGrasslandPass
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/components/RequafertiGrasslandPass.vue'
import RequafertiGrasslandOrganicManureApplicationsCard
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/components/RequafertiGrasslandOrganicManureApplicationsCard.vue'

export default {
  name: 'RequafertiGrasslandOrganicManurePage',
  components: {
    RequafertiGrasslandOrganicManureApplicationsCard,
    RequafertiGrasslandPass,
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiGrasslandI18nMixin],
  data () {
    return {
      requafertiSoil: null,
      plotSoilDerivedProperties: null,
      requafertiConfig: null,
      need_help: false,
      foo: null,
      bar: null,
      /* transform into store */
      is_sillage: null,
      sillagePerformanceObjective: null,
      is_mowing: null,
      mowingPerformaceObjective: null,
      is_grazed: null,
      grazingPerformanceObjective: null,
      ugbNumber: null,
      numberGrazeDays: null,
      ingestionRatio: null,
      organicMatterPassesSkeleton: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Organic Manure')
    },
    pageSubTitle () {
      return 'Requaferti Prairie'
    },
    canContinue () {
      if (this.storeOrganicManureFrequency) return true
      return false
    },
    plotId () {
      return this.$store.state.fertilizationPlan.target.id
    },
    plotCenterGeometry () {
      const coordinates = this.$store.state.fertilizationPlan.target.centroid?.coordinates
      return { type: 'Point', coordinates }
    },
    storeOrganicManureApplications: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.organicManureApplications
      },
      set (v) {
        this.updateParameter('organicManureApplications', v)
      }
    },
    storeOrganicManureFrequency: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.organicManureFrequency
      },
      set (v) {
        this.updateParameter('organicManureFrequency', v)
      }
    },
    isLoading () {
      return this.requafertiConfig === undefined
    },
    organicManureApplicationFrequencyOptions () {
      return this.requafertiConfig?.prairie_freq_epand
    },
    organicManureAnimalCategoryOptions () {
      /* eslint-disable dot-notation */
      const amimalCategoryOptions = this.requafertiConfig?.['prairie_gp_cat_animal'] || []

      // remove animal categories not having organic matter types
      return amimalCategoryOptions.filter(category => {
        return this.organicManureApplicationCombinations.filter(row => row.grp_ani_xid === category.id).length > 0
      })
    },
    organicManureApplicationCombinations () {
      /* eslint-disable dot-notation */
      return this.requafertiConfig?.['prairie_teneur_n'] || []
    },
    organicManureSpreadingConditionOptions () {
      /* eslint-disable dot-notation */
      return this.requafertiConfig?.['prairie_cond_epand'] || []
    },
    initialOrganicManureApplications () {
      if (this.storeOrganicManureApplications === undefined) return []
      return this.storeOrganicManureApplications
    },
    refreshPasses () {
      const data = [...this.initialOrganicManureApplications, ...this.organicMatterPassesSkeleton]
      const mergedData = data.reduce((result, current) => {
        let existingItem = result.find(item => item.pass_type === current.pass_type)

        if (existingItem) {
          existingItem = { ...existingItem } // Create a new object
          existingItem.passes = existingItem.passes.concat(current.passes)
        } else {
          result.push(current)
        }

        return result
      }, [])
      return mergedData
    }
  },
  async mounted () {
    if (!this.isParameterSet(this.storeSoilAdvanced)) {
      this.storeSoilAdvanced = false
    }
    await this.loadOrganicMatterPassesSkeleton('cache-first')
    // Load data from cache (or online if not in cache): soil properties must be loaded before soil params
    await this.loadConfig('cache-first')
    // Refresh online data (do not wait until completion)
    this.storeOrganicManureApplications = this.refreshPasses
  },
  methods: {
    isPreviousPassFilled (pass) {
      const current_index = this.storeOrganicManureApplications.findIndex(function (item, i) { return item?.pass_type === pass })
      if (current_index > 0) {
        const passes = this.storeOrganicManureApplications[current_index - 1]?.passes
        return passes?.length > 0
      }
    },
    onClearFrequency () {
      this.storeOrganicManureApplications = this.organicMatterPassesSkeleton
    },
    addPercentToValues (str) {
      const regex = /([\d+,.]+)/g
      // Replace matches with the matched value plus "%"
      const result = str.replace(regex, '$1 %')
      return result
    },
    onClickNext () {
      this.$router.replace({
        name: 'requafertiGrasslandCompute'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiGrasslandYieldGoalPage'
      })
    },
    proxyToObject (proxy) {
      // Convert the Proxy to a JSON string
      const jsonString = JSON.stringify(proxy)

      // Parse the JSON string to get a plain JavaScript object
      const plainObject = JSON.parse(jsonString)

      return plainObject
    },
    onOrganicManureApplicationsUpdate (organicManureApplications, passage) {
      const rawData = this.proxyToObject(organicManureApplications)
      const rawPassage = this.proxyToObject(passage)
      const newPass = { ...rawPassage, passes: rawData }

      this.storeOrganicManureApplications = this.storeOrganicManureApplications.map(item =>
        item.pass_type === rawPassage.pass_type ? newPass : item
      )
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_grassland__config
    },
    async loadOrganicMatterPassesSkeleton (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: requafertiGrasslandOrganicMatterPasses,
        fetchPolicy
      })
      this.organicMatterPassesSkeleton = data?.requaferti_grassland__organic_matter_passes
    },

    round (value, digits) {
      if (value === null || value === undefined || isNaN(value)) {
        return value
      } else {
        return Number(value.toFixed(digits))
      }
    }
  }
}
</script>
