<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            v-if="pageTitle"
            class="page-title"
          >
            {{ pageTitle }}
          </div>
          <div
            v-if="pageSubTitle"
            class="page-subtitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>Select a meadow type to proceed with the fertilization plan.</translate>
          </q-banner>
          <q-card-section>
            <q-select
              v-model="storePlantSpecies"
              :label="$gettext('Crop')"
              :loading="apolloLoading"
              :options="plantSpeciesOptions"
              class="q-mt-md"
              filled
              input-debounce="200"
              option-label="nameI18n"
              option-value="id"
              use-input
              @filter="filterPlantSpecies"
              @update:model-value="onPlantSpeciesChange"
            />

            <div
              v-if="loading"
              class="column flex-center q-mt-md"
            >
              <q-spinner-dots
                color="primary"
                size="24px"
              />
            </div>
            <q-banner
              v-if="showCropProfileUnavailableBanner"
              class="bg-accent text-white q-mt-sm"
            >
                <translate>%{algorithmName} covers only grassland</translate>
            </q-banner>
            <q-select
              v-model="storePasturageType"
              :disable="showCropProfileUnavailableBanner"
              :label="$gettext('Pasturage Type')"
              :loading="loading"
              :option-label="getRequafertiGrasslandI18NFieldName('libelle')"
              :options="pasturageType"
              class="q-mt-md"
              filled
              option-value="id"
            />
            <q-select
              v-model="storeNorthSouthRegion"
              :disable="showCropProfileUnavailableBanner"
              :label="$gettext('Agricultural Region')"
              :loading="loading"
              :option-label="getRequafertiGrasslandI18NFieldName('libelle')"
              :options="northSouthRegion"
              class="q-mt-md"
              filled
              option-value="id"
            />
          </q-card-section>
          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              align="stretch"
              class="q-pa-none"
              vertical
            >
              <q-btn
                :disable="!canContinue"
                color="primary"
                text-color="white"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                color="primary"
                flat
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import { getI18nField } from 'src/services/translate'
import queryPlantSpecies from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryPlantSpecies'
import queryRequafertiGrasslandConfig
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandConfig'
import queryRequafertiGrasslandAgriculturalRegion
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandAgriculturalRegion'
import queryRequafertiGrasslandSambreMeuse
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandSambreMeuse'
import RequafertiGrasslandI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/mixins/RequafertiGrasslandI18nMixin'

export default {
  name: 'RequafertiGrasslandCropProfilePage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiGrasslandI18nMixin],
  data () {
    return {
      requafertiConfig: null,
      plantSpecies: [],
      filterValue: null,
      hasNoPlantSpecies: true,
      apolloLoading: false,
      rqf_known_culture: false
    }
  },
  computed: {
    algorithmName () {
      return 'REQUAFERTIGRASSLAND'
    },
    pageTitle () {
      return this.$gettext('Meadow type selection')
    },
    pageSubTitle () {
      return 'Requaferti Prairie'
    },
    plotCenterGeometry () {
      const coordinates = this.$store.state.fertilizationPlan.target.centroid?.coordinates
      return { type: 'Point', coordinates }
    },
    plotPlantSpecies () {
      return this.$store.state.fertilizationPlan.target.plot_plant_variety?.plant_variety?.plant_species
    },
    showCropProfileUnavailableBanner () {
      return !this.rqf_known_culture && !this.loading
    },
    loading () {
      return !this.requafertiConfig
    },
    storePasturageType: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.pastureType
      },
      set (v) {
        this.updateParameter('pastureType', v)
      }
    },
    storeCropProfile: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.cropProfile
      },
      set (v) {
        this.updateParameter('cropProfile', v)
      }
    },
    storeAgriculturalRegion: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.agriculturalRegion
      },
      set (v) {
        this.updateParameter('agriculturalRegion', v)
      }
    },
    storeNorthSouthRegion: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.northSouthRegion
      },
      set (v) {
        this.updateParameter('northSouthRegion', v)
      }
    },
    storePlantSpecies: {
      get () {
        if (this.$store.state.fertilizationPlan.parameters.plantSpecies) {
          return {
            ...this.$store.state.fertilizationPlan.parameters.plantSpecies,
            nameI18n: getI18nField(this.$store.state.fertilizationPlan.parameters.plantSpecies, 'name')
          }
        } else {
          return this.$store.state.fertilizationPlan.parameters.plantSpecies
        }
      },
      set (v) {
        this.updateParameter('plantSpecies', v)
      }
    },
    northSouthRegion () {
      return this.requafertiConfig?.prairie_region
    },
    pasturageType () {
      return this.requafertiConfig?.prairie_type
    },

    requafertiPastureMapping () {
      /* eslint-disable dot-notation */
      return this.requafertiConfig?.['type_prairie_rqs_spw'] || []
    },

    canContinue () {
      return this.storePlantSpecies && this.storePasturageType && this.rqf_known_culture
    },
    plantSpeciesOptions () {
      let options = this.plantSpecies
      if (this.filterValue) {
        options = options.filter(v => v.name?.toLowerCase().indexOf(this.filterValue) > -1)
      }
      return options.map(plantSpecies => ({
        ...plantSpecies,
        nameI18n: getI18nField(plantSpecies, 'name')
      }))
    }

  },
  methods: {
    onClickPrevious () {
      const isEdition = this.$store.state.fertilizationPlan.isEdition
      const isCreationFromPlot = this.$store.state.fertilizationPlan.isCreationFromPlot
      if (isEdition) {
        const fertilizationPlanId = this.$store.state.fertilizationPlan.fertilizationPlanIdAndName.id
        this.$router.replace({ name: 'fertilizationPlan', params: { fertilizationPlanId } })
      } else if (isCreationFromPlot) {
        const plotId = this.$store.state.fertilizationPlan.target.id
        this.$router.replace({ name: 'plot', params: { idPlot: plotId } })
      } else {
        this.$router.replace({ name: 'fertilizationPlanPlotSelection' })
      }
    },
    onClickNext () {
      this.$router.replace({
        name: 'requafertiGrasslandSoilPage'
      })
    },
    filterPlantSpecies (val, update, abort) {
      update(() => {
        this.filterValue = val.toLowerCase()
      })
    },
    onPlantSpeciesChange () {
      this.onCropProfileChange()
    },
    onCropProfileChange () {
      // reset fields depending on selected crop when it changes
      const requaferti_pasture_type = this.requafertiPastureMapping.find(m => this.storePlantSpecies?.id === m?.cult_code_spw) || undefined

      if (requaferti_pasture_type) {
        this.rqf_known_culture = true
        this.storePasturageType = this.pasturageType.find(p => p.id === requaferti_pasture_type?.id_prairie_rqs)
      }
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_grassland__config
    },
    async getAgriculturalRegion (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandAgriculturalRegion,
        variables: {
          geometry: this.plotCenterGeometry
        },
        fetchPolicy
      })
      this.storeAgriculturalRegion = data?.requaferti_grassland__agricultural_region
    },
    async getSambreMeuseRegion (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandSambreMeuse,
        variables: {
          geometry: this.plotCenterGeometry
        },
        fetchPolicy
      })
      const region = data?.requaferti_grassland__NS_SM?.prairie_region
      this.storeNorthSouthRegion = this.requafertiConfig?.prairie_region.find(r => r.id === region)
    },
    loadData (fetchPolicy) {
      return Promise.all([
        this.loadConfig(fetchPolicy),
        this.getAgriculturalRegion(fetchPolicy),
        this.getSambreMeuseRegion(fetchPolicy),
        this.fetchPlantSpecies()
      ])
    },
    async fetchPlantSpecies () {
      try {
        const response = await this.$apollo.query({
          query: queryPlantSpecies,
          notifyOnNetworkStatusChange: true,
          update: data => data.plant_species
        })
        this.apolloLoading = true
        if (this.requafertiPastureMapping) {
          const plantSpecies = response.data.plant_species
          this.plantSpecies = plantSpecies.filter(species =>
            this.requafertiPastureMapping.some(mapping => mapping.cult_code_spw === species.id))
          this.apolloLoading = false
        }
      } catch (error) {
        console.error('Error fetching plant species data:', error)
        this.apolloLoading = false
      }
    }
  },
  async mounted () {
    if (!this.isParameterSet(this.storePlantSpecies) && this.plotPlantSpecies) {
      this.storePlantSpecies = { ...this.plotPlantSpecies }
    }
    await this.loadData('cache-only')

    //  Check if the pasture type is handled in requaferti grassland
    if (this.requafertiPastureMapping.find(m => this.storePlantSpecies?.id === m?.cult_code_spw) !== undefined) {
      if (!this.storePasturageType && this.storePlantSpecies?.id) {
        this.onCropProfileChange()
      }
      this.rqf_known_culture = true
    }

    // Load data from cache (or online if not in cache)
    await this.loadData('network-only')
  },
  async created () {
    await this.loadConfig()
    await this.fetchPlantSpecies()
  }
}
</script>

<style>

</style>
