<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            v-if="pageTitle"
            class="page-title"
          >
            {{ pageTitle }}
          </div>
          <div
            v-if="pageSubTitle"
            class="page-subtitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>
              The yield objective makes it possible to estimate the quantity of nitrogen exported to the aerial
              part of the plant which is then valorized. So, thanks to the yield objective, we can know the total
              nutrient needs.
            </translate>
            <div class="column items-end">
              <q-btn
                class="q-mt-lg"
                color="secondary"
                @click="need_help_average_yeilds=true"
              >
                <translate>Average yields of meadows</translate>
              </q-btn>
              <template v-if="need_help_average_yeilds">
                <q-dialog
                  v-model="need_help_average_yeilds"
                  :auto-close="isDesktopPlatform"
                >
                  <AverageYieldMeadowsPopUp
                    @close="need_help_average_yeilds= !need_help_average_yeilds"
                  />
                </q-dialog>
              </template>
            </div>
          </q-banner>
          <q-card-section>
            <div>
              <div class="text-body2 text-grey-8 q-mb-xs">
                <translate>Will the meadow be used to produce silage?</translate>
              </div>
              <q-btn-toggle
                v-model="is_sillage"
                :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
                toggle-color="primary"
              />
              <template v-if="is_sillage">
                <q-input
                  v-model.number="storeSilagePerformanceObjective"
                  :label="$gettext('Sillage performance objectve')"
                  :min="0"
                  :rules="[ val => val === '' || val > 0 || $gettext('Enter a positive content')]"
                  :suffix="$gettext('t MS/ha')"
                  class="q-mt-md"
                  filled
                  hide-bottom-space
                  step="any"
                  type="number"
                />
                <q-select
                  v-model="storeSilageMode"
                  :label="$gettext('Silage mode')"
                  :options="silageMode"
                  class="q-mt-md"
                  filled
                  :option-label="getRequafertiGrasslandI18NFieldName('libelle')"
                  option-value="id"
                />
              </template>
            </div>
          </q-card-section>

          <q-card-section>
            <div>
              <div class="text-body2 text-grey-8 q-mb-xs">
                <translate>Will the meadow be used to produce mowed grass?</translate>
              </div>

              <q-btn-toggle
                v-model="is_mowing"
                :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
                toggle-color="primary"
              />

              <template v-if="is_mowing">
                <q-input
                  v-model.number="storeMowingPerformanceObjective"
                  :label="$gettext('Mowing performance objectve')"
                  :min="0"
                  :rules="[val => val === '' || (Number(val) >= 0) || $gettext('Enter a positive content')]"
                  :suffix="$gettext('t MS/ha')"
                  class="q-mt-md"
                  filled
                  hide-bottom-space
                  step="any"
                  type="number"
                />
                <q-select
                  v-model.number="storeMowingMode"
                  :label="$gettext('Mowing mode')"
                  :options="mowingMode"
                  class="q-mt-md"
                  filled
                  :option-label="getRequafertiGrasslandI18NFieldName('libelle')"
                  option-value="id"
                />
              </template>
            </div>
          </q-card-section>

          <q-card-section>
            <div>
              <div class="text-body2 text-grey-8 q-mb-xs">
                <translate>Will the pasture be grazed?</translate>
              </div>
              <q-btn-toggle
                v-model="is_grazed"
                :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
                toggle-color="primary"
              />

              <div v-show="is_grazed">
                <GrazingYieldForm
                  :grazing-mode="grazingMode"
                  ref="grazingYieldForm"
                />
              </div>
            </div>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              align="stretch"
              class="q-pa-none"
              vertical
            >
              <q-btn
                :disable="!canContinue"
                color="primary"
                text-color="white"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                color="primary"
                flat
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryRequafertiGrasslandConfig
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandConfig'
import RequafertiGrasslandI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/mixins/RequafertiGrasslandI18nMixin'
import AverageYieldMeadowsPopUp
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/components/AverageYieldMeadowsPopUp.vue'
import GrazingYieldForm
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/components/GrazingYieldForm.vue'

export default {
  name: 'RequafertiGrasslandYieldGoalPage',
  components: {
    GrazingYieldForm,
    AverageYieldMeadowsPopUp,
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiGrasslandI18nMixin],
  data () {
    return {
      requafertiSoil: null,
      plotSoilDerivedProperties: null,
      requafertiConfig: null,
      need_help: false,
      is_sillage: false,
      is_mowing: false,
      is_grazed: false,

      need_help_average_yeilds: false

    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Performance objectives')
    },
    pageSubTitle () {
      return 'Requaferti Prairie'
    },
    canContinue () {
      let valid = false
      if (this.is_grazed !== undefined && this.is_sillage !== undefined && this.is_mowing !== undefined) valid = true

      if (this.is_grazed) {
        if (this.$refs.grazingYieldForm) {
          valid = this.$refs.grazingYieldForm.canContinue()
        }
      }

      return valid
    },
    plotId () {
      return this.$store.state.fertilizationPlan?.target?.id
    },
    plotCenterGeometry () {
      const coordinates = this.$store.state.fertilizationPlan?.target?.centroid?.coordinates
      return { type: 'Point', coordinates }
    },
    storeSilagePerformanceObjective: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.silagePerformanceObjective
      },
      set (v) {
        this.updateParameter('silagePerformanceObjective', v)
      }
    },
    storeSilageMode: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.silageMode
      },
      set (v) {
        this.updateParameter('silageMode', v)
      }
    },
    hasSilage () {
      if (this.is_sillage === false && this.storeSilagePerformanceObjective !== undefined) return true
      return this.is_sillage
    },
    storeMowingPerformanceObjective: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.mowingPerformanceObjective
      },
      set (v) {
        this.updateParameter('mowingPerformanceObjective', v)
      }
    },
    storeMowingMode: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.mowingMode
      },
      set (v) {
        this.updateParameter('mowingMode', v)
      }
    },
    has_mowing () {
      if (this.is_mowing === false && this.storeMowingPerformanceObjective !== undefined) return true
      return this.is_mowing
    },

    storeGrazingPerformanceObjective: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.grazingPerformanceObjective
      },
      set (v) {
        this.updateParameter('grazingPerformanceObjective', v)
      }
    },

    storeGrazingMode: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.grazingMode
      },
      set (v) {
        this.updateParameter('grazingMode', v)
      }
    },

    storeUGB: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.ugbNumber
      },
      set (v) {
        this.updateParameter('ugbNumber', v)
      }
    },
    storeNumberGrazeDays: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.numberGrazeDays
      },
      set (v) {
        this.updateParameter('numberGrazeDays', v)
      }
    },
    storeIngestionRatio: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.ingestionRatio
      },
      set (v) {
        this.updateParameter('ingestionRatio', v)
      }
    },
    has_grazing () {
      if (this.is_grazed === false && this.storeGrazingMode !== undefined) return true
      return this.is_grazed
    },

    exploitationModeType () {
      return this.requafertiConfig?.prairie_type_mode_exploitation || []
    },
    pasturageExploitationMode () {
      return this.requafertiConfig?.prairie_mode_exploitation || []
    },

    mowingMode () {
      if (this.exploitationModeType?.mode_exploit_fauche) {
        return this.exploitationModeType?.mode_exploit_fauche.map(item => {
          return this.pasturageExploitationMode.find(e => e.id === item.toString())
        })
      }
      return []
    },
    silageMode () {
      if (this.exploitationModeType?.mode_exploit_ensil) {
        return this.exploitationModeType?.mode_exploit_ensil.map(item => {
          return this.pasturageExploitationMode.find(e => e.id === item.toString())
        })
      }
      return []
    },
    grazingMode () {
      if (this.exploitationModeType?.mode_exploit_pature) {
        return this.exploitationModeType?.mode_exploit_pature.map(item => {
          return this.pasturageExploitationMode.find(e => e.id === item.toString())
        })
      }
      return []
    }

  },
  async mounted () {
    if (!this.isParameterSet(this.storeSoilAdvanced)) {
      this.storeSoilAdvanced = false
    }

    // Load data from cache (or online if not in cache): soil properties must be loaded before soil params
    await this.loadConfig('cache-first')
    this.is_sillage = this.hasSilage
    this.is_mowing = this.has_mowing
    this.is_grazed = this.has_grazing
    // Refresh online data (do not wait until completion)

    if (!this.storeIngestionRatio && this.storeIngestionRatio === '') {
      this.storeIngestionRatio = 17.2
    }
  },
  watch: {
    is_sillage (newValue, oldValue) {
      if (newValue === oldValue) return
      if (newValue === false) {
        this.storeSilageMode = undefined
        this.storeSilagePerformanceObjective = null
      }
      if (newValue === true) {
        // Set the field to the first and unique value available
        if (this.silageMode.length === 1) {
          this.storeSilageMode = this.silageMode[0]
        }
      }
    },
    is_mowing (newValue, oldValue) {
      if (newValue === oldValue) return
      if (newValue === false) {
        this.storeMowingMode = undefined
        this.storeMowingPerformanceObjective = undefined
      }
      if (newValue === true) {
        // Set the field to the first and unique value available
        if (this.mowingMode.length === 1) {
          this.storeMowingMode = this.mowingMode[0]
        }
      }
    },
    is_grazed (newValue, oldValue) {
      if (newValue === oldValue) return
      if (newValue === false) {
        this.storeGrazingPerformanceObjective = undefined
        this.storeGrazingMode = undefined
        this.storeNumberGrazeDays = undefined
        this.storeUGB = undefined
        this.storeIngestionRatio = undefined
      }
      if (newValue === true) {
        // Set the field to the first and unique value available
        if (this.grazingMode.length === 1) {
          this.storeGrazingMode = this.grazingMode[0]
        }
      }
    }
  },
  methods: {

    addPercentToValues (str) {
      const regex = /([\d+,.]+)/g
      // Replace matches with the matched value plus "%"
      return str.replace(regex, '$1 %')
    },
    onClickNext () {
      this.$router.replace({
        name: 'requafertiGrasslandOrganicManurePage'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiGrasslandLeguminousPage'
      })
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_grassland__config
    },
    round (value, digits) {
      if (value === null || value === undefined || isNaN(value)) {
        return value
      } else {
        return Number(value.toFixed(digits))
      }
    }
  }
}
</script>
