<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>The soil data is used to calculate the nutrients supplied by the soil.</translate>
          </q-banner>
          <q-card-section>
            <q-select
              v-model="storeSoilOrganicMeasureType"
              :label="$gettext('Organic matter content rate')"
              :options="humusYield"
              option-value="id"
              :option-label="getRequafertiGrasslandI18NFieldName('libelle')"
              filled
              class="q-mt-md"
            >

            <template #after>
              <q-btn
                @click="need_help=true"
                color="secondary"
              >
                <translate>Info</translate>
              </q-btn>
            </template>
            </q-select>
          </q-card-section>

          <template v-if="need_help">
            <q-dialog
              v-model="need_help"
              :auto-close="isDesktopPlatform"
            >
              <OrganicMatterPopUp @close="need_help = !need_help" />
            </q-dialog>
          </template>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryRequafertiGrasslandConfig from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandConfig'
import querySoilDerivedObjectsByPlotId from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/querySoilDerivedObjectsByPlotId'
import RequafertiGrasslandI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/mixins/RequafertiGrasslandI18nMixin'
import OrganicMatterPopUp
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/components/OrganicMatterPopUp.vue'
export default {
  name: 'RequafertiGrasslandSoilPage',
  components: {
    OrganicMatterPopUp,
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiGrasslandI18nMixin],
  data () {
    return {
      requafertiSoil: null,
      plotSoilDerivedProperties: null,
      requafertiConfig: null,
      need_help: false
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Soil')
    },
    pageSubTitle () {
      return 'Requaferti Prairie'
    },
    filteredSoilByRegionAndPastureType () {
      return this.requafertiConfig?.prairie_fourniture_sol.filter(item => {
        return item.prairie_type_id === this.pastureType.id && item.prairie_region_id === this.regionalArea.id
      })
    },
    filteredHumusBySoil () {
      const humus_yield = this.requafertiConfig?.prairie_taux_humus || []
      return humus_yield.filter(humusItem => {
        return this.filteredSoilByRegionAndPastureType.some(soilItem => {
          return (
            soilItem.prairie_taux_humus_id === humusItem.id
          )
        })
      })
    },
    humusYield () {
      const filteredHumusYield = this.filteredHumusBySoil
      if (filteredHumusYield) {
        return filteredHumusYield.map(item => {
          return {
            ...item,
            libelle_de: this.addPercentToValues(item.libelle),
            libelle: this.addPercentToValues(item.libelle)
          }
        })
      }
      return []
    },

    canContinue () {
      return this.isParameterSet(this.storeSoilOrganicMeasureType)
    },
    plotId () {
      return this.$store.state.fertilizationPlan.target.id
    },
    plotCenterGeometry () {
      const coordinates = this.$store.state.fertilizationPlan.target.centroid?.coordinates
      return { type: 'Point', coordinates }
    },
    regionalArea () {
      return this.$store.state.fertilizationPlan.parameters.northSouthRegion
    },
    pastureType () {
      return this.$store.state.fertilizationPlan.parameters.pastureType
    },
    storeSoilOrganicMeasureType: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilOrganicMeasureType
      },
      set (v) {
        this.updateParameter('soilOrganicMeasureType', v)
      }
    }
  },
  async mounted () {
    if (!this.isParameterSet(this.storeSoilAdvanced)) {
      this.storeSoilAdvanced = false
    }

    // Load data from cache (or online if not in cache): soil properties must be loaded before soil params
    await this.loadConfig('cache-first')
    // Refresh online data (do not wait until completion)
  },
  methods: {
    addPercentToValues (str) {
      const regex = /([\d+,.]+)/g
      // Replace matches with the matched value plus "%"
      const result = str.replace(regex, '$1 %')
      return result
    },
    onClickNext () {
      // clear unused organic measure fields

      this.$router.replace({
        name: 'requafertiGrasslandLeguminousPage'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiGrasslandCropProfile'
      })
    },
    async loadSoilProperties (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: querySoilDerivedObjectsByPlotId,
        variables: {
          plot_id: this.plotId
        },
        fetchPolicy
      })
      this.plotSoilDerivedProperties = data?.soil_derived_object?.[0]?.derived_observations?.map(observation => ({
        id: observation.observed_property_id,
        value: observation.result.value || null
      })) || []
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_grassland__config
    },
    round (value, digits) {
      if (value === null || value === undefined || isNaN(value)) {
        return value
      } else {
        return Number(value.toFixed(digits))
      }
    }
  }
}
</script>
