<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section v-if="computing">
            <div>
              <div
                class="column flex-center"
                style="height: 100%;"
              >
                <q-spinner
                  color=""
                  size="3em"
                />
                <translate>Computing Requaferti results...</translate>
              </div>
            </div>
          </q-card-section>
          <q-card-section v-else-if="requafertiError">
            <p>
              <translate>
                There were some errors while computing the Requaferti results: you may retry later.
              </translate>
            </p>
            <p
              v-html="requafertiError"
              class="text-negative"
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                @click="onClickCompute"
                :disable="computing"
              >
                <translate>Retry</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import proj4 from 'proj4'

import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryRequafertiGrasslandComputeN from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandComputeN'
import { resultTypes, unitOfMeasures } from 'src/services/fieldbook/fertilization/fertilizationPlan'
import { $gettext } from 'boot/translate'

// BELGE 72 / LAMBERT 72 PROJ
const EPSG_31370 = '+proj=lcc +lat_1=51.16666723333333 +lat_2=49.8333339 +lat_0=90 +lon_0=4.367486666666666 +x_0=150000.013 +y_0=5400088.438 +ellps=intl +towgs84=106.869,-52.2978,103.724,-0.33657,0.456955,-1.84218,1 +units=m +no_defs '

export default {
  name: 'RequafertiGrasslandComputePage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, DateMixin, AlgorithmsMixins],
  data () {
    return {
      requafertiError: null,
      computing: null,
      retryCount: 0
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Compute plan')
    },
    pageSubTitle () {
      return 'Requaferti Prairie'
    },
    storeParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    storeMineralFertilizerEstimation: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.mineralFertiliserEstimation
      },
      set (v) {
        this.updateParameter('mineralFertiliserEstimation', v)
      }
    },
    storeFertilizerApplications: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilizerApplications
      },
      set (v) {
        this.updateParameter('fertilizerApplications', v)
      }
    },
    storeTarget () {
      return this.$store.state.fertilizationPlan.target
    },
    computeNParams () {
      const params = {}

      params.ech_num_ana = 'FaST-' + Date.now()
      params.ech_cp = null

      const [x, y] = this.storeTarget.centroid.coordinates
      const projXY = proj4(EPSG_31370, [x, y])
      params.ech_x = projXY[0]
      params.ech_y = projXY[1]
      params.ech_geoid = this.storeTarget.centroid.coordinates.join(',')

      params.superficie = this.storeTarget.area

      // Pasturage
      params.prairie_region = undefined
      params.prairie_type = undefined

      if (this.isParameterDefined(this.storeParameters.northSouthRegion)) {
        params.prairie_region = Number(this.storeParameters.northSouthRegion?.id)
      }

      if (this.isParameterDefined(this.storeParameters.pastureType)) {
        params.prairie_type = Number(this.storeParameters.pastureType?.id)
      }

      // Organic Nitrogen
      params.taux_humus = undefined
      if (this.isParameterDefined(this.storeParameters.soilOrganicMeasureType)) {
        params.taux_humus = Number(this.storeParameters.soilOrganicMeasureType.id)
      }

      // Clover coverage
      params.taux_trefle = undefined
      if (this.isParameterDefined(this.storeParameters.cloverCoverage)) {
        params.taux_trefle = Number(this.storeParameters.cloverCoverage.prairie_taux_trefle_id)
      }

      // Yield Objective
      params.herbe_ensile = null
      if (this.isParameterDefined(this.storeParameters.silagePerformanceObjective)) {
        params.herbe_ensile = Number(this.storeParameters.silagePerformanceObjective)
      }
      params.mode_exploit_ensile = null
      if (this.isParameterDefined(this.storeParameters.silageMode)) {
        params.mode_exploit_ensile = Number(this.storeParameters.silageMode.id)
      }

      params.herbe_pature = null
      if (this.isParameterDefined(this.storeParameters.grazingPerformanceObjective)) {
        params.herbe_pature = Number(this.storeParameters.grazingPerformanceObjective)
      }
      params.mode_exploit_pature = null
      if (this.isParameterDefined(this.storeParameters.grazingMode)) {
        params.mode_exploit_pature = Number(this.storeParameters.grazingMode.id)
      }

      params.herbe_fauche = null
      if (this.isParameterDefined(this.storeParameters.mowingPerformanceObjective)) {
        params.herbe_fauche = Number(this.storeParameters.mowingPerformanceObjective)
      }
      params.mode_exploit_fauche = null
      if (this.isParameterDefined(this.storeParameters.mowingMode)) {
        params.mode_exploit_fauche = Number(this.storeParameters.mowingMode.id)
      }
      params.ugb_parcelle = null
      if (this.isParameterDefined(this.storeParameters.ugbNumber)) {
        params.ugb_parcelle = Number(this.storeParameters.ugbNumber)
      }
      params.jours_pature = null
      if (this.isParameterDefined(this.storeParameters.numberGrazeDays)) {
        params.jours_pature = Number(this.storeParameters.numberGrazeDays)
      }
      params.ingestion_cat_anim = null

      params.ingestion_herbe = null
      if (this.isParameterDefined(this.storeParameters.ingestionRatio)) {
        params.ingestion_herbe = Number(this.storeParameters.ingestionRatio)
      }

      // organic manure
      params.freq_epand = null
      params.passages = null

      if (this.storeParameters.organicManureApplications && !this.areAllPassesEmpty(this.storeParameters.organicManureApplications)) {
        params.passages = this.storeParameters.organicManureApplications
        params.freq_epand = Number(this.storeParameters.organicManureFrequency.id)
      }

      params.type_passages = []
      if (this.storeFertilizerApplications) {
        params.type_passages = this.storeFertilizerApplications
          .map(item => ({
            pass_type: item.pass_type,
            passage: item?.passage ? parseInt(item?.passage.id) : 0
          })) || []
      }

      return params
    }
  },
  mounted () {
    this.computeN('network-only')
  },
  methods: {
    onClickCompute () {
      this.computeN('network-only')
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiGrasslandOrganicManurePage'
      })
    },
    areAllPassesEmpty (passesList) {
      return passesList.every(item => item.passes.length === 0)
    },
    isParameterDefined (param) {
      return param !== null && param !== undefined
    },
    async computeN (fetchPolicy) {
      try {
        this.computing = true
        this.retryCount += 1

        const { data } = await this.$apollo.query({
          query: queryRequafertiGrasslandComputeN,
          variables: {
            params: this.computeNParams
          },
          fetchPolicy
        })
        const response = data?.requaferti_grassland__compute_n
        if (response !== null) {
          const performance = response.r_rendement_total || 0

          const fertilizerApplicationEstimation = response.r_estimation?.map((obj, index) => ({
            ...obj,
            ...this.storeFertilizerApplications[index]
          }))
          this.storeMineralFertilizerEstimation = fertilizerApplicationEstimation || []

          const recommendations = [{
            chemical_element_id: 'N',
            quantity: response.r_besoin_total_n,
            result_type: resultTypes.PLANT_NEEDS,
            unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
          }, {
            name: $gettext('Leguminous supply'),
            chemical_element_id: 'N',
            quantity: response.r_fourniture_legu,
            result_type: resultTypes.PLANT_SUPPLIES,
            unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
          }, {
            name: $gettext('Soil mineralization'),
            chemical_element_id: 'N',
            quantity: response.r_fourn_sol,
            result_type: resultTypes.PLANT_SUPPLIES,
            unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
          },
          {
            name: $gettext('Organic matter supply'),
            chemical_element_id: 'N',
            quantity: response.r_fourn_orga_total,
            result_type: resultTypes.PLANT_SUPPLIES,
            unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
          },
          {
            name: $gettext('Pasturage restitution'),
            chemical_element_id: 'N',
            quantity: response.r_restitution_pature,
            result_type: resultTypes.PLANT_SUPPLIES,
            unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
          },
          {
            chemical_element_id: 'N',
            quantity: response.r_complement_n,
            result_type: resultTypes.RECOMMENDATION,
            unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE,
            caption: $gettext('Assuming that 80% of the mineral fertiliser will actually be used')
          }]
          const results = { performance, recommendations }
          this.updateParameter('results', results)
          this.$router.replace({ name: 'requafertiGrasslandResults' })
        } else {
          this.requafertiError = response?.error || 'Error: cannot display results'
          console.error('Requaferti results seem wrong', this.requafertiError)
        }
      } catch (e) {
        this.requafertiError = e
      } finally {
        this.computing = false
      }
    }
  }
}
</script>
