<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>The estimation of white clover cover rate enables the determination of its nitrogen contribution to the pasture. </translate>
          </q-banner>
          <q-card-section>
            <q-select
              v-model="storeCloverCoverage"
              :label="$gettext('Expected clover coverage rate in June')"
              :options="cloverCoverage"
              option-value="id"
              :option-label="getRequafertiGrasslandI18NFieldName('libelle')"
              filled
              class="q-mt-md"
            >
              <template #after>
                <q-btn
                  @click="need_help=true"
                  color="secondary"
                >
                  <translate>illustration</translate>
                </q-btn>
              </template>
            </q-select>
          </q-card-section>

          <template v-if="need_help">
            <q-dialog
              v-model="need_help"
              full-width
              :auto-close="isDesktopPlatform"
            >
              <CloverCoveragePopUp
                :clover="cloverCoverage"
                @close="need_help = !need_help"
              />
            </q-dialog>
          </template>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryRequafertiGrasslandConfig from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandConfig'
import queryRequafertiGrasslandLeguminousEffectByPastureType from 'src/pages/fieldbook/fertilization/algorithms/requaferti-grassland/graphql/queryRequafertiGrasslandLeguminousEffectByPastureType'
import RequafertiGrasslandI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/mixins/RequafertiGrasslandI18nMixin'
import CloverCoveragePopUp
  from 'pages/fieldbook/fertilization/algorithms/requaferti-grassland/components/CloverCoveragePopUp.vue'

export default {
  name: 'RequafertiGrasslandLeguminousPage',
  components: {
    CloverCoveragePopUp,
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiGrasslandI18nMixin],
  data () {
    return {
      requafertiSoil: null,
      requafertiLugiminousEffect: null,
      plotSoilDerivedProperties: null,
      requafertiConfig: null,
      need_help: false
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Leguminous effect')
    },
    pageSubTitle () {
      return 'Requaferti Prairie'
    },
    cloverCoverage () {
      const clover = this.requafertiLugiminousEffect
      if (clover) {
        const cloverPastureType = clover.filter(c => c.prairie_type_id === this.storePasturageType.id).sort((a, b) => this.customSortingKey(a.taux_trefle_libelle) - this.customSortingKey(b.taux_trefle_libelle))
        return cloverPastureType.map(item => {
          return {
            ...item,
            libelle: this.addPercentToValues(item.taux_trefle_libelle),
            libelle_de: this.addPercentToValues(item.taux_trefle_libelle)
          }
        })
      }
      return clover
    },
    canContinue () {
      return (this.storePasturageType && this.storeCloverCoverage) !== undefined
    },
    plotId () {
      return this.$store.state.fertilizationPlan.target.id
    },
    plotCenterGeometry () {
      const coordinates = this.$store.state.fertilizationPlan.target.centroid?.coordinates
      return { type: 'Point', coordinates }
    },
    storeSoilSampleExists: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilSampleExists
      },
      set (v) {
        this.updateParameter('soilSampleExists', v)
      }
    },
    storeSoilOrganicMeasureType: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilOrganicMeasureType
      },
      set (v) {
        this.updateParameter('soilOrganicMeasureType', v)
      }
    },
    storeCloverCoverage: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.cloverCoverage
      },
      set (v) {
        this.updateParameter('cloverCoverage', v)
      }
    },
    storePasturageType: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.pastureType
      },
      set (v) {
        this.updateParameter('pastureType', v)
      }
    }
  },
  async mounted () {
    if (!this.isParameterSet(this.storeSoilAdvanced)) {
      this.storeSoilAdvanced = false
    }

    // Load data from cache (or online if not in cache): soil properties must be loaded before soil params
    await this.loadConfig('cache-first')
    await this.loadLeguminousEffect('cache-first')
    // Refresh online data (do not wait until completion)
  },
  methods: {
    customSortingKey (value) {
      // Attempt to convert the string to a number
      const numericValue = parseFloat(value)
      // Check if it's a valid number
      if (!isNaN(numericValue)) {
        return numericValue
      } else {
        // Attempt to extract a number from the string (e.g., "1 or less" -> 1)
        const matches = value.match(/\d+/)
        if (matches && matches.length > 0) {
          return parseFloat(matches[0])
        } else {
          // Handle non-numeric strings by placing them at the end
          return Infinity
        }
      }
    },
    addPercentToValues (str) {
      const regex = /([\d+,.]+)/g
      // Replace matches with the matched value plus "%"
      const result = str.replace(regex, '$1 %')
      return result
    },
    onClickNext () {
      this.$router.replace({
        name: 'requafertiGrasslandYieldGoalPage'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiGrasslandSoilPage'
      })
    },
    async loadLeguminousEffect (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandLeguminousEffectByPastureType,
        fetchPolicy
      })
      this.requafertiLugiminousEffect = data?.requaferti_grassland__treffle
    },

    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiGrasslandConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_grassland__config
    },
    round (value, digits) {
      if (value === null || value === undefined || isNaN(value)) {
        return value
      } else {
        return Number(value.toFixed(digits))
      }
    }
  }
}
</script>
