<template>
  <BaseMap
    :style="mapStyle"
    :center="centroidLatLng"
    :bounds="bounds"
    :overlays-config="mapOverlays"
  />
</template>

<script>
import BaseMap from 'src/components/BaseMap'
import { getDefaultOverlayLayersConfig, getHoldingCampaignPlotsLayer } from 'src/services/map/layers/layer-configs'

export default {
  name: 'HoldingCampaignMap',
  components: {
    BaseMap
  },
  props: {
    mapStyle: {
      type: String,
      default: ''
    },
    centroid: {
      type: Object,
      default: null
    },
    siteId: {
      type: Number,
      required: true
    }
  },
  computed: {
    centroidLatLng () {
      if (this.centroid) {
        return [this.centroid.coordinates[1], this.centroid.coordinates[0]]
      } else {
        return null
      }
    },
    mapOverlays () {
      const options = {
        displayProtectedSiteNatura2000: true,
        displayRegulationZoneNVZ: true,
        displayHydrographySurfaceWater: false,
        displayHydrographyWaterCourse: false,
        displaySoilPublicSamples: false,
        displayAgriculturalPlots: false
      }
      const overlays = getDefaultOverlayLayersConfig(options)
      overlays.push(getHoldingCampaignPlotsLayer(true, { siteId: this.siteId }))
      return overlays
    },
    bounds () {
      if (this.$store.state.fastplatform.holdingCampaign.bounds) {
        return this.$store.state.fastplatform.holdingCampaign.bounds
      } else {
        return null
      }
    }
  }
}
</script>
