<template>
  <q-card :square="!isDesktopPlatform">
    <div
      v-if="loading"
      class="column flex-center"
    >
      <q-card-section>
        <q-spinner-dots
          color="primary"
          size="24px"
        />
      </q-card-section>
    </div>

    <PlotsPreviewList
      v-else-if="plots"
      :plots="plots"
    />

    <q-card-section v-if="showViewAllPlots || canDisplayExternalAgriPlots">
      <q-card-actions
        align="right"
        class="q-pa-none"
      >
        <q-btn
          color="primary"
          flat
          @click="viewAllPlots"
          v-if="showViewAllPlots"
        >
          <translate>View all %{numberPlots} plots</translate>
        </q-btn>
        <q-btn
          outline
          color="primary"
          @click="onAddPlot"
          v-if="canDisplayExternalAgriPlots"
        >
          <translate>
            Add plot
          </translate>
        </q-btn>
      </q-card-actions>
    </q-card-section>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import PlotsPreviewList from 'src/pages/holding-campaign/components/PlotsPreviewList'
import queryPlotsBySite from 'src/pages/holding-campaign/holding-campaign/graphql/queryPlotsBySite'
import countPlotsBySite from 'src/pages/holding-campaign/holding-campaign/graphql/countPlotsBySite'
import featureFlags from 'src/services/feature-flags'

export default {
  name: 'PlotsCard',
  mixins: [PlatformMixin],
  components: {
    PlotsPreviewList
  },
  props: {
    siteId: {
      type: Number,
      required: true
    },
    limit: {
      type: Number,
      required: false,
      default: 5
    }
  },
  apollo: {
    plots: {
      query: queryPlotsBySite,
      notifyOnNetworkStatusChange: true,
      variables () {
        const vars = {
          siteId: this.siteId,
          limit: this.limit
        }
        return vars
      },
      update: data => data.plots
    },
    plotsCount: {
      query: countPlotsBySite,
      notifyOnNetworkStatusChange: true,
      variables () {
        const vars = {
          siteId: this.siteId
        }
        return vars
      },
      update: (data) => {
        return data.plot_aggregate
      }
    }
  },
  computed: {
    loading () {
      return !this.plots && this.$apollo.queries.plots.loading
    },
    numberPlots () {
      if (this.plotsCount && this.plotsCount.aggregate && this.plotsCount.aggregate.count) {
        return this.plotsCount.aggregate.count
      } else {
        return null
      }
    },
    canDisplayExternalAgriPlots () {
      return featureFlags.canDisplayExternalAgriPlots()
    },
    showViewAllPlots () {
      return this.numberPlots && this.numberPlots > this.limit
    }
  },
  methods: {
    viewAllPlots () {
      this.$router.push({
        name: 'plots',
        query: {
          siteId: this.siteId
        }
      })
    },
    onAddPlot () {
      this.$router.push({ name: 'plotAdd' })
    }
  }
}
</script>
