<template>
  <GenericLayout>
    <template #header>
      <Header
        back-button
        :title="pageTitle"
        :badge-content="pageSubTitle"
      />
    </template>

    <template #page-content>
      <div>
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <template v-if="loading">
          <div
            class="column flex-center"
          >
            <q-spinner-dots
              color="primary"
              size="40px"
            />
          </div>
        </template>

        <template v-else-if="customFertilizer || isNew">
          <q-form @submit="onSave">
            <q-card
              :square="!isDesktopPlatform"
              class="column no-wrap col"
            >
              <q-card-section class="q-pb-xs">
                <q-input
                  v-model="name"
                  :placeholder="$gettext('Type a name')"
                  :rules="[ val => val && val.trim().length > 0 || $gettext('Enter a name')]"
                  filled
                />
              </q-card-section>

              <q-card-section class="q-pt-xs">
                <q-checkbox
                  v-model="organic"
                  dense
                  :label="$gettext('Organic')"
                />
              </q-card-section>

              <q-separator />

              <CustomFertilizerElementsCard
                :initial-custom-fertilizer-elements="customFertilizerElements"
                @on-update="onUpdateCustomFertilizerElements"
              />

              <q-separator />

              <q-card-section>
                <div class="row justify-end items-center">
                  <q-btn
                    :label="$gettext('Cancel')"
                    flat
                    @click="onCancel"
                  />
                  <q-btn
                    :label="$gettext('Save')"
                    color="primary"
                    type="submit"
                  />
                </div>
              </q-card-section>
            </q-card>
          </q-form>

          <template v-if="customFertilizer">
            <div class="row justify-end q-mt-lg">
              <q-btn
                flat
                text-color="red"
                :disable="!customFertilizer"
                :loading="deleting"
                @click="onDelete"
              >
                <translate>Delete this fertilizer</translate>
              </q-btn>
            </div>
          </template>
        </template>

        <template v-else-if="!isNew">
          <q-card :square="!isDesktopPlatform">
            <q-card-section>
              <span class="text-subtitle1 text-dark">
                <translate>No fertilizer found</translate>
              </span>
            </q-card-section>
          </q-card>
        </template>
      </div>
    </template>
    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import CustomFertilizerElementsCard from 'src/pages/holding-campaign/custom-fertilizer/components/CustomFertilizerElementsCard'
import queryCustomFertilizerByPk from 'src/pages/holding-campaign/custom-fertilizer/graphql/queryCustomFertilizerByPk'
import mutationDeleteCustomFertilizer from 'src/pages/holding-campaign/custom-fertilizer/graphql/mutationDeleteCustomFertilizer'
import mutationUpdateCustomFertilizer from 'src/pages/holding-campaign/custom-fertilizer/graphql/mutationUpdateCustomFertilizer'
import mutationInsertCustomFertilizer from 'src/pages/holding-campaign/custom-fertilizer/graphql/mutationInsertCustomFertilizer'

export default {
  name: 'CustomFertilizerEditPage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    CustomFertilizerElementsCard
  },
  data () {
    return {
      deleting: false,
      name: '',
      organic: false,
      customFertilizerElements: [],
      ignoreUnsaveChanges: false
    }
  },
  computed: {
    pageTitle () {
      return this.customFertilizerName
    },
    pageSubTitle () {
      return this.holding?.name || ''
    },
    loading () {
      return !this.isNew && !this.customFertilizer && this.$apollo.queries.customFertilizer.loading
    },
    holding () {
      return this.$store.state.fastplatform?.holdingCampaign?.holding
    },
    customFertilizerId () {
      return Number(this.$route.params.customFertilizerId)
    },
    isNew () {
      return !this.customFertilizerId
    },
    customFertilizerName () {
      if (this.isNew) {
        return this.$gettext('New fertilizer')
      } else if (this.customFertilizer) {
        return this.customFertilizer.name
      } else {
        return '...'
      }
    },
    customFertilizerElementsForInsert () {
      return this.getCustomFertilizerElementsForMutation()
    },
    customFertilizerElementsForUpdate () {
      return this.getCustomFertilizerElementsForMutation(true)
    },
    hasUnsavedChanges () {
      if (this.isNew) {
        return this.name || this.organic || this.customFertilizerElements.length
      } else {
        if (this.customFertilizer.name !== this.name) {
          return true
        }
        if (this.customFertilizer.organic !== this.organic) {
          return true
        }
        if (this.customFertilizer.customFertilizerElements.length !== this.customFertilizerElements.length) {
          return true
        }
        for (let i = 0; i < this.customFertilizer.customFertilizerElements.length; i++) {
          if (this.customFertilizer.customFertilizerElements[i].chemicalElement.id !== this.customFertilizerElements[i].chemicalElement.id) {
            return true
          }
          if (this.customFertilizer.customFertilizerElements[i].percentage !== this.customFertilizerElements[i].percentage) {
            return true
          }
          if (this.customFertilizer.customFertilizerElements[i].determinationMethod?.id !== this.customFertilizerElements[i].determinationMethod?.id) {
            return true
          }
        }
        return false
      }
    }
  },
  apollo: {
    customFertilizer: {
      query: queryCustomFertilizerByPk,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          id: this.customFertilizerId
        }
      },
      result ({ data }) {
        if (data?.customFertilizer) {
          const { name, organic, customFertilizerElements } = data.customFertilizer
          this.name = name
          this.organic = Boolean(organic)
          this.customFertilizerElements = customFertilizerElements.slice()
        }
      },
      skip () {
        return this.isNew
      }
    }
  },
  beforeRouteLeave (to, from, next) {
    if (this.hasUnsavedChanges && !this.ignoreUnsaveChanges) {
      this.$q.dialog({
        title: this.$gettext('Unsaved changes'),
        message: this.$gettext('Do you really want to leave this page? You have unsaved changes.'),
        cancel: true
      }).onOk(() => {
        next()
      }).onCancel(() => {
        next(false)
      })
    } else {
      next()
    }
  },
  methods: {
    onSave () {
      if (this.isNew) {
        this.onCreate()
      } else {
        this.onUpdate()
      }
    },
    onCreate () {
      this.$apollo.mutate({
        mutation: mutationInsertCustomFertilizer,
        variables: {
          holdingId: this.holding?.id,
          name: this.name,
          organic: this.organic,
          customFertilizerElements: this.customFertilizerElementsForInsert
        }
      }).then(() => {
        this.$q.notify({
          message: this.$gettext('The fertilizer was sucessfully created.'),
          color: 'green'
        })
        this.ignoreUnsaveChanges = true
        this.$router.back()
      }).catch(e => {
        console.error('Could not create fertilizer', e)
        this.$q.notify({
          message: this.$gettext('There was an error while creating the fertilizer.'),
          color: 'red'
        })
      })
    },
    onUpdate () {
      this.$apollo.mutate({
        mutation: mutationUpdateCustomFertilizer,
        variables: {
          customFertilizerId: this.customFertilizerId,
          name: this.name,
          organic: this.organic,
          customFertilizerElements: this.customFertilizerElementsForUpdate
        }
      }).then(() => {
        this.$q.notify({
          message: this.$gettext('The fertilizer was sucessfully updated.'),
          color: 'green'
        })
        this.ignoreUnsaveChanges = true
        this.$router.back()
      }).catch(e => {
        console.error('Could not update fertilizer', e)
        this.$q.notify({
          message: this.$gettext('There was an error while updating the fertilizer.'),
          color: 'red'
        })
      })
    },
    onCancel () {
      this.$router.back()
    },
    onDelete () {
      this.$q.dialog({
        title: this.$gettext('Delete'),
        message: `${this.$gettext('Are you sure you want to delete this fertilizer?')}`,
        cancel: true,
        color: 'red'
      }).onOk(async () => {
        this.deleting = true
        try {
          await this.$apollo.mutate({
            mutation: mutationDeleteCustomFertilizer,
            variables: {
              customFertilizerId: this.customFertilizerId
            }
          })
          this.$q.notify({
            message: this.$gettext('The fertilizer was sucessfully deleted.'),
            color: 'green'
          })
        } catch (e) {
          this.$q.notify({
            message: this.$gettext('There was an error while deleting the fertilizer.'),
            color: 'red'
          })
        } finally {
          this.deleting = false
          this.ignoreUnsaveChanges = true
          this.$router.back()
        }
      })
    },
    onUpdateCustomFertilizerElements (updatedCustomFertilizerElements) {
      this.customFertilizerElements = updatedCustomFertilizerElements
    },
    getCustomFertilizerElementsForMutation (update = false) {
      return this.customFertilizerElements.map(({ chemicalElement, percentage, determinationMethod }) => {
        const customFertilizerElementObject = {
          chemical_element_id: chemicalElement.id,
          percentage,
          determination_method_id: determinationMethod?.id,
          efficiency: 100
        }
        if (update) {
          customFertilizerElementObject.fertilizer_id = this.customFertilizerId
        }
        return customFertilizerElementObject
      })
    }
  }
}
</script>
