<template>
  <GenericLayout>
    <template #header>
      <Header
        fastplatform-logo
        :title="pageTitle"
      />
    </template>
    <template #page-content>
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
      </template>
      <div :class="{'page-default-padding-x': !isDesktopPlatform}">
        <div
          class="row justify-between items-center"
        >
          <div class="text-subtitle1 text-dark">
            <q-icon
              name="la la-envira"
              size="s"
              class="display-inline-block q-mr-sm q-mb-sm"
            />
            <translate>Fertilization plans</translate>
            <div
              class="text-small text-grey q-mb-sm"
              style="line-height: 1.3"
            >
              <translate>Farm Sustainability Tool for Nutrients</translate>
            </div>
          </div>
          <SendByEmailAllFertilizationPlansButton />
        </div>
      </div>

      <FertilizationPlansSummaryCard />

      <div :class="{'page-default-padding-x': !isDesktopPlatform}">
        <div
          class="text-subtitle1 text-dark q-mb-sm q-mt-lg"
        >
          <q-icon
            name="la la-water"
            size="s"
            class="display-inline-block q-mr-sm q-mb-sm"
          />
          <translate>Water</translate>
          <div
            class="text-small text-grey q-mb-sm"
            style="line-height: 1.3"
          >
            <translate>Water Framework Directive</translate>
          </div>
        </div>
      </div>
      <q-card
        :square="!isDesktopPlatform"
        height="100px"
      >
        <q-card-section>
          <translate class="text-body2 text-grey">
            Coming soon
          </translate>
        </q-card-section>
      </q-card>

      <div :class="{'page-default-padding-x': !isDesktopPlatform}">
        <div
          class="text-subtitle1 text-dark q-mb-sm q-mt-lg"
        >
          <q-icon
            name="la la-sync"
            size="s"
            class="display-inline-block q-mr-sm q-mb-sm"
          />
          <translate>Crop rotation</translate>
        </div>
      </div>
      <q-card
        :square="!isDesktopPlatform"
        height="100px"
      >
        <q-card-section>
          <translate class="text-body2 text-grey">
            Coming soon
          </translate>
        </q-card-section>
      </q-card>

      <div :class="{'page-default-padding-x': !isDesktopPlatform}">
        <div
          class="text-subtitle1 text-dark q-mb-sm q-mt-lg"
        >
          <q-icon
            name="la la-dove"
            size="s"
            class="display-inline-block q-mr-sm q-mb-sm"
          />
          <translate>Eco schemes</translate>
          <div
            class="text-small text-grey q-mb-sm"
            style="line-height: 1.3"
          >
            <translate>Natura 2000 Sites</translate>
          </div>
        </div>
      </div>
      <q-card
        :square="!isDesktopPlatform"
        height="100px"
      >
        <q-card-section>
          <translate class="text-body2 text-grey">
            Coming soon
          </translate>
        </q-card-section>
      </q-card>

      <div
        class="text-subtitle2 text-grey q-mb-sm q-mt-lg"
        :class="{'page-default-padding-x': !isDesktopPlatform}"
      >
        <translate>Other types of Eco-scheme interventions...</translate>
      </div>
    </template>
    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import FertilizationPlansSummaryCard from 'src/pages/fieldbook/fertilization/components/FertilizationPlansSummaryCard'
import SendByEmailAllFertilizationPlansButton from 'src/pages/fieldbook/fertilization/components/SendByEmailAllFertilizationPlansButton'

export default {
  name: 'FieldbookPage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    FertilizationPlansSummaryCard,
    SendByEmailAllFertilizationPlansButton
  },
  computed: {
    pageTitle () {
      return this.$gettext('Services')
    }
  }
}
</script>
