<template>
  <q-card
    :square="!isDesktopPlatform"
    class="column no-wrap col"
  >
    <q-card-section>
      <div class="text-body1 row items-center q-mb-sm">
        <q-icon
          size="sm"
          name="la la-draw-polygon"
        />
        <span class="q-ml-sm">
          {{ npkRecommendation.plot_name }}
        </span>
      </div>
      <div class="text-body2 text-grey row items-center q-mb-sm">
        <q-icon
          size="sm"
          name="la la-pagelines"
        />
        <span
          class="col"
        >
          {{ npkRecommendation.plant_species_name }}
        </span>
        <span class="col-auto q-pl-md">
          {{ npkRecommendation.crop_yield }} {{ unitOfMeasuresSymbol[npkRecommendation.crop_yield_unit_of_measure_id] }}
        </span>
      </div>
      <q-banner class="bg-grey-2 q-mb-md">
        <div class="row q-mt-sm">
          <div
            v-for="element in npkRecommendation.element_recommendations"
            :key="'nutrient-provided-by-manure-element-'+element.chemical_element_id"
            class="col-4 column text-center"
          >
            <span
              class="q-mb-sm text-uppercase"
              :class="`text-${element.chemical_element_id.toLowerCase()}`"
            >
              {{ element.chemical_element_id }}
            </span>
            <span
              class="text-body1 text-bold"
              :class="`text-${element.chemical_element_id.toLowerCase()}`"
            >{{ element.quantity }}</span>
            <span class="text-grey">{{ unitOfMeasuresSymbol[npkRecommendation.crop_yield_unit_of_measure_id] }}</span>
          </div>
        </div>
      </q-banner>
      <div
        v-if="displayInitialNRecommendation"
        class="text-body2 q-mt-lg"
      >
        <translate>Recommendation of N:</translate>
        &nbsp;
        <span>{{ initialNRecommendation }}</span>
        <translate translate-context="kilogram per hectare">
          kg/ha
        </translate>
      </div>
      <div
        class="text-body2"
        :class="displayInitialNRecommendation ? 'q-mt-sm' : 'q-mt-lg'"
      >
        <translate>Nitrogen from soil:</translate>
        &nbsp;
        <span>{{ nitrogenInSoil }}</span>
        <translate translate-context="kilogram per hectare">
          kg/ha
        </translate>
      </div>
      <template v-if="hasIrrigation">
        <div class="text-body2 q-mt-sm">
          <translate>Nitrogen from irrigation:</translate>
          &nbsp;
          <span>{{ nitrogenFromIrrigation }}</span>
          <translate translate-context="kilogram per hectare">
            kg/ha
          </translate>
        </div>
      </template>
      <template v-if="npkRecommendation.advices && npkRecommendation.advices.length">
        <q-list>
          <q-item
            v-for="(advice, adviceIndex) in npkRecommendation.advices"
            :key="`recommendation-advices-${adviceIndex}`"
            class="q-px-none"
          >
            <q-item-section side>
              <q-icon
                name="las la-minus"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <span>{{ advice }}</span>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </template>
      <template v-if="npkRecommendation.warnings && npkRecommendation.warnings.length">
        <q-list>
          <q-item
            v-for="(warning, warningIndex) in npkRecommendation.warnings"
            :key="`recommendation-warnings-${warningIndex}`"
            class="q-px-none"
          >
            <q-item-section side>
              <q-icon
                name="las la-minus"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <span>{{ warning }}</span>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </template>
      <template v-if="displayFertilizerStrategy && (hasBasalConfiguration || hasTopdressingConfiguration)">
        <div class="text-body1 q-mt-lg">
          <translate>Fertilizer(s) recommendation</translate>
        </div>
        <q-banner
          v-if="basalConfiguration && basalConfiguration.fertilizers && basalConfiguration.fertilizers.length"
          class=""
        >
          <div class="text-body2">
            <translate translate-context="In spanish: basal='fondo'">
              Basal summary
            </translate>
            <span>({{ basalConfigurationTotalCost }} €)</span>
          </div>
          <q-list>
            <q-item
              class="q-px-none"
              v-for="fertilizer in basalConfiguration.fertilizers"
              :key="'basal-summary-fertilizers-id-'+fertilizer.id"
            >
              <q-item-section side>
                <q-icon name="las la-minus" />
              </q-item-section>
              <q-item-section class="q-col-gutter-y-xs">
                <div class="row flex-center q-col-gutter-x-sm">
                  <span class="col-auto text-grey-7">
                    {{ `${$gettext('Name')}:` }}
                  </span>
                  <span class="col ">{{ fertilizer.name }}</span>
                </div>
                <div class="row flex-center q-col-gutter-x-sm">
                  <translate class="col-auto text-grey-7">
                    Quantity:
                  </translate>
                  <span class="col  ">{{ fertilizer.quantity }} kg/ha</span>
                </div>
                <div class="row flex-center q-col-gutter-x-sm">
                  <translate class="col-auto text-grey-7">
                    Quantity for the plot:
                  </translate>
                  <span class="col  ">{{ fertilizer.plotQuantity }} kg</span>
                </div>
                <div class="row flex-center q-col-gutter-x-sm">
                  <translate class="col-auto text-grey-7">
                    Cost for the plot:
                  </translate>
                  <span class="col  ">{{ fertilizer.plotPrice }} €</span>
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </q-banner>
        <q-banner
          v-if="topdressingConfiguration && topdressingConfiguration.length"
          class=""
        >
          <div class="text-body2">
            <translate translate-context="In spanish: topdressing='coberta'">
              Topdressing summary
            </translate>
            <span>({{ topdressingConfigurationTotalCost }} €)</span>
          </div>
          <q-list>
            <q-item
              class="q-px-none"
              v-for="(topdressingApplication, index) in topdressingConfiguration"
              :key="'topdressingApplication-summary-fertilizer-'+index"
            >
              <q-item-section side>
                <q-icon name="las la-minus" />
              </q-item-section>
              <q-item-section class="q-col-gutter-y-xs">
                <div class="row flex-center q-col-gutter-x-sm">
                  <span class="col-auto text-grey-7">
                    Application:
                  </span>
                  <span class="col ">#{{ index + 1 }}</span>
                </div>
                <div class="row flex-center q-col-gutter-x-sm">
                  <span class="col-auto text-grey-7">
                    {{ `${$gettext('Name')}:` }}
                  </span>
                  <span class="col ">{{ topdressingApplication.fertilizer ? topdressingApplication.fertilizer.name : '-' }}</span>
                </div>
                <div class="row flex-center q-col-gutter-x-sm">
                  <translate class="col-auto text-grey-7">
                    Quantity:
                  </translate>
                  <span class="col  ">{{ topdressingApplication.quantity != null ? topdressingApplication.quantity : '-' }} kg/ha</span>
                </div>
                <div class="row flex-center q-col-gutter-x-sm">
                  <translate class="col-auto text-grey-7">
                    Quantity for the plot:
                  </translate>
                  <span class="col ">{{ topdressingApplication.plotQuantity != null ? topdressingApplication.plotQuantity : '-' }} kg</span>
                </div>
                <div class="row flex-center q-col-gutter-x-sm">
                  <translate class="col-auto text-grey-7">
                    Cost for the plot:
                  </translate>
                  <span class="col ">{{ topdressingApplication.plotPrice != null ? topdressingApplication.plotPrice : '-' }} €</span>
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </q-banner>
      </template>
    </q-card-section>

    <slot name="action-buttons" />
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import FertilicalcSavePlanMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcSavePlanMixin'
import { calculateNQuantityFromIrrigation } from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcMixin'

export default {
  name: 'FertilicalcResults',
  mixins: [PlatformMixin, FertilizationPlanMixin, FertilicalcSavePlanMixin],
  props: {
    fertilizationPlanParameters: {
      type: Object,
      required: true
    },
    fertilizationPlanResults: {
      type: Object,
      required: false,
      default: null
    },
    displayFertilizerStrategy: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
    }
  },
  computed: {
    basalConfiguration () {
      return this.fertilizationPlanResults?.basal_configuration
    },
    basalConfigurationTotalCost () {
      if (this.basalConfiguration?.fertilizers?.length) {
        let cost = 0
        this.basalConfiguration.fertilizers.forEach(fertilizer => { cost += Number(fertilizer.plotPrice) })
        return cost
      } else {
        return 0
      }
    },
    displayInitialNRecommendation () {
      return this.hasIrrigation || this.nitrogenInSoil > 0
    },
    hasBasalConfiguration () {
      return this.basalConfiguration != null
    },
    hasIrrigation () {
      return this.fertilizationPlanParameters?.irrigation_method?.value === 'IRRIGATED'
    },
    hasTopdressingConfiguration () {
      return this.topdressingConfiguration != null
    },
    initialNRecommendation () {
      return this.fertilizationPlanParameters?.results[0]?.initialNPKRecommendation?.n != null
        ? Number(this.fertilizationPlanParameters.results[0].initialNPKRecommendation.n.toFixed(1))
        : null
    },
    irrigationDotation () {
      return this.fertilizationPlanParameters?.irrigation_dotation ?? null
    },
    npkRecommendation () {
      if (this.fertilizationPlanResults != null) {
        return this.fertilizationPlanResults?.npk_recommendations?.[0]
      } else {
        const npkRecommendations = this.getNPKRecommendations()
        return npkRecommendations?.length ? npkRecommendations[0] : null
      }
    },
    nitrogenInSoil () {
      return this.fertilizationPlanParameters?.nitrogen_in_soil ?? null
    },
    nitrogenInWater () {
      return this.fertilizationPlanParameters?.nitrogen_in_water ?? null
    },
    nitrogenFromIrrigation () {
      return calculateNQuantityFromIrrigation(this.nitrogenInWater, this.irrigationDotation)
    },
    topdressingConfiguration () {
      return this.fertilizationPlanResults?.topdressing_configuration
    },
    topdressingConfigurationTotalCost () {
      if (this.topdressingConfiguration?.length) {
        let cost = 0
        this.topdressingConfiguration.forEach(topdressingApplication => { cost += Number(topdressingApplication.plotPrice) })
        return cost
      } else {
        return 0
      }
    }
  },
  apollo: {
  },
  methods: {
  }
}
</script>
