<template>
  <q-card
    :square="!isDesktopPlatform"
    :class="{ 'edit-form-desktop': isDesktopPlatform, 'edit-form-mobile': !isDesktopPlatform }"
  >
    <q-form @submit="onSubmit">
      <q-card-section>
        <q-select
          v-model="livestockType"
          :label="$gettext('Livestock type')"
          :options="livestockTypes"
          option-value="id"
          option-label="label"
          filled
          :rules="[
            val => Boolean(val) || $gettext('Select a livestock type'),
            val => isLivestockTypeAvailable(val) || $gettext('This livestock type is already used')
          ]"
          class="q-mt-md"
        />

        <q-input
          v-model.number="numberOfAnimals"
          :label="$gettext('Number of animals')"
          step="1"
          filled
          type="number"
          :min="1"
          :rules="[ val => val > 0 || $gettext('This value must be positive')]"
          class="q-mt-md"
        />
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          :label="$gettext('Cancel')"
          flat
          @click="onCancel"
        />
        <q-btn
          :label="$gettext('Remove')"
          flat
          color="red"
          @click="onDelete"
          v-if="!isNew"
        />
        <q-btn
          :label="saveButtonLabel"
          flat
          color="primary"
          type="submit"
          :disable="!canSubmit"
        />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'

export default {
  name: 'IcpaPmnLivestockEditForm',
  mixins: [
    PlatformMixin
  ],
  props: {
    livestockTypes: {
      type: Array,
      required: true
    },
    id: {
      type: Number,
      default: null
    },
    initialLivestockType: {
      type: Object,
      default: null
    },
    initialNumberOfAnimals: {
      type: Number,
      default: null
    },
    existingItems: {
      type: Array,
      required: true
    }
  },
  emits: ['save', 'cancel', 'delete'],
  data () {
    return {
      livestockType: this.initialLivestockType,
      numberOfAnimals: this.initialNumberOfAnimals
    }
  },
  computed: {
    isNew () {
      return !this.id
    },
    saveButtonLabel () {
      return this.isNew ? this.$gettext('Add') : this.$gettext('Update')
    },
    canSubmit () {
      return this.livestockType && this.isLivestockTypeAvailable(this.livestockType) && this.numberOfAnimals
    }
  },
  methods: {
    onSubmit () {
      if (this.canSubmit) {
        this.$emit('save', {
          id: this.id,
          livestockType: this.livestockType,
          numberOfAnimals: Number(this.numberOfAnimals)
        })
      }
    },
    onCancel () {
      this.$emit('cancel')
    },
    onDelete () {
      this.$emit('delete', this.id)
    },
    isLivestockTypeAvailable (livestockType) {
      return livestockType.id === this.initialLivestockType?.id || !this.existingItems.find(item => item.livestockType.id === livestockType.id)
    }
  }
}
</script>

<style scoped>
.edit-form-desktop {
  min-width: 500px;
}
.edit-form-mobile {
  width: 100%;
}
</style>
