<template>
  <q-card
    :square="!isDesktopPlatform"
    class="column no-wrap col"
  >
    <FertilizationResultHeader
      :plot-id="plotId"
      :plot-name="plotName"
      :plant-species-name="plantSpeciesName"
      :crop-yield="cropYield"
    />

    <IcpaPmnNutrientBalance
      :balance-items="recommendations"
    />

    <FertilizationList
      v-if="fertilizations.length"
      :fertilizations="fertilizations"
      :title="$gettext('Fertilizers')"
      class="q-mt-sm"
    />

    <slot name="action-buttons" />
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import IcpaPmnNutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/components/IcpaPmnNutrientBalance'
import FertilizationResultHeader from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationResultHeader'
import FertilizationList from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationList'

export default {
  name: 'IcpaPmnResultsCard',
  mixins: [PlatformMixin, FertilizationPlanMixin],
  components: {
    IcpaPmnNutrientBalance,
    FertilizationResultHeader,
    FertilizationList
  },
  props: {
    fertilizationPlanParameters: {
      type: Object,
      required: true
    },
    fertilizationPlanResults: {
      type: Object,
      required: true
    }
  },
  computed: {
    plotId () {
      return this.fertilizationPlanResults.plot_id
    },
    plotName () {
      return String(this.fertilizationPlanResults.plot_name || this.fertilizationPlanResults.plot_id)
    },
    plantSpeciesName () {
      return this.fertilizationPlanResults.plant_species_name
    },
    cropYield () {
      return this.fertilizationPlanResults.crop_yield
    },
    recommendations () {
      return this.fertilizationPlanResults.element_recommendations
    },
    fertilizations () {
      return this.fertilizationPlanParameters.fertilizations || []
    }
  }
}
</script>
