<template>
  <GenericLayout>
    <template #header>
      <Header
        fastplatform-logo
        :title="pageTitle"
      />
    </template>

    <template #page-content>
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
      </template>

      <q-card
        :square="!isDesktopPlatform"
        class="column no-wrap"
        :class="isDesktopPlatform ? '' : 'full-height'"
      >
        <template v-if="loading">
          <div
            class="column flex-center"
          >
            <q-spinner-dots
              color="primary"
              size="40px"
            />
          </div>
        </template>

        <q-list v-else-if="addOns">
          <!-- subscribed -->
          <q-item-label
            header
          >
            <translate>Subscribed add-ons</translate>
          </q-item-label>
          <template v-if="subscribedAddons.length > 0">
            <q-item
              v-for="addOn in subscribedAddons"
              :key="addOn.id"
              clickable
              @click="onClickAddOn(addOn)"
            >
              <q-item-section
                top
                avatar
              >
                <q-avatar>
                  <MediaImage :img-relative-path="addOn.logo" />
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <q-item-label>{{ displayI18nField(addOn, 'name') }}</q-item-label>
                <q-item-label caption>
                  {{ displayI18nField(addOn.provider, 'name') }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </template>
          <q-item v-else>
            <q-item-label caption>
              <translate>No subscribed add-on.</translate>
            </q-item-label>
          </q-item>

          <q-separator class="q-mt-md" />

          <!-- not subcribed -->
          <template v-if="availableAddons.length > 0">
            <q-item-label
              header
            >
              <translate>Available add-ons</translate>
            </q-item-label>
            <q-item
              v-for="addOn in availableAddons"
              :key="addOn.id"
            >
              <q-item-section
                top
                avatar
              >
                <q-avatar>
                  <MediaImage :img-relative-path="addOn.logo" />
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <q-item-label>{{ displayI18nField(addOn, 'name') }}</q-item-label>
                <q-item-label caption>
                  {{ displayI18nField(addOn.provider, 'name') }}
                </q-item-label>
              </q-item-section>

              <q-item-section
                side
              >
                <q-btn
                  color="primary"
                  outline
                  @click="onClickAddOn(addOn)"
                >
                  <translate>
                    Subscribe
                  </translate>
                </q-btn>
              </q-item-section>
            </q-item>
          </template>
        </q-list>
      </q-card>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { I18nFieldMixin } from 'src/mixins/I18nFieldMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import MediaImage from 'src/components/MediaImage'

import queryAddOns from 'src/pages/add-ons/graphql/queryAddOns'

export default {
  name: 'AddOnsPage',
  mixins: [
    PlatformMixin,
    I18nFieldMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    MediaImage
  },
  apollo: {
    addOns: {
      query: queryAddOns,
      notifyOnNetworkStatusChange: true,
      update: data => data.add_on
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Add-ons')
    },
    loading () {
      return !this.addOns && this.$apollo.queries.addOns.loading
    },
    subscribedAddons () {
      return this.addOns.filter(a => a.add_on_subscriptions.length || a.auto_subscribe)
    },
    availableAddons () {
      return this.addOns.filter(a => !a.add_on_subscriptions.length && !a.auto_subscribe)
    }
  },
  methods: {
    onClickAddOn (addOn) {
      this.$router.push({ name: 'addOn', params: { addOnId: addOn.id } })
    }
  }
}
</script>
