<template>
  <GenericLayout>
    <template #header>
      <Header
        back-button
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap"
          :class="isDesktopPlatform ? '' : 'full-height'"
        >
          <template v-if="loading">
            <q-card-section
              class="text-center"
            >
              <q-spinner-dots
                size="40px"
                color="primary"
              />
            </q-card-section>
          </template>

          <template v-else>
            <template v-if="!addOn">
              <q-card-section
                class="text-center"
              >
                <q-item-label
                  class="text-subtitle1"
                >
                  <translate>
                    Add-on not found
                  </translate>
                </q-item-label>
                <q-btn
                  color="primary"
                  @click="onClickGoToAddOnsPage"
                  class="q-mt-md"
                >
                  <translate>
                    Go to the add-ons page
                  </translate>
                </q-btn>
              </q-card-section>
            </template>
            <template v-else>
              <q-item class="q-mt-sm">
                <q-item-section
                  top
                  avatar
                  v-if="addOn"
                >
                  <q-avatar rounded>
                    <MediaImage
                      v-if="addOn.logo"
                      :img-relative-path="addOn.logo"
                    />
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label
                    class="text-h6"
                    v-if="addOn.name"
                  >
                    {{ displayI18nField(addOn, 'name') }}
                  </q-item-label>
                  <q-item-label caption>
                    <a
                      v-if="addOn.website"
                      :href="addOn.website"
                      target="_blank"
                      class="text-primary"
                    >
                      <translate>Website</translate>
                    </a>
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-card-section
                class="q-pb-none"
                v-if="addOn && addOn.description"
              >
                <q-separator class="q-mb-md" />
                {{ displayI18nField(addOn, 'description') }}
              </q-card-section>

              <q-card-section
                v-if="addOn && addOn.provider"
                class="q-mt-none"
              >
                <q-separator class="q-mb-sm" />
                <q-item-label
                  header
                  class="q-pb-sm"
                >
                  <translate>Provided by</translate>
                </q-item-label>
                <q-item v-if="addOn && addOn.provider">
                  <q-item-section
                    top
                    avatar
                  >
                    <q-avatar rounded>
                      <MediaImage
                        v-if="addOn.provider.logo"
                        :img-relative-path="addOn.provider.logo"
                      />
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label
                      class="text-subtitle1"
                      v-if="addOn.provider.name"
                    >
                      {{ displayI18nField(addOn.provider, 'name') }}
                    </q-item-label>
                    <q-item-label caption>
                      <a
                        v-if="addOn.provider.website"
                        :href="addOn.provider.website"
                        target="_blank"
                        class="text-primary"
                      >
                        <translate>Website</translate>
                      </a>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-card-section>

              <q-card-actions
                vertical
                align="stretch"
                class="q-mt-auto"
              >
                <q-btn
                  v-if="addOn.callback && (addOn.add_on_subscriptions.length || addOn.auto_subscribe)"
                  color="primary"
                  text-color="white"
                  @click="onClickGoTo"
                  key="go-to"
                >
                  <translate
                    :translate-params="{addOn}"
                  >
                    Go to %{addOn.name}
                  </translate>
                </q-btn>

                <q-btn
                  v-if="!addOn.add_on_subscriptions.length && !addOn.auto_subscribe"
                  color="primary"
                  text-color="white"
                  @click="onClickSubscribe"
                  key="subscribe"
                >
                  <translate>Subscribe</translate>
                </q-btn>

                <q-btn
                  v-if="addOn.add_on_subscriptions.length && !addOn.auto_subscribe"
                  color="primary"
                  flat
                  @click="onClickUnsubscribe"
                  key="unsubscribe"
                >
                  <translate>Unsubscribe</translate>
                </q-btn>

                <div
                  v-if="addOn.auto_subscribe"
                  key="auto-subscribed"
                  class="text-uppercase text-center text-grey-8 q-py-xs"
                >
                  <translate>Default add-on</translate>
                </div>
              </q-card-actions>
            </template>
          </template>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { I18nFieldMixin } from 'src/mixins/I18nFieldMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import MediaImage from 'src/components/MediaImage'
import AddOnMixin from 'src/pages/add-ons/mixins/AddOnMixin'
import queryAddOnByPk from 'src/pages/add-ons/graphql/queryAddOnByPk'

export default {
  name: 'AddOnPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    MediaImage
  },
  mixins: [
    PlatformMixin,
    AddOnMixin,
    I18nFieldMixin
  ],
  apollo: {
    addOn: {
      query: queryAddOnByPk,
      notifyOnNetworkStatusChange: true,
      update: data => data.add_on_by_pk,
      variables () {
        return {
          id: this.addOnId
        }
      }
    }
  },
  computed: {
    pageTitle () {
      return this.addOn ? this.addOn.name : '...'
    },
    pageSubTitle () {
      return this.$gettext('Add-on')
    },
    loading () {
      return !this.addOn && this.$apollo.queries.addOn.loading
    },
    addOnId () {
      return this.$route.params.addOnId
    }
  },
  methods: {
    async onClickGoTo () {
      try {
        const addonCallbackBaseUrl = this.$store.state.fastplatform.config.addOns.callbackBaseUrl
        const accessToken = this.$store.state.fastplatform.tokens.accessToken
        const holdingId = this.$store.state.fastplatform.holdingCampaign.holding.id
        const activeCampaignId = this.$store.state.fastplatform.holdingCampaign.campaign.id
        const addonCallbackUrl = encodeURI(`${addonCallbackBaseUrl}/${this.addOn.id}?holding_id=${holdingId}&active_campaign_id=${activeCampaignId}&token=${accessToken}`)
        window.open(addonCallbackUrl, '_blank')
      } catch (e) {
        console.error('Could not resolve add-on callback url', e)
      }
    },
    async onClickSubscribe () {
      this.$q.dialog({
        title: this.$gettext('Subscribe'),
        message: `${this.$gettext('Are you sure you wish to subscribe to')} ${this.addOn.name}?`
      }).onOk(async () => {
        try {
          await this.subscribe(this.addOn)
          this.$apollo.queries.addOn.refetch()
        } catch (e) {
          console.error(e)
        }
      })
    },
    async onClickUnsubscribe () {
      this.$q.dialog({
        title: this.$gettext('Unsubscribe'),
        message: `${this.$gettext('Are you sure you wish to unsubscribe from')} ${this.addOn.name}?`
      }).onOk(async () => {
        try {
          await this.unsubscribe(this.addOn)
          this.$apollo.queries.addOn.refetch()
        } catch (e) {
          console.error(e)
        }
      })
    },
    onClickGoToAddOnsPage () {
      this.$router.push({ name: 'addOns' })
    }
  }
}
</script>
