<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-none"
            >
              <translate>Specify the organic fertilizers you will use:</translate>
            </div>
          </q-card-section>

          <q-list separator>
            <q-item v-if="fertilizations.length === 0">
              <q-item-section>
                <q-item-label class="text-grey">
                  <translate>No organic fertilizers specified yet.</translate>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              v-else
              class="text-grey"
            >
              <q-item-section class="col-xs-4 col-md-4">
                <q-item-label><translate>Organic fertilizer</translate></q-item-label>
              </q-item-section>
              <q-item-section class="col-xs-4 col-md-6">
                <q-item-label><translate>Period and method of distribution</translate></q-item-label>
              </q-item-section>
              <q-item-section class="col-xs-2 col-md-1">
                <q-item-label>
                  <translate translate-context="Dose of fertilizer">
                    Dose
                  </translate>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              v-for="(fertilization, index) in fertilizations"
              :key="'fertilization-'+index"
              v-ripple
              clickable
              class="q-py-md"
              @click.stop="updateFertilization(index)"
            >
              <q-item-section class="col-xs-4 col-md-4">
                <q-item-label>{{ fertilization.organic_fertilizer.name }}</q-item-label>
              </q-item-section>
              <q-item-section class="col-xs-4 col-md-6">
                <q-item-label>
                  {{ fertilization.organic_fertilizer_efficiency.label }}
                </q-item-label>
              </q-item-section>
              <q-item-section class="col-xs-2 col-md-1">
                <q-item-label>
                  {{ fertilization.dose }}
                  <translate translate-context="ton per hectare">
                    t/ha
                  </translate>
                </q-item-label>
              </q-item-section>
              <q-item-section
                side
              >
                <q-btn
                  color="red"
                  @click.stop="removeFertilization(index)"
                  dense
                  outline
                  icon="las la-trash"
                />
              </q-item-section>
            </q-item>
          </q-list>

          <q-card-section>
            <q-card-actions
              align="right"
            >
              <q-btn
                color="primary"
                text-color="white"
                @click.stop="addFertilization"
              >
                <translate>Add organic fertilizer</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <slot name="card-actions-buttons" />
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>

      <VisioneFertilizationDefinitionDialog
        v-if="showAddFertilizationDialog"
        v-model="showAddFertilizationDialog"
        @add="onAddFertilization"
        @update="onUpdateFertilization"
        :update="fertilizationToUpdate != null"
        :fertilization-to-update="fertilizationToUpdate"
      />
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'

import VisioneFertilizationDefinitionDialog from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/component/VisioneFertilizationDefinitionDialog'

export default {
  name: 'VisioneFertilizationsSelectionPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    VisioneFertilizationDefinitionDialog
  },
  mixins: [PlatformMixin, AlgorithmsMixins],
  props: {
    pageTitle: {
      type: String,
      required: true
    },
    pageSubTitle: {
      type: String,
      required: true
    },
    fertilizations: {
      type: Array,
      required: true
    }
  },
  emits: ['add-fertilization', 'update-fertilization', 'remove-fertilization'],
  data () {
    return {
      showAddFertilizationDialog: false,
      fertilizationToUpdate: null,
      fertilizationToUpdateIndex: null
    }
  },
  computed: {
  },
  apollo: {
  },
  mounted () {
  },
  methods: {
    addFertilization () {
      this.showAddFertilizationDialog = true
    },
    onAddFertilization (fertilization) {
      this.$emit('add-fertilization', JSON.parse(JSON.stringify(fertilization)))
    },
    onUpdateFertilization (fertilization) {
      this.$emit('update-fertilization', { fertilization: JSON.parse(JSON.stringify(fertilization)), index: this.fertilizationToUpdateIndex })
      this.fertilizationToUpdate = null
      this.fertilizationToUpdateIndex = null
    },
    removeFertilization (index) {
      this.$emit('remove-fertilization', index)
    },
    updateFertilization (index) {
      this.fertilizationToUpdateIndex = index
      this.fertilizationToUpdate = JSON.parse(JSON.stringify(this.fertilizations[index]))
      this.showAddFertilizationDialog = true
    }
  }
}
</script>
