<template>
  <GenericLayout>
    <template #header>
      <Header
        back-button
        :title="pageTitle"
      />
    </template>
    <template #page-content>
      <div class="">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
        </template>

        <template v-if="isPhotoLoaded">
          <template v-if="loadError">
            <q-card :square="!isDesktopPlatform">
              <q-card-section>
                <template v-if="loadError === 'NotFound'">
                  <h6
                    class="q-mt-sm"
                  >
                    <translate>Photo not found. It may have already been uploaded</translate>
                  </h6>
                </template>
                <template v-else>
                  <h6
                    class="q-mt-sm"
                  >
                    <translate>Failed to load the photo</translate>
                  </h6>
                  <code v-if="showErrorCode">{{ loadError }}</code>
                </template>
              </q-card-section>
              <q-card-actions align="right">
                <q-btn
                  color="primary"
                  class="q-mt-lg"
                  @click="$router.push({name:'photos'})"
                >
                  <translate>Go to the photos page</translate>
                </q-btn>
              </q-card-actions>
            </q-card>
          </template>

          <template v-else>
            <q-card
              v-if="isDraft"
              :square="!isDesktopPlatform"
              class="q-mb-lg"
            >
              <q-card-section>
                <div class="text-subtitle1">
                  <translate>Please review your photo and upload it</translate>
                </div>
                <div class="text-caption text-grey">
                  <translate>
                    You can add comments and additional information about your photo.
                  </translate>
                </div>
              </q-card-section>
              <q-card-actions align="right">
                <q-btn
                  color="primary"
                  @click="saveDraft"
                  :loading="isUploadingPhoto"
                  :disable="isUploadingPhoto"
                >
                  <q-icon
                    name="las la-upload"
                    class="q-mr-sm"
                  />
                  <translate>Upload</translate>
                </q-btn>
                <q-btn
                  color="negative"
                  flat
                  @click="$router.push({name: 'photos'})"
                >
                  <translate>Discard</translate>
                </q-btn>
              </q-card-actions>
            </q-card>

            <q-card
              square
              class="q-mb-lg"
            >
              <img
                v-if="imgData"
                :src="imgData"
                style="object-fit: contain; max-width: 100%; max-height: 50vh;"
                alt="Photo"
                @click="fullscreenImg"
              >
              <q-skeleton
                v-else
                height="400px"
                square
              />
              <PhotoMap
                map-style="height: 225px;width:100%;"
                :photo="photoInfo"
              />
            </q-card>

            <div
              class="text-subtitle1 text-dark q-mb-sm"
              :class="{'page-default-padding-x': !isDesktopPlatform}"
            >
              <translate>Information</translate>
            </div>
            <q-card
              :square="!isDesktopPlatform"
              class="q-mb-lg"
            >
              <q-card-section>
                <div class="q-gutter-y-sm text-body2">
                  <div class="row items-center">
                    <div class="col">
                      <div class="text-grey">
                        <translate translate-comment="Photo shot at">
                          Shot
                        </translate>
                      </div>
                      <div>
                        <span>
                          {{ displayDateTime(info.shotAt) }}
                        </span>
                      </div>
                    </div>
                    <div
                      class="col"
                      v-if="info.uploadedBy"
                    >
                      <div class="text-grey">
                        <translate>Uploaded by</translate>
                      </div>
                      <div>
                        <span>
                          {{ userName }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row items-center">
                    <div class="col">
                      <div class="text-grey">
                        <translate>Latitude</translate>
                      </div>
                      <div>
                        <span>
                          {{ info.latitude }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="text-grey">
                        <translate>Longitude</translate>
                      </div>
                      <div>
                        <span>
                          {{ info.longitude }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row items-center">
                    <div class="col">
                      <div class="text-grey">
                        <translate>Heading</translate>
                      </div>
                      <div>
                        <span>
                          {{ info.heading }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="text-grey">
                        <translate>Elevation</translate>
                      </div>
                      <div>
                        <span>
                          {{ info.elevation }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row items-center">
                    <div class="col">
                      <div class="text-grey">
                        <translate translate-context="A photo is attached to the plot">
                          Linked to the plot
                        </translate>
                      </div>
                      <div
                        v-if="isPlotsLoading"
                        class="row justify-center"
                      >
                        <q-spinner-dots
                          color="primary"
                          size="md"
                        />
                      </div>
                      <q-select
                        v-model="photoPlot"
                        :options="plots"
                        :readonly="isLocal"
                        type="textarea"
                        filled
                        clearable
                        v-else
                      >
                        <template #selected-item="scope">
                          <span
                            class="ellipsis"
                          >
                            {{ scope.opt.name }}
                          </span>
                        </template>
                        <template #option="scope">
                          <q-item
                            v-bind="scope.itemProps"
                          >
                            <q-item-section>
                              <q-item-label v-html="scope.opt.name" />
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                  </div>

                  <div class="row items-center">
                    <div class="col">
                      <div class="text-grey">
                        <translate>Comment</translate>
                      </div>
                      <q-input
                        v-if="!isLocal"
                        v-model="photoDescription"
                        type="textarea"
                        filled
                        autogrow
                      />
                      <p v-else>
                        {{ photoDescription }}
                      </p>
                    </div>
                  </div>
                </div>
              </q-card-section>
            </q-card>

            <q-card
              flat
              class="bg-transparent"
            >
              <q-card-actions
                vertical
                align="stretch"
              >
                <template v-if="isLive">
                  <q-btn
                    color="primary"
                    @click="updatePhoto"
                  >
                    <q-icon
                      name="las la-save"
                      class="q-mr-sm"
                    />
                    <translate>Update</translate>
                  </q-btn>
                  <q-btn
                    v-if="isDesktopPlatform && showTakePhoto"
                    color="primary"
                    outline
                    @click="takePhoto"
                  >
                    <q-icon
                      name="las la-camera"
                      class="q-mr-sm"
                    />
                    <translate>
                      Take a photo
                    </translate>
                  </q-btn>
                  <q-btn
                    flat
                    color="negative"
                    @click="deletePhoto"
                  >
                    <translate>Delete</translate>
                  </q-btn>
                </template>

                <template v-if="isDraft">
                  <q-btn
                    color="primary"
                    @click="saveDraft"
                  >
                    <q-icon
                      name="las la-upload"
                      class="q-mr-sm"
                    />
                    <translate>Upload</translate>
                  </q-btn>
                  <q-btn
                    color="negative"
                    flat
                    @click="$router.push({name: 'photos'})"
                  >
                    <translate>Discard</translate>
                  </q-btn>
                </template>
              </q-card-actions>
            </q-card>
          </template>
        </template>

        <template v-else>
          <div
            class="flex flex-center"
            :key="'loading-photo'"
          >
            <q-spinner-dots
              color="primary"
              size="40px"
            />
          </div>
        </template>
        <fullscreen-image-modal
          :show="displayImgFullscreen"
          @close="displayImgFullscreen = false"
          :img-src="imgData"
        />
        <FabTakePhoto v-if="!isDesktopPlatform && showTakePhoto" />
      </div>
    </template>
    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { RouterMixin } from 'src/mixins/RouterMixin'
import { ConfirmMixin } from 'src/mixins/DialogMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import PhotoMap from 'src/pages/photos/photo/components/PhotoMap'
import FabTakePhoto from 'src/pages/photos/components/FabTakePhoto'
import FullscreenImageModal from 'src/components/FullscreenImageModal'
import { getMediaSrc } from 'src/utils/urls'
import queryPlotsByHoldingCampaign from 'src/pages/photos/photo/graphql/queryPlotsByHoldingCampaign'
import QUERY_GEO_TAGGED_PHOTO from 'src/pages/photos/photo/graphql/queryGeoTaggedPhoto'
import MUTATION_EDIT_GEO_TAGGED_PHOTO from 'src/pages/photos/photo/graphql/mutationEditGeoTaggedPhoto'
import MUTATION_DELETE_GEO_TAGGED_PHOTO from 'src/pages/photos/photo/graphql/mutationDeleteGeoTaggedPhoto'
import { FILE_UPLOAD_STATUS, uploadServiceInstance } from 'src/services/photo/upload'
import { v4 as uuidv4 } from 'uuid'
import { DateMixin } from 'src/mixins/DateMixin'
import featureFlags from 'src/services/feature-flags'
import { isUserMediaAvailable } from 'src/services/photo/camera'

export default {
  name: 'PhotoPage',
  mixins: [
    PlatformMixin,
    RouterMixin,
    ConfirmMixin,
    DateMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    PhotoMap,
    FullscreenImageModal,
    FabTakePhoto
  },
  props: {
    mode: {
      // define which photo layer to display
      // draft: the photo has been taken but is not yet saved
      // local: the photo has been saved locally and is in the process of being uploaded
      // live: the photo has been uploaded to the server
      type: String,
      default: 'draft',
      validator: x => ['live', 'draft', 'local']
    },
    draftPhotoJSON: { // mode: draft, photo data and metadata as serialized JSON
      type: String,
      required: false,
      default: null
    },
    id: { // mode: live, id of the uploaded photo
      type: [Number, String],
      required: false,
      default: null
    },
    fileName: { // mode: local, name of the file to upload that contains the photo data
      type: String,
      required: false,
      default: null
    }
  },
  data () {
    return {
      displayImgFullscreen: false,
      loadError: null,
      localPhoto: null,
      localPhotoLoaded: false,
      photoDescription: '',
      photoPlot: null,
      imgData: null,
      isUploadingPhoto: false
    }
  },
  apollo: {
    photo: {
      query: QUERY_GEO_TAGGED_PHOTO,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          photoId: Number(this.id)
        }
      },
      skip () {
        return !this.isLive && !this.id
      },
      update: data => data.photo,
      result ({ data }) {
        const photo = data?.photo
        if (photo) {
          this.photoDescription = photo.description
          this.photoPlot = photo.plot
          if (photo.photo) {
            getMediaSrc(photo.photo).then(data => {
              this.imgData = data
            })
          }
        }
      },
      error (err) {
        this.loadError = err
      }
    },
    plots: {
      query: queryPlotsByHoldingCampaign,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          holdingCampaignId: this.$store.state.fastplatform.holdingCampaign.id
        }
      },
      update: data => data.plots,
      result ({ data }) {
        if (this.isDraft && this.draftPhoto) {
          this.photoPlot = data?.plots.find(p => p.id === this.draftPhoto.plot_id)
        }
      }
    }
  },
  computed: {
    draftPhoto () {
      if (this.draftPhotoJSON) {
        // the draftPhoto has to be serialized to be passed as router component props
        return JSON.parse(this.draftPhotoJSON)
      } else {
        return null
      }
    },
    isDraft () {
      return this.mode === 'draft'
    },
    isLive () {
      return this.mode === 'live'
    },
    isPhotoLoaded () {
      if (this.isDraft) {
        return true
      } else if (this.isLive) {
        return this.isPhotoRequestOver
      } else if (this.isLocal) {
        return this.localPhotoLoaded && (this.localPhoto || this.loadError)
      } else {
        return false
      }
    },
    isPhotoRequestOver () {
      return !this.$apollo.queries?.photo?.loading && (this.photo !== null || this.loadError !== null)
    },
    isPlotsLoading () {
      return this.$apollo.queries.plots.loading
    },
    isLocal () {
      return this.mode === 'local'
    },
    pageTitle () {
      if (this.isLive) {
        if (this.isPhotoRequestOver && this.photo) {
          return this.$gettext('Photo') + ' ' + this.photo.id
        }
        return this.$gettext('Photo')
      } else if (this.isDraft) {
        return this.$gettext('Preview')
      } else if (this.isLocal) {
        if (this.photoLocalFailed) {
          return this.$gettext('Upload failed')
        }
        return this.$gettext('Upload in progress')
      } else {
        return this.$gettext('Photo')
      }
    },
    photoLocalFailed () {
      if (this.isLocal && this.localPhoto) {
        return this.localPhoto.status === FILE_UPLOAD_STATUS.FAILED
      } else {
        return false
      }
    },
    photoLocation () {
      if (this.isPhotoLoaded) {
        if (this.isLive) {
          return this.photo.location
        } else if (this.isDraft) {
          return this.draftPhoto.location
        } else if (this.isLocal) {
          return this.localPhoto.location
        }
      }
      return null
    },
    photoInfo () {
      if (this.isPhotoLoaded) {
        if (this.isDraft) {
          return {
            ...this.draftPhoto,
            isLocal: true
          }
        } else if (this.isLive) {
          if (this.isPhotoRequestOver && this.photo) {
            return {
              ...this.photo,
              isLocal: false
            }
          }
        } else if (this.isLocal) {
          return {
            ...this.localPhoto,
            isLocal: true
          }
        }
      }
      return null
    },
    info () {
      if (!this.photoInfo) {
        return {}
      }
      return {
        shotAt: this.photoInfo.shot_at,
        // below are the fields that are potentially null (a photo not uploaded yet for instance)
        id: this.photoInfo.id || null,
        uploadedAt: this.photoInfo.uploaded_at || null,
        uploadedBy: this.photoInfo.uploaded_by || null,
        plot: this.photoInfo.plot || null,
        elevation: this.photoInfo.elevation != null ? this.photoInfo.elevation.toFixed(1) + 'm' : '-',
        latitude: this.photoInfo.location != null ? this.photoInfo.location.coordinates?.[1]?.toFixed(6) : '-',
        longitude: this.photoInfo.location != null ? this.photoInfo.location.coordinates?.[0]?.toFixed(6) : '-',
        heading: this.photoInfo.heading != null ? this.photoInfo.heading.toFixed(1) + '°' : '-'
      }
    },
    userName () {
      if (this.info.uploadedBy) {
        if (this.info.uploadedBy.name) {
          return this.info.uploadedBy.name
        } else {
          return this.info.uploadedBy.username
        }
      }
      return ''
    },
    showErrorCode () {
      return process.env.DEV
    },
    canTakePhoto () {
      return featureFlags.canTakePhoto()
    },
    isCameraAvailable () {
      return this.isMobileApp || isUserMediaAvailable()
    },
    showTakePhoto () {
      return this.isLive && this.canTakePhoto && this.isCameraAvailable
    }
  },
  methods: {
    async deletePhoto () {
      const ok = await this.confirm({
        title: this.$gettext('Delete this photo ?'),
        persistent: true,
        ok: {
          label: this.$gettext('delete'),
          color: 'negative',
          flat: true
        },
        cancel: {
          label: this.$gettext('cancel'),
          flat: true
        }
      })
      if (ok) {
        // delete the photo
        if (this.isLive) {
          // send a delete mutation
          this.$apollo.mutate({
            mutation: MUTATION_DELETE_GEO_TAGGED_PHOTO,
            variables: {
              photoId: this.photo.id
            }
          }).then(() => {
            this.leavePageAfterDeletion()
          }).catch(err => {
            this.$q.notify({
              message: this.$gettext('Failed to delete this photo'),
              color: 'negative'
            })
            // TODO handle error
            console.error('FAILED TO DELETE PHOTO')
            console.error(err)
          })
        } else if (this.isDraft) {
          // the photo is not yet saved, simply redirect to the camera preview (goBack)
          this.goBack()
        } else if (this.isLocal) {
          const isDeleted = await uploadServiceInstance.deleteFile(this.localPhoto.file_name)
          if (isDeleted) {
            this.leavePageAfterDeletion()
          } else {
            this.$q.notify({
              message: this.$gettext('Failed to delete this photo'),
              color: 'negative'
            })
          }
        }
      }
    },
    fullscreenImg () {
      this.displayImgFullscreen = true
    },
    async getLocalPhotoData () {
      const { photoObject, error } = await uploadServiceInstance.getPhoto(this.fileName)
      console.log('photo error', error)
      console.log('getLocalPhotoData', photoObject)
      if (error) {
        this.loadError = error
      } else {
        this.localPhoto = photoObject
        this.photoDescription = photoObject.description
        this.imgData = this.getImgData(photoObject.photo)
      }
      this.localPhotoLoaded = true
    },
    getImgData (photoData) {
      if (photoData) {
        return photoData.startsWith('data:image')
          ? photoData
          : 'data:image/png;base64,' + photoData
      } else {
        return null
      }
    },
    leavePageAfterDeletion () {
      this.$q.notify({
        message: this.$gettext('Photo deleted'),
        color: 'positive'
      })
      this.$router.push({ name: 'photos' })
    },
    saveDraft () {
      // add the fields to the photo metadata
      const metadata = {
        ...this.draftPhoto
      }

      // add a temporary ID to the photo metadata (used in the photo list)
      metadata.id = uuidv4()

      // add the attached plot to the metadata (may be empty)
      metadata.plot_id = this.photoPlot?.id

      // remove the photo data from the metadata
      delete metadata.photo
      metadata.description = this.photoDescription

      // save the photo and add it to the upload queue or upload it directly on browser
      if (this.isMobileApp) {
        // on mobile: save photo and add it to the upload queue
        uploadServiceInstance.savePhoto(this.draftPhoto.photo, metadata).then(() => {
          // the photo is in the upload queue: go to the photos page immediatly
          this.$router.replace({ name: 'photos' })
        }).catch(error => {
          this.$q.notify({
            message: this.$gettext('The photo could not be uploaded: you can retry later.'),
            color: 'negative'
          })
          console.error('[UPLOAD_PHOTOS_ERROR] Upload photo error:', error)
        })
      } else {
        // on web, upload the photo immediatly
        this.isUploadingPhoto = true
        uploadServiceInstance.uploadPhoto(this.draftPhoto.photo, metadata).then(() => {
          // wait 1sec for thumbnail generation
          window.setTimeout(() => {
            this.isUploadingPhoto = false
            this.$router.replace({ name: 'photos' })
          }, 1000)
        }).catch((error) => {
          this.isUploadingPhoto = false
          this.$q.notify({
            message: this.$gettext('The photo could not be uploaded: you can retry later.'),
            color: 'negative'
          })
          console.error('[UPLOAD_PHOTOS_ERROR] Upload photo error:', error)
        })
      }
    },
    updatePhoto () {
      this.$apollo.mutate({
        mutation: MUTATION_EDIT_GEO_TAGGED_PHOTO,
        variables: {
          photoId: this.photo.id,
          description: this.photoDescription,
          plotId: this.photoPlot?.id || null
        }
      }).then(data => {
        // update the local object 'photo'
        if (data && data.update_geo_tagged_photo_by_pk) {
          this.photo.description = data.update_geo_tagged_photo_by_pk.description
        }
        this.$q.notify({
          message: this.$gettext('Successfully updated'),
          icon: 'las la-check',
          color: 'positive'
        })
      }).catch(error => {
        // TODO improve error message
        this.$q.notify({
          message: this.$gettext('Failed to update your photo. Please retry later.'),
          color: 'negative'
        })
        console.error(`[UPDATE_GEO_TAGGED_PHOTO] Failed to update Geo tagged photo id=${this.photo.id}`, error)
      })
    },
    takePhoto () {
      this.$router.push({ name: 'takePhoto' })
    }
  },
  async mounted () {
    if (this.isLocal) {
      // get the photo
      this.getLocalPhotoData()
    } else if (this.isDraft) {
      this.imgData = this.getImgData(this.draftPhoto.photo)
    }
  }
}
</script>
