<template>
  <div class="q-px-md q-py-sm text-center">
    <img
      :src="flagSrc"
      :style="{height: flagHeight, visibility: flagVisibility}"
      rel="preload"
    >
    <div class="text-uppercase text-white country-or-region-name">
      {{ name }}
    </div>
  </div>
</template>

<script>
import { getRegionImageSrc } from 'src/utils/urls'

export default {
  name: 'CountryOrRegionFlag',
  props: {
    name: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    },
    flagHeight: {
      type: String,
      required: true
    },
    flagVisibility: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    flagSrc () {
      return getRegionImageSrc(this.image)
    }
  }
}
</script>

<style scoped>
.country-or-region-name {
  line-height: 1.715em;
}

</style>
