<template>
  <q-page-sticky
    position="bottom-right"
    :offset="[18, 18]"
    style="z-index: 1100;"
  >
    <q-btn
      fab
      color="accent"
      icon="las la-camera"
      @click="takePhoto"
    />
  </q-page-sticky>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
export default {
  name: 'FabTakePhoto',
  mixins: [
    PlatformMixin
  ],
  methods: {
    takePhoto () {
      this.$router.push({ name: 'takePhoto' })
    }
  }
}
</script>
