<template>
  <q-list separator>
    <PhotoPreviewListItem
      v-for="photo in sortedPhotos"
      :ref="`photo-${photo.id}`"
      :key="photo.id"
      :photo="photo"
      :active="isActive(photo)"
      @deleted="$emit('photo-deleted', photo)"
    />
  </q-list>
</template>

<script>
import { DateMixin } from 'src/mixins/DateMixin'
import PhotoPreviewListItem from 'src/pages/photos/components/PhotoPreviewListItem'

export default {
  name: 'PhotosPreviewList',
  components: {
    PhotoPreviewListItem
  },
  mixins: [
    DateMixin
  ],
  props: {
    photos: {
      type: Array,
      required: true
    },
    activePhoto: {
      type: Object,
      default: null
    }
  },
  emits: ['photo-deleted'],
  watch: {
    activePhoto (newVal, oldVal) {
      if (newVal && newVal.id && (!oldVal || !oldVal.id || newVal.id !== oldVal.id)) {
        try {
          this.$refs[`photo-${newVal.id}`][0].$el.scrollIntoView({ block: 'center' })
        } catch (e) {
          //
        }
      }
    }
  },
  computed: {
    sortedPhotos () {
      return this.photos.slice().sort((a, b) => b.shot_at.localeCompare(a.shot_at))
    }
  },
  methods: {
    isActive (photo) {
      return this.activePhoto?.id === photo.id
    }
  }
}
</script>
