<template>
  <div>
    <q-header
      class="text-white"
      style="background-color: #1C9ACD"
    >
      <q-toolbar
        :inset="false"
      >
        <q-btn
          flat
          dense
          icon="la la-bars"
          @click="onLeftDrawerButtonClick"
          class="q-mr-sm"
        />
        <NavigationTabsDesktop />
        <q-space />
        <q-btn
          flat
          round
          dense
          size="md"
          class="q-mr-sm text-white"
          :style="messagingStyle"
          icon="la la-envelope"
          to="/messaging"
        >
          <MessagingUnreadBadge />
        </q-btn>
      </q-toolbar>
    </q-header>

    <!-- Left Drawer -->
    <LeftDrawer
      ref="leftDrawer"
      key="header-headerDesktop-leftDrawer"
    />
  </div>
</template>

<script>
import LeftDrawer from 'src/components/layouts/header/components/LeftDrawer'
import NavigationTabsDesktop from 'src/components/layouts/navigation-tabs/NavigationTabsDesktop'
import MessagingUnreadBadge from 'src/pages/messaging/components/MessagingUnreadBadge'

import { RouterMixin } from 'src/mixins/RouterMixin'

export default {
  name: 'HeaderDesktop',
  components: {
    LeftDrawer,
    NavigationTabsDesktop,
    MessagingUnreadBadge
  },
  mixins: [
    RouterMixin
  ],
  props: {
    title: {
      type: String,
      default: ''
    },
    badgeContent: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      drawerLeft: false
    }
  },
  computed: {
    messagingStyle () {
      return this.$router.currentRoute.name === 'messaging'
        ? 'width: auto; opacity: 1;'
        : 'width: auto; opacity: 0.8;'
    }
  },
  methods: {
    onBackButtonClick () {
      this.goBack()
    },
    onLeftDrawerButtonClick () {
      this.$store.dispatch('appState/toggleLeftDrawer')
    }
  }
}
</script>

<style scoped>

.mail {
  width: 32px;
  margin-top: 5px;
}

</style>
