<template>
  <q-card
    :square="!isDesktopPlatform"
    class="column no-wrap col"
  >
    <q-card-section v-if="availablePlantSpecies.length === 0">
      <q-banner
        v-if="isLimitedToPlotPlantSpecies"
        class="bg-grey-3 text-body2 q-mb-sm"
      >
        <translate :translate-params="{plotName: storeTargetPlot.name}">
          You have not defined the crop(s) for this plot (%{plotName}).
        </translate>
        <a
          class="cursor-pointer"
          @click="goToPlotPage"
        >
          <translate>
            Define the crop(s) on this plot's page.
          </translate>
        </a>
      </q-banner>
    </q-card-section>
    <template v-else>
      <q-card-section>
        <div
          class="text-body2 q-mb-sm"
        >
          <translate>Crop species</translate>
        </div>
        <q-select
          v-if="canFilterPlantSpecies"
          v-model="_selectedPlantSpecies"
          :options="availablePlantSpeciesOptions"
          option-label="name"
          filled
          :loading="loading"
          @filter="filterPlantSpecies"
          use-input
          input-debounce="200"
        />
        <q-select
          v-else
          v-model="_selectedPlantSpecies"
          :options="availablePlantSpeciesOptions"
          option-label="name"
          filled
          :loading="loading"
        />
        <div
          v-if="isLimitedToPlotPlantSpecies"
          class="text-body2 text-grey q-mb-none"
        >
          <translate :translate-params="{plotName: storeTargetPlot.name}">
            The proposed crop(s) are those declared for this plot (%{plotName}).
          </translate>
          <a
            class="cursor-pointer"
            @click="goToPlotPage"
          >
            <translate
              translate-context="'Them' refers here to some crops. You can edit them (the crops) in this plot's page."
            >
              You can edit them in this plot's page.
            </translate>
          </a>
        </div>
      </q-card-section>
      <q-card-section v-if="_selectedPlantSpecies != null && visioneProfiles.length === 0 && hasLoadedVisionePlantSpeciesProfiles">
        <q-banner
          class="bg-accent text-white q-mb-sm"
        >
          <translate :translate-params="{crop: _selectedPlantSpecies.name}">
            Unfortunately, there are no Visione profiles available for this crop (%{crop}).
          </translate>
        </q-banner>
      </q-card-section>
      <q-card-section v-else>
        <div
          class="row items-center text-body2 q-mb-sm"
        >
          <div class="col">
            <translate>Crop profile</translate>
          </div>
          <div
            v-if="_selectedPlantSpecies != null"
            class="col-auto text-grey"
          >
            <translate :translate-params="{numberOfCropProfiles: visioneProfiles.length}">
              %{numberOfCropProfiles} crop profile(s) found
            </translate>
          </div>
        </div>
        <q-select
          v-model="_selectedPlantSpeciesProfileName"
          :options="visioneProfilesNames"
          filled
          :loading="loading || isLoadingVisionePlantSpeciesProfiles"
          :disable="_selectedPlantSpecies == null || visioneProfiles.length === 0"
        />
        <q-select
          v-if="visioneProfilesOptions.length"
          v-model="_selectedPlantSpeciesProfileOptions"
          :options="visioneProfilesOptions"
          filled
          :loading="loading || isLoadingVisionePlantSpeciesProfiles"
          :disable="_selectedPlantSpecies == null || visioneProfiles.length === 0"
          class="q-mt-md"
        />
      </q-card-section>
    </template>

    <!-- buttons -->
    <q-card-section class="q-mt-auto">
      <q-card-actions
        vertical
        align="stretch"
        class="q-pa-none"
      >
        <slot name="card-actions-btns" />
      </q-card-actions>
    </q-card-section>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import queryVisionePlantSpeciesProfilesByPlantSpeciesId from 'src/pages/fieldbook/fertilization/algorithms/visione/graphql/queryVisionePlantSpeciesProfilesByPlantSpeciesId'

export default {
  name: 'VisioneCropProfileSelectionCard',
  mixins: [PlatformMixin],
  props: {
    availablePlantSpecies: {
      type: Array,
      required: true
    },
    isLimitedToPlotPlantSpecies: {
      type: Boolean,
      required: true
    },
    selectedPlantSpecies: {
      type: Object,
      default: null
    },
    selectedPlantSpeciesProfile: {
      type: Object,
      default: null
    },
    loading: {
      type: Boolean,
      default: () => false
    }
  },
  emits: ['input-plant-species', 'input-plant-species-profile'],
  data () {
    return {
      visionePlantSpeciesProfiles: [],
      selectedPlantSpeciesProfileName: null,
      selectedPlantSpeciesProfileOptions: null,
      filterValue: null,
      hasLoadedVisionePlantSpeciesProfiles: false
    }
  },
  computed: {
    availablePlantSpeciesOptions () {
      if (this.canFilterPlantSpecies && this.filterValue) {
        return this.availablePlantSpecies.filter(plantSpecies => plantSpecies.name.toLowerCase().indexOf(this.filterValue) > -1)
      } else {
        return this.availablePlantSpecies
      }
    },
    canFilterPlantSpecies () {
      return !this.isLimitedToPlotPlantSpecies
    },
    isLoadingVisionePlantSpeciesProfiles () {
      return this.$apollo.queries.visionePlantSpeciesProfiles.loading
    },
    _selectedPlantSpecies: {
      get () {
        return this.selectedPlantSpecies
      },
      set (v) {
        this.$emit('input-plant-species', v)
      }
    },
    _selectedPlantSpeciesProfileName: {
      get () {
        return this.selectedPlantSpeciesProfileName
      },
      set (v) {
        this.selectedPlantSpeciesProfileName = v
        if (this.visioneProfilesOptions.length) {
          this._selectedPlantSpeciesProfileOptions = this.visioneProfilesOptions[0]
        } else {
          this._selectedPlantSpeciesProfileOptions = null
        }
      }
    },
    _selectedPlantSpeciesProfileOptions: {
      get () {
        return this.selectedPlantSpeciesProfileOptions
      },
      set (v) {
        this.selectedPlantSpeciesProfileOptions = v
        if (this.selectedPlantSpeciesProfileName && this.selectedPlantSpeciesProfileOptions) {
          this._selectedPlantSpeciesProfile = this.visioneProfiles.find(
            visioneProfile =>
              visioneProfile.profile_name === this.selectedPlantSpeciesProfileName &&
              visioneProfile.profile_option === this.selectedPlantSpeciesProfileOptions
          )
        } else {
          if (this.selectedPlantSpeciesProfileName && this.visioneProfilesOptions.length === 0) {
            this._selectedPlantSpeciesProfile = this.visioneProfiles.find(
              visioneProfile => visioneProfile.profile_name === this.selectedPlantSpeciesProfileName
            )
          } else {
            this._selectedPlantSpeciesProfile = null
          }
        }
      }
    },
    _selectedPlantSpeciesProfile: {
      get () {
        return this.selectedPlantSpeciesProfile
      },
      set (v) {
        this.$emit('input-plant-species-profile', v)
      }
    },
    storeTargetPlot () {
      return this.$store.state.fertilizationPlan?.target
    },
    visioneProfiles () {
      const profiles = []
      this.visionePlantSpeciesProfiles.forEach(visionePlantSpeciesProfile => {
        profiles.push(visionePlantSpeciesProfile.visione__profile)
      })
      return profiles
    },
    visioneProfilesNames () {
      const profilesNames = new Set()
      this.visioneProfiles.forEach(visioneProfile => {
        profilesNames.add(visioneProfile.profile_name)
      })
      return Array.from(profilesNames)
    },
    visioneProfilesOptions () {
      const profilesOptions = new Set()
      if (this._selectedPlantSpeciesProfileName != null) {
        this.visioneProfiles.filter(p => p.profile_name === this._selectedPlantSpeciesProfileName).forEach(visioneProfile => {
          if (visioneProfile.profile_option != null) {
            profilesOptions.add(visioneProfile.profile_option)
          }
        })
      }
      return Array.from(profilesOptions)
    }
  },
  watch: {
    selectedPlantSpeciesProfile (newValue) {
      if (newValue != null && (newValue?.profile_name !== this._selectedPlantSpeciesProfileName || newValue?.profile_option !== this._selectedPlantSpeciesProfileOptions)) {
        this.selectedPlantSpeciesProfileName = newValue.profile_name
        this.selectedPlantSpeciesProfileOptions = newValue.profile_option
      }
    }
  },
  apollo: {
    visionePlantSpeciesProfiles: {
      query: queryVisionePlantSpeciesProfilesByPlantSpeciesId,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          plant_species_id: this._selectedPlantSpecies.id
        }
      },
      update (data) {
        if (data.visione__profile_plant_species.length) {
          if (
            data.visione__profile_plant_species.find(
              profile =>
                profile?.visione__profile?.profile_name === this._selectedPlantSpeciesProfileName &&
                profile?.visione__profile?.profile_option === this._selectedPlantSpeciesProfileOptions
            ) == null
          ) {
            this.selectedPlantSpeciesProfileName = data.visione__profile_plant_species[0]?.visione__profile?.profile_name
            this.selectedPlantSpeciesProfileOptions = data.visione__profile_plant_species[0]?.visione__profile?.profile_option
            this._selectedPlantSpeciesProfile = data.visione__profile_plant_species[0].visione__profile
          }
        }
        this.hasLoadedVisionePlantSpeciesProfiles = true
        return data.visione__profile_plant_species
      },
      skip () {
        return this.loading || this._selectedPlantSpecies == null || this._selectedPlantSpecies?.id == null
      }
    }
  },
  methods: {
    filterPlantSpecies (val, update, abort) {
      update(() => {
        this.filterValue = val.toLowerCase()
      })
    },
    goToPlotPage () {
      this.$router.push({
        name: 'plot',
        params: { idPlot: this.storeTargetPlot.id }
      })
    }
  },
  mounted () {
    if (this.selectedPlantSpeciesProfile) {
      this.selectedPlantSpeciesProfileName = this.selectedPlantSpeciesProfile.profile_name
      this.selectedPlantSpeciesProfileOptions = this.selectedPlantSpeciesProfile.profile_option
    }
  }
}
</script>
