<template>
  <q-dialog
    v-model="show"
    persistent
  >
    <q-card>
      <q-card-section>
        <div
          class="text-body2 q-mb-none"
        >
          <translate>Select an organic fertilizer:</translate>
        </div>

        <q-select
          :model-value="results.organic_fertilizer"
          :options="organicFertilizers"
          option-label="name"
          filled
          :loading="isLoadingOrganicFertilizers"
          @update:model-value="onFertilizerInput"
        />
      </q-card-section>
      <q-card-section>
        <div
          class="text-body2 q-mb-none"
        >
          <span
            v-translate="{chemicalElements: chemicalElementsHTML}"
            render-html="true"
          >
            Concentration (by weight) of %{chemicalElements}:
          </span>
        </div>
        <div
          class="row q-col-gutter-sm"
        >
          <div class="col-4">
            <q-input
              filled
              type="number"
              label="N"
              suffix="%"
              v-model="results.custom_concentration.n"
              min="0"
              max="100"
              :rules="customInputRules"
            />
          </div>
          <div class="col-4">
            <q-input
              filled
              type="number"
              label-slot
              suffix="%"
              v-model="results.custom_concentration.p2o5"
              min="0"
              max="100"
              :rules="customInputRules"
            >
              <template #label>
                P<sub>2</sub>O<sub>5</sub>
              </template>
            </q-input>
          </div>
          <div class="col-4">
            <q-input
              filled
              type="number"
              label-slot
              suffix="%"
              v-model="results.custom_concentration.k2o"
              min="0"
              max="100"
              :rules="customInputRules"
            >
              <template #label>
                K<sub>2</sub>O
              </template>
            </q-input>
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <div
          class="text-body2 q-mb-none"
        >
          <translate>Select the period and method of distribution:</translate>
        </div>
        <q-banner
          v-if="results.organic_fertilizer != null && organicFertilizerEfficiencies.length === 0 && !isLoadingOrganicFertilizerEfficiencies"
          class="bg-accent text-white q-mt-sm"
        >
          <translate>
            Unfortunately, there are no periods and methods of distribution available for this fertilizer.
          </translate>
        </q-banner>
        <q-select
          v-else
          v-model="results.organic_fertilizer_efficiency"
          :options="organicFertilizerEfficiencies"
          filled
          :loading="isLoadingOrganicFertilizerEfficiencies"
        >
          <template #option="scope">
            <q-item
              v-bind="scope.itemProps"
            >
              <q-item-section>
                <q-item-label>{{ scope.opt.label }}</q-item-label>
                <q-item-label caption>
                  {{ scope.opt.period }} - <translate>efficiency:</translate> {{ scope.opt.efficiency }} ({{ scope.opt.coef_efficiency }}%)
                </q-item-label>
              </q-item-section>
            </q-item>
          </template>
          <template #selected>
            <q-item
              v-if="results.organic_fertilizer_efficiency != null"
              class="q-px-none"
            >
              <q-item-section>
                <q-item-label>{{ results.organic_fertilizer_efficiency.label }}</q-item-label>
                <q-item-label caption>
                  {{ results.organic_fertilizer_efficiency.period }} - <translate>efficiency:</translate> {{ results.organic_fertilizer_efficiency.efficiency }} ({{ results.organic_fertilizer_efficiency.coef_efficiency }}%)
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item v-else>
              <q-item-section>
                <q-item-label />
              </q-item-section>
            </q-item>
          </template>
        </q-select>
      </q-card-section>
      <q-card-section>
        <q-input
          filled
          type="number"
          :label="$pgettext('Dose of fertilizer', 'Dose')"
          :suffix="$pgettext('ton per hectare', 't/ha')"
          v-model="results.dose"
          min="0"
          :rules="customInputRules"
        />
      </q-card-section>
      <q-card-section class="q-mt-auto">
        <q-card-actions
          vertical
          align="stretch"
        >
          <q-btn
            v-if="update"
            color="primary"
            text-color="white"
            :disable="!canAdd"
            @click="onUpdate"
          >
            <translate>Save</translate>
          </q-btn>
          <q-btn
            v-else
            color="primary"
            text-color="white"
            :disable="!canAdd"
            @click="onAdd"
          >
            <translate>Add</translate>
          </q-btn>
          <q-btn
            flat
            color="primary"
            @click="onCancel"
          >
            <translate>Cancel</translate>
          </q-btn>
        </q-card-actions>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import queryVisioneOrganicFertilizersWithEfficiencies from 'src/pages/fieldbook/fertilization/algorithms/visione/graphql/queryVisioneOrganicFertilizersWithEfficiencies'
import queryVisioneOrganicFertilizerEfficienciesByOrganicFertilizerId from 'src/pages/fieldbook/fertilization/algorithms/visione/graphql/queryVisioneOrganicFertilizerEfficienciesByOrganicFertilizerId'

const initialResultsData = {
  organic_fertilizer: null,
  custom_concentration: {
    n: null,
    p2o5: null,
    k2o: null
  },
  organic_fertilizer_efficiency: null,
  dose: null
}
export default {
  name: 'VisioneFertilizationDefinitionDialog',
  props: {
    modelValue: {
      type: Boolean,
      required: true
    },
    update: {
      type: Boolean,
      default: false
    },
    fertilizationToUpdate: {
      type: Object,
      default: null
    }
  },
  emits: ['input', 'add', 'update', 'update:model-value'],
  data () {
    return {
      organicFertilizers: [],
      organicFertilizerEfficiencies: [],
      results: initialResultsData,
      isReady: false,
      chemicalElementsHTML: 'N, P<sub>2</sub>O<sub>5</sub> and K<sub>2</sub>O'
    }
  },
  apollo: {
    organicFertilizers: {
      query: queryVisioneOrganicFertilizersWithEfficiencies,
      notifyOnNetworkStatusChange: true,
      update (data) {
        if (data.visione__organic_fertilizer.length) {
          if (this.results.organic_fertilizer?.id == null) {
            // If no fertilizer is defined / selected, select the first one
            this.onFertilizerInput(data.visione__organic_fertilizer[0])
          }
        }
        return data.visione__organic_fertilizer
      },
      skip () {
        return !this.show || !this.isReady
      }
    },
    organicFertilizerEfficiencies: {
      query: queryVisioneOrganicFertilizerEfficienciesByOrganicFertilizerId,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          organic_fertilizer_id: this.results.organic_fertilizer.id
        }
      },
      update (data) {
        if (data.visione__organic_fertilizer_efficiency.length) {
          this.results.organic_fertilizer_efficiency = data.visione__organic_fertilizer_efficiency[0]
        }
        return data.visione__organic_fertilizer_efficiency
      },
      skip () {
        return this.results?.organic_fertilizer?.id == null
      }
    }
  },
  computed: {
    canAdd () {
      return this.results.organic_fertilizer != null &&
        ((this.results.custom_concentration.n != null && this.results.custom_concentration.n >= 0) ||
        (this.results.custom_concentration.p2o5 != null && this.results.custom_concentration.p2o5 >= 0) ||
        (this.results.custom_concentration.k2o != null && this.results.custom_concentration.k2o >= 0)) &&
        this.results.organic_fertilizer_efficiency != null &&
        (this.results.dose != null && this.results.dose >= 0)
    },
    customInputRules () {
      return [
        val => !isNaN(val) || `${this.$gettext('Must be a number')}`,
        val => !!val || `* ${this.$gettext('This field is required')}`,
        val => val >= 0 || `${this.$gettext('Must be positive')}`
      ]
    },
    isLoadingOrganicFertilizerEfficiencies () {
      return this.$apollo.queries.organicFertilizerEfficiencies.loading
    },
    isLoadingOrganicFertilizers () {
      return this.$apollo.queries.organicFertilizers.loading
    },
    show: {
      get () {
        return this.modelValue
      },
      set (value) {
        this.$emit('update:model-value', value)
        this.isReady = false
      }
    }
  },
  methods: {
    onAdd () {
      this.$emit('add', this.results)
      this.show = false
    },
    onUpdate () {
      this.$emit('update', this.results)
      this.show = false
    },
    onCancel () {
      this.show = false
      this.resetData()
    },
    onFertilizerInput (value) {
      this.results.organic_fertilizer = value
      this.results.custom_concentration.n = value.n
      this.results.custom_concentration.p2o5 = value.p2o5
      this.results.custom_concentration.k2o = value.k2o
      this.results.dose = null
      this.results.organic_fertilizer_efficiency = null
    },
    resetData () {
      this.organicFertilizers = []
      this.organicFertilizerEfficiencies = []
      this.results = initialResultsData
    }
  },
  mounted () {
    if (this.update) {
      this.results = JSON.parse(JSON.stringify(this.fertilizationToUpdate))
    }
    this.isReady = true
  }
}
</script>
