<template>
  <q-list>
    <!-- Crop species -->
    <q-item dense>
      <q-item-label
        header
        class="col-5"
      >
        <translate>
          Crop species
        </translate>
      </q-item-label>
      <q-item-section class="col-7">
        {{ storeParameters.plant_species.name }}
      </q-item-section>
    </q-item>
    <!-- Crop profile -->
    <q-item dense>
      <q-item-label
        header
        class="col-5"
      >
        <translate>
          Crop profile
        </translate>
      </q-item-label>
      <q-item-section class="col-7">
        {{ storeParameters.visione_profile.profile_name }}
        <template v-if="storeParameters.visione_profile.profile_option">
          - {{ storeParameters.visione_profile.profile_option }}
        </template>
      </q-item-section>
    </q-item>
    <!-- Crop production phase -->
    <q-item dense>
      <q-item-label
        header
        class="col-5"
      >
        <translate translate-context="crop production phase">
          Production phase
        </translate>
      </q-item-label>
      <q-item-section class="col-7">
        {{ storeParameters.production_phase.label }}
      </q-item-section>
    </q-item>
    <!-- Fertilizations -->
    <template v-if="storeParameters.fertilizations && storeParameters.fertilizations.length">
      <q-item dense>
        <q-item-label header>
          <translate>Effluents / Fertilizers</translate>
        </q-item-label>
      </q-item>
      <q-item
        v-for="fertilization in storeParameters.fertilizations"
        :key="'fertilization-' + fertilization.organic_fertilizer.id"
        dense
      >
        <q-item-section avatar>
          <q-icon
            color="grey"
            name="las la-minus"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ fertilization.organic_fertilizer.name }}</q-item-label>
          <q-item-label
            caption
            lines="2"
          >
            {{ fertilization.organic_fertilizer_efficiency.label }}
          </q-item-label>
          <q-item-label
            caption
          >
            <span class="q-mr-sm">
              N: {{ fertilization.organic_fertilizer.n }}%
            </span>
            <span class="q-mr-sm">
              P<sub>2</sub>O<sub>5</sub>: {{ fertilization.organic_fertilizer.p2o5 }}%
            </span>
            <span>
              K<sub>2</sub>O: {{ fertilization.organic_fertilizer.k2o }}%
            </span>
          </q-item-label>
        </q-item-section>
        <q-item-section
          side
          top
          class="text-black"
        >
          <q-item-label>{{ fertilization.dose + $pgettext('ton per hectare', 't/ha') }}</q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-list>
</template>

<script>
import VisioneMixins from 'src/pages/fieldbook/fertilization/algorithms/visione/mixins/VisioneMixins'

export default {
  name: 'VisioneComputeTreeCrop',
  mixins: [VisioneMixins],
  computed: {
    storeParameters () {
      return this.$store.state.fertilizationPlan?.parameters ?? {}
    }
  },
  methods: {
  }
}
</script>
