<template>
  <GenericLayout class-names="bg-primary">
    <template #page-content>
      <div class="column q-gutter-y-md">
        <q-spinner
          color="primary"
          size="4em"
        />
      </div>
    </template>
  </GenericLayout>
</template>

<script>
import GenericLayout from 'src/layouts/GenericLayout'
// Login callback page. It is required just to avoid the 404 page in the login process.
export default {
  name: 'OauthLoginCallback',
  components: {
    GenericLayout
  }
}
</script>
