<template>
  <GenericLayout class-names="bg-primary">
    <template #page-content>
      <div class="column items-center no-wrap q-gutter-y-md full-height">
        <img
          src="/images/logo/fast-farmer-app.svg"
          alt="FaST logo"
          style="width: 130px; height: 130px; display: block;"
          class="q-mb-md q-mt-xl"
        >

        <div class="text-h4 text-white q-mb-lg">
          FaST
        </div>

        <div style="height: 1px; width: 100%; background-color: white;" />

        <template v-if="authError">
          <!-- Login error -->
          <div
            class="q-pa-md text-h6 text-white text-center full-width"
          >
            <translate>Something went wrong during login.</translate>
          </div>
          <div
            style="opacity: 0.5;"
            class="text-white q-px-lg q-pb-none q-mt-none text-center"
          >
            <translate>You can try again by clicking:</translate>
          </div>
          <q-btn
            size="md"
            outline
            color="white"
            @click="_login"
          >
            <translate>Login</translate>
          </q-btn>
        </template>

        <template v-else-if="isLoggedIn">
          <!-- Wait for services to be initialized after login -->
          <q-spinner-dots
            color="white"
            size="50px"
          />
        </template>

        <template v-else>
          <!-- Login in progress -->
          <div
            class="q-pa-md text-h6 text-white"
          >
            <translate>We are logging you in...</translate>
          </div>
          <div class="full-width text-center q-mt-none">
            <q-spinner-dots
              size="40px"
              color="white"
            />
          </div>
          <div
            class="text-white q-px-lg q-pb-none text-center text-weight-bold"
            v-if="showSafariPopupWarning"
          >
            <translate>On the Safari browser, it is necessary to disable the pop-up blocker in the settings.</translate>
          </div>
          <div
            style="opacity: 0.5;"
            class="text-white q-px-lg q-pb-none text-center"
          >
            <translate>A new window or tab should open automatically. If nothing happens, please click:</translate>
          </div>
          <q-btn
            flat
            dense
            size="md"
            color="white"
            @click="_login"
          >
            <translate>Login</translate>
          </q-btn>
          <div
            style="opacity: 0.5;"
            class="text-white q-px-md q-pb-none q-mt-lg text-center"
          >
            <translate>Or go back to the previous screen:</translate>
          </div>
          <q-btn
            flat
            dense
            size="md"
            color="white"
            @click="$router.replace({ name: 'regionSelection' })"
          >
            <translate>Go back</translate>
          </q-btn>
        </template>
      </div>
    </template>
  </GenericLayout>
</template>

<script>
import GenericLayout from 'src/layouts/GenericLayout'
import queryUserByPk from 'src/pages/login/oauth-login/graphql/queryUserByPk'
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { login } from 'src/services/authentication'
import { initMobileServices } from 'src/services/mobile'
import { loadPortalConfiguration } from 'src/services/portal-configuration'
import { initializeUploadService } from 'src/services/photo/upload'

export default {
  name: 'OauthLogin',
  components: {
    GenericLayout
  },
  mixins: [
    PlatformMixin
  ],
  data () {
    return {
      isLoggedIn: false,
      authError: null
    }
  },
  computed: {
    showSafariPopupWarning () {
      return !this.isMobileApp && this.$q.platform.is.safari
    }
  },
  async mounted () {
    await this._login()
  },
  methods: {
    async _login () {
      this.authError = null
      try {
        const config = this.$store.state.fastplatform.config

        // Login (will open OIDC page) and expect tokens back
        const loginCustomOptions = {
          authorizationBaseUrl: config.login.authorization_endpoint,
          accessTokenEndpoint: config.login.token_endpoint,
          appId: config.login.clientId
        }
        const tokens = await login(loginCustomOptions)

        // Logged in, now get the userinfo
        let userInfo
        try {
          const { data } = await this.$axios.get(
            config.login.userinfo_endpoint,
            { params: { access_token: tokens.accessToken } }
          )
          userInfo = data
          this.$store.commit('fastplatform/updateTokens', tokens)
        } catch (e) {
          console.error('Could not get user info from userinfo endpoint', e)
        }

        // Retrieve user from DB
        try {
          const user = await this.$apollo.query({
            query: queryUserByPk,
            variables: {
              username: userInfo.sub
            },
            fetchPolicy: 'network-only'
          })
          this.$store.commit('fastplatform/updateUser', user.data.user_by_pk)
          console.log('User ' + user.data.user_by_pk.username + ' logged in')
          this.isLoggedIn = true
        } catch (e) {
          throw new Error('Could not retrieve user', e)
        }

        // Init mobile services after user change
        if (this.isMobileApp) {
          initMobileServices(this.isIos)
        } else {
          initializeUploadService(this.isIos)
        }

        // load portal configuration
        await loadPortalConfiguration()

        this.$router.replace({ name: 'home' }).catch(() => {})
      } catch (e) {
        console.error('Login failed', e)
        this.authError = true
      }
    }
  }
}
</script>
