<template>
  <q-card
    :square="!isDesktopPlatform"
    class="column no-wrap col"
  >
    <q-list
      v-for="plotId in Object.keys(recommendationsGroupedByPlot)"
      :key="'recommendations-plot-' + plotId"
    >
      <q-item class="flex-center">
        <q-item-label
          class="text-subtitle1"
        >
          <q-icon
            size="sm"
            name="la la-draw-polygon"
          />
          <span class="q-ml-sm">
            {{ recommendationsGroupedByPlot[plotId].plot_name }}
          </span>
        </q-item-label>
      </q-item>

      <q-list
        v-for="(recommendation, recommendationIndex) in recommendationsGroupedByPlot[plotId].recommendations"
        :key="'recommendations-plot-' + plotId + '-index-' + recommendationIndex"
        class="q-mb-lg"
      >
        <!-- Plant species -->
        <q-item-label
          header
          class="q-pb-sm text-subtitle2"
        >
          <q-icon
            size="sm"
            name="la la-pagelines"
          />
          <span
            class="q-ml-sm"
          >
            {{ recommendation.plant_species_name }} <span v-if="recommendation.plant_species_profile_name">{{ recommendation.plant_species_profile_name }} </span><span v-if="recommendationsGroupedByPlot[plotId].recommendations.length > 1">({{ recommendation.rotation_order }})</span>
          </span>
        </q-item-label>
        <q-banner
          class="bg-grey-2"
        >
          <div class="row q-mt-sm">
            <div
              v-for="elementRecommendation in getNPKRecommendationsForRotation(recommendation)"
              :key="'recommendations-plot-' + plotId + '-index-' + recommendationIndex + '-banner-element-' + elementRecommendation.chemical_element_id"
              class="col-4 column text-center"
            >
              <span
                class="q-mb-sm"
                :class="`text-${elementRecommendation.chemical_element_id.toLowerCase()}`"
              >
                <template v-if="elementRecommendation.chemical_element_id.toLowerCase() === 'n'">
                  {{ elementRecommendation.chemical_element_id.toUpperCase() }}
                </template>
                <template v-else-if="elementRecommendation.chemical_element_id.toLowerCase() === 'p'">
                  P<sub>2</sub>O<sub>5</sub>
                </template>
                <template v-else>
                  K<sub>2</sub>O
                </template>
              </span>
              <span
                class="text-body1 text-bold"
                :class="`text-${elementRecommendation.chemical_element_id.toLowerCase()}`"
              >{{ elementRecommendation.quantity || 0 }}</span>
              <span class="text-grey">{{ unitOfMeasuresSymbol[elementRecommendation.unit_of_measure_id] }}</span>
            </div>
          </div>
        </q-banner>
        <template
          v-for="elementRecommendations in getRotationElementRecommendationsMapping(recommendation)"
          :key="'recommendations-plot-' + plotId + '-index-' + recommendationIndex + '-element-' + elementRecommendations.elementId + '-label'"
        >
          <q-item-label
            header
            :class="`text-${elementRecommendations.elementId}`"
            class="q-pb-sm"
          >
            <template v-if="elementRecommendations.elementId === 'n'">
              <translate>Nitrogen</translate><span> - N</span>
            </template>
            <template v-else-if="elementRecommendations.elementId === 'p'">
              <translate>Phosphorus</translate><span> - P<sub>2</sub>O<sub>5</sub></span>
            </template>
            <template v-else-if="elementRecommendations.elementId === 'k'">
              <translate>Potassium</translate><span> - K<sub>2</sub>O</span>
            </template>
          </q-item-label>
          <q-item
            v-if="elementRecommendations[resultTypes.PLANT_NEEDS] != null"
            :key="'recommendations-plot-' + plotId + '-index-' + recommendationIndex + '-element-' + elementRecommendations.elementId + '-needs'"
            dense
          >
            <q-item-label
              header
              class="col-xs-6 col-md-5 q-py-xs"
            >
              <translate>
                Needs
              </translate>
            </q-item-label>
            <q-item-section class="col-xs-6 col-md-7">
              {{ elementRecommendations[resultTypes.PLANT_NEEDS].quantity }} {{ unitOfMeasuresSymbol[elementRecommendations[resultTypes.PLANT_NEEDS].unitOfMeasureId] }}
            </q-item-section>
          </q-item>
          <q-item
            v-if="elementRecommendations[resultTypes.PLANNED] != null"
            :key="'recommendations-plot-' + plotId + '-index-' + recommendationIndex + '-element-' + elementRecommendations.elementId + '-provided'"
            dense
          >
            <q-item-label
              header
              class="col-xs-6 col-md-5 q-py-xs"
            >
              <translate>
                Provided by organic fertilizer
              </translate>
            </q-item-label>
            <q-item-section class="col-xs-6 col-md-7">
              {{ elementRecommendations[resultTypes.PLANNED].quantity }} {{ unitOfMeasuresSymbol[elementRecommendations[resultTypes.PLANNED].unitOfMeasureId] }}
            </q-item-section>
          </q-item>
          <q-item
            v-if="elementRecommendations[resultTypes.STANDARD_DOSE] != null"
            :key="'recommendations-plot-' + plotId + '-index-' + recommendationIndex + '-element-' + elementRecommendations.elementId + '-standard-dose'"
            dense
          >
            <q-item-label
              header
              class="col-xs-6 col-md-5 q-py-xs"
            >
              <translate>
                Standard Dose
              </translate>
            </q-item-label>
            <q-item-section
              class="col-xs-6 col-md-7"
            >
              {{ elementRecommendations[resultTypes.STANDARD_DOSE].quantity }} {{ unitOfMeasuresSymbol[elementRecommendations[resultTypes.STANDARD_DOSE].unitOfMeasureId] }}
            </q-item-section>
          </q-item>
          <q-item
            v-if="elementRecommendations[resultTypes.RECOMMENDATION] != null"
            :key="'recommendations-plot-' + plotId + '-index-' + recommendationIndex + '-element-' + elementRecommendations.elementId + '-recommendation'"
            dense
            class="text-bold"
          >
            <q-item-label
              header
              class="col-xs-6 col-md-5 q-py-xs"
            >
              <translate>
                Recommendation
              </translate>
            </q-item-label>
            <q-item-section class="col-xs-6 col-md-7">
              {{ elementRecommendations[resultTypes.RECOMMENDATION].quantity }} {{ unitOfMeasuresSymbol[elementRecommendations[resultTypes.RECOMMENDATION].unitOfMeasureId] }}
            </q-item-section>
          </q-item>
        </template>
        <!-- Advices -->
        <template v-if="recommendation.advices && recommendation.advices.length">
          <q-item-label header>
            <translate>Advices</translate>
          </q-item-label>
          <q-item
            v-for="(advice, adviceIndex) in recommendation.advices"
            :key="'recommendations-plot-' + plotId + '-index-' + recommendationIndex + '-advices-' + adviceIndex"
            dense
          >
            <q-item-section side>
              <q-icon
                color="black"
                name="las la-minus"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ advice }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator
            v-if="recommendationIndex < recommendationsGroupedByPlot[plotId].recommendations.length - 1"
            spaced
          />
        </template>
      </q-list>
    </q-list>

    <!-- buttons -->
    <slot name="action-buttons" />

    <q-card-section
      v-if="displayActionButtons"
      class="q-mt-auto"
    >
      <q-card-actions
        vertical
        align="stretch"
        class="q-pa-none"
      >
        <q-btn
          color="primary"
          text-color="white"
          :loading="saving"
          @click="onClickSavePlan"
        >
          {{ savePlanButtonLabel }}
        </q-btn>
        <q-btn
          flat
          color="primary"
          @click="$router.back()"
        >
          <translate>Previous</translate>
        </q-btn>
        <q-btn
          flat
          color="primary"
          @click="$router.push({name: 'fertilizationPlans'})"
        >
          <translate>Back to all my plans</translate>
        </q-btn>
      </q-card-actions>
    </q-card-section>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import VisioneMixins from 'src/pages/fieldbook/fertilization/algorithms/visione/mixins/VisioneMixins'
import { chemicalFormulasIds } from 'src/services/fieldbook/fertilization/fertilizationPlan'

export default {
  name: 'VisioneResultsCard',
  mixins: [PlatformMixin, FertilizationPlanMixin, VisioneMixins],
  props: {
    fertilizationPlanParameters: {
      type: Object,
      required: true
    },
    fertilizationPlanResults: {
      type: Object,
      required: false,
      default: null
    },
    displayActionButtons: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      elements: [
        {
          id: 'n',
          label: this.$gettext('Nitrogen'),
          labelShort: this.$pgettext('Nitrogen', 'N')
        },
        {
          id: 'p',
          label: this.$gettext('Phosphorus'),
          labelShort: this.$pgettext('Phosphorus', 'P')
        },
        {
          id: 'k',
          label: this.$gettext('Potassium'),
          labelShort: this.$pgettext('Potassium', 'K')
        }
      ]
    }
  },
  computed: {
    npkRecommendations () {
      return this.fertilizationPlanResults != null
        ? this.fertilizationPlanResults.npk_recommendations
        : this.npkRecommendationsFromFertilizationPlanParameters
    },
    npkRecommendationsFromFertilizationPlanParameters () {
      return this.fertilizationPlanParameters.results.map(result => {
        return {
          rotation_order: result.order_id,
          plot_id: result.plot_id,
          plot_name: result.plot.name,
          plant_species_id: this.fertilizationPlanParameters.is_tree_crop
            ? this.fertilizationPlanParameters.plant_species.id
            : this.fertilizationPlanParameters.current_rotations[result.order_id - 1].plant_species.id,
          plant_species_name: this.fertilizationPlanParameters.is_tree_crop
            ? this.fertilizationPlanParameters.plant_species.name
            : this.fertilizationPlanParameters.current_rotations[result.order_id - 1].plant_species.name,
          plant_species_profile_name: this.fertilizationPlanParameters.is_tree_crop
            ? `${this.fertilizationPlanParameters.visione_profile?.profile_name ?? ''}${this.fertilizationPlanParameters.visione_profile?.profile_option ? ' ' + this.fertilizationPlanParameters.visione_profile.profile_option : ''}`
            : `${this.fertilizationPlanParameters.current_rotations[result.order_id - 1].visione_profile?.profile_name ?? ''}${this.fertilizationPlanParameters.current_rotations[result.order_id - 1].visione_profile?.profile_option ? ' ' + this.fertilizationPlanParameters.current_rotations[result.order_id - 1].visione_profile.profile_option : ''}`,
          crop_yield: this.fertilizationPlanParameters.is_tree_crop
            ? null
            : this.fertilizationPlanParameters.current_rotations[result.order_id - 1].crop_yield_per_cycle,
          crop_yield_unit_of_measure_id: this.unitOfMeasures.TON_PER_HECTARE,
          element_recommendations: this.getNonNullNPKResults(result).map(nonNullKey => {
            // get the element or formulae from the key
            const chemicalFormula = nonNullKey.split('_')[0].toUpperCase()
            const chemicalElement = chemicalFormula.includes('N') ? 'N' : chemicalFormula.includes('P') ? 'P' : 'K'
            // get the result type
            let resultType
            if (nonNullKey.includes('requirement')) {
              resultType = this.resultTypes.PLANT_NEEDS
            } else if (nonNullKey.includes('organic_fertilizer')) {
              resultType = this.resultTypes.PLANNED
            } else if (nonNullKey.includes('standard_dose')) {
              resultType = this.resultTypes.STANDARD_DOSE
            } else {
              resultType = this.resultTypes.RECOMMENDATION
            }
            return {
              result_type: resultType,
              chemical_formula_id: chemicalFormulasIds[chemicalFormula],
              chemical_element_id: this.chemicalElementsIds[chemicalElement],
              quantity: Number(result[nonNullKey].toFixed(1)),
              unit_of_measure_id: this.unitOfMeasures.KILOGRAM_PER_HECTARE
            }
          }),
          advices: result.proposed_strategies ?? [],
          warnings: []
        }
      })
    },
    recommendationsGroupedByPlot () {
      const recommendationsByPlot = {}
      this.npkRecommendations.forEach(npkRecommendation => {
        if (recommendationsByPlot[npkRecommendation.plot_id] == null) {
          recommendationsByPlot[npkRecommendation.plot_id] = {
            plot_name: npkRecommendation.plot_name,
            recommendations: []
          }
        }
        recommendationsByPlot[npkRecommendation.plot_id].recommendations.push(npkRecommendation)
        if (recommendationsByPlot[npkRecommendation.plot_id].recommendations.length > 1) {
          // sort by order
          recommendationsByPlot[npkRecommendation.plot_id].recommendations.sort((a, b) => {
            return a.rotation_order - b.rotation_order
          })
        }
      })
      return recommendationsByPlot
    }
  },
  methods: {
    getRotationElementRecommendationsMapping (rotationRecommendations) {
      const mapping = {}
      rotationRecommendations.element_recommendations.forEach(elementRecommendation => {
        if (mapping[elementRecommendation.chemical_element_id.toLowerCase()] == null) {
          mapping[elementRecommendation.chemical_element_id.toLowerCase()] = {
            elementId: elementRecommendation.chemical_element_id.toLowerCase(),
            elementFormulaId: elementRecommendation?.chemical_formula_id?.toLowerCase()
          }
        }
        mapping[elementRecommendation.chemical_element_id.toLowerCase()][elementRecommendation.result_type] = {
          quantity: elementRecommendation.quantity,
          unitOfMeasureId: elementRecommendation.unit_of_measure_id
        }
      })
      return [
        mapping.n,
        mapping.p,
        mapping.k
      ]
    },
    getNPKRecommendationsForRotation (rotationRecommendations) {
      return rotationRecommendations.element_recommendations.filter(
        elementRecommendation => elementRecommendation.result_type === this.resultTypes.RECOMMENDATION
      )
    },
    getNonNullNPKResults (npkOutput) {
      // extract only the npk related fields that are not null from the output
      const fields = []
      Object.keys(npkOutput).forEach(k => {
        if (['n_requirement',
          'p2o5_requirement',
          'k2o_requirement',
          'n_organic_fertilizer',
          'p2o5_organic_fertilizer',
          'k2o_organic_fertilizer',
          'n_standard_dose',
          'p2o5_standard_dose',
          'k2o_standard_dose',
          'n_recommendation',
          'p2o5_recommendation',
          'k2o_recommendation'].includes(k)) {
          if (npkOutput[k] != null) {
            fields.push(k)
          }
        }
      })
      return fields
    },
    onClickSavePlan () {
      const result = { npk_recommendations: this.npkRecommendations }
      this.savePlan(result)
    }
  }
}
</script>
