<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <VisioneCropProfileSelectionCard
          :available-plant-species="plantSpecies"
          :is-limited-to-plot-plant-species="false"
          :selected-plant-species="storePlantSpecies"
          @input-plant-species="onInputPlantSpecies"
          :selected-plant-species-profile="storePlantSpeciesVisioneProfile"
          @input-plant-species-profile="onInputPlantSpeciesVisioneProfile"
          :loading="isLoadingPlantSpecies"
        >
          <template #card-actions-btns>
            <q-btn
              color="primary"
              text-color="white"
              :disable="!canContinue"
              @click="onClickNext"
            >
              <translate>Next</translate>
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="onClickPrevious"
            >
              <translate>Previous</translate>
            </q-btn>
          </template>
        </VisioneCropProfileSelectionCard>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import VisioneCropProfileSelectionCard from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/component/VisioneCropProfileSelectionCard'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import VisioneMixins from 'src/pages/fieldbook/fertilization/algorithms/visione/mixins/VisioneMixins'

import queryPlantSpecies from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryPlantSpecies'

export default {
  name: 'VisionePreviousCampaignProfilePage',
  components: {
    GenericLayout,
    Header,
    Footer,
    VisioneCropProfileSelectionCard
  },
  mixins: [PlatformMixin, AlgorithmsMixins, VisioneMixins],
  data () {
    return {
      plantSpecies: []
    }
  },
  computed: {
    canContinue () {
      return this.storePlantSpecies != null && this.storePlantSpeciesVisioneProfile != null
    },
    isLoadingPlantSpecies () {
      return this.$apollo.queries.plantSpecies.loading
    },
    pageTitle () {
      return this.$gettext('Previous Campaign - Crop Profile')
    },
    pageSubTitle () {
      return 'Visione'
    },
    storePlantSpecies: {
      get () {
        return this.$store.state.fertilizationPlan.parameters?.previous_rotation?.plant_species
      },
      set (v) {
        this.updatePreviousRotationParameter('plant_species', v)
      }
    },
    storePlantSpeciesVisioneProfile: {
      get () {
        return this.$store.state.fertilizationPlan.parameters?.previous_rotation?.visione_profile
      },
      set (v) {
        this.updatePreviousRotationParameter('visione_profile', v)
      }
    }
  },
  apollo: {
    plantSpecies: {
      query: queryPlantSpecies,
      notifyOnNetworkStatusChange: true,
      update (data) {
        if (data.plant_species.length && this.storePlantSpecies == null) {
          this.storePlantSpecies = data.plant_species[0]
        }
        return data.plant_species
      }
    }
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'visionePreviousCampaignResidues'
      })
    },
    onClickPrevious () {
      // use router back since this page can be accessed from either VisioneCropRotationsPage or VisioneAddCropRotationFertilizationsPage
      if (this.canHaveMultipleRotations) {
        this.$router.push({
          name: 'visioneCropRotations'
        })
      } else {
        this.$router.push({
          name: 'visioneAddCropRotationFertilizations'
        })
      }
    },
    onInputPlantSpecies (v) {
      this.storePlantSpeciesVisioneProfile = null
      this.storePlantSpecies = v
    },
    onInputPlantSpeciesVisioneProfile (v) {
      this.storePlantSpeciesVisioneProfile = v
    }
  }
}
</script>
