<template>
  <div
    id="map"
    :class="mapClass"
  >
    <slot name="map-inner-content" />

    <!-- svg filter to be applied on leaflet tilelayer to color ndvi png -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; height: 0;"
    >
      <defs>
        <filter
          id="ndvi"
          color-interpolation-filters="sRGB"
        >
          <feColorMatrix
            type="matrix"
            values="1 0 0 0 0  1 0 0 0 0  1 0 0 0 0  0.5 0 0 0.5 0 "
            in="SourceGraphic"
            result="GrayToAllChannels"
          />
          <feComponentTransfer in="GrayToAllChannels">
            <feFuncR
              type="discrete"
              tableValues="0 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.988 0.988 0.988 0.988 0.988 0.988 0.988 0.988 0.988 0.988 0.988 0.988 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1"
            />
            <feFuncG
              type="discrete"
              tableValues="0 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 1"
            />
            <feFuncB
              type="discrete"
              tableValues="0 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 1"
            />
            <feFuncA
              type="discrete"
              tableValues="0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0.7"
            />
          </feComponentTransfer>
        </filter>
      </defs>
    </svg>
  </div>
</template>

<script>
import * as L from 'leaflet'
import 'src/services/map/leaflet-plugins/fastplatform/leaflet-fastplatform.css'
import 'leaflet-fullscreen/dist/leaflet.fullscreen.css'
import 'leaflet-fullscreen'
import 'leaflet.vectorgrid'
import 'src/services/map/leaflet-plugins/fastplatform/leaflet-fastplatform'
import 'src/services/map/leaflet-plugins/locate-control'
import 'src/services/map/leaflet-plugins/zoom-home'

import querySatelliteImages from 'src/services/map/leaflet-plugins/fastplatform/graphql/querySatelliteImages.graphql'
import queryMapLayers from 'src/services/map/layers/graphql/queryMapLayers'
import queryMapOverlays from 'src/services/map/layers/graphql/queryMapOverlays'
import { buildTileLayer, buildGeoJsonOverlay, buildVectorTileOverlay } from 'src/services/map/layers/layer-factory'
import { getDefaultBaseLayersConfig, getDefaultOverlayLayersConfig, getOverridenOverlayConfig } from 'src/services/map/layers/layer-configs'
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { getI18nField } from 'src/services/translate'

const defaultMapOptions = {
  zoom: 4,
  center: [46, 12],
  minZoom: 1,
  maxZoom: 20
}

export default {
  name: 'BaseMap',
  mixins: [
    PlatformMixin
  ],
  props: {
    baseLayersConfig: {
      type: Array,
      required: false,
      default: () => getDefaultBaseLayersConfig()
    },
    bounds: {
      type: Array,
      required: false,
      default: null
    },
    overlaysConfig: {
      type: Array,
      required: false,
      default: () => getDefaultOverlayLayersConfig()
    },
    zoom: {
      type: Number,
      default: null
    },
    center: {
      type: Array,
      default: () => null
    },
    maxZoom: {
      type: Number,
      default: null
    },
    minZoom: {
      type: Number,
      default: null
    },
    addLocateControl: {
      type: Boolean,
      default: true
    },
    activateLocateControl: {
      type: Boolean,
      default: false
    },
    hideLocateControl: {
      type: Boolean,
      default: false
    },
    locateControlEnableHighAccuracy: {
      type: Boolean,
      default: false
    },
    locateControlOnErrorHandler: {
      type: Function,
      default: (error) => {
        console.error('Locate control error', error)
      }
    },
    locateControlOnUpdateHandler: {
      type: Function,
      default: (/* position */) => {
        // do something with the new position
      }
    },
    locateControlOnHeadingHandler: {
      type: Function,
      default: (/* heading */) => {
        // do something with the new heading
      }
    },
    locateControlOnPermissionDeniedHandler: {
      type: Function,
      default: null
    },
    locateControlUseGnssPosition: {
      type: Boolean,
      default: false
    },
    addControlScale: {
      type: Boolean,
      default: true
    },
    controlScaleUseImperial: {
      type: Boolean,
      default: false
    },
    controlScaleUseMetric: {
      type: Boolean,
      default: true
    },
    addSatelliteImage: {
      type: Boolean,
      default: true
    },
    activateSatelliteImage: {
      type: Boolean,
      default: false
    },
    defaultSatelliteImageMode: {
      type: String,
      default: 'rgb'
    },
    mapClass: {
      type: String,
      default: ''
    },
    currentPlotId: {
      type: Number,
      default: null
    }
  },
  emits: ['map-ready'],
  data () {
    return {
      mapReady: false
    }
  },
  apollo: {
    mapBaseLayers: {
      query: queryMapLayers,
      notifyOnNetworkStatusChange: true
    },
    mapOverlays: {
      query: queryMapOverlays,
      notifyOnNetworkStatusChange: true
    }
  },
  computed: {
    mapOptions () {
      return {
        zoom: this.zoom || defaultMapOptions.zoom,
        center: this.center || defaultMapOptions.center,
        maxZoom: this.maxZoom || defaultMapOptions.maxZoom,
        minZoom: this.minZoom || defaultMapOptions.minZoom,
        tap: false // Workaround for https://github.com/Leaflet/Leaflet/issues/7255
      }
    },
    isMapDataReady () {
      return this.mapReady &&
        !this.$apollo.queries.mapBaseLayers?.loading &&
        !this.$apollo.queries.mapOverlays?.loading &&
        this.mapBaseLayers &&
        this.mapOverlays
    },
    authorizationToken () {
      return `Bearer ${this.$store.state.fastplatform.tokens.accessToken}`
    },
    language () {
      return this.$store.state.fastplatform.preferredLanguage
    },
    mapOverlayStyles () {
      return this.$store.state.fastplatform.portalConfiguration.mapOverlayStyles
    }
  },
  methods: {
    addLayers () {
      // Panes
      this.map.getPane('map_base_layers').style.zIndex = 200
      this.map.getPane('ndvi_rgb_layers').style.zIndex = 201
      this.map.getPane('map_overlays').style.zIndex = 202
      this.map.getPane('map_highlighted_overlays').style.zIndex = 203
      this.map.getPane('markers').style.zIndex = 204

      // Base layers
      const baseLayers = {}
      const mapBaseLayersConfig = this.mapBaseLayers
        .map(layer => ({
          ...layer,
          zIndex: 1
        }))
        .concat(this.baseLayersConfig)
      mapBaseLayersConfig.forEach(baseLayerConfig => {
        const baseLayer = buildTileLayer(baseLayerConfig, 'map_base_layers')
        baseLayer.on('click', () => {
          this.map.layersControl._collapse()
        })

        let layerTitle = getI18nField(baseLayerConfig, 'title')
        if (layerTitle.length > 30) {
          layerTitle = layerTitle.substr(0, 30) + '...'
        }
        baseLayers[layerTitle] = baseLayer

        if (baseLayerConfig.display) {
          baseLayer.addTo(this.map)
        }
      })

      // Overlays
      const overlays = {}
      const mapOverlaysConfig = this.mapOverlays
        .map(overlayConfig => ({
          ...overlayConfig
        }))
        .concat(this.overlaysConfig.map(overlayConfig => {
          // look for additional configuration for overlay styles
          const additionalConfiguration = this.mapOverlayStyles?.[overlayConfig.tile_layer]
          return getOverridenOverlayConfig(overlayConfig, additionalConfiguration)
        }))

      const popupContentOptions = { currentPlotId: this.currentPlotId }
      mapOverlaysConfig.forEach(overlayConfig => {
        let overlay

        if (overlayConfig.type === 'geojson') {
          overlay = buildGeoJsonOverlay(overlayConfig, this.map, popupContentOptions)
        } else if (overlayConfig.type === 'vector_tile') {
          overlay = buildVectorTileOverlay(overlayConfig, this.map, popupContentOptions)
        } else {
          // type tms or wms => default to tile layer
          overlay = buildTileLayer(overlayConfig, 'map_overlays')
          overlay.on('click', () => {
            this.map.layersControl._collapse()
          })
        }

        let overlayTitle = getI18nField(overlayConfig, 'title')
        if (overlayTitle.length > 30) {
          overlayTitle = overlayTitle.substr(0, 30) + '...'
        }
        overlays[overlayTitle] = overlay

        if (overlayConfig.display) {
          overlay.addTo(this.map)
        }
      })

      // Layers control
      this.map.layersControl = L.control.layers(baseLayers, overlays)
      this.map.layersControl.addTo(this.map)

      // Make the panel control scrollable if too large
      L.DomEvent.disableClickPropagation(this.map.layersControl._container)
      L.DomEvent.disableScrollPropagation(this.map.layersControl._container)
    },

    renderLayers () {
      this.addLayers()
      if (this.bounds) {
        this.fitBounds(this.bounds)
      }
    },

    async createMap () {
      this.map = L.map('map', this.mapOptions)

      // Create map panes
      this.map.createPane('map_base_layers')
      this.map.createPane('ndvi_rgb_layers')
      this.map.createPane('map_overlays')
      this.map.createPane('map_highlighted_overlays')
      this.map.createPane('markers')

      // Zoom home control
      this.zoomHomeControl = L.Control.zoomHome({
        position: 'topleft',
        zoomHomeTitle: this.$gettext('Reset map bounds')
      }).addTo(this.map)

      // Fullscreen control
      this.map.addControl(new L.Control.Fullscreen({
        title: {
          false: this.$gettext('View Fullscreen'),
          true: this.$gettext('Exit Fullscreen')
        }
      }))

      // Locate control
      if (this.addLocateControl) {
        const locateOptions = {
          maxZoom: Infinity,
          watch: true, // if set to false, visualization cannot be updated
          setView: false,
          enableHighAccuracy: this.locateControlEnableHighAccuracy
        }

        this.locateControl = L.control.mobileLocate({
          icon: 'las la-bullseye',
          iconLoading: 'la la-spinner',
          onLocationError: this.locateControlOnErrorHandler,
          onLocationFound: this.locateControlOnUpdateHandler,
          onLocationPermissionDenied: this.onLocationPermissionDeniedHandler,
          onHeading: this.locateControlOnHeadingHandler,
          locateOptions,
          locateControlUseGnssPosition: this.locateControlUseGnssPosition && this.isAndroid, // GNSS position is available only for Android
          useNativeDeviceOrientation: this.isIos, // use native event on iOS to avoid requesting the deviceorientation permission
          initialZoomLevel: 17,
          returnToPrevBounds: true,
          cacheLocation: false,
          setView: 'untilPanOrZoom',
          strings: {
            title: this.$gettext('Locate me'),
            metersUnit: this.$pgettext('meters (unit)', 'meters'),
            feetUnit: this.$pgettext('feet (unit)', 'feet'),
            popup: this.$gettext('You are within {distance} {unit} from this point'),
            outsideMapBoundsMsg: this.$gettext('You seem located outside the boundaries of the map')
          }
        }).addTo(this.map)

        if (this.activateLocateControl) {
          // start the geolocalisation
          this.startLocateControl()
        }
        if (this.hideLocateControl) {
          this.locateControl._container.style.display = 'none'
        }
      }

      // Fastplatform control
      if (this.addSatelliteImage) {
        this.satelliteImageryControl = L.control.FastSatelliteImageryCatalogue({
          mode: this.defaultSatelliteImageMode,
          enabled: this.activateSatelliteImage,
          catalogueURL: this.$store.state.fastplatform.config.apollo.fastplatform.httpLink.uri,
          catalogueGraphQLQuery: querySatelliteImages.loc.source.body,
          catalogueHTTPAuthorization: this.authorizationToken,
          uuid: performance.now().toString().replace('.', '-'),
          pane: 'ndvi_rgb_layers',
          texts: {
            NoImages: this.$gettext('No images for this area'),
            less: this.$gettext('less'),
            more: this.$gettext('more'),
            Vegetation: this.$gettext('Vegetation')
          }
        }).addTo(this.map)
      }

      // Scale control
      L.control.scale({
        metric: this.controlScaleUseMetric,
        imperial: this.controlScaleUseImperial,
        maxWidth: 75,
        position: 'bottomright'
      }).addTo(this.map)

      this.$emit('map-ready', this.map)
      this.mapReady = true
    },

    startLocateControl () {
      this.locateControl.start()
    },

    stopLocateControl () {
      this.locateControl.stop()
    },

    fitBounds (bounds) {
      this.zoomHomeControl.setHomeBounds(bounds)
      this.map.fitBounds(bounds)
    },

    onLocationPermissionDeniedHandler (isAppGeolocationPermissionDenied) {
      if (this.locateControlOnPermissionDeniedHandler) {
        this.locateControlOnPermissionDeniedHandler(isAppGeolocationPermissionDenied)
      } else {
        const locationDeniedMessage = isAppGeolocationPermissionDenied
          ? this.$gettext('FaST cannot use your Geolocation: allow FaST to access your Location in your settings.')
          : this.$gettext('FaST cannot use your Geolocation: enable the Location on your device.')
        this.$q.notify({
          message: locationDeniedMessage,
          icon: 'las la-exclamation-circle',
          timeout: 5000
        })
      }
    }
  },
  watch: {
    bounds (newVal) {
      if (newVal != null && this.map) {
        this.fitBounds(newVal)
      }
    },
    zoom (newVal) {
      if (newVal != null && this.map) {
        this.zoomHomeControl.setHomeZoom(newVal)
        this.map.setZoom(newVal)
      }
    },
    center (newVal) {
      if (newVal && this.map) {
        this.zoomHomeControl.setHomeCoordinates(newVal)
        this.map.setView(newVal)
      }
    },
    minZoom (newVal) {
      if (newVal && this.map) {
        this.map.setMinZoom(newVal)
      }
    },
    maxZoom (newVal) {
      if (newVal && this.map) {
        this.map.setMaxZoom(newVal)
      }
    },
    isMapDataReady (ready) {
      if (ready) {
        this.renderLayers()
      }
    },
    authorizationToken (newAuthorization) {
      // on token refresh, the plugin authorization must be updated
      if (this.satelliteImageryControl) {
        this.satelliteImageryControl.options.catalogueHTTPAuthorization = newAuthorization
      }
    }
  },
  created () {
    //* Leaflet objects are non-reactive objects so do not put it in data()!
    this.map = null
    this.locateControl = null
    this.satelliteImageryControl = null
  },
  mounted () {
    this.$nextTick(() => {
      this.createMap()
    })
  },
  beforeUnmount () {
    if (this.locateControl) {
      this.stopLocateControl()
    }
    if (this.map) {
      this.map.remove()
    }
  }
}
</script>

<style>
.leaflet-control > .leaflet-control-scale-line {
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}

.leaflet-control-layers-list label {
  margin-bottom: 3px !important;
}

.leaflet-bottom.leaflet-left {
  z-index: 1001;
}
</style>
