<template>
  <q-dialog
    v-model="_show"
    full-height
    full-width
    maximized
  >
    <img
      :src="imgSrc"
      style="object-fit: contain; max-width: 100%; max-height: 100%;"
      :alt="imgAltText"
    >
  </q-dialog>
</template>

<script>
export default {
  name: 'FullscreenImageModal',
  props: {
    show: {
      type: Boolean,
      required: true
    },
    imgSrc: {
      type: String,
      // use default and not required since retrieving image data could be asynchronous and therefore null for a moment.
      // 'required' doesn't allow null values.
      default: ''
    },
    imgAltText: {
      type: String,
      default: ''
    }
  },
  emits: ['close'],
  computed: {
    _show: {
      get () {
        return this.show
      },
      set () {
        // the set here could only mean to close the modal
        this.$emit('close')
      }
    }
  }
}
</script>
