<template>
  <q-card
    :class="{ 'organic-manure-application-edit-form-desktop': isDesktopPlatform, 'organic-manure-application-edit-form-mobile': !isDesktopPlatform }"
    :square="!isDesktopPlatform"
  >
    <q-form @submit="onSubmit">
      <q-card-section>
        <q-input
          v-model.number="mineralP2O5Quantity"
          :label="$gettext('P205 Quantity')"
          :min="0"
          :rules="[ val => val && val > 0 || $gettext('Enter a positive quantity')]"
          :suffix="$gettext('kg/ha')"
          class="q-mt-md"
          filled
          hide-bottom-space
          step="any"
          type="number"
        />
        <DateSelectorInput
          v-model="applicationDate"
          :rules="[ val => val !== null && val !== undefined || $gettext('Select a date') ]"
          :label="$gettext('Application date')"
          class="q-mt-md"
        />
      </q-card-section>

      <q-card-section class="q-py-lg">
        <div class="row justify-end items-center">
          <q-btn
            :label="$gettext('Cancel')"
            flat
            @click="onCancel"
          />
          <q-btn
            v-if="!isNew"
            :label="$gettext('Remove')"
            color="red"
            flat
            @click="onDelete"
          />
          <q-btn
            :label="saveButtonLabel"
            color="primary"
            flat
            type="submit"
          />
        </div>
      </q-card-section>
    </q-form>
  </q-card>
</template>

<script>
import { date } from 'quasar'

import { PlatformMixin } from 'src/mixins/PlatformMixin'
import RequafertiPhosphateI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/mixins/RequafertiPhosphateI18nMixin'
import DateSelectorInput from 'components/form/DateSelectorInput.vue'

export default {
  name: 'RequafertiPhosphateMineralFertilizerApplicationEditForm',
  components: { DateSelectorInput },
  mixins: [
    PlatformMixin,
    RequafertiPhosphateI18nMixin
  ],
  props: {
    id: {
      type: Number,
      default: null
    },
    initialP2O5Quantity: {
      type: Number,
      default: null
    },
    initialApplicationDate: {
      type: [String, Date],
      default: null
    }
  },
  emits: ['on-save', 'on-cancel', 'on-delete'],
  data () {
    return {
      mineralP2O5Quantity: this.initialP2O5Quantity,
      applicationDate: this.initialApplicationDate
    }
  },
  computed: {
    isNew () {
      return !this.id
    },
    saveButtonLabel () {
      return this.isNew ? this.$gettext('Add') : this.$gettext('Update')
    },
    applicationDateOptions () {
      const now = date.formatDate(new Date(), 'YYYY/MM/DD')
      return date => date <= now
    }
  },
  methods: {
    onSubmit () {
      if (this.mineralP2O5Quantity && this.applicationDate) {
        this.$emit('on-save', {
          id: this.id,
          P2O5Content: this.mineralP2O5Quantity,
          applicationDate: this.applicationDate
        })
      }
    },
    onCancel () {
      this.$emit('on-cancel')
    },
    onDelete () {
      this.$emit('on-delete', this.id)
    }
  }
}
</script>

<style scoped>
.organic-manure-application-edit-form-desktop {
  min-width: 500px;
}

.organic-manure-application-edit-form-mobile {
  width: 100%;
}
</style>
