<template>
  <div>
    <q-list
      v-if="mineralFertilizerApplications && mineralFertilizerApplications.length"
      separator
    >
      <q-item
        v-for="mineralFertilizerApplication in sortedMineralFertilizerApplications"
        :key="mineralFertilizerApplication.id"
        clickable
        v-ripple
        @click="onEditMineralFertilizerApplication(mineralFertilizerApplication)"
      >
        <q-item-section
          side
        >
          <q-icon
            name="las la-tractor"
          />
        </q-item-section>

        <q-item-section class="text-body2">
          <q-item-label lines="1">
            {{ displayDate(mineralFertilizerApplication.applicationDate) }}
          </q-item-label>
          <q-item-label
            lines="1"
            caption
            class="row justify-between"
          >
            <div><translate>Mineral fertilizer</translate></div>
            <div>
              {{ mineralFertilizerApplication.P2O5Content }}
              <span> <translate>t/ha</translate></span>
            </div>
          </q-item-label>
        </q-item-section>

        <q-item-section
          side
          top
        >
          <q-icon
            name="las la-angle-right"
            class="q-mt-auto q-mb-auto"
          />
        </q-item-section>
      </q-item>
    </q-list>

    <q-card-actions
      align="right"
    >
      <q-btn
        outline
        color="primary"
        :disable="!hasAvailableApplications"
        @click="onNewMineralFertilizerApplication"
        class="q-mr-sm q-mb-sm"
      >
        <translate>
          Add application
        </translate>
      </q-btn>
    </q-card-actions>

    <q-dialog
      v-model="openEditDialog"
      persistent
    >
      <RequafertiPhosphateMineralFertilizerApplicationEditForm
        :id="editedMineralFertilizerApplicationId"
        :initial-p2-o5-quantity="editedMineralFertilizerApplicationP2O5Content"
        :initial-application-date="editedMineralFertilizerApplicationDate"
        @on-save="onSaveMineralFertilizerApplication"
        @on-delete="onDeleteMineralFertilizerApplication"
        @on-cancel="onCancelMineralFertilizerApplication"
      />
    </q-dialog>


  </div>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import RequafertiPhosphateI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/mixins/RequafertiPhosphateI18nMixin'
import RequafertiPhosphateMineralFertilizerApplicationEditForm
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/components/RequafertiPhosphateMineralFertilizerApplicationEditForm.vue'

const MAX_APPLICATIONS = 3

export default {
  name: 'RequafertiPhosphateMineralFertilizerApplicationsCard',
  mixins: [
    PlatformMixin,
    DateMixin,
    RequafertiPhosphateI18nMixin
  ],
  components: {
    RequafertiPhosphateMineralFertilizerApplicationEditForm
  },
  props: {
    initialMineralFertilizerApplications: {
      type: Array,
      required: true
    },
    maxPassessAllowed: {
      type: Number
    },
    canContinue: {
      type: Boolean,
      default: true
    }

  },
  emits: ['on-update'],
  data () {
    return {
      mineralFertilizerApplications: [...this.initialMineralFertilizerApplications] || [],
      openEditDialog: false,
      editedMineralFertilizerApplication: null
    }
  },
  computed: {
    sortedMineralFertilizerApplications () {
      return this.mineralFertilizerApplications.slice().sort((a, b) => {
        return new Date(a.applicationDate) - new Date(b.applicationDate)
      })
    },
    editedMineralFertilizerApplicationId () {
      return this.editedMineralFertilizerApplication?.id
    },
    editedMineralFertilizerApplicationP2O5Content () {
      return this.editedMineralFertilizerApplication?.P2O5Content
    },
    editedMineralFertilizerApplicationDate () {
      return this.editedMineralFertilizerApplication?.applicationDate
    },
    hasAvailableApplications () {
      return this.mineralFertilizerApplications.length < this.allowedPasses && this.canContinue
    },
    allowedPasses () {
      return this.maxPassessAllowed || MAX_APPLICATIONS
    }
  },
  methods: {
    onEditMineralFertilizerApplication (mineralFertilizerApplication) {
      this.editedMineralFertilizerApplication = mineralFertilizerApplication
      this.openEditDialog = true
    },
    onNewMineralFertilizerApplication () {
      if (this.hasAvailableApplications) {
        this.openEditDialog = true
      }
    },
    onSaveMineralFertilizerApplication (mineralFertilizerApplication) {
      if (mineralFertilizerApplication.id) {
        this.onUpdateMineralFertilizerApplication(mineralFertilizerApplication)
      } else {
        this.onCreateMineralFertilizerApplication(mineralFertilizerApplication)
      }
    },
    onCreateMineralFertilizerApplication (mineralFertilizerApplication) {
      // add a temporary id to allow edition in the list before saving it
      this.mineralFertilizerApplications.push({ ...mineralFertilizerApplication, id: new Date().getTime() })
      this.openEditDialog = false
      this.editedMineralFertilizerApplication = null
      this.$emit('on-update', this.mineralFertilizerApplications)
    },
    onUpdateMineralFertilizerApplication (mineralFertilizerApplication) {
      for (let i = 0; i < this.mineralFertilizerApplications.length; i++) {
        if (this.mineralFertilizerApplications[i].id === mineralFertilizerApplication.id) {
          this.mineralFertilizerApplications.splice(i, 1, mineralFertilizerApplication)
          break
        }
      }
      this.openEditDialog = false
      this.editedMineralFertilizerApplication = null
      this.$emit('on-update', this.mineralFertilizerApplications)
    },
    onDeleteMineralFertilizerApplication (id) {
      for (let i = 0; i < this.mineralFertilizerApplications.length; i++) {
        if (this.mineralFertilizerApplications[i].id === id) {
          this.mineralFertilizerApplications.splice(i, 1)
          break
        }
      }
      this.openEditDialog = false
      this.editedMineralFertilizerApplication = null
      this.$emit('on-update', this.mineralFertilizerApplications)
    },
    onCancelMineralFertilizerApplication () {
      this.openEditDialog = false
      this.editedMineralFertilizerApplication = null
    }
  }
}

</script>
