<template>
  <q-card-section class="q-pa-xs bg-grey-3">
    <div class="text-grey-8 q-mb-xs">
      <translate>Number of applications</translate>&nbsp;
      <template v-if="show_cnt">
        {{ cnt }} :&nbsp; {{ passes_Counter }}
      </template>
       <template v-if="!show_cnt">
      :&nbsp; {{ passes_Counter }}
      </template>
    </div>
  </q-card-section>
  <slot />
</template>
<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import RequafertiPhosphateI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/mixins/RequafertiPhosphateI18nMixin'

export default {
  name: 'RequafertiPhosphatePass',
  mixins: [
    PlatformMixin,
    DateMixin,
    RequafertiPhosphateI18nMixin
  ],
  components: { },
  computed: {
    passes_Counter () {
      if (!this.show_counter) return ''
      return this.pass.passes.length + ' / ' + this.pass.max
    }
  },
  props: {
    pass: {
      required: true
    },
    show_counter: {
      type: Boolean,
      default: false
    },
    show_cnt: {
      type: Boolean,
      default: true
    },
    cnt: null
  }
}
</script>

<style scoped>

</style>
