<template>
  <q-card
    :class="{ 'organic-manure-application-edit-form-desktop': isDesktopPlatform, 'organic-manure-application-edit-form-mobile': !isDesktopPlatform }"
    :square="!isDesktopPlatform"
  >
    <q-form @submit="onSubmit">
      <q-card-section>
        <q-select
          v-model="animalCategory"
          :label="$gettext('Fertilizer category')"
          :option-label="getRequafertiPhosphateI18NFieldName('libelle')"
          :options="organicManureAnimalCategoryOptions"
          :rules="[
            val => Boolean(val) || $gettext('Select an fertilizer category'),
          ]"
          filled
          hide-bottom-space
          option-value="id"
          @update:model-value="onAnimalCategoryChange"
        />
        <q-select
          v-model="organicMatterType"
          :disable="!hasOrganicMatterTypeOptions"
          :label="$gettext('Matter type')"
          :option-label="getRequafertiPhosphateI18NFieldName('libelle_eff')"
          :options="organicMatterTypeOptions"
          :rules="[
            val => !hasOrganicMatterTypeOptions || Boolean(val) || $gettext('Select a type'),
          ]"
          class="q-mt-md"
          filled
          hide-bottom-space
          option-value="id"
          @update:model-value="onOrganicMatterTypeChange"
        />
        <q-input
          v-model.number="effluentQuantity"
          :label="$gettext('Quantity')"
          :min="0"
          :rules="[ val => val && val > 0 || $gettext('Enter a positive quantity')]"
          :suffix="$gettext('t MF/ha')"
          class="q-mt-md"
          filled
          hide-bottom-space
          step="any"
          type="number"
        />

        <q-input
          v-model.number="P2O5Content"
          :label="$gettext('P2O5 content')"
          :min="0"
          :rules="[ val => val && val > 0 || $gettext('Enter a positive content')]"
          :suffix="$gettext('kg/t MF')"
          class="q-mt-md"
          filled
          hide-bottom-space
          step="any"
          type="number"
        />
        <DateSelectorInput
          v-model="applicationDate"
          :rules="[ val => val !== null && val !== undefined || $gettext('Select a date') ]"
          :label="$gettext('Application date')"
          class="q-mt-md"
        />
      </q-card-section>

      <q-card-section class="q-py-lg">
        <div class="row justify-end items-center">
          <q-btn
            :label="$gettext('Cancel')"
            flat
            @click="onCancel"
          />
          <q-btn
            v-if="!isNew"
            :label="$gettext('Remove')"
            color="red"
            flat
            @click="onDelete"
          />
          <q-btn
            :label="saveButtonLabel"
            color="primary"
            flat
            type="submit"
          />
        </div>
      </q-card-section>
    </q-form>
  </q-card>
</template>

<script>
import { date } from 'quasar'

import { PlatformMixin } from 'src/mixins/PlatformMixin'
import RequafertiPhosphateI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/mixins/RequafertiPhosphateI18nMixin'
import DateSelectorInput from 'components/form/DateSelectorInput.vue'

export default {
  name: 'RequafertiPhosphateOrganicManureApplicationEditForm',
  components: { DateSelectorInput },
  mixins: [
    PlatformMixin,
    RequafertiPhosphateI18nMixin
  ],
  props: {
    organicManureAnimalCategoryOptions: {
      type: Array,
      required: true
    },
    organicManureApplicationCombinations: {
      type: Array,
      required: true
    },
    id: {
      type: Number,
      default: null
    },
    initialAnimalCategory: {
      type: Object,
      default: null
    },
    initialOrganicMatterType: {
      type: Object,
      default: null
    },
    initialEffluentQuantity: {
      type: Number,
      default: null
    },
    initialP2O5Content: {
      type: Number,
      default: null
    },
    initialApplicationDate: {
      type: [String, Date],
      default: null
    }
  },
  emits: ['on-save', 'on-cancel', 'on-delete'],
  data () {
    return {
      animalCategory: this.initialAnimalCategory,
      organicMatterType: this.initialOrganicMatterType,
      effluentQuantity: this.initialEffluentQuantity,
      P2O5Content: this.initialP2O5Content,
      applicationDate: this.initialApplicationDate
    }
  },
  computed: {
    isNew () {
      return !this.id
    },
    saveButtonLabel () {
      return this.isNew ? this.$gettext('Add') : this.$gettext('Update')
    },
    organicMatterTypeOptions () {
      if (!this.animalCategory) {
        return []
      } else {
        return this.organicManureApplicationCombinations.filter(combination => combination.grp_ani_xid === this.animalCategory.id)
      }
    },
    hasOrganicMatterTypeOptions () {
      return this.organicMatterTypeOptions?.length > 0
    },
    applicationDateOptions () {
      const now = date.formatDate(new Date(), 'YYYY/MM/DD')
      return date => date <= now
    }
  },
  methods: {
    onSubmit () {
      if (this.animalCategory && this.effluentQuantity) {
        this.$emit('on-save', {
          id: this.id,
          animalCategory: this.animalCategory,
          organicMatterType: this.organicMatterType,
          effluentQuantity: this.effluentQuantity,
          P2O5Content: this.P2O5Content,
          applicationDate: this.applicationDate
        })
      }
    },
    onCancel () {
      this.$emit('on-cancel')
    },
    onDelete () {
      this.$emit('on-delete', this.id)
    },
    onAnimalCategoryChange () {
      this.organicMatterType = null
      this.P2O5Content = null
    },
    onOrganicMatterTypeChange () {
      const organicMatter = this.organicManureApplicationCombinations.find(combination => combination.id === this.organicMatterType?.id)
      if (organicMatter) {
        this.P2O5Content = Number(organicMatter.phosphore_p2o5)
      } else {
        this.P2O5Content = null
      }
    }

  }
}
</script>

<style scoped>
.organic-manure-application-edit-form-desktop {
  min-width: 500px;
}

.organic-manure-application-edit-form-mobile {
  width: 100%;
}
</style>
