<template>
  <q-card
    :square="!isDesktopPlatform"
    class="column no-wrap col"
  >
    <q-banner class="bg-grey-3 text-grey-8 q-mb-md">
      <translate>This phosphate fertilisation recommendation is provided by REQUAFERTI, a web tool developed by REQUASUD, in collaboration with the CRA-W. This is a generic tool whose methodology is based on the ideas of the REQUASUD P-K-Mg working group. The results obtained may differ from the opinions issued by the laboratories, due to their specific expertise. The main aim of the tool is to help you reason out your fertilisation using the details of the various balance items shown below. WARNING: if you have not provided soil data specific to your plot, the soil phosphate supply is provided as an example and is not relevant, which affects the estimate of supplies and recommended input.</translate>
    </q-banner>

    <FertilizationResultHeader
      :plot-id="plotId"
      :plot-name="plotName"
      :plant-species-name="plantSpeciesName"
      :crop-yield="cropYield"
      :crop-yield-unit="cropYieldUnit"
    />

    <q-banner
      v-if="has_warning"
      class="bg-yellow-2 text-grey-8 q-mx-md q-mt-sm"
    >
      <q-icon
        name="las la-exclamation-circle"
        class="q-pr-xs"
      />
      <translate><strong>WARNING : the soil's supply of phosphorus is low</strong>, so consider a corrective fertilisation, in consultation with your advisory laboratory.</translate>
    </q-banner>

    <div class="q-pb-sm">
      <RequafertiPhosphateResultItem
        :npk-element="needsPElement"
        :label="$gettext('Needs')"
      />
      <RequafertiPhosphateResultItem
        :npk-element="suppliesPElement"
        :label="$gettext('Supplies')"
      />
      <RequafertiPhosphateResultItem
        :npk-element="recommendationPElement"
        :label="$gettext('Recommendation')"
        :extra="$gettext('limited at 120')"
        bold
      />

      <div class="text-caption text-grey text-left q-ml-md">
        <strong><translate>All numbers in kg/ha</translate> P<sub>2</sub>O<sub>5</sub></strong>
      </div>
    </div>

    <!-- buttons -->
    <slot name="action-buttons" />
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import FertilizationResultHeader from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationResultHeader'
import { resultTypes } from 'src/services/fieldbook/fertilization/fertilizationPlan'
import RequafertiPhosphateResultItem
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/components/RequafertiPhosphateResultItem.vue'
import { $gettext } from 'boot/translate'

export default {
  name: 'RequafertiPhosphateResultsCard',
  methods: { $gettext },
  mixins: [PlatformMixin],
  components: {
    RequafertiPhosphateResultItem,
    FertilizationResultHeader
  },
  props: {
    fertilizationPlanResults: {
      type: Object,
      required: true
    }
  },
  computed: {
    plotId () {
      return this.fertilizationPlanResults.plot_id
    },
    plotName () {
      return String(this.fertilizationPlanResults.plot_name || this.fertilizationPlanResults.plot_id)
    },
    plantSpeciesName () {
      return this.fertilizationPlanResults.plant_species_name
    },
    cropYield () {
      return this.fertilizationPlanResults.crop_yield
    },
    cropYieldUnit () {
      return this.fertilizationPlanResults.crop_yield_unit
    },
    needsPElement () {
      return this.fertilizationPlanResults.element_recommendations.filter(element => element.result_type === resultTypes.PLANT_NEEDS)
    },
    suppliesPElement () {
      return this.fertilizationPlanResults.element_recommendations.filter(element => element.result_type === resultTypes.PLANT_SUPPLIES)
    },
    recommendationPElement () {
      return this.fertilizationPlanResults.element_recommendations.filter(element => element.result_type === resultTypes.RECOMMENDATION)
    },
    has_warning () {
      return this.fertilizationPlanResults?.has_warning
    }
  }
}
</script>
