<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8 q-mb-md"
          >
            <translate>This data is used to compute the amount of manure provided by the livestock.</translate>
          </q-banner>

          <IcpaPmnLivestockCard
            :initial-items="storeLivestock"
            :livestock-types="livestockOptions"
            @update-items="onLivestockUpdate"
          />

          <q-card-section v-if="hasLivestock">
            <MonthSelectorInput
              v-model="storeLivestockGrazingStartMonth"
              :rules="[ val => Boolean(val) || $gettext('Select the livestock grazing start month') ]"
              :label="$gettext('Livestock grazing start month')"
            />

            <MonthSelectorInput
              v-model="storeLivestockGrazingEndMonth"
              :rules="[ val => Boolean(val) || $gettext('Select the livestock grazing end month') ]"
              :label="$gettext('Livestock grazing end month')"
              :error="isGrazingEndMonthInvalid"
              :error-message="$gettext('The end month must be after the start month.')"
            />
          </q-card-section>

          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import MonthSelectorInput from 'src/components/form/MonthSelectorInput'
import IcpaPmnLivestockCard from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/components/IcpaPmnLivestockCard'
import queryIcpaPmnLivestock from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/graphql/queryIcpaPmnLivestock'

export default {
  name: 'IcpaPmnLivestockPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    MonthSelectorInput,
    IcpaPmnLivestockCard
  },
  mixins: [PlatformMixin, AlgorithmsMixins],
  data () {
    return {
      icpaPmnLivestock: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Livestock')
    },
    pageSubTitle () {
      return 'ICPA PMN'
    },
    canContinue () {
      return !this.hasLivestock ||
        (this.isParameterSet(this.storeLivestockGrazingStartMonth) &&
        this.isParameterSet(this.storeLivestockGrazingEndMonth) &&
        !this.isGrazingEndMonthInvalid)
    },
    loading () {
      return !this.icpaPmnLivestock
    },
    livestockOptions () {
      if (!this.icpaPmnLivestock) {
        return []
      } else {
        return this.icpaPmnLivestock.map(livestock => ({ ...livestock, label: `${livestock.animal_name} ${livestock.animal_weight}` }))
      }
    },
    hasLivestock () {
      return this.storeLivestock?.length > 0
    },
    isGrazingEndMonthInvalid () {
      if (this.storeLivestockGrazingStartMonth && this.storeLivestockGrazingEndMonth) {
        return this.storeLivestockGrazingEndMonth.month <= this.storeLivestockGrazingStartMonth.month
      }
      return false
    },
    storeLivestock: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.livestock || []
      },
      set (v) {
        this.updateParameter('livestock', v)
      }
    },
    storeLivestockGrazingStartMonth: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.livestockGrazingStartMonth
      },
      set (v) {
        this.updateParameter('livestockGrazingStartMonth', v)
      }
    },
    storeLivestockGrazingEndMonth: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.livestockGrazingEndMonth
      },
      set (v) {
        this.updateParameter('livestockGrazingEndMonth', v)
      }
    }
  },
  async mounted () {
    // Load data from cache (or online if not in cache)
    await this.loadLivestock('cache-first')

    // Refresh online data (do not wait until completion)
    this.loadLivestock('network-only')
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'icpaPmnManure'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'icpaPmnSoil'
      })
    },
    async loadLivestock (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryIcpaPmnLivestock,
        fetchPolicy
      })
      this.icpaPmnLivestock = data?.icpa_pmn__livestock
    },
    onLivestockUpdate (livestock) {
      this.storeLivestock = [...livestock]
    }
  }
}
</script>
