<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>Select a crop to proceed with the fertilization plan.</translate>
          </q-banner>

          <q-card-section>
            <q-select
              v-model="storePlantSpecies"
              :label="$gettext('Crop')"
              :options="plantSpeciesOptions"
              option-value="id"
              option-label="name"
              filled
              @filter="filterPlantSpecies"
              use-input
              input-debounce="200"
              :loading="$apollo.queries.plantSpecies.loading"
              @update:model-value="onPlantSpeciesChange"
              class="q-mt-md"
            />

            <div
              v-if="loading"
              class="column flex-center q-mt-md"
            >
              <q-spinner-dots
                color="primary"
                size="24px"
              />
            </div>
            <q-list
              v-else-if="cropProfileOptions && cropProfileOptions.length > 1"
              class="q-mt-md"
            >
              <q-item
                v-for="cropProfileOption in cropProfileOptions"
                :key="cropProfileOption.id"
                tag="label"
                v-ripple
                dense
                class="q-px-none"
              >
                <q-item-section avatar>
                  <q-radio
                    :val="cropProfileOption.id"
                    :model-value="storeCropProfile ? storeCropProfile.id : null"
                    @update:model-value="value => storeCropProfile = cropProfileOptions.find(crop => crop.id === value)"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ cropProfileOption.name }} </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
            <q-banner
              v-if="showCropProfileUnavailableBanner"
              class="bg-accent text-white q-mt-sm"
            >
              <translate>The crop %{storePlantSpecies.name} is not currently covered by %{algorithmName}.</translate>
            </q-banner>
          </q-card-section>

          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryPlantSpecies from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryPlantSpecies'
import queryIcpaPmnCropProfile from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/graphql/queryIcpaPmnCropProfile'
import queryIcpaPmnCropProfilePlantSpecies from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/graphql/queryIcpaPmnCropProfilePlantSpecies'

export default {
  name: 'IcpaPmnCropProfilePage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins],
  data () {
    return {
      icpaPmnCropProfiles: null,
      icpaPmnCropMapping: null,
      plantSpecies: [],
      filterTermPlantSpecies: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Crop selection')
    },
    pageSubTitle () {
      return 'ICPA PMN'
    },
    canContinue () {
      return !this.loading && this.isParameterSet(this.storeCropProfile)
    },
    loading () {
      return (!this.plantSpecies && this.$apollo.queries.plantSpecies.loading) || !this.icpaPmnCropProfiles || !this.icpaPmnCropMapping
    },
    plotPlantSpecies () {
      return this.$store.state.fertilizationPlan.target.plot_plant_variety?.plant_variety?.plant_species
    },
    matchingCropProfiles () {
      if (!this.icpaPmnCropMapping) {
        return []
      } else {
        return this.icpaPmnCropMapping
          .filter(row => row.plant_species_id === this.storePlantSpecies.id)
          .map(row => this.cropOptions.find(crop => crop.id === row.crop_profile.id))
      }
    },
    plantSpeciesOptions () {
      const options = this.plantSpecies
      if (this.filterTermPlantSpecies) {
        return options.filter(v => v.name?.toLowerCase().indexOf(this.filterTermPlantSpecies) > -1)
      } else {
        return options
      }
    },
    cropOptions () {
      if (!this.icpaPmnCropProfiles) {
        return []
      } else {
        return this.icpaPmnCropProfiles
      }
    },
    cropProfileOptions () {
      if (!this.icpaPmnCropMapping || !this.storePlantSpecies?.id) {
        return []
      } else {
        return this.matchingCropProfiles
      }
    },
    preSelectedCropProfile () {
      if (!this.storeCropProfile) {
        // pre-select the first crop matching the plant species
        return this.matchingCropProfiles?.[0]
      }
      return null
    },
    showCropProfileUnavailableBanner () {
      return !this.loading && this.storePlantSpecies && !this.storeCropProfile && !this.preSelectedCropProfile
    },
    algorithmName () {
      return 'ICPA PMN'
    },
    storePlantSpecies: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.plantSpecies
      },
      set (v) {
        this.updateParameter('plantSpecies', v)
      }
    },
    storeCropProfile: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.cropProfile
      },
      set (v) {
        this.updateParameter('cropProfile', v)
      }
    }
  },
  apollo: {
    plantSpecies: {
      query: queryPlantSpecies,
      notifyOnNetworkStatusChange: true,
      update: data => data.plant_species
    }
  },
  async mounted () {
    if (!this.isParameterSet(this.storeCropProfile)) {
      this.storePlantSpecies = this.plotPlantSpecies
    }

    // Load data from cache (or online if not in cache)
    await this.loadData('cache-first')

    // Preselect crop profile if there is only one choice available
    if (!this.isParameterSet(this.storeCropProfile) && this.matchingCropProfiles.length === 1) {
      this.storeCropProfile = this.preSelectedCropProfile
    }

    // Refresh online data (do not wait until completion)
    this.loadData('network-only')
  },
  methods: {
    onClickNext () {
      this.$router.push({ name: 'icpaPmnHarvestAndResidues' })
    },
    onClickPrevious () {
      const isEdition = this.$store.state.fertilizationPlan.isEdition
      const isCreationFromPlot = this.$store.state.fertilizationPlan.isCreationFromPlot
      if (isEdition) {
        const fertilizationPlanId = this.$store.state.fertilizationPlan.fertilizationPlanIdAndName.id
        this.$router.replace({ name: 'fertilizationPlan', params: { fertilizationPlanId } })
      } else if (isCreationFromPlot) {
        const plotId = this.$store.state.fertilizationPlan.target.id
        this.$router.replace({ name: 'plot', params: { idPlot: plotId } })
      } else {
        this.$router.replace({ name: 'fertilizationPlanPlotSelection' })
      }
    },
    filterPlantSpecies (val, update) {
      update(() => {
        this.filterTermPlantSpecies = val.toLowerCase()
      })
    },
    onPlantSpeciesChange () {
      this.storeCropProfile = null
      if (this.matchingCropProfiles.length === 1) {
        this.storeCropProfile = this.preSelectedCropProfile
      }
    },
    async loadCropProfiles (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryIcpaPmnCropProfile,
        fetchPolicy
      })
      this.icpaPmnCropProfiles = data?.icpa_pmn__crop_profile
    },
    async loadCropMapping (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryIcpaPmnCropProfilePlantSpecies,
        fetchPolicy
      })
      this.icpaPmnCropMapping = data?.icpa_pmn__crop_profile_plant_species
    },
    loadData (fetchPolicy) {
      return Promise.all([
        this.loadCropProfiles(fetchPolicy),
        this.loadCropMapping(fetchPolicy)
      ])
    }
  }
}
</script>
