<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>The harvest and residues data are used to compute the nutrient requirements for the crop.</translate>
          </q-banner>

          <q-card-section>
            <q-input
              v-model.number="storeCropTargetYield"
              filled
              :label="$gettext('Target yield')"
              type="number"
              :placeholder="$gettext('Target yield')"
              :suffix="$gettext('kg/ha')"
              :rules="[val => val > 0 || $gettext('This field must be positive')]"
              :min="0"
              step="1"
              hide-bottom-space
              class="q-mt-md"
            />
          </q-card-section>

          <q-card-section>
            <div class="text-subtitle2 text-grey-8 q-pb-sm">
              <translate>Previous season</translate>
            </div>

            <q-select
              v-model="storePreviousCropProfile"
              :label="$gettext('Previous season crop profile')"
              :options="previousCropOptions"
              option-value="id"
              option-label="name"
              filled
              :loading="loading"
            />

            <q-input
              v-model.number="storePreviousCropYield"
              filled
              :label="$gettext('Previous season yield')"
              type="number"
              :placeholder="$gettext('Crop yield')"
              :suffix="$gettext('kg/ha')"
              :rules="[val => val > 0 || $gettext('This field must be positive')]"
              :min="0"
              step="1"
              hide-bottom-space
              class="q-mt-md"
            />
          </q-card-section>

          <q-card-section class="q-pt-sm">
            <div class="text-subtitle2 text-grey-8 q-pb-sm">
              <translate>Residues</translate>
            </div>
            <q-field
              label-slot
              stack-label
              filled
              clearable
            >
              <template #label>
                <translate>Percentage of residues incorporated into the soil</translate>
              </template>
              <template #append>
                <span
                  class="text-black"
                  style="font-size: 14px"
                >{{ storeResiduesIncorporationInSoil }} %</span>
              </template>
              <template #control>
                <q-slider
                  v-model="storeResiduesIncorporationInSoil"
                  :min="0"
                  :max="100"
                  :step="1"
                />
              </template>
            </q-field>

            <MonthSelectorInput
              v-model="storeResiduesIncorporationMonth"
              :rules="[ val => Boolean(val) || $gettext('Select the month of residues incorporation') ]"
              :label="$gettext('Month of residues incorporation')"
              class="q-mt-md"
            />
          </q-card-section>

          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import MonthSelectorInput from 'src/components/form/MonthSelectorInput'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryIcpaPmnCropProfile from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/graphql/queryIcpaPmnCropProfile'

export default {
  name: 'IcpaPmnHarvestAndResiduesPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    MonthSelectorInput
  },
  mixins: [PlatformMixin, AlgorithmsMixins],
  data: function () {
    return {
      icpaPmnCropProfiles: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Harvest and residues')
    },
    pageSubTitle () {
      return 'ICPA PMN'
    },
    canContinue () {
      return this.isParameterSet(this.storeCropTargetYield) &&
        this.isParameterSet(this.storePreviousCropProfile) &&
        this.isParameterSet(this.storePreviousCropYield) &&
        this.isParameterSet(this.storeResiduesIncorporationInSoil) &&
        this.isParameterSet(this.storeResiduesIncorporationMonth)
    },
    loading () {
      return !this.icpaPmnCropProfiles
    },
    plotCropYield () {
      return this.$store.state.fertilizationPlan.target.plot_plant_variety?.crop_yield
    },
    previousCropOptions () {
      if (!this.icpaPmnCropProfiles) {
        return []
      } else {
        return this.icpaPmnCropProfiles
      }
    },
    storeCropTargetYield: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.cropTargetYield
      },
      set (v) {
        this.updateParameter('cropTargetYield', v)
      }
    },
    storePreviousCropProfile: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.previousCropProfile
      },
      set (v) {
        this.updateParameter('previousCropProfile', v)
      }
    },
    storePreviousCropYield: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.previousCropYield
      },
      set (v) {
        this.updateParameter('previousCropYield', v)
      }
    },
    storeResiduesIncorporationInSoil: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.residuesIncorporationInSoil
      },
      set (v) {
        this.updateParameter('residuesIncorporationInSoil', v)
      }
    },
    storeResiduesIncorporationMonth: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.residuesIncorporationMonth
      },
      set (v) {
        this.updateParameter('residuesIncorporationMonth', v)
      }
    }
  },
  async mounted () {
    // Set default values from the selected crop profile
    if (!this.isParameterSet(this.storeCropTargetYield) && this.plotCropYield !== null) {
      this.storeCropTargetYield = this.plotCropYield
    }

    // Load data from cache (or online if not in cache)
    await this.loadCropProfiles('cache-first')

    // Refresh online data (do not wait until completion)
    this.loadCropProfiles('network-only')
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'icpaPmnSoil'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'icpaPmnCropProfile'
      })
    },
    async loadCropProfiles (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryIcpaPmnCropProfile,
        fetchPolicy
      })
      this.icpaPmnCropProfiles = data?.icpa_pmn__crop_profile
    }
  }
}
</script>
