<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8 q-mb-md"
          >
            <translate>This data is used to compute the nutrients provided by the manure.</translate>
          </q-banner>

          <q-card-section>
            <q-input
              v-model.number="storeFarmSurfaceArea"
              :label="$gettext('Farm total surface area')"
              filled
              type="number"
              :suffix="$gettext('ha')"
              :rules="[val => (val >= 0) || $gettext('This field value must be positive')]"
              step="1"
              hide-bottom-space
              class="q-mt-md"
            />

            <q-select
              v-if="hasManureApplications"
              v-model="storeManureStorage"
              :label="$gettext('Manure storage type')"
              :options="manureStorageOptions"
              option-value="id"
              option-label="name"
              filled
              class="q-mt-md"
            />
          </q-card-section>

          <IcpaPmnManureApplicationsCard
            :initial-items="storeManureApplications"
            @update-items="onManureApplicationsUpdate"
          />

          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import IcpaPmnManureApplicationsCard from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/components/IcpaPmnManureApplicationsCard'
import queryIcpaPmnManureStorage from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/graphql/queryIcpaPmnManureStorage'
import queryPlotAggregateArea from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/graphql/queryPlotAggregateArea'

export default {
  name: 'IcpaPmnManurePage',
  components: {
    GenericLayout,
    Header,
    Footer,
    IcpaPmnManureApplicationsCard
  },
  mixins: [PlatformMixin, AlgorithmsMixins],
  data () {
    return {
      icpaPmnManureStorage: null,
      farmSurfaceAreaM2: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Manure')
    },
    pageSubTitle () {
      return 'ICPA PMN'
    },
    canContinue () {
      return this.isParameterSet(this.storeFarmSurfaceArea) &&
        (!this.hasManureApplications ||
        (this.isParameterSet(this.storeManureStorage) &&
        this.isParameterSet(this.storeManureApplications)))
    },
    loading () {
      return !this.icpaPmnManureStorage || this.farmSurfaceAreaM2 === null
    },
    holdingCampaignId () {
      return this.$store.state.fastplatform.holdingCampaign.id
    },
    manureStorageOptions () {
      if (!this.icpaPmnManureStorage) {
        return []
      } else {
        return this.icpaPmnManureStorage
      }
    },
    hasManureApplications () {
      return this.storeManureApplications?.length > 0
    },
    storeFarmSurfaceArea: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.farmSurfaceArea
      },
      set (v) {
        this.updateParameter('farmSurfaceArea', v)
      }
    },
    storeManureStorage: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.manureStorage
      },
      set (v) {
        this.updateParameter('manureStorage', v)
      }
    },
    storeManureApplications: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.manureApplications || []
      },
      set (v) {
        this.updateParameter('manureApplications', v)
      }
    }
  },
  async mounted () {
    // Load data from cache (or online if not in cache)
    await this.loadData('cache-first')

    if (!this.isParameterSet(this.storeFarmSurfaceArea) && this.farmSurfaceAreaM2 !== undefined) {
      this.storeFarmSurfaceArea = Math.round(this.farmSurfaceAreaM2 / 100) / 100
    }

    // Refresh online data (do not wait until completion)
    this.loadData('network-only')
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'icpaPmnMineralFertilization'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'icpaPmnLivestock'
      })
    },
    async loadManureStorage (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryIcpaPmnManureStorage,
        fetchPolicy
      })
      this.icpaPmnManureStorage = data?.icpa_pmn__manure_storage
    },
    async loadFarmSurfaceArea (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryPlotAggregateArea,
        variables: {
          holdingCampaignId: this.holdingCampaignId
        },
        fetchPolicy
      })
      this.farmSurfaceAreaM2 = data?.plot_aggregate?.aggregate?.sum?.area ?? undefined
    },
    onManureApplicationsUpdate (manureApplications) {
      this.storeManureApplications = [...manureApplications]
    },
    loadData (fetchPolicy) {
      return Promise.all([
        this.loadFarmSurfaceArea(fetchPolicy),
        this.loadManureStorage(fetchPolicy)
      ])
    }
  }
}
</script>
