<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
        <div
          class="page-subtitle"
          v-if="pageSubTitle"
        >
          {{ pageSubTitle }}
        </div>
      </template>

      <q-card
        :square="!isDesktopPlatform"
        class="column no-wrap col"
      >
        <q-banner class="bg-grey-3 text-grey-8 q-mb-md">
          <translate>The following balance show the nitrogen required to achieve the crop target yield. </translate>
        </q-banner>

        <q-card-section v-if="computing">
          <div>
            <div
              class="column flex-center"
              style="height: 100%;"
            >
              <q-spinner
                color=""
                size="3em"
              />
              <translate>Updating nutrient balance...</translate>
            </div>
          </div>
        </q-card-section>

        <q-card-section v-else-if="error">
          <div>
            <translate>
              There were some errors while updating the nutrient balance.
            </translate>

            <p
              v-html="error"
              class="q-mt-md text-negative"
            />
          </div>
        </q-card-section>

        <div v-else-if="recommendations">
          <IcpaPmnNutrientBalance
            :balance-items="recommendations"
            class="q-mt-md"
          />
        </div>

        <q-card-section class="q-mt-auto">
          <q-card-actions
            vertical
            align="stretch"
            class="q-pa-none"
          >
            <q-btn
              color="primary"
              text-color="white"
              :loading="saving"
              @click="onClickSavePlan"
              :disable="!nutrientBalance"
            >
              {{ savePlanButtonLabel }}
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="onClickPrevious"
            >
              <translate>Previous</translate>
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="$router.push({name: 'fertilizationPlans'})"
            >
              <translate>Back to all my plans</translate>
            </q-btn>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import IcpaPmnNutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/components/IcpaPmnNutrientBalance'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import queryIcpaPmnComputePlan from 'src/pages/fieldbook/fertilization/algorithms/icpa-pmn/graphql/queryIcpaPmnComputePlan'
import { resultTypes } from 'src/services/fieldbook/fertilization/fertilizationPlan'

export default {
  name: 'IcpaPmnComputePlanPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    IcpaPmnNutrientBalance
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilizationPlanMixin],
  data () {
    return {
      computing: false,
      nutrientBalance: null,
      error: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Compute plan')
    },
    pageSubTitle () {
      return 'ICPA PMN'
    },
    plot () {
      return this.$store.state.fertilizationPlan.target
    },
    computePlanParams () {
      const params = {
        soil__organic_matter: this.storeParameters.soilOrganicMatter,
        soil__density: this.storeParameters.soilDensity,
        soil__front_root_depth: this.storeParameters.soilFrontRootDepth,
        soil__clay: this.storeParameters.soilClay,
        soil__sand: this.storeParameters.soilSand,
        soil__silt: this.storeParameters.soilSilt,
        soil__agrochemical_active_layer: this.storeParameters.soilAgrochemicalActiveLayer,
        soil__caco3: this.storeParameters.soilCaCO3
      }
      const [x, y] = this.storeTarget.centroid.coordinates
      params.latitude = y
      params.longitude = x
      params.crop_profile_id = this.storeParameters.cropProfile.id
      params.previous_crop_profile_id = this.storeParameters.previousCropProfile.id
      params.crop_yield = this.storeParameters.cropTargetYield / 1000 // expected yield is in t/ha
      params.previous_crop_yield = this.storeParameters.previousCropYield / 1000 // expected yield is in t/ha
      params.residues_incorporated_in_soil_percentage = this.storeParameters.residuesIncorporationInSoil
      params.residues_incorporated_in_soil_month = this.storeParameters.residuesIncorporationMonth.id
      params.livestock = this.storeParameters.livestock?.map(livestock => ({
        livestock_id: livestock.livestockType.id,
        number_of_animals: livestock.numberOfAnimals
      })) || []
      params.livestock_grazing_start_month = this.storeParameters.livestockGrazingStartMonth?.id
      params.livestock_grazing_end_month = this.storeParameters.livestockGrazingEndMonth?.id
      params.manure_storage_id = this.storeParameters.manureStorage?.id
      params.manure_applications = this.storeParameters.manureApplications?.map(application => ({
        application_month: application.month.id,
        application_manure_stored_months: application.storedMonths
      })) || []
      params.farm_surface_area = this.storeParameters.farmSurfaceArea
      params.mineral_fertilizations = this.storeParameters.mineralFertilizations?.map(fertilization => ({
        application_month: fertilization.month.id,
        application_amount: fertilization.amount
      })) || []

      return params
    },
    recommendations () {
      return this.storeResults?.recommendations
    },
    storeParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    storeTarget () {
      return this.$store.state.fertilizationPlan.target
    },
    storeResults: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.results
      },
      set (v) {
        this.updateParameter('results', v)
      }
    },
    results () {
      return this.storeParameters.results
    },
    fertilizationPlanParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    fertilizationPlanTarget () {
      return this.$store.state.fertilizationPlan.target
    },
    fertilizationPlanResults () {
      return {
        plot_id: this.plot.id,
        plot_name: this.plot.name,
        plant_species_id: this.fertilizationPlanParameters.cropProfile.id,
        plant_species_name: this.fertilizationPlanParameters.cropProfile.name,
        crop_yield: this.fertilizationPlanParameters.cropTargetYield,
        element_recommendations: this.fertilizationPlanParameters.results.recommendations
      }
    }
  },
  mounted () {
    this.computePlan('network-only')
  },
  methods: {
    onClickSavePlan () {
      this.savePlan(this.fertilizationPlanResults)
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'icpaPmnMineralFertilization'
      })
    },
    async computePlan (fetchPolicy) {
      try {
        this.computing = true

        const { data } = await this.$apollo.query({
          query: queryIcpaPmnComputePlan,
          variables: this.computePlanParams,
          fetchPolicy
        })
        this.nutrientBalance = data?.icpa_pmn__compute_plan

        const balanceItems = [{
          resultType: 'mineral_fertilizer_requirement',
          field: 'mineral_fertilizer_requirement',
          category: 'inputs',
          ignoreInTotal: true
        },
        {
          resultType: resultTypes.RECOMMENDATION,
          field: 'mineral_fertilizer_requirement_corrected_drainage',
          category: 'inputs',
          ignoreInTotal: true
        },
        {
          resultType: resultTypes.FERTILIZER_APPLIED,
          field: 'mineralized_nitrogen_from_humus_and_manure',
          category: 'inputs'
        },
        {
          resultType: 'mineralized_nitrogen_from_organic_waste',
          field: 'mineralized_nitrogen_from_organic_waste',
          category: 'inputs'
        },
        {
          resultType: 'immobilized_nitrogen',
          field: 'immobilized_nitrogen',
          category: 'outputs'
        },
        {
          resultType: 'nitrogen_lost_through_drainage',
          field: 'nitrogen_lost_through_drainage',
          category: 'outputs',
          ignoreInTotal: true
        },
        {
          resultType: 'mineralized_nitrogen_lost_through_drainage',
          field: 'mineralized_nitrogen_lost_through_drainage',
          category: 'outputs',
          ignoreInTotal: true
        },
        {
          resultType: resultTypes.UPTAKE,
          field: 'nitrogen_requirement_from_crop',
          category: 'outputs'
        },
        {
          resultType: resultTypes.LEACHING,
          field: 'total_drainage_losses',
          category: 'outputs'
        }]

        const recommendations = balanceItems.map(balanceItem => ({
          result_type: balanceItem.resultType,
          chemical_element_id: 'N',
          quantity: this.nutrientBalance[`${balanceItem.category}_${balanceItem.field}`] ?? null,
          category: balanceItem.category,
          ignoreInTotal: balanceItem.ignoreInTotal
        }))
        const intputsQuantity = recommendations
          .filter(r => r.category === 'inputs' && !r.ignoreInTotal)
          .reduce((prev, curr) => prev + (curr.quantity || 0), 0)
        const outputsQuantity = recommendations
          .filter(r => r.category === 'outputs' && !r.ignoreInTotal)
          .reduce((prev, curr) => prev + (curr.quantity || 0), 0)
        recommendations.push({
          result_type: resultTypes.INPUTS,
          chemical_element_id: 'N',
          quantity: intputsQuantity
        }, {
          result_type: resultTypes.OUTPUTS,
          chemical_element_id: 'N',
          quantity: outputsQuantity
        })

        this.storeResults = { recommendations }
      } catch (e) {
        console.error('Could not compute nutrient balance', e)
        this.error = e
      } finally {
        this.computing = false
      }
    }
  }
}
</script>
