<template>
  <div>
    <div class="row justify-end q-px-md q-mt-sm">
      <FertilizationResultDisplaySettingsButton :algorithm-id="algorithmId" />
    </div>

    <q-expansion-item
      v-if="detailed"
      header-class="q-pa-none"
      expand-icon-class="expand-toggle"
      class="result-expansion"
    >
      <template #header>
        <q-item-section>
          <NutrientBalanceItem
            :npk-elements="requirementsNpkElements"
            :label="$gettext('Requirements')"
          />
        </q-item-section>
      </template>

      <q-card class="bg-grey-2">
        <q-card-section class="q-pa-none">
          <NutrientBalanceItem
            v-if="mainProductExtractionNpkElements.length"
            :npk-elements="mainProductExtractionNpkElements"
            :label="$gettext('Main product extraction')"
            deemphasize
            class="result-no-expansion"
          />

          <NutrientBalanceItem
            v-if="byProductExtractionNpkElements.length"
            :npk-elements="byProductExtractionNpkElements"
            :label="$gettext('By-product extraction')"
            deemphasize
            class="result-no-expansion"
          />

          <NutrientBalanceItem
            v-if="biologicalFixationNpkElements.length"
            :npk-elements="biologicalFixationNpkElements"
            :label="$gettext('Biological fixation')"
            deemphasize
            class="result-no-expansion"
          />

          <NutrientBalanceItem
            v-if="soilMineralizationdNpkElements.length"
            :npk-elements="soilMineralizationdNpkElements"
            :label="$gettext('Soil mineralization')"
            deemphasize
            class="result-no-expansion"
          />
        </q-card-section>
      </q-card>
    </q-expansion-item>

    <NutrientBalanceItem
      v-else
      :npk-elements="requirementsNpkElements"
      :label="$gettext('Requirements')"
    />

    <NutrientBalanceItem
      v-if="plannedNpkElements.length"
      :npk-elements="plannedNpkElements"
      :label="$gettext('Planned fertilization')"
      :class="{ 'result-no-expansion': detailed }"
    />

    <NutrientBalanceItem
      v-if="balanceNpkElements.length"
      :npk-elements="balanceNpkElements"
      :label="$gettext('Balance')"
      :class="{ 'result-no-expansion': detailed }"
    />

    <div class="text-caption text-grey q-ml-md q-mt-sm">
      <translate>All numbers in kg/ha</translate>
    </div>
  </div>
</template>

<script>
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import NutrientBalanceItem from 'src/pages/fieldbook/fertilization/algorithms/common/components/NutrientBalanceItem'
import FertilizationResultDisplaySettingsButton from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationResultDisplaySettingsButton'
import { KALKULACKY_HNOJENIE } from 'src/services/fieldbook/fertilization/algorithms'

export default {
  name: 'KalkulackyHnojenieNutrientBalance',
  mixins: [FertilizationPlanMixin],
  components: {
    NutrientBalanceItem,
    FertilizationResultDisplaySettingsButton
  },
  props: {
    balanceItems: {
      type: Array,
      required: true
    },
    simplified: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    detailed () {
      return !this.simplified
    },
    requirementsNpkElements () {
      return this.balanceItems.filter(recommendation => recommendation.result_type === this.resultTypes.RECOMMENDATION)
    },
    mainProductExtractionNpkElements () {
      return this.balanceItems.filter(recommendation => recommendation.result_type === this.resultTypes.MAIN_PRODUCT_EXTRACTION)
    },
    byProductExtractionNpkElements () {
      return this.balanceItems.filter(recommendation => recommendation.result_type === this.resultTypes.BY_PRODUCT_EXTRACTION)
    },
    biologicalFixationNpkElements () {
      return this.balanceItems.filter(recommendation => recommendation.result_type === this.resultTypes.BIOLOGICAL_FIXATION)
    },
    soilMineralizationdNpkElements () {
      return this.balanceItems.filter(recommendation => recommendation.result_type === this.resultTypes.SOIL_MINERALIZATION)
    },
    plannedNpkElements () {
      return this.balanceItems.filter(recommendation => recommendation.result_type === this.resultTypes.PLANNED)
    },
    balanceNpkElements () {
      return this.balanceItems.filter(recommendation => recommendation.result_type === this.resultTypes.BALANCE)
    },
    algorithmId () {
      return KALKULACKY_HNOJENIE
    }
  }
}
</script>

<style scoped>
.result-expansion :deep(.expand-toggle) {
  padding-left: 0;
  padding-right: 16px
}
.result-no-expansion {
  padding-right: 40px;
}
</style>
