<template>
  <q-card
    :square="!isDesktopPlatform"
    class="column no-wrap col"
  >
    <FertilizationResultHeader
      :plot-id="plotId"
      :plot-name="plotName"
      :plant-species-name="plantSpeciesName"
      :crop-yield="cropYield"
      :crop-main-product-name="cropMainProductName"
      :crop-by-product-name="cropByProductName"
      :crop-by-product-yield="cropByProductYield"
      :crop-yield-unit="cropYieldUnit"
    />

    <KalkulackyHnojenieNutrientBalance
      :balance-items="balanceItems"
      class="q-mt-sm"
    />

    <FertilizationList
      v-if="fertilizations && fertilizations.length"
      :fertilizations="fertilizations"
      :title="$gettext('Fertilizers')"
      class="q-mt-md"
    />

    <slot name="action-buttons" />
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import KalkulackyHnojenieNutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/kalkulacky-hnojenie/components/KalkulackyHnojenieNutrientBalance'
import FertilizationResultHeader from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationResultHeader'
import FertilizationList from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationList'

export default {
  name: 'KalkulackyHnojenieResultsCard',
  mixins: [PlatformMixin, FertilizationPlanMixin],
  components: {
    KalkulackyHnojenieNutrientBalance,
    FertilizationResultHeader,
    FertilizationList
  },
  props: {
    fertilizationPlanParameters: {
      type: Object,
      required: true
    },
    fertilizationPlanResults: {
      type: Object,
      required: false,
      default: null
    }
  },
  computed: {
    plotId () {
      return this.fertilizationPlanResults.plot_id
    },
    plotName () {
      return String(this.fertilizationPlanResults.plot_name || this.fertilizationPlanResults.plot_id)
    },
    plantSpeciesName () {
      return this.fertilizationPlanResults.plant_species_name
    },
    cropYield () {
      return this.fertilizationPlanResults.crop_yield
    },
    cropMainProductName () {
      return this.fertilizationPlanResults.crop_main_product_name
    },
    cropByProductName () {
      return this.fertilizationPlanResults.crop_by_product_name
    },
    cropByProductYield () {
      return this.fertilizationPlanResults.crop_by_product_yield
    },
    cropYieldUnit () {
      return this.unitOfMeasuresSymbol[this.fertilizationPlanResults.crop_yield_unit_of_measure_id]
    },
    balanceItems () {
      return this.fertilizationPlanResults.element_recommendations
    },
    fertilizations () {
      return this.fertilizationPlanParameters.fertilizations || []
    }
  }
}
</script>
