
<template>
  <div>
    <q-card-actions
      align="right"
    >
      <q-btn
        outline
        color="primary"
        :disable="!fertilizations"
        @click="onNewFertilization"
        class="q-mr-sm q-mb-sm"
      >
        {{ addFertilizationButtonDisplay }}
      </q-btn>
    </q-card-actions>

    <FertilizationList
      :fertilizations="fertilizations"
      :editable-fertilization-types="[fertilizerType]"
      separator
      @edit-fertilization="onEditFertilization"
    />
    <q-dialog
      v-model="openEditDialog"
      persistent
    >
      <KalkulackyHnojenieFertilizationEditForm
        :id="editedFertilizationId"
        :initial-fertilizer="editedSelectedFertilizer"
        :initial-fertilizer-year="editedFertilizerYear"
        :initial-fertilizer-quantity="editedFertilizerQuantity"
        :initial-fertilizer-type="editedFertilizerType"
        :fertilizer-options="editedFertilizationAvailableFertilizerOptions"
        @on-save="onSaveFertilization"
        @on-delete="onDeleteFertilization"
        @on-cancel="onCancelFertilization"
      />
    </q-dialog>
  </div>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import KalkulackyHnojenieFertilizationEditForm from 'src/pages/fieldbook/fertilization/algorithms/kalkulacky-hnojenie/components/KalkulackyHnojenieFertilizationEditForm'
import FertilizationList from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationList'

export default {
  name: 'KalkulackyHnojenieFertilizationsCard',
  mixins: [
    PlatformMixin,
    DateMixin
  ],
  components: {
    KalkulackyHnojenieFertilizationEditForm,
    FertilizationList
  },
  props: {
    initialFertilizations: {
      type: Array,
      required: true
    },
    fertilizerOptions: {
      type: Array,
      required: true
    },
    fertilizerType: {
      type: String,
      required: true
    }
  },
  emits: ['on-update'],
  data () {
    return {
      fertilizations: [...this.initialFertilizations],
      openEditDialog: false,
      editedFertilization: null
    }
  },
  computed: {
    editedFertilizationId () {
      return this.editedFertilization?.id
    },
    editedSelectedFertilizer () {
      return this.editedFertilization?.fertilizer || null
    },
    editedFertilizerYear () {
      return this.editedFertilization?.fertilizerYear || null
    },
    editedFertilizerQuantity () {
      return this.editedFertilization?.fertilizerQuantity
    },
    editedFertilizerType () {
      return this.editedFertilization?.fertilizerType || this.fertilizerType
    },
    editedFertilizationAvailableFertilizerOptions () {
      return this.fertilizerOptions.filter(fertilizer => !this.fertilizations.find(fert => fert.fertilizer.id === fertilizer.id))
    },
    addFertilizationButtonDisplay () {
      if (this.fertilizerType === 'organic') {
        return this.$gettext('Add organic fertilizer')
      } else if (this.fertilizerType === 'mineral') {
        return this.$gettext('Add mineral fertilizer')
      } else {
        throw new Error('Unknown fertilizer type')
      }
    }
  },
  methods: {
    onEditFertilization (fertilization) {
      this.editedFertilization = fertilization
      this.openEditDialog = true
    },
    onNewFertilization () {
      this.openEditDialog = true
    },
    onSaveFertilization (fertilization) {
      if (fertilization.id) {
        this.onUpdateFertilization(fertilization)
      } else {
        this.onCreateFertilization(fertilization)
      }
    },
    onCreateFertilization (fertilization) {
      // add a temporary id to allow edition in the list before saving it
      this.fertilizations.push({ ...fertilization, id: new Date().getTime() })
      this.openEditDialog = false
      this.editedFertilization = null
      this.$emit('on-update', this.fertilizations)
    },
    onUpdateFertilization (fertilization) {
      for (let i = 0; i < this.fertilizations.length; i++) {
        if (this.fertilizations[i].id === fertilization.id) {
          this.fertilizations.splice(i, 1, fertilization)
          break
        }
      }
      this.openEditDialog = false
      this.editedFertilization = null
      this.$emit('on-update', this.fertilizations)
    },
    onDeleteFertilization (id) {
      for (let i = 0; i < this.fertilizations.length; i++) {
        if (this.fertilizations[i].id === id) {
          this.fertilizations.splice(i, 1)
          break
        }
      }
      this.openEditDialog = false
      this.editedFertilization = null
      this.$emit('on-update', this.fertilizations)
    },
    onCancelFertilization () {
      this.openEditDialog = false
      this.editedFertilization = null
    }
  }
}

</script>
