<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <!-- <div
              class="text-body1 q-mb-md"
            >
              <translate translate-context="In spanish: basal='fondo'">
                Basal configuration
              </translate>
            </div> -->
            <div
              class="row q-mb-md q-col-gutter-x-sm flex-center"
            >
              <div class="col-xs-4 col-sm-3 col-md-2">
                <translate class="text-body2 text-secondary">
                  Nutrient needs
                </translate>
              </div>
              <div class="col-xs-8 col-sm-9 col-md-10">
                <div
                  v-for="(element, index) in elements"
                  :key="'nutrient-needs-element-'+element.id"
                  style="display: inline-block;"
                  :class="{'q-mr-md': index < elements.length -1}"
                >
                  <span :class="`text-${element.id}`">
                    {{ element.labelShort }}: {{ cropNPKNeeds[element.id] }}
                  </span>
                </div>
              </div>
            </div>
            <div
              class="row q-mb-md q-col-gutter-x-sm flex-center"
            >
              <div class="col-xs-4 col-sm-3 col-md-2">
                <translate
                  class="text-body2 text-secondary"
                >
                  Nitrogen share
                </translate>
              </div>
              <div class="col-xs-8 col-sm-9 col-md-10">
                <span>{{ storeFertilizationStrategyNShare }} %</span>
              </div>
            </div>
            <template v-if="hasManureApplications">
              <div
                class="row q-mb-md q-col-gutter-x-sm flex-center"
              >
                <div class="col-xs-4 col-sm-3 col-md-2">
                  <translate class="text-body2 text-secondary">
                    Manure nutrients
                  </translate>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-10">
                  <div
                    v-for="(element, index) in elements"
                    :key="'nutrient-needs-element-'+element.id"
                    style="display: inline-block;"
                    :class="{'q-mr-md': index < elements.length -1}"
                  >
                    <span :class="`text-${element.id}`">
                      {{ element.labelShort }}: {{ NPKProvidedByManure[element.id] }}
                    </span>
                  </div>
                  <!-- <span
                    v-for="(element, index) in elements"
                    :key="'nutrient-provided-by-manure-element-'+element.id"
                    :class="index < elements.length -1 ? 'q-mr-sm' : ''"
                  >
                    {{ element.labelShort }}: {{ NPKProvidedByManure[element.id] }}<template v-if="index < elements.length -1">,</template>
                  </span> -->
                </div>
              </div>
            </template>
            <div
              class="row q-mb-lg q-col-gutter-x-sm flex-center"
            >
              <div class="col-xs-4 col-sm-3 col-md-2">
                <translate
                  class="text-body2 text-secondary"
                >
                  Plot area
                </translate>
              </div>
              <div class="col-xs-8 col-sm-9 col-md-10">
                <span>{{ plotArea.ha }} <translate translate-context="hectare">ha</translate></span>
              </div>
            </div>
            <template v-if="!isStoreVerificationOver">
              <div class="full-width text-center">
                <q-spinner-dots
                  size="40px"
                  color="primary"
                />
              </div>
            </template>
            <template v-else>
              <div
                class="text-body2"
              >
                <translate>
                  Fertilizers
                </translate>
              </div>
              <div
                class="text-grey text-caption q-mb-md"
              >
                <translate>
                  You can use one of the two strategies below to help you choose suitable fertilizer(s).
                </translate>
              </div>
              <div class="row q-mb-md q-col-gutter-y-sm">
                <div class="col-xs-12 col-md-6 text-center">
                  <q-btn
                    color="primary"
                    flat
                    @click="onClickBlendStrategy"
                    dense
                  >
                    <translate>Blend of simple fertilizers</translate>
                  </q-btn>
                </div>
                <div class="col-xs-12 col-md-6 text-center">
                  <q-btn
                    color="primary"
                    flat
                    @click="onClickCompoundStrategy"
                    dense
                  >
                    <translate class="">
                      Compound (binary or ternary) fertilizer
                    </translate>
                  </q-btn>
                </div>
              </div>
              <q-list
                class=""
              >
                <q-item
                  v-for="(fertilizer, index) in storeFertilizationStrategyBasalFinalConfiguration.fertilizers"
                  :key="'fertilizer-' + index"
                  class="q-pl-none"
                  :class="{'q-mb-md': index < storeFertilizationStrategyBasalFinalConfiguration.fertilizers.length - 1}"
                >
                  <q-item-section avatar>
                    <q-btn
                      icon="las la-trash"
                      flat
                      color="negative"
                      padding="md sm"
                      @click="removeFertilizer(index)"
                    />
                  </q-item-section>
                  <q-item-section>
                    <div class="row q-col-gutter-sm flex-center">
                      <div class="col-xs-12 col-md-8 row q-col-gutter-x-sm justify-between">
                        <q-select
                          :model-value="fertilizer"
                          @update:model-value="value => updateFertilizer(value, index)"
                          :options="fertilizerListOptions"
                          :loading="fertilizersLoading"
                          option-label="name"
                          filled
                          :label="$gettext('Select a fertilizer')"
                          class="col-xs-12 col-md-6"
                        >
                          <template #option="scope">
                            <q-item-label
                              v-if="scope.opt.group"
                              header
                              caption
                            >
                              {{ scope.opt.name }}
                            </q-item-label>
                            <q-item
                              v-bind="scope.itemProps"
                              v-else
                            >
                              <q-item-section>
                                <q-item-label>{{ scope.opt.name }}</q-item-label>
                                <q-item-label
                                  v-if="scope.opt.fertilizer_type"
                                  caption
                                >
                                  {{ scope.opt.fertilizer_type.label }}
                                </q-item-label>
                              </q-item-section>
                            </q-item>
                          </template>
                        </q-select>
                        <div class="col-xs-5 col-md-3">
                          <q-input
                            :model-value="fertilizer.quantity"
                            @update:model-value="value => updateFertilizerQuantity(value < 0 ? 0 : Number(value), index)"
                            type="number"
                            :min="0"
                            :label="$gettext('Quantity')"
                            :suffix="$gettext('kg/ha')"
                            style="max-width: 100px;"
                          />
                        </div>
                        <div class="col-xs-5 col-md-3">
                          <q-input
                            :model-value="fertilizer.price"
                            @update:model-value="value => updateFertilizerPrice(value < 0 ? 0 : value, index)"
                            type="number"
                            :min="0"
                            :label="$gettext('Price')"
                            suffix="€/kg"
                            style="max-width: 100px;"
                          />
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4">
                        <div class="">
                          <translate class="q-mr-sm">
                            Quantity for the plot:
                          </translate>
                          <span class="text-bold">{{ fertilizer.plotQuantity }} kg</span>
                        </div>
                        <div class="">
                          <translate class="q-mr-sm">
                            Cost for the plot:
                          </translate>
                          <span class="text-bold">{{ fertilizer.plotPrice }} €</span>
                        </div>
                      </div>
                    </div>
                  </q-item-section>
                </q-item>
                <q-item
                  v-if="!storeFertilizationStrategyBasalFinalConfiguration.fertilizers.length"
                >
                  <q-item-section class="text-grey">
                    <q-item-label>
                      <translate>No fertilizer added</translate>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
              <q-card-actions
                class="q-pa-none"
                align="right"
              >
                <q-item>
                  <q-btn
                    outline
                    color="primary"
                    @click="addNewFertilizer"
                  >
                    <translate>Add</translate>
                  </q-btn>
                </q-item>
              </q-card-actions>
              <div
                class="text-body2 q-mt-lg q-mb-sm"
              >
                <translate translate-context="Balance between provided quantity and required quantity">
                  Balance
                </translate>
              </div>
              <q-list>
                <q-item
                  v-for="element in elements"
                  :key="'nutrient-needs-element-'+element.id"
                  dense
                >
                  <q-item-section side>
                    <q-icon name="las la-minus" />
                  </q-item-section>
                  <q-item-section>
                    <div>
                      <span
                        class="col-auto q-mr-sm"
                        :class="element.id === 'n' ? 'text-n' : element.id === 'p' ? 'text-p' : 'text-k'"
                      >
                        {{ element.labelShort }}:
                      </span>
                      <template v-if="getElementBalance(element.id) > 0">
                        <span
                          translate-context="Display the excess (quantity) of nutrient. Example: excess of 2kg"
                          v-translate="{nutrientExcess: nutrientBalanceAsSpan(element.id)}"
                          render-html="true"
                        >
                          excess of %{nutrientExcess}
                        </span>
                      </template>
                      <template v-else-if="getElementBalance(element.id) < 0">
                        <span
                          translate-context="Display the deficit (quantity) of nutrient. Example: deficit of 2kg"
                          v-translate="{nutrientDeficit: nutrientBalanceAsSpan(element.id)}"
                          render-html="true"
                        >
                          deficit of %{nutrientDeficit}
                        </span>
                      </template>
                      <template v-else>
                        <span class="text-bold">0</span>
                      </template>
                      <!-- <span>
                        {{ getElementBalance(element.id) }}
                      </span> -->
                      <translate
                        class="text-bold"
                        translate-context="kilogram per hectare"
                      >
                        kg/ha
                      </translate>
                    </div>
                  </q-item-section>
                </q-item>
                <q-item v-if="storeFertilizationStrategyNShare && realNShare && realNShare !== storeFertilizationStrategyNShare">
                  <q-banner
                    dense
                    class="bg-grey-2"
                  >
                    <div class="row items-center">
                      <div class="col-auto">
                        <q-icon
                          name="las la-exclamation-triangle"
                          color="warning"
                          class="q-mr-sm"
                        />
                      </div>
                      <translate
                        class="col"
                        :translate-params="{providedNPercentage: realNShare, plannedNPercentage: storeFertilizationStrategyNShare}"
                      >
                        The provided quantity of nitrogen represents %{providedNPercentage}% of the nitrogen needs, which differs from the planned one (%{plannedNPercentage}%).
                      </translate>
                    </div>
                  </q-banner>
                </q-item>
              </q-list>
              <q-banner
                v-if="storeFertilizationStrategyBasalFinalConfiguration.fertilizers.length"
                class="bg-grey-2 q-mt-lg"
              >
                <div class="text-center text-body1">
                  <translate>Summary</translate>
                </div>
                <q-list>
                  <q-item
                    class="q-px-none"
                    v-for="(fertilizer, index) in storeFertilizationStrategyBasalFinalConfiguration.fertilizers"
                    :key="'summary-fertilizer-' + index"
                  >
                    <q-item-section side>
                      <q-icon name="las la-minus" />
                    </q-item-section>
                    <q-item-section class="q-col-gutter-y-xs">
                      <div class="row flex-center q-col-gutter-x-sm">
                        <span class="col-auto text-grey-7">
                          {{ `${$gettext('Name')}:` }}
                        </span>
                        <span class="col text-bold">{{ fertilizer.name }}</span>
                      </div>
                      <div class="row flex-center q-col-gutter-x-sm">
                        <translate class="col-auto text-grey-7">
                          Quantity:
                        </translate>
                        <span class="col  text-bold">{{ fertilizer.quantity }} kg/ha</span>
                      </div>
                      <div class="row flex-center q-col-gutter-x-sm">
                        <translate class="col-auto text-grey-7">
                          Quantity for the plot:
                        </translate>
                        <span class="col  text-bold">{{ fertilizer.plotQuantity }} kg</span>
                      </div>
                      <div class="row flex-center q-col-gutter-x-sm">
                        <translate class="col-auto text-grey-7">
                          Cost for the plot:
                        </translate>
                        <span class="col  text-bold">{{ fertilizer.plotPrice }} €</span>
                      </div>
                    </q-item-section>
                  </q-item>
                </q-list>
                <div class="q-mt-md">
                  <translate>Total cost:</translate>
                  <span class="text-bold q-ml-sm">{{ totalCost }} €</span>
                </div>
                <div class="q-mt-md">
                  <translate
                    v-if="!hasTopDressingApplication"
                    translate-context="In spanish: topdressing='coberta'"
                  >
                    No topdressing application planned
                  </translate>
                  <template v-else>
                    <translate
                      translate-context="In spanish: topdressing='coberta'"
                      class="q-mr-sm"
                    >
                      Quantity of nitrogen remaining for topdressing:
                    </translate>
                    <div
                      class=""
                      style="display: inline; white-space: nowrap;"
                    >
                      {{ balanceOfN > 0 ? 0 : -balanceOfN }} <translate translate-context="kilogram per hectare">
                        kg/ha
                      </translate>
                    </div>
                  </template>
                </div>
              </q-banner>
            </template>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                v-if="hasTopDressingApplication"
                color="primary"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate translate-context="In spanish: topdressing='coberta'">
                  Configure topdressing applications
                </translate>
              </q-btn>
              <q-btn
                color="primary"
                :disable="!canContinue"
                :loading="saving"
                @click="onClickSavePlan"
                :flat="hasTopDressingApplication"
              >
                {{ savePlanButtonLabel }}
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="$router.push({name: 'fertilizationPlans'})"
              >
                <translate>Back to all my plans</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
      <BlendSimpleFertilizersDialog
        v-model="showBlendSimpleFertilizersDialog"
        :npk-needs="basalApplicationNPKNeeds"
        :plot-area-in-ha="plotArea.ha"
        @confirm="onConfirmBlendStrategy"
      />
      <CompoundFertilizerDialog
        v-model="showCompoundFertilizerDialog"
        :npk-needs="basalApplicationNPKNeeds"
        :plot-area-in-ha="plotArea.ha"
        @confirm="onConfirmCompoundStrategy"
        :has-top-dressing-application="hasTopDressingApplication"
      />
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import BlendSimpleFertilizersDialog from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/pages/fertilization-strategy/components/BlendSimpleFertilizersDialog'
import CompoundFertilizerDialog from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/pages/fertilization-strategy/components/CompoundFertilizerDialog'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilicalcMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcMixin'
import FertilicalcFertilizationStrategyMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcFertilizationStrategyMixin'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import FertilicalcSavePlanMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcSavePlanMixin'
import { ConfirmMixin } from 'src/mixins/DialogMixin'

import queryFertilizers from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryFertilizers'
import queryCustomFertilizers from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryCustomFertilizers'
import { formatPlotAreaByUnit } from 'src/services/plot/plotFormatting'
import featureFlags from 'src/services/feature-flags'

export default {
  name: 'FertilicalcBasal',
  components: {
    GenericLayout,
    Header,
    Footer,
    BlendSimpleFertilizersDialog,
    CompoundFertilizerDialog
  },
  mixins: [
    PlatformMixin,
    AlgorithmsMixins,
    FertilicalcMixin,
    FertilicalcFertilizationStrategyMixin,
    FertilizationPlanMixin,
    FertilicalcSavePlanMixin,
    ConfirmMixin
  ],
  data () {
    return {
      elements: [
        {
          id: 'n',
          label: this.$gettext('Nitrogen'),
          labelShort: this.$pgettext('Nitrogen', 'N')
        },
        {
          id: 'p',
          label: this.$gettext('Phosphorus'),
          labelShort: this.$pgettext('Phosphorus', 'P')
        },
        {
          id: 'k',
          label: this.$gettext('Potassium'),
          labelShort: this.$pgettext('Potassium', 'K')
        }
      ],
      isStoreVerificationOver: false,
      fertilizerList: [],
      newFertilizerData: {
        fertilizer: null,
        quantity: null,
        price: null
      },
      showBlendSimpleFertilizersDialog: false,
      showCompoundFertilizerDialog: false
    }
  },
  apollo: {
    fertilizerList: {
      query: queryFertilizers,
      notifyOnNetworkStatusChange: true,
      update (data) {
        return data.registered_fertilizer
      },
      skip () {
        return !featureFlags.canDisplayRegisteredFertilizer()
      }
    },
    customFertilizerList: {
      query: queryCustomFertilizers,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          holdingId: this.holdingId
        }
      },
      update (data) {
        return data.customFertilizers.map(f => ({ ...f, custom: true }))
      },
      skip () {
        return !featureFlags.canDisplayCustomFertilizer()
      }
    }
  },
  computed: {
    holdingId () {
      return this.$store.state.fastplatform.holdingCampaign.holding.id
    },
    balanceOfN () {
      let balance = this.NPKProvidedByManure.n - this.cropNPKNeeds.n
      if (this.storeFertilizationStrategyBasalFinalConfiguration?.fertilizers?.length) {
        this.storeFertilizationStrategyBasalFinalConfiguration.fertilizers.forEach(fertilizer => {
          const provided = fertilizer.n_percentage != null
            ? Number((Number(fertilizer.n_percentage) * Number(fertilizer.quantity) / 100).toFixed(1))
            : null
          if (provided) {
            balance += provided
          }
        })
      }
      return Number(balance.toFixed(1))
    },
    balanceOfP () {
      let balance = this.NPKProvidedByManure.p - this.cropNPKNeeds.p
      if (this.storeFertilizationStrategyBasalFinalConfiguration?.fertilizers?.length) {
        this.storeFertilizationStrategyBasalFinalConfiguration.fertilizers.forEach(fertilizer => {
          const provided = fertilizer.p_percentage != null
            ? Number((Number(fertilizer.p_percentage) * Number(fertilizer.quantity) / 100).toFixed(1))
            : null
          if (provided) {
            balance += provided
          }
        })
      }
      return Number(balance.toFixed(1))
    },
    balanceOfK () {
      let balance = this.NPKProvidedByManure.k - this.cropNPKNeeds.k
      if (this.storeFertilizationStrategyBasalFinalConfiguration?.fertilizers?.length) {
        this.storeFertilizationStrategyBasalFinalConfiguration.fertilizers.forEach(fertilizer => {
          const provided = fertilizer.k_percentage != null
            ? Number((Number(fertilizer.k_percentage) * Number(fertilizer.quantity) / 100).toFixed(1))
            : null
          if (provided) {
            balance += provided
          }
        })
      }
      return Number(balance.toFixed(1))
    },
    canAddNewFertilizer () {
      return this.newFertilizerData?.fertilizer != null && this.newFertilizerData?.quantity != null
    },
    canContinue () {
      return this.storeFertilizationStrategyBasalFinalConfiguration?.fertilizers?.length > 0
    },
    fertilizerListOptions () {
      const options = []
      const selectedFertilizers = this.storeFertilizationStrategyBasalFinalConfiguration?.fertilizers
      if (this.customFertilizerList) {
        const filteredCustomFertilizerList = this.customFertilizerList.filter(fertilizer => !selectedFertilizers || !selectedFertilizers.find(f => f.id === fertilizer.id && f.custom))
        if (filteredCustomFertilizerList.length > 0) {
          options.push({
            name: this.$gettext('My farm fertilizers'),
            group: true
          })
          options.push(...filteredCustomFertilizerList)
        }
      }
      if (this.fertilizerList) {
        const filteredFertilizerList = this.fertilizerList.filter(fertilizer => !selectedFertilizers || !selectedFertilizers.find(f => f.id === fertilizer.id && !f.custom))
        if (filteredFertilizerList.length > 0) {
          options.push({
            name: this.$gettext('Common fertilizers'),
            group: true
          })
          options.push(...filteredFertilizerList)
        }
      }
      return options
    },
    hasManureApplications () {
      return Boolean(this.$store.state.fertilizationPlan.parameters.fertilization_strategy_has_manure_application)
    },
    hasTopDressingApplication () {
      return this.$store.state.fertilizationPlan.parameters.fertilization_strategy_has_topdressing_application
    },
    pageTitle () {
      return this.$pgettext('In spanish: basal=\'fondo\'', 'Basal application')
    },
    pageSubTitle () {
      return 'FertiliCalc'
    },
    plotArea () {
      return formatPlotAreaByUnit(this.$store.state.fertilizationPlan.target.area)
    },
    realNShare () {
      const quantityOfN = Number((Number(this.cropNPKNeeds.n) + Number(this.balanceOfN)).toFixed(1))
      return Number(this.cropNPKNeeds.n)
        ? Math.round(quantityOfN / Number(this.cropNPKNeeds.n) * 100)
        : null
    },
    storeFertilizationStrategyBasalFinalConfiguration: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilization_strategy_basal_final_configuration
      },
      set (v) {
        this.updateParameter('fertilization_strategy_basal_final_configuration', v)
      }
    },
    storeFertilizationStrategyNShare () {
      return this.$store.state.fertilizationPlan.parameters.fertilization_strategy_n_share
    },
    totalCost () {
      if (this.storeFertilizationStrategyBasalFinalConfiguration?.fertilizers?.length) {
        let price = 0
        this.storeFertilizationStrategyBasalFinalConfiguration.fertilizers.forEach(fertilizer => {
          if (fertilizer.price != null && fertilizer.quantity != null) {
            price += fertilizer.plotPrice
          }
        })
        return price
      } else {
        return null
      }
    },
    fertilizersLoading () {
      return this.$apollo.queries.fertilizerList.loading || this.$apollo.queries.customFertilizerList.loading
    }
  },
  methods: {
    addNewFertilizer () {
      const bfc = JSON.parse(JSON.stringify(this.storeFertilizationStrategyBasalFinalConfiguration))
      const percentages = {
        n: null,
        p: null,
        k: null
      }
      // select the first registered fertilizer not already used
      const selectedFertilizers = this.storeFertilizationStrategyBasalFinalConfiguration?.fertilizers
      let nextAvailableFertilizer = this.fertilizerList.find(f => !selectedFertilizers || !selectedFertilizers.find(sf => sf.id === f.id && !sf.custom))
      if (!nextAvailableFertilizer) {
        nextAvailableFertilizer = this.fertilizerList[0]
      }
      nextAvailableFertilizer.fertilizerElements.forEach(element => {
        percentages[element.chemical_element_id.toLowerCase()] = element.percentage
      })
      bfc.fertilizers.push({
        id: nextAvailableFertilizer.id,
        name: nextAvailableFertilizer.name,
        custom: false,
        n_percentage: percentages.n != null ? Number(percentages.n) : null,
        p_percentage: percentages.p != null ? Number(percentages.p) : null,
        k_percentage: percentages.k != null ? Number(percentages.k) : null,
        quantity: 0,
        plotQuantity: 0,
        price: 0,
        plotPrice: 0
      })
      this.storeFertilizationStrategyBasalFinalConfiguration = bfc
    },
    calculateFertilizerQuantityForPlot (fertilizerQuantity) {
      return Number((Number(fertilizerQuantity ?? 0) * Number(this.plotArea?.ha ?? 0)).toFixed(1))
    },
    calculateFertilizerPriceForPlot (fertilizerPrice, fertilizerQuantity) {
      return Number((Number(fertilizerPrice ?? 0) * Number(this.calculateFertilizerQuantityForPlot(fertilizerQuantity))).toFixed(1))
    },
    getElementBalance (element) {
      return element === 'n' ? this.balanceOfN : element === 'p' ? this.balanceOfP : this.balanceOfK
    },
    initializeBasalFinalConfig () {
      const basalFinalConfig = {
        basalCropNeeds: { ...this.basalApplicationNPKNeeds },
        fertilizers: []
      }
      this.storeFertilizationStrategyBasalFinalConfiguration = basalFinalConfig
    },
    nutrientBalanceAsSpan (elementId) {
      return `<span class="text-bold">${Math.abs(this.getElementBalance(elementId))}</span>`
    },
    onClickBlendStrategy () {
      this.showBlendSimpleFertilizersDialog = true
    },
    onClickCompoundStrategy () {
      this.showCompoundFertilizerDialog = true
    },
    onClickNext () {
      this.$router.push({
        name: 'fertilicalcTopdressing'
      })
    },
    onClickPrevious () {
      this.$router.back()
    },
    onClickSavePlan () {
      const results = this.prepareSavePlan()
      this.savePlan(results)
    },
    async _onConfirmStrategyConfirmationDialog (strategy) {
      let useNewConfiguration = !this.storeFertilizationStrategyBasalFinalConfiguration.fertilizers?.length > 0
      if (!useNewConfiguration) {
        // warn the user that his / her current configuration will be overwritten by the new one
        useNewConfiguration = await this.confirm({
          title: strategy === 'blend' ? this.$gettext('Use these fertilizers?') : this.$gettext('Use this fertilizer?'),
          message: this.$gettext('Your current fertilizer list will be replaced by this new one.'),
          persistent: false,
          ok: {
            label: this.$gettext('Yes'),
            color: 'primary'
          },
          cancel: {
            label: this.$gettext('No'),
            color: 'primary',
            flat: true
          }
        })
      }
      return useNewConfiguration
    },
    async onConfirmBlendStrategy (npkFertilizers) {
      const useNewConfiguration = await this._onConfirmStrategyConfirmationDialog('blend')
      if (useNewConfiguration) {
        // replace current fertilizers with the selected ones
        const fertilizers = []
        Object.keys(npkFertilizers).forEach(element => {
          const elementPercentage = npkFertilizers[element].fertilizer.fertilizerElements?.find(el => el.chemical_element_id === element.toUpperCase())?.percentage
          fertilizers.push({
            id: npkFertilizers[element].fertilizer.id,
            name: npkFertilizers[element].fertilizer.name,
            custom: npkFertilizers[element].fertilizer.custom,
            n_percentage: element === 'n' ? Number(elementPercentage) : null,
            p_percentage: element === 'p' ? Number(elementPercentage) : null,
            k_percentage: element === 'k' ? Number(elementPercentage) : null,
            quantity: npkFertilizers[element].quantity,
            plotQuantity: this.calculateFertilizerQuantityForPlot(npkFertilizers[element].quantity),
            price: 0,
            plotPrice: 0
          })
        })
        const bfc = JSON.parse(JSON.stringify(this.storeFertilizationStrategyBasalFinalConfiguration))
        bfc.fertilizers = fertilizers
        this.storeFertilizationStrategyBasalFinalConfiguration = bfc
        // hide the blend strategy dialog
        this.showBlendSimpleFertilizersDialog = false
      }
    },
    async onConfirmCompoundStrategy (compoundFertilizer) {
      const useNewConfiguration = await this._onConfirmStrategyConfirmationDialog('compound')
      if (useNewConfiguration) {
        // replace current fertilizers with the compound fertilizer
        const fertilizers = [{
          id: compoundFertilizer.id,
          name: compoundFertilizer.name,
          custom: compoundFertilizer.custom,
          n_percentage: compoundFertilizer.n_percentage != null ? Number(compoundFertilizer.n_percentage) * 100 : null,
          p_percentage: compoundFertilizer.p_percentage != null ? Number(compoundFertilizer.p_percentage) * 100 : null,
          k_percentage: compoundFertilizer.k_percentage != null ? Number(compoundFertilizer.k_percentage) * 100 : null,
          quantity: Number(compoundFertilizer.quantity.toFixed(1)),
          plotQuantity: this.calculateFertilizerQuantityForPlot(Number(compoundFertilizer.quantity.toFixed(1))),
          price: 0,
          plotPrice: 0
        }]
        const bfc = JSON.parse(JSON.stringify(this.storeFertilizationStrategyBasalFinalConfiguration))
        bfc.fertilizers = fertilizers
        this.storeFertilizationStrategyBasalFinalConfiguration = bfc
        // hide the compound strategy dialog
        this.showCompoundFertilizerDialog = false
      }
    },
    async removeFertilizer (index) {
      const c = await this.confirm({
        title: this.$gettext('Remove this fertilizer?'),
        message: `${this.$gettext('Fertilizer')}: ${this.storeFertilizationStrategyBasalFinalConfiguration.fertilizers[index].name}`,
        persistent: false,
        ok: {
          label: this.$gettext('Remove'),
          color: 'negative',
          flat: true
        },
        cancel: {
          label: this.$gettext('Cancel'),
          color: 'primary',
          flat: true
        }
      })
      if (c) {
        const bfc = JSON.parse(JSON.stringify(this.storeFertilizationStrategyBasalFinalConfiguration))
        bfc.fertilizers.splice(index, 1)
        this.storeFertilizationStrategyBasalFinalConfiguration = bfc
      }
    },
    updateFertilizer (value, index) {
      const bfc = JSON.parse(JSON.stringify(this.storeFertilizationStrategyBasalFinalConfiguration))
      const percentages = {
        n: null,
        p: null,
        k: null
      }
      value.fertilizerElements.forEach(element => {
        percentages[element.chemical_element_id.toLowerCase()] = element.percentage
      })
      bfc.fertilizers[index] = {
        id: value.id,
        name: value.name,
        custom: value.custom,
        n_percentage: percentages.n != null ? Number(percentages.n) : null,
        p_percentage: percentages.p != null ? Number(percentages.p) : null,
        k_percentage: percentages.k != null ? Number(percentages.k) : null,
        quantity: 0,
        plotQuantity: 0,
        price: 0,
        plotPrice: 0
      }
      this.storeFertilizationStrategyBasalFinalConfiguration = bfc
    },
    updateFertilizerQuantity (value, index) {
      const bfc = JSON.parse(JSON.stringify(this.storeFertilizationStrategyBasalFinalConfiguration))
      bfc.fertilizers[index].quantity = Number(value)
      bfc.fertilizers[index].plotQuantity = this.calculateFertilizerQuantityForPlot(value)
      bfc.fertilizers[index].plotPrice = this.calculateFertilizerPriceForPlot(bfc.fertilizers[index].price, value)
      this.storeFertilizationStrategyBasalFinalConfiguration = bfc
    },
    updateFertilizerPrice (value, index) {
      const bfc = JSON.parse(JSON.stringify(this.storeFertilizationStrategyBasalFinalConfiguration))
      bfc.fertilizers[index].price = Number(value)
      bfc.fertilizers[index].plotPrice = this.calculateFertilizerPriceForPlot(value, bfc.fertilizers[index].quantity)
      this.storeFertilizationStrategyBasalFinalConfiguration = bfc
    }
  },
  mounted () {
    if (
      this.storeFertilizationStrategyBasalFinalConfiguration &&
      this.storeFertilizationStrategyBasalFinalConfiguration?.basalCropNeeds &&
      this.storeFertilizationStrategyBasalFinalConfiguration?.fertilizers?.length
    ) {
      // TODO display a warning if the configuration in the store is not valid:
      // - the basal crop needs doesn't match the current one
    } else {
      this.initializeBasalFinalConfig()
    }
    this.isStoreVerificationOver = true
  }
}
</script>
