<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>
                Are you planning to apply organic manure or did you apply organic manure during the last 2 years ?
              </translate>
            </div>
            <q-btn-toggle
              v-model="storeFertilizationStrategyHasManureApplication"
              :options="[{value: true, label:$gettext('Yes')}, {value: false, label:$gettext('No')}]"
              toggle-color="primary"
            />
          </q-card-section>
          <q-card-section v-if="storeFertilizationStrategyHasManureApplication === true">
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>
                Indicate the manure(s) you applied / will apply:
              </translate>
            </div>
            <q-list>
              <q-item
                class="q-px-none"
                v-for="(manure, index) in storeFertilizationStrategyManureApplications"
                :key="'manure-application-'+index"
              >
                <q-item-section
                  side
                >
                  <q-btn
                    icon="las la-trash"
                    color="negative"
                    padding="md sm"
                    flat
                    @click="removeManureApplication(index)"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label
                    class="text-body2"
                    lines="3"
                  >
                    {{ manure.fertilizer.name }}
                  </q-item-label>
                  <q-item-label class="">
                    <span>{{ manure.quantity }} <translate translate-context="kilogram per hectare">kg/ha</translate></span>
                    -
                    <span><translate>Year:</translate> {{ manure.year }}</span>
                  </q-item-label>
                  <q-item-label
                    caption
                    class="q-mt-sm q-col-gutter-x-sm"
                  >
                    <template v-if="manure.n_supplied != null">
                      <span>{{ `${$pgettext('Nitrogen', 'N')}: ${manure.n_supplied}` }}</span>
                    </template>
                    <template v-if="manure.p_supplied != null">
                      <span>{{ `${$pgettext('Phosphorus', 'P')}: ${manure.p_supplied}` }}</span>
                    </template>
                    <template v-if="manure.k_supplied != null">
                      <span>{{ `${$pgettext('Potassium', 'K')}: ${manure.k_supplied}` }}</span>
                    </template>
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-btn
                    icon="las la-pen"
                    color="primary"
                    padding="md sm"
                    flat
                    @click="editManureApplication(index)"
                  />
                </q-item-section>
              </q-item>
              <q-item v-if="!(storeFertilizationStrategyManureApplications && storeFertilizationStrategyManureApplications.length)">
                <q-item-section class="text-italic">
                  <q-item-label>
                    <translate>No manure added</translate>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
            <q-card-actions
              class="q-px-none"
              align="right"
            >
              <q-btn
                color="primary"
                outline
                @click="newManureApplication"
              >
                <translate>Add manure</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
          <q-card-section v-if="storeFertilizationStrategyHasManureApplication && totalNutrientsByManureApplications != null">
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>
                Total nutrients provided by manure
              </translate>
            </div>
            <q-banner class="bg-grey-2 q-mb-md">
              <div class="row q-mt-sm">
                <div
                  v-for="element in elements"
                  :key="'nutrient-provided-by-manure-element-'+element.id"
                  class="col-4 column text-center"
                >
                  <span
                    class="q-mb-sm"
                    :class="`text-${element.id}`"
                  >
                    {{ element.labelShort }}
                  </span>
                  <span
                    class="text-body1 text-bold"
                    :class="`text-${element.id}`"
                  >{{ totalNutrientsByManureApplications[element.id] }}</span>
                  <translate
                    class="text-grey"
                    translate-context="kilogram per hectare"
                  >
                    kg/ha
                  </translate>
                </div>
              </div>
            </q-banner>
          </q-card-section>
          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
      <q-dialog v-model="isAddPopUpVisible">
        <q-card>
          <q-card-section class="q-col-gutter-y-md">
            <div
              class="text-body1 q-mb-sm"
            >
              <translate>Fill in the data about the manure</translate>:
            </div>
            <q-select
              v-model="manureData.fertilizer"
              @update:model-value="value => updateManureNPKContent()"
              :options="organicFertilizersOptions"
              :loading="fertilizersLoading"
              option-label="name"
              filled
              :label="$gettext('Manure')"
            >
              <template #option="scope">
                <q-item-label
                  v-if="scope.opt.group"
                  header
                  caption
                >
                  {{ scope.opt.name }}
                </q-item-label>
                <q-item
                  v-else
                  v-bind="scope.itemProps"
                >
                  <q-item-section>{{ scope.opt.name }}</q-item-section>
                </q-item>
              </template>
            </q-select>
            <q-select
              v-model="manureData.year"
              @update:model-value="value => updateManureNPKSupplied()"
              :options="yearSelectorOptions"
              filled
              :label="$gettext('Application year')"
            />
            <q-input
              v-model="manureData.quantity"
              @update:model-value="value => updateManureNPKContent()"
              type="number"
              :min="0"
              :label="$gettext('Quantity')"
              :suffix="$gettext('kg/ha')"
            />
            <div :style="addManureShowNPKManure ? '' : 'height: 0px; visibility: hidden;'">
              <div
                class="text-body2 q-mt-md"
              >
                <translate translate-context="NPK is for Nitrogen (N), Phosphorus (P) and Potassium (K)">
                  Initial NPK content
                </translate>
                <span>({{ $pgettext('kilogram per hectare', 'kg/ha') }}):</span>
              </div>
              <div class="row q-col-gutter-x-md q-pt-none">
                <q-input
                  v-model="manureData.n_content"
                  @update:model-value="value => updateManureNPKSupplied()"
                  type="number"
                  :min="0"
                  :label="$pgettext('Nitrogen', 'N')"
                  class="col-4"
                />
                <q-input
                  v-model="manureData.p_content"
                  @update:model-value="value => updateManureNPKSupplied()"
                  type="number"
                  :min="0"
                  :label="$pgettext('Phosphorus', 'P')"
                  class="col-4"
                />
                <q-input
                  v-model="manureData.k_content"
                  @update:model-value="value => updateManureNPKSupplied()"
                  type="number"
                  :min="0"
                  :label="$pgettext('Potassium', 'K')"
                  class="col-4"
                />
              </div>
            </div>
            <div :style="addManureShowNPKProvided ? '' : 'height: 0px; visibility: hidden;'">
              <div
                class="text-body2"
              >
                <translate translate-context="NPK is for Nitrogen (N), Phosphorus (P) and Potassium (K)">
                  NPK supply for the current campaign
                </translate>
                <span>({{ $pgettext('kilogram per hectare', 'kg/ha') }}):</span>
              </div>
              <div class="row q-col-gutter-x-md q-pt-none">
                <q-input
                  v-model="manureData.n_supplied"
                  type="number"
                  :min="0"
                  :label="$pgettext('Nitrogen', 'N')"
                  class="col-4"
                />
                <q-input
                  v-model="manureData.p_supplied"
                  type="number"
                  :min="0"
                  :label="$pgettext('Phosphorus', 'P')"
                  class="col-4"
                />
                <q-input
                  v-model="manureData.k_supplied"
                  type="number"
                  :min="0"
                  :label="$pgettext('Potassium', 'K')"
                  class="col-4"
                />
              </div>
            </div>
          </q-card-section>
          <q-card-section>
            <q-card-actions
              class="q-pa-none"
              align="right"
            >
              <q-btn
                @click="isAddPopUpVisible = false"
                flat
                color="secondary"
                class="q-mr-md"
              >
                <translate>Cancel</translate>
              </q-btn>
              <q-btn
                v-if="editionIndex != null"
                @click="removeManureApplication(editionIndex)"
                flat
                color="negative"
                class="q-mr-md"
              >
                <translate>Remove</translate>
              </q-btn>
              <q-btn
                @click="addOrEditManureApplication"
                :disable="!canAddManure"
                color="primary"
              >
                <translate v-if="editionIndex == null">
                  Add
                </translate>
                <translate v-else>
                  Save
                </translate>
              </q-btn>
            </q-card-actions>
            <!-- <q-card-actions
              v-if="editionIndex != null"
              class="q-pa-none q-mt-md"
              align="right"
            >
              <q-btn
                @click="removeManureApplication(editionIndex)"
                flat
                color="negative"
              >
                <translate>Remove</translate>
              </q-btn>
            </q-card-actions> -->
          </q-card-section>
        </q-card>
      </q-dialog>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilicalcMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcMixin'
import queryOrganicFertilizers from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryOrganicFertilizers'
import queryOrganicCustomFertilizers from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryOrganicCustomFertilizers'
import { ConfirmMixin } from 'src/mixins/DialogMixin'
import featureFlags from 'src/services/feature-flags'

const initManureData = {
  fertilizer: null,
  quantity: null,
  year: null,
  n_content: null,
  p_content: null,
  k_content: null,
  n_supplied: null,
  p_supplied: null,
  k_supplied: null
}
export default {
  name: 'FertilicalcManurePage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilicalcMixin, ConfirmMixin],
  data () {
    return {
      elements: [
        {
          id: 'n',
          label: this.$gettext('Nitrogen'),
          labelShort: this.$pgettext('Nitrogen', 'N')
        },
        {
          id: 'p',
          label: this.$gettext('Phosphorus'),
          labelShort: this.$pgettext('Phosphorus', 'P')
        },
        {
          id: 'k',
          label: this.$gettext('Potassium'),
          labelShort: this.$pgettext('Potassium', 'K')
        }
      ],
      isAddPopUpVisible: false,
      manureData: { ...initManureData },
      organicFertilizers: [],
      editionIndex: null
    }
  },
  apollo: {
    organicFertilizers: {
      query: queryOrganicFertilizers,
      notifyOnNetworkStatusChange: true,
      update (data) {
        return data.registered_fertilizer
      },
      skip () {
        return !featureFlags.canDisplayRegisteredFertilizer()
      }
    },
    organicCustomFertilizers: {
      query: queryOrganicCustomFertilizers,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          holdingId: this.holdingId
        }
      },
      skip () {
        return !featureFlags.canDisplayCustomFertilizer()
      }
    }
  },
  computed: {
    holdingId () {
      return this.$store.state.fastplatform.holdingCampaign.holding.id
    },
    addManureShowNPKManure () {
      return this.manureData.fertilizer != null && this.manureData.quantity != null
    },
    addManureShowNPKProvided () {
      return this.manureData.fertilizer != null && this.manureData.quantity != null && this.manureData.year != null
    },
    canAddManure () {
      return this.manureData.fertilizer != null && this.manureData.quantity != null && this.manureData.year != null
    },
    canContinue () {
      if (this.storeFertilizationStrategyHasManureApplication == null) {
        return false
      } else {
        if (this.storeFertilizationStrategyHasManureApplication) {
          // must have at least one manure application
          return Boolean(this.storeFertilizationStrategyManureApplications?.length)
        } else {
          return true
        }
      }
    },
    currentYear () {
      return new Date().getFullYear()
    },
    organicFertilizersOptions () {
      const options = []
      if (this.organicCustomFertilizers?.length > 0) {
        options.push({
          name: this.$gettext('My farm manure'),
          group: true
        })
        options.push(...this.organicCustomFertilizers)
      }
      if (this.organicFertilizers?.length) {
        options.push({
          name: this.$gettext('Common manure'),
          group: true
        })
        options.push(...this.organicFertilizers)
      }
      return options
    },
    pageTitle () {
      return this.$gettext('Manure')
    },
    pageSubTitle () {
      return 'FertiliCalc'
    },
    storeFertilizationStrategyHasManureApplication: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilization_strategy_has_manure_application
      },
      set (v) {
        this.updateParameter('fertilization_strategy_has_manure_application', v)
      }
    },
    storeFertilizationStrategyManureApplications: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilization_strategy_manure_applications
      },
      set (v) {
        this.updateParameter('fertilization_strategy_manure_applications', v)
      }
    },
    totalNutrientsByManureApplications () {
      // sum up all nutrients from each manure applications
      if (this.storeFertilizationStrategyManureApplications?.length) {
        const total = {
          n: 0,
          p: 0,
          k: 0
        }
        this.storeFertilizationStrategyManureApplications.forEach(manureApplication => {
          total.n += Number(manureApplication.n_supplied)
          total.p += Number(manureApplication.p_supplied)
          total.k += Number(manureApplication.k_supplied)
        })
        total.n = Number(total.n.toFixed(1))
        total.p = Number(total.p.toFixed(1))
        total.k = Number(total.k.toFixed(1))
        return total
      } else {
        return null
      }
    },
    yearSelectorOptions () {
      // return the current and last 2 years
      return [
        this.currentYear,
        this.currentYear - 1,
        this.currentYear - 2
      ]
    },
    fertilizersLoading () {
      return this.$apollo.queries.organicFertilizers.loading || this.$apollo.queries.organicCustomFertilizers.loading
    }
  },
  methods: {
    addOrEditManureApplication () {
      const manures = this.storeFertilizationStrategyManureApplications != null
        ? JSON.parse(JSON.stringify(this.storeFertilizationStrategyManureApplications))
        : []
      if (this.editionIndex != null) {
        manures.splice(this.editionIndex, 1, { ...this.manureData })
      } else {
        manures.push({ ...this.manureData })
      }
      this.storeFertilizationStrategyManureApplications = manures
      this.isAddPopUpVisible = false
    },
    editManureApplication (index) {
      this.editionIndex = index
      this.manureData = { ...this.storeFertilizationStrategyManureApplications[index] }
      this.isAddPopUpVisible = true
    },
    newManureApplication () {
      this.editionIndex = null
      this.manureData = { ...initManureData }
      this.isAddPopUpVisible = true
    },
    onClickNext () {
      this.$router.push({
        name: 'fertilicalcBasal'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'fertilicalcNShare'
      })
    },
    async removeManureApplication (index) {
      const c = await this.confirm({
        title: this.$gettext('Remove this manure?'),
        message: `${this.$gettext('Manure')}: ${this.storeFertilizationStrategyManureApplications[index].fertilizer.name}`,
        persistent: false,
        ok: {
          label: this.$gettext('Remove'),
          color: 'negative',
          flat: true
        },
        cancel: {
          label: this.$gettext('Cancel'),
          color: 'primary',
          flat: true
        }
      })
      if (c) {
        const manures = JSON.parse(JSON.stringify(this.storeFertilizationStrategyManureApplications))
        manures.splice(index, 1)
        this.storeFertilizationStrategyManureApplications = manures
        this.isAddPopUpVisible = false
      }
    },
    updateManureNPKContent () {
      if (this.manureData.fertilizer != null && this.manureData.quantity) {
        // get the npk content for the manure based on manure npk percentage and quantity
        const npkContent = {
          n: null,
          p: null,
          k: null
        }
        this.manureData.fertilizer.fertilizerElements.forEach(element => {
          switch (element.chemical_element_id) {
            case 'N':
              npkContent.n = Number(this.manureData.quantity * element.percentage / 100).toFixed(1)
              break
            case 'P':
              npkContent.p = Number(this.manureData.quantity * element.percentage / 100).toFixed(1)
              break
            case 'K':
              npkContent.k = Number(this.manureData.quantity * element.percentage / 100).toFixed(1)
              break
            default:
              break
          }
        })
        this.manureData.n_content = npkContent.n
        this.manureData.p_content = npkContent.p
        this.manureData.k_content = npkContent.k
        this.updateManureNPKSupplied()
      }
    },
    updateManureNPKSupplied () {
      if (this.manureData.quantity && this.manureData.year != null) {
        let yearCoefficient = null
        switch (this.currentYear - this.manureData.year) {
          case 2:
            yearCoefficient = 0.15
            break
          case 1:
            yearCoefficient = 0.35
            break
          case 0:
          default:
            yearCoefficient = 0.5
            break
        }
        this.manureData.n_supplied = this.manureData.n_content != null ? Number(this.manureData.n_content * yearCoefficient).toFixed(1) : null
        this.manureData.p_supplied = this.manureData.p_content != null ? Number(this.manureData.p_content * yearCoefficient).toFixed(1) : null
        this.manureData.k_supplied = this.manureData.k_content != null ? Number(this.manureData.k_content * yearCoefficient).toFixed(1) : null
      }
    }
  }
}
</script>
