<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate translate-context="In spanish: topdressing='coberta', basal='fondo'">
                Do you plan to use topdressing (share the application of nitrogen between basal and topdressing)?
              </translate>
            </div>
            <q-btn-toggle
              v-model="storeFertilizationStrategyHasTopdressingApplications"
              :options="[{value: true, label:$gettext('Yes')}, {value: false, label:$gettext('No')}]"
              toggle-color="primary"
            />
            <template v-if="storeFertilizationStrategyHasTopdressingApplications">
              <div
                class="text-body2 q-mb-sm q-mt-lg"
              >
                <translate translate-context="In spanish: basal='fondo'">
                  Basal share of nitrogen
                </translate>
              </div>
              <q-list>
                <q-item class="justify-between items-center">
                  <q-item-section
                    side
                  >
                    <translate translate-context="In spanish: basal='fondo'">
                      Basal
                    </translate>
                  </q-item-section>
                  <q-item-section class="items-center">
                    <q-input
                      :model-value="storeFertilizationStrategyNShare"
                      @update:model-value="value => storeFertilizationStrategyNShare = value < 0 ? 0 : value > 100 ? 100 : Math.round(value)"
                      dense
                      type="number"
                      :min="0"
                      :max="100"
                      suffix="%"
                      style="max-width: 100px"
                    />
                  </q-item-section>
                  <q-item-section
                    side
                  >
                    <translate translate-context="In spanish: topdressing='coberta'">
                      Topdressing
                    </translate>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-slider
                    v-model="storeFertilizationStrategyNShare"
                    :min="0"
                    :max="100"
                  />
                </q-item>
              </q-list>
            </template>
            <template v-else-if="storeFertilizationStrategyHasTopdressingApplications === false">
              <q-banner class="bg-grey-3 q-px-none q-mt-lg">
                <q-item>
                  <q-item-section side>
                    <q-icon
                      name="las la-exclamation-triangle"
                      color="warning"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      Se recomienda el reparto de la aplicación del nitrógeno en al menos una aplicación en fondo (33%) y una o varias coberteras (67%).
                      En el caso de no realizar coberteras y aplicar todo el nitrógeno en una única aplicación se recomienda usar productos nitrogenados con inhibidor
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-banner>
            </template>
          </q-card-section>
          <q-card-section v-if="hasFertilizationComments">
            <q-banner class="bg-grey-3">
              <div class="row items-center">
                <div class="col-auto q-mr-sm">
                  <q-icon
                    name="las la-info-circle"
                    color="primary"
                    size="24px"
                  />
                </div>
                <div
                  class="text-body2 col"
                >
                  {{ storePlantSpeciesProfile ? storePlantSpeciesProfile.profile_name : $gettext('Crop information') }}
                </div>
              </div>
              <q-list>
                <q-item
                  class="q-px-none"
                  v-if="fertilizationBasalComment"
                >
                  <q-item-section side>
                    <q-icon
                      name="las la-minus"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      <span
                        class="text-subtitle2"
                        translate-context="In spanish: basal='fondo'"
                      >Basal</span>
                    </q-item-label>
                    <q-item-label>
                      <span>{{ fertilizationBasalComment }}</span>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item
                  class="q-px-none"
                  v-if="fertilizationPostPlantingComment"
                >
                  <q-item-section side>
                    <q-icon
                      name="las la-minus"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      <span
                        class="text-subtitle2"
                        translate-context="In spanish: topdressing='coberta'"
                      >Topdressing</span>
                    </q-item-label>
                    <q-item-label>
                      <span>{{ fertilizationPostPlantingComment }}</span>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-banner>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilicalcMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcMixin'

export default {
  name: 'FertilicalcNShare',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilicalcMixin],
  data () {
    return {
    }
  },
  computed: {
    canContinue () {
      if (this.storeFertilizationStrategyHasTopdressingApplications == null) {
        return false
      } else {
        return this.storeFertilizationStrategyHasTopdressingApplications
          ? this.storeFertilizationStrategyNShare != null
          : true
      }
    },
    fertilizationBasalComment () {
      if (this.$store.state.fertilizationPlan.parameters?.plant_species_profile != null) {
        return this.storePlantSpeciesProfile?.basal_description
      }
      return null
    },
    fertilizationPostPlantingComment () {
      if (this.$store.state.fertilizationPlan.parameters?.plant_species_profile != null) {
        return this.storePlantSpeciesProfile?.post_planting_description
      }
      return null
    },
    hasFertilizationComments () {
      return this.fertilizationBasalComment || this.fertilizationPostPlantingComment
    },
    pageTitle () {
      return this.$gettext('N share between basal and topdressing')
    },
    pageSubTitle () {
      return 'FertiliCalc'
    },
    storeFertilizationStrategyHasTopdressingApplications: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilization_strategy_has_topdressing_application
      },
      set (v) {
        this.updateParameter('fertilization_strategy_has_topdressing_application', v)
        if (!v) {
          // set the N share value to 100% => only basal application
          this.storeFertilizationStrategyNShare = 100
        } else {
          // use the plant species profile default n_share or default to 33
          this.storeFertilizationStrategyNShare = this.$store.state.fertilizationPlan.parameters?.plant_species_profile.n_basal ?? 33
        }
      }
    },
    storeFertilizationStrategyNShare: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilization_strategy_n_share
      },
      set (v) {
        this.updateParameter('fertilization_strategy_n_share', v)
      }
    },
    storePlantSpeciesProfile () {
      return this.$store.state.fertilizationPlan.parameters.plant_species_profile
    }
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'fertilicalcManure'
      })
    },
    onClickPrevious () {
      this.$router.back()
    }
  },
  mounted () {
  }
}
</script>
