<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="row q-mb-lg q-col-gutter-md items-center"
            >
              <div class="col-xs-12 col-md-auto">
                <q-input
                  v-model="targetYield"
                  type="number"
                  :min="0"
                  :label="$gettext('Target yield')"
                  :suffix="$gettext('kg/ha')"
                  style="max-width: 150px;"
                  input-class="text-body1"
                />
              </div>
              <div
                v-if="Number(targetYield) !== Number(storeTargetYield)"
                class="col"
              >
                <q-btn
                  :label="$gettext('Recalculate nutrient needs')"
                  @click="recalculateNPKRecommendation"
                  color="primary"
                />
              </div>
            </div>
            <div
              class="row q-mb-md q-col-gutter-x-sm flex-center"
            >
              <div class="col-xs-4 col-sm-3 col-md-3">
                <translate class="text-body2 text-secondary">
                  Nutrient needs
                </translate>
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9">
                <div
                  v-for="(element, index) in elements"
                  :key="'nutrient-needs-element-'+element.id"
                  style="display: inline-block;"
                  :class="{'q-mr-sm': index < elements.length -1}"
                >
                  <span :class="{'text-n': element.id === 'n', 'text-p': element.id === 'p', 'text-k': element.id === 'k'}">
                    {{ element.labelShort }}: {{ cropNPKNeeds[element.id] }}
                  </span><template v-if="index < elements.length -1">
                    ,
                  </template>
                </div>
              </div>
            </div>
            <div
              class="row q-mb-md q-col-gutter-x-sm flex-center"
            >
              <div class="col-xs-4 col-sm-3 col-md-3">
                <translate
                  translate-context="In spanish: basal='fondo'"
                  class="text-body2 text-secondary"
                >
                  Nutrients provided by basal application
                </translate>
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9">
                <div
                  v-for="(element, index) in elements"
                  :key="'nutrient-needs-element-'+element.id"
                  style="display: inline-block;"
                  :class="{'q-mr-sm': index < elements.length -1}"
                >
                  <span :class="{'text-n': element.id === 'n', 'text-p': element.id === 'p', 'text-k': element.id === 'k'}">
                    {{ element.labelShort }}: {{ basalSupply[element.id] }}
                  </span><template v-if="index < elements.length -1">
                    ,
                  </template>
                </div>
              </div>
            </div>
            <div
              class="row q-mb-lg q-col-gutter-x-sm flex-center"
            >
              <div class="col-xs-4 col-sm-3 col-md-3">
                <translate
                  class="text-body2 text-secondary"
                >
                  Plot area
                </translate>
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9">
                <span>{{ plotArea.ha }} <translate translate-context="hectare">ha</translate></span>
              </div>
            </div>
            <div
              class="row q-mb-lg q-col-gutter-x-sm items-center"
            >
              <div class="">
                <translate
                  translate-context="N: Nitrogen; In spanish: topdressing='coberta'"
                  class="q-mr-sm"
                >
                  Quantity of Nitrogen to apply as topdressing:
                </translate>
              </div>
              <div class="text-n">
                <span class="">{{ balanceOfN }} </span><translate translate-context="kilogram per hectare">
                  kg/ha
                </translate>
              </div>
            </div>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate translate-context="In spanish: topdressing='coberta'">
                Topdressing applications
              </translate>
            </div>
            <q-list>
              <q-item
                v-for="(topdressingApplication, index) in storeFertilizationStrategyTopdressingApplications"
                :key="'topdressing-application-'+index"
                class="q-px-none"
                :class="{'q-mb-md': index < storeFertilizationStrategyTopdressingApplications.length - 1}"
              >
                <q-item-section avatar>
                  <q-btn
                    icon="las la-trash"
                    flat
                    color="negative"
                    padding="md sm"
                    @click="removeTopdressingApplication(index)"
                  />
                </q-item-section>
                <q-item-section>
                  <div class="q-col-gutter-sm">
                    <translate :translate-params="{ index: index + 1 }">
                      Application #%{ index }
                    </translate>
                  </div>
                  <div class="row q-col-gutter-sm flex-center">
                    <div class="col-xs-12 col-md-8 row q-col-gutter-x-sm justify-between">
                      <q-select
                        :model-value="topdressingApplication.fertilizer"
                        @update:model-value="value => updateTopdressingApplicationFertilizer(value, index)"
                        :options="simpleNFertilizersOptions"
                        option-label="name"
                        :label="$gettext('Select a fertilizer')"
                        :loading="fertilizersLoading"
                        filled
                        class="col-xs-12 col-md-6"
                      >
                        <template #option="scope">
                          <q-item-label
                            v-if="scope.opt.group"
                            header
                            caption
                          >
                            {{ scope.opt.name }}
                          </q-item-label>
                          <q-item
                            v-else
                            v-bind="scope.itemProps"
                          >
                            <q-item-section>{{ scope.opt.name }}</q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                      <div class="col-xs-5 col-md-3">
                        <q-input
                          :model-value="topdressingApplication.share"
                          @update:model-value="value => updateTopdressingApplicationShare(value < 0 ? 0 : value > 100 ? 100 : Math.round(value), index)"
                          :label="$pgettext('Share in % of a quantity.', 'Share')"
                          type="number"
                          :min="0"
                          :max="100"
                          suffix="%"
                          style="max-width: 100px;"
                        />
                      </div>
                      <div class="col-xs-5 col-md-3">
                        <q-input
                          :model-value="topdressingApplication.price"
                          @update:model-value="value => updateTopdressingApplicationPrice(value < 0 ? 0 : value, index)"
                          type="number"
                          :min="0"
                          :label="$gettext('Price')"
                          suffix="€/kg"
                          style="max-width: 100px;"
                        />
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                      <div class="">
                        <translate class="q-mr-sm">
                          Quantity for the plot:
                        </translate>
                        <span class="text-bold">{{ topdressingApplication.plotQuantity || 0 }} kg</span>
                      </div>
                      <div class="">
                        <translate class="q-mr-sm">
                          Cost for the plot:
                        </translate>
                        <span class="text-bold">{{ topdressingApplication.plotPrice || 0 }} €</span>
                      </div>
                    </div>
                  </div>
                </q-item-section>
              </q-item>
              <q-item v-if="!(storeFertilizationStrategyTopdressingApplications && storeFertilizationStrategyTopdressingApplications.length)">
                <q-item-section class="text-grey">
                  <q-item-label>
                    <translate translate-context="In spanish: topdressing='coberta'">
                      No topdressing applications
                    </translate>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item
                v-if="storeFertilizationStrategyTopdressingApplications && storeFertilizationStrategyTopdressingApplications.length && !areTopdressingApplicationSharesValid"
              >
                <q-item-section side>
                  <q-icon
                    name="las la-exclamation-triangle"
                    color="negative"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label
                    class="text-negative"
                    caption
                  >
                    <translate>The sum of the share of the topdressing applications should be equal to 100%</translate>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
            <q-card-actions
              class="q-px-none"
              align="right"
            >
              <q-btn
                color="primary"
                outline
                @click="addTopdressingApplication"
              >
                <translate>Add</translate>
              </q-btn>
            </q-card-actions>
            <q-banner
              v-if="storeFertilizationStrategyTopdressingApplications && storeFertilizationStrategyTopdressingApplications.length"
              class="bg-grey-2 q-mt-lg"
            >
              <div class="text-center text-body1">
                <translate>Summary</translate>
              </div>
              <q-list>
                <q-item
                  class="q-px-none"
                  v-for="(topdressingApplication, index) in storeFertilizationStrategyTopdressingApplications"
                  :key="'topdressingApplication-summary-fertilizer-'+index"
                >
                  <q-item-section side>
                    <q-icon name="las la-minus" />
                  </q-item-section>
                  <q-item-section class="q-col-gutter-y-xs">
                    <div class="row flex-center q-col-gutter-x-sm">
                      <span class="col-auto text-grey-7">
                        Application:
                      </span>
                      <span class="col text-bold">#{{ index + 1 }}</span>
                    </div>
                    <div class="row flex-center q-col-gutter-x-sm">
                      <span class="col-auto text-grey-7">
                        {{ `${$gettext('Name')}:` }}
                      </span>
                      <span class="col text-bold">{{ topdressingApplication.fertilizer ? topdressingApplication.fertilizer.name : '-' }}</span>
                    </div>
                    <div class="row flex-center q-col-gutter-x-sm">
                      <translate class="col-auto text-grey-7">
                        Quantity:
                      </translate>
                      <span class="col  ">{{ topdressingApplication.quantity != null ? topdressingApplication.quantity : '-' }} kg/ha</span>
                    </div>
                    <div class="row flex-center q-col-gutter-x-sm">
                      <translate class="col-auto text-grey-7">
                        Quantity for the plot:
                      </translate>
                      <span class="col text-bold">{{ topdressingApplication.plotQuantity != null ? topdressingApplication.plotQuantity : '-' }} kg</span>
                    </div>
                    <div class="row flex-center q-col-gutter-x-sm">
                      <translate class="col-auto text-grey-7">
                        Cost for the plot:
                      </translate>
                      <span class="col text-bold">{{ topdressingApplication.plotPrice != null ? topdressingApplication.plotPrice : '-' }} €</span>
                    </div>
                  </q-item-section>
                </q-item>
              </q-list>
              <div class="q-mt-md">
                <translate>Total cost:</translate>
                <span class="text-body1 text-bold q-ml-sm">{{ totalCost }} €</span>
              </div>
            </q-banner>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                :loading="saving"
                @click="onClickSavePlan"
              >
                {{ savePlanButtonLabel }}
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="$router.push({name: 'fertilizationPlans'})"
              >
                <translate>Back to all my plans</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilicalcMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcMixin'
import FertilicalcFertilizationStrategyMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcFertilizationStrategyMixin'
import FertilicalcComputeMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcComputeMixin'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import FertilicalcSavePlanMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcSavePlanMixin'
import { ConfirmMixin } from 'src/mixins/DialogMixin'

import querySimpleNFertilizers from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/graphql/querySimpleNFertilizers'
import queryCustomFertilizers from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryCustomFertilizers'
import { formatPlotAreaByUnit } from 'src/services/plot/plotFormatting'

import featureFlags from 'src/services/feature-flags'

export default {
  name: 'FertilicalcTopdressing',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [
    PlatformMixin,
    AlgorithmsMixins,
    FertilicalcMixin,
    FertilicalcComputeMixin,
    FertilicalcFertilizationStrategyMixin,
    FertilizationPlanMixin,
    FertilicalcSavePlanMixin,
    ConfirmMixin
  ],
  data () {
    return {
      elements: [
        {
          id: 'n',
          label: this.$gettext('Nitrogen'),
          labelShort: this.$pgettext('Nitrogen', 'N')
        },
        {
          id: 'p',
          label: this.$gettext('Phosphorus'),
          labelShort: this.$pgettext('Phosphorus', 'P')
        },
        {
          id: 'k',
          label: this.$gettext('Potassium'),
          labelShort: this.$pgettext('Potassium', 'K')
        }
      ],
      targetYield: null,
      simpleNFertilizers: []
    }
  },
  apollo: {
    simpleNFertilizers: {
      query: querySimpleNFertilizers,
      notifyOnNetworkStatusChange: true,
      update (data) {
        return data.registered_fertilizer
      },
      skip () {
        return !featureFlags.canDisplayRegisteredFertilizer()
      }
    },
    customFertilizers: {
      query: queryCustomFertilizers,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          holdingId: this.holdingId
        }
      },
      skip () {
        return !featureFlags.canDisplayCustomFertilizer()
      }
    }
  },
  computed: {
    holdingId () {
      return this.$store.state.fastplatform.holdingCampaign.holding.id
    },
    areTopdressingApplicationSharesValid () {
      if (this.storeFertilizationStrategyTopdressingApplications?.length) {
        let sum = 0
        this.storeFertilizationStrategyTopdressingApplications.forEach(topdressing => {
          sum += topdressing.share
        })
        return sum === 100
      } else {
        return false
      }
    },
    balanceOfN () {
      return Math.max(Number((this.cropNPKNeeds.n - this.basalSupply.n).toFixed(1)), 0)
    },
    basalSupply () {
      const supplied = this.NPKProvidedByManure
      if (this.storeFertilizationStrategyBasalFinalConfiguration?.fertilizers?.length) {
        this.storeFertilizationStrategyBasalFinalConfiguration.fertilizers.forEach(fertilizer => {
          supplied.n += Number(fertilizer.quantity) * Number(fertilizer.n_percentage) / 100
          supplied.p += Number(fertilizer.quantity) * Number(fertilizer.p_percentage) / 100
          supplied.k += Number(fertilizer.quantity) * Number(fertilizer.k_percentage) / 100
        })
      }
      supplied.n = Number(supplied.n.toFixed(1))
      supplied.p = Number(supplied.p.toFixed(1))
      supplied.k = Number(supplied.k.toFixed(1))
      return supplied
    },
    canContinue () {
      return this.hasTopDressingApplication && this.areTopdressingApplicationSharesValid
    },
    hasTopDressingApplication () {
      return this.$store.state.fertilizationPlan.parameters.fertilization_strategy_has_topdressing_application
    },
    pageTitle () {
      return this.$pgettext('In spanish: topdressing=\'coberta\'', 'Topdressing applications')
    },
    pageSubTitle () {
      return 'FertiliCalc'
    },
    plotArea () {
      return formatPlotAreaByUnit(this.$store.state.fertilizationPlan.target.area)
    },
    storeFertilizationStrategyBasalFinalConfiguration () {
      return this.$store.state.fertilizationPlan.parameters.fertilization_strategy_basal_final_configuration
    },
    storeFertilizationStrategyTopdressingApplications: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilization_strategy_topdressing_application
      },
      set (v) {
        this.updateParameter('fertilization_strategy_topdressing_application', v)
      }
    },
    storeTargetYield: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.yield
      },
      set (v) {
        this.updateParameter('yield', v)
      }
    },
    totalCost () {
      let cost = 0
      this.storeFertilizationStrategyTopdressingApplications.forEach(topdressingApplication => {
        cost += Number(topdressingApplication.plotPrice ?? 0)
      })
      return Number(cost.toFixed(1))
    },
    simpleNCustomFertilizers () {
      return this.customFertilizers?.filter(f => f.fertilizerElements.length === 1 && f.fertilizerElements[0].chemical_element_id === 'N')
    },
    simpleNFertilizersOptions () {
      const options = []
      if (this.simpleNCustomFertilizers?.length > 0) {
        options.push({
          name: this.$gettext('My farm fertilizers'),
          group: true
        })
        options.push(...this.simpleNCustomFertilizers)
      }
      if (this.simpleNFertilizers?.length > 0) {
        options.push({
          name: this.$gettext('Common fertilizers'),
          group: true
        })
        options.push(...this.simpleNFertilizers)
      }
      return options
    },
    fertilizersLoading () {
      return this.$apollo.queries.simpleNFertilizers.loading || this.$apollo.queries.customFertilizers.loading
    }
  },
  methods: {
    addTopdressingApplication () {
      const currentTopdressingApplications = this.storeFertilizationStrategyTopdressingApplications?.length
        ? JSON.parse(JSON.stringify(this.storeFertilizationStrategyTopdressingApplications))
        : []
      const fertilizer = this.simpleNFertilizers[0] ?? null
      const share = currentTopdressingApplications.length ? 0 : 100
      const quantity = fertilizer && share ? this.calculateTopdressingApplicationQuantity(fertilizer, share) : 0
      const plotQuantity = quantity ? this.calculateTopdressingApplicationQuantityForPlot(quantity) : 0
      currentTopdressingApplications.push({
        share,
        fertilizer,
        quantity,
        plotQuantity,
        price: 0,
        plotPrice: 0
      })
      this.storeFertilizationStrategyTopdressingApplications = currentTopdressingApplications
    },
    calculateTopdressingApplicationQuantity (fertilizer, share) {
      const fertilizerConcentration = fertilizer?.fertilizerElements?.find(el => el.chemical_element_id === 'N')?.percentage
      if (fertilizerConcentration && share) {
        return Number((this.balanceOfN * share / fertilizerConcentration).toFixed(1))
      } else {
        return 0
      }
    },
    calculateTopdressingApplicationQuantityForPlot (topdressingApplicationQuantity) {
      return Number((Number(topdressingApplicationQuantity ?? 0) * Number(this.plotArea?.ha ?? 0)).toFixed(1))
    },
    calculateTopdressingApplicationPriceForPlot (topdressingApplication) {
      return Number((Number(topdressingApplication?.price ?? 0) * Number(topdressingApplication?.plotQuantity ?? 0)).toFixed(1))
    },
    onClickPrevious () {
      this.$router.back()
    },
    onClickSavePlan () {
      const results = this.prepareSavePlan()
      this.savePlan(results)
    },
    async recalculateNPKRecommendation () {
      const initialYield = this.storeTargetYield
      this.storeTargetYield = Number(this.targetYield)
      const results = await this.computeNPKRecommendation()
      if (results != null) {
        this.updateParameter('results', results)
        // refresh topdressing quantities and prices
        if (this.storeFertilizationStrategyTopdressingApplications?.length) {
          this.refreshTopdressingApplicationsQuantitiesAndPrices()
        }
        this.$q.notify({
          color: 'green',
          message: this.$gettext('The nutrients needs and fertilizer quantities have been updated')
        })
      } else {
        // set back the initial yield in the store
        this.storeTargetYield = initialYield
      }
    },
    refreshTopdressingApplicationsQuantitiesAndPrices () {
      const currentTopdressingApplications = JSON.parse(JSON.stringify(this.storeFertilizationStrategyTopdressingApplications))
      currentTopdressingApplications.forEach(topdressingApplication => {
        this._updateTopdressingApplicationQuantity(topdressingApplication)
      })
      this.storeFertilizationStrategyTopdressingApplications = currentTopdressingApplications
    },
    async removeTopdressingApplication (index) {
      let confirmRemoval = this.storeFertilizationStrategyTopdressingApplications[index].fertilizer == null
      if (!confirmRemoval) {
        confirmRemoval = await this.confirm({
          title: this.$gettext('Remove this fertilizer?'),
          message: `${this.$gettext('Fertilizer')}: ${this.storeFertilizationStrategyTopdressingApplications[index].fertilizer.name}`,
          persistent: false,
          ok: {
            label: this.$gettext('Remove'),
            color: 'negative',
            flat: true
          },
          cancel: {
            label: this.$gettext('Cancel'),
            color: 'primary',
            flat: true
          }
        })
      }
      if (confirmRemoval) {
        const currentTopdressingApplications = JSON.parse(JSON.stringify(this.storeFertilizationStrategyTopdressingApplications))
        currentTopdressingApplications.splice(index, 1)
        this.storeFertilizationStrategyTopdressingApplications = currentTopdressingApplications
      }
    },
    updateTopdressingApplicationFertilizer (value, index) {
      const currentTopdressingApplications = JSON.parse(JSON.stringify(this.storeFertilizationStrategyTopdressingApplications))
      currentTopdressingApplications[index].fertilizer = value
      this._updateTopdressingApplicationQuantity(currentTopdressingApplications[index])
      // currentTopdressingApplications[index].quantity = this.calculateTopdressingApplicationQuantity(
      //   value,
      //   currentTopdressingApplications[index].share
      // )
      // currentTopdressingApplications[index].plotQuantity = this.calculateTopdressingApplicationQuantityForPlot(
      //   currentTopdressingApplications[index].quantity
      // )
      // currentTopdressingApplications[index].plotPrice = this.calculateTopdressingApplicationPriceForPlot(
      //   currentTopdressingApplications[index]
      // )
      this.storeFertilizationStrategyTopdressingApplications = currentTopdressingApplications
    },
    updateTopdressingApplicationShare (value, index) {
      const currentTopdressingApplications = JSON.parse(JSON.stringify(this.storeFertilizationStrategyTopdressingApplications))
      currentTopdressingApplications[index].share = value
      this._updateTopdressingApplicationQuantity(currentTopdressingApplications[index])
      // currentTopdressingApplications[index].quantity = this.calculateTopdressingApplicationQuantity(
      //   currentTopdressingApplications[index].fertilizer,
      //   value
      // )
      this.storeFertilizationStrategyTopdressingApplications = currentTopdressingApplications
    },
    _updateTopdressingApplicationQuantity (topdressingApplication) {
      topdressingApplication.quantity = this.calculateTopdressingApplicationQuantity(
        topdressingApplication.fertilizer,
        topdressingApplication.share
      )
      topdressingApplication.plotQuantity = this.calculateTopdressingApplicationQuantityForPlot(
        topdressingApplication.quantity
      )
      topdressingApplication.plotPrice = this.calculateTopdressingApplicationPriceForPlot(
        topdressingApplication
      )
    },
    updateTopdressingApplicationPrice (value, index) {
      const currentTopdressingApplications = JSON.parse(JSON.stringify(this.storeFertilizationStrategyTopdressingApplications))
      currentTopdressingApplications[index].price = Number(value)
      currentTopdressingApplications[index].plotPrice = this.calculateTopdressingApplicationPriceForPlot(
        currentTopdressingApplications[index]
      )
      this.storeFertilizationStrategyTopdressingApplications = currentTopdressingApplications
    }
  },
  mounted () {
    this.targetYield = this.storeTargetYield
    if (!this.storeFertilizationStrategyTopdressingApplications?.length) {
      // No topdressing in the store. Add the default number of topdressing for the selected crop.
      if (this.$store.state.fertilizationPlan.parameters?.plant_species_profile?.post_planting_count) {
        const defaultTopdressingApplications = []
        for (let i = 0; i < this.$store.state.fertilizationPlan.parameters.plant_species_profile.post_planting_count; i++) {
          defaultTopdressingApplications.push({
            share: Math.round(100 / this.$store.state.fertilizationPlan.parameters.plant_species_profile.post_planting_count),
            fertilizer: null,
            quantity: 0,
            plotQuantity: 0,
            price: 0,
            plotPrice: 0
          })
        }
        this.storeFertilizationStrategyTopdressingApplications = defaultTopdressingApplications
      }
    }
  }
}
</script>
