<template>
  <BaseMap
    ref="map"
    :style="mapStyle"
    :center="optimalCenter"
    :bounds="optimalBounds"
    :overlays-config="mapOverlays"
    @map-ready="onMapReady"
  />
</template>

<script>
import * as L from 'leaflet'

import BaseMap from 'src/components/BaseMap'
import { getMediaSrc } from 'src/utils/urls'
import { getDefaultOverlayLayersConfig, getHoldingCampaignPlotsLayer } from 'src/services/map/layers/layer-configs'

export default {
  name: 'PhotosMap',
  components: {
    BaseMap
  },
  props: {
    mapStyle: {
      type: String,
      default: ''
    },
    photos: {
      // geojson point (ie. location is [longitude, latitude] the opposite of leaflet standard)
      type: Array,
      required: true
    },
    activePhoto: {
      type: Object,
      default: null
    }
  },
  emits: ['set-active-photo'],
  data () {
    return {
      map: null,
      photoFeatureGroup: null,
      markersByPhoto: {}
    }
  },
  computed: {
    optimalCenter () {
      // Try to calculate the optimal center position to display all the photos
      let avgLong = 0, avgLat = 0
      this.photos.forEach(photo => {
        avgLong += photo.location.coordinates[0]
        avgLat += photo.location.coordinates[1]
      })
      const latLng = [avgLat / this.photos.length, avgLong / this.photos.length]
      if (isNaN(latLng[0]) || isNaN(latLng[1])) {
        return null
      } else {
        return latLng
      }
    },
    optimalBounds () {
      if (!this.optimalCenter) {
        if (this.$store.state.fastplatform.holdingCampaign.bounds) {
          return this.$store.state.fastplatform.holdingCampaign.bounds
        } else {
          return null
        }
      } else {
        return null
      }
    },
    mapOverlays () {
      const overlays = getDefaultOverlayLayersConfig()
      overlays.push(getHoldingCampaignPlotsLayer(true, { holdingCampaignId: this.$store.state.fastplatform.holdingCampaign.id }))
      return overlays
    }
  },
  watch: {
    photos: function (newPhotos, oldPhotos) {
      if (this.photoFeatureGroup) {
        // remove photos markers
        const photosToRemove = oldPhotos.filter(op => !newPhotos.some(np => this.getPhotoIdentifier(np) === this.getPhotoIdentifier(op)))
        photosToRemove.forEach(p => {
          // remove marker
          this.photoFeatureGroup.removeLayer(this.markersByPhoto[this.getPhotoIdentifier(p)])
          delete this.markersByPhoto[this.getPhotoIdentifier(p)]
        })
        // add new photos markers
        const photosToAdd = newPhotos.filter(np => !oldPhotos.some(op => this.getPhotoIdentifier(op) === this.getPhotoIdentifier(np)))
        this.addPhotoMarkers(photosToAdd)
      } else {
        // Do nothing: the map is not ready
      }
    }
  },
  methods: {
    canDisplayPhoto (photo) {
      if (photo && photo.location && photo.location.coordinates && photo.location.coordinates.length === 2) {
        return !isNaN(photo.location.coordinates[0]) && !isNaN(photo.location.coordinates[1])
      }
      return false
    },
    async addPhotoMarker (photo) {
      if (this.canDisplayPhoto(photo)) {
        let src
        if (photo.local) {
          src = photo.photo.startsWith('data:image/png;base64,')
            ? photo.photo
            : 'data:image/png;base64,' + photo.photo
        } else if (photo.thumbnail) {
          src = await getMediaSrc(photo.thumbnail)
        } else {
          src = require('../../../../components/grey-square.svg')
        }

        let html
        if (photo.heading != null) {
          const rotation = Math.round(45 + photo.heading)
          html = `<div><div class="arrow" style="transform: rotate(${rotation}deg);"></div><img src="${src}"/></div>`
        } else {
          html = `<div><img src="${src}"/></div>`
        }

        const icon = new L.DivIcon({
          className: 'photo-marker',
          html
        })

        const marker = L.marker(this.getPhotoLatLng(photo), { icon }).on('click', () => this.setActivePhoto(photo))
        this.markersByPhoto[this.getPhotoIdentifier(photo)] = marker
        this.photoFeatureGroup.addLayer(marker)
      }
    },
    addPhotoMarkers (photos) {
      const promises = []
      photos.filter(p => this.canDisplayPhoto(p)).forEach(photo => promises.push(this.addPhotoMarker(photo)))
      Promise.all(promises).then(() => {
        // set new bounds
        this.fitMapBounds(this.photoFeatureGroup.getBounds())
      }).catch(e => console.error(e))
    },
    getPhotoIdentifier (photo) {
      return `${photo.shot_at},${photo.heading}`
    },
    getPhotoLatLng (photo) {
      // the location coordinates of the photo are in the geojson format [long, lat] (reverse of leaflet one)
      return [photo.location.coordinates[1], photo.location.coordinates[0]]
    },
    setActivePhoto (photo) {
      this.$emit('set-active-photo', photo)
    },
    onMapReady (map) {
      this.map = map
      this.addPhotoFeatureGroup()
    },
    addPhotoFeatureGroup () {
      this.photoFeatureGroup = L.featureGroup().addTo(this.map)
      if (this.photos) {
        this.addPhotoMarkers(this.photos)
      }
    },
    removePhotoFeatureGroup () {
      if (this.photoFeatureGroup && this.map) {
        this.photoFeatureGroup.removeFrom(this.map)
      }
    },
    fitMapBounds (bounds) {
      try {
        if (bounds?.isValid() && this.$refs.map) {
          this.$refs.map.fitBounds(bounds.pad(0.2), { maxZoom: 15 })
        }
      } catch (e) {
        console.error('Could not fit map bounds', e)
        // do nothing
      }
    }
  },
  beforeUnmount () {
    this.removePhotoFeatureGroup()
  }
}
</script>

<style>

.photo-marker-one > div {
  transform: translate(-20px, -20px);
}

.photo-marker > div> img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #008FC4;
}

.photo-marker > div > div.arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: #008FC4;
  filter: drop-shadow(-2px -2px 4px #999999);
}

</style>
