<template>
  <TakePhotoLayout>
    <template #page-content>
      <div
        class="flex flex-center column full-width bg-transparent"
        style="flex-grow: 1;"
        key="take-photo-page-container"
      >
        <template v-if="!isCameraAvailable">
          <div class="q-pa-md">
            <q-card>
              <q-card-section>
                <div class="q-my-sm text-subtitle1">
                  <translate>Geo-tagged photo not supported.</translate>
                </div>
                <p class="text-body2">
                  <translate>The camera is not available on your device.</translate>
                </p>
              </q-card-section>
              <q-card-actions align="right">
                <q-btn
                  label="Go back"
                  @click="exit"
                  color="primary"
                />
              </q-card-actions>
            </q-card>
          </div>
        </template>

        <template v-else>
          <!-- Video -->
          <div
            class="text-center column full-width bg-transparent camera-preview"
            id="camera-preview"
          >
            <TakePhotoHeader
              :z-index="200"
              @exit="exit"
              :geolocation-status="geolocationStatus"
              :required-location-accuracy-in-meters="requiredLocationAccuracyInMeters"
              class="absolute"
            />
            <template v-if="isHeadingMissing">
              <div class="absolute">
                <div
                  class="full-width"
                  style="height: 1px; border:1px solid white;"
                />
                <q-banner
                  inline-actions
                  class="text-white bg-black vertical-middle"
                  style="z-index: 200; "
                >
                  <div class="row no-wrap flex-center text-left">
                    <q-icon
                      class="q-mr-md"
                      name="las la-exclamation-triangle"
                    />
                    <translate>Unable to detect your device heading...</translate>
                  </div>
                </q-banner>
              </div>
            </template>

            <!-- Map -->
            <div
              style="position: absolute; bottom: 0px;"
              :style="isPortrait ? styles.portrait.mapOuterWrapper : styles.landscape.mapOuterWrapper"
              class="flex"
              :class="isPortrait ? 'column' : 'row'"
              v-show="isDisplayCamera"
            >
              <div
                v-if="isPortrait"
                class="row flex-center q-px-md"
                :class="hideMap ? 'padding-bottom-ios' : ''"
                style="z-index: 100; width: 100%;"
                :style="hideMap ? 'margin-bottom: 20px;': ''"
              >
                <q-btn
                  v-show="hideMap"
                  round
                  style="position:absolute; left: 15px;"
                  size="lg"
                  icon="las la-map"
                  class="bg-accent text-white"
                  @click="toggleMapVisibility"
                />
                <q-btn
                  round
                  size="xl"
                  icon="las la-camera"
                  class="bg-accent text-white"
                  @click="takePhoto"
                  :disabled="!canTakePhoto"
                />
              </div>
              <template v-else>
                <div
                  class="flex flex-center padding-bottom-ios q-pb-md"
                  style="position: fixed; bottom: 0; left: 0; width: 100%;"
                >
                  <q-btn
                    round
                    size="xl"
                    icon="las la-camera"
                    class="bg-accent text-white"
                    @click="takePhoto"
                    :disabled="!canTakePhoto"
                  />
                </div>
                <div
                  class="text-center padding-bottom-ios q-pb-md"
                  style="width: 100%; position: absolute; bottom: 0;"
                >
                  <q-btn
                    v-show="hideMap"
                    round
                    size="lg"
                    icon="las la-map"
                    class="bg-accent text-white"
                    @click="toggleMapVisibility"
                  />
                </div>
              </template>
              <div
                v-show="!hideMap"
                :class="isPortrait ? 'q-mt-md' : ''"
                style="z-index: 101;"
                :style="isPortrait ? styles.portrait.mapWrapper : styles.landscape.mapWrapper"
              >
                <TakePhotoMap
                  ref="map"
                  :plot-id="plotId != null ? Number(plotId) : null"
                  :map-style="'height: 100%'"
                  @hide="toggleMapVisibility"
                  @geolocation-unavailable="onGeolocationError"
                  @geolocation-update="onGeolocationUpdate"
                  @heading-update="onHeadingUpdate"
                  @geolocation-permission-denied="onGelocationPermissionDenied"
                />
              </div>
            </div>
          </div>

          <div
            class="column flex-center text-center bg-black"
            style="position: absolute;height: 100%; width: 100%;"
            v-if="!isDisplayCamera"
          >
            <template v-if="photoImgSrc">
              <img
                :src="photoImgSrc"
                alt="Photo"
                style="object-fit: contain; object-position: 100% 100%; max-width: 60%; max-height: 60%;"
              >
              <div class="q-mt-lg column flex-center">
                <span class="text-white q-mb-md">
                  <translate>Processing your photo ...</translate>
                </span>
                <q-spinner-dots
                  color="white"
                  size="3em"
                />
              </div>
            </template>
            <q-spinner
              v-else
              color="white"
              size="6em"
            />
          </div>
        </template>
      </div>
    </template>
  </TakePhotoLayout>
</template>

<script>
import { Camera } from '@capacitor/camera'
import { CameraPreview } from '@capacitor-community/camera-preview'

import { DateMixin } from 'src/mixins/DateMixin'
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { RouterMixin } from 'src/mixins/RouterMixin'
import TakePhotoLayout from 'src/layouts/TakePhotoLayout'
import TakePhotoHeader from 'src/pages/photos/take-photo/components/TakePhotoHeader'
import TakePhotoMap from 'src/pages/photos/take-photo/components/TakePhotoMap'
import { isUserMediaAvailable } from 'src/services/photo/camera'

const initialPhotoMetadata = {
  heading: null,
  elevation: null,
  location: null,
  shot_at: null
}
const CAMERA_ERROR_STARTED = 'camera already started'
const CAMERA_ERROR_STOPPED = 'camera already stopped'

export default {
  name: 'TakePhotoPage',
  mixins: [
    PlatformMixin,
    RouterMixin,
    DateMixin
  ],
  components: {
    TakePhotoLayout,
    TakePhotoHeader,
    TakePhotoMap
  },
  props: {
    plotId: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      photoData: null,
      photoMetadata: { ...initialPhotoMetadata },
      hideMap: false,
      isDisplayCamera: true,
      geolocation: null,
      geolocationWatcherId: null,
      heading: null,
      isPortrait: true
    }
  },
  computed: {
    canTakePhoto () {
      return this.geolocationStatus.isOk && !this.isHeadingMissing
    },
    requiredLocationAccuracyInMeters () {
      return this.$store.state.fastplatform.config.photos?.requiredLocationAccuracyInMeters
    },
    isHeadingRequired () {
      const allowPhotosWithoutHeading = this.$store.state.fastplatform.config.photos?.allowPhotosWithoutHeading
      return allowPhotosWithoutHeading != null && !allowPhotosWithoutHeading
    },
    geolocationStatus () {
      const accuracy = this.geolocation?.coords.accuracy
      const isOk = !this.requiredLocationAccuracyInMeters || accuracy <= this.requiredLocationAccuracyInMeters

      return {
        isOk,
        accuracy,
        loading: this.geolocation === null,
        hasGnssData: this.hasGnssData,
        isGeolocationStabilized: this.hasGnssData && this.isGeolocationStabilized
      }
    },
    geolocationGeoJsonGeometry () {
      if (this.geolocation != null && Object.keys(this.geolocation).length > 0) {
        if (
          this.geolocation?.latestGnssScanCoords?.latitude != null &&
          this.geolocation?.latestGnssScanCoords?.longitude != null
        ) {
          return {
            type: 'Point',
            coordinates: [this.geolocation.latestGnssScanCoords.longitude, this.geolocation.latestGnssScanCoords.latitude] // geojson spec
          }
        } else {
          return {
            type: 'Point',
            coordinates: [this.geolocation.coords.longitude, this.geolocation.coords.latitude] // geojson spec
          }
        }
      } else {
        return null
      }
    },
    isEgnssSupported () {
      // EGNSS geolocation is only implemented for Android in the EGNSS4Cap plugin
      return this.isAndroid
    },
    hasGnssData () {
      if (this.isEgnssSupported) {
        return this.geolocation != null && Object.keys(this.geolocation).includes('latestGnssScanCoords')
      }
      return false
    },
    isCameraAvailable () {
      return this.isMobileApp || isUserMediaAvailable()
    },
    isGeolocationStabilized () {
      if (this.hasGnssData) {
        return this.geolocation?.latestGnssScanCoords?.latitude != null &&
          this.geolocation?.latestGnssScanCoords?.longitude != null
      } else {
        return null
      }
    },
    photoImgSrc () {
      if (this.photoData) {
        if (!this.photoData.startsWith('data:image/png;base64,')) {
          return 'data:image/png;base64,' + this.photoData
        } else {
          return this.photoData
        }
      } else {
        return ''
      }
    },
    cameraPreviewOptions () {
      return {
        position: 'rear',
        parent: 'camera-preview',
        className: 'full-width',
        toBack: true,
        disableAudio: true,
        enableZoom: true
      }
    },
    styles () {
      return {
        portrait: {
          mapOuterWrapper: 'width: 100%;',
          mapWrapper: 'min-height: 150px; height: 25vh; width: 100%;'
        },
        landscape: {
          mapOuterWrapper: 'width: 200px;right: 0; height: 100vh;',
          mapWrapper: 'height: 100%; width: 100%; padding-top: 50px;'
        }
      }
    },
    isHeadingMissing () {
      return this.isHeadingRequired && (this.heading === null || this.heading === undefined)
    }
  },
  methods: {
    onGeolocationError (err) {
      this.stopGeolocation()
      this.geolocation = null
      console.error('[TAKE_PHOTO] Geolocation error:', err)
      // restart the geolocation services since they may have been stopped
      this.startGeolocation()
    },
    onGeolocationUpdate (position) {
      this.geolocation = {
        coords: {
          accuracy: position.coords.accuracy,
          altitude: position.coords.altitude,
          altitudeAccuray: position.coords.altitudeAccuray,
          heading: position.coords.heading,
          latitude: position.coords.latitude,
          longitude: position.coords.longitude,
          speed: position.coords.speed
        },
        timestamp: position.timestamp
      }
      if (position.latestGnssScanCoords) {
        this.geolocation.latestGnssScanCoords = {
          latitude: position.latestGnssScanCoords.latitude,
          longitude: position.latestGnssScanCoords.longitude,
          precision: position.latestGnssScanCoords.precision,
          timestamp: position.latestGnssScanCoords.timestamp,
          clusterPoints: position.latestGnssScanCoords.longitude
        }
      }
    },
    onHeadingUpdate (heading) {
      this.heading = heading
    },
    onGelocationPermissionDenied (isAppGeolocationPermissionDenied) {
      const locationDeniedMessage = isAppGeolocationPermissionDenied
        ? this.$gettext('FaST cannot use your Geolocation: allow FaST to access your Location in your device settings to take photos.')
        : this.$gettext('FaST cannot use your Geolocation: enable the Location in your device settings to take photos.')
      this.$q.notify({
        message: locationDeniedMessage,
        icon: 'las la-exclamation-circle',
        timeout: 5000
      })
      this.exit()
    },
    async launchCamera () {
      if (!this.isCameraAvailable) {
        return
      }
      this.setTransparency()
      await this.startCamera()
    },
    async exit () {
      // if the camera is stopped, leave the page. Otherwise stop the camera first.
      await this.stopCamera()
      this.stopGeolocation()
      this.goBack()
    },
    removeTransparency () {
      // body and #q-app
      const body = document.getElementsByTagName('body')[0]
      const qApp = document.getElementById('q-app')
      body.classList.remove('bg-transparent')
      qApp.classList.remove('bg-transparent')
    },
    reset () {
      // reset the photo data and start the camera
      this.stopCamera().then(() => this.startCamera())
      this.photoData = null
      this.photoMetadata = { ...initialPhotoMetadata }
      this.isDisplayCamera = true
    },
    setTransparency () {
      // body and #q-app
      const body = document.getElementsByTagName('body')[0]
      const qApp = document.getElementById('q-app')
      body.classList.add('bg-transparent')
      qApp.classList.add('bg-transparent')
    },
    async startCamera (retry = 3) {
      try {
        await CameraPreview.start(this.cameraPreviewOptions)
        return true
      } catch (e) {
        console.error('Camera start error', e)
        if (e === CAMERA_ERROR_STARTED && retry > 0) {
          // the camera stream could already be started but not displayed. Restart it.
          await this.stopCamera()
          return await this.startCamera(retry = retry - 1)
        } else {
          const isRequiredPermissionDenied = !await this.checkCameraPermissions()
          if (isRequiredPermissionDenied) {
            await this.exit()
          } else {
            console.error('Failed to start the camera preview', e)
          }
          return false
        }
      }
    },
    async stopCamera () {
      try {
        await CameraPreview.stop()
        return true
      } catch (e) {
        console.error('Camera stop error', e)
        if (e === CAMERA_ERROR_STOPPED) {
          return true
        } else {
          console.error('Failed to stop the camera preview', e)
          return false
        }
      }
    },
    startGeolocation () {
      if (this.$refs.map) {
        this.$refs.map.startLocate()
      }
    },
    stopGeolocation () {
      if (this.$refs.map) {
        this.$refs.map.stopLocate()
      }
    },
    async takePhoto () {
      try {
        // take a photo
        const res = await CameraPreview.capture({ quality: 100 })
        // Get the time the photo was shot at and its heading
        this.photoMetadata.shot_at = new Date().toISOString()
        // Get the heading (device orientation in degrees 0-360)
        // We use the standard Web Api for Android and the cordova-device-orientation-plugin for iOS to avoid a Web permission issue
        this.photoMetadata.heading = this.heading
        // Get the position of the user
        this.photoMetadata.location = this.geolocationGeoJsonGeometry
        // photo altitude (elevation)
        this.photoMetadata.elevation = this.geolocation?.coords?.altitude != null ? Number(this.geolocation.coords.altitude).toFixed(1) : null
        // Get photo data (base64 encoded data)
        this.photoData = res.value
        // change the current display to 'photo'
        this.isDisplayCamera = false
        // set the attached object
        this.photoMetadata.holding_campaign_id = this.$store.state.fastplatform.holdingCampaign.id
        this.photoMetadata.holding_campaign_holding_name = this.$store.state.fastplatform.holdingCampaign.holding.name
        this.photoMetadata.holding_campaign_campaign_name = this.$store.state.fastplatform.holdingCampaign.campaign.name
        if (this.plotId) {
          this.photoMetadata.plot_id = Number(this.plotId)
        }
        // stop the camera preview
        this.stopCamera()
          .catch(err => {
            console.error('[TAKE_PHOTO] Failed to stop camera:', err)
            // Do not block the proccess since it shouldn't have any impact on the photo taking.
          })
          .finally(() => {
            // the draftPhoto has to be serialized to be passed as router component props
            const draftPhotoJSON = JSON.stringify({
              photo: this.photoData,
              ...this.photoMetadata
            })
            // go to the photo page
            this.$router.push({
              name: 'photoPreview',
              params: {
                mode: 'draft',
                draftPhotoJSON
              }
            })
          })
      } catch (e) {
        console.error('[TAKE_PHOTO] Failed to take a photo', e)
        this.$q.notify({
          message: this.$gettext('Something went wrong while taking your photo. You can still retry.'),
          icon: 'las la-exclamation-triangle',
          color: 'negative'
        })
        this.reset()
      }
    },
    toggleMapVisibility () {
      this.hideMap = !this.hideMap
    },
    /**
     * Check required permissions and notify the user if a required permission is missing.
     * Returns false if any required permission is denied, else true
     */
    async checkCameraPermissions () {
      const { camera: cameraPermissionState, photos: photosPermissionState } = await Camera.checkPermissions()
      if (cameraPermissionState === 'denied') {
        this.$q.notify({
          message: this.$gettext('FaST cannot use your Camera: allow FaST to access the Camera in your device settings.'),
          icon: 'las la-exclamation-circle',
          timeout: 5000
        })
      }
      if (photosPermissionState === 'denied') {
        this.$q.notify({
          message: this.$gettext('FaST cannot use your Camera: allow FaST to access the Storage in your device settings.'),
          icon: 'las la-exclamation-circle',
          timeout: 5000
        })
      }
      return cameraPermissionState !== 'denied' && photosPermissionState !== 'denied'
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.launchCamera()
    })
  },
  async beforeUnmount () {
    this.removeTransparency()
    await this.stopCamera()
    this.stopGeolocation()
  }
}
</script>

<style scoped>
.camera-preview {
  flex-grow: 1;
}
.camera-preview :deep(video) {
  height: 100vh;
  object-fit: cover;
}
</style>
