<template>
  <q-btn
    color="red"
    outline
    @click="cancelAddingNewCropRotation"
  >
    <translate>Cancel</translate>
  </q-btn>
</template>

<script>
import VisioneMixins from 'src/pages/fieldbook/fertilization/algorithms/visione/mixins/VisioneMixins'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'

export default {
  name: 'CancelButton',
  mixins: [AlgorithmsMixins, VisioneMixins]
}
</script>
