<template>
  <q-card
    :square="!isDesktopPlatform"
    class="column no-wrap col"
  >
    <FertilizationResultHeader
      :plot-id="plotId"
      :plot-name="plotName"
      :plant-species-name="plantSpeciesName"
      :crop-yield="cropYield"
      :display-unit-config="displayUnitConfig"
    />

    <NavigatorF3YoungTreesNutrientBalance
      v-if="isYoungTrees"
      :balance-items="recommendations"
      :display-unit-config="displayUnitConfig"
    />

    <NavigatorF3NutrientBalance
      v-else
      :balance-items="recommendations"
      :display-unit-config="displayUnitConfig"
    />

    <FertilizationList
      v-if="fertilizations.length"
      :fertilizations="fertilizations"
      :title="$gettext('Fertilizers')"
      :display-unit-config="displayUnitConfig"
    />

    <slot name="action-buttons" />
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import NavigatorF3NutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/components/NavigatorF3NutrientBalance'
import NavigatorF3YoungTreesNutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/components/NavigatorF3YoungTreesNutrientBalance'
import FertilizationResultHeader from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationResultHeader'
import FertilizationList from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationList'

export default {
  name: 'NavigatorF3ResultsCard',
  mixins: [PlatformMixin, FertilizationPlanMixin],
  components: {
    NavigatorF3NutrientBalance,
    NavigatorF3YoungTreesNutrientBalance,
    FertilizationResultHeader,
    FertilizationList
  },
  props: {
    fertilizationPlanParameters: {
      type: Object,
      required: true
    },
    fertilizationPlanResults: {
      type: Object,
      required: true
    }
  },
  computed: {
    plotId () {
      return this.fertilizationPlanResults.plot_id
    },
    plotName () {
      return String(this.fertilizationPlanResults.plot_name || this.fertilizationPlanResults.plot_id)
    },
    plantSpeciesName () {
      return this.fertilizationPlanResults.plant_species_name
    },
    cropYield () {
      return this.fertilizationPlanResults.crop_yield
    },
    recommendations () {
      return this.fertilizationPlanResults.element_recommendations
    },
    displayUnitConfig () {
      return this.fertilizationPlanResults.display_unit_config
    },
    fertilizations () {
      return this.fertilizationPlanParameters.fertilizations || []
    },
    isYoungTrees () {
      return Boolean(this.fertilizationPlanParameters.youngTreesFertilizationYear?.id) && this.fertilizationPlanParameters.youngTreesFertilizationYear?.id !== 'young_trees__is_older'
    }
  }
}
</script>
