<template>
  <div class="q-mt-sm">
    <div class="row justify-end">
      <FertilizationResultDisplaySettingsButton
        :algorithm-id="algorithmId"
        class="q-mr-md"
      />
    </div>

    <NutrientBalanceItem
      :npk-elements="recommendationPerSurfaceNpkElements"
      :label="recommendationPerSurfaceLabel"
    />

    <NutrientBalanceItem
      :npk-elements="recommendationPerTreeNpkElements"
      :label="$gettext('Recommendation per tree')"
    />

    <div class="text-caption text-grey q-ml-md q-mt-sm">
      <translate>All numbers in</translate><span class="q-ml-xs">{{ displayUnit }}</span>
    </div>
  </div>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import NutrientBalanceItem from 'src/pages/fieldbook/fertilization/algorithms/common/components/NutrientBalanceItem'
import FertilizationResultDisplaySettingsButton from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationResultDisplaySettingsButton'
import { resultTypes, convertResults } from 'src/services/fieldbook/fertilization/fertilizationPlan'
import { NAVIGATOR_F3 } from 'src/services/fieldbook/fertilization/algorithms'

export default {
  name: 'NavigatorF3YoungTreesNutrientBalance',
  mixins: [PlatformMixin],
  components: {
    NutrientBalanceItem,
    FertilizationResultDisplaySettingsButton
  },
  props: {
    balanceItems: {
      type: Array,
      required: true
    },
    displayUnitConfig: {
      type: Object,
      default: null
    }
  },
  computed: {
    recommendationPerSurfaceNpkElements () {
      return this.getNpkElements(resultTypes.RECOMMENDATION)
    },
    recommendationPerTreeNpkElements () {
      // per tree: do not convert results!
      return this.balanceItems.filter(recommendation => recommendation.result_type === resultTypes.RECOMMENDATION_PER_TREE)
    },
    recommendationPerSurfaceLabel () {
      const surfaceUnit = this.displayUnitConfig?.surface?.name || this.$gettext('hectare')
      return this.$gettextInterpolate(this.$gettext('Recommendation per %{surfaceUnit}'), { surfaceUnit })
    },
    displayUnit () {
      return this.$gettext('kg')
    },
    algorithmId () {
      return NAVIGATOR_F3
    }
  },
  methods: {
    getNpkElements (resultType) {
      return convertResults(this.balanceItems.filter(recommendation => recommendation.result_type === resultType), this.displayUnitConfig)
    }
  }
}
</script>
