<template>
  <q-card
    :square="!isDesktopPlatform"
    :class="{ 'fertilization-edit-form-desktop': isDesktopPlatform, 'fertilization-edit-form-mobile': !isDesktopPlatform }"
  >
    <q-form @submit="onSubmit">
      <q-card-section>
        <q-toggle
          v-model="fertilizerIsCustom"
          :label="$gettext('Custom fertilizer')"
          @update:model-value="updateFertilizerQuantityHint"
        />

        <template v-if="fertilizerIsCustom">
          <q-input
            v-model.number="customName"
            :label="$gettext('Name')"
            stack-label
            filled
            class="q-mt-md"
            @update:model-value="updateFertilizerQuantityHint"
          />

          <q-toggle
            v-model="customIsOrganic"
            :label="$gettext('Organic')"
            @update:model-value="updateFertilizerQuantityHint"
          />

          <q-input
            v-model.number="customNitrogenContent"
            :label="$gettext('Nitrogen content')"
            stack-label
            step="0.1"
            filled
            type="number"
            suffix="%"
            :min="0"
            :max="100"
            class="q-mt-md"
            @update:model-value="updateFertilizerQuantityHint"
          />

          <q-input
            v-model.number="customPhosphorusContent"
            :label="$gettext('Phosphorus content')"
            stack-label
            step="0.1"
            filled
            type="number"
            suffix="%"
            :min="0"
            :max="100"
            class="q-mt-md"
            @update:model-value="updateFertilizerQuantityHint"
          />

          <q-input
            v-model.number="customPotassiumContent"
            :label="$gettext('Potassium content')"
            stack-label
            step="0.1"
            filled
            type="number"
            suffix="%"
            :min="0"
            :max="100"
            class="q-mt-md"
            @update:model-value="updateFertilizerQuantityHint"
          />
        </template>

        <q-select
          v-else
          v-model="fertilizer"
          :label="$gettext('Fertilizer')"
          :options="fertilizerOptions"
          option-value="id"
          option-label="name"
          filled
          @filter="filterFertilizers"
          use-input
          input-debounce="200"
          :rules="[
            val => Boolean(val) || $gettext('Select a fertilizer'),
          ]"
          @update:model-value="onFertilizerChange"
          hide-bottom-space
          class="q-mt-md"
        >
          <template #option="scope">
            <q-item
              v-bind="scope.itemProps"
              :clickable="!scope.opt.groupName"
            >
              <q-item-section v-if="scope.opt.groupName">
                <q-item-label
                  caption
                  class="q-ml-md"
                >
                  {{ scope.opt.groupName }}
                </q-item-label>
              </q-item-section>

              <q-item-section v-else>
                <q-item-label>{{ scope.opt.name }} </q-item-label>
                <q-item-label
                  v-if="scope.opt.description"
                  caption
                >
                  {{ scope.opt.description }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </template>
        </q-select>

        <q-field
          v-if="applicationFrequencyOptions.length"
          :label="$gettext('Application frequency')"
          stack-label
          borderless
          class="q-pa-none q-mt-md"
        >
          <template #control>
            <q-btn-toggle
              v-model="fertilizerApplicationFrequency"
              :options="applicationFrequencyOptions"
              toggle-color="primary"
              spread
              class="q-mt-sm col-grow"
              @update:model-value="updateFertilizerQuantityHint"
            />
          </template>
        </q-field>

        <q-field
          v-if="incorporationMethodOptions.length"
          :label="$gettext('Incorporation method')"
          stack-label
          borderless
          class="q-pa-none q-mt-sm"
        >
          <template #control>
            <q-btn-toggle
              v-model="fertilizerIncorporationMethod"
              :options="incorporationMethodOptions"
              toggle-color="primary"
              spread
              class="q-mt-sm col-grow"
              @update:model-value="updateFertilizerQuantityHint"
            />
          </template>
        </q-field>

        <q-input
          v-model.number="fertilizerQuantity"
          :label="$gettext('Quantity')"
          stack-label
          step="1"
          filled
          type="number"
          :suffix="fertilizerQuantityUnitDisplay"
          :min="0"
          :hint="fertilizerQuantityHint"
          class="q-mt-md"
        />
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          :label="$gettext('Cancel')"
          flat
          @click="onCancel"
        />
        <q-btn
          :label="$gettext('Remove')"
          flat
          color="red"
          @click="onDelete"
          v-if="!isNew"
        />
        <q-btn
          :label="saveButtonLabel"
          flat
          color="primary"
          type="submit"
          :disable="!canSubmit"
        />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import NavigatorF3ComputeBalanceParamsMixin from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/mixins/NavigatorF3ComputeBalanceParamsMixin'
import { getConversionRatio, getDisplayUnit } from 'src/services/fieldbook/fertilization/fertilizationPlan'
import queryNavigatorF3ComputeBalance from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/graphql/queryNavigatorF3ComputeBalance'

export default {
  name: 'NavigatorF3FertilizationEditForm',
  mixins: [
    PlatformMixin,
    NavigatorF3ComputeBalanceParamsMixin
  ],
  props: {
    fertilizers: {
      type: Array,
      required: true
    },
    applicationFrequencies: {
      type: Array,
      required: true
    },
    incorporationMethods: {
      type: Array,
      required: true
    },
    id: {
      type: Number,
      default: null
    },
    initialFertilizer: {
      type: Object,
      default: null
    },
    initialFertilizerApplicationFrequency: {
      type: Object,
      default: null
    },
    initialFertilizerIncorporationMethod: {
      type: Object,
      default: null
    },
    initialFertilizerQuantity: {
      type: Number,
      default: null
    },
    initialFertilizerIsCustom: {
      type: Boolean,
      default: false
    },
    initialCustomName: {
      type: String,
      default: null
    },
    initialCustomIsOrganic: {
      type: Boolean,
      default: false
    },
    initialCustomNitrogenContent: {
      type: Number,
      default: null
    },
    initialCustomPhosphorusContent: {
      type: Number,
      default: null
    },
    initialCustomPotassiumContent: {
      type: Number,
      default: null
    },
    displayUnitConfig: {
      type: Object,
      default: null
    }
  },
  emits: ['save', 'cancel', 'delete'],
  data () {
    return {
      fertilizer: this.initialFertilizer,
      fertilizerApplicationFrequency: this.initialFertilizerApplicationFrequency?.name,
      fertilizerIncorporationMethod: this.initialFertilizerIncorporationMethod?.name,
      fertilizerQuantityValue: this.initialFertilizerQuantity,
      filterTermFertilizer: null,
      fertilizerIsCustom: this.initialFertilizerIsCustom,
      customName: this.initialCustomName,
      customIsOrganic: this.initialCustomIsOrganic,
      customNitrogenContent: this.initialCustomNitrogenContent,
      customPhosphorusContent: this.initialCustomPhosphorusContent,
      customPotassiumContent: this.initialCustomPotassiumContent,
      fertilizerComputedQuantity: null,
      computing: false
    }
  },
  computed: {
    isNew () {
      return !this.id
    },
    saveButtonLabel () {
      return this.isNew ? this.$gettext('Add') : this.$gettext('Update')
    },
    canCompute () {
      return ((this.fertilizer && !this.fertilizerIsCustom) || (
        this.fertilizerIsCustom &&
        this.customName &&
        this.isNumericFieldValid(this.customNitrogenContent, true) &&
        this.isNumericFieldValid(this.customPhosphorusContent, true) &&
        this.isNumericFieldValid(this.customPotassiumContent, true)
      )) &&
        this.fertilizerApplicationFrequency &&
        this.fertilizerIncorporationMethod
    },
    canSubmit () {
      return this.canCompute && this.isNumericFieldValid(this.fertilizerQuantity)
    },
    fertilizerOptions () {
      let fertilizers = this.fertilizers
      if (this.filterTermFertilizer) {
        fertilizers = this.fertilizers.filter(v => v.name?.toLowerCase().indexOf(this.filterTermFertilizer) > -1)
      }

      const fertilizersWithDescription = fertilizers.map(fertilizer => ({
        ...fertilizer,
        description: this.getFertilizerDescription(fertilizer)
      }))

      const groupedFertilizers = []
      const organicFertilizers = [...fertilizersWithDescription.filter(f => f.is_organic)].sort((a, b) => a.name - b.name)
      const mineralFertilizers = [...fertilizersWithDescription.filter(f => !f.is_organic)].sort((a, b) => a.name - b.name)
      if (organicFertilizers.length) {
        groupedFertilizers.push({ groupName: this.$gettext('Organic') })
        groupedFertilizers.push(...organicFertilizers)
      }
      if (mineralFertilizers.length) {
        groupedFertilizers.push({ groupName: this.$gettext('Mineral') })
        groupedFertilizers.push(...mineralFertilizers)
      }
      return groupedFertilizers
    },
    applicationFrequencyOptions () {
      return this.applicationFrequencies.map(item => ({ value: item.name, label: item.description }))
    },
    incorporationMethodOptions () {
      return this.incorporationMethods.map(item => ({ value: item.name, label: item.description }))
    },
    fertilizerQuantityUnitDisplay () {
      return getDisplayUnit(this.displayUnitConfig)
    },
    fertilizerQuantityHint () {
      if (this.computing) {
        return this.$gettext('Computing the recommended quantity...')
      } else if (this.fertilizerComputedQuantity != null) {
        return `${this.$gettext('Recommended: ')} ${this.fertilizerComputedQuantity} ${this.fertilizerQuantityUnitDisplay}`
      }
      return null
    },
    fertilizationPlanParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    fertilizerQuantity: {
      get () {
        if (this.fertilizerQuantityValue === null) {
          return null
        } else {
          const conversionRatio = getConversionRatio(this.displayUnitConfig)
          return this.fertilizerQuantityValue * conversionRatio
        }
      },
      set (v) {
        let value = null
        if (v > 0) {
          const conversionRatio = getConversionRatio(this.displayUnitConfig)
          value = v / conversionRatio
        }
        this.fertilizerQuantityValue = value
      }
    }
  },
  mounted () {
    this.updateFertilizerQuantityHint()
  },
  methods: {
    onSubmit () {
      if (this.canSubmit) {
        // reset unused fields
        if (this.fertilizerIsCustom) {
          this.fertilizer = null
        } else {
          this.customName = null
          this.customIsOrganic = false
          this.customNitrogenContent = null
          this.customPhosphorusContent = null
          this.customPotassiumContent = null
        }

        const applicationFrequency = this.applicationFrequencies.find(item => item.name === this.fertilizerApplicationFrequency)
        const incorporationMethod = this.incorporationMethods.find(item => item.name === this.fertilizerIncorporationMethod)
        const isOrganic = this.fertilizerIsCustom ? this.customIsOrganic : this.fertilizer?.is_organic
        this.$emit('save', {
          id: this.id,
          fertilizer: this.fertilizer,
          fertilizerApplicationFrequency: applicationFrequency,
          fertilizerIncorporationMethod: incorporationMethod,
          fertilizerQuantity: Number(this.fertilizerQuantityValue),
          fertilizerType: isOrganic ? 'organic' : 'mineral',
          fertilizerIsCustom: this.fertilizerIsCustom,
          customName: this.customName,
          customIsOrganic: this.customIsOrganic,
          customNitrogenContent: this.customNitrogenContent,
          customPhosphorusContent: this.customPhosphorusContent,
          customPotassiumContent: this.customPotassiumContent
        })
      }
    },
    onCancel () {
      this.$emit('cancel')
    },
    onDelete () {
      this.$emit('delete', this.id)
    },
    onFertilizerChange () {
      if (!this.fertilizerIncorporationMethod) {
        this.fertilizerIncorporationMethod = this.fertilizer?.incorporation_method
      }
      this.updateFertilizerQuantityHint()
    },
    filterFertilizers (val, update) {
      update(() => {
        this.filterTermFertilizer = val.toLowerCase()
      })
    },
    getFertilizerDescription (fertilizer) {
      if (!fertilizer) {
        return null
      } else {
        const nutrients = []
        if (fertilizer.nitrogen_total_content) {
          nutrients.push(`${this.$gettext('N: ')} ${fertilizer.nitrogen_total_content}%`)
        }
        if (fertilizer.phosphorus_total_content) {
          nutrients.push(`${this.$gettext('P: ')} ${fertilizer.phosphorus_total_content}%`)
        }
        if (fertilizer.potassium_total_content) {
          nutrients.push(`${this.$gettext('K: ')} ${fertilizer.potassium_total_content}%`)
        }
        return nutrients.join(', ')
      }
    },
    isNumericFieldValid (value, isPct) {
      return value != null && value !== '' && value >= 0 && (!isPct || value <= 100)
    },
    async computeNutrientBalance () {
      try {
        this.computing = true

        const existingFertilizations = this.fertilizationPlanParameters.fertilizations || []
        const otherFertilizations = existingFertilizations.filter(fert => fert.id !== this.id)
        const params = this.computeBalanceParams(this.fertilizationPlanParameters, otherFertilizations)
        const currentFertilization = {
          fertilizer_id: this.fertilizerIsCustom ? null : this.fertilizer.id,
          application_frequency: this.applicationFrequencies.find(item => item.name === this.fertilizerApplicationFrequency).name,
          incorporation_method: this.incorporationMethods.find(item => item.name === this.fertilizerIncorporationMethod).name,
          name: this.fertilizerIsCustom ? this.customName : null,
          is_organic: this.fertilizerIsCustom ? this.customIsOrganic : this.fertilizer.is_organic,
          nitrogen_total_content: this.fertilizerIsCustom ? (this.customIsOrganic ? null : this.customNitrogenContent) : null,
          nitrogen_organic_dry_matter_content: this.fertilizerIsCustom ? (this.customIsOrganic ? this.customNitrogenContent : null) : null,
          phosphorus_total_content: this.fertilizerIsCustom ? this.customPhosphorusContent : null,
          potassium_total_content: this.fertilizerIsCustom ? this.customPotassiumContent : null,
          quantity: null
        }
        params.fertilizations.push(currentFertilization)

        const { data } = await this.$apollo.query({
          query: queryNavigatorF3ComputeBalance,
          variables: params,
          fetchPolicy: 'network-only'
        })
        const nutrientBalance = data?.navigator_f3__compute_balance
        const nutrientBalanceFertilizations = nutrientBalance?.fertilizations || []
        const fertilizationComputedQuantity = nutrientBalanceFertilizations?.[nutrientBalanceFertilizations.length - 1]?.quantity
        if (fertilizationComputedQuantity != null) {
          this.fertilizerComputedQuantity = Math.round(Number(fertilizationComputedQuantity) * getConversionRatio(this.displayUnitConfig))
        }
      } catch (e) {
        console.error('Could not compute nutrient balance', e)
      } finally {
        this.computing = false
      }
    },
    updateFertilizerQuantityHint () {
      if (this.canCompute) {
        this.computeNutrientBalance()
      } else {
        this.fertilizerComputedQuantity = null
      }
    }
  }
}
</script>

<style scoped>
.fertilization-edit-form-desktop {
  min-width: 500px;
}
.fertilization-edit-form-mobile {
  width: 100%;
}
</style>
