
<template>
  <div class="bg-light q-py-md">
    <div class="text-body1 q-px-md q-pb-sm">
      <translate>Scheduled fertilization</translate>
    </div>

    <FertilizationList
      :fertilizations="fertilizations"
      :editable-fertilization-types="['organic', 'mineral']"
      :display-unit-config="displayUnitConfig"
      separator
      @edit-fertilization="onEditFertilization"
    />

    <q-card-actions
      align="right"
      class="q-pb-none"
    >
      <q-btn
        outline
        color="primary"
        :disable="!fertilizers"
        @click="onNewFertilization"
        class="q-mr-sm"
      >
        <translate>Add fertilizer</translate>
      </q-btn>
    </q-card-actions>

    <q-dialog
      v-model="openEditDialog"
      persistent
    >
      <NavigatorF3FertilizationEditForm
        :id="editedFertilizationId"
        :initial-fertilizer="editedSelectedFertilization"
        :initial-fertilizer-quantity="editedFertilizationQuantity"
        :initial-fertilizer-application-frequency="editedFertilizationApplicationFrequency"
        :initial-fertilizer-incorporation-method="editedFertilizationIncorporationMethod"
        :initial-fertilizer-is-custom="editedFertilizationIsCustom"
        :initial-custom-name="editedFertilizationCustomName"
        :initial-custom-is-organic="editedFertilizationCustomIsOrganic"
        :initial-custom-nitrogen-content="editedFertilizationCustomNitrogenContent"
        :initial-custom-phosphorus-content="editedFertilizationCustomPhosphorusContent"
        :initial-custom-potassium-content="editedFertilizationCustomPotassiumContent"
        :fertilizers="fertilizers"
        :application-frequencies="applicationFrequencies"
        :incorporation-methods="incorporationMethods"
        :display-unit-config="displayUnitConfig"
        @save="onSaveFertilization"
        @delete="onDeleteFertilization"
        @cancel="onCancelFertilization"
      />
    </q-dialog>
  </div>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import NavigatorF3FertilizationEditForm from 'src/pages/fieldbook/fertilization/algorithms/navigator-f3/components/NavigatorF3FertilizationEditForm'
import FertilizationList from 'src/pages/fieldbook/fertilization/algorithms/common/components/FertilizationList'

export default {
  name: 'NavigatorF3FertilizationsCard',
  mixins: [
    PlatformMixin,
    DateMixin
  ],
  components: {
    NavigatorF3FertilizationEditForm,
    FertilizationList
  },
  props: {
    initialFertilizations: {
      type: Array,
      required: true
    },
    fertilizers: {
      type: Array,
      required: true
    },
    applicationFrequencies: {
      type: Array,
      required: true
    },
    incorporationMethods: {
      type: Array,
      required: true
    },
    displayUnitConfig: {
      type: Object,
      default: null
    }
  },
  emits: ['update'],
  data () {
    return {
      fertilizations: [...this.initialFertilizations],
      openEditDialog: false,
      editedFertilization: null
    }
  },
  computed: {
    editedFertilizationId () {
      return this.editedFertilization?.id
    },
    editedSelectedFertilization () {
      return this.editedFertilization?.fertilizer
    },
    editedFertilizationApplicationFrequency () {
      return this.editedFertilization?.fertilizerApplicationFrequency
    },
    editedFertilizationIncorporationMethod () {
      return this.editedFertilization?.fertilizerIncorporationMethod
    },
    editedFertilizationQuantity () {
      return this.editedFertilization?.fertilizerQuantity
    },
    editedFertilizationIsCustom () {
      return this.editedFertilization?.fertilizerIsCustom ?? false
    },
    editedFertilizationCustomName () {
      return this.editedFertilization?.customName
    },
    editedFertilizationCustomIsOrganic () {
      return this.editedFertilization?.customIsOrganic ?? false
    },
    editedFertilizationCustomNitrogenContent () {
      return this.editedFertilization?.customNitrogenContent
    },
    editedFertilizationCustomPhosphorusContent () {
      return this.editedFertilization?.customPhosphorusContent
    },
    editedFertilizationCustomPotassiumContent () {
      return this.editedFertilization?.customPotassiumContent
    }
  },
  methods: {
    onEditFertilization (fertilization) {
      this.editedFertilization = fertilization
      this.openEditDialog = true
    },
    onNewFertilization () {
      this.openEditDialog = true
    },
    onSaveFertilization (fertilization) {
      if (fertilization.id) {
        this.onUpdateFertilization(fertilization)
      } else {
        this.onCreateFertilization(fertilization)
      }
    },
    onCreateFertilization (fertilizer) {
      // add a temporary id to allow edition in the list before saving it
      this.fertilizations.push({ ...fertilizer, id: new Date().getTime() })
      this.openEditDialog = false
      this.editedFertilization = null
      this.$emit('update', this.fertilizations)
    },
    onUpdateFertilization (fertilizer) {
      for (let i = 0; i < this.fertilizations.length; i++) {
        if (this.fertilizations[i].id === fertilizer.id) {
          this.fertilizations.splice(i, 1, fertilizer)
          break
        }
      }
      this.openEditDialog = false
      this.editedFertilization = null
      this.$emit('update', this.fertilizations)
    },
    onDeleteFertilization (id) {
      for (let i = 0; i < this.fertilizations.length; i++) {
        if (this.fertilizations[i].id === id) {
          this.fertilizations.splice(i, 1)
          break
        }
      }
      this.openEditDialog = false
      this.editedFertilization = null
      this.$emit('update', this.fertilizations)
    },
    onCancelFertilization () {
      this.openEditDialog = false
      this.editedFertilization = null
    }
  }
}

</script>
