<template>
  <q-select
    :model-value="selectedCampaign"
    :label="$gettext('Campaign')"
    :options="campaigns"
    :dense="dense"
    :readonly="readonly"
    :display-value="displayValue"
    @update:model-value="onSelectCampaign"
  >
    <template #option="scope">
      <q-item
        v-bind="scope.itemProps"
      >
        <q-item-section>
          <q-item-label>
            {{ scope.opt.name }}
            <span
              v-if="isCampaignActive(scope.opt)"
              class="q-ml-xs"
            >
              (<translate>Active</translate>)
            </span>
            <span
              v-else-if="!isCampaignStarted(scope.opt)"
              class="q-ml-xs"
            >
              (<translate>Not started</translate>)
            </span>
          </q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script>
export default {
  name: 'CampaignSelection',
  props: {
    selectedCampaign: {
      type: Object,
      default: null
    },
    campaigns: {
      type: Array,
      required: true
    },
    selectedHolding: {
      type: Object,
      default: null
    },
    dense: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    }
  },
  emits: ['select-campaign'],
  computed: {
    displayValue () {
      if (this.selectedCampaign) {
        let value = this.selectedCampaign.name
        if (this.isCampaignActive(this.selectedCampaign)) {
          value += ' (' + this.$gettext('Active') + ')'
        } else if (!this.isCampaignStarted(this.selectedCampaign)) {
          value += ' (' + this.$gettext('Not started') + ')'
        }
        return value
      } else {
        return null
      }
    },
    activeCampaign () {
      return this.$store.state.fastplatform.holdingCampaign?.campaign
    }
  },
  methods: {
    onSelectCampaign (campaign) {
      this.$emit('select-campaign', campaign)
    },
    isCampaignActive (campaign) {
      return this.activeCampaign && this.activeCampaign.id === campaign.id
    },
    isCampaignStarted (campaign) {
      return this.selectedHolding.holding_campaigns.find(hc => hc.campaign.id === campaign.id)
    }
  }
}
</script>
