<template>
  <q-select
    :model-value="selectedHolding"
    :label="$gettext('Farm')"
    option-label="name"
    :options="holdings"
    :dense="dense"
    @update:model-value="onSelectHolding"
  >
    <template #selected-item="scope">
      <span
        class="ellipsis"
      >
        {{ scope.opt.name }}
      </span>
    </template>
    <template #option="scope">
      <q-item
        v-bind="scope.itemProps"
      >
        <q-item-section>
          <q-item-label v-html="scope.opt.name" />
          <q-item-label caption>
            {{ scope.opt.authority_id || scope.opt.id }}
          </q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script>
export default {
  name: 'HoldingSelection',
  props: {
    selectedHolding: {
      type: Object,
      default: null
    },
    holdings: {
      type: Array,
      required: true
    },
    dense: {
      type: Boolean,
      default: false
    }
  },
  emits: ['select-holding'],
  methods: {
    onSelectHolding (holding) {
      this.$emit('select-holding', holding)
    }
  }
}
</script>
