<template>
  <q-card
    :square="!isDesktopPlatform"
  >
    <q-card-section>
      <SyncFeedback
        icon-color="negative"
      >
        <translate>Data could not be loaded</translate>
        <template #message>
          <translate>
            There was an error while retrieving the data. Please try again later.
          </translate>
        </template>
      </SyncFeedback>
    </q-card-section>

    <!-- Actions -->
    <q-card-section>
      <q-card-actions
        class="q-pa-none"
        vertical
        align="stretch"
      >
        <q-btn
          color="primary"
          text-color="white"
          :label="$gettext('Retry')"
          @click="onClickRetry"
        />
      </q-card-actions>
    </q-card-section>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import SyncFeedback from 'src/pages/holdings/components/SyncFeedback'

export default {
  name: 'LoadErrorCard',
  components: {
    SyncFeedback
  },
  mixins: [
    PlatformMixin
  ],
  emits: ['retry'],
  methods: {
    onClickRetry () {
      this.$emit('retry')
    }
  }
}
</script>
