<template>
  <!-- icon and title -->
  <div class="row items-center no-wrap q-gutter-sm">
    <q-icon
      :name="iconName"
      :color="iconColor"
      size="md"
      class="q-pr-xs"
    />
    <div class="text-subtitle1">
      <slot />
    </div>
  </div>

  <!-- optional message -->
  <p
    v-if="$slots['message']"
    class="q-py-lg text-body2"
  >
    <slot name="message" />
  </p>
</template>

<script>
export default {
  name: 'SyncFeedback',
  props: {
    iconName: {
      type: String,
      default: 'las la-exclamation-circle'
    },
    iconColor: {
      type: String,
      default: null
    }
  }
}
</script>
