<template>
  <q-dialog v-model="show">
    <q-card
      class="column no-wrap col"
      style="max-width: min(95%, 350px);"
    >
      <q-card-section>
        <div
          class="q-mb-lg"
        >
          <div class="text-body1">
            <translate>
              Blend of simple fertilizers
            </translate>
          </div>
          <div class="text-body2 text-grey">
            <translate translate-context="N: Nitrogen, P: Phosphorus, K: Potassium">
              Select simple N, P and K fertilizers
            </translate>
          </div>
        </div>
        <!-- N fertilizer -->
        <div class="q-mb-lg">
          <q-select
            v-model="NFertilizer"
            :options="NFertilizers"
            option-label="name"
            filled
            :label="$pgettext('N: Nitrogen', 'N fertilizer')"
          />
          <div class="q-mt-sm">
            <span class="q-mr-xs">{{ $gettext('Quantity') }}:</span>
            <span class="">
              {{ NFertilizerQuantities.fertilizerQuantity != null ? NFertilizerQuantities.fertilizerQuantity : '-' }}
            </span>
            <translate translate-context="kilogram per hectare">
              kg/ha
            </translate>
          </div>
          <div class="q-mt-sm">
            <span class="q-mr-xs">{{ $gettext('Quantity for the plot:') }}</span>
            <span :class="{'text-bold': NFertilizerQuantities.plotQuantity != null}">
              {{ NFertilizerQuantities.plotQuantity != null ? NFertilizerQuantities.plotQuantity : '-' }} kg
            </span>
          </div>
        </div>
        <!-- P fertilizer -->
        <div class="q-mb-lg">
          <q-select
            v-model="PFertilizer"
            :options="PFertilizers"
            option-label="name"
            filled
            :label="$pgettext('P: Phosphorus', 'P fertilizer')"
          />
          <div class="q-mt-sm">
            <span class="q-mr-xs">{{ $gettext('Quantity') }}:</span>
            <span class="">
              {{ PFertilizerQuantities.fertilizerQuantity != null ? PFertilizerQuantities.fertilizerQuantity : '-' }}
            </span>
            <translate translate-context="kilogram per hectare">
              kg/ha
            </translate>
          </div>
          <div class="q-mt-sm">
            <span class="q-mr-xs">{{ $gettext('Quantity for the plot:') }}</span>
            <span :class="{'text-bold': PFertilizerQuantities.plotQuantity != null}">
              {{ PFertilizerQuantities.plotQuantity != null ? PFertilizerQuantities.plotQuantity : '-' }} kg
            </span>
          </div>
        </div>
        <!-- K fertilizer -->
        <div class="">
          <q-select
            v-model="KFertilizer"
            :options="KFertilizers"
            option-label="name"
            filled
            :label="$pgettext('K: Potassium', 'K fertilizer')"
          />
          <div class="q-mt-sm">
            <span class="q-mr-xs">{{ $gettext('Quantity') }}:</span>
            <span class="">
              {{ KFertilizerQuantities.fertilizerQuantity != null ? KFertilizerQuantities.fertilizerQuantity : '-' }}
            </span>
            <translate translate-context="kilogram per hectare">
              kg/ha
            </translate>
          </div>
          <div class="q-mt-sm">
            <span class="q-mr-xs">{{ $gettext('Quantity for the plot:') }}</span>
            <span :class="{'text-bold': KFertilizerQuantities.plotQuantity != null}">
              {{ KFertilizerQuantities.plotQuantity != null ? KFertilizerQuantities.plotQuantity : '-' }} kg
            </span>
          </div>
        </div>
      </q-card-section>

      <!-- buttons -->
      <q-card-section class="q-mt-auto">
        <q-card-actions
          class="q-pa-none"
          align="right"
        >
          <q-btn
            flat
            color="primary"
            @click="onClickCancel"
          >
            <translate>Cancel</translate>
          </q-btn>
          <q-btn
            color="primary"
            text-color="white"
            :disable="!canConfirm"
            @click="confirm"
          >
            <translate>Select these fertilizers</translate>
          </q-btn>
        </q-card-actions>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import querySimpleNPKFertilizers from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/graphql/querySimpleNPKFertilizers'
import featureFlags from 'src/services/feature-flags'

export default {
  name: 'BlendSimpleFertilizersDialog',
  props: {
    value: {
      type: Boolean,
      required: true
    },
    npkNeeds: {
      type: Object,
      required: true,
      validator: o => o.n != null && o.p != null && o.k != null
    },
    plotAreaInHa: {
      type: [Number, String],
      required: true
    }
  },
  emits: ['input', 'confirm'],
  data () {
    return {
      hasLoadedFertilizers: false,
      simpleNPKFertilizers: [],
      NFertilizer: null,
      PFertilizer: null,
      KFertilizer: null
    }
  },
  apollo: {
    simpleNPKFertilizers: {
      query: querySimpleNPKFertilizers,
      notifyOnNetworkStatusChange: true,
      update (data) {
        this.hasLoadedFertilizers = true
        return data.registered_fertilizer
      },
      skip () {
        return !this.canDisplayRegisteredFertilizer
      }
    }
  },
  computed: {
    canConfirm () {
      return this.NFertilizer != null && this.PFertilizer != null && this.KFertilizer != null
    },
    NFertilizers () {
      return this.simpleNPKFertilizers.filter(fertilizer => fertilizer.fertilizer_type_id === 'NITROGENADO')
    },
    NFertilizerQuantities () {
      // deduce the quantity (in kg/ha and kg) of fertilizer required to satisfy the N needs
      if (this.NFertilizer) {
        const fertilizerConcentration = this.NFertilizer.fertilizerElements?.find(el => el.chemical_element_id === 'N')?.percentage
        if (fertilizerConcentration) {
          const fertilizerQuantity = Number((this.npkNeeds.n * 100 / fertilizerConcentration).toFixed(1))
          return {
            fertilizerQuantity,
            plotQuantity: fertilizerQuantity ? Number((Number(fertilizerQuantity) * Number(this.plotAreaInHa)).toFixed(1)) : 0
          }
        } else {
          return {
            fertilizerQuantity: null,
            plotQuantity: null
          }
        }
      } else {
        return {
          fertilizerQuantity: null,
          plotQuantity: null
        }
      }
    },
    PFertilizers () {
      return this.simpleNPKFertilizers.filter(fertilizer => fertilizer.fertilizer_type_id === 'FOSFATADO')
    },
    PFertilizerQuantities () {
      // deduce the quantity (in kg/ha and kg) of fertilizer required to satisfy the P needs
      if (this.PFertilizer) {
        const fertilizerConcentration = this.PFertilizer.fertilizerElements?.find(el => el.chemical_element_id === 'P')?.percentage
        if (fertilizerConcentration) {
          const fertilizerQuantity = Number((this.npkNeeds.p * 100 / fertilizerConcentration).toFixed(1))
          return {
            fertilizerQuantity,
            plotQuantity: fertilizerQuantity ? Number((Number(fertilizerQuantity) * Number(this.plotAreaInHa)).toFixed(1)) : 0
          }
        } else {
          return {
            fertilizerQuantity: null,
            plotQuantity: null
          }
        }
      } else {
        return {
          fertilizerQuantity: null,
          plotQuantity: null
        }
      }
    },
    KFertilizers () {
      return this.simpleNPKFertilizers.filter(fertilizer => fertilizer.fertilizer_type_id === 'POTASICO')
    },
    KFertilizerQuantities () {
      // deduce the quantity (in kg/ha and kg) of fertilizer required to satisfy the K needs
      if (this.KFertilizer) {
        const fertilizerConcentration = this.KFertilizer.fertilizerElements?.find(el => el.chemical_element_id === 'K')?.percentage
        if (fertilizerConcentration) {
          const fertilizerQuantity = Number((this.npkNeeds.k * 100 / fertilizerConcentration).toFixed(1))
          return {
            fertilizerQuantity,
            plotQuantity: fertilizerQuantity ? Number((Number(fertilizerQuantity) * Number(this.plotAreaInHa)).toFixed(1)) : 0
          }
        } else {
          return {
            fertilizerQuantity: null,
            plotQuantity: null
          }
        }
      } else {
        return {
          fertilizerQuantity: null,
          plotQuantity: null
        }
      }
    },
    canDisplayRegisteredFertilizer () {
      return featureFlags.canDisplayRegisteredFertilizer()
    },
    show: {
      get () {
        return this.value
      },
      set (v) {
        this.$emit('input', v)
      }
    }
  },
  methods: {
    onClickCancel () {
      this.show = false
    },
    confirm () {
      this.$emit('confirm', {
        n: {
          fertilizer: this.NFertilizer,
          quantity: this.NFertilizerQuantities.fertilizerQuantity
        },
        p: {
          fertilizer: this.PFertilizer,
          quantity: this.PFertilizerQuantities.fertilizerQuantity
        },
        k: {
          fertilizer: this.KFertilizer,
          quantity: this.KFertilizerQuantities.fertilizerQuantity
        }
      })
    }
  },
  watch: {
    show (newValue, oldValue) {
      if (newValue === false) {
        // reset data
        this.NFertilizer = null
        this.PFertilizer = null
        this.KFertilizer = null
      }
    }
  }
}
</script>
