<template>
  <q-dialog v-model="show">
    <q-card
      class="column no-wrap col"
      style="max-width: min(95%, 500px);"
    >
      <q-card-section>
        <div
          class="q-mb-lg"
        >
          <div class="text-body1">
            <translate>
              Compound fertilizer
            </translate>
          </div>
          <div
            class="text-body2 text-grey"
            v-if="hasLoadedCompoundFertilizer"
          >
            <translate>
              The most suitable compound fertilizer is computed automatically
            </translate>
          </div>
        </div>
        <template v-if="!hasLoadedCompoundFertilizer">
          <div
            class="text-body2 text-grey"
          >
            <translate>
              Computing most suitable compound fertilizer ...
            </translate>
            <q-spinner-dots
              size="40px"
              color="primary"
            />
          </div>
        </template>
        <template v-else>
          <template v-if="compoundFertilizer == null || Object.keys(compoundFertilizer).length === 0">
            <translate>No suitable compound fertilizer found.</translate>
            <translate>You may try different strategy or select the fertilizers manually.</translate>
          </template>
          <template v-else>
            <!-- <div class="text-body2 q-mb-md">
              <translate>Most suitable compound fertilizer found:</translate>
            </div> -->
            <q-banner class="bg-grey-2">
              <div class="q-mb-sm row flex-center q-col-gutter-x-xs">
                <span class="col-xs-5 col-md-3 ">
                  {{ `${$gettext('Name')}:` }}
                </span>
                <span class="col-xs-7 col-md-9 text-body1">{{ compoundFertilizer.name }}</span>
              </div>
              <div class="q-mb-sm row flex-center q-col-gutter-x-xs">
                <span class="col-xs-5 col-md-3 ">{{ $gettext('Quantity') }}:</span>
                <div class="col-xs-7 col-md-9 text-body1">
                  <span class="">
                    {{ compoundFertilizer.quantity != null ? Number(compoundFertilizer.quantity.toFixed(1)) : '-' }}
                  </span>
                  <translate translate-context="kilogram per hectare">
                    kg/ha
                  </translate>
                </div>
              </div>
              <div class="q-mt-sm row flex-center q-col-gutter-x-xs">
                <span class="col-xs-5 col-md-3 ">{{ $gettext('Quantity for the plot:') }}</span>
                <span
                  class="col-xs-7 col-md-9 text-body1"
                  :class="{'text-bold': plotQuantity != null}"
                >
                  {{ plotQuantity != null ? plotQuantity : '-' }} kg
                </span>
              </div>
            </q-banner>
          </template>
        </template>
      </q-card-section>

      <!-- buttons -->
      <q-card-section class="q-mt-auto">
        <q-card-actions
          class="q-pa-none items-center"
          align="right"
        >
          <q-btn
            flat
            color="primary"
            @click="onClickCancel"
          >
            <translate>Cancel</translate>
          </q-btn>
          <q-btn
            color="primary"
            text-color="white"
            :disable="!canConfirm"
            @click="confirm"
          >
            <translate>Select this fertilizer</translate>
          </q-btn>
        </q-card-actions>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import queryFertilicalcCompoundWithoutTopDressing from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/graphql/queryFertilicalcCompoundWithoutTopDressing'
import queryFertilicalcCompoundWithTopDressing from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/graphql/queryFertilicalcCompoundWithTopDressing'

export default {
  name: 'CompoundFertilizerDialog',
  props: {
    value: {
      type: Boolean,
      required: true
    },
    npkNeeds: {
      type: Object,
      required: true,
      validator: o => o.n != null && o.p != null && o.k != null
    },
    plotAreaInHa: {
      type: [Number, String],
      required: true
    },
    hasTopDressingApplication: {
      type: Boolean,
      required: true
    }
  },
  emits: ['input', 'confirm'],
  data () {
    return {
      hasLoadedCompoundFertilizer: false,
      compoundFertilizer: null
    }
  },
  apollo: {
    compoundFertilizer: {
      query () {
        return this.hasTopDressingApplication ? queryFertilicalcCompoundWithTopDressing : queryFertilicalcCompoundWithoutTopDressing
      },
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          inputs: this.npkNeeds
        }
      },
      update (data) {
        this.hasLoadedCompoundFertilizer = true
        return this.hasTopDressingApplication
          ? data.fertilicalc__fertilization_compound_fertilizer_with_topdressing
          : data.fertilicalc__fertilization_compound_fertilizer_without_topdressing
      }
    }
  },
  computed: {
    canConfirm () {
      return this.compoundFertilizer != null
    },
    plotQuantity () {
      if (this.compoundFertilizer != null) {
        return Number((Number(this.compoundFertilizer.quantity) * Number(this.plotAreaInHa)).toFixed(1))
      } else {
        return null
      }
    },
    show: {
      get () {
        return this.value
      },
      set (v) {
        this.$emit('input', v)
      }
    }
  },
  methods: {
    onClickCancel () {
      this.show = false
    },
    confirm () {
      this.$emit('confirm', this.compoundFertilizer)
    }
  },
  watch: {
    show (newValue, oldValue) {
      if (newValue === false) {
        // reset data
        this.compoundFertilizer = null
        this.hasLoadedCompoundFertilizer = false
      } else {
        this.$apollo.queries.compoundFertilizer.refetch()
      }
    }
  }
}
</script>
