<template>
  <GenericLayout>
    <template #header>
      <Header
        back-button
        :title="pageTitle"
      />
    </template>
    <template #page-content>
      <div class="column no-wrap q-gutter-y-md">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
        </template>

        <q-card :square="!isDesktopPlatform">
          <!-- list -->
          <q-card-section>
            <q-card-actions
              class="q-pa-none q-col-gutter-x-sm"
              align="right"
            >
              <SendByEmailAllFertilizationPlansButton />
              <NewFertilizationPlanButton />
            </q-card-actions>
          </q-card-section>

          <q-separator />

          <div
            v-if="loading"
            class="row flex-center"
          >
            <q-spinner-dots
              color="primary"
              size="40px"
            />
          </div>

          <q-list v-else-if="fertilizationPlans">
            <FertilizationPlanDisplaySettingsListItem :fertilization-plans="fertilizationPlans" />

            <q-separator />

            <q-infinite-scroll
              @load="load"
              :offset="250"
              ref="infiniteScrollComponent"
              :scroll-target="'body'"
            >
              <template
                v-for="(fertilizationPlan, idx) in fertilizationPlans"
                :key="`item-${fertilizationPlan.id}`"
              >
                <FertilizationPlanListItem
                  :fertilization-plan="fertilizationPlan"
                />

                <q-separator
                  v-if="idx < fertilizationPlans.length - 1"
                  spaced
                />
              </template>

              <template #loading>
                <div class="row justify-center q-my-md">
                  <q-spinner-dots
                    color="primary"
                    size="40px"
                  />
                </div>
              </template>
            </q-infinite-scroll>
          </q-list>

          <q-card-section
            v-else
            class="text-body2 text-grey"
          >
            <translate>No fertilization plans.</translate>
          </q-card-section>
        </q-card>
      </div>
    </template>
    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import NewFertilizationPlanButton from 'src/pages/fieldbook/fertilization/components/NewFertilizationPlanButton'
import SendByEmailAllFertilizationPlansButton from 'src/pages/fieldbook/fertilization/components/SendByEmailAllFertilizationPlansButton'
import FertilizationPlanListItem from 'src/pages/fieldbook/fertilization/components/FertilizationPlanListItem'
import FertilizationPlanDisplaySettingsListItem from 'src/pages/fieldbook/fertilization/components/FertilizationPlanDisplaySettingsListItem'
import queryFertilizationPlansByHoldingCampaignIdForPage from 'src/pages/fieldbook/fertilization/graphql/queryFertilizationPlansByHoldingCampaignIdForPage'
import queryFertilizationPlansByHoldingCampaignIdCount from 'src/pages/fieldbook/fertilization/graphql/queryFertilizationPlansByHoldingCampaignIdCount'

export default {
  name: 'FertilizationPlans',
  mixins: [
    PlatformMixin,
    FertilizationPlanMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    FertilizationPlanListItem,
    NewFertilizationPlanButton,
    SendByEmailAllFertilizationPlansButton,
    FertilizationPlanDisplaySettingsListItem
  },
  data () {
    return {
      fertilizationPlans: [],
      limit: 5,
      countFertilizationPlans: null
    }
  },
  apollo: {
    countFertilizationPlans: {
      query: queryFertilizationPlansByHoldingCampaignIdCount,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          holding_campaign_id: this.$store.state.fastplatform.holdingCampaign.id
        }
      },
      update: data => data.fertilization_plan_aggregate.aggregate.count
    },
    fertilizationPlans: {
      query: queryFertilizationPlansByHoldingCampaignIdForPage,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          holding_campaign_id: this.$store.state.fastplatform.holdingCampaign.id,
          offset: 0,
          limit: 5
        }
      },
      update: data => data.fertilization_plan
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Fertilizations plans')
    },
    loading () {
      return !this.fertilizationPlans && this.$apollo.queries.fertilizationPlans.loading
    }
  },
  methods: {
    async load (index, done) {
      if (this.fertilizationPlans.length && this.countFertilizationPlans) {
        if (this.fertilizationPlans.length === this.countFertilizationPlans) {
          done(true)
        } else {
          this.$apollo.queries.fertilizationPlans.fetchMore({
            // New variables
            variables: {
              offset: this.fertilizationPlans.length
            },
            // Transform the previous result with new data
            updateQuery: (previousResult, { fetchMoreResult }) => {
              return {
                // Merge the lists
                fertilization_plan: [...previousResult.fertilization_plan, ...fetchMoreResult.fertilization_plan]
              }
            }
          }).then(() => {
            if (this.fertilizationPlans && this.countFertilizationPlans) {
              if (this.fertilizationPlans.length === this.countFertilizationPlans) {
                // no more data to load stop infinite scroll
                done(true)
              } else {
                // there's still more content to load
                done()
              }
            } else {
              // secure case to avoid the infinite scroll component to be stucked in a loading state
              done(true)
            }
          }).catch(e => {
            console.error(e)
            // prevent the infinite scroll component to load more data since there was an error
            done(true)
          })
        }
      } else {
        // The initial data was still not loaded
        done()
      }
    }
  }
}
</script>
