<template>
  <q-item
    clickable
    v-ripple
    @click="$emit('click')"
    class="q-px-md"
  >
    <div class="full-width">
      <div class="row items-center message-list-item-row">
        <div class="col">
          <q-item-label
            lines="1"
            class="text-grey-8"
          >
            {{ authorActvitivy }}
          </q-item-label>
        </div>
        <div class="col-2 row justify-end content-center">
          <q-item-label caption>
            {{ displayHourIfTodayElseDate(sentAt, language) }}
          </q-item-label>
        </div>
      </div>
      <div class="row items-center message-list-item-row">
        <div class="col">
          <q-item-label lines="1">
            <span class="text-primary"><i class="las la-bullhorn q-mr-xs" />{{ title }}</span>
          </q-item-label>
        </div>
      </div>
    </div>
  </q-item>
</template>

<script>
import { DateMixin } from 'src/mixins/DateMixin'

export default {
  name: 'BroadcastFeedListItem',
  mixins: [
    DateMixin
  ],
  props: {
    title: {
      type: String,
      required: true
    },
    sentBy: {
      type: Object,
      required: true
    },
    sentAt: {
      type: String,
      required: true
    }
  },
  emits: ['click'],
  computed: {
    language () {
      return this.$store.state.fastplatform.preferredLanguage
    },
    authorActvitivy () {
      if (this.sentBy.username === this.$store.state.fastplatform.user.username) {
        return this.$gettext('You announced to all')
      } else {
        const author = this.sentBy.name || this.sentBy.username
        return this.$gettextInterpolate(this.$gettext('%{author} announced to all'), { author })
      }
    }
  }
}
</script>

<style scoped>
.message-list-item-row {
  height: 20px
}
</style>
