<template>
  <q-item
    clickable
    v-ripple
    @click="$emit('click')"
    class="q-px-md"
  >
    <div class="full-width">
      <div class="row items-center message-list-item-row">
        <div class="col">
          <q-item-label
            lines="1"
            class="text-grey-9"
          >
            {{ authorActvitivy }}
          </q-item-label>
        </div>
        <div class="col-2 row justify-end content-center">
          <q-item-label caption>
            {{ displayHourIfTodayElseDate(updatedAt, language) }}
          </q-item-label>
        </div>
      </div>
      <div class="row items-center message-list-item-row">
        <div class="col">
          <q-item-label lines="1">
            <span class="text-primary">{{ title }}</span>
          </q-item-label>
        </div>
      </div>
    </div>
  </q-item>
</template>

<script>
import { DateMixin } from 'src/mixins/DateMixin'

export default {
  name: 'TicketFeedListItem',
  mixins: [
    DateMixin
  ],
  props: {
    title: {
      type: String,
      required: true
    },
    createdBy: {
      type: Object,
      required: true
    },
    updatedAt: {
      type: String,
      required: true
    },
    messages: {
      type: Array,
      default: null
    }
  },
  emits: ['click'],
  computed: {
    language () {
      return this.$store.state.fastplatform.preferredLanguage
    },
    lastestMessage () {
      return this.messages?.[this.messages?.length - 1]
    },
    hasReplies () {
      return Boolean(this.lastestMessage)
    },
    updatedBy () {
      return this.lastestMessage?.createdBy ?? this.createdBy
    },
    authorActvitivy () {
      if (this.updatedBy.username === this.$store.state.fastplatform.user.username) {
        if (this.hasReplies) {
          return this.$gettext('You replied to the request')
        } else {
          return this.$gettext('You sent a new request')
        }
      } else {
        const author = this.updatedBy.name || this.updatedBy.username
        if (this.hasReplies) {
          return this.$gettextInterpolate(this.$gettext('%{author} replied to the request'), { author })
        } else {
          return this.$gettextInterpolate(this.$gettext('%{author} sent a new request'), { author })
        }
      }
    }
  }
}
</script>

<style scoped>
.message-list-item-row {
  height: 20px
}
</style>
