@import 'mixins';
@import 'fonts';
@import 'map';

// generate the classes 'max-width-<number>' and 'max-height-<number>' that set the max-width and max-height
// properties to <number> %. Ex: max-width-100 will generate a class ".max-width-100 { max-width: 100%; }".
@for $i from 0 to 101 {
  @include max-width($i);
  @include max-height($i);
}

// ******** Prevent element selection besides text in input element ********
html {
  -webkit-user-select: none;
  user-select: none;
}
input[type="text"] {
  -webkit-user-select: text;
  user-select: none;
}

body {
  margin: 0;
  overscroll-behavior-y: none;
  background: #f4f5f7;
}

body.touch, body.mobile {
  &::-webkit-scrollbar {
    display: none;
  }
  > *::-webkit-scrollbar {
    display: none;
  }
}

// when focusing one of this elements, an "outline" property is applied making a border blue line to appear
// disable this unwanted behavior
html:focus,
body:focus,
#app:focus,
.q-layout:focus,
.q-page-container:focus,
.q-page:focus
{
  outline: none;
}

.bg-light {
  background-color: $bg-light;
}
.bg-transparent {
  background-color: transparent!important;
}
.bg-light-transparency {
  background-color: rgba(0,0,0,0.3)!important;
}

.text-small {
  font-size: 0.8em;
}

// ***** Apply default padding (top and bottom) on ios and android device *****
.default-padding-top-ios {
  padding-top: 20px;
  padding-top: constant(safe-area-inset-top); // for iOS 11.0
  padding-top: env(safe-area-inset-top); // for iOS 11.2 +

}
.default-padding-bottom-ios {
  padding-bottom: 35px;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
body.q-ios-padding .q-layout--standard .q-page-container .q-page.padding-top-ios {
  @extend .default-padding-top-ios;
}
body.q-ios-padding .padding-top-ios {
  @extend .default-padding-top-ios;
}
body.q-ios-padding .padding-bottom-ios {
  @extend .default-padding-bottom-ios;
}
body.q-ios-padding .q-footer {
  @extend .default-padding-bottom-ios;
}

.d-none {
  display: none!important;
}

.no-padding {
  padding: 0!important
}

.image-responsive {
  max-width: 100%;
  max-height: 100%;
}

.plot-preview .plot-svg {
  max-width: 40px;
  max-height: 40px;
  > svg {
    width: 40px;
    height: 40px;
  }
}

a {
  color: #1C9ACD;
}

// Force the pointer cursor, even on <a> without href
a:hover {
  cursor: pointer;
 }

.take-photo-header .q-toolbar {
  min-height: calc(env(safe-area-inset-top) + 50px);
}

.page-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: normal;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $grey;

  + .page-subtitle {
    margin-top: -8px;
    padding-bottom: 16px;
  }
}

.page-subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: normal;
  color: $grey;
}

.page-default-padding-x {
  // equivalent to q-px-md
  padding-left: map-get($map: $space-md, $key: 'x');
  padding-right: map-get($map: $space-md, $key: 'x');
}

.text-break-word {
  word-break: break-word;
}

// NPK colors
.text-n-color {
  color: $n-color;
}
.bg-n-color {
  background: $n-color;
}
.text-n {
  color: $n-color;
  font-weight: 600;
}
.text-p-color {
  color: $p-color;
}
.bg-p-color {
  background: $p-color;
}
.text-p {
  color: $p-color;
  font-weight: 600;
}
.text-k-color {
  color: $k-color;
}
.bg-k-color {
  background: $k-color;
}
.text-k {
  color: $k-color;
  font-weight: 600;
}
.text-ca-color {
  color: $ca-color;
}
.bg-ca-color {
  background: $ca-color;
}
.text-ca {
  color: $ca-color;
  font-weight: 600;
}
.text-mg-color {
  color: $mg-color;
}
.bg-mg-color {
  background: $mg-color;
}
.text-mg {
  color: $mg-color;
  font-weight: 600;
}
// chart-colors
.text-chart-blue {
  color: $chart-blue;
}
.bg-chart-blue {
  background: $chart-blue;
}
.text-chart-yellow {
  color: $chart-yellow;
}
.bg-chart-yellow {
  background: $chart-yellow;
}
.text-chart-red {
  color: $chart-red;
}
.bg-chart-red {
  background: $chart-red;
}
.text-chart-blue-darker {
  color: $chart-blue-darker;
}
.bg-chart-blue-darker {
  background: $chart-blue-darker;
}
.text-chart-blue-deep {
  color: $chart-blue-deep;
}
.bg-chart-blue-deep {
  background: $chart-blue-deep;
}
.text-chart-green {
  color: $chart-green;
}
.bg-chart-green {
  background: $chart-green;
}
.text-chart-purple {
  color: $chart-purple;
}
.bg-chart-purple {
  background: $chart-purple;
}
.text-chart-grey {
  color: $chart-grey;
}
.bg-chart-grey {
  background: $chart-grey;
}
.text-chart-dark {
  color: $chart-dark;
}
.bg-chart-dark {
  background: $chart-dark;
}

.date-input {
  &.q-field--filled.q-field--readonly .q-field__control:before {
    background: rgba(0, 0, 0, 0.05);
    opacity: 0;
    border-bottom-style: none;
  }
}

@media (max-width: $breakpoint-sm-max) {
  .page-content-desktop {
    padding-left: map-get($map: $space-md, $key: 'x');
    padding-right: map-get($map: $space-md, $key: 'x');
  }
}
