<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <FertilicalcResultsCard
          :fertilization-plan-parameters="$store.state.fertilizationPlan.parameters"
          :display-fertilizer-strategy="false"
        >
          <template #action-buttons>
            <q-btn
              color="primary"
              @click="onClickProposeFertilizerCombination"
            >
              <translate>Propose fertilizer combination</translate>
            </q-btn>
            <q-btn
              color="primary"
              :loading="saving"
              @click="onClickSavePlan"
              flat
            >
              {{ savePlanButtonLabel }}
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="onClickPrevious"
            >
              <translate>Previous</translate>
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="onClickBackToAllPlans"
            >
              <translate>Back to all my plans</translate>
            </q-btn>
          </template>
        </FertilicalcResultsCard>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilicalcMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcMixin'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import FertilicalcSavePlanMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcSavePlanMixin'

import FertilicalcResultsCard from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/components/FertilicalcResults'

export default {
  name: 'FertilicalcNPKResultsPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    FertilicalcResultsCard
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilicalcMixin, FertilizationPlanMixin, FertilicalcSavePlanMixin],
  data () {
    return {
      elements: [
        {
          id: 'n',
          label: this.$gettext('Nitrogen')
        },
        {
          id: 'p',
          label: this.$gettext('Phosphorus')
        },
        {
          id: 'k',
          label: this.$gettext('Potassium')
        }
      ]
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('NPK recommendation')
    },
    pageSubTitle () {
      return 'FertiliCalc'
    }
  },
  methods: {
    onClickBackToAllPlans () {
      this.$router.push({ name: 'fertilizationPlans' })
    },
    onClickProposeFertilizerCombination () {
      this.$router.push({ name: 'fertilicalcNShare' })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'fertilicalcCompute'
      })
    },
    onClickSavePlan () {
      const results = this.prepareSavePlan()
      this.savePlan(results)
    }
  }
}
</script>
