<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class=""
        >
          <q-card-section class="q-pb-none">
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Select your irrigation method for this plot:</translate>
            </div>

            <q-option-group
              type="radio"
              :model-value="storeIrrigationMethod.value"
              :options="irrigationMethods"
              @update:model-value="onInputIrrigationMethod"
            />
          </q-card-section>

          <q-card-section class="q-pb-none">
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Select your target yield:</translate>
            </div>

            <q-list>
              <!-- low -->
              <q-item
                class="q-pl-none"
                dense
                v-if="lowYield"
              >
                <q-radio
                  v-model="yieldType"
                  val="low"
                  :disable="!storeIrrigationMethod.value"
                  @update:model-value="updateParameter('yield', lowYield)"
                  :label="`${lowYield} ${$gettext('kg/ha')}`"
                />
              </q-item>

              <!-- medium -->
              <q-item
                class="q-pl-none"
                dense
                v-if="mediumYield"
              >
                <q-radio
                  v-model="yieldType"
                  val="medium"
                  :disable="!storeIrrigationMethod.value"
                  @update:model-value="updateParameter('yield', mediumYield)"
                  :label="`${mediumYield} ${$gettext('kg/ha')}`"
                />
              </q-item>

              <!-- high -->
              <q-item
                class="q-pl-none"
                dense
                v-if="highYield"
              >
                <q-radio
                  v-model="yieldType"
                  val="high"
                  :disable="!storeIrrigationMethod.value"
                  @update:model-value="updateParameter('yield', highYield)"
                  :label="`${highYield} ${$gettext('kg/ha')}`"
                />
              </q-item>

              <!-- custom -->
              <q-item
                class="q-pl-none"
                dense
              >
                <q-radio
                  v-model="yieldType"
                  val="custom"
                  :disable="!storeIrrigationMethod.value"
                  @update:model-value="updateParameter('yield', null)"
                  :label="yieldType !== 'custom' ? $gettext('Custom') : null"
                />
                <q-input
                  v-if="yieldType === 'custom'"
                  filled
                  type="number"
                  :label="$gettext('Custom')"
                  :suffix="$gettext('kg/ha')"
                  :disable="!storeIrrigationMethod.value"
                  :model-value="$store.state.fertilizationPlan.parameters.yield"
                  @update:model-value="value => updateYield(value)"
                  :rules="customYieldRules"
                  :min="yieldMin"
                  :max="yieldMax"
                />
              </q-item>
            </q-list>
          </q-card-section>

          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Indicate the percentage of residues you will leave on the field</translate>:
            </div>
            <q-input
              filled
              type="number"
              :label="$gettext('Percentage of residues')"
              suffix="%"
              :model-value="storeCurrentFractionResidues"
              @update:model-value="value => storeCurrentFractionResidues = (value == null || value === '') ? null : value < 0 ? 0 : value > 100 ? 100 : Number(value)"
              :rules="customPercentageRules"
              :min="0"
              :max="100"
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!storeIrrigationMethod.value || !$store.state.fertilizationPlan.parameters.yield || storeCurrentFractionResidues == null"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilicalcMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcMixin'

import queryFertilicalcYieldsByPlantSpeciesProfile from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/graphql/queryFertilicalcYieldsByPlantSpeciesProfile'

export default {
  name: 'FertilicalcIrrigationYieldPage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilicalcMixin],
  data () {
    return {
      lowYield: null,
      mediumYield: null,
      highYield: null,
      yieldType: 'custom'
    }
  },
  apollo: {
    profileYields: {
      query: queryFertilicalcYieldsByPlantSpeciesProfile,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          profile_id: this.$store.state.fertilizationPlan.parameters.plant_species_profile.id
        }
      },
      update (data) {
        if (data.fertilicalc__plant_species_profile.length && data.fertilicalc__plant_species_profile[0]) {
          this.lowYield = data.fertilicalc__plant_species_profile[0].default_low_yield
          this.mediumYield = data.fertilicalc__plant_species_profile[0].default_medium_yield
          this.highYield = data.fertilicalc__plant_species_profile[0].default_high_yield

          if (this.$store.state.fertilizationPlan.parameters.yield == null) {
            if (this.lowYield && this.storeIrrigationMethod?.value === 'DRY_RAINFED') {
              this.updateParameter('yield', this.lowYield)
            } else if (this.mediumYield && this.storeIrrigationMethod?.value === 'WET_RAINFED') {
              this.updateParameter('yield', this.mediumYield)
            } else if (this.highYield && this.storeIrrigationMethod?.value === 'IRRIGATED') {
              this.updateParameter('yield', this.highYield)
            } else {
              this.updateParameter('yield', null)
            }
          }

          if (this.$store.state.fertilizationPlan.parameters.yield === this.lowYield) {
            this.yieldType = 'low'
          } else if (this.$store.state.fertilizationPlan.parameters.yield === this.mediumYield) {
            this.yieldType = 'medium'
          } else if (this.$store.state.fertilizationPlan.parameters.yield === this.highYield) {
            this.yieldType = 'high'
          } else if (this.$store.state.fertilizationPlan.parameters.yield == null) {
            this.yieldType = null
          } else {
            this.yieldType = 'custom'
          }
        }
      },
      skip () {
        return !this.$store.state.fertilizationPlan.parameters.plant_species_profile
      }
    }
  },
  computed: {
    customYieldRules () {
      if (this.yieldType !== 'custom') {
        return []
      } else {
        return [
          val => !isNaN(val) || `${this.$gettext('Yield must be a number')}`,
          val => !!val || `* ${this.$gettext('This field is required')}`,
          val => val > 0 || `${this.$gettext('Yield must be positive')}`
        ]
      }
    },
    customPercentageRules () {
      return [
        val => val != null || `* ${this.$gettext('This field is required')}`,
        val => !isNaN(val) || `* ${this.$gettext('This field is required')}`,
        val => ((val <= 100) && (val >= 0)) || this.$gettext('Percentage must be between 0 and 100')
      ]
    },
    pageTitle () {
      return this.$gettext('Irrigation method')
    },
    pageSubTitle () {
      return 'FertiliCalc'
    },
    storeCurrentCropProfile () {
      return this.$store.state.fertilizationPlan?.parameters?.plant_species_profile
    },
    storeCurrentFractionResidues: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.current_fraction_residues
      },
      set (v) {
        this.updateParameter('current_fraction_residues', v)
      }
    },
    storeIrrigationMethod: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.irrigation_method ?? {}
      },
      set (v) {
        this.updateParameter('irrigation_method', this.irrigationMethods.find(im => im.value === v))
      }
    }
  },
  methods: {
    onInputIrrigationMethod (value) {
      this.storeIrrigationMethod = value
      if (this.yieldType !== 'custom') {
        if (this.lowYield && this.storeIrrigationMethod.value === 'DRY_RAINFED') {
          this.updateParameter('yield', this.lowYield)
          this.yieldType = 'low'
        } else if (this.mediumYield && this.storeIrrigationMethod.value === 'WET_RAINFED') {
          this.updateParameter('yield', this.mediumYield)
          this.yieldType = 'medium'
        } else if (this.highYield && this.storeIrrigationMethod.value === 'IRRIGATED') {
          this.updateParameter('yield', this.highYield)
          this.yieldType = 'high'
        } else {
          this.updateParameter('yield', null)
        }
      }
    },
    onClickNext () {
      this.$router.push({
        name: 'fertilicalcPreviousCampaign'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'fertilicalcCropProfile'
      })
    },
    updateYield (value) {
      if (isNaN(value)) {
        this.updateParameter('yield', null)
      } else {
        value = parseFloat(value)
        this.updateParameter('yield', value < this.yieldMin ? this.yieldMin : value > this.yieldMax ? this.yieldMax : value)
      }
    }
  },
  mounted () {
    // set fraction residues value to default value for this crop if not already set
    if (
      !(this.$store.state.fertilizationPlan?.parameters &&
      Object.keys(this.$store.state.fertilizationPlan.parameters).includes('current_fraction_residues'))
    ) {
      this.storeCurrentFractionResidues = this.storeCurrentCropProfile?.f_res
    }
  }
}
</script>
