<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Indicate the percentage of residues you left on the field</translate>
            </div>
            <q-input
              filled
              type="number"
              :label="$gettext('Percentage of residues')"
              suffix="%"
              :model-value="storePreviousFractionResidues"
              @update:model-value="value => updatePreviousFractionResidues((value == null || value === '') ? null : value < 0 ? 0 : value > 100 ? 100 : Number(value))"
              :rules="customPercentageRules"
              :min="0"
              :max="100"
            />
          </q-card-section>

          <q-card-section v-show="storePreviousFractionResidues != null && storePreviousFractionResidues > 0">
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Did you incorporate the residues to the ground using tillage?</translate>
            </div>

            <q-btn-toggle
              :model-value="$store.state.fertilizationPlan.parameters.previous_incorporate_residues_with_tillage"
              :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
              toggle-color="primary"
              @update:model-value="value => updateParameter('previous_incorporate_residues_with_tillage', value)"
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="storePreviousFractionResidues == null || $store.state.fertilizationPlan.parameters.previous_incorporate_residues_with_tillage == null"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilicalcMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcMixin'

export default {
  name: 'FertilicalcPreviousCampaignResiduesPage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilicalcMixin],
  computed: {
    customPercentageRules () {
      return [
        val => (val != null && !isNaN(val)) || `${this.$gettext('This field is required')}`,
        val => ((val <= 100) && (val >= 0)) || this.$gettext('Percentage must be between 0 and 100')
      ]
    },
    pageTitle () {
      return `${this.$gettext('Previous campaign')} - ${this.$gettext('Residues')}`
    },
    pageSubTitle () {
      return 'FertiliCalc'
    },
    storePreviousCropProfile () {
      return this.$store.state.fertilizationPlan?.parameters?.previous_plant_species_profile
    },
    storePreviousFractionResidues: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.previous_fraction_residues
      },
      set (v) {
        this.updateParameter('previous_fraction_residues', v)
      }
    }
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'fertilicalcStrategy'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'fertilicalcPreviousCampaign'
      })
    },
    updatePreviousFractionResidues (value) {
      this.storePreviousFractionResidues = value
      if (value > 0) {
        // ask if the residues were incorporated using tillage (set value to null to disable "next" button)
        this.updateParameter('previous_incorporate_residues_with_tillage', null)
      } else {
        // the residues cannot be incorporated since they were collected (set value to false to enable "next" button)
        this.updateParameter('previous_incorporate_residues_with_tillage', false)
      }
    }
  },
  mounted () {
    // set fraction residues value to default value for this crop if not already set
    if (this.$store.state.fertilizationPlan?.parameters?.previous_fraction_residues == null) {
      this.storePreviousFractionResidues = this.storePreviousCropProfile?.f_res
    }
  }
}
</script>
