<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-subtitle1 q-mb-none"
            >
              <translate>Select your strategy:</translate>
            </div>

            <q-option-group
              :model-value="storeStrategy.value"
              :options="strategies"
              @update:model-value="value => storeStrategy = value"
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!(storeStrategy.value != null && storeStrategy.value !== '')"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilicalcMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcMixin'

export default {
  name: 'FertilicalcStrategyPage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilicalcMixin],
  data () {
    return {
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Strategy')
    },
    pageSubTitle () {
      return 'FertiliCalc'
    },
    storeStrategy: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.strategy ?? {}
      },
      set (v) {
        this.updateParameter('strategy', this.strategies.find(s => s.value === v))
      }
    }
  },
  mounted () {
    if (!this.storeStrategy.value) {
      this.storeStrategy = 'REDUCED'
    }
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'fertilicalcSoil'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'fertilicalcPreviousCampaignResidues'
      })
    }
  }
}
</script>
