<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-none"
            >
              <translate>Select a crop for this plot:</translate>
            </div>
            <div
              class="text-small text-secondary q-mb-md"
            >
              <translate>The crop declared in for this plot has been pre-filled.</translate>
            </div>

            <q-select
              :model-value="$store.state.fertilizationPlan.parameters.plant_species"
              :options="plantSpeciesOptions"
              option-value="id"
              option-label="name"
              filled
              @filter="filterPlantSpecies"
              use-input
              input-debounce="200"
              :loading="$apollo.queries.plantSpecies.loading"
              @update:model-value="onInputPlantSpecies"
            />
          </q-card-section>

          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Select a crop profile:</translate>
            </div>

            <q-select
              :model-value="$store.state.fertilizationPlan.parameters.plant_species_profile"
              :options="plantSpeciesProfiles"
              option-value="id"
              option-label="profile_name"
              filled
              :loading="$apollo.queries.plantSpeciesProfiles.loading"
              :disable="!$store.state.fertilizationPlan.parameters.plant_species || plantSpeciesProfiles.length == 0 || $apollo.queries.plantSpeciesProfiles.loading"
              @update:model-value="value => updateParameter('plant_species_profile', value)"
            />

            <q-banner
              v-if="$store.state.fertilizationPlan.parameters.plant_species && plantSpeciesProfiles.length == 0 && !$apollo.queries.plantSpeciesProfiles.loading"
              class="bg-accent text-white q-mt-sm"
            >
              <translate>
                Unfortunately, there are no Fertilicalc profiles available for this crop (yet).
              </translate>
            </q-banner>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!$store.state.fertilizationPlan.parameters.plant_species || !$store.state.fertilizationPlan.parameters.plant_species_profile"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilicalcMixin from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/mixins/FertilicalcMixin'

import queryPlantSpecies from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryPlantSpecies'
import queryFertilicalcPlantSpeciesProfilesByPlantSpecies from 'src/pages/fieldbook/fertilization/algorithms/fertilicalc/graphql/queryFertilicalcPlantSpeciesProfilesByPlantSpecies'

export default {
  name: 'FertilicalcCropProfilePage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilicalcMixin],
  data () {
    return {
      plantSpecies: [],
      plantSpeciesProfiles: [],
      filterValue: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Crop and profile')
    },
    pageSubTitle () {
      return 'FertiliCalc'
    },
    plantSpeciesOptions () {
      const options = this.plantSpecies
      if (this.filterValue) {
        return options.filter(v => v.name?.toLowerCase().indexOf(this.filterValue) > -1)
      } else {
        return options
      }
    }
  },
  apollo: {
    plantSpecies: {
      query: queryPlantSpecies,
      notifyOnNetworkStatusChange: true,
      update: data => data.plant_species
    },
    plantSpeciesProfiles: {
      query: queryFertilicalcPlantSpeciesProfilesByPlantSpecies,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          plant_species_id: this.$store.state.fertilizationPlan.parameters.plant_species.id
        }
      },
      update (data) {
        if (data.fertilicalc__plant_species_profile.length && this.$store.state.fertilizationPlan.parameters?.plant_species_profile == null) {
          this.onInputPlantSpeciesProfile(data.fertilicalc__plant_species_profile[0])
        }
        return data.fertilicalc__plant_species_profile
      },
      skip () {
        return !this.$store.state.fertilizationPlan.parameters.plant_species
      }
    }
  },
  mounted () {
    if (!this.$store.state.fertilizationPlan.parameters.plant_species) {
      this.$apollo.queries.plantSpeciesProfiles.refetch()
      this.updateParameter('plant_species_profile', null)
      this.updateParameter('plant_species',
        this.$store.state.fertilizationPlan.target?.plot_plant_variety?.plant_variety?.plant_species ?? null)
    }
  },
  methods: {
    filterPlantSpecies (val, update, abort) {
      update(() => {
        this.filterValue = val.toLowerCase()
      })
    },
    onClickNext () {
      this.$router.push({
        name: 'fertilicalcIrrigationYield'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'fertilizationPlanPlotSelection'
      })
    },
    onInputPlantSpecies (value) {
      this.updateParameter('plant_species', value)
      this.updateParameter('plant_species_profile', null)
    },
    onInputPlantSpeciesProfile (value) {
      this.updateParameter('plant_species_profile', value)
      // reset all other parameters
      const params = {
        plant_species: this.$store.state.fertilizationPlan.parameters.plant_species,
        plant_species_profile: this.$store.state.fertilizationPlan.parameters.plant_species_profile
      }
      this.$store.commit('fertilizationPlan/setParameters', params)
    }
  }
}
</script>
