<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <q-banner class="bg-warning text-white text-small q-mb-md">
          <div class="text-small">
            <translate>This is currently a demo version. All the recommendations are based on demo data and should not be taken into account for farm decisions.</translate>
          </div>
        </q-banner>
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="row items-center text-secondary text-small"
            >
              <q-icon
                size="sm"
                name="la la-draw-polygon"
              />
              <span
                class="q-ml-sm"
                style="height: fit-content;"
              >
                {{ targetName }}
              </span>
            </div>
          </q-card-section>
          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Select a crop for this plot:</translate>
            </div>
            <div
              v-if="!isLoadingPlantSpecies && hasLoadedPlantSpecies && !plotPlantSpeciesNotSupported"
              class="text-small text-secondary q-mb-sm"
            >
              <translate>The crop declared in for this plot has been pre-filled.</translate>
            </div>
            <q-select
              v-model="selectedPlantSpecies"
              :options="plantSpecies"
              option-value="id"
              option-label="name"
              option-disable="disable"
              filled
              :label="selectedPlantSpecies == null && plotPlantSpeciesNotSupported ? plotPlantSpecies.name : undefined"
              :stack-label="false"
              hide-bottom-space
              :loading="isLoadingPlantSpecies || !hasLoadedPlantSpecies"
            >
              <template #loading>
                <q-spinner-dots />
              </template>
            </q-select>
            <template v-if="!isLoadingPlantSpecies && hasLoadedPlantSpecies">
              <q-banner
                v-if="plantSpecies && plantSpecies.length > 0 && plotPlantSpeciesNotSupported && selectedPlantSpecies == null"
                class="bg-info text-white q-mt-sm"
              >
                <div class="">
                  <translate>
                    Unfortunately, the crop declared in for this plot is not yet available for recommendations.
                  </translate>
                  <translate>
                    You can still choose another crop.
                  </translate>
                </div>
              </q-banner>
              <q-banner
                v-if="plantSpecies == null || plantSpecies.length === 0"
                class="bg-grey-5 text-black q-mt-sm"
              >
                <div class="q-mb-md">
                  <translate>Cannot get the list of crops</translate>
                  <br>
                  <translate>It may be due to an Internet issue.</translate>
                  <br>
                  <translate>Please retry later</translate>
                </div>
                <q-btn
                  color="primary"
                  @click="onClickRetryCropsRequests"
                  icon="las la-redo-alt"
                >
                  <translate class="q-ml-sm">
                    Retry
                  </translate>
                </q-btn>
              </q-banner>
            </template>
          </q-card-section>
          <q-card-section class="">
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Select your target yield</translate>:
            </div>
            <q-select
              v-model="selectedCropYield"
              :options="selectedPlantSpecies == null ? [] : availableYieldsByPlantSpeciesId[selectedPlantSpecies.id]"
              filled
              :disable="selectedPlantSpecies == null"
              :loading="isLoadingRecommendations || !hasLoadedRecommendations"
            >
              <template #append>
                <div
                  class="text-body2"
                  v-show="!isLoadingRecommendations && hasLoadedRecommendations"
                >
                  <translate translate-context="kilogram per hectare">
                    kg/ha
                  </translate>
                </div>
              </template>
              <template #loading>
                <q-spinner-dots />
              </template>
            </q-select>
            <template v-if="!isLoadingRecommendations && hasLoadedRecommendations">
              <q-banner
                v-if="arcRecommendations == null || arcRecommendations.length === 0"
                class="bg-grey-5 text-black q-mt-sm"
              >
                <div class="q-mb-md">
                  <translate>Cannot get the list of target yields.</translate>
                  <br>
                  <translate>It may be due to an Internet issue.</translate>
                  <br>
                  <translate>Please retry later</translate>.
                </div>
                <q-btn
                  color="primary"
                  @click="onClickRetryRecommendationsRequest"
                  icon="las la-redo-alt"
                >
                  <translate class="q-ml-sm">
                    Retry
                  </translate>
                </q-btn>
              </q-banner>
            </template>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                @click="onClickCompute"
                :disable="selectedPlantSpecies == null || selectedCropYield == null"
              >
                <translate>Compute</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryArcFertilizationCrops from 'src/pages/fieldbook/fertilization/algorithms/arc/graphql/queryArcFertilizationCrops'
import queryArcNPK from 'src/pages/fieldbook/fertilization/algorithms/arc/graphql/queryArcNPK'
import queryPlantSpeciesNameFilteredByIds from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryPlantSpeciesNameFilteredByIds'

export default {
  name: 'ArcCropSelectionPage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins],
  data () {
    return {
      arcFertilizationCrops: [],
      arcRecommendations: [],
      hasLoadedPlantSpecies: false,
      hasLoadedRecommendations: false,
      plantSpecies: [],
      plotPlantSpeciesNotSupported: false
    }
  },
  computed: {
    arcFertilizationCropsPlantSpeciesIds () {
      if (this.arcFertilizationCrops.length) {
        let plantSpeciesIds = []
        this.arcFertilizationCrops.forEach(crop => {
          plantSpeciesIds = plantSpeciesIds.concat(crop.plant_species_ids)
        })
        return plantSpeciesIds.length ? plantSpeciesIds : null
      } else {
        return null
      }
    },
    availableYieldsByPlantSpeciesId () {
      const yieldsByCrop = {}
      if (this.arcRecommendations && this.arcRecommendations.length) {
        this.arcRecommendations.forEach(plotRecommendation => {
          plotRecommendation.recommendations.forEach(recommendation => {
            recommendation.plant_species_ids.forEach(plantSpeciesId => {
              if (!Object.keys(yieldsByCrop).includes(plantSpeciesId)) {
                yieldsByCrop[plantSpeciesId] = [recommendation.yield_target]
              } else {
                if (!yieldsByCrop[plantSpeciesId].includes(recommendation.yield_target)) {
                  yieldsByCrop[plantSpeciesId].push(recommendation.yield_target)
                }
              }
            })
          })
        })
      }
      return yieldsByCrop
    },
    isLoadingPlantSpecies () {
      return this.$apollo.queries.arcFertilizationCrops.loading || this.$apollo.queries.plantSpecies.loading
    },
    isLoadingRecommendations () {
      return this.$apollo.queries.arcRecommendations.loading
    },
    pageTitle () {
      return this.$gettext('Crop selection')
    },
    pageSubTitle () {
      return this.$store.state.fertilizationPlan?.algorithm?.name ?? 'PMK'
    },
    targetName () {
      if (this.$store.state.fertilizationPlan.target) {
        return this.$store.state.fertilizationPlan.target.name || this.$store.state.fertilizationPlan.target.authority_id
      }
      return ''
    },
    plotPlantSpecies () {
      if (
        this.$store.state.fertilizationPlan.target &&
        this.$store.state.fertilizationPlan.target.__typename === 'plot'
      ) {
        return this.$store.state.fertilizationPlan.target.plot_plant_variety.plant_variety.plant_species
      } else {
        // TODO get the plant species of the plot group
        return null
      }
    },
    plots () {
      return [this.$store.state.fertilizationPlan.target]
    },
    plotsIds () {
      return this.plots.map(plot => plot.id)
    },
    selectedCropYield: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.yield_target || null
      },
      set (v) {
        // TODO check that all the plots have the selected target crop yield in their recommendations. Otherwise,
        // TODO individually select the target yield for those plots.
        this.updateParameter('yield_target', v)
      }
    },
    selectedPlantSpecies: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.plant_species || null
      },
      set (v) {
        this.updateParameter('plant_species', v)
        // reset the stores yield target of the old plantSpecies
        this.selectedCropYield = null
      }
    },
    selectedPlantSpeciesDiffersFromPlotOne () {
      return this.plotPlantSpecies != null && this.selectedPlantSpecies != null
        ? this.plotPlantSpecies.id !== this.selectedPlantSpecies.id
        : null
    },
    skipArcRecommendations () {
      return !this.hasLoadedPlantSpecies || this.plantSpecies.length === 0
    }
  },
  apollo: {
    arcFertilizationCrops: {
      query: queryArcFertilizationCrops,
      notifyOnNetworkStatusChange: true,
      update: data => data.arc__fertilization_crops
    },
    arcRecommendations: {
      // fetchPolicy: 'no-cache',
      query: queryArcNPK,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          plot_ids: this.plotsIds
        }
      },
      update (data) {
        this.hasLoadedRecommendations = true
        return data.arc__plot_fertilization_recommendations
      },
      skip () {
        return this.skipArcRecommendations
      }
    },
    plantSpecies: {
      query: queryPlantSpeciesNameFilteredByIds,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          ids: this.arcFertilizationCropsPlantSpeciesIds
        }
      },
      update (data) {
        if (data.plant_species.length) {
          const dataPlantSpecies = [...data.plant_species]
          let indexToSelect = 0
          // Try to select the crop declared for the selected plot
          // and display a message if the declared crop is not available
          if (
            this.plotPlantSpecies != null
          ) {
            const i = dataPlantSpecies.findIndex(obj => obj.id === this.plotPlantSpecies.id)
            if (i === -1) {
              // display a message saying that the plant species (of the plot) is not supported yet by ARC
              this.plotPlantSpeciesNotSupported = true
              // add the plot plant species to the list with a "disable" flag
              dataPlantSpecies.splice(
                0,
                0,
                {
                  ...this.plotPlantSpecies,
                  disable: true
                }
              )
              indexToSelect = null
            } else {
              // set the index to the declared crop of the plot
              indexToSelect = i
              this.plotPlantSpeciesNotSupported = false
            }
          }
          // Select the plant species matching the value in the store if available
          if (this.selectedPlantSpecies != null) {
            const i = dataPlantSpecies.findIndex(obj => obj.id === this.selectedPlantSpecies.id)
            indexToSelect = i === -1 ? indexToSelect : i
          } else {
            this.selectedPlantSpecies = indexToSelect != null ? data.plant_species[indexToSelect] : null
          }
          this.hasLoadedPlantSpecies = true
          return dataPlantSpecies
        } else {
          this.hasLoadedPlantSpecies = true
          return data.plant_species
        }
      },
      skip () {
        return this.arcFertilizationCropsPlantSpeciesIds == null
      }
    }
  },
  methods: {
    onClickGoToFertilizationPlansPage () {
      this.$router.push({ name: 'fertilizationPlans' })
    },
    onClickCompute () {
      this.computing = true
      const recommendations = {}
      this.plots.forEach(plot => {
        recommendations[plot.id] = {
          plant_species: this.selectedPlantSpecies,
          yield_target: this.selectedCropYield,
          recommendations: []
        }
      })
      if (this.arcRecommendations != null && this.arcRecommendations.length) {
        this.arcRecommendations.forEach(plotRecommendation => {
          plotRecommendation.recommendations.forEach(recommendation => {
            if (recommendation.plant_species_ids.includes(this.selectedPlantSpecies.id) && recommendation.yield_target === this.selectedCropYield) {
              recommendations[plotRecommendation.plot_id].recommendations = recommendation.chemical_elements
            }
          })
        })
      }
      this.updateParameter('results', recommendations)
      this.computing = false
      this.$router.push({
        name: 'arcResults'
      })
    },
    onClickPrevious () {
      this.$router.back()
    },
    onClickRetryCropsRequests () {
      this.hasLoadedPlantSpecies = false
      this.plantSpecies = []
      this.arcFertilizationCrops = []
      this.$apollo.queries.arcFertilizationCrops.refetch()
      this.$apollo.queries.plantSpecies.refetch()
    },
    onClickRetryRecommendationsRequest () {
      this.hasLoadedRecommendations = false
      this.arcRecommendations = []
      this.$apollo.queries.arcRecommendations.refetch()
    }
  }
}
</script>
