<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <VisioneResultsCard :fertilization-plan-parameters="$store.state.fertilizationPlan.parameters" />
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import VisioneResultsCard from 'src/pages/fieldbook/fertilization/algorithms/visione/components/VisioneResultsCard'

export default {
  name: 'VisioneResultsPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    VisioneResultsCard
  },
  mixins: [PlatformMixin],
  data () {
    return {
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('NPK recommendation')
    },
    pageSubTitle () {
      return 'Visione'
    }
  },
  methods: {
  }
}
</script>
