<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <VisioneCropProfileSelectionCard
          :available-plant-species="availablePlantSpecies"
          :is-limited-to-plot-plant-species="true"
          :selected-plant-species="selectedPlantSpecies"
          @input-plant-species="onInputPlantSpecies"
          :selected-plant-species-profile="selectedPlantSpeciesVisioneProfile"
          @input-plant-species-profile="onInputPlantSpeciesVisioneProfile"
          :loading="!isReady"
        >
          <template #card-actions-btns>
            <q-btn
              color="primary"
              text-color="white"
              :disable="!canContinue"
              @click="onClickNext"
            >
              <translate>Next</translate>
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="onClickPrevious"
            >
              <translate>Previous</translate>
            </q-btn>
          </template>
        </VisioneCropProfileSelectionCard>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import VisioneCropProfileSelectionCard from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/component/VisioneCropProfileSelectionCard'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import VisioneMixins, { PROFILE_GROUPS } from 'src/pages/fieldbook/fertilization/algorithms/visione/mixins/VisioneMixins'

export default {
  name: 'VisioneCropSelectionPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    VisioneCropProfileSelectionCard
  },
  mixins: [PlatformMixin, AlgorithmsMixins, VisioneMixins],
  data () {
    return {
      selectedPlantSpecies: null,
      selectedPlantSpeciesVisioneProfile: null,
      isReady: false
    }
  },
  computed: {
    canContinue () {
      return this.selectedPlantSpecies != null && this.selectedPlantSpeciesVisioneProfile != null
    },
    isATreeCropProfile () {
      return this.selectedPlantSpeciesVisioneProfile?.profile_group === PROFILE_GROUPS.ARBOREE
    },
    pageTitle () {
      return this.$gettext('Crop Profile')
    },
    pageSubTitle () {
      return 'Visione'
    },
    storeIsTreeCrop: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.is_tree_crop
      },
      set (v) {
        this.updateParameter('is_tree_crop', v)
      }
    },
    storePlanCurrentRotations () {
      return this.$store.state.fertilizationPlan?.parameters?.current_rotations ?? []
    },
    storePlanNewRotation () {
      return this.$store.state.fertilizationPlan?.parameters?.new_rotation
    },
    storeTreeCropPlantSpecies: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.plant_species
      },
      set (v) {
        this.updateParameter('plant_species', v)
      }
    },
    storeTreeCropPlantSpeciesVisioneProfile: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.visione_profile
      },
      set (v) {
        this.updateParameter('visione_profile', v)
      }
    }
  },
  mounted () {
    if (this.storePlanCurrentRotations.length) {
      this.selectedPlantSpecies = JSON.parse(JSON.stringify(this.storePlanCurrentRotations[0].plant_species))
      this.selectedPlantSpeciesVisioneProfile = JSON.parse(JSON.stringify(this.storePlanCurrentRotations[0].visione_profile))
    } else if (this.storeTreeCropPlantSpecies != null) {
      this.selectedPlantSpecies = JSON.parse(JSON.stringify(this.storeTreeCropPlantSpecies))
      this.selectedPlantSpeciesVisioneProfile = this.storeTreeCropPlantSpeciesVisioneProfile != null ? JSON.parse(JSON.stringify(this.storeTreeCropPlantSpeciesVisioneProfile)) : null
    } else if (this.storePlanNewRotation?.plant_species != null && this.storePlanNewRotation?.visione_profile != null) {
      this.selectedPlantSpecies = JSON.parse(JSON.stringify(this.storePlanNewRotation.plant_species))
      this.selectedPlantSpeciesVisioneProfile = JSON.parse(JSON.stringify(this.storePlanNewRotation.visione_profile))
    }
    if (this.availablePlantSpecies.length) {
      if (this.selectedPlantSpecies) {
        const i = this.availablePlantSpecies.findIndex(plantSpecies => plantSpecies.id === this.selectedPlantSpecies.id)
        if (i === -1) {
          // TODO display warning that the saved plant species is no longer declared for this plot
          this.selectedPlantSpecies = this.availablePlantSpecies[0]
        }
      } else {
        this.selectedPlantSpecies = this.availablePlantSpecies[0]
      }
    }
    this.isReady = true
  },
  methods: {
    onClickNext () {
      // check if the selected plant species and profile differ from the ones in store (if set)
      if (this.storePlanCurrentRotations.length) {
        if (
          this.selectedPlantSpecies.id !== this.storePlanCurrentRotations[0].plant_species.id ||
          this.selectedPlantSpeciesVisioneProfile.id !== this.storePlanCurrentRotations[0].visione_profile.id
        ) {
          // reset all the plan parameters since they are no longer accurate
          this.resetParameters()
        }
      }
      if (this.storeTreeCropPlantSpecies != null) {
        if (
          this.selectedPlantSpecies.id !== this.storeTreeCropPlantSpecies.id ||
          (
            this.storeTreeCropPlantSpeciesVisioneProfile != null &&
            this.selectedPlantSpeciesVisioneProfile.id !== this.storeTreeCropPlantSpeciesVisioneProfile.id
          )
        ) {
          // reset all the plan parameters since they are no longer accurate
          this.resetParameters()
        }
      }
      // Special case if the plant species is an "arboree" (tree crop)
      if (this.isATreeCropProfile) {
        // set the tree crop data
        this.storeTreeCropPlantSpecies = this.selectedPlantSpecies
        this.storeTreeCropPlantSpeciesVisioneProfile = this.selectedPlantSpeciesVisioneProfile
        this.storeIsTreeCrop = true
        // route to tree page
        this.$router.push({
          name: 'visioneTreeCropProductionPhase'
        })
      } else {
        this.storeIsTreeCrop = false
        if (this.storePlanCurrentRotations.length === 0) {
          // add new rotation
          this.updateParameter('new_rotation', { plant_species: { ...this.selectedPlantSpecies }, visione_profile: { ...this.selectedPlantSpeciesVisioneProfile }, cancelable: false, from: 'visioneCropSelection' })
        } else {
          // update first rotation
          this.updateParameter('new_rotation', { ...this.storePlanCurrentRotations[0], is_update: true, rotation_index: 0, cancelable: false, from: 'visioneCropSelection' })
        }
        // route to non tree page
        this.$router.push({
          name: 'visioneAddCropRotationCyclesAndYield'

        })
      }
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'fertilizationPlanPlotSelection'
      })
    },
    onInputPlantSpecies (v) {
      this.selectedPlantSpeciesVisioneProfile = null
      this.selectedPlantSpecies = v
    },
    onInputPlantSpeciesVisioneProfile (v) {
      this.selectedPlantSpeciesVisioneProfile = v
    },
    async resetParameters () {
      // reset fertilization plan parameters
      await this.$store.dispatch('fertilizationPlan/reset')
    }
  }
}
</script>
