<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
        <div
          class="page-subtitle"
          v-if="pageSubTitle"
        >
          {{ pageSubTitle }}
        </div>
      </template>

      <q-card
        :square="!isDesktopPlatform"
        class="column no-wrap col"
      >
        <q-banner class="bg-grey-3 text-grey-8 q-mb-md">
          <translate>The following balance show the requirements still needed after the organic and mineral fertilizations. </translate>
        </q-banner>

        <q-card-section v-if="computing">
          <div>
            <div
              class="column flex-center"
              style="height: 100%;"
            >
              <q-spinner
                color=""
                size="3em"
              />
              <translate>Updating nutrient balance...</translate>
            </div>
          </div>
        </q-card-section>

        <q-card-section v-else-if="error">
          <div>
            <translate>
              There were some errors while updating the nutrient balance.
            </translate>

            <p
              v-html="error"
              class="q-mt-md"
            />
          </div>
        </q-card-section>

        <div v-else-if="nutrientBalance">
          <KalkulackyHnojenieNutrientBalance
            :balance-items="balanceItems"
            simplified
          />

          <KalkulackyHnojenieFertilizationsCard
            :initial-fertilizations="initialFertilizations"
            :fertilizer-options="mineralFertilizerOptions"
            fertilizer-type="mineral"
            class="q-mt-md"
            @on-update="onFertilizationsUpdate"
          />
        </div>

        <!-- buttons -->
        <q-card-section class="q-mt-auto">
          <q-card-actions
            vertical
            align="stretch"
            class="q-pa-none"
          >
            <q-btn
              color="primary"
              text-color="white"
              :loading="saving"
              @click="onClickSavePlan"
              :disable="!nutrientBalance"
            >
              {{ savePlanButtonLabel }}
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="onClickPrevious"
            >
              <translate>Previous</translate>
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="$router.push({name: 'fertilizationPlans'})"
            >
              <translate>Back to all my plans</translate>
            </q-btn>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import queryKalkulackyHnojenieComputeNutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/kalkulacky-hnojenie/graphql/queryKalkulackyHnojenieComputeNutrientBalance'
import queryKalkulackyHnojenieFertilizer from 'src/pages/fieldbook/fertilization/algorithms/kalkulacky-hnojenie/graphql/queryKalkulackyHnojenieFertilizer'
import KalkulackyHnojenieNutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/kalkulacky-hnojenie/components/KalkulackyHnojenieNutrientBalance'
import KalkulackyHnojenieFertilizationsCard from 'src/pages/fieldbook/fertilization/algorithms/kalkulacky-hnojenie/components/KalkulackyHnojenieFertilizationsCard'
import { resultTypes } from 'src/services/fieldbook/fertilization/fertilizationPlan'
import { groupByKey } from 'src/utils/array'

export default {
  name: 'KalkulackyHnojenieMineralFertilizationPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    KalkulackyHnojenieNutrientBalance,
    KalkulackyHnojenieFertilizationsCard
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilizationPlanMixin],
  data () {
    return {
      computing: false,
      nutrientBalance: null,
      error: null,
      fertilizers: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Mineral fertilization')
    },
    pageSubTitle () {
      return 'Kalkulacky Hnojenie'
    },
    plot () {
      return this.$store.state.fertilizationPlan.target
    },
    loading () {
      return !this.fertilizers
    },
    canContinue () {
      return true
    },
    mineralFertilizerOptions () {
      if (!this.fertilizers) {
        return []
      } else {
        const options = []
        const activeMineralFertilizers = this.fertilizers
          .filter(fertilizer => fertilizer.is_active && !fertilizer.is_organic)
          .map(fertilizer => ({ ...fertilizer, fertilizer_group: fertilizer.fertilizer_group.name }))
        const fertilizersByGroup = groupByKey(activeMineralFertilizers, 'fertilizer_group')
        for (const group of Object.keys(fertilizersByGroup).sort()) {
          options.push({ group })
          for (const fertilizer of fertilizersByGroup[group].sort((a, b) => a.name - b.name)) {
            options.push(fertilizer)
          }
        }
        return options
      }
    },
    computeNutrientBalanceParams () {
      const params = {}

      // Crop profile
      params.preFertilizationEffect = this.storeParameters.preFertilizationEffect.name
      params.cropProfileMainProductId = this.storeParameters.cropMainProduct.id
      params.cropProfileMainProductYield = this.storeParameters.cropMainProductTargetYield

      if (this.storeParameters.cropByProduct?.id) {
        params.cropProfileByProductId = this.storeParameters.cropByProduct.id
        params.cropProfileByProductYield = this.storeParameters.cropByProductTargetYield
      }

      // Soil
      if (this.storeParameters.soilDataIsUsed) {
        params.soil = {
          density: this.storeParameters.soilDensity.name,
          ph: this.storeParameters.soilPH,
          p: this.storeParameters.soilPhosphorusContent,
          k: this.storeParameters.soilPotassiumContent,
          mg: this.storeParameters.soilMagnesiumContent
        }
      }

      // NVZ
      if (this.storeParameters.isInNVZ) {
        params.soilNitrogenMineralizationId = this.storeParameters.soilNitrogenMineralization.id
        params.growingSeasonDuration = this.storeParameters.growingSeasonDuration
      }

      // Fertilizations
      params.fertilizations = this.storeFertilizations.map(fertilization => ({
        fertilizer_id: fertilization.fertilizer.id,
        fertilizer_year_id: fertilization.fertilizerYear?.id,
        quantity: fertilization.fertilizerQuantity
      }))

      return params
    },
    balanceItems () {
      return this.storeResults.recommendations
    },
    storeParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    storeResults: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.results
      },
      set (v) {
        this.updateParameter('results', v)
      }
    },
    storeFertilizations: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilizations || []
      },
      set (v) {
        this.updateParameter('fertilizations', v)
      }
    },
    initialFertilizations () {
      // return a copy of the store as we handle updates in the method onFertilizationsUpdate
      return this.storeFertilizations.map(storeFertilization => ({
        id: storeFertilization.id,
        fertilizerType: storeFertilization.fertilizerType,
        fertilizer: storeFertilization.fertilizer,
        fertilizerYear: storeFertilization.fertilizerYear,
        fertilizerQuantity: storeFertilization.fertilizerQuantity
      }))
    },
    fertilizations () {
      return this.nutrientBalance?.fertilizations || []
    },
    results () {
      return this.storeParameters.results
    },
    fertilizationPlanParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    fertilizationPlanTarget () {
      return this.$store.state.fertilizationPlan.target
    },
    fertilizationPlanResults () {
      return {
        plot_id: this.plot.id,
        plot_name: this.plot.name,
        plant_species_id: this.fertilizationPlanParameters.cropProfile.id,
        plant_species_name: this.fertilizationPlanParameters.cropProfile.name,
        crop_main_product_name: this.fertilizationPlanParameters.cropMainProduct.name,
        crop_yield: this.fertilizationPlanParameters.cropMainProductTargetYield,
        crop_yield_unit_of_measure_id: this.unitOfMeasures.TON_PER_HECTARE,
        crop_by_product_name: this.fertilizationPlanParameters.cropByProduct?.name,
        crop_by_product_yield: this.fertilizationPlanParameters.cropByProductTargetYield,
        element_recommendations: this.fertilizationPlanParameters.results.recommendations
      }
    }
  },
  async mounted () {
    // Load data from cache (or online if not in cache)
    await this.loadData('cache-first')

    // Refresh online data (do not wait until completion)
    this.loadData('network-only')
  },
  methods: {
    onClickSavePlan () {
      this.savePlan(this.fertilizationPlanResults)
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'kalkulackyHnojenieOrganicFertilization'
      })
    },
    async computeNutrientBalance (fetchPolicy) {
      try {
        this.computing = true

        const { data } = await this.$apollo.query({
          query: queryKalkulackyHnojenieComputeNutrientBalance,
          variables: this.computeNutrientBalanceParams,
          fetchPolicy
        })
        this.nutrientBalance = data?.nutrientBalance

        const chemicalElements = ['n', 'p', 'k', 'ca', 'mg']

        const recommendations = []
        for (const chemicalElement of chemicalElements) {
          const chemicalElementId = chemicalElement.toUpperCase()
          const chemicalElementRecommendations = [{
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_extraction_main_product[chemicalElement],
            result_type: resultTypes.MAIN_PRODUCT_EXTRACTION
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_extraction_byproduct?.[chemicalElement],
            result_type: resultTypes.BY_PRODUCT_EXTRACTION
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_n_biological_fixation[chemicalElement],
            result_type: resultTypes.BIOLOGICAL_FIXATION
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_n_soil_mineralization[chemicalElement],
            result_type: resultTypes.SOIL_MINERALIZATION
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_requirements[chemicalElement],
            result_type: resultTypes.RECOMMENDATION
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_applied[chemicalElement],
            result_type: resultTypes.PLANNED
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_balance[chemicalElement],
            result_type: resultTypes.BALANCE
          }]
          recommendations.push(...chemicalElementRecommendations)
        }

        this.storeResults = { recommendations }
      } catch (e) {
        console.error('Could not compute nutrient balance', e)
        this.error = e
      } finally {
        this.computing = false
      }
    },
    async loadFertilizers (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryKalkulackyHnojenieFertilizer,
        fetchPolicy
      })
      this.fertilizers = data?.fertilizers
    },
    onFertilizationsUpdate (fertilizations) {
      this.storeFertilizations = [...fertilizations]
      this.computeNutrientBalance('network-only')
    },
    loadData (fetchPolicy) {
      return Promise.all([
        this.loadFertilizers(fetchPolicy),
        this.computeNutrientBalance(fetchPolicy)
      ])
    }
  }
}
</script>
