<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
        <div
          class="page-subtitle"
          v-if="pageSubTitle"
        >
          {{ pageSubTitle }}
        </div>
      </template>

      <q-card
        :square="!isDesktopPlatform"
        class="column no-wrap col"
      >
        <q-banner
          class="bg-grey-3 text-grey-8 q-mb-md"
        >
          <translate>The following balance show the requirements still needed after the organic fertilization. </translate>
        </q-banner>

        <q-card-section v-if="computing">
          <div>
            <div
              class="column flex-center"
              style="height: 100%;"
            >
              <q-spinner
                color=""
                size="3em"
              />
              <translate>Updating nutrient balance...</translate>
            </div>
          </div>
        </q-card-section>

        <q-card-section v-else-if="error">
          <div>
            <translate>
              There were some errors while updating the nutrient balance.
            </translate>

            <p
              v-html="error"
              class="q-mt-md"
            />
          </div>
        </q-card-section>

        <div v-else-if="nutrientBalance">
          <KalkulackyHnojenieNutrientBalance
            :balance-items="balanceItems"
            simplified
          />

          <KalkulackyHnojenieFertilizationsCard
            :initial-fertilizations="initialFertilizations"
            :fertilizer-options="organicFertilizerOptions"
            fertilizer-type="organic"
            @on-update="onOrganicFertilizationsUpdate"
            class="q-mt-md"
          />
        </div>

        <!-- buttons -->
        <q-card-section class="q-mt-auto">
          <q-card-actions
            class="q-pa-none"
            vertical
            align="stretch"
          >
            <q-btn
              color="primary"
              text-color="white"
              :disable="!canContinue"
              @click="onClickNext"
            >
              <translate>Mineral fertilization</translate>
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="onClickPrevious"
            >
              <translate>Previous</translate>
            </q-btn>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import queryKalkulackyHnojenieComputeNutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/kalkulacky-hnojenie/graphql/queryKalkulackyHnojenieComputeNutrientBalance'
import queryKalkulackyHnojenieFertilizer from 'src/pages/fieldbook/fertilization/algorithms/kalkulacky-hnojenie/graphql/queryKalkulackyHnojenieFertilizer'
import KalkulackyHnojenieNutrientBalance from 'src/pages/fieldbook/fertilization/algorithms/kalkulacky-hnojenie/components/KalkulackyHnojenieNutrientBalance'
import KalkulackyHnojenieFertilizationsCard from 'src/pages/fieldbook/fertilization/algorithms/kalkulacky-hnojenie/components/KalkulackyHnojenieFertilizationsCard'
import { resultTypes } from 'src/services/fieldbook/fertilization/fertilizationPlan'

export default {
  name: 'KalkulackyHnojenieOrganicFertilizationPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    KalkulackyHnojenieNutrientBalance,
    KalkulackyHnojenieFertilizationsCard
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilizationPlanMixin],
  data () {
    return {
      computing: false,
      nutrientBalance: null,
      error: null,
      fertilizers: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Organic fertilization')
    },
    pageSubTitle () {
      return 'Kalkulacky Hnojenie'
    },
    plot () {
      return this.$store.state.fertilizationPlan.target
    },
    loading () {
      return !this.fertilizers
    },
    canContinue () {
      return true
    },
    organicFertilizerOptions () {
      if (!this.fertilizers) {
        return []
      } else {
        return this.fertilizers.filter(fertilizer => fertilizer.is_active && fertilizer.is_organic)
      }
    },
    initialFertilizations () {
      // return a copy of the store as we handle updates in the method onOrganicFertilizationsUpdate
      return this.storeFertilizations
        .filter(fertilization => fertilization.fertilizerType === 'organic')
        .map(fertilization => ({ ...fertilization }))
    },
    computeNutrientBalanceParams () {
      const params = {}

      // Crop profile
      params.preFertilizationEffect = this.storeParameters.preFertilizationEffect.name
      params.cropProfileMainProductId = this.storeParameters.cropMainProduct.id
      params.cropProfileMainProductYield = this.storeParameters.cropMainProductTargetYield

      if (this.storeParameters.cropByProduct?.id) {
        params.cropProfileByProductId = this.storeParameters.cropByProduct.id
        params.cropProfileByProductYield = this.storeParameters.cropByProductTargetYield
      }

      // Soil
      if (this.storeParameters.soilDataIsUsed) {
        params.soil = {
          density: this.storeParameters.soilDensity.name,
          ph: this.storeParameters.soilPH,
          p: this.storeParameters.soilPhosphorusContent,
          k: this.storeParameters.soilPotassiumContent,
          mg: this.storeParameters.soilMagnesiumContent
        }
      }

      // NVZ
      if (this.storeParameters.isInNVZ) {
        params.soilNitrogenMineralizationId = this.storeParameters.soilNitrogenMineralization.id
        params.growingSeasonDuration = this.storeParameters.growingSeasonDuration
      }

      // Fertilizations
      params.fertilizations = this.storeFertilizations
        .filter(fertilization => fertilization.fertilizerType === 'organic')
        .map(fertilization => ({
          fertilizer_id: fertilization.fertilizer.id,
          fertilizer_year_id: fertilization.fertilizerYear?.id,
          quantity: fertilization.fertilizerQuantity
        }))

      return params
    },
    balanceItems () {
      return this.storeResults.recommendations
    },
    storeParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    storeResults: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.results
      },
      set (v) {
        this.updateParameter('results', v)
      }
    },
    storeFertilizations: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilizations || []
      },
      set (v) {
        this.updateParameter('fertilizations', v)
      }
    }
  },
  async mounted () {
    // Load data from cache (or online if not in cache)
    await this.loadData('cache-first')

    // Refresh online data (do not wait until completion)
    this.loadData('network-only')
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'kalkulackyHnojenieMineralFertilization'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'kalkulackyHnojenieNutrientRequirements'
      })
    },
    async computeNutrientBalance (fetchPolicy) {
      try {
        this.computing = true

        const { data } = await this.$apollo.query({
          query: queryKalkulackyHnojenieComputeNutrientBalance,
          variables: this.computeNutrientBalanceParams,
          fetchPolicy
        })
        this.nutrientBalance = data?.nutrientBalance

        const chemicalElements = ['n', 'p', 'k', 'ca', 'mg']

        const recommendations = []
        for (const chemicalElement of chemicalElements) {
          const chemicalElementId = chemicalElement.toUpperCase()
          const chemicalElementRecommendations = [{
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_extraction_main_product[chemicalElement],
            result_type: resultTypes.MAIN_PRODUCT_EXTRACTION
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_extraction_byproduct?.[chemicalElement],
            result_type: resultTypes.BY_PRODUCT_EXTRACTION
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_n_biological_fixation[chemicalElement],
            result_type: resultTypes.BIOLOGICAL_FIXATION
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_n_soil_mineralization[chemicalElement],
            result_type: resultTypes.SOIL_MINERALIZATION
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_requirements[chemicalElement],
            result_type: resultTypes.RECOMMENDATION
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_applied[chemicalElement],
            result_type: resultTypes.PLANNED
          }, {
            chemical_element_id: chemicalElementId,
            quantity: this.nutrientBalance.nutrient_balance[chemicalElement],
            result_type: resultTypes.BALANCE
          }]
          recommendations.push(...chemicalElementRecommendations)
        }

        this.storeResults = { recommendations }
      } catch (e) {
        console.error('Could not compute nutrient balance', e)
        this.error = e
      } finally {
        this.computing = false
      }
    },
    async loadFertilizers (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryKalkulackyHnojenieFertilizer,
        fetchPolicy
      })
      this.fertilizers = data?.fertilizers
    },
    onOrganicFertilizationsUpdate (organicFertilizations) {
      const mineralFertilizations = this.storeFertilizations.filter(fertilization => fertilization.fertilizerType === 'mineral')
      this.storeFertilizations = [...organicFertilizations, ...mineralFertilizations]
      this.computeNutrientBalance('network-only')
    },
    loadData (fetchPolicy) {
      return Promise.all([
        this.loadFertilizers(fetchPolicy),
        this.computeNutrientBalance(fetchPolicy)
      ])
    }
  }
}
</script>
