<template>
  <q-card
    :square="!isDesktopPlatform"
  >
    <q-card-section>
      <div class="row">
        <div class="col-4">
          <translate class="col d-block text-subtitle1">
            Weather
          </translate>
        </div>
        <div class="col-7 row items-center justify-end">
          <div
            v-if="locationName"
            class="text-small text-grey ellipsis"
            style="max-width: 100px"
          >
            {{ locationName }}
          </div>
          <div
            v-if="computedAt"
            class="text-small text-grey"
          >
            <span
              v-if="locationName"
              class="q-mx-sm"
            >|</span>{{ computedAt }}
          </div>
          <q-btn
            v-if="origins && !error"
            class="q-ml-sm d-block"
            icon="la la-info-circle"
            flat
            dense
            color="secondary"
            size="sm"
            @click="originsDialogVisible = true"
          />
          <q-btn
            v-if="error"
            class="q-ml-sm d-block"
            icon="las la-exclamation-triangle"
            flat
            dense
            color="warning"
            size="sm"
            @click="errorDialogVisible = true"
          />
        </div>
        <div
          class="col-1 row items-center justify-end"
          v-if="hasWeatherDetails"
        >
          <q-btn
            flat
            dense
            class="q-pr-none"
            icon="la la-angle-right d-block"
            @click="dialogVisible = true"
          />
        </div>
      </div>
    </q-card-section>

    <q-card-section v-if="loading">
      <div
        class="full-width text-center"
      >
        <q-spinner-dots
          size="40px"
          color="primary"
        />
      </div>
    </q-card-section>

    <q-card-section
      v-else-if="weather"
      class="q-pa-none q-pb-md row no-wrap"
      :class="{
        'justify-around': hasEnoughDays || !isDesktopPlatform,
        'justify-center': !hasEnoughDays && isDesktopPlatform,
        'q-gutter-lg': !hasEnoughDays && isDesktopPlatform
      }"
    >
      <template v-if="!weather.forecasts_implemented || forecastsByDayToShow.length === 0">
        <div class="q-px-md">
          <translate>No data available</translate>
        </div>
      </template>

      <div
        v-else
        v-for="forecast in forecastsByDayToShow"
        :key="forecast.id"
        style="width: 80px; flex-shrink: 0;"
      >
        <div
          class="column items-center"
        >
          <img
            :src="forecast.icon"
            draggable="false"
            width="45"
            class="block"
          >
          <div class="q-mb-sm text-capitalize">
            {{ forecast.day_of_week }}
          </div>
          <div
            class="text-grey"
            style="white-space: nowrap"
          >
            <span class="text-primary">{{ formatTemperature(forecast.temperature_min) }}</span><span class="text-red q-ml-sm">{{ formatTemperature(forecast.temperature_max) }}</span>
          </div>
          <div
            class="text-small text-info"
            v-if="showPrecipitation(forecast.precipitation_probability, forecast.precipitation_intensity)"
          >
            <WeatherPrecipitationText
              :probability="forecast.precipitation_probability"
              :intensity="forecast.precipitation_intensity"
            />
          </div>
          <div
            class="text-small text-info"
            v-if="showWind(forecast.wind_speed)"
          >
            <WeatherWindText
              :wind-speed="forecast.wind_speed"
              :wind-bearing="forecast.wind_bearing"
            />
          </div>
        </div>
      </div>
    </q-card-section>

    <q-dialog v-model="originsDialogVisible">
      <q-card>
        <WeatherOrigins :origins="origins" />

        <q-card-actions align="right">
          <q-btn
            flat
            :label="$gettext('OK')"
            color="primary"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="errorDialogVisible">
      <q-card>
        <q-card-section>
          <div>
            <translate>An error occurred while retrieving the weather.</translate>
          </div>
          <div
            v-if="weather"
            class="q-mt-md"
          >
            <translate>The weather displayed may not be up to date.</translate>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            :label="$gettext('OK')"
            color="primary"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog
      v-if="hasWeatherDetails"
      :model-value="dialogVisible"
      :maximized="!isDesktopPlatform"
      transition-show="slide-left"
      transition-hide="slide-right"
      @hide="dialogVisible = false"
    >
      <q-card
        :square="!isDesktopPlatform"
        class="column no-wrap weather-card"
        :class="{ 'weather-dialog-desktop': isDesktopPlatform }"
      >
        <q-card-section>
          <div class="text-h6">
            <translate>Weather</translate>
          </div>
          <div class="row text-grey items-center justify-start">
            <div
              v-if="locationName"
              class="ellipsis"
              style="max-width: 70%"
            >
              {{ locationName }}
            </div>
            <div
              v-if="computedAt"
            >
              <span
                v-if="locationName"
                class="q-mx-sm"
              >|</span>{{ computedAt }}
            </div>
          </div>
        </q-card-section>

        <WeatherDetails :forecasts-by-day="forecastsByDay" />

        <WeatherOrigins :origins="origins" />

        <q-card-actions
          vertical
          class="q-mt-auto"
        >
          <q-btn
            flat
            text-color="primary"
            @click="dialogVisible = false"
          >
            <translate>Close</translate>
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import WeatherDetails from 'src/pages/home/feed/weather/WeatherDetails'
import WeatherOrigins from 'src/pages/home/feed/weather/WeatherOrigins'
import WeatherPrecipitationText from 'src/pages/home/feed/weather/WeatherPrecipitationText'
import WeatherWindText from 'src/pages/home/feed/weather/WeatherWindText'
import queryWeatherBySiteCentroid from 'src/pages/home/feed/weather/graphql/queryWeatherBySiteCentroid'

const MOBILE_NUMBER_OF_DAYS = 4
const DESKTOP_NUMBER_OF_DAYS = 7

export default {
  name: 'WeatherCard',
  mixins: [PlatformMixin, DateMixin],
  components: {
    WeatherDetails,
    WeatherOrigins,
    WeatherPrecipitationText,
    WeatherWindText
  },
  data () {
    return {
      dialogVisible: false,
      originsDialogVisible: false,
      errorDialogVisible: false,
      error: null
    }
  },
  apollo: {
    weather: {
      query: queryWeatherBySiteCentroid,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          centroid: JSON.stringify(this.holdingCampaignCentroid),
          intervalType: 'day'
        }
      },
      result ({ error }) {
        if (error) {
          this.error = error
        } else {
          this.error = null
        }
      },
      skip () {
        return !this.holdingCampaignCentroid
      }
    }
  },
  computed: {
    holdingCampaignCentroid () {
      return this.$store.state.fastplatform.holdingCampaign.centroid
    },
    loading () {
      return !this.holdingCampaignCentroid || (!this.weather && this.$apollo.queries.weather.loading)
    },
    hasWeatherDetails () {
      if (!this.weather?.forecasts?.length) {
        return false
      } else if (this.weather.forecasts.length > this.numberOfDays) {
        // show details if more days are available
        return true
      } else {
        // or if more details than temperatures are available
        for (const forecast of this.weather.forecasts) {
          if (forecast && (forecast.precipitation_probability !== null || forecast.precipitation_intensity !== null || forecast.wind_speed !== null)) {
            return true
          }
        }
        return false
      }
    },
    forecastsByDay () {
      if (this.weather?.forecasts?.length) {
        const MAX_DAYS = this.$q.screen.height >= 600 ? 10 : 9
        const weatherForecasts = this.weather.forecasts
          .filter(forecast => forecast.interval_type === 'day')
          .filter(forecast => new Date(forecast.valid_to) >= new Date())
          .sort((a, b) => a.valid_from - b.valid_from)
          .slice(0, MAX_DAYS)

        const weatherForecastsByDay = weatherForecasts.map(sample => {
          const day = new Date((new Date(sample.valid_from).getTime() + new Date(sample.valid_to).getTime()) / 2)
          let dayOfWeek = new Intl.DateTimeFormat(
            this.$store.state.fastplatform.preferredLanguage,
            { weekday: 'short' }).format(day)
          const dayOfMonth = new Intl.DateTimeFormat(
            this.$store.state.fastplatform.preferredLanguage,
            { day: 'numeric' }).format(day)

          dayOfWeek = `${dayOfWeek} ${dayOfMonth}`

          let icon = null
          if (sample.icon) {
            try {
              const iconName = sample.icon.replaceAll('_', '-') + '.svg'
              icon = require('../../../../assets/weather/' + iconName)
            } catch {
              console.error('Could not load weather icon', sample.icon)
              icon = require('../../../../assets/weather/other.svg')
            }
          }
          return { ...sample, day_of_week: dayOfWeek, day, icon }
        })
        // check that all or none icons are defined
        const dayWithoutIcons = weatherForecastsByDay.filter(forecast => !forecast.icon)
        if (dayWithoutIcons.length < weatherForecastsByDay.length) {
          // when some icons are missing, replace them by blank icon
          dayWithoutIcons.forEach(forecast => {
            forecast.icon = require('../../../../assets/weather/other.svg')
          })
        }
        return weatherForecastsByDay
      } else {
        return []
      }
    },
    forecastsByDayToShow () {
      return this.forecastsByDay.slice(0, this.numberOfDays)
    },
    numberOfDays () {
      return this.isDesktopPlatform ? DESKTOP_NUMBER_OF_DAYS : MOBILE_NUMBER_OF_DAYS
    },
    hasEnoughDays () {
      return this.forecastsByDay.length >= this.numberOfDays
    },
    origins () {
      const uniqueOrigins = {}
      if (this.weather?.forecasts?.length) {
        this.weather.forecasts
          .forEach(forecast => {
            uniqueOrigins[forecast.origin.name] = forecast.origin.url
          })
      }
      return uniqueOrigins
    },
    locationName () {
      if (this.weather?.forecasts?.length) {
        return this.weather.forecasts[0].location.name
      } else {
        return null
      }
    },
    computedAt () {
      if (this.weather?.forecasts?.length) {
        return this.displayHourIfTodayElseDate(this.weather.forecasts[0].computed_at)
      } else {
        return null
      }
    }
  },
  methods: {
    formatTemperature (temp) {
      if (temp === Infinity || temp === -Infinity) {
        return ''
      } else {
        return Math.round(Number(temp)) + '°'
      }
    },
    showPrecipitation (probability, intensity) {
      return (probability !== null && probability > 0) || (intensity !== null && intensity > 0)
    },
    showWind (windSpeed) {
      return (windSpeed !== null && windSpeed > 0)
    }
  }
}
</script>

<style scoped>
.weather-dialog-desktop {
  min-width: 600px;
}
.weather-card {
  overflow-x: hidden
}
</style>
