<template>
  <div>
    <q-icon
      v-if="windBearing !== null"
      name="la la-location-arrow"
      size="12px"
      :style="iconRotationStyle"
    />
    <q-icon
      v-else
      name="la la-wind"
      size="12px"
    />
    <span style="padding-left: 4px">{{ label }}</span>
  </div>
</template>

<script>
import { computed } from 'vue'
import { useGettext } from '@jshmrtn/vue3-gettext'

export default {
  name: 'WeatherWindText',
  props: {
    windSpeed: {
      type: Number,
      default: null
    },
    windBearing: {
      type: Number,
      default: null
    },
    windGust: {
      type: Number,
      default: null
    }
  },
  setup (props) {
    const { $gettext } = useGettext()

    const label = computed(() => {
      const { windSpeed, windGust } = props
      if (windSpeed === null) {
        return null
      }
      const roundedWindSpeedInKmPerHour = Math.round(windSpeed * 3600 / 1000)
      let label = `${roundedWindSpeedInKmPerHour} ${$gettext('km/h')}`
      if (windGust !== null && windGust > 0) {
        const roundedWindGustInKmPerHour = Math.round(windGust * 3600 / 1000)
        label += ` (${roundedWindGustInKmPerHour} ${$gettext('km/h')})`
      }
      return label
    })

    const iconRotationStyle = computed(() => {
      const { windBearing } = props
      if (windBearing === null) {
        return null
      }
      const roundedWindBearing = Math.round((windBearing + 180) % 360)
      return `transform: rotate(${roundedWindBearing}deg);`
    })

    return { label, iconRotationStyle }
  }
}
</script>
