<template>
  <q-item>
    <q-item-section side>
      <q-icon
        name="las la-exclamation-triangle"
        color="warning"
      />
    </q-item-section>
    <q-item-section>
      <q-item-label class="text-h6 text-warning">
        {{ value }} {{ unit }}
      </q-item-label>
      <q-item-label
        v-if="comment"
        caption
      >
        {{ comment }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'NitrogenLimitListItem',
  props: {
    value: {
      type: Number,
      required: true
    },
    unit: {
      type: String,
      default: null
    },
    comment: {
      type: String,
      default: null
    }
  }
}
</script>
