<template>
  <div class="text-body2 text-grey-7">
    <div v-if="plotPlantVariety">
      <translate>We could not determine any nitrogen limitation for this plot with the following crop:</translate>
      <q-item class="q-pa-none">
        <q-item-section side>
          <q-icon name="la la-pagelines" />
        </q-item-section>

        <q-item-section>
          <q-item-label>
            {{ cropName }}
            <span
              v-if="cropYield"
              class="q-ml-xs"
            >
              {{ cropYield }}
            </span>
          </q-item-label>
          <q-item-label
            v-if="isInNVZ"
            caption
          >
            The plot is located inside a Nitrate Vulnerable Zone.
          </q-item-label>
          <q-item-label
            v-else
            caption
          >
            The plot is not located inside a Nitrate Vulnerable Zone.
          </q-item-label>
        </q-item-section>
      </q-item>
      <p>
        <translate>You should refer to your local regulations for guidance.</translate>
      </p>
    </div>

    <div v-else>
      <q-icon
        name="la la-exclamation-circle"
        class="q-pr-xs"
        style="margin-top: -2px"
      />
      <span>
        <translate>We could not determine any nitrogen limitation for this plot.</translate>
      </span>
      <p>
        <translate>You should refer to your local regulations for guidance.</translate>
      </p>
    </div>
  </div>
</template>

<script>
import { formatYield } from 'src/services/display-surface-unit'

export default {
  name: 'NitrogenLimitationNoResult',
  props: {
    plotPlantVariety: {
      type: Object,
      default: null
    },
    isInNVZ: {
      type: Boolean,
      default: null
    }
  },
  computed: {
    cropName () {
      return this.plotPlantVariety?.plant_variety?.plant_species?.name
    },
    cropYield () {
      return formatYield(this.plotPlantVariety?.crop_yield)
    }
  }
}
</script>
