<template>
  <q-card :square="!isDesktopPlatform">
    <div
      v-if="loading"
      class="column flex-center"
    >
      <q-spinner-dots
        color="primary"
        size="24px"
        class="q-ma-md"
      />
    </div>

    <template v-else-if="plot">
      <SoilSitesCard
        :plot-id="plot.id"
        :plot-geometry="plot.geometry"
      />
    </template>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import SoilSitesCard from 'src/pages/holding-campaign/soil-site/components/SoilSitesCard'
import queryPlotGeometry from 'src/pages/holding-campaign/graphql/queryPlotGeometry'

export default {
  name: 'PlotSoilSitesCard',
  mixins: [
    PlatformMixin
  ],
  components: {
    SoilSitesCard
  },
  props: {
    plotId: {
      type: Number,
      required: true
    }
  },
  computed: {
    loading () {
      return !this.plot && this.$apollo.queries.plot.loading
    }
  },
  apollo: {
    plot: {
      query: queryPlotGeometry,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          plotId: this.plotId
        }
      }
    }
  }
}
</script>
