<template>
  <q-card
    :square="!isDesktopPlatform"
  >
    <div
      v-if="loading"
      class="column flex-center"
    >
      <q-card-section>
        <q-spinner-dots
          color="primary"
          size="24px"
        />
      </q-card-section>
    </div>

    <template v-else-if="plot">
      <template v-if="photos.length > 0">
        <PhotosPreviewList
          :photos="photos"
          @photo-deleted="onPhotoDeleted"
        />
      </template>
      <q-card-section
        class="text-body2 text-grey"
        v-else
      >
        <translate>No photos</translate>
      </q-card-section>
    </template>

    <q-card-actions
      v-if="showTakePhoto"
      align="right"
    >
      <q-btn
        color="primary"
        class="q-mr-sm q-mb-sm"
        outline
        @click="takePhoto"
      >
        <q-icon
          name="las la-camera"
          class="q-mr-sm"
        />
        <translate>
          Take a photo
        </translate>
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import PhotosPreviewList from 'src/pages/photos/components/PhotosPreviewList'
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import queryPlotPhotos from 'src/pages/holding-campaign/plot/graphql/queryPlotPhotos'
import { uploadServiceInstance } from 'src/services/photo/upload'
import { isUserMediaAvailable } from 'src/services/photo/camera'
import featureFlags from 'src/services/feature-flags'

export default {
  name: 'PlotPhotosCard',
  components: {
    PhotosPreviewList
  },
  mixins: [
    PlatformMixin
  ],
  props: {
    plotId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      localPhotos: []
    }
  },
  computed: {
    loading () {
      return !this.plot && this.$apollo.queries.plot.loading
    },
    lookForLocalPhotos () {
      return this.isMobileApp
    },
    photos () {
      if (this.plot?.geo_tagged_photos) {
        return [
          ...this.plot.geo_tagged_photos,
          ...this.localPhotos
        ]
      } else {
        return []
      }
    },
    canTakePhoto () {
      return featureFlags.canTakePhoto()
    },
    isCameraAvailable () {
      return this.isMobileApp || isUserMediaAvailable()
    },
    showTakePhoto () {
      return this.canTakePhoto && this.isCameraAvailable
    }
  },
  apollo: {
    plot: {
      query: queryPlotPhotos,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          plotId: this.plotId
        }
      }
    }
  },
  mounted () {
    // get the local photos (only for mobile app version)
    this.getLocalPhotos()
  },
  methods: {
    onPhotoDeleted (photo) {
      // remove element from the localPhotos var
      const localPhotoIndex = this.localPhotos.findIndex(p => p.file_name === photo.file_name)
      this.localPhotos.splice(localPhotoIndex, 1)
    },
    async getLocalPhotos () {
      if (this.lookForLocalPhotos) {
        // return the photos that are not yet uploaded
        const res = await uploadServiceInstance.listPhotosToUploadByPlot(this.plotId)
        if (res.error) {
          console.error('Could not retrieve local photos', res.error)
        } else {
          if (res.photos.length > 0) {
            this.localPhotos = res.photos
          }
        }
      }
    },
    takePhoto () {
      this.$router.push({
        name: 'takePhoto',
        params: {
          plotId: this.plotId
        }
      })
    }
  }
}
</script>
