<template>
  <q-form @submit="onSubmit">
    <q-card
      :square="!isDesktopPlatform"
      class="column no-wrap col"
    >
      <q-card-section>
        <div>
          <q-input
            v-model="name"
            :placeholder="$gettext('Type a name')"
            :rules="[ val => val && val.trim().length > 0 || $gettext('Enter a name')]"
            filled
          />
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="row justify-end items-center">
          <q-btn
            :label="$gettext('Cancel')"
            flat
            @click="onCancel"
          />
          <q-btn
            :label="$gettext('Save')"
            color="primary"
            type="submit"
          />
        </div>
      </q-card-section>
    </q-card>
  </q-form>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'

export default {
  name: 'PlotEditForm',
  mixins: [
    PlatformMixin
  ],
  props: {
    plot: {
      type: Object,
      default: null
    }
  },
  emits: ['on-save', 'on-cancel', 'on-delete'],
  data () {
    return {
      name: this.plot?.name
    }
  },
  methods: {
    onSubmit () {
      if (this.name) {
        this.$emit('on-save', this.name)
      }
    },
    onCancel () {
      this.$emit('on-cancel')
    },
    onDelete () {
      this.$emit('on-delete')
    }
  }
}
</script>
