<template>
  <q-card :square="!isDesktopPlatform">
    <div
      v-if="loading"
      class="column flex-center"
    >
      <q-card-section>
        <q-spinner-dots
          color="primary"
          size="24px"
        />
      </q-card-section>
    </div>

    <q-list
      v-else-if="sortedPlotPlantVarieties && sortedPlotPlantVarieties.length"
      separator
    >
      <q-item
        v-for="plotPlantVariety in sortedPlotPlantVarieties"
        :key="plotPlantVariety.id"
        :clickable="plotPlantVarietyCanBeEdited"
        v-ripple
        @click="onEditCrop(plotPlantVariety)"
      >
        <q-item-section
          side
        >
          <q-icon
            name="la la-pagelines"
            size="md"
            color="dark"
          />
        </q-item-section>

        <q-item-section class="text-body2">
          <q-item-label lines="1">
            {{ displayPlantSpeciesName(plotPlantVariety.plant_variety.plant_species) }}
          </q-item-label>
          <q-item-label
            caption
            v-if="formatPlotPlantVariety(plotPlantVariety.plant_variety) && displayPlantSpeciesName(plotPlantVariety.plant_variety.plant_species) != formatPlotPlantVariety(plotPlantVariety.plant_variety)"
          >
            {{ formatPlotPlantVariety(plotPlantVariety.plant_variety) }}
          </q-item-label>
          <q-item-label
            caption
            v-if="plotPlantVarietyMultipleEnabled && plotPlantVariety.percentage"
          >
            <translate>Plot area usage:</translate> {{ plotPlantVariety.percentage }}%
          </q-item-label>
          <q-item-label
            caption
            v-if="plotPlantVariety.crop_yield"
          >
            {{ displayCropYield(plotPlantVariety.crop_yield) }}
          </q-item-label>
          <q-item-label
            caption
            v-if="plotPlantVariety.irrigation_method"
          >
            <translate>Irrigation method:</translate> {{ displayIrrigationMethodLabel(plotPlantVariety.irrigation_method) }}
          </q-item-label>
        </q-item-section>

        <q-item-section
          v-if="plotPlantVarietyCanBeEdited"
          side
          top
        >
          <q-icon
            name="las la-angle-right"
            class="q-mt-auto q-mb-auto"
          />
        </q-item-section>
      </q-item>
    </q-list>

    <q-card-section
      v-else
      class="text-body2 text-grey"
    >
      <translate>No crops assigned</translate>
    </q-card-section>
    <q-card-actions
      v-if="showAssignCropButton"
      align="right"
    >
      <q-btn
        outline
        color="primary"
        @click="onAddCrop"
        class="q-mr-sm q-mb-sm"
      >
        <translate>
          Assign crop
        </translate>
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import { formatPlotPlantVariety, getSortedPlotPlantVarieties } from 'src/services/plot/plotFormatting'
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import featureFlags from 'src/services/feature-flags'
import queryPlotCrops from 'src/pages/holding-campaign/plot/graphql/queryPlotCrops'
import { getI18nField } from 'src/services/translate'
import { formatYield } from 'src/services/display-surface-unit'

export default {
  name: 'PlotCropsCard',
  mixins: [
    PlatformMixin
  ],
  props: {
    plotId: {
      type: Number,
      required: true
    }
  },
  computed: {
    plotPlantVarieties () {
      return this.plot?.plot_plant_varieties
    },
    sortedPlotPlantVarieties () {
      return getSortedPlotPlantVarieties(this.plotPlantVarieties)
    },
    plotPlantVarietyCanBeAdded () {
      return featureFlags.plotPlantVarietyCanBeAdded()
    },
    plotPlantVarietyCanBeEdited () {
      return featureFlags.plotPlantVarietyCanBeEdited()
    },
    plotPlantVarietyMultipleEnabled () {
      return featureFlags.plotPlantVarietyMultipleEnabled()
    },
    loading () {
      return !this.plot && this.$apollo.queries.plot.loading
    },
    showAssignCropButton () {
      return this.plotPlantVarietyCanBeAdded && (this.plotPlantVarietyMultipleEnabled || !this.plotPlantVarieties?.length)
    }
  },
  apollo: {
    plot: {
      query: queryPlotCrops,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          plotId: this.plotId
        }
      }
    }
  },
  methods: {
    onEditCrop (plotPlantVariety) {
      this.$router.push({ name: 'plotCropEdit', params: { idPlot: this.plotId, idCrop: plotPlantVariety.id } })
    },
    onAddCrop () {
      this.$router.push({ name: 'plotCropEdit', params: { idPlot: this.plotId } })
    },
    formatPlotPlantVariety (plantVariety) {
      return formatPlotPlantVariety(plantVariety)
    },
    displayPlantSpeciesName (plantSpecies) {
      return getI18nField(plantSpecies, 'name')
    },
    displayIrrigationMethodLabel (irrigationMetod) {
      return getI18nField(irrigationMetod, 'label')
    },
    displayCropYield (cropYield) {
      return formatYield(cropYield)
    }
  }
}
</script>
