<template>
  <q-card :square="!isDesktopPlatform">
    <q-tabs
      v-model="tab"
    >
      <q-tab
        :label="$gettext('Samples')"
        name="samples"
        v-if="canDisplaySoilSite"
      />
      <q-tab
        :label="$gettext('Estimate')"
        name="estimate"
        v-if="canDisplaySoilDerivedObject"
      />
    </q-tabs>
    <q-separator />
    <q-tab-panels
      v-model="tab"
    >
      <q-tab-panel
        name="samples"
        class="q-pa-none"
      >
        <PlotSoilSitesCard :plot-id="plotId" />
      </q-tab-panel>

      <q-tab-panel
        name="estimate"
        class="q-pa-none"
      >
        <PlotSoilDerivedCard :plot-id="plotId" />
      </q-tab-panel>
    </q-tab-panels>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'

import PlotSoilDerivedCard from 'src/pages/holding-campaign/plot/components/PlotSoilDerivedCard'
import PlotSoilSitesCard from 'src/pages/holding-campaign/plot/components/PlotSoilSitesCard'
import featureFlags from 'src/services/feature-flags'

export default {
  name: 'PlotSoilGroupCard',
  mixins: [PlatformMixin],
  components: {
    PlotSoilDerivedCard,
    PlotSoilSitesCard
  },
  props: {
    plotId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      tab: featureFlags.canDisplaySoilSite() ? 'samples' : (featureFlags.canDisplaySoilDerivedObject() ? 'estimate' : null)
    }
  },
  computed: {
    canDisplaySoilDerivedObject () {
      return featureFlags.canDisplaySoilDerivedObject()
    },
    canDisplaySoilSite () {
      return featureFlags.canDisplaySoilSite()
    }
  }
}
</script>
