<template>
  <div class="">
    <div class="row items-center">
      <q-input
        class="col"
        outlined=""
        :model-value="searchValue"
        @update:model-value="onUpdateSearchValue"
        :label="$gettext('Search')"
        :dense="dense"
        :debounce="200"
      >
        <template #prepend>
          <q-icon name="las la-search" />
        </template>
        <template
          v-if="searchValue"
          #append
        >
          <q-icon
            name="las la-times"
            @click.stop="$emit('new-search-value', '')"
            class="cursor-pointer"
          />
        </template>
      </q-input>
    </div>
    <div
      v-if="displayFilters"
      class="row flex-center q-pt-sm q-col-gutter-x-sm q-col-gutter-y-sm"
    >
      <template v-if="loading">
        <q-spinner-dots
          color="primary"
          size="40px"
        />
      </template>

      <template v-else-if="holdingCampaign">
        <SiteSelection
          v-if="holdingCampaign.sites && holdingCampaign.sites.length > 0"
          class="col-sm-6 col-xs-12 "
          :value="selectedSiteId"
          @update-site="onUpdateSiteSelection"
          :sites="holdingCampaign.sites"
          :dense="dense"
        />

        <template v-else>
          <translate>No Sites</translate>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
import SiteSelection from 'src/pages/holding-campaign/holding-campaign/components/SiteSelection'
import queryHoldingCampaignSites from 'src/pages/holding-campaign/plot/graphql/queryHoldingCampaignSites'

export default {
  name: 'SearchAndFilters',
  components: {
    SiteSelection
  },
  props: {
    holdingCampaignId: {
      type: Number,
      required: true
    },
    searchValue: {
      type: String,
      required: true
    },
    selectedSiteId: {
      type: Number,
      required: false,
      default: null
    },
    dense: {
      type: Boolean,
      default: false
    }
  },
  emits: ['new-search-value', 'new-selected-site-id'],
  data () {
    return {
      displayFilters: false
    }
  },
  apollo: {
    holdingCampaign: {
      query: queryHoldingCampaignSites,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          holding_campaign_id: this.holdingCampaignId
        }
      }
    }
  },
  computed: {
    loading () {
      return !this.holdingCampaign && !this.$apollo.queries.holdingCampaign.loading
    }
  },
  methods: {
    onUpdateSearchValue (value) {
      this.$emit('new-search-value', value)
    },
    onUpdateSiteSelection (siteId) {
      this.$emit('new-selected-site-id', siteId)
    }
  }
}
</script>
