<template>
  <GenericLayout>
    <template #header>
      <Header
        fastplatform-logo
        :title="pageTitle"
      />
    </template>
    <template #page-content>
      <div
        class="column flex-center text-grey"
        key="farm-loader"
      >
        <h6
          class="text-weight-regular"
        >
          <translate>
            Your token has been refreshed.
          </translate>
        </h6>
      </div>
    </template>
  </GenericLayout>
</template>
<script>
import GenericLayout from 'src/layouts/GenericLayout'

export default {
  name: 'IacsRefreshTokenPage',
  components: {
    GenericLayout
  }
}
</script>
