<template>
  <q-card
    :square="!isDesktopPlatform"
    class="relative-position"
    style="min-height: 60px;"
  >
    <div
      v-if="loading"
      class="column flex-center"
    >
      <q-spinner-dots
        color="primary"
        size="md"
      />
    </div>

    <template v-else>
      <FertilizationPlanList
        v-if="fertilizationPlans && fertilizationPlans.length"
        :fertilization-plans="fertilizationPlans"
      />

      <q-card-section
        v-else
        class="text-body2 text-grey"
      >
        <translate>No fertilizations plans for this campaign, yet.</translate>
      </q-card-section>
    </template>

    <q-card-section>
      <q-card-actions
        align="right"
        class="q-pa-none q-col-gutter-x-sm"
      >
        <div>
          <q-btn
            flat
            color="primary"
            v-if="!$apollo.queries.fertilizationPlansCount.loading && fertilizationPlansCount && fertilizationPlansCount > numberFertilizationPlansToDisplay"
            @click.stop="$router.push({name: 'fertilizationPlans'})"
          >
            <translate translate-context="Plural form. There is more than one plan.">
              View all %{fertilizationPlansCount} plans
            </translate>
          </q-btn>
        </div>
        <div>
          <NewFertilizationPlanButton />
        </div>
      </q-card-actions>
    </q-card-section>
  </q-card>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import FertilizationPlanList from 'src/pages/fieldbook/fertilization/components/FertilizationPlanList'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import queryFertilizationPlansByHoldingCampaignIdForSummary from 'src/pages/fieldbook/fertilization/graphql/queryFertilizationPlansByHoldingCampaignIdForSummary'
import queryFertilizationPlansByHoldingCampaignIdCount from 'src/pages/fieldbook/fertilization/graphql/queryFertilizationPlansByHoldingCampaignIdCount'
import NewFertilizationPlanButton from 'src/pages/fieldbook/fertilization/components/NewFertilizationPlanButton'

export default {
  name: 'FertilizationPlansSummaryCard',
  mixins: [
    PlatformMixin,
    FertilizationPlanMixin
  ],
  components: {
    FertilizationPlanList,
    NewFertilizationPlanButton
  },
  data () {
    return {
      numberFertilizationPlansToDisplay: 3
    }
  },
  computed: {
    loading () {
      return !this.fertilizationPlans && this.$apollo.queries.fertilizationPlans.loading
    }
  },
  apollo: {
    fertilizationPlans: {
      query: queryFertilizationPlansByHoldingCampaignIdForSummary,
      notifyOnNetworkStatusChange: true,
      update: data => data.fertilization_plan,
      variables () {
        return {
          holding_campaign_id: this.$store.state.fastplatform.holdingCampaign.id,
          limit: this.numberFertilizationPlansToDisplay
        }
      }
    },
    fertilizationPlansCount: {
      query: queryFertilizationPlansByHoldingCampaignIdCount,
      notifyOnNetworkStatusChange: true,
      update: data => data.fertilization_plan_aggregate.aggregate.count,
      variables () {
        return {
          holding_campaign_id: this.$store.state.fastplatform.holdingCampaign.id
        }
      }
    }
  }
}
</script>

<style scoped>
</style>
