<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-subtitle1">
          <translate>Display settings</translate>
        </div>
      </q-card-section>
      <q-card-section>
        <q-field
          v-if="showPKDisplayControl"
          label-slot
          stack-label
          borderless
          class="q-pa-none"
        >
          <template #control>
            <q-btn-toggle
              v-model="displayPKAsOxyde"
              :options="[{value: false, label:$gettext('Element')}, {value: true, label:$gettext('Oxyde')}]"
              toggle-color="primary"
              class="q-mt-sm "
            />
          </template>
          <template #label>
            <translate>Phosphorus and Potassium display type</translate>
          </template>
        </q-field>

        <q-field
          v-if="showBeforeAfterFertilizationControl"
          label-slot
          stack-label
          borderless
          class="q-pa-none q-mt-md "
          :class="{ 'display-settings-wrapping-control': $q.screen.lt.sm }"
        >
          <template #control>
            <q-btn-toggle
              v-model="includePlannedFertilization"
              :options="[{value: false, label: $gettext('No')}, {value: true, label: $gettext('Yes')}]"
              toggle-color="primary"
              class="q-mt-sm"
            />
          </template>
          <template #label>
            <translate>Include the planned fertilization in the recommendation</translate>
          </template>
        </q-field>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          color="primary"
          flat
          :label="$gettext('Close')"
          @click="onOKClick"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: 'FertilizationResultDisplaySettingsDialog',
  props: {
    showPKDisplayControl: {
      type: Boolean,
      default: false
    },
    showBeforeAfterFertilizationControl: {
      type: Boolean,
      default: false
    }
  },
  emits: ['hide', 'ok', 'cancel'],
  computed: {
    displayPKAsOxyde: {
      get () {
        return this.$store.state.appState.displayPKAsOxyde
      },
      set (v) {
        this.$store.commit('appState/setDisplayPKAsOxyde', v)
      }
    },
    includePlannedFertilization: {
      get () {
        return this.$store.state.appState.includePlannedFertilization
      },
      set (v) {
        this.$store.commit('appState/setIncludePlannedFertilization', v)
      }
    }
  },
  methods: {
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    },
    onDialogHide () {
      this.$emit('hide')
    },
    onOKClick () {
      this.$emit('ok')
      this.hide()
    },
    onCancelClick () {
      this.$emit('cancel')
      this.hide()
    }
  }
}
</script>

<style scoped>
.display-settings-wrapping-control :deep(.q-field__label) {
  white-space: normal;
  overflow: auto;
}

.display-settings-wrapping-control :deep(.q-field__native) {
  margin-top: 7px;
}
</style>
