<template>
  <q-list>
    <!-- Plot name -->
    <q-item class="flex-center q-py-none">
      <q-item-label class="text-subtitle1">
        <a
          class="cursor-pointer text-grey-8"
          @click="onClickGoToPlot"
        >
          <q-icon
            size="sm"
            name="la la-draw-polygon"
          />
          {{ plotName }}
        </a>
      </q-item-label>
    </q-item>

    <!-- Plant species and yield-->
    <q-item-label
      header
      class="q-pt-none q-pb-sm text-subtitle1"
    >
      <div class="row items-center q-col-gutter-x-sm">
        <div class="col-auto">
          <q-icon
            size="sm"
            name="la la-pagelines"
          />
        </div>

        <div class="col">
          {{ plantSpeciesName }}
        </div>

        <!-- Crop profile with main product / by-product -->
        <div
          v-if="cropMainProductName"
          class="col-auto column q-pl-md"
        >
          <div class="row">
            <div class="col">
              {{ cropMainProductName }}
            </div>
            <div class="col-auto">
              <span class="q-pl-md">{{ cropYieldDisplay }}</span>
              <span class="q-pl-xs">{{ cropYieldUnit }}</span>
            </div>
          </div>
          <div
            v-if="cropByProductName"
            class="row"
          >
            <div class="col">
              {{ cropByProductName }}
            </div>
            <div class="col-auto">
              <span class="q-pl-md">{{ cropByProductYieldDisplay }}</span>
              <span class="q-pl-xs">{{ cropYieldUnitDisplay }} </span>
            </div>
          </div>
        </div>

        <!-- Simple crop profile -->
        <div
          v-else-if="cropYieldDisplay"
          class="col-auto q-pl-md"
        >
          {{ cropYieldDisplay }}
          <span>{{ cropYieldUnitDisplay }} </span>
        </div>
      </div>
    </q-item-label>
  </q-list>
</template>

<script>
import { getConversionRatio, getDisplayUnit } from 'src/services/fieldbook/fertilization/fertilizationPlan'

export default {
  name: 'FertilizationResultHeader',
  props: {
    plotId: {
      type: [Number, String],
      required: true
    },
    plotName: {
      type: String,
      required: true
    },
    plantSpeciesName: {
      type: String,
      required: true
    },
    cropYield: {
      type: Number,
      default: null
    },
    cropYieldUnit: {
      type: String,
      default: null
    },
    cropMainProductName: {
      type: String,
      default: null
    },
    cropByProductName: {
      type: String,
      default: null
    },
    cropByProductYield: {
      type: Number,
      default: null
    },
    displayUnitConfig: {
      type: Object,
      default: null
    }
  },
  computed: {
    cropYieldDisplay () {
      if (this.cropYield !== null) {
        const conversionRatio = getConversionRatio(this.displayUnitConfig)
        return this.cropYield * conversionRatio
      }
      return null
    },
    cropByProductYieldDisplay () {
      if (this.cropByProductYield !== null) {
        const conversionRatio = getConversionRatio(this.displayUnitConfig)
        return this.cropByProductYield * conversionRatio
      }
      return null
    },
    cropYieldUnitDisplay () {
      return this.cropYieldUnit || getDisplayUnit(this.displayUnitConfig)
    }
  },
  methods: {
    onClickGoToPlot () {
      this.$router.push({ name: 'plot', params: { idPlot: this.plotId } })
    }
  }
}
</script>
