<template>
  <q-list
    :separator="separator"
  >
    <q-item-label
      v-if="title"
      header
    >
      {{ title }}
    </q-item-label>

    <q-item
      v-for="fertilization in fertilizations"
      :key="fertilization.id"
      :clickable="isFertilizationEditable(fertilization)"
      v-ripple
      @click="onEditFertilization(fertilization)"
    >
      <q-item-section
        side
      >
        <q-icon
          :name="getFertilizationIconName (fertilization)"
        />
      </q-item-section>

      <q-item-section class="text-body2">
        <q-item-label lines="1">
          {{ displayFertilizationName(fertilization) }}
        </q-item-label>
        <q-item-label
          lines="1"
          caption
          class="row justify-between"
        >
          <span>{{ displayFertilizationType(fertilization) }}
            <span
              v-if="fertilization.fertilizerYear"
              class="q-ml-md"
            >
              <translate>Year</translate>
              <span class="q-ml-xs">{{ fertilization.fertilizerYear.year }}</span>
            </span>
          </span>
          <span
            v-if="fertilization.fertilizerQuantity"
            class="q-ml-md"
          >
            {{ getFertilizerQuantityDisplay(fertilization.fertilizerQuantity) }} {{ fertilizerQuantityDisplayUnit }}
          </span>
        </q-item-label>
      </q-item-section>

      <q-item-section
        v-if="editable"
        :class="{ 'invisible': !isFertilizationEditable(fertilization)}"
        side
        top
      >
        <q-icon
          name="las la-angle-right"
          class="q-mt-auto q-mb-auto"
        />
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
import { getConversionRatio, getDisplayUnit } from 'src/services/fieldbook/fertilization/fertilizationPlan'

export default {
  name: 'FertilizationList',
  props: {
    fertilizations: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      default: null
    },
    separator: {
      type: Boolean,
      default: false
    },
    editableFertilizationTypes: {
      type: Array,
      default: null
    },
    displayUnitConfig: {
      type: Object,
      default: null
    }
  },
  emits: ['edit-fertilization'],
  computed: {
    editable () {
      return Boolean(this.editableFertilizationTypes?.length)
    },
    fertilizerQuantityDisplayUnit () {
      return getDisplayUnit(this.displayUnitConfig)
    }
  },
  methods: {
    displayFertilizationType (fertilization) {
      if (fertilization.fertilizerType === 'organic') {
        return this.$gettext('Organic')
      } else if (fertilization.fertilizerType === 'mineral') {
        return this.$gettext('Mineral')
      } else {
        throw new Error('Unknown fertilizer type')
      }
    },
    displayFertilizationName (fertilization) {
      if (fertilization.fertilizerIsCustom) {
        return fertilization.customName
      } else {
        return fertilization.fertilizer.name
      }
    },
    isFertilizationEditable (fertilization) {
      return this.editable && this.editableFertilizationTypes?.includes(fertilization.fertilizerType)
    },
    getFertilizationIconName (fertilization) {
      return fertilization.fertilizerType === 'organic' ? 'las la-poo' : 'las la-flask'
    },
    getFertilizerQuantityDisplay (fertilizerQuantity) {
      const conversionRatio = getConversionRatio(this.displayUnitConfig)
      return fertilizerQuantity * conversionRatio
    },
    onEditFertilization (fertilization) {
      this.$emit('edit-fertilization', fertilization)
    }
  }
}
</script>
