<template>
  <div class="q-py-sm">
    <q-item-label
      v-if="label"
      header
      class="q-pt-none q-pb-sm"
    >
      <span :class="{ 'text-bold': bold }">
        {{ label }}
      </span>
    </q-item-label>
    <div
      class="npk-result row q-gutter-y-xs"
      :class="{'justify-center': $q.screen.lt.sm, 'q-px-lg': !$q.screen.lt.sm }"
    >
      <NPKBadge
        v-for="(elementRecommendation, index) in npkElements"
        :key="'recommendations-balance-' + elementRecommendation.chemical_element_id"
        :element-id="elementRecommendation.chemical_element_id"
        :formula-id="elementRecommendation.chemical_formula_id"
        :quantity="elementRecommendation.quantity"
        :min="elementRecommendation.quantity_min"
        :max="elementRecommendation.quantity_max"
        :class="{'q-mr-xs': index < npkElements.length - 1}"
        :deemphasize="deemphasize"
        :dense="dense"
      />
    </div>
  </div>
</template>

<script>
import NPKBadge from 'src/components/npk/NPKBadge'

export default {
  name: 'NutrientBalanceItem',
  components: {
    NPKBadge
  },
  props: {
    npkElements: {
      type: Array,
      required: true
    },
    label: {
      type: String,
      default: null
    },
    bold: {
      type: Boolean,
      default: false
    },
    deemphasize: {
      type: Boolean,
      default: false
    },
    dense: {
      type: Boolean,
      default: false
    }
  }
}
</script>
