<template>
  <GenericLayout>
    <template #header>
      <Header
        fastplatform-logo
        :title="pageTitle"
      />
    </template>

    <template #page-content>
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
      </template>

      <q-card :square="!isDesktopPlatform">
        <q-card-section>
          <div>
            <q-icon
              name="las la-question-circle"
              size="md"
              style="margin-top: -2px"
            />
            <span class="text-subtitle1 q-ml-sm">
              <translate>Need help?</translate>
            </span>
          </div>

          <p
            v-translate
            render-html="true"
            class="q-mt-md"
          >
            If you have any questions, please send us a request using the button below or contact us at %{contactLink}.
          </p>

          <q-card-actions align="center">
            <q-btn
              :label="$gettext('New request')"
              icon="las la-envelope"
              color="primary"
              @click="onClickNewRequest"
            />
          </q-card-actions>
        </q-card-section>
      </q-card>

      <div class="text-body2 q-pa-md q-mt-md">
        <p
          v-translate
          render-html="true"
        >
          To delete your account, send an email to %{contactLink}.
        </p>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

export default {
  name: 'SupportPage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer
  },
  computed: {
    pageTitle () {
      return this.$gettext('Support')
    },
    contactEmail () {
      return this.$store.state.fastplatform.config?.contactEmail
    },
    contactLink () {
      return `<a href="mailto:${this.contactEmail}">${this.contactEmail}</a>`
    }
  },
  methods: {
    onClickNewRequest () {
      this.$router.push({
        name: 'messageCreation'
      })
    }
  }
}
</script>
