<template>
  <div>
    <q-list
      v-if="customFertilizerElements && customFertilizerElements.length"
      separator
    >
      <q-item
        v-for="customFertilizerElement in customFertilizerElements"
        :key="customFertilizerElement.id"
        clickable
        v-ripple
        @click="onEditCustomFertilizerElement(customFertilizerElement)"
      >
        <q-item-section
          side
        >
          <q-icon
            name="las la-vial"
          />
        </q-item-section>

        <q-item-section class="text-body2">
          <q-item-label lines="1">
            {{ customFertilizerElement.chemicalElement.label }}
          </q-item-label>
          <q-item-label
            lines="1"
            caption
          >
            <translate>Percentage: </translate>{{ customFertilizerElement.percentage }}%
          </q-item-label>
        </q-item-section>

        <q-item-section
          side
          top
        >
          <q-icon
            name="las la-angle-right"
            class="q-mt-auto q-mb-auto"
          />
        </q-item-section>
      </q-item>
    </q-list>

    <q-card-section
      v-else
      class="text-body2 text-grey"
    >
      <translate>You need to add chemical elements to the fertilizer.</translate>
    </q-card-section>

    <q-card-actions
      align="right"
    >
      <q-btn
        outline
        color="primary"
        @click="onNewCustomFertilizerElement"
        class="q-mr-sm q-mb-sm"
      >
        <translate>
          Add chemical element
        </translate>
      </q-btn>
    </q-card-actions>

    <q-dialog
      v-model="openEditDialog"
      persistent
      ref="customFertilizerElementEditDialog"
    >
      <CustomFertilizerElementEditForm
        :id="editedCustomFertilizerElementId"
        :initial-chemical-element="editedCustomFertilizerElementChemicalElement"
        :initial-percentage="editedCustomFertilizerElementPercentage"
        :initial-determination-method="editedCustomFertilizerElementDeterminationMethod"
        :existing-custom-fertilizer-elements="customFertilizerElements"
        @on-save="onSaveCustomFertilizerElement"
        @on-delete="onDeleteCustomFertilizerElement"
        @on-cancel="onCancelCustomFertilizerElement"
      />
    </q-dialog>
  </div>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import CustomFertilizerElementEditForm from 'src/pages/holding-campaign/custom-fertilizer/components/CustomFertilizerElementEditForm'

const DEFAULT_CHEMICAL_ELEMENT_PERCENTAGE = 50

export default {
  name: 'CustomFertilizerElementsCard',
  mixins: [
    PlatformMixin
  ],
  components: {
    CustomFertilizerElementEditForm
  },
  props: {
    initialCustomFertilizerElements: {
      type: Array,
      required: true
    }
  },
  emits: ['on-update'],
  data () {
    return {
      customFertilizerElements: this.initialCustomFertilizerElements,
      openEditDialog: false,
      editedCustomFertilizerElement: null
    }
  },
  computed: {
    editedCustomFertilizerElementId () {
      return this.editedCustomFertilizerElement?.id
    },
    editedCustomFertilizerElementChemicalElement () {
      return this.editedCustomFertilizerElement?.chemicalElement || null
    },
    editedCustomFertilizerElementPercentage () {
      return this.editedCustomFertilizerElement?.percentage || Math.min(this.availablePercentage, DEFAULT_CHEMICAL_ELEMENT_PERCENTAGE)
    },
    editedCustomFertilizerElementDeterminationMethod () {
      return this.editedCustomFertilizerElement?.determinationMethod || null
    },
    availablePercentage () {
      let availablePercentage = 100
      if (this.customFertilizerElements?.length) {
        availablePercentage = Math.round(this.customFertilizerElements.reduce((prev, curr) => prev - (curr.percentage ?? 0), 100) * 100) / 100
      }
      return availablePercentage
    }
  },
  methods: {
    onEditCustomFertilizerElement (customFertilizerElement) {
      this.editedCustomFertilizerElement = customFertilizerElement
      this.openEditDialog = true
    },
    onNewCustomFertilizerElement () {
      if (this.availablePercentage <= 0) {
        this.$q.dialog({
          title: this.$gettext('Fertilizer composition is full'),
          message: this.$gettext('Chemical elements already use 100% of the composition. Reduce the percentage of another chemical element.')
        })
      } else {
        this.openEditDialog = true
      }
    },
    onSaveCustomFertilizerElement (customFertilizerElement) {
      if (customFertilizerElement.id) {
        this.onUpdateCustomFertilizerElement(customFertilizerElement)
      } else {
        this.onCreateCustomFertilizerElement(customFertilizerElement)
      }
    },
    onCreateCustomFertilizerElement (customFertilizerElement) {
      // add a temporary id to allow edition in the list before saving it
      this.customFertilizerElements.push({ ...customFertilizerElement, id: new Date().getTime() })
      this.openEditDialog = false
      this.editedCustomFertilizerElement = null
      this.$emit('on-update', this.customFertilizerElements)
    },
    onUpdateCustomFertilizerElement (customFertilizerElement) {
      for (let i = 0; i < this.customFertilizerElements.length; i++) {
        if (this.customFertilizerElements[i].id === customFertilizerElement.id) {
          this.customFertilizerElements.splice(i, 1, customFertilizerElement)
          break
        }
      }
      this.openEditDialog = false
      this.editedCustomFertilizerElement = null
      this.$emit('on-update', this.customFertilizerElements)
    },
    onDeleteCustomFertilizerElement (customFertilizerElementId) {
      for (let i = 0; i < this.customFertilizerElements.length; i++) {
        if (this.customFertilizerElements[i].id === customFertilizerElementId) {
          this.customFertilizerElements.splice(i, 1)
          break
        }
      }
      this.openEditDialog = false
      this.editedCustomFertilizerElement = null
      this.$emit('on-update', this.customFertilizerElements)
    },
    onCancelCustomFertilizerElement () {
      this.openEditDialog = false
      this.editedCustomFertilizerElement = null
    }
  }
}

</script>
