<template>
  <q-layout
    :view="layoutView"
    :class="classNames"
    key="generic-layout"
  >
    <slot name="header" />
    <q-page-container key="generic-layout-page-container">
      <q-page
        class="flex flex-start q-pb-lg"
        key="generic-layout-page"
      >
        <div class="q-py-sm full-width row justify-center">
          <div
            class="col-xs-12 col-sm-12 col-md-8 col-lg-6"
            :class="{ 'page-content-desktop': isDesktopPlatform }"
          >
            <slot name="page-content" />
          </div>
        </div>
      </q-page>
    </q-page-container>
    <slot
      v-if="!isDesktopPlatform"
      name="footer"
    />
  </q-layout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'

export default {
  name: 'GenericLayout',
  props: {
    classNames: {
      type: String,
      required: false,
      default: ''
    }
  },
  mixins: [
    PlatformMixin
  ],
  computed: {
    layoutView () {
      // Quasar layout view:
      // https://quasar.dev/layout/layout#Understanding-the-%E2%80%9Cview%E2%80%9D-prop
      switch (this.$store.state.appState.currentPlatform) {
        case 'mobile':
          return 'hHh Lpr lFf'
        case 'desktop':
          return 'hHh Lpr lFf'
        default:
          return 'hHh Lpr lFf'
      }
    }
  }
}
</script>
