<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            v-if="pageTitle"
            class="page-title"
          >
            {{ pageTitle }}
          </div>
          <div
            v-if="pageSubTitle"
            class="page-subtitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>
              The following parameters are used to compute the nutrients provided by the organic manure.
            </translate>
          </q-banner>

          <q-card-section>
            <div class="text-grey-8 q-mb-xs">
              <translate>Indicate the organic fertiliser applied no more than 6 months before the soil sampling date (3 months for slurry).</translate>
            </div>
          </q-card-section>
            <q-card-section class="q-pb-none hidden">
            </q-card-section>

            <q-card-section
              v-for="(pass) in storeOrganicManureApplications"
              :key="pass.pass_type"
            >
              <RequafertiPhosphatePass
                :cnt="pass.pass_type"
                :pass="pass"
                show_counter
                :show_cnt="false"
              >
                <RequafertiPhosphateOrganicManureApplicationsCard

                  :initial-organic-manure-applications="pass.passes"
                  :max-passess-allowed="pass.max"
                  :organic-manure-animal-category-options="organicManureAnimalCategoryOptions"
                  :organic-manure-application-combinations="organicManureApplicationCombinations"
                  @on-update="onOrganicManureApplicationsUpdate($event,pass)"
                />
              </RequafertiPhosphatePass>
              <q-separator />
            </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              align="stretch"
              class="q-pa-none"
              vertical
            >
              <q-btn
                color="primary"
                text-color="white"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                color="primary"
                flat
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryRequafertiPhosphateConfig
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateConfig'
import queryRequafertiPhosphateOrganicMatterPasses
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateOrganicMatterPasses'
import RequafertiPhosphateOrganicManureApplicationsCard
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/components/RequafertiPhosphateOrganicManureApplicationsCard.vue'
import RequafertiPhosphatePass
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/components/RequafertiPhosphatePass.vue'
import RequafertiPhosphateI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/mixins/RequafertiPhosphateI18nMixin'

export default {
  name: 'RequafertiPhosphateOrganicManurePage',
  components: {
    RequafertiPhosphateOrganicManureApplicationsCard,
    RequafertiPhosphatePass,
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiPhosphateI18nMixin],
  data () {
    return {
      need_help: false,
      organicMatterPassesSkeleton: null,
      requafertiConfig : []
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Organic Manure')
    },
    pageSubTitle () {
      return 'Requaferti Phosphate'
    },
    canContinue () {
      if (this.storeOrganicManureFrequency) return true
      return false
    },
    plotId () {
      return this.$store.state.fertilizationPlan.target.id
    },
    plotCenterGeometry () {
      const coordinates = this.$store.state.fertilizationPlan.target.centroid?.coordinates
      return { type: 'Point', coordinates }
    },
    storeOrganicManureApplications: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.organicManureApplications
      },
      set (v) {
        this.updateParameter('organicManureApplications', v)
      }
    },
    isLoading () {
      return this.requafertiConfig === undefined
    },
    organicManureAnimalCategoryOptions () {
      /* eslint-disable dot-notation */
      const animalCategoryOptions = this.requafertiConfig?.grp_cat_animal || []
      // remove animal categories not having organic matter types
      return animalCategoryOptions.filter(category => {
        return this.organicManureApplicationCombinations.filter(row => row.grp_ani_xid === category.id).length > 0
      })
    },
    organicManureApplicationCombinations () {
      /* eslint-disable dot-notation */
      return this.requafertiConfig?.['teneur_p_engrais_org'] || []
    },
    initialOrganicManureApplications () {
      if (this.storeOrganicManureApplications === undefined) return []
      return this.storeOrganicManureApplications
    },
    refreshPasses () {
      const data = [...this.initialOrganicManureApplications, ...this.organicMatterPassesSkeleton]
      const mergedData = data.reduce((result, current) => {
        let existingItem = result.find(item => item.pass_type === current.pass_type)

        if (existingItem) {
          existingItem = { ...existingItem } // Create a new object
          existingItem.passes = existingItem.passes.concat(current.passes)
        } else {
          result.push(current)
        }

        return result
      }, [])
      return mergedData
    }
  },
  async mounted () {
    await this.loadOrganicMatterPassesSkeleton('cache-first')
    // Load data from cache (or online if not in cache): soil properties must be loaded before soil params
    await this.loadConfig('cache-first')
    // Refresh online data (do not wait until completion)
    this.storeOrganicManureApplications = this.refreshPasses
  },
  methods: {
    isPreviousPassFilled (pass) {
      const current_index = this.storeOrganicManureApplications.findIndex(function (item, i) { return item?.pass_type === pass })
      if (current_index > 0) {
        const passes = this.storeOrganicManureApplications[current_index - 1]?.passes
        return passes?.length > 0
      }
    },
    addPercentToValues (str) {
      const regex = /([\d+,.]+)/g
      // Replace matches with the matched value plus "%"
      const result = str.replace(regex, '$1 %')
      return result
    },
    onClickNext () {
      this.$router.replace({
        name: 'requafertiPhosphateMineralFertilizationPage'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiPhosphatePreviousCampaignPage'
      })
    },
    proxyToObject (proxy) {
      // Convert the Proxy to a JSON string
      const jsonString = JSON.stringify(proxy)

      // Parse the JSON string to get a plain JavaScript object
      const plainObject = JSON.parse(jsonString)

      return plainObject
    },
    onOrganicManureApplicationsUpdate (organicManureApplications, passage) {
      const rawData = this.proxyToObject(organicManureApplications)
      const rawPassage = this.proxyToObject(passage)
      const newPass = { ...rawPassage, passes: rawData }

      this.storeOrganicManureApplications = this.storeOrganicManureApplications.map(item =>
        item.pass_type === rawPassage.pass_type ? newPass : item
      )
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiPhosphateConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_phosphate__config
    },
    async loadOrganicMatterPassesSkeleton (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiPhosphateOrganicMatterPasses,
        fetchPolicy
      })
      this.organicMatterPassesSkeleton = data?.requaferti_phosphate__organic_matter_passes
    },

    round (value, digits) {
      if (value === null || value === undefined || isNaN(value)) {
        return value
      } else {
        return Number(value.toFixed(digits))
      }
    }
  }
}
</script>
