<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            v-if="pageTitle"
            class="page-title"
          >
            {{ pageTitle }}
          </div>
          <div
            v-if="pageSubTitle"
            class="page-subtitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section v-if="computing">
            <div>
              <div
                class="column flex-center"
                style="height: 100%;"
              >
                <q-spinner
                  color=""
                  size="3em"
                />
                <translate>Computing Requaferti results...</translate>
              </div>
            </div>

          </q-card-section>
          <q-card-section v-else-if="requafertiError">
            <p>
              <translate>
                There were some errors while computing the Requaferti results: you may retry later.
              </translate>
            </p>
            <p
              class="text-negative"
              v-html="requafertiError"
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              align="stretch"
              class="q-pa-none"
              vertical
            >
              <q-btn
                :disable="computing"
                color="primary"
                text-color="white"
                @click="onClickCompute"
              >
                <translate>Retry</translate>
              </q-btn>
              <q-btn
                color="primary"
                flat
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import proj4 from 'proj4'

import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { DateMixin } from 'src/mixins/DateMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import { resultTypes, unitOfMeasures } from 'src/services/fieldbook/fertilization/fertilizationPlan'
import { $gettext } from 'boot/translate'
import queryRequafertiPhosphateComputeP
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateComputeP'

// BELGE 72 / LAMBERT 72 PROJ
const EPSG_31370 = '+proj=lcc +lat_1=51.16666723333333 +lat_2=49.8333339 +lat_0=90 +lon_0=4.367486666666666 +x_0=150000.013 +y_0=5400088.438 +ellps=intl +towgs84=106.869,-52.2978,103.724,-0.33657,0.456955,-1.84218,1 +units=m +no_defs '

export default {
  name: 'RequafertiPhosphateComputePage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, DateMixin, AlgorithmsMixins],
  data () {
    return {
      requafertiError: null,
      computing: null,
      retryCount: 0
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Compute plan')
    },
    pageSubTitle () {
      return 'Requaferti Prairie'
    },
    storeParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    storeMineralFertilizerEstimation: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.mineralFertiliserEstimation
      },
      set (v) {
        this.updateParameter('mineralFertiliserEstimation', v)
      }
    },
    storeFertilizerApplications: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.fertilizerApplications
      },
      set (v) {
        this.updateParameter('fertilizerApplications', v)
      }
    },
    storeTarget () {
      return this.$store.state.fertilizationPlan.target
    },
    computeParams () {
      const params = {}

      params.ech_num_ana = 'FaST-' + Date.now()
      params.ech_cp = null

      const [x, y] = this.storeTarget.centroid.coordinates
      const projXY = proj4(EPSG_31370, [x, y])
      params.ech_x = projXY[0]
      params.ech_y = projXY[1]
      params.ech_geoid = this.storeTarget.centroid.coordinates.join(',')
      // params.superficie = this.storeTarget.area

      // Crop
      params.type_cult_xid = undefined
      if (this.isParameterDefined(this.storeParameters.cropProfile)) {
        params.type_cult_xid = Number(this.storeParameters.cropProfile.id)
      }

      params.r_rendement = undefined
      if (this.isParameterDefined(this.storeParameters.targetYield)) {
        params.r_rendement = Number(this.storeParameters.targetYield)
      }

      params.r_rendement_paille = undefined
      if (this.isParameterDefined(this.storeParameters.residuesTargetYield)) {
        params.r_rendement_paille = Number(this.storeParameters.residuesTargetYield)
      }

      // Soil
      params.ech_date = undefined
      if (this.isParameterDefined(this.storeParameters.soilSampleDate)) {
        const date = this.storeParameters.soilSampleDate
        params.ech_date = this.convertToDate(date)
      }

      params.cailloux = undefined
      if (this.isParameterDefined(this.storeParameters.soilStonyContent)) {
        params.cailloux = Number(this.storeParameters.soilStonyContent)
      }

      params.prof_prelev = undefined
      if (this.isParameterDefined(this.storeParameters.soilSamplingDepth)) {
        params.prof_prelev = Number(this.storeParameters.soilSamplingDepth)
      }

      params.cot = undefined
      if (this.isParameterDefined(this.storeParameters.soilCarbonContent)) {
        params.cot = Number(this.storeParameters.soilCarbonContent)
      }

      params.phosphore = undefined
      if (this.isParameterDefined(this.storeParameters.soilPhosphorousContent)) {
        params.phosphore = Number(this.storeParameters.soilPhosphorousContent)
      }

      params.ph = undefined
      if (this.isParameterDefined(this.storeParameters.soilpHKCl)) {
        params.ph = Number(this.storeParameters.soilpHKCl)
      }

      params.references_p_sol_xid = undefined
      if (this.isParameterDefined(this.storeParameters.soilType)) {
        params.references_p_sol_xid = Number(this.storeParameters.soilType.id)
      }

      // previous crop
      params.export_res_prec_yn = 0
      if (this.isParameterDefined(this.storeParameters.previousCropExists)) {
        params.export_res_prec_yn = Number(this.storeParameters.previousCropExists ? 1 : 0)
      }

      params.type_cult_prec_xid = undefined
      if (this.isParameterDefined(this.storeParameters.previousCropProfile)) {
        params.type_cult_prec_xid = Number(this.storeParameters.previousCropProfile?.type_cult_xid)
      }

      // organic manure
      params.organicPassages = null
      if (this.storeParameters.organicManureApplications && !this.areAllPassesEmpty(this.storeParameters.organicManureApplications)) {
        params.organicPassages = this.storeParameters.organicManureApplications.map(application => ({
          pass_type: application.pass_type,
          max: application.max,
          passes: application.passes.map(pass => ({
            id: pass.id,
            animalCategory: {
              id: Number(pass.animalCategory.id)
            },
            organicMatterType: {
              id: Number(pass.organicMatterType.id),
              type_eff_xid: Number(pass.organicMatterType.type_eff_xid),
              phosphore_total: pass.organicMatterType.phosphore_total,
              grp_ani_xid: Number(pass.organicMatterType.grp_ani_xid)
            },
            effluentQuantity: pass.effluentQuantity,
            P2O5Content: pass.P2O5Content,
            applicationDate: this.convertToDate(pass.applicationDate)
          }))
        }))
      }
      // mineral passages
      params.mineralPassages = null
      if (this.storeParameters.mineralFertilizerApplications && !this.areAllPassesEmpty(this.storeParameters.mineralFertilizerApplications)) {
        params.mineralPassages = this.storeParameters.mineralFertilizerApplications.map(application => ({
          pass_type: application.pass_type,
          max: application.max,
          passes: application.passes.map(pass => ({
            id: pass.id,
            P2O5Content: pass.P2O5Content,
            applicationDate: pass.applicationDate
          }))
        }))
      }
      return params
    }
  },
  mounted () {
    this.computeP('network-only')
  },
  methods: {
    onClickCompute () {
      this.computeP('network-only')
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiPhosphateMineralFertilizationPage'
      })
    },
    areAllPassesEmpty (passesList) {
      return passesList.every(item => item.passes.length === 0)
    },
    isParameterDefined (param) {
      return param !== null && param !== undefined
    },
    convertToDate (dateString) {
      if (dateString === undefined) {
        return '2099-01-01'
      }
      const date = new Date(dateString)
      // Extract the year, month, and day
      const year = date.getUTCFullYear()
      const month = String(date.getUTCMonth() + 1).padStart(2, '0')
      const day = String(date.getUTCDate()).padStart(2, '0')
      return `${year}-${month}-${day}`
    },
    async computeP (fetchPolicy) {
      try {
        this.computing = true
        this.retryCount += 1

        const { data } = await this.$apollo.query({
          query: queryRequafertiPhosphateComputeP,
          variables: {
            params: this.computeParams
          },
          fetchPolicy
        })
        const response = data?.requaferti_phosphate__compute_p
        const warningLowStock = response?.r_warning_stock_faible || 0
        if (response !== null) {
          this.requafertiError = response?.error

          const recommendations = [
            {
              name: $gettext('Crop requirement'),
              chemical_element_id: 'P',
              quantity: response.r_exportation,
              result_type: resultTypes.PLANT_NEEDS,
              unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
            },
            {
              name: $gettext('Taking account of residues that will be exported'),
              chemical_element_id: 'P',
              quantity: response.r_exportation_paille,
              result_type: resultTypes.PLANT_NEEDS,
              unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
            },
            {
              name: $gettext('Compensation for the export of residues from the previous crop'),
              chemical_element_id: 'P',
              quantity: response.r_export_res_prec,
              result_type: resultTypes.PLANT_NEEDS,
              unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
            },
            {
              name: $gettext('Soil supply'),
              chemical_element_id: 'P',
              quantity: response.r_p2,
              result_type: resultTypes.PLANT_SUPPLIES,
              unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
            },
            {
              name: $gettext('Organic manure'),
              chemical_element_id: 'P',
              quantity: response.r_apport_orga,
              result_type: resultTypes.PLANT_SUPPLIES,
              unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
            },
            {
              name: $gettext('Mineral fertilization'),
              chemical_element_id: 'P',
              quantity: response.r_apport_min,
              result_type: resultTypes.PLANT_SUPPLIES,
              unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
            },
            {
              chemical_element_id: 'P',
              quantity: response.r_apports_plaf,
              result_type: resultTypes.RECOMMENDATION,
              unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
            }]

          // Initialize totals for each result_type
          let totalPlantNeeds = 0
          let totalPlantSupplies = 0
          let totalRecommendation = 0

          // Iterate over the recommendations array to calculate totals
          recommendations.forEach(item => {
            switch (item.result_type) {
              case resultTypes.PLANT_NEEDS:
                totalPlantNeeds += item.quantity
                break
              case resultTypes.PLANT_SUPPLIES:
                totalPlantSupplies += item.quantity
                break
              case resultTypes.RECOMMENDATION:
                totalRecommendation += item.quantity
                break
              default:
                console.warn('Unknown result type:', item.result_type)
            }
          })
          // Create total objects for each result_type
          const totalPlantNeedsObject = {
            name: $gettext('Total'),
            emphased: true,
            chemical_element_id: 'P',
            quantity: totalPlantNeeds,
            result_type: resultTypes.PLANT_NEEDS,
            unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
          }

          const totalPlantSuppliesObject = {
            name: $gettext('Total'),
            emphased: true,
            chemical_element_id: 'P',
            quantity: totalPlantSupplies,
            result_type: resultTypes.PLANT_SUPPLIES,
            unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
          }

          const totalRecommendationObject = {
            name: $gettext('Total'),
            emphased: true,
            deemphasize: true,
            chemical_element_id: 'P',
            quantity: totalRecommendation,
            result_type: resultTypes.RECOMMENDATION,
            unit_of_measure_id: unitOfMeasures.KILOGRAM_PER_HECTARE
          }

          // Append the total objects to the recommendations array
          recommendations.push(totalPlantNeedsObject)
          recommendations.push(totalPlantSuppliesObject)
          //recommendations.push(totalRecommendationObject)

          const results = { warningLowStock, recommendations }
          this.updateParameter('results', results)

          if (!this.requafertiError) { this.$router.replace({ name: 'requafertiPhosphateResults' }) }
        } else {
          this.requafertiError = 'Error: cannot display results'
          console.error('Requaferti results seem wrong no response !')
        }
      } catch (e) {
        this.requafertiError = e
      } finally {
        this.computing = false
      }
    }
  }
}
</script>
