<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            v-if="pageTitle"
            class="page-title"
          >
            {{ pageTitle }}
          </div>
          <div
            v-if="pageSubTitle"
            class="page-subtitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>The following parameters are used to calculate the nutrients supplied by mineral fertilisation.</translate>
          </q-banner>

          <q-card-section>
            <div class="text-grey-8 q-mb-xs">
              <translate>Indicate the mineral fertilisation applied no more than 6 months before the soil sampling date.</translate>
            </div>
          </q-card-section>

          <q-card-section
            v-for="(pass) in storeMineralFertilizerApplications"
            :key="pass.pass_type"
          >
            <RequafertiPhosphatePass
              :cnt="pass.pass_type"
              :pass="pass"
              show_counter
              :show_cnt="false"
            >
              <RequafertiPhosphateMineralFertilizerApplicationsCard
                :initial-mineral-fertilizer-applications="pass.passes"
                :max-passess-allowed="pass.max"
                @on-update="onMineralFertilizerApplicationsUpdate($event,pass)"
              />
            </RequafertiPhosphatePass>
            <q-separator />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              align="stretch"
              class="q-pa-none"
              vertical
            >
              <q-btn
                color="primary"
                text-color="white"
                @click="onClickNext"
              >
                <translate>Compute</translate>
              </q-btn>
              <q-btn
                color="primary"
                flat
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import queryRequafertiPhosphateConfig
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateConfig'
import queryRequafertiPhosphateMineralMatterPasses
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateMineralMatterPasses'
import RequafertiPhosphatePass
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/components/RequafertiPhosphatePass.vue'
import RequafertiPhosphateI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/mixins/RequafertiPhosphateI18nMixin'
import RequafertiPhosphateMineralFertilizerApplicationsCard
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/components/RequafertiPhosphateMineralFertilizerApplicationsCard.vue'

export default {
  name: 'RequafertiPhosphateMineralFertilizationPage',
  components: {
    RequafertiPhosphateMineralFertilizerApplicationsCard,
    RequafertiPhosphatePass,
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiPhosphateI18nMixin],
  data () {
    return {
      requafertiConfig: null,
      mineralMatterPassesSkeleton: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Mineral Fertilization')
    },
    pageSubTitle () {
      return 'Requaferti Phosphate'
    },
    canContinue () {
      return false
    },
    plotId () {
      return this.$store.state.fertilizationPlan.target.id
    },
    plotCenterGeometry () {
      const coordinates = this.$store.state.fertilizationPlan.target.centroid?.coordinates
      return { type: 'Point', coordinates }
    },
    storeMineralFertilizerApplications: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.mineralFertilizerApplications
      },
      set (v) {
        this.updateParameter('mineralFertilizerApplications', v)
      }
    },
    isLoading () {
      return this.requafertiConfig === undefined
    },
    initialMineralFertilizerApplications () {
      if (this.storeMineralFertilizerApplications === undefined) return []
      return this.storeMineralFertilizerApplications
    },
    refreshPasses () {
      const data = [...this.initialMineralFertilizerApplications, ...this.mineralMatterPassesSkeleton]
      const mergedData = data.reduce((result, current) => {
        let existingItem = result.find(item => item.pass_type === current.pass_type)

        if (existingItem) {
          existingItem = { ...existingItem } // Create a new object
          existingItem.passes = existingItem.passes.concat(current.passes)
        } else {
          result.push(current)
        }

        return result
      }, [])
      return mergedData
    }
  },
  async mounted () {
    if (!this.isParameterSet(this.storeSoilAdvanced)) {
      this.storeSoilAdvanced = false
    }
    await this.loadMineralMatterPassesSkeleton('cache-first')
    // Load data from cache (or online if not in cache): soil properties must be loaded before soil params
    await this.loadConfig('cache-first')
    // Refresh online data (do not wait until completion)
    this.storeMineralFertilizerApplications = this.refreshPasses
  },
  methods: {
    isPreviousPassFilled (pass) {
      const current_index = this.storeMineralFertilizerApplications.findIndex(function (item, i) { return item?.pass_type === pass })
      if (current_index > 0) {
        const passes = this.storeMineralFertilizerApplications[current_index - 1]?.passes
        return passes?.length > 0
      }
    },
    onClearFrequency () {
      this.storeMineralFertilizerApplications = this.mineralMatterPassesSkeleton
    },
    addPercentToValues (str) {
      const regex = /([\d+,.]+)/g
      // Replace matches with the matched value plus "%"
      const result = str.replace(regex, '$1 %')
      return result
    },
    onClickNext () {
      this.$router.replace({
        name: 'requafertiPhosphateCompute'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiPhosphateOrganicManurePage'
      })
    },
    proxyToObject (proxy) {
      // Convert the Proxy to a JSON string
      const jsonString = JSON.stringify(proxy)

      // Parse the JSON string to get a plain JavaScript object
      const plainObject = JSON.parse(jsonString)

      return plainObject
    },
    onMineralFertilizerApplicationsUpdate (mineralFertilizerApplications, passage) {
      const rawData = this.proxyToObject(mineralFertilizerApplications)
      const rawPassage = this.proxyToObject(passage)
      const newPass = { ...rawPassage, passes: rawData }

      this.storeMineralFertilizerApplications = this.storeMineralFertilizerApplications.map(item =>
        item.pass_type === rawPassage.pass_type ? newPass : item
      )
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiPhosphateConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_phosphate__config
    },
    async loadMineralMatterPassesSkeleton (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiPhosphateMineralMatterPasses,
        fetchPolicy
      })
      this.mineralMatterPassesSkeleton = data?.requaferti_phosphate__mineral_matter_passes
    },

    round (value, digits) {
      if (value === null || value === undefined || isNaN(value)) {
        return value
      } else {
        return Number(value.toFixed(digits))
      }
    }
  }
}
</script>
