<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            v-if="pageTitle"
            class="page-title"
          >
            {{ pageTitle }}
          </div>
          <div
            v-if="pageSubTitle"
            class="page-subtitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>Select a crop to proceed with the fertilization plan.</translate>
          </q-banner>
          <q-card-section>
            <q-select
              v-model="storePlantSpecies"
              :label="$gettext('Crop')"
              :loading="plantSpeciesLoading"
              :options="plantSpeciesOptions"
              class="q-mt-md"
              filled
              input-debounce="200"
              option-label="nameI18n"
              option-value="id"
              use-input
              @filter="filterPlantSpecies"
              @update:model-value="onPlantSpeciesChange"
            />

            <div
              v-if="plantSpeciesLoading"
              class="column flex-center q-mt-md"
            >
              <q-spinner-dots
                color="primary"
                size="24px"
              />
            </div>
            <q-list
              v-if="cropProfileOptions && cropProfileOptions.length > 1"
              class="q-mt-md"
            >
              <q-item
                v-for="cropProfileOption in cropProfileOptions"
                :key="cropProfileOption.id"
                tag="label"
                v-ripple
                dense
                class="q-px-none"
              >
                <q-item-section avatar>
                  <q-radio
                    :val="cropProfileOption.id"
                    :model-value="storeCropProfile ? storeCropProfile.id : null"
                    @update:model-value="onCropProfileModelValueChange"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ cropProfileOption[getRequafertiPhosphateI18NFieldName('libelle')] }} </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>

            <q-banner
              v-if="showCropProfileUnavailableBanner"
              class="bg-accent text-white q-mt-sm"
            >
              <translate>%{algorithmName} do not cover this crop</translate>
            </q-banner>
            <div
              v-if="apolloLoading"
              class="column flex-center q-mt-md"
            >
              <q-spinner-dots
                color="primary"
                size="24px"
              />
            </div>
            <template v-if="!showCropProfileUnavailableBanner && hasTargetYield">
              <q-input
                ref="tYield"
                v-model.number="targetYieldField"
                :label="$gettext('Target yield')"
                :loading="loading"
                :min="0"
                :rules="[
                  val => Number.isInteger(Number(val)) || $gettext('Enter a valid integer'),
                  val => Number(val) >= 0 || $gettext('Enter a positive value')
                ]"
                :suffix="$gettext('q/ha')"
                class="q-mt-md"
                filled
                hide-bottom-space
                step="any"
                type="number"
                @update:model-value="resetTargetYield"
                @blur="$refs.tYield.validate()"
              />
              <template v-if="hasExportableResidues">
                <div class="q-mt-md">
                  <div class="text-grey-8 q-mb-xs">
                    <translate>Will the residues be exported?</translate>
                  </div>
                  <q-btn-toggle
                    v-model="storeResiduesTargetYieldExists"
                    :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
                    toggle-color="primary"
                  />
                  <template v-if="storeResiduesTargetYieldExists">
                    <q-input
                      v-model.number="storeResiduesTargetYield"
                      :label="$gettext('Residues target yield')"
                      :min="0"
                      :rules="[
                        val => Number.isInteger(Number(val)) || $gettext('Enter a valid integer'),
                        val => Number(val) >= 0 || $gettext('Enter a positive value')
                      ]"
                      :suffix="$gettext('q/ha')"
                      class="q-mt-md"
                      filled
                      hide-bottom-space
                      step="any"
                      type="number"
                    />
                  </template>
                </div>
              </template>
            </template>
          </q-card-section>
          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              align="stretch"
              class="q-pa-none"
              vertical
            >
              <q-btn
                :disable="!canContinue"
                color="primary"
                text-color="white"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                color="primary"
                flat
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import { getI18nField } from 'src/services/translate'
import queryPlantSpecies from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryPlantSpecies'
import queryRequafertiPhosphateConfig
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateConfig'
import queryRequafertiPhosphateAgriculturalRegion
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateAgriculturalRegion'
import queryRequafertiPhosphateBesoinP
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateBesoinP'
import RequafertiPhosphateI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/mixins/RequafertiPhosphateI18nMixin'

export default {
  name: 'RequafertiPhosphateCropProfilePage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiPhosphateI18nMixin],
  data () {
    return {
      requafertiConfig: null,
      plantSpecies: [],
      filterValue: null,
      hasNoPlantSpecies: true,
      apolloLoading: false,
      rqf_known_culture: false,
      cropTargetYieldsArray: [],
      hasExportableResidues: false,
      targetYieldField: null,
      editedYieldField: false,
      matchingProfileSelected: false
    }
  },
  computed: {
    algorithmName () {
      return 'REQUAFERTI PHOSPHATE'
    },
    pageTitle () {
      return this.$gettext('Crop selection')
    },
    pageSubTitle () {
      return 'Requaferti Phosphate'
    },
    plotCenterGeometry () {
      const coordinates = this.$store.state.fertilizationPlan.target.centroid?.coordinates
      return { type: 'Point', coordinates }
    },
    plotPlantSpecies () {
      return this.$store.state.fertilizationPlan.target.plot_plant_variety?.plant_variety?.plant_species
    },
    showCropProfileUnavailableBanner () {
      return !this.loading && !this.supportedByAlgorithm
    },
    loading () {
      return this.apolloLoading || !this.requafertiConfig || !this.storeAgriculturalRegion
    },
    plantSpeciesLoading () {
      return (!this.plantSpecies && this.$apollo.queries.plantSpecies.loading)
    },
    requafertiCropMapping () {
      return this.requafertiConfig?.type_cult_rqs_spw || []
    },
    cropPhosphorousRequirements () {
      return this.requafertiConfig?.besoin_p || []
    },
    cultureType () {
      return this.requafertiConfig?.type_cult || []
    },
    exportableResidues () {
      return this.requafertiConfig?.residus_exportables || []
    },
    supportedByAlgorithm () {
      const culture_mapping_spw = this.requafertiCropMapping.filter(ct => ct.cult_code_spw === this.storePlantSpecies?.id)
      const culture_type = culture_mapping_spw.map(ct => this.cultureType.find(rqs => rqs.id === ct.id_cult_rqs)).filter(Boolean)
      return culture_type.length > 0
    },
    cropProfileOptions () {
      if (!this.requafertiCropMapping || !this.storePlantSpecies?.id) {
        return []
      } else {
        return this.matchingCropProfiles
      }
    },
    matchingCropProfiles () {
      if (!this.requafertiCropMapping || !this.storePlantSpecies) {
        return []
      } else {
        return this.requafertiCropMapping
          .filter(row => row?.cult_code_spw === this.storePlantSpecies?.id)
          .map(row => this.cropOptions.find(crop => crop?.id === row?.id_cult_rqs))
          .filter(row => Boolean(row))
      }
    },
    hasTargetYield () {
      return ((this.storeTargetYield !== undefined && this.storeTargetYield !== 0) || this.editedYieldField) || false
    },
    cropOptions () {
      return this.cultureType.filter(cult => this.cropPhosphorousRequirements.find(r => r.type_cult_id === cult.id)) || []
    },
    storeAgriculturalRegion: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.agriculturalRegion
      },
      set (v) {
        this.updateParameter('agriculturalRegion', v)
      }
    },
    storeTargetYield: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.targetYield
      },
      set (v) {
        this.updateParameter('targetYield', v)
      }
    },
    storeCropProfile: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.cropProfile
      },
      set (v) {
        this.updateParameter('cropProfile', v)
      }
    },
    storeResiduesTargetYield: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.residuesTargetYield
      },
      set (v) {
        this.updateParameter('residuesTargetYield', v)
      }
    },
    storeResiduesTargetYieldExists: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.residuesTargetYieldExists
      },
      set (v) {
        this.updateParameter('residuesTargetYieldExists', v)
      }
    },
    storeMatchingProfileSelected: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.matchingProfileSelected
      },
      set (v) {
        this.updateParameter('matchingProfileSelected', v)
      }
    },
    storePlantSpecies: {
      get () {
        if (this.$store.state.fertilizationPlan.parameters.plantSpecies) {
          return {
            ...this.$store.state.fertilizationPlan.parameters.plantSpecies,
            nameI18n: getI18nField(this.$store.state.fertilizationPlan.parameters.plantSpecies, 'name')
          }
        } else {
          return this.$store.state.fertilizationPlan.parameters.plantSpecies
        }
      },
      set (v) {
        this.updateParameter('plantSpecies', v)
      }
    },
    canContinue () {
      let contiue = true
      if (this.isParameterDefined(this.storeTargetYield) && this.storeTargetYield === 'O') contiue = true

      if (this.$refs.tYield) {
        contiue = !this.$refs.tYield.hasError
      }

      return this.storePlantSpecies && !this.showCropProfileUnavailableBanner && contiue && this.matchingProfileSelected
    },
    plantSpeciesOptions () {
      let options = this.plantSpecies
      if (this.filterValue) {
        options = options.filter(v => v.name?.toLowerCase().indexOf(this.filterValue) > -1)
      }
      return options.map(plantSpecies => ({
        ...plantSpecies,
        nameI18n: getI18nField(plantSpecies, 'name')
      }))
    }
  },
  methods: {
    isParameterDefined (param) {
      return param !== null && param !== undefined
    },
    resetTargetYield (value) {
      this.editedYieldField = true
      if (this.targetYieldField === 0) {
        this.storeResiduesTargetYieldExists = undefined
        this.storeResiduesTargetYield = undefined
      }
      this.storeTargetYield = value
    },
    async updateCropProfileData () {
      this.hasExportableResidues = false
      this.storeResiduesTargetYield = 0
      this.storeTargetYield = 0
      this.storeResiduesTargetYieldExists = false

      const crop = this.storeCropProfile ? this.storeCropProfile : undefined

      if (crop) {
        this.apolloLoading = true

        const { hasExportableResidues, residues, strawResidue } = this.checkExportableResidues(crop)
        this.hasExportableResidues = hasExportableResidues

        // Get the target yield and update storeTargetYield
        const targetYield = await this.getTargetYield()
        this.storeTargetYield = targetYield.find(t => t.libelle_recolte === residues?.libelle_recolte)?.rendement || 0
        this.storeResiduesTargetYield = targetYield.find(t => t.libelle_recolte === strawResidue?.libelle_recolte)?.rendement || 0

        this.apolloLoading = false
      }
    },

    checkExportableResidues (crop) {
      const residuesArray = this.exportableResidues.filter(r => crop?.id === r?.type_cult_xid)

      // Find the crop data from residuesArray
      const residues = residuesArray.find(r => r?.residu === '0') || undefined
      const strawResidue = residuesArray.find(r => r?.type_recolte_xid === '3' && r?.residus_exportables === '1') || undefined

      const hasExportableResidues = strawResidue !== undefined

      return {
        hasExportableResidues,
        residues,
        strawResidue
      }
    },
    onClickPrevious () {
      const isEdition = this.$store.state.fertilizationPlan.isEdition
      const isCreationFromPlot = this.$store.state.fertilizationPlan.isCreationFromPlot
      if (isEdition) {
        const fertilizationPlanId = this.$store.state.fertilizationPlan.fertilizationPlanIdAndName.id
        this.$router.replace({ name: 'fertilizationPlan', params: { fertilizationPlanId } })
      } else if (isCreationFromPlot) {
        const plotId = this.$store.state.fertilizationPlan.target.id
        this.$router.replace({ name: 'plot', params: { idPlot: plotId } })
      } else {
        this.$router.replace({ name: 'fertilizationPlanPlotSelection' })
      }
    },
    onClickNext () {
      let hasError = false
      this.storeMatchingProfileSelected = this.matchingProfileSelected

      if (!this.storeResiduesTargetYieldExists) this.storeResiduesTargetYield = undefined
      if (this.hasTargetYield) {
        hasError = true
        if (this.$refs.tYield) {
          this.$refs.tYield.validate()
          hasError = this.$refs.tYield.hasError
        }
      }

      if (!hasError && this.canContinue) {
        this.$router.replace({
          name: 'requafertiPhosphateSoilPage'
        })
      }
    },
    filterPlantSpecies (val, update, abort) {
      update(() => {
        this.filterValue = val.toLowerCase()
      })
    },
    onPlantSpeciesChange () {
      this.matchingProfileSelected = false
      this.storeCropProfile = null
      if (this.matchingCropProfiles.length === 1) {
        this.storeCropProfile = this.matchingCropProfiles?.[0]
        this.matchingProfileSelected = true
      }
      this.onCropProfileChange()
    },
    async onCropProfileChange () {
      await this.updateCropProfileData()

      this.targetYieldField = this.storeTargetYield
    },
    onCropProfileModelValueChange (value) {
      this.matchingProfileSelected = true
      this.storeCropProfile = this.cropProfileOptions.find(crop => crop.id === value)
      this.onCropProfileChange()
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiPhosphateConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_phosphate__config
    },
    async getAgriculturalRegion (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiPhosphateAgriculturalRegion,
        variables: {
          geometry: this.plotCenterGeometry
        },
        fetchPolicy
      })
      const region_name = data?.requaferti_phosphate__agricultural_region
      this.storeAgriculturalRegion = this.requafertiConfig?.region_agri.find(rg => rg.agr_libelle === region_name)
    },
    async getTargetYield (fetchPolicy) {
      const besoinPParams = {
        agricultural_region_id: this.storeAgriculturalRegion?.id,
        cult_id: this.storeCropProfile?.id
      }
      const { data } = await this.$apollo.query({
        query: queryRequafertiPhosphateBesoinP,
        variables: {
          params: besoinPParams
        },
        fetchPolicy
      })
      return data?.requaferti_phosphate__besoin_p
    },

    loadData (fetchPolicy) {
      return Promise.all([
        this.loadConfig(fetchPolicy),
        this.getAgriculturalRegion(fetchPolicy),
        this.fetchPlantSpecies()
      ])
    },
    async fetchPlantSpecies () {
      try {
        const response = await this.$apollo.query({
          query: queryPlantSpecies,
          notifyOnNetworkStatusChange: true,
          update: data => data.plant_species
        })
        this.apolloLoading = true
        this.plantSpecies = response.data.plant_species
        this.apolloLoading = false
      } catch (error) {
        console.error('Error fetching plant species data:', error)
        this.apolloLoading = false
      }
    }
  },
  async mounted () {
    this.apolloLoading = true
    await this.loadData('cache-first')
    await this.getAgriculturalRegion('cache-first')

    if (!this.isParameterSet(this.storePlantSpecies) && this.plotPlantSpecies) {
      this.storePlantSpecies = { ...this.plotPlantSpecies }
    }

    if (!this.isParameterSet(this.storeCropProfile) && this.isParameterSet(this.storePlantSpecies)) {
      this.onPlantSpeciesChange()
    }
    if (this.isParameterSet(this.storeMatchingProfileSelected)) this.matchingProfileSelected = this.storeMatchingProfileSelected

    if (this.isParameterSet(this.storeTargetYield)) this.targetYieldField = this.storeTargetYield
    await this.loadData('cache-only')

    const { hasExportableResidues } = this.checkExportableResidues(this.storeCropProfile)
    this.hasExportableResidues = hasExportableResidues

    // Load data from cache (or online if not in cache)
    await this.loadData('network-only')
    this.apolloLoading = false
  },
  async created () {
    await this.loadConfig()
    await this.fetchPlantSpecies()
  }
}
</script>

<style>

</style>
