<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>The following parameters are used to determine whether it is necessary to compensate for the export of residues from the previous crop.</translate>
          </q-banner>

          <q-card-section>
            <div>
              <div class="text-grey-8 q-mb-xs">
                <translate>Was the previous crop a cereal whose straw was exported?</translate>
              </div>
              <q-btn-toggle
                v-model="storePreviousCropExists"
                :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
                @update:model-value="updateToggle"
                toggle-color="primary"
              />
            </div>
            <q-select
              v-if="storePreviousCropExists"
              v-model="storePreviousCropProfile"
              :options="exportable_residues_crop"
              option-value="id"
              :option-label="getRequafertiPhosphateI18NFieldName('libelle_cult')"
              filled
              :loading="isLoading"
              :label="$gettext('Crop profile from the previous campaign')"
              class="q-mt-md"
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              class="q-pa-none"
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import GenericLayout from 'layouts/GenericLayout.vue'
import Footer from 'components/layouts/Footer.vue'
import Header from 'components/layouts/Header.vue'
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import AlgorithmsMixins from 'pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import RequafertiPhosphateI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/mixins/RequafertiPhosphateI18nMixin'
import queryRequafertiPhosphateConfig
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateConfig'

export default {
  name: 'RequafertiPhosphatePreviousCampaignPage',
  components: { Header, Footer, GenericLayout },
  mixins: [PlatformMixin, AlgorithmsMixins, RequafertiPhosphateI18nMixin],
  data () {
    return {
      requafertiConfig: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Previous campaign')
    },
    pageSubTitle () {
      return 'Requaferti Phosphate'
    },
    canContinue () {
      const cancontinue = (this.isParameterSet(this.storePreviousCropProfile) && this.isParameterSet(this.storePreviousCropExists)) ||
        this.isParameterSet(this.storePreviousCropExists)

      if (this.storePreviousCropExists) {
        return this.storePreviousCropProfile !== undefined
      }

      return cancontinue
    },
    isLoading () {
      return !this.requafertiConfig
    },
    exportable_residues_crop () {
      const list = this.requafertiConfig?.residus_exportables
      return list?.filter(l => l.residus_exportables === '1') || []
    },
    storePreviousCropExists: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.previousCropExists
      },
      set (v) {
        this.updateParameter('previousCropExists', v)
      }
    },
    storePreviousCropProfile: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.previousCropProfile
      },
      set (v) {
        this.updateParameter('previousCropProfile', v)
      }
    }
  },
  methods: {
    updateToggle (event) {
      this.storePreviousCropProfile = undefined
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiPhosphateConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_phosphate__config
    },
    onClickNext () {
      this.$router.replace({
        name: 'requafertiPhosphateOrganicManurePage'
      })
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiPhosphateSoilPage'
      })
    }
  },
  async mounted () {
    await this.loadConfig('cache-first')
  }
}
</script>

<style scoped>

</style>
