<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            v-if="pageTitle"
            class="page-title"
          >
            {{ pageTitle }}
          </div>
          <div
            v-if="pageSubTitle"
            class="page-subtitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner class="bg-grey-3 text-grey-8">
            <translate>Soil data is used to calculate the nutrients supplied by the soil. ATTENTION, as an example, they are pre-filled with the average data for your commune/region supplied by REQUASUD. To obtain a personalised result for your plot, you need to enter soil analysis results specific to that plot.</translate>
          </q-banner>

          <q-card-section>
            <div>
              <div class="text-body2 text-grey-8 q-mb-xs">
                <translate>Did you do a soil analysis for this plot?</translate>
              </div>
              <q-btn-toggle
                v-model="storeSoilSampleExists"
                :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
                toggle-color="primary"
              />
            </div>
            <template v-if="isToggleInitiated">
              <template v-if="isSoilSampleExistsDefined">
                <DateSelectorInput
                  v-if="storeSoilSampleExists"
                  v-model="storeSoilSampleDate"
                  :label="$gettext('Soil sampling date')"
                  :rules="[ val => val !== null && val !== undefined || $gettext('Select a date') ]"
                  class="q-mt-md"
                />
              </template>
              <div class="row q-gutter-x-md q-mt-md">
                <q-select
                  ref="inputSoilType"
                  v-model.number="storeSoilType"
                  :label="$gettext('Soil type')+' *'"
                  :options="soilType"
                  class="col"
                  filled
                  option-label="libelle"
                  option-value="id"
                />
                <q-input
                  ref="inputSoilPhosphorous"
                  v-model.number="storeSoilPhosphorousContent"
                  :label="$gettext('Phosphorous content')"
                  :rules="get_field_rules('phosphore')"
                  :suffix="$gettext('mg/100g')"
                  class="col"
                  filled
                  step="any"
                  type="number"
                />
              </div>
              <div class="row q-gutter-x-md q-mt-md">
                <q-input
                  ref="inputSoilSamplingDepth"
                  v-model.number="storeSoilSamplingDepth"
                  :label="$gettext('Sampling depth')"
                  :rules="get_field_rules('prof_prelev')"
                  :suffix="$gettext('cm')"
                  class="col"
                  filled
                  step="any"
                  type="number"
                />
                <q-input
                  ref="inputSoilStonyContent"
                  v-model.number="storeSoilStonyContent"
                  :label="$gettext('Stony content')"
                  :rules="get_field_rules('cailloux')"
                  :suffix="$gettext('%')"
                  class="col"
                  filled
                  step="any"
                  type="number"
                />
              </div>
              <div class="row q-gutter-x-md q-mt-md">
                <q-input
                  ref="inputSoilCarbon"
                  v-model.number="storeSoilCarbonContent"
                  :label="$gettext('Carbon content')"
                  :rules="get_field_rules('cot')"
                  :suffix="$gettext('%')"
                  class="col"
                  filled
                  step="any"
                  type="number"
                />
                <q-input
                  ref="inputSoilPKCl"
                  v-model.number="storeSoilpHKCl"
                  :label="$gettext('pH KCI')"
                  :rules="get_field_rules('ph')"
                  :suffix="$gettext('g/kg')"
                  class="col"
                  filled
                  step="any"
                  type="number"
                />
              </div>
              <div
                v-if="loading"
                class="column flex-center q-mt-md"
              >
                <q-spinner-dots
                  color="primary"
                  size="24px"
                />
              </div>
            </template>
          </q-card-section>
          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              align="stretch"
              class="q-pa-none"
              vertical
            >
              <q-btn
                :disable="!canContinue"
                color="primary"
                text-color="white"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                color="primary"
                flat
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import DateSelectorInput from 'src/components/form/DateSelectorInput'
import queryRequafertiSoil
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateSoil'
import querySoilDerivedObjectsByPlotId
  from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/querySoilDerivedObjectsByPlotId'
import queryRequafertiPhosphateConfig
  from 'src/pages/fieldbook/fertilization/algorithms/requaferti-phosphate/graphql/queryRequafertiPhosphateConfig'
import { $gettext } from 'boot/translate'

const SOIL_DERIVED_PROPERTIES = [
  'phosphore',
  'ph_kcl',
  'carbone',
  'prof_prelev',
  'cailloux'
]

export default {
  name: 'RequafertiPhosphateSoilPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    DateSelectorInput
  },
  mixins: [PlatformMixin, AlgorithmsMixins],
  data () {
    return {
      requafertiSoil: null,
      plotSoilDerivedProperties: null,
      requafertiConfig: null
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Soil')
    },
    pageSubTitle () {
      return 'Requaferti Phosphate'
    },
    canContinue () {
      return this.isParameterSet(this.storeSoilSampleExists) &&
        (!this.storeSoilSampleExists || this.isParameterSet(this.storeSoilSampleDate)) &&
        this.isParameterSet(this.storeSoilPhosphorousContent) &&
        this.isParameterSet(this.storeSoilSamplingDepth) &&
        this.isParameterSet(this.storeSoilStonyContent) &&
        this.isParameterSet(this.storeSoilCarbonContent) &&
        this.isParameterSet(this.storeSoilpHKCl) &&
        this.isParameterSet(this.storeSoilType)
    },
    isToggleInitiated () {
      return this.storeSoilSampleExists !== undefined && this.storeSoilSampleExists !== null
    },
    loading () {
      return !this.requafertiConfig
    },
    plotId () {
      return this.$store.state.fertilizationPlan.target.id
    },
    plotCenterGeometry () {
      const coordinates = this.$store.state.fertilizationPlan.target.centroid?.coordinates
      return { type: 'Point', coordinates }
    },
    storeSoilSampleExists: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilSampleExists
      },
      set (v) {
        this.updateParameter('soilSampleExists', v)
      }
    },
    storeSoilSampleDate: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilSampleDate
      },
      set (v) {
        this.updateParameter('soilSampleDate', v)
      }
    },
    storeSoilPhosphorousContent: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilPhosphorousContent
      },
      set (v) {
        this.updateParameter('soilPhosphorousContent', v)
      }
    },
    storeSoilSamplingDepth: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilSamplingDepth
      },
      set (v) {
        this.updateParameter('soilSamplingDepth', v)
      }
    },
    storeSoilpHKCl: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilpHKCl
      },
      set (v) {
        this.updateParameter('soilpHKCl', v)
      }
    },
    storeSoilStonyContent: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilStonyContent
      },
      set (v) {
        this.updateParameter('soilStonyContent', v)
      }
    },
    storeSoilType: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilType
      },
      set (v) {
        this.updateParameter('soilType', v)
      }
    },
    storeSoilDepth: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilDepth
      },
      set (v) {
        this.updateParameter('soilDepth', v)
      }
    },
    storeSoilOrganicMatterContent: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilOrganicMatterContent
      },
      set (v) {
        this.updateParameter('soilOrganicMatterContent', v)
      }
    },
    storeSoilCarbonContent: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilCarbonContent
      },
      set (v) {
        this.updateParameter('soilCarbonContent', v)
      }
    },
    storeSoilKm: {
      get () {
        return this.$store.state.fertilizationPlan.parameters.soilKm
      },
      set (v) {
        this.updateParameter('soilKm', v)
      }
    },
    isSoilSampleExistsDefined () {
      return this.isParameterSet(this.storeSoilSampleExists)
    },
    isSoilSampleDateDefined () {
      return this.isParameterSet(this.storeSoilSampleDate)
    },
    soilType () {
      return this.requafertiConfig?.type_sol
    }
  },
  async mounted () {
    // Load data from cache (or online if not in cache): soil properties must be loaded before soil params
    await this.loadSoilProperties('cache-first')
    await this.loadSoilParams('cache-first')
    await this.loadConfig('cache-first')

    // prefill soil values using historical regional data when there is no soil sample
    if (!this.isParameterSet(this.storeSoilStonyContent)) {
      this.storeSoilStonyContent = this.round(this.requafertiSoil.cailloux, 2) || this.get_field_default_value('cailloux')
    }
    if (!this.isParameterSet(this.storeSoilCarbonContent)) {
      this.storeSoilCarbonContent = this.round(this.requafertiSoil.carbone, 2) || this.get_field_default_value('carbone')
    }
    if (!this.isParameterSet(this.storeSoilpHKCl)) {
      this.storeSoilpHKCl = this.round(this.requafertiSoil.ph_kcl, 2) || this.get_field_default_value('ph_kcl')
    }
    if (!this.isParameterSet(this.storeSoilSamplingDepth)) {
      this.storeSoilSamplingDepth = this.round(this.requafertiSoil.prof_prelev, 2) || this.get_field_default_value('prof_prelev')
    }
    if (!this.isParameterSet(this.storeSoilPhosphorousContent)) {
      this.storeSoilPhosphorousContent = this.round(this.requafertiSoil.phosphore, 2) || this.get_field_default_value('phosphore')
    }
    // Refresh online data (do not wait until completion)
    this.loadSoilProperties('network-only').then(() => this.loadSoilParams('network-only'))
  },
  methods: {
    onClickNext () {
      if (!this.storeSoilSampleExists) {
        this.storeSoilSampleDate = undefined
      }
      if (this.validateAllInputs()) {
        this.$router.replace({
          name: 'requafertiPhosphatePreviousCampaignPage'
        })
      }
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiPhosphateCropProfile'
      })
    },
    async loadSoilProperties (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: querySoilDerivedObjectsByPlotId,
        variables: {
          plot_id: this.plotId
        },
        fetchPolicy
      })
      this.plotSoilDerivedProperties = data?.soil_derived_object?.[0]?.derived_observations?.map(observation => ({
        id: observation.observed_property_id,
        value: observation.result.value || null
      })) || []
    },
    get_field_rules (name) {
      const limits = this.requafertiConfig?.limite_valeur_encodage
      const limit = limits?.find(l => l.name === name) || undefined
      if (limit?.min !== undefined && limit?.max !== undefined) {
        return [
          val => (val !== null && val !== undefined && val >= limit.min && val <= limit.max) || `${$gettext('Value should be between')} ${limit.min} ${$gettext('and')} ${limit.max}`
        ]
      }

      return [
        ...(limit?.min !== undefined ? [val => (val !== null && val !== undefined && val >= limit.min) || `${$gettext('Value should be equal or greater than')} ${limit.min}`] : []),
        ...(limit?.max !== undefined ? [val => (val !== null && val !== undefined && val <= limit.max) || `${$gettext('Value should be equal or lesser than')} ${limit.max}`] : [])
      ] || undefined
    },
    get_field_default_value (name) {
      const limits = this.requafertiConfig?.limite_valeur_encodage
      const limit = limits?.find(l => l.name === name) || undefined
      return limit?.value || 0
    },
    async loadConfig (fetchPolicy) {
      const { data } = await this.$apollo.query({
        query: queryRequafertiPhosphateConfig,
        fetchPolicy
      })
      this.requafertiConfig = data?.requaferti_phosphate__config
    },
    async loadSoilParams (fetchPolicy) {
      const soilParamVariables = {
        geometry: this.plotCenterGeometry
      }
      if (this.plotSoilDerivedProperties) {
        for (const plotSoilDerivedProperty of this.plotSoilDerivedProperties) {
          if (SOIL_DERIVED_PROPERTIES.includes(plotSoilDerivedProperty.id)) {
            soilParamVariables[plotSoilDerivedProperty.id] = Number(plotSoilDerivedProperty.value)
          }
        }
      }
      const { data } = await this.$apollo.query({
        query: queryRequafertiSoil,
        variables: soilParamVariables,
        fetchPolicy
      })
      this.requafertiSoil = data?.requaferti_phosphate__soil
    },
    round (value, digits) {
      if (value === null || value === undefined || isNaN(value)) {
        return value
      } else {
        return Number(value.toFixed(digits))
      }
    },
    validateAllInputs () {
      // Get all refs corresponding to inputs
      const inputs = [
        this.$refs.soilType,
        this.$refs.inputSoilPhosphorous,
        this.$refs.inputSoilSamplingDepth,
        this.$refs.inputSoilStonyContent,
        this.$refs.inputSoilCarbon,
        this.$refs.inputSoilPKCl
      ]

      let allValid = true

      for (const input of inputs) {
        if (input && input.validate) {
          const isValid = input.validate()
          if (!isValid) {
            allValid = false
          }
        }
      }
      return allValid
    }
  }
}
</script>
