<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
        <div
          class="page-subtitle"
          v-if="pageSubTitle"
        >
          {{ pageSubTitle }}
        </div>
      </template>
      <RequafertiPhosphateResultsCard
        :fertilization-plan-results="fertilizationPlanResults"
      >
        <template #action-buttons>
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                :loading="saving"
                @click="onClickSavePlan"
              >
                {{ savePlanButtonLabel }}
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="$router.push({name: 'fertilizationPlans'})"
              >
                <translate>Back to all my plans</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </template>
      </RequafertiPhosphateResultsCard>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import FertilizationPlanMixin from 'src/pages/fieldbook/fertilization/mixins/FertilizationPlanMixin'
import RequafertiPhosphateI18nMixin
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/mixins/RequafertiPhosphateI18nMixin'
import RequafertiPhosphateResultsCard
  from 'pages/fieldbook/fertilization/algorithms/requaferti-phosphate/components/RequafertiPhosphateResultsCard.vue'

export default {
  name: 'RequafertiPhosphateResultsPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    RequafertiPhosphateResultsCard
  },
  mixins: [PlatformMixin, AlgorithmsMixins, FertilizationPlanMixin, RequafertiPhosphateI18nMixin],
  computed: {
    pageTitle () {
      return this.$gettext('Results')
    },
    pageSubTitle () {
      return 'Requaferti phosphate'
    },
    plot () {
      return this.$store.state.fertilizationPlan.target
    },
    fertilizationPlanParameters () {
      return this.$store.state.fertilizationPlan.parameters
    },
    fertilizationPlanResults () {
      return {
        plot_id: this.plot.id,
        plot_name: this.plot.name,
        has_warning: this.fertilizationPlanParameters.results?.warningLowStock > 0,
        element_recommendations: this.fertilizationPlanParameters.results.recommendations,
        plant_species_name: this.fertilizationPlanParameters.cropProfile[this.getRequafertiPhosphateI18NFieldName('libelle')]
      }
    }
  },
  methods: {
    onClickPrevious () {
      this.$router.replace({
        name: 'requafertiPhosphateMineralFertilizationPage'
      })
    },
    onClickSavePlan () {
      this.savePlan(this.fertilizationPlanResults)
    }
  }
}
</script>
