<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section>
            <div
              class="text-body2 q-mb-none"
            >
              <translate>Add the other crops present in the same agricultural campaign (be aware of the order):</translate>
            </div>
          </q-card-section>
          <q-list separator>
            <q-item v-if="storeRotations.length === 0">
              <q-item-section>
                <q-item-label class="text-grey">
                  <translate>No crop rotations specified yet.</translate>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              v-for="(rotation, index) in storeRotations"
              :key="'rotation-'+index"
              @click="updateRotation(index)"
              clickable
              v-ripple
            >
              <q-item-section class="col-1">
                <q-item-label caption>
                  {{ index + 1 }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  {{ rotation.visione_profile.profile_name }}
                  <template v-if="rotation.visione_profile.profile_option">
                    {{ rotation.visione_profile.profile_option }}
                  </template>
                </q-item-label>
              </q-item-section>
              <q-item-section side>
                <div class="row q-gutter-x-sm">
                  <q-btn
                    color="secondary"
                    @click.stop="moveRotationUp(index)"
                    :disable="index === 0"
                    dense
                    flat
                    icon="las la-angle-up"
                  />
                  <q-btn
                    color="secondary"
                    @click.stop="moveRotationDown(index)"
                    :disable="index === storeRotations.length - 1"
                    dense
                    flat
                    icon="las la-angle-down"
                  />
                  <q-btn
                    color="red"
                    @click.stop="removeRotation(index)"
                    dense
                    outline
                    icon="las la-trash"
                  />
                </div>
              </q-item-section>
            </q-item>
          </q-list>

          <q-card-section>
            <q-card-actions
              align="right"
            >
              <q-btn
                color="primary"
                text-color="white"
                @click="addCrop"
              >
                <translate>Add crop</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>

          <q-card-section v-if="storeRotations.length">
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>Is the first crop listed used as a green manure (fully buried)?</translate>
            </div>
            <q-btn-toggle
              v-model="isFirstRotationCoverCrop"
              :options="[{value: true, label: $gettext('Yes')}, {value: false, label: $gettext('No')}]"
              toggle-color="primary"
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <!-- <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn> -->
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { ConfirmMixin } from 'src/mixins/DialogMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'

export default {
  name: 'VisioneCropRotationsPage',
  components: {
    GenericLayout,
    Header,
    Footer
  },
  mixins: [PlatformMixin, AlgorithmsMixins, ConfirmMixin],
  data () {
    return {
      isFirstRotationCoverCrop: false
    }
  },
  computed: {
    canContinue () {
      return this.storeRotations.length > 0
    },
    pageTitle () {
      return this.$gettext('Crop rotations')
    },
    pageSubTitle () {
      return 'Visione'
    },
    customInputRules () {
      return [
        val => !isNaN(val) || `${this.$gettext('Must be a number')}`,
        val => !!val || `* ${this.$gettext('This field is required')}`,
        val => val > 0 || `${this.$gettext('Must be positive')}`
      ]
    },
    storeRotations () {
      try {
        return this.$store.state.fertilizationPlan.parameters.current_rotations || []
      } catch (e) {
        return []
      }
    }
  },
  apollo: {
  },
  mounted () {
  },
  methods: {
    addCrop () {
      // reset the "new_rotation" parameters
      this.updateParameter('new_rotation', { cancelable: true })
      this.$router.push({
        name: 'visioneAddCropRotationProfile'
      })
    },
    reorderArray (itemOldIndex, itemNewIndex, originalArray) {
      const movedItem = originalArray.find((item, index) => index === itemOldIndex)
      const remainingItems = originalArray.filter((item, index) => index !== itemOldIndex)
      return [
        ...remainingItems.slice(0, itemNewIndex),
        movedItem,
        ...remainingItems.slice(itemNewIndex)
      ]
    },
    moveRotationUp (index) {
      let cropRotations = JSON.parse(JSON.stringify(this.storeRotations))
      cropRotations = this.reorderArray(index, index - 1, cropRotations)
      this.updateParameter('current_rotations', cropRotations)
    },
    moveRotationDown (index) {
      let cropRotations = JSON.parse(JSON.stringify(this.storeRotations))
      cropRotations = this.reorderArray(index, index + 1, cropRotations)
      this.updateParameter('current_rotations', cropRotations)
    },
    onClickNext () {
      // Set the is_green_manure_cover_crop param for the first rotation
      const rotations = this.storeRotations
      rotations[0].is_green_manure_cover_crop = this.isFirstRotationCoverCrop
      this.updateParameter('current_rotations', rotations)
      this.$router.push({
        name: 'visionePreviousCampaignProfile'
      })
    },
    onClickPrevious () {
      // TODO
      // this.$router.replace({
      //   name: ''
      // })
    },
    updateRotation (index) {
      this.updateParameter('new_rotation', { ...this.storeRotations[index], is_update: true, rotation_index: index, cancelable: true })
      this.$router.push({
        name: 'visioneAddCropRotationProfile'
      })
    },
    async removeRotation (index) {
      const c = await this.confirm({
        title: this.$gettextInterpolate(this.$gettext('Delete the "%{ crop }" rotation ?'), { crop: this.storeRotations[index].visione_profile.profile_name }),
        persistent: false,
        ok: {
          label: this.$gettext('delete'),
          color: 'negative',
          outline: true
        },
        cancel: {
          label: this.$gettext('cancel'),
          color: 'primary',
          flat: true
        }
      })
      if (c) {
        const cropRotations = JSON.parse(JSON.stringify(this.storeRotations))
        cropRotations.splice(index, 1)
        this.updateParameter('current_rotations', cropRotations)
      }
    }
  }
}
</script>
