<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-card-section v-if="displayNumberCycles">
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>How many cycles do you plan for this crop ?</translate>
            </div>
            <q-input
              v-model="storeCropCycles"
              filled
              type="number"
              min="1"
              step="1"
              :rules="customInputRulesPositiveNumber"
            />
          </q-card-section>

          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate v-if="displayNumberCycles">
                What is your estimated crop yield per cycle ?
              </translate>
              <translate v-else>
                What is your estimated crop yield ?
              </translate>
            </div>
            <q-input
              v-model="storeCropYieldPerCycle"
              filled
              type="number"
              :suffix="$pgettext('ton per hectare', 't/ha')"
              min="0"
              :rules="customInputRulesPositiveNumber"
            />
          </q-card-section>
          <q-card-section>
            <div
              class="text-body2 q-mb-sm"
            >
              <translate>What is the humidity of your crop yield ?</translate>
            </div>
            <q-input
              v-model="storeCropYieldHumidityPerCycle"
              filled
              type="number"
              suffix="%"
              :min="minHumidity"
              :max="maxHumidity"
              :rules="customInputRulesPositiveOrNullNumber"
            />
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
              class="q-pa-none"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickPrevious"
              >
                <translate>Previous</translate>
              </q-btn>
              <CancelButton v-if="isCancelable" />
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import CancelButton from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/non-tree-crop-pages/rotation/components/CancelButton'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import VisioneMixins, { PROFILE_GROUPS } from 'src/pages/fieldbook/fertilization/algorithms/visione/mixins/VisioneMixins'
import RotationMixin from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/non-tree-crop-pages/rotation/mixins/RotationMixin'

export default {
  name: 'VisioneAddCropRotationCyclesAndYieldPage',
  components: {
    GenericLayout,
    Header,
    Footer,
    CancelButton
  },
  mixins: [PlatformMixin, AlgorithmsMixins, VisioneMixins, RotationMixin],
  data () {
    return {
      minHumidity: 0,
      maxHumidity: 100
    }
  },
  computed: {
    canContinue () {
      return this.storeCropCycles != null && this.storeCropCycles >= 1 && this.storeCropYieldPerCycle != null && this.storeCropYieldPerCycle > 0
    },
    customInputRulesPositiveNumber () {
      return [
        val => !isNaN(val) || `${this.$gettext('Must be a number')}`,
        val => !!val || `* ${this.$gettext('This field is required')}`,
        val => val > 0 || `${this.$gettext('Must be positive')}`
      ]
    },
    customInputRulesPositiveOrNullNumber () {
      return [
        val => !isNaN(val) || `${this.$gettext('Must be a number')}`,
        val => val >= 0 || `${this.$gettext('Must be positive')}`
      ]
    },
    displayNumberCycles () {
      return this.isPlantSpeciesGroupOrticole
    },
    isPlantSpeciesGroupOrticole () {
      return this.$store.state.fertilizationPlan?.parameters?.new_rotation?.visione_profile?.profile_group === PROFILE_GROUPS.ORTICOLE
    },
    pageTitle () {
      if (this.displayNumberCycles) {
        return this.isCancelable
          ? this.$gettext('New Rotation - Crop cycles and yield')
          : this.$gettext('Crop cycles and yield')
      } else {
        return this.isCancelable
          ? this.$gettext('New Rotation - Crop yield')
          : this.$gettext('Crop yield')
      }
    },
    pageSubTitle () {
      return 'Visione'
    },
    storeCropCycles: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.new_rotation?.crop_cycles
      },
      set (value) {
        this.updateNewRotationParameter('crop_cycles', Math.round(value) >= 1 ? Math.round(value) : 1)
      }
    },
    storeCropYieldPerCycle: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.new_rotation?.crop_yield_per_cycle
      },
      set (value) {
        this.updateNewRotationParameter('crop_yield_per_cycle', value)
      }
    },
    storeCropYieldHumidityPerCycle: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.new_rotation?.crop_yield_humidity_per_cycle
      },
      set (value) {
        this.updateNewRotationParameter('crop_yield_humidity_per_cycle', Number(value) < 0 ? 0 : Number(value) > 100 ? 100 : Math.round(value))
      }
    }
  },
  apollo: {
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'visioneAddCropRotationResidues'
      })
    },
    onClickPrevious () {
      if (this.$store.state.fertilizationPlan?.parameters?.new_rotation?.from) {
        this.$router.replace({
          name: this.$store.state.fertilizationPlan.parameters.new_rotation.from
        })
      } else {
        this.$router.replace({
          name: 'visioneAddCropRotationProfile'
        })
      }
    }
  },
  mounted () {
    if (this.storeCropCycles == null) {
      this.storeCropCycles = 1
    }
    if (this.storeCropYieldHumidityPerCycle == null) {
      this.storeCropYieldHumidityPerCycle = this.$store.state.fertilizationPlan?.parameters?.new_rotation?.visione_profile?.humidity
    }
    this.minHumidity = this.$store.state.fertilizationPlan?.parameters?.new_rotation?.visione_profile?.min_humidity ?? 0
    this.maxHumidity = this.$store.state.fertilizationPlan?.parameters?.new_rotation?.visione_profile?.max_humidity ?? 100
  }
}
</script>
