<template>
  <VisioneFertilizationsSelectionPage
    :page-title="pageTitle"
    :page-sub-title="pageSubTitle"
    :fertilizations="storeFertilizations"
    @add-fertilization="addFertilization"
    @update-fertilization="updateFertilization"
    @remove-fertilization="removeFertilization"
  >
    <template #card-actions-buttons>
      <q-btn
        color="primary"
        text-color="white"
        :disable="!canContinue"
        @click="onClickContinueButton"
      >
        {{ continueButtonText }}
      </q-btn>
      <q-btn
        flat
        color="primary"
        @click="onClickPrevious"
      >
        <translate>Previous</translate>
      </q-btn>
      <CancelButton v-if="isCancelable" />
    </template>
  </VisioneFertilizationsSelectionPage>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import CancelButton from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/non-tree-crop-pages/rotation/components/CancelButton'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import VisioneMixins from 'src/pages/fieldbook/fertilization/algorithms/visione/mixins/VisioneMixins'
import RotationMixin from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/non-tree-crop-pages/rotation/mixins/RotationMixin'

import VisioneFertilizationsSelectionPage from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/templates/VisioneFertilizationsSelectionPage'

export default {
  name: 'VisioneAddCropRotationFertilizationsPage',
  components: {
    VisioneFertilizationsSelectionPage,
    CancelButton
  },
  mixins: [PlatformMixin, AlgorithmsMixins, VisioneMixins, RotationMixin],
  data () {
    return {
    }
  },
  computed: {
    canContinue () {
      return true
    },
    continueButtonText () {
      return this.isCancelable
        ? this.$gettext('Save rotation')
        : this.$gettext('Next')
    },
    pageTitle () {
      return this.isCancelable
        ? this.$gettext('New Rotation - Organic fertilizers')
        : this.$gettext('Organic fertilizers')
    },
    pageSubTitle () {
      return 'Visione'
    },
    storeFertilizations: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.new_rotation?.fertilizations || []
      },
      set (v) {
        this.updateNewRotationParameter('fertilizations', v)
      }
    }
  },
  apollo: {
  },
  mounted () {
  },
  methods: {
    addFertilization (fertilization) {
      this.storeFertilizations = this.storeFertilizations.concat([fertilization])
    },
    onClickContinueButton () {
      // save rotation
      this.saveRotation()
      if (this.isCancelable) {
        // go to rotations page
        this.$router.push({
          name: 'visioneCropRotations'
        })
      } else {
        if (this.canHaveMultipleRotations) {
          this.$router.push({
            name: 'visioneCropRotations'
          })
        } else {
          this.$router.push({
            name: 'visionePreviousCampaignProfile'
          })
        }
      }
    },
    onClickPrevious () {
      this.$router.replace({
        name: 'visioneAddCropRotationResidues'
      })
    },
    removeFertilization (index) {
      this.storeFertilizations = [
        ...this.storeFertilizations.slice(0, index),
        ...this.storeFertilizations.slice(index + 1)
      ]
    },
    saveRotation () {
      if (this.$store.state.fertilizationPlan.parameters.new_rotation.is_update) {
        // get the index of rotation to update
        const index = this.$store.state.fertilizationPlan.parameters.new_rotation.rotation_index
        const rotations = JSON.parse(JSON.stringify(this.$store.state.fertilizationPlan.parameters.current_rotations ?? []))
        rotations[index] = JSON.parse(JSON.stringify(this.$store.state.fertilizationPlan.parameters.new_rotation))
        delete rotations[index].is_update
        delete rotations[index].cancelable
        delete rotations[index].rotation_index
        this.updateParameter('current_rotations', rotations)
      } else {
        const rotation = { ...this.$store.state.fertilizationPlan.parameters.new_rotation }
        delete rotation.is_update
        delete rotation.cancelable
        delete rotation.rotation_index
        this.updateParameter('current_rotations', (this.$store.state.fertilizationPlan.parameters.current_rotations || []).concat([rotation]))
      }
      // this.updateParameter('new_rotation', null)
    },
    updateFertilization ({ fertilization, index }) {
      const f = [...this.storeFertilizations]
      f[index] = fertilization
      this.storeFertilizations = f
    }
  }
}
</script>
