<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>
        <VisioneCropProfileSelectionCard
          :available-plant-species="availablePlantSpeciesFiltered"
          :is-limited-to-plot-plant-species="true"
          :selected-plant-species="storePlantSpecies"
          @input-plant-species="onInputPlantSpecies"
          :selected-plant-species-profile="storePlantSpeciesVisioneProfile"
          @input-plant-species-profile="onInputPlantSpeciesVisioneProfile"
          :loading="!hasLoadedVisionePlantSpeciesProfiles"
        >
          <template #card-actions-btns>
            <q-btn
              color="primary"
              text-color="white"
              :disable="!canContinue"
              @click="onClickNext"
            >
              <translate>Next</translate>
            </q-btn>
            <q-btn
              flat
              color="primary"
              @click="onClickPrevious"
            >
              <translate>Previous</translate>
            </q-btn>
            <CancelButton v-if="isCancelable" />
          </template>
        </VisioneCropProfileSelectionCard>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import VisioneCropProfileSelectionCard from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/component/VisioneCropProfileSelectionCard'
import CancelButton from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/non-tree-crop-pages/rotation/components/CancelButton'

import AlgorithmsMixins from 'src/pages/fieldbook/fertilization/algorithms/common/mixins/AlgorithmsMixins'
import VisioneMixins, { PROFILE_GROUPS } from 'src/pages/fieldbook/fertilization/algorithms/visione/mixins/VisioneMixins'
import RotationMixin from 'src/pages/fieldbook/fertilization/algorithms/visione/pages/non-tree-crop-pages/rotation/mixins/RotationMixin'

import queryVisionePlantSpeciesProfilesByPlantSpeciesIds from 'src/pages/fieldbook/fertilization/algorithms/visione/graphql/queryVisionePlantSpeciesProfilesByPlantSpeciesIds'

export default {
  name: 'VisioneAddCropRotationProfilePage',
  components: {
    GenericLayout,
    Header,
    Footer,
    VisioneCropProfileSelectionCard,
    CancelButton
  },
  mixins: [PlatformMixin, AlgorithmsMixins, VisioneMixins, RotationMixin],
  data () {
    return {
      visionePlantSpeciesProfiles: [],
      hasLoadedVisionePlantSpeciesProfiles: false
    }
  },
  computed: {
    allowedProfileGroups () {
      return [PROFILE_GROUPS.ORTICOLE]
    },
    availablePlantSpeciesFiltered () {
      // filter out all the available plant species which profile group is not orticole
      if (this.hasLoadedVisionePlantSpeciesProfiles) {
        const allowedPlantSpeciesIds = this.visionePlantSpeciesProfiles.filter(plantSpeciesProfiles => {
          return this.allowedProfileGroups.includes(plantSpeciesProfiles?.visione__profile?.profile_group)
        }).map(plantSpeciesProfiles => plantSpeciesProfiles.plant_species_id)
        return this.availablePlantSpecies.filter(plantSpecies => allowedPlantSpeciesIds.includes(plantSpecies.id))
      } else {
        return []
      }
    },
    canContinue () {
      return this.storePlantSpecies != null && this.storePlantSpeciesVisioneProfile != null
    },
    pageTitle () {
      return this.isCancelable
        ? this.$gettext('New Rotation - Crop Profile')
        : this.$gettext('Crop Profile')
    },
    pageSubTitle () {
      return 'Visione'
    },
    storePlantSpecies: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.new_rotation?.plant_species
      },
      set (v) {
        this.updateNewRotationParameter('plant_species', v)
      }
    },
    storePlantSpeciesVisioneProfile: {
      get () {
        return this.$store.state.fertilizationPlan?.parameters?.new_rotation?.visione_profile
      },
      set (v) {
        this.updateNewRotationParameter('visione_profile', v)
      }
    }
  },
  apollo: {
    visionePlantSpeciesProfiles: {
      query: queryVisionePlantSpeciesProfilesByPlantSpeciesIds,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          plant_species_ids: this.availablePlantSpecies.map(plantSpecies => plantSpecies.id)
        }
      },
      update (data) {
        this.hasLoadedVisionePlantSpeciesProfiles = true
        return data.visione__profile_plant_species
      },
      skip () {
        return this.availablePlantSpecies == null || this.availablePlantSpecies.length === 0
      }
    }
  },
  methods: {
    onClickNext () {
      this.$router.push({
        name: 'visioneAddCropRotationCyclesAndYield'
      })
    },
    onClickPrevious () {
      if (this.isCancelable) {
        this.$router.replace({
          name: 'visioneCropRotations'
        })
      } else {
        this.$router.back()
      }
    },
    onInputPlantSpecies (v) {
      this.storePlantSpeciesVisioneProfile = null
      this.storePlantSpecies = v
    },
    onInputPlantSpeciesVisioneProfile (v) {
      this.storePlantSpeciesVisioneProfile = v
    }
  }
}
</script>
