<template>
  <GenericLayout>
    <template #header>
      <Header
        fastplatform-logo
        :title="pageTitle"
      />
    </template>

    <template #page-content>
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
      </template>

      <div
        v-if="loading"
        class="column flex-center"
      >
        <q-spinner-dots
          size="24px"
          color="primary"
        />
      </div>

      <LoadErrorCard
        v-else-if="loadError"
        @retry="onDataLoadRetry"
      />

      <q-card
        :square="!isDesktopPlatform"
        v-else-if="selectedCampaign"
        class="full-height column"
      >
        <!-- Errors -->
        <template v-if="creationError">
          <q-card-section>
            <SyncFeedback
              icon-color="negative"
            >
              <translate>There was an error while creating the demo farm</translate>
              <template #message>
                <span
                  v-translate
                  render-html="true"
                >
                  An unexpected error occurred. Please try again later.
                </span>
              </template>
            </SyncFeedback>
          </q-card-section>
        </template>

        <q-card-section>
          <div class="column flex-center q-mt-md">
            <h6 class="text-grey">
              <translate>The farm demo creation is in progress.</translate>
            </h6>
            <q-spinner-dots
              size="24px"
              color="primary"
            />
          </div>
        </q-card-section>

        <!-- Actions -->
        <q-card-section
          v-if="creationError"
          class="q-mt-auto"
        >
          <q-card-actions
            class="q-pa-none"
            vertical
            align="stretch"
          >
            <q-btn
              color="primary"
              text-color="white"
              :label="$gettext('Retry')"
              @click="onClickNext"
            />
            <q-btn
              flat
              color="primary"
              :label="$gettext('Back')"
              @click="onClickBack"
            />
          </q-card-actions>
        </q-card-section>
      </q-card>

      <div v-else>
        <p class="q-pa-md text-negative">
          <translate>
            There was an error while retrieving the data. Please try again later.
          </translate>
        </p>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import SyncFeedback from 'src/pages/holdings/components/SyncFeedback'
import LoadErrorCard from 'src/pages/holdings/components/LoadErrorCard'
import queryHoldings from 'src/pages/holdings/graphql/queryHoldings'
import queryCampaigns from 'src/pages/holdings/graphql/queryCampaigns'
import mutationInsertDemoHolding from 'src/pages/holdings/graphql/mutationInsertDemoHolding'
import { updateHoldingCampaignCentroidAndBounds } from 'src/services/holding'

export default {
  name: 'HoldingDemoCreationPage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    SyncFeedback,
    LoadErrorCard
  },
  props: {
    campaignId: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      creationError: null,
      loadError: null
    }
  },
  apollo: {
    campaigns: {
      query: queryCampaigns,
      notifyOnNetworkStatusChange: true,
      update: data => data.campaign
    },
    holdings: {
      query: queryHoldings,
      notifyOnNetworkStatusChange: true,
      fetchPolicy: 'network-only',
      update: data => data.holding,
      result ({ error }) {
        this.loadError = error
      }
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Farms')
    },
    loading () {
      return (!this.holdings && this.$apollo.queries.holdings.loading) || (!this.campaigns && this.$apollo.queries.campaigns.loading)
    },
    selectedCampaign () {
      return this.campaigns?.find(campaign => campaign.id === Number(this.campaignId))
    }
  },
  mounted () {
    // start creating the demo farm automatically
    this.createDemoHolding()
  },
  methods: {
    onClickNext () {
      this.createDemoHolding()
    },
    onClickBack () {
      this.$router.push({ name: 'holdings' })
    },
    async createDemoHolding () {
      this.creationError = null
      this.$q.loading.show({
        message: this.$gettext('Creating a demo farm...'),
        delay: 300
      })

      try {
        const campaignId = this.selectedCampaign.id
        const result = await this.$apollo.mutate({
          mutation: mutationInsertDemoHolding,
          fetchPolicy: 'no-cache',
          variables: {
            campaign_id: campaignId
          }
        })
        // We should have a demo farm now, fetch it
        await this.$apollo.queries.holdings.refetch()

        // Activate the newly created holding campaign
        const demoHoldingId = result.data.insert_demo_holding.holding_id
        const holding = this.holdings.find(holding => holding.id === demoHoldingId)
        if (holding) {
          const holdingCampaign = holding.holding_campaigns?.find(hc => hc.campaign.id === campaignId)
          this.$store.commit('fastplatform/updateHoldingCampaign', holdingCampaign)
          await updateHoldingCampaignCentroidAndBounds()
          this.$q.notify({
            timeout: 3500,
            icon: 'las la-check',
            spinner: false,
            color: 'positive',
            message: this.$gettext('Demo farm was successfully created.')
          })
          this.$router.replace({ name: 'home' })
        } else {
          console.error('Demo holding not found')
          this.creationError = new Error('Demo holding not found')
        }
      } catch (e) {
        console.error('Demo holding creation failed', e)
        this.creationError = e
      } finally {
        this.$q.loading.hide()
      }
    },
    onDataLoadRetry () {
      Promise.all([
        this.$apollo.queries.campaigns.refetch(),
        this.$apollo.queries.holdings.refetch()
      ])
    }
  }
}
</script>
