<template>
  <GenericLayout>
    <template #header>
      <Header
        fastplatform-logo
        :title="pageTitle"
      />
    </template>

    <template #page-content>
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
      </template>

      <div
        v-if="loading"
        class="column flex-center"
      >
        <q-spinner-dots
          size="24px"
          color="primary"
        />
      </div>

      <LoadErrorCard
        v-else-if="loadError"
        @retry="onDataLoadRetry"
      />

      <q-card
        :square="!isDesktopPlatform"
        v-else-if="selectedHolding && selectedCampaign"
        class="full-height column"
      >
        <!-- Errors -->
        <template v-if="syncError">
          <q-card-section>
            <SyncFeedback v-if="hasUserForbiddenError">
              <translate>You are not authorized to access this farm data</translate>
              <template #message>
                <p
                  v-translate
                  render-html="true"
                >
                  Check with %{iacsLink} that you have the authorization to access the data of the farm %{selectedHolding.name}.
                </p>
              </template>
            </SyncFeedback>

            <SyncFeedback
              v-else-if="hasUserUnauthenticatedError"
              icon-color="warning"
            >
              <translate>You session has expired</translate>
              <template #message>
                <p
                  v-translate
                  render-html="true"
                >
                  You must login again with %{iacsName} (%{iacsShortName}).
                </p>
              </template>
            </SyncFeedback>

            <SyncFeedback v-else-if="hasObjectNotFoundError">
              <translate>There is no farm data corresponding to your username</translate>
              <template #message>
                <p
                  v-translate
                  render-html="true"
                >
                  Check with %{iacsLink} that your username (%{username}) is registered.
                </p>
              </template>
            </SyncFeedback>

            <SyncFeedback
              v-else-if="hasRemoteError"
            >
              <translate>There was an error when importing your farm data</translate>
              <template #message>
                <span
                  v-translate
                  render-html="true"
                >
                  It looks like %{iacsLink} is not available. Please try again later.
                </span>
              </template>
            </SyncFeedback>

            <SyncFeedback
              v-else-if="hasServiceOrUnexpectedError"
              icon-color="negative"
            >
              <translate>There was an error when importing your farm data</translate>
              <template #message>
                <span
                  v-translate
                  render-html="true"
                >
                  An unexpected error occurred. Please try again later.
                </span>
              </template>
            </SyncFeedback>

            <!-- else do not display anything (it may occur if the user cancels the iacs token refresh) -->
          </q-card-section>
        </template>

        <!-- Result -->
        <template v-else-if="syncResult">
          <q-card-section>
            <SyncFeedback
              v-if="hasSuccessfulResult"
              icon-name="las la-check"
              icon-color="positive"
            >
              <translate>Campaign was successfully started</translate>
              <template #message>
                <translate
                  :translate-params="{
                    farmCount: syncResult.synchronizedPlotCount,
                    farmName: selectedHolding.name,
                    campaignName: selectedCampaign.name
                  }"
                >
                  %{farmCount} plot(s) found for the farm %{farmName} and imported in the campaign %{campaignName}.
                </translate>
              </template>
            </SyncFeedback>

            <SyncFeedback
              v-else-if="hasEmptyResult"
              icon-color="warning"
            >
              <translate>No data found</translate>
              <template #message>
                <translate :translate-params="{ selectedHolding: selectedHolding }">
                  We did not find any data for your farm %{selectedHolding.name}.
                </translate>
              </template>
            </SyncFeedback>

            <!-- Sync messsages -->
            <q-list
              v-if="hasSyncMessages"
              class="q-mt-md"
            >
              <q-item
                v-for="message in syncMessages"
                :key="message.id"
                class="q-px-none"
              >
                <q-item-section side>
                  <q-icon name="las la-minus" />
                </q-item-section>
                <q-item-section>
                  <q-item-label v-if="message.title">
                    {{ message.title }}
                  </q-item-label>
                  <q-item-label
                    v-if="message.detail"
                    caption
                  >
                    {{ message.detail }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </template>

        <!-- IACS consent -->
        <template v-else-if="!skipIacsConsent">
          <q-card-section class="q-pt-lg q-px-lg q-pb-none col-auto">
            <p
              v-translate
              render-html="true"
              class="q-pa-none"
            >
              By clicking on OK, FaST will retrieve data of the farm %{selectedHolding.name} from %{iacsLink}
            </p>
          </q-card-section>
          <q-card-section
            class="q-pt-sm q-pb-none col-auto"
          >
            <q-checkbox
              v-model="iacsConsent"
              :label="$gettextInterpolate($gettext('I allow FaST to query %{iacs_short_name} on my behalf'), {iacs_short_name: iacs.iacs_short_name })"
            />
          </q-card-section>
        </template>

        <!-- Actions -->
        <q-card-section class="q-mt-auto">
          <q-card-actions
            class="q-pa-none"
            vertical
            align="stretch"
          >
            <q-btn
              v-if="hasSuccessfulResult || hasSyncMessages"
              color="primary"
              text-color="white"
              :label="$gettext('OK')"
              @click="onClickOk"
            />
            <q-btn
              v-else
              color="primary"
              text-color="white"
              :disable="!iacsConsent"
              :label="syncError || hasEmptyResult ? $gettext('Retry') : $gettext('Next')"
              @click="onClickNext"
            />
            <q-btn
              flat
              color="primary"
              :label="$gettext('Back')"
              @click="onClickBack"
            />
          </q-card-actions>
        </q-card-section>
      </q-card>

      <div v-else>
        <p class="q-pa-md text-negative">
          <translate>
            There was an error while retrieving the data. Please try again later.
          </translate>
        </p>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import SyncFeedback from 'src/pages/holdings/components/SyncFeedback'
import RefreshIacsTokenDialog from 'src/pages/holdings/components/RefreshIacsTokenDialog'
import LoadErrorCard from 'src/pages/holdings/components/LoadErrorCard'
import queryIacs from 'src/pages/holdings/graphql/queryIacs'
import queryHoldings from 'src/pages/holdings/graphql/queryHoldings'
import queryCampaigns from 'src/pages/holdings/graphql/queryCampaigns'
import mutationSynchronizeHoldingCampaign from 'src/pages/holdings/graphql/mutationSynchronizeHoldingCampaign'
import mutationInsertIacsConsent from 'src/pages/holdings/graphql/mutationInsertIacsConsent'
import { updateHoldingCampaignCentroidAndBounds } from 'src/services/holding'

const IACS_USER_UNAUTHENTICATED = 'IACS_USER_UNAUTHENTICATED'
const IACS_USER_FORBIDDEN = 'IACS_USER_FORBIDDEN'
const IACS_OBJECT_NOT_FOUND = 'IACS_OBJECT_NOT_FOUND'
const IACS_SERVICE_ERROR = 'IACS_SERVICE_ERROR'
const IACS_REMOTE_ERROR = 'IACS_REMOTE_ERROR'
const IACS_UNEXPECTED_ERROR = 'IACS_UNEXPECTED_ERROR'
const IACS_NO_RESULT_WARNING = 'IACS_NO_RESULT_WARNING'
const IACS_ERRORS = [IACS_USER_UNAUTHENTICATED, IACS_USER_FORBIDDEN, IACS_OBJECT_NOT_FOUND, IACS_SERVICE_ERROR, IACS_REMOTE_ERROR, IACS_UNEXPECTED_ERROR]

export default {
  name: 'HoldingCampaignSyncPage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    SyncFeedback,
    LoadErrorCard
  },
  props: {
    holdingId: {
      type: String,
      required: true
    },
    campaignId: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      iacsConsent: false,
      syncError: null,
      loadError: null,
      syncResult: null,
      syncMessages: [],
      autoStarted: false
    }
  },
  apollo: {
    iacs: {
      query: queryIacs,
      notifyOnNetworkStatusChange: true,
      update: data => data
    },
    campaigns: {
      query: queryCampaigns,
      notifyOnNetworkStatusChange: true,
      update: data => data.campaign
    },
    holdings: {
      query: queryHoldings,
      notifyOnNetworkStatusChange: true,
      fetchPolicy: 'network-only',
      update: data => data.holding,
      result ({ error }) {
        this.loadError = error
      }
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Farms')
    },
    loading () {
      return (!this.iacs && this.$apollo.queries.iacs.loading) ||
        (!this.holdings && this.$apollo.queries.holdings.loading) ||
        (!this.campaigns && this.$apollo.queries.campaigns.loading)
    },
    apolloLoading () {
      return this.$apollo.loading
    },
    iacsName () {
      return this.iacs?.iacs_display_name || ''
    },
    iacsShortName () {
      return this.iacs?.iacs_short_name || ''
    },
    iacsLink () {
      if (!this.iacs?.iacs_website_url) {
        return ''
      } else {
        return `<a href="${this.iacs.iacs_website_url}" target="_blank" style="text-decoration: none;">${this.iacsName} (${this.iacsShortName})</a>`
      }
    },
    selectedHolding () {
      return this.holdings?.find(holding => holding.id === this.holdingId)
    },
    selectedCampaign () {
      return this.campaigns?.find(campaign => campaign.id === Number(this.campaignId))
    },
    hasObjectNotFoundError () {
      return this.syncError === IACS_OBJECT_NOT_FOUND
    },
    hasUserForbiddenError () {
      return this.syncError === IACS_USER_FORBIDDEN
    },
    hasUserUnauthenticatedError () {
      return this.syncError === IACS_USER_UNAUTHENTICATED
    },
    hasRemoteError () {
      return this.syncError === IACS_REMOTE_ERROR
    },
    hasServiceOrUnexpectedError () {
      return this.syncError === IACS_SERVICE_ERROR || this.syncError === IACS_UNEXPECTED_ERROR
    },
    hasNoResultWarning () {
      return this.syncError === IACS_NO_RESULT_WARNING
    },
    hasSyncMessages () {
      return this.syncMessages.length > 0
    },
    hasSuccessfulResult () {
      return this.syncResult?.synchronizedPlotCount > 0
    },
    hasEmptyResult () {
      return this.syncResult && !this.syncResult.synchronizedPlotCount
    },
    skipIacsConsent () {
      return this.$route.query?.consentOk || false
    }
  },
  mounted () {
    // consent can be bypassed if redirected from holdings sync page
    if (this.skipIacsConsent) {
      this.iacsConsent = true
    }
  },
  watch: {
    apolloLoading: function (loading) {
      if (!this.autoStarted && !loading && this.skipIacsConsent) {
        // if consent is already ok, we can start syncing campaign when loading is done
        this.autoStarted = true
        this.syncHoldingCampaign()
      }
    }
  },
  methods: {
    onClickOk () {
      this.$router.push({ name: 'home' })
    },
    onClickNext () {
      this.syncHoldingCampaign()
    },
    onClickBack () {
      this.$router.push({ name: 'holdings' })
    },
    onClickOkRefreshIacsToken () {
      this.syncHoldingCampaign()
    },
    async syncHoldingCampaign () {
      /* Insert user IACS consent */
      const ok = await this.processUserIacsConsent()
      if (!ok) {
        return
      }

      /* Synchronize holding campaign from IACS */
      this.syncError = null
      this.syncResult = null
      this.syncMessages = []
      this.$q.loading.show({
        message: this.$gettextInterpolate(
          this.$gettext('Starting the %{campaignName} campaign...'),
          { campaignName: this.selectedCampaign.name }
        )
      })

      try {
        // Synchronize holding campaign plots
        const holding = this.selectedHolding
        const campaign = this.selectedCampaign
        const result = await this.$apollo.mutate({
          mutation: mutationSynchronizeHoldingCampaign,
          variables: {
            campaign_id: campaign.id,
            holding_id: holding.id
          }
        })
        const synchronizedHoldingCampaignResult = result.data.sync_holding
        const synchronizedPlotCount = synchronizedHoldingCampaignResult.plot_ids.length

        // The holdings have synchronized on the backend, refresh our list locally
        await this.$apollo.queries.holdings.refetch()
        const refreshedHolding = this.holdings.find(h => h.id === holding.id)
        const holdingCampaign = refreshedHolding.holding_campaigns.find(hc => hc.campaign.id === campaign.id)
        if (holdingCampaign) {
          // update holding campaign
          this.$store.commit('fastplatform/updateHoldingCampaign', holdingCampaign)
          await updateHoldingCampaignCentroidAndBounds()

          // display result
          this.syncResult = { synchronizedPlotCount }
          this.syncMessages = synchronizedHoldingCampaignResult.messages ?? []
        } else {
          // No holding campaign was added to the holding (no plots found)
          this.syncResult = { synchronizedPlotCount: 0 }
        }
      } catch (e) {
        this.handleIacsErrors(e)
      } finally {
        this.$q.loading.hide()
      }
    },
    async processUserIacsConsent () {
      const mutationResponse = await this.$apollo.mutate({
        mutation: mutationInsertIacsConsent
      }).catch(e => {
        console.error('Could not insert user IACS consent', e)
        this.syncError = IACS_UNEXPECTED_ERROR
      })
      return mutationResponse?.data?.insertedUserIacsConsent?.id
    },
    handleIacsErrors (error) {
      try {
        const errorMessage = error.message ?? IACS_UNEXPECTED_ERROR
        this.syncError = IACS_ERRORS.includes(errorMessage) ? errorMessage : IACS_UNEXPECTED_ERROR
        if (errorMessage === IACS_USER_UNAUTHENTICATED) {
          // User session expired: prompt the user to login again
          const iacsUnauthenticatedParams = error.graphQLErrors.find(e => e.message === IACS_USER_UNAUTHENTICATED).extensions
          const refreshUrl = iacsUnauthenticatedParams?.login_url
          if (refreshUrl) {
            this.$q.dialog({
              component: RefreshIacsTokenDialog,
              componentProps: {
                iacsName: this.iacsName,
                iacsShortName: this.iacsShortName,
                iacsRefreshTokenUrl: refreshUrl
              }
            }).onOk(() => {
              this.syncHoldings()
            })
          } else {
            console.error('Could not sync holdings and could not refresh IACS token because the refresh URL is not provided')
            this.syncError = IACS_UNEXPECTED_ERROR
          }
        }
      } catch (e) {
        console.error('Could not sync holdings: unexpected error', error)
        this.syncError = IACS_UNEXPECTED_ERROR
      }
    },
    onDataLoadRetry () {
      Promise.all([
        this.$apollo.queries.iacs.refetch(),
        this.$apollo.queries.campaigns.refetch(),
        this.$apollo.queries.holdings.refetch()
      ])
    }
  }
}
</script>
