<template>
  <GenericLayout>
    <template #header>
      <Header
        fastplatform-logo
        :title="pageTitle"
      />
    </template>

    <template #page-content>
      <div
        class="page-title"
        v-if="isDesktopPlatform"
      >
        {{ pageTitle }}
      </div>

      <div
        v-if="loading"
        class="column flex-center"
      >
        <q-spinner-dots
          size="24px"
          class="primary"
        />
      </div>

      <LoadErrorCard
        v-else-if="loadError"
        @retry="onDataLoadRetry"
      />

      <template v-else>
        <div
          class="text-subtitle1 text-dark q-mb-md q-mt-md"
          :class="{'page-default-padding-x': !isDesktopPlatform}"
        >
          <translate>Select the farm and campaign to activate</translate>
        </div>

        <q-card
          :square="!isDesktopPlatform"
        >
          <q-card-section>
            <HoldingSelection
              :selected-holding="selectedHolding"
              :holdings="holdings"
              @select-holding="onSelectHolding"
            />
            <CampaignSelection
              :selected-campaign="selectedCampaign"
              :campaigns="campaignsOfSelectedHolding"
              :selected-holding="selectedHolding"
              @select-campaign="onSelectCampaign"
              class="q-mt-md"
            />
          </q-card-section>

          <q-card-section
            v-if="showActionButtons"
            class="column q-gutter-sm"
          >
            <q-btn
              v-if="showActivateHoldingCampaignButton"
              color="primary"
              text-color="white"
              class="full-width"
              :label="activateButtonLabel"
              @click="onClickActivateHoldingCampaign"
            />
            <q-btn
              v-if="showStartWithRealDataButton"
              color="primary"
              text-color="white"
              class="full-width q-mb-sm"
              :label="$gettext('START WITH REAL DATA')"
              @click="onClickSyncHoldingCampaign"
            />
            <q-btn
              v-if="showDuplicateCampaignButton"
              :color="duplicateButtonColor"
              :text-color="duplicateButtonTextColor"
              class="full-width"
              :label="$gettext('Duplicate an existing campaign')"
              @click="onClickDuplicateHoldingCampaign"
            />
            <q-btn
              v-if="showCreateDemoFarmButtonButton"
              text-color="primary"
              class="full-width"
              :label="startButtonLabel"
              @click="onClickCreateDemoFarm"
            />
          </q-card-section>

          <q-card-section v-if="canSynchronizeHoldingAndHoldings">
            <p>
              <translate>If you do not see one of your farms in the list:</translate>&nbsp;
              <a @click="onClickSyncHoldings()">
                <translate>refresh your list of farms</translate>
              </a>
            </p>
            <p v-if="selectedHolding && isSelectedHoldingCampaignStarted">
              <translate translate-context="You can also delete this campaign">
                You can also
              </translate>&nbsp;
              <a @click="onClickDeleteHoldingCampaign">
                <translate translate-context="You can also delete this campaign">delete this campaign</translate>
              </a>
            </p>
          </q-card-section>
        </q-card>

        <!-- startDialog -->
        <q-dialog
          v-model="showStartDialog"
          persistent
        >
          <q-card
            style="width: 98%;"
            class="column"
          >
            <q-card-section
              class="text-body1 q-pt-lg q-px-lg q-pb-none col-auto"
            >
              <img
                src="/images/logo/fast-farmer-app.svg"
                class="float-right"
                style="width: 60px; height: 60px;"
              >
              <p>
                <translate>Hello</translate> {{ user.first_name || user.name || user.username }},
              </p>
              <p>
                <translate>Welcome to FaST!</translate>
              </p>
            </q-card-section>

            <q-card-section
              v-if="canSynchronizeHoldingAndHoldings || canInsertDemoHolding"
              class="col-auto column justify-center"
            >
              <q-card-actions
                vertical
                class="q-pa-none text-center"
              >
                <q-btn
                  v-if="canSynchronizeHoldingAndHoldings"
                  color="primary"
                  text-color="white"
                  size="md"
                  :label="$gettext('START WITH REAL DATA')"
                  no-caps
                  @click="onClickSyncHoldings({ startCurrentCampaign: true })"
                />
                <p
                  class="q-ma-lg"
                  v-if="canSynchronizeHoldingAndHoldings && canInsertDemoHolding"
                >
                  <translate>or</translate>
                </p>
                <q-btn
                  v-if="canInsertDemoHolding"
                  color="primary"
                  size="md"
                  outline
                  @click="onClickCreateDemoFarm"
                >
                  <translate>Try with a demo farm</translate>
                </q-btn>
              </q-card-actions>
            </q-card-section>
            <q-card-section class="text-center">
              <translate>Wrong user ?</translate>&nbsp;
              <a
                class="q-pl-sm"
                style="text-decoration: underline;"
                @click="onClickLogout"
              >
                <translate>Logout</translate>
              </a>.
            </q-card-section>
          </q-card>
        </q-dialog>
      </template>
    </template>

    <template
      #footer
    >
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import HoldingSelection from 'src/pages/holdings/components/HoldingSelection'
import CampaignSelection from 'src/pages/holdings/components/CampaignSelection'
import ConfirmDeleteHoldingCampaignDialog from 'src/pages/holdings/components/ConfirmDeleteHoldingCampaignDialog'
import LoadErrorCard from 'src/pages/holdings/components/LoadErrorCard'
import queryIacs from 'src/pages/holdings/graphql/queryIacs'
import queryCampaigns from 'src/pages/holdings/graphql/queryCampaigns'
import queryHoldings from 'src/pages/holdings/graphql/queryHoldings'
import mutationDeleteHoldingCampaignByPk from 'src/pages/holdings/graphql/mutationDeleteHoldingCampaignByPk'
import featureFlags from 'src/services/feature-flags'
import { updateHoldingCampaignCentroidAndBounds } from 'src/services/holding'

export default {
  name: 'HoldingsPage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    HoldingSelection,
    CampaignSelection,
    LoadErrorCard
  },
  data () {
    return {
      activatingCurrentHoldingAndCampaign: false,
      selectedHolding: null,
      selectedCampaign: null,
      startDialog: false,
      loadError: null
    }
  },
  apollo: {
    iacs: {
      query: queryIacs,
      notifyOnNetworkStatusChange: true,
      update: data => data
    },
    campaigns: {
      query: queryCampaigns,
      notifyOnNetworkStatusChange: true,
      update: data => data.campaign
    },
    holdings: {
      query: queryHoldings,
      notifyOnNetworkStatusChange: true,
      fetchPolicy: 'network-only',
      update: data => data.holding,
      result ({ error }) {
        this.loadError = error
      }
    }
  },
  computed: {
    user () {
      return this.$store.state.fastplatform.user
    },
    campaignsOfSelectedHolding () {
      if (this.selectedHolding?.holding_campaigns) {
        return this.campaigns
      } else {
        return []
      }
    },
    pageTitle () {
      return this.$gettext('Farms')
    },
    isSelectedHoldingCampaignStarted () {
      return this.selectedHolding && this.selectedCampaign && Boolean(this.selectedHolding.holding_campaigns?.find(hc => hc.campaign.id === this.selectedCampaign.id))
    },
    isSelectedHoldingCampaignActivated () {
      return this.selectedHolding &&
        this.selectedCampaign &&
        this.$store.state.fastplatform.holdingCampaign.holding?.id === this.selectedHolding.id &&
        this.$store.state.fastplatform.holdingCampaign.campaign?.id === this.selectedCampaign.id
    },
    hasDuplicableCampaigns () {
      return this.selectedHolding?.holding_campaigns?.length > 0
    },
    activateButtonLabel () {
      return this.$gettext('Activate')
    },
    startButtonLabel () {
      if (!this.isDemoHolding) {
        return this.$gettextInterpolate(this.$gettext('Start using my %{iacs_short_name} data'), { iacs_short_name: this.iacs.iacs_short_name })
      } else {
        return this.$gettext('Start using demo data')
      }
    },
    apolloLoading () {
      return this.$apollo.loading
    },
    loading () {
      return (this.apolloLoading && (this.holdings === null || this.campaigns === null || this.iacs === null)) || this.activatingCurrentHoldingAndCampaign
    },
    showStartDialog () {
      return this.startDialog && !this.$store.state.appState.isTermsAndConditionsModalOpen
    },
    canSynchronizeHoldingAndHoldings () {
      return featureFlags.canSynchronizeHoldingAndHoldings()
    },
    canInsertDemoHolding () {
      return featureFlags.canInsertDemoHolding()
    },
    duplicateButtonColor () {
      return this.isDemoHolding ? 'primary' : 'white'
    },
    duplicateButtonTextColor () {
      return this.isDemoHolding ? 'white' : 'primary'
    },
    currentCampaign () {
      return this.campaigns.find(c => c.is_current)
    },
    isDemoHolding () {
      return this.selectedHolding?.id?.toLowerCase() === `demo-${this.user.username.toLowerCase()}`
    },
    showActivateHoldingCampaignButton () {
      return this.isSelectedHoldingCampaignStarted && !this.isSelectedHoldingCampaignActivated
    },
    showStartWithRealDataButton () {
      return this.canSynchronizeHoldingAndHoldings && this.selectedHolding && this.selectedCampaign && !this.isSelectedHoldingCampaignStarted && !this.isDemoHolding
    },
    showDuplicateCampaignButton () {
      return this.selectedHolding && this.selectedCampaign && !this.isSelectedHoldingCampaignStarted && this.hasDuplicableCampaigns
    },
    showCreateDemoFarmButtonButton () {
      return this.canInsertDemoHolding && this.selectedHolding && this.selectedCampaign && !this.isSelectedHoldingCampaignStarted && this.isDemoHolding
    },
    showActionButtons () {
      return this.showActivateHoldingCampaignButton || this.showStartWithRealDataButton || this.showDuplicateCampaignButton || this.showCreateDemoFarmButtonButton
    }
  },
  methods: {
    onClickActivateHoldingCampaign () {
      this.activateSelectedHoldingCampaign()
    },
    onClickSyncHoldings (options) {
      this.$router.push({
        name: 'holdingsSync',
        query: {
          startCurrentCampaign: options?.startCurrentCampaign || false
        }
      })
    },
    onClickSyncHoldingCampaign () {
      this.$router.push({
        name: 'holdingCampaignSync',
        params: {
          holdingId: this.selectedHolding.id,
          campaignId: this.selectedCampaign.id
        }
      })
    },
    onClickDuplicateHoldingCampaign () {
      this.$router.push({
        name: 'holdingCampaignDuplication',
        params: {
          holdingId: this.selectedHolding.id,
          campaignId: this.selectedCampaign.id
        }
      })
    },
    onClickCreateDemoFarm () {
      const campaignId = this.selectedCampaign?.id ?? this.currentCampaign?.id
      this.$router.push({
        name: 'holdingDemoCreation',
        params: {
          campaignId
        }
      })
    },
    onClickLogout () {
      this.$router.push({ name: 'logout' })
    },
    onSelectHolding (holding) {
      this.selectedHolding = holding
      // if selectedHolding has been updated, reinitialise the selectedCampaign
      if (this.campaignsOfSelectedHolding.length >= 1) {
        // try to select the current campaign
        const currentCampaign = this.campaignsOfSelectedHolding.find(campaign => campaign.is_current)
        if (currentCampaign) {
          this.selectedCampaign = currentCampaign
        } else {
          // if no current campaign, select the first campaign
          this.selectedCampaign = this.campaignsOfSelectedHolding[0]
        }
      } else {
        this.selectedCampaign = null
      }
    },
    onSelectCampaign (campaign) {
      this.selectedCampaign = campaign
    },
    onClickDeleteHoldingCampaign () {
      this.$q.dialog({
        component: ConfirmDeleteHoldingCampaignDialog,
        componentProps: {
          selectedHolding: this.selectedHolding,
          selectedCampaign: this.selectedCampaign
        }
      }).onOk(() => {
        this.deleteHoldingCampaign()
      })
    },
    async deleteHoldingCampaign () {
      const notif = this.$q.notify({
        group: false, // required to be updatable
        timeout: 0, // we want to be in control when it gets dismissed
        spinner: true,
        message: this.$gettext('Deleting campaign...')
      })
      const holdingCampaign = this.selectedHolding.holding_campaigns.find(hc => hc.campaign.id === this.selectedCampaign.id)
      const mutationResponse = await this.$apollo.mutate({
        mutation: mutationDeleteHoldingCampaignByPk,
        variables: {
          id: holdingCampaign.id
        }
      }).catch(e => {
        console.error('Could not delete holding campaign', e)
        notif({
          message: this.$gettext('There was an error while deleting your campaign'),
          timeout: 10000,
          color: 'negative'
        })
      })
      if (mutationResponse?.data?.delete_holding_campaign_by_pk?.id) {
        await this.$apollo.queries.holdings.refetch()
        this.selectedHolding = this.holdings.find(h => h.id === this.selectedHolding.id)
        this.selectedCampaign = null
        if (holdingCampaign.id === this.$store.state.fastplatform.holdingCampaign.id) {
          this.$store.commit('fastplatform/deleteHoldingCampaign')
        }
        notif({
          timeout: 3500,
          icon: 'las la-check',
          spinner: false,
          color: 'positive',
          message: this.$gettext('Campaign was successfully deleted.')
        })
      } else {
        notif({
          message: this.$gettext('There was an error while deleting your campaign'),
          timeout: 10000,
          color: 'negative'
        })
      }
      return mutationResponse?.data?.delete_holding_campaign_by_pk?.id
    },
    async activateSelectedHoldingCampaign () {
      const holdingCampaign = this.selectedHolding.holding_campaigns?.find(hc => hc.campaign.id === this.selectedCampaign.id)
      if (holdingCampaign) {
        this.$store.commit('fastplatform/updateHoldingCampaign', holdingCampaign)
        await updateHoldingCampaignCentroidAndBounds()
        this.$q.notify({
          color: 'positive',
          message: this.$gettextInterpolate(this.$gettext('The campaign %{campaignName} is now active for the farm %{farmName}.'), {
            campaignName: this.selectedCampaign.name,
            farmName: this.selectedHolding.name
          })
        })
        this.$router.push({ name: 'home' })
      } else {
        console.error('Could not find the selected holding campaign')
      }
    },
    async tryToActivateCurrentHoldingCampaign () {
      if (!this.holdings) {
        // error => could not fetch holdings
        console.error('Could not fetch holdings')
      } else if (this.holdings.length === 0) {
        // show the start dialog (holding creation)
        this.startDialog = true
      } else if (this.$store.state.fastplatform.holdingCampaign?.campaign && this.$store.state.fastplatform.holdingCampaign?.holding) {
        // if holding campaign had already been selected, preselect it and show the campaign selection form
        this.selectedHolding = this.holdings.find(holding => holding.id === this.$store.state.fastplatform.holdingCampaign.holding.id)
        this.selectedCampaign = this.$store.state.fastplatform.holdingCampaign.campaign
      } else if (this.holdings.length === 1) {
        // if there is only one holding but not selected in store, activate it with the current campaign (first login after logout)
        this.selectedHolding = this.holdings[0]
        this.selectedCampaign = this.currentCampaign
        await this.activateSelectedHoldingCampaign()
      } else {
        // multiple holdings: show the campaign selection form
      }
      this.activatingCurrentHoldingAndCampaign = false
    },
    onDataLoadRetry () {
      Promise.all([
        this.$apollo.queries.iacs.refetch(),
        this.$apollo.queries.campaigns.refetch(),
        this.$apollo.queries.holdings.refetch()
      ])
    }
  },
  watch: {
    apolloLoading: function (loading) {
      if (!loading && !this.selectedHolding) {
        this.tryToActivateCurrentHoldingCampaign()
      }
    }
  },
  created () {
    // force loading state
    this.activatingCurrentHoldingAndCampaign = true
  }
}
</script>
