<template>
  <GenericLayout>
    <template #header>
      <Header
        fastplatform-logo
        :title="pageTitle"
      />
    </template>

    <template #page-content>
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
      </template>

      <div
        v-if="loading"
        class="column flex-center"
      >
        <q-spinner-dots
          size="24px"
          color="primary"
        />
      </div>

      <LoadErrorCard
        v-else-if="loadError"
        @retry="onDataLoadRetry"
      />

      <q-card
        :square="!isDesktopPlatform"
        v-else-if="selectedHolding && selectedCampaign"
        class="full-height column"
      >
        <!-- Errors -->
        <template v-if="duplicationError">
          <q-card-section>
            <SyncFeedback
              icon-color="negative"
            >
              <translate>There was an error while duplicating your farm data</translate>
              <template #message>
                <span
                  v-translate
                  render-html="true"
                >
                  An unexpected error occurred. Please try again later.
                </span>
              </template>
            </SyncFeedback>
          </q-card-section>
        </template>

        <!-- Duplication form -->
        <q-card-section
          class="q-pt-lg q-px-lg q-pb-none col-auto"
        >
          <p
            v-translate
            class="q-pa-none"
          >
            Select the campaign you wish to duplicate
          </p>
          <CampaignSelection
            :selected-campaign="selectedCampaignForDuplication"
            :campaigns="campaignsOfSelectedHoldingForDuplication"
            :selected-holding="selectedHolding"
            @select-campaign="onSelectCampaignForDuplication"
            dense
          />
        </q-card-section>
        <q-card-section
          v-if="selectedCampaignForDuplication"
          class="q-pt-lg q-px-lg q-pb-none col-auto"
        >
          <p
            v-translate
            class="q-pa-none"
          >
            By clicking OK, we will duplicate the plots and crops from campaign %{selectedCampaignForDuplication.name} to campaign %{selectedCampaign.name}
          </p>
        </q-card-section>

        <!-- Actions -->
        <q-card-section class="q-mt-auto">
          <q-card-actions
            class="q-pa-none"
            vertical
            align="stretch"
          >
            <q-btn
              color="primary"
              text-color="white"
              :label="duplicationError ? $gettext('Retry') : $gettext('Ok')"
              @click="onClickNext"
            />
            <q-btn
              flat
              color="primary"
              :label="$gettext('Back')"
              @click="onClickBack"
            />
          </q-card-actions>
        </q-card-section>
      </q-card>

      <div v-else>
        <p class="q-pa-md text-negative">
          <translate>
            There was an error while retrieving the data. Please try again later.
          </translate>
        </p>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import SyncFeedback from 'src/pages/holdings/components/SyncFeedback'
import CampaignSelection from 'src/pages/holdings/components/CampaignSelection'
import LoadErrorCard from 'src/pages/holdings/components/LoadErrorCard'
import queryHoldings from 'src/pages/holdings/graphql/queryHoldings'
import queryCampaigns from 'src/pages/holdings/graphql/queryCampaigns'
import mutationDuplicateHoldingCampaign from 'src/pages/holdings/graphql/mutationDuplicateHoldingCampaign'
import { updateHoldingCampaignCentroidAndBounds } from 'src/services/holding'

export default {
  name: 'HoldingCampaignDuplicationPage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    SyncFeedback,
    CampaignSelection,
    LoadErrorCard
  },
  props: {
    holdingId: {
      type: String,
      required: true
    },
    campaignId: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      duplicationError: null,
      loadError: null,
      selectedCampaignForDuplication: null
    }
  },
  apollo: {
    campaigns: {
      query: queryCampaigns,
      notifyOnNetworkStatusChange: true,
      update: data => data.campaign
    },
    holdings: {
      query: queryHoldings,
      notifyOnNetworkStatusChange: true,
      fetchPolicy: 'network-only',
      update: data => data.holding,
      result ({ error }) {
        this.loadError = error
      }
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('Farms')
    },
    loading () {
      return (!this.holdings && this.$apollo.queries.holdings.loading) || (!this.campaigns && this.$apollo.queries.campaigns.loading)
    },
    selectedHolding () {
      return this.holdings?.find(holding => holding.id === this.holdingId)
    },
    selectedCampaign () {
      return this.campaigns?.find(campaign => campaign.id === Number(this.campaignId))
    },
    campaignsOfSelectedHoldingForDuplication () {
      if (this.selectedHolding?.holding_campaigns) {
        return this.campaigns.filter(campaign => this.selectedHolding.holding_campaigns.find(hc => hc.campaign.id === campaign.id && hc.campaign.id !== this.selectedCampaign.id))
      } else {
        return []
      }
    }
  },
  methods: {
    onClickNext () {
      this.duplicateHoldingCampaign()
    },
    onClickBack () {
      this.$router.push({ name: 'holdings' })
    },
    onSelectCampaignForDuplication (campaign) {
      this.selectedCampaignForDuplication = campaign
    },
    async duplicateHoldingCampaign () {
      this.duplicationError = null
      this.$q.loading.show({
        message: this.$gettext('Duplicating the campaign...'),
        delay: 300
      })

      try {
        const result = await this.$apollo.mutate({
          mutation: mutationDuplicateHoldingCampaign,
          variables: {
            campaign_from_id: this.selectedCampaignForDuplication.id,
            campaign_to_id: this.selectedCampaign.id,
            holding_id: this.selectedHolding.id
          }
        })
        const duplicatedHoldingCampaignId = result.data.duplicate_holding_campaign.holding_campaign_id
        await this.$apollo.queries.holdings.refetch()
        const refreshedHolding = this.holdings.find(h => h.id === this.selectedHolding.id)
        const holdingCampaign = refreshedHolding.holding_campaigns.find(hc => hc.id === duplicatedHoldingCampaignId)
        if (holdingCampaign) {
          this.$store.commit('fastplatform/updateHoldingCampaign', holdingCampaign)
          await updateHoldingCampaignCentroidAndBounds()
          this.$q.notify({
            timeout: 3500,
            icon: 'las la-check',
            spinner: false,
            color: 'positive',
            message: this.$gettext('Campaign was successfully duplicated and activated.')
          })
          this.$router.replace({ name: 'home' })
        } else {
          console.error('Duplicated campaign not found')
          this.duplicationError = new Error('Duplicated campaign not found')
        }
      } catch (e) {
        console.error('Failed to duplicate holding campaign', e)
        this.duplicationError = e
      } finally {
        this.$q.loading.hide()
      }
    },
    onDataLoadRetry () {
      Promise.all([
        this.$apollo.queries.campaigns.refetch(),
        this.$apollo.queries.holdings.refetch()
      ])
    }
  }
}
</script>
