

<template>
  <div class="q-py-sm">
    <q-card>
      <q-card-section>
        <div class="text-h5 text-grey-8">
        </div>
      </q-card-section>
      <q-card-section class="q-pt-none text-grey-8">
        <p>
        <translate>The low, normal and exceptional production levels correspond to biomass of 0 to 1, 1 to 3 and more than 3 tonnes of dry matter per hectare respectively.</translate>
        </p>
        <p>
          <translate>If the catch crop has been harvested, it is recommended to indicate a low level of biomass production.</translate>
        </p>
        </q-card-section>
      <q-separator />
      <q-card-actions
        align="center"
      >
        <q-btn
          color="primary"
          @click="$emit('close')"
        >
          <translate>Close</translate>
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'CipanProductionLevelPopUp'
}
</script>

<style scoped>

</style>
