<template>
  <div class="q-pa-lg">
    <q-option-group
      v-model="group"
      :options="options"
      color="primary"
      type="toggle"
    />
    <div class="q-mt-sm">
      <q-btn
        color="primary"
        @click="closeHelper"
      >
        <translate>Next</translate>
      </q-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RequafertiPreviousCropProfileHelpform',
  emits: ['close'],
  data () {
    return {
      group: [],

      options: [
        {
          label: this.$gettext('The soil sample was taken after the residues were buried.'),
          value: 'op1'
        },
        {
          label: this.$gettext('The residues were no longer visible in the sample (advanced degradation).'),
          value: 'op2'
        },
        {
          label: this.$gettext('You have entered an organic nitrogen value in the soil data.'),
          value: 'op3'
        },
        {
          label: this.$gettext('The previous main crop was not a cereal with straw buried without nitrogen, grain maize, or catch crop ryegrass.'),
          value: 'op4'
        }
      ]
    }
  },
  computed: {
    result () {
      let result = true
      if (this.group.length === this.options.length) result = false
      // returns no if all the previous choice are selected
      return result
    }
  },
  methods: {
    closeHelper () {
      this.$emit('close-helper', this.result)
    }
  }
}
</script>
