<template>
  <div class="q-py-sm">
    <q-item-label
      class="q-pt-none q-pb-sm text-subtitle1"
      header
    >
      <span
        :class="{ 'text-bold': bold }"
      >
        {{ label }}
      </span>
    </q-item-label>
    <div
      class="npk-result  q-gutter-y-xs q-px-md q-mx-lg column "
    >
      <div class="row q-col-gutter-md ">
        <div
          v-for="item in npkElement"
          :key="item.name"
          class="q-gutter-y-xs q-px-md q-mb-sm  col-12 col-md-6 col-shrink"
        >
          <div class="col-6 col-md-auto">
            <template v-if="item.name">
              <q-item-label class="q-pt-none q-pb-sm  text-grey ">
                <template v-if="item.emphased">
                  <strong>{{ item.name }}</strong>
                </template>
                <template v-else>
                  {{ item.name }}
                </template>
              </q-item-label>
            </template>
            <div class="label_size">
              <NPKBadge
                :deemphasize="deemphasize"
                :element-id="item.chemical_element_id"
                :formula-id="item.chemical_formula_id"
                :quantity="item.quantity"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.label_size {
  max-width: 120px;
  width: 80px;
  align-items: flex-end;
  display: inline-flex;

}
</style>

<script>
import NPKBadge from 'src/components/npk/NPKBadge'

export default {
  name: 'RequafertiResultItem',
  components: {
    NPKBadge
  },
  props: {
    npkElement: {
      type: Object,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    bold: {
      type: Boolean,
      default: false
    },
    deemphasize: {
      type: Boolean,
      default: false
    }
  }
}
</script>
