<template>
  <q-drawer
    v-model="showDrawer"
    side="left"
    elevated
    class="text-white bg-dark full-height column no-wrap q-pa-md "
    :width="drawerWidth"
  >
    <div class="row items-center">
      <div class="col">
        <div
          class="text-h6"
          key="active-user"
        >
          <translate>Hello,</translate> {{ displayedUsername }}
        </div>
      </div>
    </div>
    <div class="text-small text-grey">
      <translate>user</translate>: {{ username }}
    </div>

    <template v-if="holding">
      <div
        class="text-subtitle1 text-bold q-mt-xl"
      >
        {{ holding.name }}
      </div>
      <div
        v-if="activeCampaign"
        class="text-subtitle1 q-mt-sm"
      >
        {{ activeCampaign.name }}
      </div>
      <div v-else>
        <translate>No active campaign</translate>
      </div>
    </template>
    <div
      v-else
      class="q-mt-lg"
    >
      <translate>No active farm</translate>
    </div>

    <q-btn
      flat
      dense
      icon-right="la la-angle-right"
      class="q-mt-sm"
      @click="onClickManageMyFarms"
    >
      <translate>Manage my farms</translate>
    </q-btn>

    <div class="q-mt-auto">
      <q-btn-dropdown
        v-if="showLanguageSelection"
        flat
        dense
        align="left"
        :label="selectedLanguage.name"
        icon="las la-language"
      >
        <q-list>
          <q-item
            v-for="language in availableLanguages"
            :key="language.name"
            clickable
            v-close-popup
            @click="onSelectLanguage(language)"
          >
            <q-item-section>
              <q-item-label>{{ language.name }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
    </div>

    <q-btn
      flat
      dense
      align="left"
      icon="las la-question-circle"
      :label="$gettext('Support')"
      class="q-mt-sm"
      @click="onClickSupport()"
    />

    <q-btn
      flat
      dense
      align="left"
      icon="la la-sign-out-alt"
      :label="$gettext('Logout')"
      class="q-mt-sm"
      @click="customLogout(false)"
    />

    <div class="row no-wrap items-center q-mt-md">
      <img
        src="/images/logo/european_commission.svg"
        class="block"
        style="height: 40px; width: 40px;"
      >
      <div
        class="text-small text-center q-ml-sm"
      >
        <translate>European Commission</translate>
      </div>
    </div>
    <div class="row no-wrap items-center">
      <img
        :src="$store.state.fastplatform.region.image"
        class="block"
        style="max-height: 30px; max-width: 30px; margin-left: 5px; margin-right: 5px;"
        rel="preload"
      >
      <div class="text-small q-ml-sm">
        {{ $store.state.fastplatform.region.name }}
      </div>
    </div>
    <div
      class="text-small q-mb-md q-mt-sm"
    >
      <span
        class="cursor-pointer"
        style="margin-left: 48px;"
        @click="onClickCredits()"
      >
        <translate>Credits</translate>
      </span>
    </div>
    <div
      v-if="appVersion"
      class="text-small q-mb-sm q-mt-md"
    >
      {{ appVersion }}
    </div>

    <q-dialog v-model="isLogoutNetworkError">
      <q-card>
        <q-card-section>
          <div class="text-h6">
            <translate>Internet connection required</translate>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <translate>
            An internet connection is required to log you out. Make sure you activated either the Wi-Fi or the mobile data on your device.
          </translate>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            :label="$gettext('OK')"
            color="primary"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="isLogoutPhotosNotUploadedError">
      <q-card>
        <q-card-section>
          <div class="text-h6 flex">
            <q-icon
              class="col-auto q-mr-md"
              name="las la-exclamation-triangle"
            />
            <translate class="col">
              Some photos are not uploaded yet
            </translate>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none text-grey">
          <translate>
            You have some photos that are not uploaded yet. Logging out will delete those photos.
          </translate>
        </q-card-section>

        <q-card-section class="text-body2">
          <translate>
            Log out and delete non uploaded photos ?
          </translate>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            :label="$gettext('Cancel')"
            color="grey"
            v-close-popup
          />
          <q-btn
            flat
            :label="$gettext('Yes, log me out')"
            color="negative"
            v-close-popup
            @click="customLogout(true)"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-drawer>
</template>

<script>
import { Network } from '@capacitor/network'

import queryHoldingByActiveHoldingCampaignId from 'src/components/layouts/header/graphql/queryHoldingByActiveHoldingCampaignId'
import { LanguageMixin } from 'src/mixins/LanguageMixin'
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import { uploadServiceInstance } from 'src/services/photo/upload'
import { updateHoldingCampaignCentroidAndBounds } from 'src/services/holding'
import { AVAILABLE_LANGUAGES } from 'src/services/translate'

export default {
  name: 'LeftDrawer',
  mixins: [
    LanguageMixin,
    PlatformMixin
  ],
  data () {
    return {
      isLogoutNetworkError: false,
      isLogoutPhotosNotUploadedError: false
    }
  },
  apollo: {
    holding: {
      query: queryHoldingByActiveHoldingCampaignId,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          holding_campaign_id: this.$store.state.fastplatform.holdingCampaign.id
        }
      },
      update: data => data.holding && data.holding.length && data.holding[0],
      skip () {
        return !this.$store.state.fastplatform.holdingCampaign || !this.$store.state.fastplatform.holdingCampaign.id
      }
    }
  },
  computed: {
    username () {
      return this.$store.state.fastplatform.user.username
    },
    displayedUsername () {
      return this.$store.state.fastplatform.user.first_name || this.$store.state.fastplatform.user.name || this.username
    },
    selectedLanguage () {
      if (this.selectedLanguageCode) {
        return AVAILABLE_LANGUAGES?.[this.$store.state.fastplatform.preferredLanguage]
      } else {
        return null
      }
    },
    selectedLanguageCode () {
      return this.$store.state.fastplatform.preferredLanguage
    },
    availableLanguages () {
      return this.$store.state.fastplatform.availableLanguages?.map(code => AVAILABLE_LANGUAGES[code]).filter(language => Boolean(language)) || []
    },
    showLanguageSelection () {
      return this.availableLanguages?.length > 1
    },
    showDrawer: {
      get () {
        return this.$store.state.appState.isLeftDrawerOpened
      },
      set (v) {
        this.$store.commit('appState/updateIsLeftDrawerOpened', Boolean(v))
      }
    },
    drawerWidth () {
      return this.isDesktopPlatform ? 300 : 250
    },
    appVersion () {
      const version = process.env.APP_VERSION || ''
      return version ? (version.startsWith('v') ? version : `v${version}`) : ''
    },
    activeCampaign () {
      return this.$store.state.fastplatform.holdingCampaign?.campaign
    }
  },
  methods: {
    show () {
      this.$store.dispatch('appState/showLeftDrawer')
    },
    hide () {
      this.$store.dispatch('appState/hideLeftDrawer')
    },
    toggle () {
      this.$store.dispatch('appState/toggleLeftDrawer')
    },
    async onClickActivateHoldingCampaign (holdingCampaign) {
      if (!this.isDesktopPlatform) {
        this.$store.dispatch('appState/hideLeftDrawer')
      }
      this.$store.commit('fastplatform/updateHoldingCampaign', holdingCampaign)
      await updateHoldingCampaignCentroidAndBounds()
      this.$q.notify({
        color: 'positive',
        message: this.$gettextInterpolate(this.$gettext('The campaign %{campaignName} is now active.'), { campaignName: holdingCampaign.campaign.name })
      })
    },
    onClickManageMyFarms () {
      if (!this.isDesktopPlatform) {
        this.$store.dispatch('appState/hideLeftDrawer')
      }
      this.$router.push({ name: 'holdings' })
    },
    onSelectLanguage (language) {
      this.setPlatformLanguage(language.languageCode)
    },
    onClickSupport () {
      if (!this.isDesktopPlatform) {
        this.$store.dispatch('appState/hideLeftDrawer')
      }
      this.$router.push({ name: 'support' })
    },
    onClickCredits () {
      if (!this.isDesktopPlatform) {
        this.$store.dispatch('appState/hideLeftDrawer')
      }
      this.$router.push({ name: 'credits' })
    },
    async _checkIsNetworkAvailable () {
      try {
        const networkStatus = await Network.getStatus()
        return networkStatus.connected
      } catch (err) {
        return false
      }
    },
    logout () {
      this.$router.push({ name: 'logout' })
    },
    async customLogout (forceLogout = false) {
      this.$store.dispatch('appState/hideLeftDrawer')

      this.isLogoutPhotosNotUploadedError = false
      this.isLogoutNetworkError = false
      if (forceLogout || !this.isMobileApp) {
        this.logout()
      } else {
        // Check network availability. Logging out (on a mobile device) requires network to be available.
        const isNetworkAvailable = await this._checkIsNetworkAvailable()
        if (!isNetworkAvailable) {
          // display a message to the user to indicate that he/she cannot logs out without an internet connection
          this.isLogoutNetworkError = true
        } else {
          // Check if there are local photos that are not uploaded yet
          if (!uploadServiceInstance?.isUploadJobComplete()) {
            // Some photos are not uploaded yet (either in progress or failed). Display a warning message to the user
            this.isLogoutPhotosNotUploadedError = true
          } else {
            // logout
            this.logout()
          }
        }
      }
    }
  }
}
</script>
