<template>
  <GenericLayout>
    <template #header>
      <Header
        back-button
        :title="pageTitle"
        :badge-content="pageSubTitle"
      />
    </template>
    <template #page-content>
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
        <div
          class="page-subtitle"
          v-if="pageSubTitle"
        >
          {{ pageSubTitle }}
        </div>
      </template>

      <q-card
        v-if="plotNotFound"
        :square="!isDesktopPlatform"
      >
        <q-card-section
          class="text-center"
        >
          <q-item-label
            class="text-subtitle1"
          >
            <translate>
              Plot not found
            </translate>
          </q-item-label>
          <q-btn
            color="primary"
            @click="onClickGoToPlotsPage"
            class="q-mt-md"
          >
            <translate>
              Go to the plots page
            </translate>
          </q-btn>
        </q-card-section>
      </q-card>

      <template v-else>
        <q-card :square="!isDesktopPlatform">
          <PlotMap
            :plot-id="Number(plotId)"
            :map-style="'height: 300px'"
          />
          <q-card-section class="q-gutter-y-sm">
            <PlotInformation
              :plot="plot"
              :loading="loading"
              @on-rename-plot="onRenamePlot"
            />
          </q-card-section>
        </q-card>

        <template v-if="plotPlantVarietyCanBeDisplayed">
          <div
            class="text-subtitle1 text-dark q-mb-sm q-mt-lg"
            :class="{'page-default-padding-x': !isDesktopPlatform}"
          >
            <translate>Crop</translate>
          </div>
          <PlotCropsCard
            :plot-id="Number(plotId)"
          />
        </template>

        <div
          class="text-subtitle1 text-dark q-mb-sm q-mt-lg"
          :class="{'page-default-padding-x': !isDesktopPlatform}"
        >
          <translate>Constraints</translate>
        </div>
        <PlotConstraintsCard
          :plot-id="Number(plotId)"
        />

        <template v-if="canDisplayGeotaggedPhoto">
          <div
            class="text-subtitle1 text-dark q-mb-sm q-mt-lg"
            :class="{'page-default-padding-x': !isDesktopPlatform}"
          >
            {{ photoSectionTitle }}
          </div>
          <PlotPhotosCard
            :plot-id="Number(plotId)"
          />
        </template>

        <template v-if="canDisplaySoilSiteOrSoilDerivedObject">
          <div
            class="text-subtitle1 text-dark q-mb-sm q-mt-lg"
            :class="{'page-default-padding-x': !isDesktopPlatform}"
          >
            <translate>Soil</translate>
          </div>
          <PlotSoilGroupCard
            :plot-id="Number(plotId)"
          />
        </template>

        <div
          class="text-subtitle1 text-dark q-mb-sm q-mt-lg"
          :class="{'page-default-padding-x': !isDesktopPlatform}"
        >
          <translate>Fertilization plans</translate>
        </div>
        <PlotFertilizationPlansCard
          :plot-id="Number(plotId)"
        />

        <template v-if="canDisplayNitrogenLimitation">
          <div
            class="text-subtitle1 text-dark q-mb-sm q-mt-lg"
            :class="{'page-default-padding-x': !isDesktopPlatform}"
          >
            <translate>Nitrogen limitations</translate>
          </div>
          <PlotNitrogenLimitationsCard
            :plot-id="Number(plotId)"
          />
        </template>

        <div
          class="row justify-end q-mt-lg"
          v-if="plotCanBeDeleted"
        >
          <q-btn
            flat
            text-color="red"
            :disable="!plot"
            :loading="deleting"
            @click="onClickDelete"
          >
            <translate translate-comment="Remove this plot of agricultural land">
              Remove this plot
            </translate>
          </q-btn>
        </div>
      </template>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import PlotMap from 'src/pages/holding-campaign/plot/components/PlotMap'
import PlotInformation from 'src/pages/holding-campaign/plot/components/PlotInformation'
import PlotCropsCard from 'src/pages/holding-campaign/plot/components/PlotCropsCard'
import PlotConstraintsCard from 'src/pages/holding-campaign/plot/components/PlotConstraintsCard'
import PlotSoilGroupCard from 'src/pages/holding-campaign/plot/components/PlotSoilGroupCard'
import PlotFertilizationPlansCard from 'src/pages/holding-campaign/plot/components/PlotFertilizationPlansCard'
import PlotPhotosCard from 'src/pages/holding-campaign/plot/components/PlotPhotosCard'
import PlotNitrogenLimitationsCard from 'src/pages/holding-campaign/plot/components/PlotNitrogenLimitationsCard'
import queryPlotByPk from 'src/pages/holding-campaign/plot/graphql/queryPlotByPk'
import mutationDeletePlot from 'src/pages/holding-campaign/plot/graphql/mutationDeletePlot'
import mutationUpdatePlot from 'src/pages/holding-campaign/plot/graphql/mutationUpdatePlot'
import featureFlags from 'src/services/feature-flags'

export default {
  name: 'PlotPage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    PlotMap,
    PlotCropsCard,
    PlotConstraintsCard,
    PlotSoilGroupCard,
    PlotFertilizationPlansCard,
    PlotPhotosCard,
    PlotInformation,
    PlotNitrogenLimitationsCard
  },
  data () {
    return {
      deleting: false
    }
  },
  computed: {
    pageTitle () {
      return this.plotName
    },
    pageSubTitle () {
      return this.$store.state.fastplatform.holdingCampaign.campaign.name
    },
    loading () {
      return !this.plot && this.$apollo.queries.plot.loading
    },
    plotId () {
      return this.$route.params.idPlot
    },
    plotName () {
      return this.plot?.name || '...'
    },
    plotNotFound () {
      return !this.loading && this.plot === null
    },
    photoSectionTitle () {
      return this.$gettext('Photos')
    },
    plotPlantVarietyCanBeDisplayed () {
      return featureFlags.plotPlantVarietyCanBeDisplayed()
    },
    canDisplayGeotaggedPhoto () {
      return featureFlags.canDisplayGeotaggedPhoto()
    },
    canDisplayNitrogenLimitation () {
      return featureFlags.canDisplayNitrogenLimitation()
    },
    plotCanBeDeleted () {
      return featureFlags.plotCanBeDeleted()
    },
    canDisplaySoilSiteOrSoilDerivedObject () {
      return featureFlags.canDisplaySoilSite() || featureFlags.canDisplaySoilDerivedObject()
    }
  },
  apollo: {
    plot: {
      query: queryPlotByPk,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          plotId: this.plotId
        }
      }
    }
  },
  methods: {
    onClickDelete () {
      this.$q.dialog({
        title: this.$gettext('Delete'),
        message: this.$gettextInterpolate(this.$gettext('Are you sure you want to remove this plot (%{plotName}) ?'), { plotName: this.plot.name }),
        cancel: true,
        color: 'red'
      }).onOk(async () => {
        this.deleting = true
        try {
          await this.$apollo.mutate({
            mutation: mutationDeletePlot,
            variables: {
              plot_id: this.plot.id
            }
          })
          this.$q.notify({
            message: this.$gettext('The plot was successfully removed.'),
            color: 'green'
          })
        } catch (e) {
          this.$q.notify({
            message: this.$gettext('There was an error while removing the plot.'),
            color: 'red'
          })
        } finally {
          this.deleting = false
          this.$router.back()
        }
      })
    },
    onRenamePlot (newPlotName) {
      this.$apollo.mutate({
        mutation: mutationUpdatePlot,
        variables: {
          plot_id: this.plotId,
          name: newPlotName
        },
        refetchQueries: ['plot']
      }).then(() => {
        this.$q.notify({
          message: this.$gettext('The plot was successfully updated'),
          color: 'positive'
        })
      }).catch(() => {
        this.$q.notify({
          message: this.$gettext('There was an error while updating the plot'),
          color: 'negative'
        })
      })
    },
    onClickGoToPlotsPage () {
      this.$router.push({ name: 'plots' })
    }
  }
}
</script>
