<template>
  <GenericLayout>
    <template #header>
      <Header
        back-button
        :title="pageTitle"
        :badge-content="pageSubTitle"
      />
    </template>

    <template #page-content>
      <template v-if="isDesktopPlatform">
        <div
          class="page-title"
          v-if="pageTitle"
        >
          {{ pageTitle }}
        </div>
        <div
          class="page-subtitle"
          v-if="pageSubTitle"
        >
          {{ pageSubTitle }}
        </div>
      </template>

      <BaseMap
        :style="mapStyle"
        :zoom="15"
        :center="centroidLatLng"
        :overlays-config="mapOverlays"
      />

      <q-banner class="bg-accent text-white q-mt-sm">
        <translate>
          Select one of the agricultural plots (in magenta) on the map then click on ADD TO THE CURRENT CAMPAIGN.
        </translate>
        <template #action>
          <q-btn
            flat
            color="white"
            :label="$gettext('Cancel')"
            @click="onCancel"
          />
        </template>
      </q-banner>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import BaseMap from 'src/components/BaseMap'
import { getDefaultOverlayLayersConfig, getHoldingCampaignPlotsLayer } from 'src/services/map/layers/layer-configs'

export default {
  name: 'PlotAddPage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    BaseMap
  },
  computed: {
    pageTitle () {
      return this.$store.state.fastplatform.holdingCampaign.holding.name
    },
    pageSubTitle () {
      return this.$store.state.fastplatform.holdingCampaign.campaign.name
    },
    mapOverlays () {
      const options = {
        displayProtectedSiteNatura2000: false,
        displayRegulationZoneNVZ: false,
        displayHydrographySurfaceWater: false,
        displayHydrographyWaterCourse: false,
        displaySoilPublicSamples: false,
        displayAgriculturalPlots: true
      }
      const overlays = getDefaultOverlayLayersConfig(options)
      overlays.push(getHoldingCampaignPlotsLayer(true, { siteId: this.siteId }))
      return overlays
    },
    mapStyle () {
      const mapHeight = this.isDesktopPlatform ? '500px' : '450px'
      return `height: ${mapHeight}`
    },
    centroid () {
      if (this.$store.state.fastplatform.holdingCampaign.centroid) {
        return this.$store.state.fastplatform.holdingCampaign.centroid
      } else {
        return null
      }
    },
    centroidLatLng () {
      if (this.centroid) {
        return [this.centroid.coordinates[1], this.centroid.coordinates[0]]
      } else {
        return null
      }
    }
  },
  methods: {
    onCancel () {
      this.$router.back()
    }
  }
}
</script>
