<template>
  <GenericLayout>
    <template #header>
      <Header
        :title="pageTitle"
        fastplatform-logo
      />
    </template>
    <template #page-content>
      <div>
        <div
          class="page-title"
          v-if="isDesktopPlatform"
        >
          {{ pageTitle }}
        </div>

        <div class="q-gutter-y-lg">
          <WeatherCard />

          <NewSatelliteImageCard />

          <MessagingFeedCard />
        </div>
      </div>
    </template>
    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import WeatherCard from 'src/pages/home/feed/weather/WeatherCard'
import NewSatelliteImageCard from 'src/pages/home/feed/satellite-images/NewSatelliteImageCard'
import MessagingFeedCard from 'src/pages/home/feed/messaging/MessagingFeedCard'
import { PlatformMixin } from 'src/mixins/PlatformMixin'

export default {
  name: 'HomePage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    WeatherCard,
    NewSatelliteImageCard,
    MessagingFeedCard
  },
  computed: {
    pageTitle () {
      return this.$gettext('Home')
    }
  }
}
</script>
