<template>
  <GenericLayout>
    <template #header>
      <Header
        :back-button="true"
        :title="pageTitle"
      />
    </template>

    <template
      #page-content
    >
      <div class="full-height column">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
          <div
            class="page-subtitle"
            v-if="pageSubTitle"
          >
            {{ pageSubTitle }}
          </div>
        </template>

        <q-card
          :square="!isDesktopPlatform"
          class="column no-wrap col"
        >
          <q-banner
            class="bg-grey-3 text-grey-8"
          >
            <translate>Select the plot on which the fertilization plan will be computed.</translate>
          </q-banner>

          <q-card-section>
            <q-select
              v-model="selectedTarget"
              :options="selectOptions"
              :disable="isEdition"
              option-label="name"
              filled
              @filter="filterPlots"
              use-input
              input-debounce="200"
              :loading="$apollo.queries.allPlots.loading"
              :label="$gettext('Plot')"
              class="q-mt-md"
            >
              <template #no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    <translate>No results</translate>
                  </q-item-section>
                </q-item>
              </template>
              <template #option="scope">
                <q-item
                  v-bind="scope.itemProps"
                >
                  <q-item-section>
                    <q-item-label>{{ scope.opt.name }}</q-item-label>
                    <q-item-label
                      v-if="scope.opt.plot_plant_varieties.length"
                      caption
                    >
                      {{ displayPlotPlantSpecies(scope.opt) }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
          </q-card-section>

          <!-- buttons -->
          <q-card-section class="q-mt-auto">
            <q-card-actions
              vertical
              align="stretch"
            >
              <q-btn
                color="primary"
                text-color="white"
                :disable="!canContinue"
                @click="onClickNext"
              >
                <translate>Next</translate>
              </q-btn>
              <q-btn
                flat
                color="primary"
                @click="onClickCancel"
              >
                <translate>Cancel</translate>
              </q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </template>

    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>

<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import AlgorithmsMixins from './mixins/AlgorithmsMixins'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import queryPlotsByHoldingCampaignId from 'src/pages/fieldbook/fertilization/algorithms/common/graphql/queryPlotsByHoldingCampaignId'
import algorithms from 'src/services/fieldbook/fertilization/algorithms'
import { getI18nField } from 'src/services/translate'

export default {
  name: 'AlgorithmPlotSelectionPage',
  mixins: [
    PlatformMixin,
    AlgorithmsMixins
  ],
  components: {
    GenericLayout,
    Header,
    Footer
  },
  data () {
    return {
      selectedTarget: this.$store.state.fertilizationPlan.target && Object.keys(this.$store.state.fertilizationPlan.target).length > 0
        ? { ...this.$store.state.fertilizationPlan.target }
        : null,
      allPlots: [],
      filterValue: null
    }
  },
  apollo: {
    allPlots: {
      query: queryPlotsByHoldingCampaignId,
      notifyOnNetworkStatusChange: true,
      variables () {
        return {
          holding_campaign_id: this.$store.state.fastplatform.holdingCampaign.id
        }
      },
      update (data) {
        if (this.selectedTarget === null && this.plotId != null) {
          // look for the plot in the list
          if (data.plot?.length) {
            this.selectedTarget = data.plot.find(plot => plot.id === this.plotId)
          }
        }
        return data.plot
      },
      skip () {
        return this.isEdition || this.isCreationFromPlot
      }
    }
  },
  computed: {
    canContinue () {
      // target is not null (or not empty dict)
      return this.selectedTarget !== null && Object.keys(this.selectedTarget).length > 0
    },
    plotId () {
      const id = this.$route.query?.plotId ?? null
      return id ? Number(id) : null
    },
    isEdition () {
      return this.$store.state.fertilizationPlan.isEdition
    },
    isCreationFromPlot () {
      return this.$store.state.fertilizationPlan.isCreationFromPlot
    },
    pageTitle () {
      return this.$gettext('Plot selection')
    },
    pageSubTitle () {
      return this.$store.state.fertilizationPlan.algorithm.name
    },
    selectOptions () {
      let options = []
      if (!this.isEdition && !this.$apollo.queries.allPlots.loading) {
        options = this.allPlots
      }
      if (this.filterValue) {
        return options.filter(v => v.name?.toLowerCase().indexOf(this.filterValue) > -1 || v.authority_id?.toLowerCase().indexOf(this.filterValue) > -1)
      } else {
        return options
      }
    }
  },
  created () {
    // skip this page if this target is already selected (i.e. if selectedTarget is set)
    if ((this.isEdition || this.isCreationFromPlot) && this.canContinue) {
      this.startAlgorithm()
    }
  },
  methods: {
    displayPlotPlantSpecies (plot) {
      const plantSpecies = []
      if (plot?.plot_plant_varieties?.length) {
        plot.plot_plant_varieties.forEach(plotPlantVariety => {
          if (plotPlantVariety?.plant_variety?.plant_species?.name) {
            const plantSpeciesI18nName = getI18nField(plotPlantVariety.plant_variety.plant_species, 'name')
            plantSpecies.push(plantSpeciesI18nName)
          }
        })
      }
      return plantSpecies.join(', ')
    },
    filterPlots (val, update) {
      update(() => {
        this.filterValue = val.toLowerCase()
      })
    },
    onClickNext () {
      this.startAlgorithm()
    },
    onClickCancel () {
      // else return to the fertilization plans plage
      this.$router.replace({
        name: 'fertilizationPlans'
      })
    },
    startAlgorithm () {
      const target = {
        ...this.selectedTarget,
        plot_plant_variety: this.selectedTarget?.plot_plant_varieties?.[0]
      }
      // reset the parameters if the selected target is not the same as the one in the store
      if (
        this.$store.state.fertilizationPlan.target?.id &&
        this.$store.state.fertilizationPlan.target.id !== target.id
      ) {
        // reset the parameters
        this.$store.commit('fertilizationPlan/deleteParameters')
      }
      // set the target in the store
      this.$store.commit('fertilizationPlan/setTarget', target)

      // send to the algirithm start page
      const algorithm = algorithms[this.$store.state.fertilizationPlan.algorithm.id]
      if (algorithm.startPage) {
        if (this.isEdition || this.isCreationFromPlot) {
          this.$router.replace({ name: algorithm.startPage })
        } else {
          this.$router.push({ name: algorithm.startPage })
        }
      } else {
        console.error('Could not redirect to the algorithm start page for ' + this.$store.state.fertilizationPlan.algorithm.id)
      }
    }
  }
}
</script>
