<template>
  <GenericLayout>
    <template #header>
      <Header
        back-button
        :title="pageTitle"
      />
    </template>
    <template #page-content>
      <div class="q-gutter-y-md">
        <template v-if="isDesktopPlatform">
          <div
            class="page-title"
            v-if="pageTitle"
          >
            {{ pageTitle }}
          </div>
        </template>

        <q-card v-if="loading">
          <q-card-section class="text-center">
            <q-spinner-dots
              size="md"
              color="primary"
            />
          </q-card-section>
        </q-card>

        <q-card
          v-else
          :square="isDesktopPlatform"
        >
          <q-card-section class="q-pt-none">
            <TicketEditForm
              :holdings="holdings"
              :default-holding="defaultHolding"
            />
          </q-card-section>
        </q-card>
      </div>
    </template>
    <template #footer>
      <Footer />
    </template>
  </GenericLayout>
</template>
<script>
import { PlatformMixin } from 'src/mixins/PlatformMixin'
import GenericLayout from 'src/layouts/GenericLayout'
import Header from 'src/components/layouts/Header'
import Footer from 'src/components/layouts/Footer'
import TicketEditForm from 'src/pages/messaging/components/TicketEditForm'
import queryHoldings from './graphql/queryHoldings.gql'

export default {
  name: 'MessageCreationPage',
  mixins: [
    PlatformMixin
  ],
  components: {
    GenericLayout,
    Header,
    Footer,
    TicketEditForm
  },
  data () {
    return {
      holdings: null
    }
  },
  apollo: {
    holdings: {
      query: queryHoldings,
      notifyOnNetworkStatusChange: true,
      update: data => data.holding
    }
  },
  computed: {
    pageTitle () {
      return this.$gettext('New request')
    },
    loading () {
      return !this.holdings && this.$apollo.queries.holdings.loading
    },
    defaultHolding () {
      if (!this.holdings) {
        return null
      } else {
        const userCurrentCampaignHoldingId = this.$store.state.fastplatform.holdingCampaign?.holding?.id
        if (userCurrentCampaignHoldingId) {
          return this.holdings.find(h => h.id === userCurrentCampaignHoldingId)
        } else {
          return null
        }
      }
    }
  }
}
</script>
